In [1]:
# TODO come up wiht good way to compare models!!!!


# TODO Get rid of scaling. 
# TODO talk to marco about consumption.
# TODO make average model the baseline.
# TODO make scoring the parent class. Give only fitting and _func as input. 



# TODO, build some resistance against unseen actions into the thermal model
import sys
sys.path.append("..")
sys.path.append("../MPC")

from ControllerDataManager import ControllerDataManager
from ThermalModel import *
import pandas as pd 
import numpy as np
import pickle
import datetime
import yaml
import pytz
import pprint
import datetime



import matplotlib.pyplot as plt
from xbos import get_client

from sklearn.model_selection import cross_val_score
from sklearn.utils import shuffle

In [2]:
from TempThermalModel import ThermalModel
from AverageThermalModel import ThermalModel as AverageThermalModel
from AverageThermalModel import AverageMPCThermalModel as AverageMPCThermalModel
# from ActionThermalModel import ThermalModel

In [3]:
# TODO instead of hardcoding input. just give it a dictionary it should append. 
def save_thermal_model_data(thermalModel, corresponding_days, params, file_name):
    """saves the whole model to a yaml file.
    RECOMMENDED: PYAML should be installed for prettier config file.
    param: thermalModel : object, thermal model which stores the types of scoring.
    param: corresponding_days: list, the order of data according to the number of days from current day.
    param: params, the past parameters"""
    config_dict = {}
    
    config_dict["Param Order"] = thermalModel._params_order
    config_dict["Params"] = params
    

    # store evaluations and RMSE's.
    config_dict["Evaluations"] = {}
    config_dict["Evaluations"]["Corresponding_Days"] = corresponding_days
    config_dict["Evaluations"]["Baseline"] = thermalModel.baseline_error
    config_dict["Evaluations"]["Model"] = thermalModel.model_error
    config_dict["Evaluations"]["ActionOrder"] = thermalModel.scoreTypeList
    config_dict["Evaluations"]["Better Than Baseline"] = thermalModel.betterThanBaseline

    with open("./thermal_model_" + file_name, 'wb') as ymlfile:
        # TODO Note import pyaml here to get a pretty config file.
        try:
            import pyaml
            pyaml.dump(config_dict, ymlfile)
        except ImportError:
            yaml.dump(config_dict, ymlfile)
            
days = sorted(4 * list(range(1, 101, 5)))
# TODO change file name
# save_thermal_model_data(thermalModel, days, params, "Animal_shelter" + "_average_adding.yml")

In [4]:
# CONSISTANCY CHECKS

def apply_consistency_check_to_data(data, thermal_model=None, thermal_model_class=None):
    """
    :param data: Only used for fitting the thermal model."""
    assert not (thermal_model is None and thermal_model_class is None)
    
    # evaluate actions. On same temperatures, heating should increase, cooling decrease, and no action should be no different
    if thermal_model is None:
        thermalModel = thermal_model_class()
        thermalModel.fit(data, data["t_next"])
    else:
        thermalModel = thermal_model
    
    def prepare_consistency_test_data(thermal_model, start_temperature=50, end_temperature=100, increments=5):
        filter_columns = thermal_model._filter_columns
        data = []
        for temperature in range(start_temperature, end_temperature+increments, increments):
            # TODO potentially not hardcode dt
                for dt in range(5,20, 5):
                     for action in range(0, 3):
                        datapoint = {"dt": dt, "a1": int(0 < action <= 1), "a2": int(1 < action <= 2),
                             "t_out": temperature, "t_in": temperature}
                        for col in filter_columns:
                            if "zone_temperature_" in col:
                                datapoint[col] = temperature
                        data.append(datapoint)
        return pd.DataFrame(data)

    consistancy_test_data = prepare_consistency_test_data(thermalModel)
    consistancy_test_data["prediction"] = thermalModel.predict(consistancy_test_data, should_round=False)

    def consistency_check(df):
        """Consistency check for a df with 3 entries. The datapoints can only differ in the action to meaningful.
        :param df: pd.df columns as given by ControllerDataManger plus a column with the predctions"""
        t_in = df['t_in'].values[0]
        dt = df["dt"].values[0]
        heating_temperature = df[df['a1'] == 1]["prediction"].values
        cooling_temperature = df[df['a2'] == 1]["prediction"].values
        no_action_temperature = df[(df['a2'] != 1) & (df['a1'] != 1)]["prediction"].values
        consistency_flag = True
        
        # TODO only use this check when t_out and zone temperature are the same as t_in
        # Following checks with t_in are only possible when everything has the same temperature
        # check if predicted heating temperature is higher than current
        if heating_temperature <= t_in:
            consistency_flag = False
            print("Warning, heating_temperature is lower than t_in.")
        if cooling_temperature >= t_in:
            consistency_flag = False
            print("Warning, cooling_temperature is higher than t_in.")
        
        
        # check that heating is more than no action and cooling
        if heating_temperature <= no_action_temperature or heating_temperature <= cooling_temperature:
            consistency_flag = False
            print("Warning, heating_temperature is too low compared to other actions.")
        # check cooling is lower than heating and no action
        if cooling_temperature >= no_action_temperature or cooling_temperature >= heating_temperature:
            consistency_flag = False
            print("Warning, cooling_temperature is too high compared to other actions.")
        # check if no action is between cooling and heating
        if not cooling_temperature < no_action_temperature < heating_temperature:
            consistency_flag = False
            print("Warning, no action is not inbetween heating temperature and cooling temperature.")
        
        # want to know for what data it didn't work
        if not consistency_flag:
            print("Inconsistency for following data:")
            print(df)
            print("")
        return consistency_flag



    consistentcy_results = consistancy_test_data.groupby(["t_in", "dt"]).apply(lambda df: consistency_check(df))
    is_zone_consistent = all(consistentcy_results.values)
    if is_zone_consistent:
        print("The thermal model is consistent.")
    else:
        print("The thermal model is inconsistent.")


def check_consistency_building(thermal_data, thermal_model=None, thermal_model_class=None):
    assert not (thermal_model is None and thermal_model_class is None)
    for zone, data in thermal_data.items():
        print("--------- Consistency check for zone %s ---------" % zone)
        apply_consistency_check_to_data(data, thermal_model=thermal_model, thermal_model_class=thermal_model_class)

In [5]:
# TODO give each function a thermal model param so we can input the class/module.
def get_zone_scores(zone_data, test_on_training=True, thermal_model=None, thermal_model_class=None):
    assert not (thermal_model is None and thermal_model_class is None)
    if thermal_model is None:

        thermalModel = thermal_model_class()
        # ===== Use cross eval

    #         thermalModel = ThermalModel()
    #         print(cross_val_score(thermalModel, zone_data, zone_data['t_next']))

        # ===== end cross eval

        # ===== Use when not using cross eval function.
        if not test_on_training:
            PERCENT_TRAINING = 0.8
            PERCENT_TEST = 1  - PERCENT_TRAINING
        else:
            PERCENT_TRAINING = PERCENT_TEST = 1

        NUM_DATA = zone_data.shape[0]

        # NOTE: TAKING DATA AS GIVEN. NEED TO SHUFFLE OUTSIDE TO GET DIFFERENT RESULTS.
        training_data = zone_data.iloc[:int(NUM_DATA * PERCENT_TRAINING)]
        test_data = zone_data.iloc[-int(NUM_DATA * PERCENT_TEST):]

        thermalModel.fit(training_data, training_data['t_next'])
        
    else:
        thermalModel = thermal_model
        test_data = zone_data
    
    for score_action in range(-1, 3):
        thermalModel.score(test_data, test_data['t_next'], scoreType=score_action)

    # ==== end ====

    pprint.pprint("ScoreType List: ")
    pprint.pprint(thermalModel.scoreTypeList)
    print("")

    pprint.pprint("Better than baseline: ")
    pprint.pprint(thermalModel.betterThanBaseline)
    print("")
    
    
    
#     idx = pd.MultiIndex.from_product([['Model', 'Basline'],
#                                   thermalModel.scoreTypeList],
#                                  names=['Model Type', 'Action Eval'])
    
    df_model_error = pd.DataFrame(thermalModel.model_error, index=thermalModel.scoreTypeList)
    df_baseline_error = pd.DataFrame(thermalModel.baseline_error, index=thermalModel.scoreTypeList)

    
    df_model_baseline_error = pd.concat([df_model_error, df_baseline_error], axis=0, keys=["Model","Baseline"])
    print("Model and Baseline Error:")
    print(df_model_baseline_error)
    print("")
    
#     pprint.pprint("Model Error: ")
#     pprint.pprint(thermalModel.model_error)
#     print("")

#     pprint.pprint("Baseline Error: ")
#     pprint.pprint(thermalModel.baseline_error)
#     print("")


#         save_thermal_model_data(thermalModel, [45], thermalModel._params, "avenal-animal-shelter" + "_cross_eval_" + "_average_all.yml")
#         print(thermalModel.past_coeff)


def get_building_scores(thermal_data, test_on_training=False, thermal_model=None, thermal_model_class=None):
    for zone, zone_data in thermal_data.items():
        print("--------- Scoring Zone: %s ---------" % zone)
        get_zone_scores(zone_data, test_on_training=test_on_training, thermal_model_class=thermal_model_class, thermal_model=thermal_model)
        # Find best number of days to get for good thermalModel performance
        # TODO Right now only doing it for 50 days really

In [24]:
def zone_evaluate_action(zone_data):
    """Find the mean increase in temperature for each action for the given zone data"""
    def get_delta_mean(action_data):
        # get the mean change of temperature from now to next.    
        return np.mean((action_data["t_next"] - action_data["t_in"])/action_data["dt"])
    
    cooling_data = zone_data[zone_data["a2"] == 1]
    heating_data = zone_data[zone_data["a1"] == 1]
    no_action_data = zone_data[(zone_data["a1"] == 0) & (zone_data["a2"] == 0)]
    
    mean_cooling_delta = get_delta_mean(cooling_data)
    mean_heating_delta = get_delta_mean(heating_data)
    mean_no_action_delta = get_delta_mean(no_action_data)
    mean_all_action_delta = get_delta_mean(zone_data)
    
    print("For cooling there was an average %s degree change." % str(mean_cooling_delta))
    print("For heating there was an average %s degree change." % str(mean_heating_delta))
    print("For no action there was an average %s degree change." % str(mean_no_action_delta))
    print("For all actions there was an average %s degree change." % str(mean_all_action_delta))
    


# do data evaluation
def evaluate_action_impact(cfg=None, building=None, thermal_data=None):
    # Make sure we have either a config file to get the name or a building.
    for zone, data in thermal_data.items():
        print("----------- Get averages for zone: %s -----------" % zone)
        zone_evaluate_action(data)

In [7]:
# Look at a specific file
def get_data(building=None, cfg=None, days_back=50, evaluate_preprocess=False):
    assert cfg is not None or building is not None    
    if cfg is not None:
        building = cfg["Building"]
    else:
        try:
            with open("../Buildings/"+building+"/"+building+".yml", "r") as f:
                cfg = yaml.load(f)
        except:
            print("ERROR: No config file for building %s" % building)
            return

    print("----- Get data for Building: %s -----" % building)
    
    if evaluate_preprocess:
        path = "./Eval_data/"+building+"_eval"
    else:
        path = "./Eval_data/"+building
        
#     For raw data
#     c = get_client()
#     dataManager = ControllerDataManager(cfg, c)
#     return dataManager._get_inside_data(dataManager.now - datetime.timedelta(days=50), dataManager.now)
        
    # TODO ugly try/except   
    try:
        with open(path, "r") as f:
            import pickle
            thermal_data = pickle.load(f)
    except:
        c = get_client()
        dataManager = ControllerDataManager(cfg, c)
        thermal_data = dataManager.thermal_data(days_back=days_back, evaluate_preprocess=evaluate_preprocess)
        with open(path, "wb") as f:
            import pickle
            pickle.dump(thermal_data, f)
    return thermal_data

def concat_zone_data(thermal_data):
    """Concatinates all zone data into one big dataframe. Will sort by index. Get rid of all zone_temperature columns.
    :param thermal_data: {zone: pd.df}
    :return pd.df without zone_temperature columns"""
    concat_data =  pd.concat(thermal_data.values()).sort_index()
    filter_columns = ["zone_temperature" not in col for col in concat_data.columns]
    return concat_data[concat_data.columns[filter_columns]]

In [76]:
def apply_temperature_change(df):
    no_change_data = df[df["t_next"] == df["t_in"]]
    increase_data = df[df["t_next"] > df["t_in"]]
    decrease_data = df[df["t_next"] < df["t_in"]]
    to_return = {"total": df.shape[0],
                "total_no_change": no_change_data.shape[0],
                "percent_no_change": 100 * no_change_data.shape[0]/float(df.shape[0]),
                "total_increase": increase_data.shape[0],
                "percent_increase": 100 * increase_data.shape[0]/float(df.shape[0]),
                "total_decrease": decrease_data.shape[0],
                "percent_decrease": 100 * decrease_data.shape[0]/float(df.shape[0])}
    return pd.Series(to_return)

def no_temperature_change_interval(df):
    def no_temp_change_for_action(a_df):
        no_change = a_df[a_df["t_min"] == a_df["t_max"]]
        return pd.Series({"total": a_df.shape[0], "percent_no_change": 100 * no_change.shape[0]/float(a_df.shape[0])})
    return df.groupby("action").apply(no_temp_change_for_action)



def evaluate_zone_data(data, is_building=False):
    """Does basic data evaluation.
    :param data: (pd.df) data for one zone. columns: (t_in, t_next, t_out, a1, a2, zone_temperature+zones* )"""
    # Filter for action data
    no_action_data = data[(data["a1"]==0) & (data["a2"]==0)]
    heating_data = data[data["a1"] == 1]
    cooling_data = data[data["a2"] == 1]
    
    # ====== Number and percentage of individual action data ========
    print("------------------")
    num_data = data.shape[0]
    num_no_action_data = no_action_data.shape[0]
    num_heating_data = heating_data.shape[0]
    num_cooling_data = cooling_data.shape[0]
    
    print("We have %f total data points." % num_data)
    
    print("We have %f no action data points, which is %f percent of total." % (num_no_action_data, 100 * float(num_no_action_data)/num_data))
    
    print("We have %f heating data points, which is %f percent of total." % (num_heating_data, 100 * float(num_heating_data)/num_data))

    print("We have %f cooling data points, which is %f percent of total." % (num_cooling_data, 100 * float(num_cooling_data)/num_data))
    # ========= end ==========
    
    print("------------------")
    
    # ========= Find temperature change by action ========
    no_action_change = apply_temperature_change(no_action_data)
    heating_change = apply_temperature_change(heating_data)
    cooling_change = apply_temperature_change(cooling_data)
    
    print("No action temperature changes:")
    print(no_action_change)
    print("")
    
    print("Heating temperature changes:")
    print(heating_change)
    print("")
    
    print("Cooling temperature changes:")
    print(cooling_change)
    print("")
    
    # ======== end =======
    
    # Group all data by dt and find no action change. 
    def group_dt_and_action(to_group_data):
        """Group the data by the interval lengths and whether temperature increased, dropped or stayed the same."""
        return to_group_data.groupby(by=["dt"]).apply(apply_temperature_change)
    
    no_action_dt_change = group_dt_and_action(no_action_data)
    heating_dt_change = group_dt_and_action(heating_data)
    cooling_dt_chage = group_dt_and_action(cooling_data)
    
    print("No Action, Action Change data:")
    print(no_action_dt_change)
    print("")
    
    print("Heating, Action Change data:")
    print(heating_dt_change)
    print("")
    
    print("Cooling, Action Change data:")
    print(cooling_dt_chage)
    print("")
    
    # ====== end =======
    
    if not is_building:
        # ====== Find actions which are not integers and stand by themselves
        print("===== Find non interger actions with no action pre/suceeding")
        for i in range(1,len(data.index)-1):
            curr = data["action"][i]
            prev = data["action"][i-1]
            next_a = data["action"][i+1]
            if curr not in [0,1,2] and prev == 0 and next_a == 0:
                print("========")
                print("Action is by itself with action %f for data:" % curr)
                print(data.iloc[i-2:i+2])

        # ====== end =======
    
    # ======= Find intervals where there was no change in temperature throughout the interval =======
    
    data.groupby("dt").apply(no_temperature_change_interval)

In [77]:
bldg = "avenal-veterans-hall"
zone_thermal_data = get_data(building=bldg, days_back=50, evaluate_preprocess=True)
building_thermal_data = concat_zone_data(zone_thermal_data)
# building_thermal_data = building_thermal_data[building_thermal_data["dt"]>2]

evaluate_zone_data(building_thermal_data)

# d = building_thermal_data[(building_thermal_data["a2"]==1) & (building_thermal_data["t_in"] == building_thermal_data["t_next"])]
# print(d[["t_min", "t_max", "dt", "action"]])

# avg_thermal_model = AverageThermalModel().fit(building_thermal_data, building_thermal_data["t_next"])
# avg_thermal_model.predict(building_thermal_data)
# get_building_scores(thermal_data=zone_thermal_data, thermal_model = avg_thermal_model)
# s_a_thermal_model = SuperAverageThermalModel()
# s_a_thermal_model.fit(thermal_data)
# s_a_thermal_model._params
# get_building_scores(thermal_data=thermal_data, thermal_model=s_a_thermal_model)

----- Get data for Building: avenal-veterans-hall -----
------------------
We have 37090.000000 total data points.
We have 31020.000000 no action data points, which is 83.634403 percent of total.
We have 716.000000 heating data points, which is 1.930439 percent of total.
We have 5354.000000 cooling data points, which is 14.435158 percent of total.
------------------
No action temperature changes:
percent_decrease        24.023211
percent_increase        44.081238
percent_no_change       31.895551
total                31020.000000
total_decrease        7452.000000
total_increase       13674.000000
total_no_change       9894.000000
dtype: float64

Heating temperature changes:
percent_decrease       0.418994
percent_increase      14.804469
percent_no_change     84.776536
total                716.000000
total_decrease         3.000000
total_increase       106.000000
total_no_change      607.000000
dtype: float64

Cooling temperature changes:
percent_decrease       74.075458
percent_increase       16.791184
percent_no_change       9.133358
total                5354.000000
total_decrease       3966.000000
total_increase        899.000000
total_no_change       489.000000
dtype: float64

No Action, Action Change data:
    percent_decrease  percent_increase  percent_no_change    total  \
dt
1           0.000000          0.000000         100.000000   5810.0
2           5.555556         36.363636          58.080808    198.0
3          12.313433         65.671642          22.014925    268.0
4          14.675768         72.354949          12.969283    293.0
5           9.722222         83.333333           6.944444    288.0
6           9.124088         87.956204           2.919708    274.0
7          14.624506         79.841897           5.533597    253.0
8          16.888889         79.111111           4.000000    225.0
9          21.338912         74.058577           4.602510    239.0
10         17.703349         77.990431           4.306220    209.0
11         11.504425         84.070796           4.424779    226.0
12         10.555556         86.666667           2.777778    180.0
13         10.204082         85.714286           4.081633    196.0
14         25.230769         68.000000           6.769231    325.0
15         31.775277         51.179887          17.044836  22036.0

    total_decrease  total_increase  total_no_change
dt
1              0.0             0.0           5810.0
2             11.0            72.0            115.0
3             33.0           176.0             59.0
4             43.0           212.0             38.0
5             28.0           240.0             20.0
6             25.0           241.0              8.0
7             37.0           202.0             14.0
8             38.0           178.0              9.0
9             51.0           177.0             11.0
10            37.0           163.0              9.0
11            26.0           190.0             10.0
12            19.0           156.0              5.0
13            20.0           168.0              8.0
14            82.0           221.0             22.0
15          7002.0         11278.0           3756.0

Heating, Action Change data:
    percent_decrease  percent_increase  percent_no_change  total  \
dt
1                0.0          0.000000         100.000000  598.0
2               12.5         50.000000          37.500000    8.0
3                0.0         66.666667          33.333333    3.0
4               12.5         50.000000          37.500000    8.0
5                0.0        100.000000           0.000000    4.0
6                0.0         75.000000          25.000000    8.0
7                0.0        100.000000           0.000000    8.0
8               50.0         50.000000           0.000000    2.0
10               0.0        100.000000           0.000000    1.0
11               0.0        100.000000           0.000000    1.0
12               0.0        100.000000           0.000000    4.0
13               0.0        100.000000           0.000000    3.0
14               0.0        100.000000           0.000000    4.0
15               0.0        100.000000           0.000000   64.0

    total_decrease  total_increase  total_no_change
dt
1              0.0             0.0            598.0
2              1.0             4.0              3.0
3              0.0             2.0              1.0
4              1.0             4.0              3.0
5              0.0             4.0              0.0
6              0.0             6.0              2.0
7              0.0             8.0              0.0
8              1.0             1.0              0.0
10             0.0             1.0              0.0
11             0.0             1.0              0.0
12             0.0             4.0              0.0
13             0.0             3.0              0.0
14             0.0             4.0              0.0
15             0.0            64.0              0.0

Cooling, Action Change data:
    percent_decrease  percent_increase  percent_no_change   total  \
dt
1           0.000000          0.000000         100.000000   169.0
2          41.558442         12.554113          45.887446   231.0
3          61.052632         17.192982          21.754386   285.0
4          78.640777         13.592233           7.766990   309.0
5          76.401869         23.130841           0.467290   428.0
6          77.931034         20.459770           1.609195   435.0
7          69.754768         28.882834           1.362398   367.0
8          66.283525         30.268199           3.448276   261.0
9          69.747899         23.109244           7.142857   238.0
10         68.823529         20.588235          10.588235   170.0
11         69.369369         17.117117          13.513514   111.0
12         80.487805         14.634146           4.878049    82.0
13         86.440678          6.779661           6.779661    59.0
14         89.240506          8.860759           1.898734   158.0
15         84.836665         13.018040           2.145295  2051.0

    total_decrease  total_increase  total_no_change
dt
1              0.0             0.0            169.0
2             96.0            29.0            106.0
3            174.0            49.0             62.0
4            243.0            42.0             24.0
5            327.0            99.0              2.0
6            339.0            89.0              7.0
7            256.0           106.0              5.0
8            173.0            79.0              9.0
9            166.0            55.0             17.0
10           117.0            35.0             18.0
11            77.0            19.0             15.0
12            66.0            12.0              4.0
13            51.0             4.0              4.0
14           141.0            14.0              3.0
15          1740.0           267.0             44.0

===== Find non interger actions with no action pre/suceeding
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 16:06:14-07:00   0   0  0.000000  15  71.600000  71.900000
2018-05-07 16:06:14-07:00   0   0  0.000000  14  74.000000  74.400000
2018-05-07 16:08:14-07:00   0   0  0.333333   1  67.116667  67.116667
2018-05-07 16:09:14-07:00   0   0  0.000000   3  67.100000  67.600000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 16:06:14-07:00  71.720202  71.600000  71.900000  83.499803
2018-05-07 16:06:14-07:00  73.990476  73.900000  74.400000  83.499803
2018-05-07 16:08:14-07:00  67.116667  67.116667  67.116667  83.499803
2018-05-07 16:09:14-07:00  67.322222  67.100000  67.600000  83.499803

                              t_std
time
2018-05-07 16:06:14-07:00  0.118988
2018-05-07 16:06:14-07:00  0.131190
2018-05-07 16:08:14-07:00  0.000000
2018-05-07 16:09:14-07:00  0.207870
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-07 16:36:14-07:00   0   0  0.000000  15  72.1   72.1  72.073333
2018-05-07 16:42:14-07:00   0   0  0.000000  15  72.1   72.2  71.960444
2018-05-07 16:43:14-07:00   0   0  0.666667   1  67.2   67.2  67.200000
2018-05-07 16:44:14-07:00   0   0  0.000000   3  67.2   67.2  67.200000

                           t_min  t_next      t_out     t_std
time
2018-05-07 16:36:14-07:00   71.9    72.1  84.330135  0.057349
2018-05-07 16:42:14-07:00   71.8    72.2  84.198162  0.139022
2018-05-07 16:43:14-07:00   67.2    67.2  84.330135  0.000000
2018-05-07 16:44:14-07:00   67.2    67.2  84.330135  0.000000

========
Action is by itself with action 0.833333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 16:51:14-07:00   0   0  0.000000  15  72.158333  72.300000
2018-05-07 16:51:14-07:00   0   0  0.000000  15  72.000000  72.100000
2018-05-07 16:54:14-07:00   0   0  0.833333   1  74.245455  74.245455
2018-05-07 16:55:14-07:00   0   0  0.000000  13  74.083333  74.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 16:51:14-07:00  72.233333  72.158333  72.200000  84.000203
2018-05-07 16:51:14-07:00  72.093333  72.000000  72.100000  84.000203
2018-05-07 16:54:14-07:00  74.245455  74.245455  74.245455  84.000203
2018-05-07 16:55:14-07:00  74.007051  73.900000  74.400000  84.000203

                              t_std
time
2018-05-07 16:51:14-07:00  0.048400
2018-05-07 16:51:14-07:00  0.024944
2018-05-07 16:54:14-07:00  0.000000
2018-05-07 16:55:14-07:00  0.133567
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-07 17:36:14-07:00   0   0  0.000000  15  72.450000   72.6  72.485556
2018-05-07 17:36:14-07:00   0   0  0.000000  15  72.200000   72.2  72.200000
2018-05-07 17:37:14-07:00   0   0  0.666667   1  72.300000   72.3  72.300000
2018-05-07 17:38:14-07:00   0   0  0.000000  15  72.063636   72.3  72.070909

                           t_min  t_next      t_out         t_std
time
2018-05-07 17:36:14-07:00   72.3    72.3  84.666126  1.112000e-01
2018-05-07 17:36:14-07:00   72.2    72.2  84.666126  1.421085e-14
2018-05-07 17:37:14-07:00   72.3    72.3  84.666126  0.000000e+00
2018-05-07 17:38:14-07:00   71.9    72.3  84.710535  1.480153e-01
========
Action is by itself with action 1.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 17:37:14-07:00   0   0  0.666667   1  72.300000  72.300000
2018-05-07 17:38:14-07:00   0   0  0.000000  15  72.063636  72.300000
2018-05-07 17:41:14-07:00   0   0  1.166667   1  74.216667  74.216667
2018-05-07 17:42:14-07:00   0   0  0.000000  12  74.058333  74.058333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 17:37:14-07:00  72.300000  72.300000  72.300000  84.666126
2018-05-07 17:38:14-07:00  72.070909  71.900000  72.300000  84.710535
2018-05-07 17:41:14-07:00  74.216667  74.216667  74.216667  84.666126
2018-05-07 17:42:14-07:00  73.954861  73.900000  74.000000  84.749392

                              t_std
time
2018-05-07 17:37:14-07:00  0.000000
2018-05-07 17:38:14-07:00  0.148015
2018-05-07 17:41:14-07:00  0.000000
2018-05-07 17:42:14-07:00  0.053301
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 18:28:14-07:00   0   0  0.333333   1  74.133333  74.133333
2018-05-07 18:29:14-07:00   0   0  0.000000  12  73.966667  74.100000
2018-05-07 18:32:14-07:00   0   0  0.666667   1  72.300000  72.300000
2018-05-07 18:33:14-07:00   0   0  0.000000  15  72.000000  72.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 18:28:14-07:00  74.133333  74.133333  74.133333  84.000203
2018-05-07 18:29:14-07:00  73.948737  73.700000  74.100000  83.859897
2018-05-07 18:32:14-07:00  72.300000  72.300000  72.300000  84.000203
2018-05-07 18:33:14-07:00  71.975556  71.800000  72.300000  83.730815

                              t_std
time
2018-05-07 18:28:14-07:00  0.000000
2018-05-07 18:29:14-07:00  0.124590
2018-05-07 18:32:14-07:00  0.000000
2018-05-07 18:33:14-07:00  0.158332
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 18:51:14-07:00   0   0  0.000000  15  72.200000  72.400000
2018-05-07 18:51:14-07:00   0   0  0.000000  15  72.600000  72.700000
2018-05-07 18:51:14-07:00   0   0  0.166667   1  74.191667  74.191667
2018-05-07 18:51:14-07:00   0   0  0.000000  15  72.300000  72.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 18:51:14-07:00  72.291768  72.200000  72.400000  84.000203
2018-05-07 18:51:14-07:00  72.677778  72.600000  72.700000  84.000203
2018-05-07 18:51:14-07:00  74.191667  74.191667  74.191667  84.000203
2018-05-07 18:51:14-07:00  72.349545  72.300000  72.500000  84.000203

                              t_std
time
2018-05-07 18:51:14-07:00  0.068824
2018-05-07 18:51:14-07:00  0.039752
2018-05-07 18:51:14-07:00  0.000000
2018-05-07 18:51:14-07:00  0.062059
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 18:52:14-07:00   0   1  2.000000   8  72.500000  72.500000
2018-05-07 18:52:14-07:00   0   0  0.000000  10  74.009091  74.009091
2018-05-07 19:00:14-07:00   0   0  0.727273   1  72.209091  72.209091
2018-05-07 19:01:14-07:00   0   0  0.000000  15  72.066667  72.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 18:52:14-07:00  72.468750  72.400000  72.400000  84.000203
2018-05-07 18:52:14-07:00  73.960909  73.900000  74.000000  84.000203
2018-05-07 19:00:14-07:00  72.209091  72.209091  72.209091  84.000203
2018-05-07 19:01:14-07:00  72.039192  71.900000  72.300000  83.666603

                              t_std
time
2018-05-07 18:52:14-07:00  0.042848
2018-05-07 18:52:14-07:00  0.045119
2018-05-07 19:00:14-07:00  0.000000
2018-05-07 19:01:14-07:00  0.139343
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 19:06:14-07:00   0   0  0.000000  15  72.700000  72.800000
2018-05-07 19:06:14-07:00   0   0  0.000000   7  72.400000  72.500000
2018-05-07 19:12:14-07:00   0   0  0.333333   1  74.266667  74.266667
2018-05-07 19:13:14-07:00   0   0  0.000000  13  74.016667  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 19:06:14-07:00  72.766111  72.700000  72.700000  83.499803
2018-05-07 19:06:14-07:00  72.433766  72.400000  72.500000  83.499803
2018-05-07 19:12:14-07:00  74.266667  74.266667  74.266667  83.499803
2018-05-07 19:13:14-07:00  73.902564  73.700000  74.100000  83.307341

                              t_std
time
2018-05-07 19:06:14-07:00  0.043935
2018-05-07 19:06:14-07:00  0.043656
2018-05-07 19:12:14-07:00  0.000000
2018-05-07 19:13:14-07:00  0.167287
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 19:27:14-07:00   0   0  1.333333   1  72.466667  72.466667
2018-05-07 19:28:14-07:00   0   0  0.000000  15  72.091667  72.300000
2018-05-07 19:34:14-07:00   0   0  0.333333   1  72.500000  72.500000
2018-05-07 19:35:14-07:00   0   0  0.000000  15  74.100000  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 19:27:14-07:00  72.466667  72.466667  72.466667  82.999403
2018-05-07 19:28:14-07:00  72.042556  71.900000  72.300000  82.377274
2018-05-07 19:34:14-07:00  72.500000  72.500000  72.500000  82.999403
2018-05-07 19:35:14-07:00  73.841212  73.600000  74.000000  81.755144

                              t_std
time
2018-05-07 19:27:14-07:00  0.000000
2018-05-07 19:28:14-07:00  0.140178
2018-05-07 19:34:14-07:00  0.000000
2018-05-07 19:35:14-07:00  0.165299
========
Action is by itself with action 0.833333 for data:

                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-07 19:55:14-07:00   0   0  0.000000  15  72.1   72.3  72.020303
2018-05-07 20:00:14-07:00   0   0  0.000000  15  74.2   74.2  73.785000
2018-05-07 20:00:14-07:00   0   0  0.833333   1  67.2   67.2  67.200000
2018-05-07 20:01:14-07:00   0   0  0.000000   4  67.2   67.3  67.225000

                           t_min  t_next      t_out     t_std
time
2018-05-07 19:55:14-07:00   71.9    72.3  82.466119  0.120660
2018-05-07 20:00:14-07:00   73.6    74.0  81.799515  0.187927
2018-05-07 20:00:14-07:00   67.2    67.2  82.999403  0.000000
2018-05-07 20:01:14-07:00   67.2    67.3  82.999403  0.043301
========
Action is by itself with action 0.833333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 20:01:14-07:00   1   0  1.000000   1  72.200000  72.200000
2018-05-07 20:02:14-07:00   0   0  0.000000  15  72.100000  72.300000
2018-05-07 20:05:14-07:00   0   0  0.833333   1  67.783333  67.783333
2018-05-07 20:06:14-07:00   0   0  0.000000  15  72.300000  72.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 20:01:14-07:00  72.200000  72.200000  72.200000  82.999403
2018-05-07 20:02:14-07:00  72.094444  71.900000  72.300000  81.532873
2018-05-07 20:05:14-07:00  67.783333  67.783333  67.783333  82.999403
2018-05-07 20:06:14-07:00  72.368889  72.300000  72.400000  80.999589

                              t_std
time
2018-05-07 20:01:14-07:00  0.000000
2018-05-07 20:02:14-07:00  0.151983
2018-05-07 20:05:14-07:00  0.000000
2018-05-07 20:06:14-07:00  0.044666
========
Action is by itself with action 1.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 20:25:14-07:00   1   0  1.000000   1  74.350000  74.350000
2018-05-07 20:26:14-07:00   0   0  0.000000  15  74.109091  74.109091
2018-05-07 20:28:14-07:00   0   0  1.166667   1  67.316667  67.316667
2018-05-07 20:29:14-07:00   0   0  0.000000   4  67.200000  67.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 20:25:14-07:00  74.350000  74.350000  74.350000  78.999775
2018-05-07 20:26:14-07:00  73.796717  73.700000  74.000000  78.777578
2018-05-07 20:28:14-07:00  67.316667  67.316667  67.316667  78.999775
2018-05-07 20:29:14-07:00  67.325000  67.200000  67.400000  78.999775

                              t_std
time
2018-05-07 20:25:14-07:00  0.000000
2018-05-07 20:26:14-07:00  0.132609
2018-05-07 20:28:14-07:00  0.000000
2018-05-07 20:29:14-07:00  0.082916
========
Action is by itself with action 1.500000 for data:
                           a1  a2  action  dt    t_in      t_max     t_mean  \
time
2018-05-07 20:36:14-07:00   0   0     0.0  15  72.700  72.800000  72.363889
2018-05-07 20:36:14-07:00   0   0     0.0  15  73.000  73.100000  72.855556
2018-05-07 20:39:14-07:00   0   0     1.5   1  67.725  67.725000  67.725000
2018-05-07 20:39:14-07:00   0   0     0.0   8  72.300  72.416667  72.345265

                            t_min     t_next      t_out     t_std
time
2018-05-07 20:36:14-07:00  71.900  72.016667  78.333184  0.377242
2018-05-07 20:36:14-07:00  72.700  72.700000  78.333184  0.137392
2018-05-07 20:39:14-07:00  67.725  67.725000  78.333184  0.000000
2018-05-07 20:39:14-07:00  72.300  72.416667  78.333184  0.049099
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 20:40:14-07:00   0   0  0.000000   4  67.200000  67.200000
2018-05-07 20:41:14-07:00   0   0  0.000000   6  74.000000  74.400000
2018-05-07 20:42:14-07:00   0   0  0.333333   1  72.150000  72.150000
2018-05-07 20:43:14-07:00   0   0  0.000000  15  71.983333  72.266667

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-07 20:40:14-07:00  67.133333  67.10  67.100000  78.333184  0.040825
2018-05-07 20:41:14-07:00  74.169697  74.00  74.400000  78.333184  0.180195
2018-05-07 20:42:14-07:00  72.150000  72.15  72.150000  78.333184  0.000000
2018-05-07 20:43:14-07:00  72.087778  71.90  72.266667  78.644260  0.117924
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 20:54:14-07:00   0   0  0.000000   3  67.100000  67.463636
2018-05-07 20:55:14-07:00   0   0  0.000000  15  72.033333  72.100000
2018-05-07 20:57:14-07:00   0   0  0.727273   1  67.709091  67.709091
2018-05-07 20:58:14-07:00   0   0  0.000000  15  72.300000  72.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 20:54:14-07:00  67.221212  67.100000  67.463636  78.999775
2018-05-07 20:55:14-07:00  71.917677  71.800000  72.100000  72.733139
2018-05-07 20:57:14-07:00  67.709091  67.709091  67.709091  78.999775
2018-05-07 20:58:14-07:00  72.400000  72.300000  72.400000  68.033161

                              t_std
time
2018-05-07 20:54:14-07:00  0.171420
2018-05-07 20:55:14-07:00  0.109993
2018-05-07 20:57:14-07:00  0.000000
2018-05-07 20:58:14-07:00  0.076980
========
Action is by itself with action 0.500000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-07 21:06:14-07:00   0   0     0.0  15  73.100000  73.100000
2018-05-07 21:08:14-07:00   0   0     0.0  12  73.733333  74.500000
2018-05-07 21:08:14-07:00   0   0     0.5   1  67.225000  67.225000
2018-05-07 21:09:14-07:00   0   0     0.0   3  67.200000  67.336364

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 21:06:14-07:00  72.758990  72.600000  72.600000  55.499888
2018-05-07 21:08:14-07:00  74.161806  73.733333  74.500000  55.499888
2018-05-07 21:08:14-07:00  67.225000  67.225000  67.225000  55.499888
2018-05-07 21:09:14-07:00  67.245455  67.200000  67.336364  55.499888

                              t_std
time
2018-05-07 21:06:14-07:00  0.141969
2018-05-07 21:08:14-07:00  0.210061
2018-05-07 21:08:14-07:00  0.000000
2018-05-07 21:09:14-07:00  0.064282
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 21:09:14-07:00   0   0  0.000000   3  67.200000  67.336364
2018-05-07 21:10:14-07:00   0   0  0.000000  12  72.100000  72.433333
2018-05-07 21:12:14-07:00   0   0  1.333333   1  67.766667  67.766667
2018-05-07 21:13:14-07:00   0   0  0.000000  15  72.400000  72.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 21:09:14-07:00  67.245455  67.200000  67.336364  55.499888
2018-05-07 21:10:14-07:00  72.317740  72.100000  72.433333  57.291563
2018-05-07 21:12:14-07:00  67.766667  67.766667  67.766667  55.499888
2018-05-07 21:13:14-07:00  72.357778  72.300000  72.300000  65.533268

                              t_std
time
2018-05-07 21:09:14-07:00  0.064282
2018-05-07 21:10:14-07:00  0.098227
2018-05-07 21:12:14-07:00  0.000000
2018-05-07 21:13:14-07:00  0.047868
========
Action is by itself with action 1.666667 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 21:43:14-07:00   0   0  0.000000  15  72.300000  72.300000
2018-05-07 21:44:14-07:00   0   0  0.000000  15  72.100000  72.400000
2018-05-07 21:46:14-07:00   0   0  1.666667   1  67.533333  67.533333
2018-05-07 21:47:14-07:00   0   0  0.000000   4  67.100000  67.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 21:43:14-07:00  72.230000  72.200000  72.200000  76.820435
2018-05-07 21:44:14-07:00  72.267778  72.100000  72.400000  76.842880
2018-05-07 21:46:14-07:00  67.533333  67.533333  67.533333  76.663326
2018-05-07 21:47:14-07:00  67.100000  67.100000  67.100000  76.663326

                              t_std
time
2018-05-07 21:43:14-07:00  0.043970
2018-05-07 21:44:14-07:00  0.091584
2018-05-07 21:46:14-07:00  0.000000
2018-05-07 21:47:14-07:00  0.000000
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 21:52:14-07:00   0   1  2.000000   6  68.000000  68.000000
2018-05-07 21:56:14-07:00   0   0  0.000000   3  74.400000  74.400000
2018-05-07 21:58:14-07:00   0   0  1.333333   1  67.533333  67.533333
2018-05-07 21:58:14-07:00   0   0  0.000000  15  72.200000  72.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 21:52:14-07:00  67.866667  67.700000  67.700000  76.999989
2018-05-07 21:56:14-07:00  74.400000  74.400000  74.400000  76.999989
2018-05-07 21:58:14-07:00  67.533333  67.533333  67.533333  76.999989
2018-05-07 21:58:14-07:00  72.166667  72.100000  72.200000  66.266472

                              t_std
time
2018-05-07 21:52:14-07:00  0.137437
2018-05-07 21:56:14-07:00  0.000000
2018-05-07 21:58:14-07:00  0.000000
2018-05-07 21:58:14-07:00  0.045134
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-07 21:58:14-07:00   0   0  0.000000  15  72.2   72.2  72.166667
2018-05-07 21:59:14-07:00   0   0  0.000000   4  67.2   67.3  67.254167
2018-05-07 21:59:14-07:00   0   0  0.666667   1  74.5   74.5  74.500000
2018-05-07 21:59:14-07:00   0   0  0.000000   3  72.4   72.5  72.438889

                           t_min  t_next      t_out     t_std
time
2018-05-07 21:58:14-07:00   72.1    72.2  66.266472  0.045134
2018-05-07 21:59:14-07:00   67.2    67.3  76.999989  0.046211
2018-05-07 21:59:14-07:00   74.5    74.5  76.999989  0.000000
2018-05-07 21:59:14-07:00   72.4    72.5  76.999989  0.043744
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 22:08:14-07:00   1   0  1.000000   1  72.300000  72.300000
2018-05-07 22:09:14-07:00   0   0  0.000000  15  72.020000  72.100000
2018-05-07 22:10:14-07:00   0   0  1.666667   1  67.616667  67.616667
2018-05-07 22:11:14-07:00   0   0  0.000000   5  67.200000  67.520000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 22:08:14-07:00  72.300000  72.300000  72.300000  53.999595
2018-05-07 22:09:14-07:00  71.860222  71.800000  72.100000  58.399514
2018-05-07 22:10:14-07:00  67.616667  67.616667  67.616667  53.999595
2018-05-07 22:11:14-07:00  67.317333  67.200000  67.520000  53.999595

                              t_std
time
2018-05-07 22:08:14-07:00  0.000000
2018-05-07 22:09:14-07:00  0.093035
2018-05-07 22:10:14-07:00  0.000000
2018-05-07 22:11:14-07:00  0.124907
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 22:21:14-07:00   0   0  0.000000  15  72.100000  72.100000
2018-05-07 22:21:14-07:00   0   0  0.000000  15  72.200000  72.200000
2018-05-07 22:23:14-07:00   0   0  1.666667   1  67.783333  67.783333
2018-05-07 22:24:14-07:00   0   0  0.000000   6  67.150000  67.466667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 22:21:14-07:00  71.968889  71.900000  72.100000  75.999189
2018-05-07 22:21:14-07:00  72.167778  72.100000  72.200000  75.999189
2018-05-07 22:23:14-07:00  67.783333  67.783333  67.783333  75.999189
2018-05-07 22:24:14-07:00  67.169444  67.100000  67.466667  75.999189

                              t_std
time
2018-05-07 22:21:14-07:00  0.088164
2018-05-07 22:21:14-07:00  0.043234
2018-05-07 22:23:14-07:00  0.000000
2018-05-07 22:24:14-07:00  0.134170
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 22:36:14-07:00   0   0  0.000000  15  72.000000  72.000000
2018-05-07 22:36:14-07:00   0   0  0.000000  15  72.200000  72.200000
2018-05-07 22:38:14-07:00   0   0  0.666667   1  67.333333  67.333333
2018-05-07 22:39:14-07:00   0   0  0.000000   6  67.100000  68.000000

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-07 22:36:14-07:00  71.866667  71.800000  71.900000  75.32946  0.056765
2018-05-07 22:36:14-07:00  72.092222  71.900000  72.100000  75.32946  0.095232
2018-05-07 22:38:14-07:00  67.333333  67.333333  67.333333  75.32946  0.000000
2018-05-07 22:39:14-07:00  67.375000  67.100000  68.000000  75.32946  0.323715
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 23:06:14-07:00   0   0  0.000000  15  71.800000  71.800000
2018-05-07 23:06:14-07:00   0   0  0.000000  15  71.933333  71.933333
2018-05-07 23:07:14-07:00   0   0  1.666667   1  67.516667  67.516667
2018-05-07 23:08:14-07:00   0   0  0.000000   7  67.100000  68.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 23:06:14-07:00  71.679778  71.600000  71.700000  74.999296
2018-05-07 23:06:14-07:00  71.754444  71.700000  71.800000  74.999296
2018-05-07 23:07:14-07:00  67.516667  67.516667  67.516667  74.999296
2018-05-07 23:08:14-07:00  67.340476  67.100000  68.000000  74.999296

                              t_std
time
2018-05-07 23:06:14-07:00  0.060912
2018-05-07 23:06:14-07:00  0.072128
2018-05-07 23:07:14-07:00  0.000000
2018-05-07 23:08:14-07:00  0.290300
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-07 23:36:14-07:00   0   0  0.000000  15  72.200000  72.300000
2018-05-07 23:36:14-07:00   0   0  0.000000  15  71.666667  71.666667
2018-05-07 23:36:14-07:00   0   0  0.333333   1  67.233333  67.233333
2018-05-07 23:36:14-07:00   0   0  0.000000  15  71.800000  71.800000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-07 23:36:14-07:00  72.250000  72.200000  72.300000  73.666269
2018-05-07 23:36:14-07:00  71.572222  71.500000  71.600000  73.666269
2018-05-07 23:36:14-07:00  67.233333  67.233333  67.233333  73.666269
2018-05-07 23:36:14-07:00  71.716667  71.700000  71.700000  73.666269

                              t_std
time
2018-05-07 23:36:14-07:00  0.048305
2018-05-07 23:36:14-07:00  0.049316
2018-05-07 23:36:14-07:00  0.000000
2018-05-07 23:36:14-07:00  0.034960
========
Action is by itself with action 0.333333 for data:

                           a1  a2    action  dt  t_in      t_max     t_mean  \
time
2018-05-07 23:58:14-07:00   0   1  2.000000   6  68.5  68.500000  68.227778
2018-05-07 23:58:14-07:00   0   0  0.000000  15  71.6  71.700000  71.593333
2018-05-08 00:04:14-07:00   0   0  0.333333   1  67.3  67.300000  67.300000
2018-05-08 00:05:14-07:00   0   0  0.000000   6  67.2  67.633333  67.350000

                           t_min     t_next      t_out     t_std
time
2018-05-07 23:58:14-07:00   67.8  67.800000  73.999403  0.313532
2018-05-07 23:58:14-07:00   71.5  71.600000  73.766306  0.080000
2018-05-08 00:04:14-07:00   67.3  67.300000  73.999403  0.000000
2018-05-08 00:05:14-07:00   67.2  67.633333  73.583159  0.151230
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 00:12:14-07:00   0   1  2.000000   6  68.300000  68.300000
2018-05-08 00:13:14-07:00   0   0  0.000000  15  71.600000  71.600000
2018-05-08 00:18:14-07:00   0   0  0.666667   1  67.366667  67.366667
2018-05-08 00:19:14-07:00   0   0  0.000000   7  67.100000  68.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 00:12:14-07:00  68.144444  67.900000  67.900000  73.499910
2018-05-08 00:13:14-07:00  71.508889  71.400000  71.400000  73.266813
2018-05-08 00:18:14-07:00  67.366667  67.366667  67.366667  73.499910
2018-05-08 00:19:14-07:00  67.333333  67.100000  68.000000  73.143129

                              t_std
time
2018-05-08 00:12:14-07:00  0.179161
2018-05-08 00:13:14-07:00  0.079318
2018-05-08 00:18:14-07:00  0.000000
2018-05-08 00:19:14-07:00  0.316228
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 00:27:14-07:00   0   1  2.000000   5  68.300000  68.300000
2018-05-08 00:28:14-07:00   0   0  0.000000  15  71.466667  71.600000
2018-05-08 00:32:14-07:00   0   0  1.666667   1  67.516667  67.516667
2018-05-08 00:33:14-07:00   0   0  0.000000   8  67.100000  68.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 00:27:14-07:00  68.150000  67.850000  67.850000  73.000416
2018-05-08 00:28:14-07:00  71.467778  71.400000  71.450000  73.154352
2018-05-08 00:32:14-07:00  67.516667  67.516667  67.516667  73.000416
2018-05-08 00:33:14-07:00  67.347917  67.100000  68.000000  73.206580

                              t_std
time
2018-05-08 00:27:14-07:00  0.167332
2018-05-08 00:28:14-07:00  0.084867
2018-05-08 00:32:14-07:00  0.000000
2018-05-08 00:33:14-07:00  0.299703
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 00:42:14-07:00   0   1  2.000000   4  68.300000  68.300000
2018-05-08 00:43:14-07:00   0   0  0.000000  15  71.500000  71.500000
2018-05-08 00:46:14-07:00   0   0  1.666667   1  67.783333  67.783333
2018-05-08 00:47:14-07:00   0   0  0.000000   7  67.200000  67.850000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 00:42:14-07:00  68.133333  67.900000  67.900000  73.330278
2018-05-08 00:43:14-07:00  71.401111  71.300000  71.433333  73.176342
2018-05-08 00:46:14-07:00  67.783333  67.783333  67.783333  73.330278
2018-05-08 00:47:14-07:00  67.238571  67.100000  67.850000  73.188908

                              t_std
time
2018-05-08 00:42:14-07:00  0.173205
2018-05-08 00:43:14-07:00  0.075146
2018-05-08 00:46:14-07:00  0.000000
2018-05-08 00:47:14-07:00  0.253119
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 00:51:14-07:00   0   0  0.000000  15  71.500000  71.500000
2018-05-08 00:51:14-07:00   0   0  0.000000  15  71.200000  71.300000
2018-05-08 00:54:14-07:00   0   0  0.333333   1  68.083333  68.083333
2018-05-08 00:54:14-07:00   0   0  0.000000  15  74.200000  74.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 00:51:14-07:00  71.413333  71.300000  71.300000  73.000416
2018-05-08 00:51:14-07:00  71.244000  71.200000  71.200000  73.000416
2018-05-08 00:54:14-07:00  68.083333  68.083333  68.083333  73.000416
2018-05-08 00:54:14-07:00  74.177778  74.100000  74.100000  68.900375

                              t_std
time
2018-05-08 00:51:14-07:00  0.051352
2018-05-08 00:51:14-07:00  0.048000
2018-05-08 00:54:14-07:00  0.000000
2018-05-08 00:54:14-07:00  0.039752
========
Action is by itself with action 1.200000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-08 00:55:14-07:00   0   1     2.0   5  68.50  68.50  68.280000  67.90
2018-05-08 00:58:14-07:00   0   0     0.0  15  71.50  71.50  71.393333  71.30
2018-05-08 01:00:14-07:00   0   0     1.2   1  67.62  67.62  67.620000  67.62
2018-05-08 01:01:14-07:00   0   0     0.0   7  67.20  68.00  67.398095  67.20

                           t_next      t_out     t_std
time
2018-05-08 00:55:14-07:00   67.90  73.000416  0.271293
2018-05-08 00:58:14-07:00   71.40  63.433652  0.080921
2018-05-08 01:00:14-07:00   67.62  73.000416  0.000000
2018-05-08 01:01:14-07:00   68.00  67.143214  0.270490
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 01:24:14-07:00   0   0  0.000000  15  74.100000  74.100000
2018-05-08 01:28:14-07:00   0   0  0.000000  15  71.400000  71.400000
2018-05-08 01:29:14-07:00   0   0  0.666667   1  67.433333  67.433333
2018-05-08 01:30:14-07:00   0   0  0.000000   8  67.200000  68.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 01:24:14-07:00  74.036667  74.000000  74.000000  40.333254
2018-05-08 01:28:14-07:00  71.277111  71.200000  71.300000  51.444259
2018-05-08 01:29:14-07:00  67.433333  67.433333  67.433333  32.000000
2018-05-08 01:30:14-07:00  67.306250  67.100000  68.000000  42.416567

                              t_std
time
2018-05-08 01:24:14-07:00  0.046428
2018-05-08 01:28:14-07:00  0.059265
2018-05-08 01:29:14-07:00  0.000000
2018-05-08 01:30:14-07:00  0.324459
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 01:51:14-07:00   0   0  0.000000  15  72.200000  72.300000
2018-05-08 01:51:14-07:00   0   0  0.000000  15  71.066667  71.200000
2018-05-08 01:54:14-07:00   0   0  1.333333   1  68.366667  68.366667
2018-05-08 01:54:14-07:00   0   0  0.000000  15  73.700000  73.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 01:51:14-07:00  72.232667  72.200000  72.200000  73.999403
2018-05-08 01:51:14-07:00  71.068444  70.900000  70.900000  73.999403
2018-05-08 01:54:14-07:00  68.366667  68.366667  68.366667  73.999403
2018-05-08 01:54:14-07:00  73.651111  73.600000  73.600000  69.699564

                              t_std
time
2018-05-08 01:51:14-07:00  0.043277
2018-05-08 01:51:14-07:00  0.099554
2018-05-08 01:54:14-07:00  0.000000
2018-05-08 01:54:14-07:00  0.048483

========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 02:11:14-07:00   0   1  2.000000   4  68.300000  68.300000
2018-05-08 02:13:14-07:00   0   0  0.000000  15  71.200000  71.200000
2018-05-08 02:15:14-07:00   0   0  1.666667   1  67.683333  67.683333
2018-05-08 02:16:14-07:00   0   0  0.000000  10  67.100000  68.050000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 02:11:14-07:00  68.133333  67.800000  67.800000  52.500208
2018-05-08 02:13:14-07:00  71.002667  70.900000  71.000000  62.066972
2018-05-08 02:15:14-07:00  67.683333  67.683333  67.683333  52.500208
2018-05-08 02:16:14-07:00  67.250000  67.000000  68.050000  62.750312

                              t_std
time
2018-05-08 02:11:14-07:00  0.204124
2018-05-08 02:13:14-07:00  0.129998
2018-05-08 02:15:14-07:00  0.000000
2018-05-08 02:16:14-07:00  0.374166
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 02:27:14-07:00   0   1  2.000000   4  68.500000  68.500000
2018-05-08 02:28:14-07:00   0   0  0.000000  15  71.000000  71.000000
2018-05-08 02:31:14-07:00   0   0  0.666667   1  67.333333  67.333333
2018-05-08 02:32:14-07:00   0   0  0.000000   9  67.000000  68.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 02:27:14-07:00  68.237500  67.800000  67.800000  73.000416
2018-05-08 02:28:14-07:00  70.890000  70.800000  70.900000  72.690796
2018-05-08 02:31:14-07:00  67.333333  67.333333  67.333333  73.000416
2018-05-08 02:32:14-07:00  67.205556  66.900000  68.000000  72.631821

                              t_std
time
2018-05-08 02:27:14-07:00  0.290205
2018-05-08 02:28:14-07:00  0.071181
2018-05-08 02:31:14-07:00  0.000000
2018-05-08 02:32:14-07:00  0.328671
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 02:42:14-07:00   0   1  2.000000   4  68.500000  68.500000
2018-05-08 02:43:14-07:00   0   0  0.000000  15  70.950000  71.000000
2018-05-08 02:46:14-07:00   0   0  1.333333   1  67.633333  67.633333
2018-05-08 02:47:14-07:00   0   0  0.000000  10  67.100000  68.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 02:42:14-07:00  68.250000  67.900000  67.900000  72.336944
2018-05-08 02:43:14-07:00  70.862222  70.800000  70.800000  72.646564
2018-05-08 02:46:14-07:00  67.633333  67.633333  67.633333  72.336944
2018-05-08 02:47:14-07:00  67.295333  67.000000  68.100000  72.735027

                              t_std
time
2018-05-08 02:42:14-07:00  0.259808
2018-05-08 02:43:14-07:00  0.067348
2018-05-08 02:46:14-07:00  0.000000
2018-05-08 02:47:14-07:00  0.410767
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 02:58:14-07:00   0   1  2.000000   4  68.300000  68.300000
2018-05-08 02:58:14-07:00   0   0  0.000000  15  70.866667  70.900000
2018-05-08 03:02:14-07:00   0   0  0.666667   1  67.366667  67.366667
2018-05-08 03:03:14-07:00   0   0  0.000000  12  67.200000  68.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 02:58:14-07:00  68.125000  67.700000  67.700000  73.000416
2018-05-08 02:58:14-07:00  70.773333  70.700000  70.700000  72.533799
2018-05-08 03:02:14-07:00  67.366667  67.366667  67.366667  73.000416
2018-05-08 03:03:14-07:00  67.415000  67.100000  68.000000  72.250496

                              t_std
time
2018-05-08 02:58:14-07:00  0.248747
2018-05-08 02:58:14-07:00  0.091247
2018-05-08 03:02:14-07:00  0.000000
2018-05-08 03:03:14-07:00  0.363768
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-08 03:36:14-07:00   0   0  0.000000  15  71.7   71.7  71.677778
2018-05-08 03:36:14-07:00   0   0  0.000000  15  70.9   70.9  70.734444
2018-05-08 03:37:14-07:00   0   0  1.333333   1  67.3   67.3  67.300000
2018-05-08 03:38:14-07:00   0   0  0.000000  12  67.1   68.1  67.330556

                           t_min  t_next      t_out     t_std
time
2018-05-08 03:36:14-07:00   71.6    71.6  71.003753  0.039752
2018-05-08 03:36:14-07:00   70.6    70.6  71.003753  0.122696
2018-05-08 03:37:14-07:00   67.3    67.3  71.003753  0.000000
2018-05-08 03:38:14-07:00   66.9    68.1  71.003753  0.417102
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 03:39:14-07:00   0   0  0.000000  15  72.400000  72.400000
2018-05-08 03:43:14-07:00   0   0  0.000000  15  70.500000  70.600000
2018-05-08 03:50:14-07:00   0   0  1.666667   1  68.266667  68.266667
2018-05-08 03:51:14-07:00   0   0  0.000000  15  70.500000  70.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 03:39:14-07:00  72.342667  72.300000  72.300000  71.003129
2018-05-08 03:43:14-07:00  70.561111  70.500000  70.500000  71.002296
2018-05-08 03:50:14-07:00  68.266667  68.266667  68.266667  71.003753
2018-05-08 03:51:14-07:00  70.408889  70.300000  70.300000  71.000630

                              t_std
time
2018-05-08 03:39:14-07:00  0.047814
2018-05-08 03:43:14-07:00  0.045406
2018-05-08 03:50:14-07:00  0.000000
2018-05-08 03:51:14-07:00  0.078142
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 03:51:14-07:00   0   0  0.000000  15  70.600000  70.700000
2018-05-08 03:54:14-07:00   0   0  0.000000  15  72.300000  72.300000
2018-05-08 03:54:14-07:00   0   0  1.333333   1  67.333333  67.333333
2018-05-08 03:55:14-07:00   0   0  0.000000  11  67.100000  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 03:51:14-07:00  70.610222  70.500000  70.500000  71.000630
2018-05-08 03:54:14-07:00  72.186667  72.100000  72.100000  63.200504
2018-05-08 03:54:14-07:00  67.333333  67.333333  67.333333  71.000630
2018-05-08 03:55:14-07:00  67.301818  66.900000  68.200000  71.000630

                              t_std
time
2018-05-08 03:51:14-07:00  0.070422
2018-05-08 03:54:14-07:00  0.063011
2018-05-08 03:54:14-07:00  0.000000
2018-05-08 03:55:14-07:00  0.463619
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 04:07:14-07:00   0   1  2.000000   3  68.300000  68.300000
2018-05-08 04:09:14-07:00   0   0  0.000000  15  72.100000  72.100000
2018-05-08 04:10:14-07:00   0   0  1.333333   1  67.433333  67.433333
2018-05-08 04:11:14-07:00   0   0  0.000000  13  67.100000  68.100000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-08 04:07:14-07:00  68.222222  68.066667  68.066667   32.0  0.109994
2018-05-08 04:09:14-07:00  71.920000  71.800000  71.800000   32.0  0.107359
2018-05-08 04:10:14-07:00  67.433333  67.433333  67.433333   32.0  0.000000
2018-05-08 04:11:14-07:00  67.371795  66.900000  68.100000   32.0  0.444116
========
Action is by itself with action 1.333333 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 04:21:14-07:00   0   0  0.000000  15  70.300000  70.400000
2018-05-08 04:21:14-07:00   0   0  0.000000  15  70.500000  70.600000
2018-05-08 04:24:14-07:00   0   0  1.333333   1  68.233333  68.233333
2018-05-08 04:24:14-07:00   0   0  0.000000  15  71.800000  71.800000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-08 04:21:14-07:00  70.312000  70.000000  70.000000   32.0  0.102566
2018-05-08 04:21:14-07:00  70.528889  70.433333  70.433333   32.0  0.049988
2018-05-08 04:24:14-07:00  68.233333  68.233333  68.233333   32.0  0.000000
2018-05-08 04:24:14-07:00  71.642667  71.500000  71.500000   34.4  0.078014
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-08 05:07:14-07:00   0   1  2.000000   4  68.30   68.3  68.100000
2018-05-08 05:09:14-07:00   0   0  0.000000  15  71.00   71.0  70.951111
2018-05-08 05:11:14-07:00   0   0  0.333333   1  67.20   67.2  67.200000
2018-05-08 05:12:14-07:00   0   0  0.000000  15  67.02   68.0  67.422444

                           t_min  t_next      t_out     t_std
time
2018-05-08 05:07:14-07:00   67.7    67.7  49.999995  0.244949
2018-05-08 05:09:14-07:00   70.9    70.9  53.599993  0.048483
2018-05-08 05:11:14-07:00   67.2    67.2  49.999995  0.000000
2018-05-08 05:12:14-07:00   66.9    68.0  57.199992  0.449972
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 06:48:14-07:00   0   1  2.000000   3  68.100000  68.100000
2018-05-08 06:51:14-07:00   0   0  0.000000  15  70.400000  70.400000
2018-05-08 06:51:14-07:00   0   0  0.666667   1  67.366667  67.366667
2018-05-08 06:51:14-07:00   0   0  0.000000  15  69.900000  69.900000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 06:48:14-07:00  67.988889  67.900000  67.900000  64.996944
2018-05-08 06:51:14-07:00  70.400000  70.400000  70.400000  64.000416
2018-05-08 06:51:14-07:00  67.366667  67.366667  67.366667  64.000416
2018-05-08 06:51:14-07:00  69.824444  69.800000  69.900000  64.000416

                                  t_std
time
2018-05-08 06:48:14-07:00  8.314794e-02
2018-05-08 06:51:14-07:00  1.322959e-14
2018-05-08 06:51:14-07:00  0.000000e+00
2018-05-08 06:51:14-07:00  3.937788e-02
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 08:28:14-07:00   0   1  2.000000   5  68.300000  68.300000
2018-05-08 08:28:14-07:00   0   0  0.000000  15  70.000000  70.300000
2018-05-08 08:33:14-07:00   0   0  0.666667   1  67.166667  67.166667
2018-05-08 08:34:14-07:00   0   0  0.000000   8  67.100000  68.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 08:28:14-07:00  68.120000  67.700000  67.700000  32.000000
2018-05-08 08:28:14-07:00  70.103333  70.000000  70.300000  51.912796
2018-05-08 08:33:14-07:00  67.166667  67.166667  67.166667  32.000000
2018-05-08 08:34:14-07:00  67.400000  67.100000  68.100000  64.002708

                              t_std
time
2018-05-08 08:28:14-07:00  0.222711
2018-05-08 08:28:14-07:00  0.069442
2018-05-08 08:33:14-07:00  0.000000
2018-05-08 08:34:14-07:00  0.336341
========
Action is by itself with action 1.600000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-08 08:42:14-07:00   0   1     2.0   5  68.30  68.30  68.133333  67.80
2018-05-08 08:43:14-07:00   0   0     0.0  15  70.30  70.40  70.277778  70.10
2018-05-08 08:47:14-07:00   0   0     1.6   1  67.66  67.66  67.660000  67.66
2018-05-08 08:48:14-07:00   0   0     0.0   8  67.10  68.00  67.325000  67.10

                           t_next      t_out     t_std
time
2018-05-08 08:42:14-07:00   67.80  74.670278  0.210819
2018-05-08 08:43:14-07:00   70.40  73.891009  0.119398
2018-05-08 08:47:14-07:00   67.66  74.670278  0.000000
2018-05-08 08:48:14-07:00   68.00  73.626614  0.322210
========
Action is by itself with action 0.400000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-08 09:11:14-07:00   0   1     2.0   5  68.50  68.50  68.212000  67.90
2018-05-08 09:13:14-07:00   0   0     0.0  15  70.50  70.50  70.440667  70.40
2018-05-08 09:16:14-07:00   0   0     0.4   1  67.26  67.26  67.260000  67.26
2018-05-08 09:17:14-07:00   0   0     0.0   8  67.10  68.10  67.368333  67.10

                           t_next      t_out     t_std
time
2018-05-08 09:11:14-07:00   67.90  52.500208  0.269399
2018-05-08 09:13:14-07:00   70.50  64.400479  0.045675
2018-05-08 09:16:14-07:00   67.26  52.500208  0.000000
2018-05-08 09:17:14-07:00   68.10  65.250498  0.309870
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 09:26:14-07:00   0   1  2.000000   5  68.300000  68.300000
2018-05-08 09:28:14-07:00   0   0  0.000000  15  70.500000  70.500000
2018-05-08 09:31:14-07:00   0   0  0.333333   1  67.233333  67.233333
2018-05-08 09:32:14-07:00   0   0  0.000000   8  67.100000  68.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 09:26:14-07:00  68.108000  67.900000  67.900000  78.000789
2018-05-08 09:28:14-07:00  70.400667  70.300000  70.500000  78.002221
2018-05-08 09:31:14-07:00  67.233333  67.233333  67.233333  78.000789
2018-05-08 09:32:14-07:00  67.338750  67.100000  68.100000  78.002324

                              t_std
time
2018-05-08 09:26:14-07:00  0.179600
2018-05-08 09:28:14-07:00  0.075936
2018-05-08 09:31:14-07:00  0.000000
2018-05-08 09:32:14-07:00  0.331679
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-08 09:41:14-07:00   0   1  2.000000   5  68.3   68.3  68.070000
2018-05-08 09:43:14-07:00   0   0  0.000000  15  70.5   70.5  70.401111
2018-05-08 09:46:14-07:00   0   0  0.666667   1  67.2   67.2  67.200000
2018-05-08 09:47:14-07:00   0   0  0.000000   7  67.1   68.0  67.400000

                           t_min  t_next      t_out     t_std
time
2018-05-08 09:41:14-07:00   67.6    67.6  78.003859  0.260000
2018-05-08 09:43:14-07:00   70.3    70.5  78.002426  0.075146
2018-05-08 09:46:14-07:00   67.2    67.2  78.003859  0.000000
2018-05-08 09:47:14-07:00   67.1    68.0  78.002543  0.338062
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 09:55:14-07:00   0   1  2.000000   5  68.300000  68.300000
2018-05-08 09:58:14-07:00   0   0  0.000000  15  70.500000  70.533333
2018-05-08 10:00:14-07:00   0   0  1.333333   1  67.233333  67.233333
2018-05-08 10:01:14-07:00   0   0  0.000000   6  67.100000  67.633333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 09:55:14-07:00  68.116667  67.883333  67.883333  78.000789
2018-05-08 09:58:14-07:00  70.462222  70.400000  70.533333  78.000789
2018-05-08 10:00:14-07:00  67.233333  67.233333  67.233333  78.000789
2018-05-08 10:01:14-07:00  67.247222  67.100000  67.633333  78.000789

                              t_std
time
2018-05-08 09:55:14-07:00  0.164655
2018-05-08 09:58:14-07:00  0.048483
2018-05-08 10:00:14-07:00  0.000000
2018-05-08 10:01:14-07:00  0.202854
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 11:06:14-07:00   0   0  0.000000  15  71.700000  71.800000
2018-05-08 11:06:14-07:00   0   0  0.000000  15  71.700000  71.800000
2018-05-08 11:08:14-07:00   0   0  0.666667   1  67.433333  67.433333
2018-05-08 11:09:14-07:00   0   0  0.000000   4  67.200000  67.600000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 11:06:14-07:00  71.662889  71.600000  71.800000  56.499808
2018-05-08 11:06:14-07:00  71.650000  71.500000  71.800000  56.499808
2018-05-08 11:08:14-07:00  67.433333  67.433333  67.433333  56.499808
2018-05-08 11:09:14-07:00  67.350000  67.200000  67.600000  56.499808

                              t_std
time
2018-05-08 11:06:14-07:00  0.062121
2018-05-08 11:06:14-07:00  0.105585
2018-05-08 11:08:14-07:00  0.000000
2018-05-08 11:09:14-07:00  0.150000
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in      t_max     t_mean  \
time
2018-05-08 11:09:14-07:00   0   0  0.000000  15  70.70  71.000000  70.846667
2018-05-08 11:12:14-07:00   0   0  0.000000  12  72.10  72.416667  72.248611
2018-05-08 11:13:14-07:00   0   0  1.666667   1  68.45  68.450000  68.450000
2018-05-08 11:13:14-07:00   0   0  0.000000  15  71.30  71.500000  71.435556

                           t_min     t_next      t_out     t_std
time
2018-05-08 11:09:14-07:00  70.70  71.000000  61.399770  0.112744
2018-05-08 11:12:14-07:00  72.10  72.416667  62.624760  0.116956
2018-05-08 11:13:14-07:00  68.45  68.450000  56.499808  0.000000
2018-05-08 11:13:14-07:00  71.30  71.400000  67.933052  0.063790
========
Action is by itself with action 1.600000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-08 11:21:14-07:00   0   0     0.0  15  71.80  71.80  71.568667  71.30
2018-05-08 11:21:14-07:00   0   0     0.0  15  71.80  71.90  71.776667  71.70
2018-05-08 11:24:14-07:00   0   0     1.6   1  72.58  72.58  72.580000  72.58
2018-05-08 11:24:14-07:00   0   0     0.0  15  71.08  71.60  71.412000  71.08

                           t_next      t_out     t_std
time
2018-05-08 11:21:14-07:00   71.60  80.999617  0.184783
2018-05-08 11:21:14-07:00   71.90  80.999617  0.054365
2018-05-08 11:24:14-07:00   72.58  80.999617  0.000000
2018-05-08 11:24:14-07:00   71.60  81.066309  0.179859
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-08 11:27:14-07:00   0   0  0.000000   4  67.20  67.50  67.275000
2018-05-08 11:28:14-07:00   0   0  0.000000  15  71.40  71.50  71.451111
2018-05-08 11:30:14-07:00   0   0  0.333333   1  72.25  72.25  72.250000
2018-05-08 11:31:14-07:00   0   0  0.000000  15  71.95  72.10  71.814444

                           t_min  t_next      t_out     t_std
time
2018-05-08 11:27:14-07:00  67.20   67.50  80.999617  0.129904
2018-05-08 11:28:14-07:00  71.40   71.40  81.155232  0.046930
2018-05-08 11:30:14-07:00  72.25   72.25  80.999617  0.000000
2018-05-08 11:31:14-07:00  71.70   72.10  81.221924  0.135382

========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-08 11:51:14-07:00   0   0  0.000000  15  72.1   72.2  72.137778
2018-05-08 11:51:14-07:00   0   0  0.000000  15  71.4   71.5  71.378889
2018-05-08 11:54:14-07:00   0   0  0.333333   1  72.5   72.5  72.500000
2018-05-08 11:54:14-07:00   0   0  0.000000  15  71.9   72.2  72.064444

                           t_min     t_next      t_out     t_std
time
2018-05-08 11:51:14-07:00   72.1  72.133333  80.999617  0.043660
2018-05-08 11:51:14-07:00   71.3  71.500000  80.999617  0.063964
2018-05-08 11:54:14-07:00   72.5  72.500000  80.999617  0.000000
2018-05-08 11:54:14-07:00   71.9  72.200000  71.199693  0.108503
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-08 11:58:14-07:00   0   0  0.000000  15  71.500000   71.8  71.640000
2018-05-08 11:59:14-07:00   0   0  0.000000   3  67.200000   67.2  67.200000
2018-05-08 12:01:14-07:00   0   0  0.666667   1  72.200000   72.2  72.200000
2018-05-08 12:02:14-07:00   0   0  0.000000  15  71.966667   72.1  71.842222

                           t_min  t_next      t_out     t_std
time
2018-05-08 11:58:14-07:00   71.5    71.8  58.133129  0.122444
2018-05-08 11:59:14-07:00   67.2    67.2  80.999617  0.000000
2018-05-08 12:01:14-07:00   72.2    72.2  80.999617  0.000000
2018-05-08 12:02:14-07:00   71.6    72.1  45.066564  0.193014
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-08 12:54:14-07:00   0   0  0.000000  15  73.05  73.30  73.186667
2018-05-08 12:55:14-07:00   0   0  0.000000  15  71.20  73.60  72.573333
2018-05-08 12:56:14-07:00   0   0  0.333333   1  72.25  72.25  72.250000
2018-05-08 12:57:14-07:00   0   0  0.000000  15  71.95  72.40  71.924667

                           t_min  t_next      t_out     t_std
time
2018-05-08 12:54:14-07:00  73.05   73.30  77.200353  0.084809
2018-05-08 12:55:14-07:00  71.20   73.60  75.600332  0.744978
2018-05-08 12:56:14-07:00  72.25   72.25  82.000416  0.000000
2018-05-08 12:57:14-07:00  71.70   72.40  72.400290  0.213037
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 13:40:14-07:00   0   0  0.000000  13  74.200000  74.400000
2018-05-08 13:40:14-07:00   0   0  0.000000  15  75.500000  75.700000
2018-05-08 13:45:14-07:00   0   0  0.666667   1  72.300000  72.300000
2018-05-08 13:46:14-07:00   0   0  0.000000  14  71.916667  72.233333

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-08 13:40:14-07:00  74.151282   74.0  74.400000  84.000145  0.124458
2018-05-08 13:40:14-07:00  75.302222   75.1  75.700000  84.000153  0.212382
2018-05-08 13:45:14-07:00  72.300000   72.3  72.300000  84.000135  0.000000
2018-05-08 13:46:14-07:00  71.948571   71.8  72.233333  84.000179  0.145715
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 14:06:14-07:00   0   0  0.000000  15  75.100000  75.300000
2018-05-08 14:06:14-07:00   0   0  0.000000  15  74.300000  74.900000
2018-05-08 14:07:14-07:00   0   0  0.333333   1  74.266667  74.266667
2018-05-08 14:08:14-07:00   0   0  0.000000  15  74.000000  74.100000

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-08 14:06:14-07:00  75.108444  74.900000  75.300000  32.00000  0.129625
2018-05-08 14:06:14-07:00  74.670000  74.300000  74.750000  32.00000  0.245115
2018-05-08 14:07:14-07:00  74.266667  74.266667  74.266667  32.00000  0.000000
2018-05-08 14:08:14-07:00  73.838667  73.600000  74.100000  38.93336  0.173200
========
Action is by itself with action 1.200000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 14:07:14-07:00   0   0  0.333333   1  74.266667  74.266667
2018-05-08 14:08:14-07:00   0   0  0.000000  15  74.000000  74.100000
2018-05-08 14:08:14-07:00   0   0  1.200000   1  72.380000  72.380000
2018-05-08 14:09:14-07:00   0   0  0.000000   7  72.050000  72.100000

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-08 14:07:14-07:00  74.266667  74.266667  74.266667  32.00000  0.000000
2018-05-08 14:08:14-07:00  73.838667  73.600000  74.100000  38.93336  0.173200
2018-05-08 14:08:14-07:00  72.380000  72.380000  72.380000  32.00000  0.000000
2018-05-08 14:09:14-07:00  71.988095  71.800000  72.100000  32.00000  0.119095
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 14:21:14-07:00   0   0  0.000000  15  74.600000  74.900000
2018-05-08 14:21:14-07:00   0   0  0.000000  15  75.300000  75.300000
2018-05-08 14:23:14-07:00   0   0  0.333333   1  74.166667  74.166667
2018-05-08 14:23:14-07:00   0   0  0.000000   6  74.100000  74.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 14:21:14-07:00  74.624667  74.500000  74.900000  84.000203
2018-05-08 14:21:14-07:00  75.062222  74.900000  75.100000  84.000203
2018-05-08 14:23:14-07:00  74.166667  74.166667  74.166667  84.000203
2018-05-08 14:23:14-07:00  74.275000  74.100000  74.400000  84.000203

                              t_std
time
2018-05-08 14:21:14-07:00  0.118258
2018-05-08 14:21:14-07:00  0.156284
2018-05-08 14:23:14-07:00  0.000000
2018-05-08 14:23:14-07:00  0.134629
========
Action is by itself with action 1.200000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-08 14:35:14-07:00   0   1     2.0   8  74.50  74.50  74.480000  74.40
2018-05-08 14:36:14-07:00   0   0     0.0  15  75.20  75.30  75.124000  74.90
2018-05-08 14:36:14-07:00   0   0     1.2   1  74.22  74.22  74.220000  74.22
2018-05-08 14:36:14-07:00   0   0     0.0  15  74.94  75.00  74.713111  74.40

                           t_next      t_out     t_std
time
2018-05-08 14:35:14-07:00   74.40  84.288894  0.036056
2018-05-08 14:36:14-07:00   74.95  84.330135  0.162882
2018-05-08 14:36:14-07:00   74.22  84.330135  0.000000
2018-05-08 14:36:14-07:00   74.50  84.330135  0.249831
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 14:52:14-07:00   1   0  1.000000   1  72.400000  72.400000
2018-05-08 14:52:14-07:00   0   0  0.000000   4  74.200000  74.200000
2018-05-08 14:53:14-07:00   0   0  0.666667   1  74.433333  74.433333
2018-05-08 14:53:14-07:00   0   0  0.000000  13  72.080000  72.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 14:52:14-07:00  72.400000  72.400000  72.400000  84.000203
2018-05-08 14:52:14-07:00  74.200000  74.200000  74.200000  84.000203
2018-05-08 14:53:14-07:00  74.433333  74.433333  74.433333  84.000203
2018-05-08 14:53:14-07:00  72.047179  71.800000  72.400000  84.000203

                              t_std
time
2018-05-08 14:52:14-07:00  0.000000
2018-05-08 14:52:14-07:00  0.000000
2018-05-08 14:53:14-07:00  0.000000
2018-05-08 14:53:14-07:00  0.196816
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 15:02:14-07:00   1   0  1.000000   1  74.250000  74.250000
2018-05-08 15:03:14-07:00   0   0  0.000000   9  74.200000  74.233333
2018-05-08 15:04:14-07:00   0   0  0.333333   1  74.266667  74.266667
2018-05-08 15:05:14-07:00   0   0  0.000000  15  73.933333  74.133333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 15:02:14-07:00  74.250000  74.250000  74.250000  84.000203
2018-05-08 15:03:14-07:00  74.155556  74.100000  74.233333  66.999797
2018-05-08 15:04:14-07:00  74.266667  74.266667  74.266667  84.000203
2018-05-08 15:05:14-07:00  73.804444  73.600000  74.133333  60.199635

                              t_std
time
2018-05-08 15:02:14-07:00  0.000000
2018-05-08 15:03:14-07:00  0.052116
2018-05-08 15:04:14-07:00  0.000000
2018-05-08 15:05:14-07:00  0.177166
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-08 15:17:14-07:00   0   0  0.000000  13  72.183333  72.40  72.100769
2018-05-08 15:20:14-07:00   0   0  0.000000   1  74.400000  74.40  74.400000
2018-05-08 15:21:14-07:00   0   0  0.666667   1  74.500000  74.50  74.500000
2018-05-08 15:21:14-07:00   0   0  0.000000  15  74.800000  75.08  74.714222

                           t_min  t_next      t_out     t_std
time
2018-05-08 15:17:14-07:00   71.9   72.40  76.845468  0.160843
2018-05-08 15:20:14-07:00   74.4   74.40  58.499595  0.000000
2018-05-08 15:21:14-07:00   74.5   74.50  84.999189  0.000000
2018-05-08 15:21:14-07:00   74.4   75.08  84.999189  0.237928

========
Action is by itself with action 1.600000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-08 15:22:14-07:00   0   0     0.0   8  74.10  74.20  74.143750  74.10
2018-05-08 15:25:14-07:00   0   0     0.0  15  75.90  76.10  75.915333  75.70
2018-05-08 15:29:14-07:00   0   0     1.6   1  74.56  74.56  74.560000  74.56
2018-05-08 15:30:14-07:00   0   0     0.0  15  74.15  74.40  73.920000  73.60

                           t_next      t_out     t_std
time
2018-05-08 15:22:14-07:00   74.20  84.999189  0.046351
2018-05-08 15:25:14-07:00   76.05  85.177928  0.164392
2018-05-08 15:29:14-07:00   74.56  84.999189  0.000000
2018-05-08 15:30:14-07:00   74.40  85.401352  0.221961
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-08 15:36:14-07:00   0   0  0.000000  15  75.30  75.30  75.098889
2018-05-08 15:40:14-07:00   0   0  0.000000  15  76.00  76.00  75.887778
2018-05-08 15:40:14-07:00   0   0  1.666667   1  74.45  74.45  74.450000
2018-05-08 15:41:14-07:00   0   0  0.000000   8  74.15  74.30  74.168750

                           t_min  t_next      t_out     t_std
time
2018-05-08 15:36:14-07:00  74.90   75.00  85.669460  0.141744
2018-05-08 15:40:14-07:00  75.70   76.00  85.490721  0.111963
2018-05-08 15:40:14-07:00  74.45   74.45  85.669460  0.000000
2018-05-08 15:41:14-07:00  74.10   74.30  85.669460  0.082680
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 15:40:14-07:00   0   0  1.666667   1  74.450000  74.450000
2018-05-08 15:41:14-07:00   0   0  0.000000   8  74.150000  74.300000
2018-05-08 15:41:14-07:00   0   0  0.333333   1  72.233333  72.233333
2018-05-08 15:42:14-07:00   0   0  0.000000  12  72.040000  72.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 15:40:14-07:00  74.450000  74.450000  74.450000  85.669460
2018-05-08 15:41:14-07:00  74.168750  74.100000  74.300000  85.669460
2018-05-08 15:41:14-07:00  72.233333  72.233333  72.233333  85.669460
2018-05-08 15:42:14-07:00  72.096667  71.900000  72.400000  85.501892

                              t_std
time
2018-05-08 15:40:14-07:00  0.000000
2018-05-08 15:41:14-07:00  0.082680
2018-05-08 15:41:14-07:00  0.000000
2018-05-08 15:42:14-07:00  0.165294
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 15:55:14-07:00   0   0  0.000000  13  74.083333  74.166667
2018-05-08 15:55:14-07:00   0   0  0.000000  15  76.133333  76.200000
2018-05-08 16:00:14-07:00   0   0  1.666667   1  74.433333  74.433333
2018-05-08 16:01:14-07:00   0   0  0.000000   8  74.100000  74.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 15:55:14-07:00  73.970513  73.900000  74.166667  76.845468
2018-05-08 15:55:14-07:00  75.985778  75.800000  75.900000  70.866072
2018-05-08 16:00:14-07:00  74.433333  74.433333  74.433333  84.999189
2018-05-08 16:01:14-07:00  74.152083  74.100000  74.200000  65.124493

                              t_std
time
2018-05-08 15:55:14-07:00  0.079838
2018-05-08 15:55:14-07:00  0.172440
2018-05-08 16:00:14-07:00  0.000000
2018-05-08 16:01:14-07:00  0.048188
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 16:00:14-07:00   0   0  1.666667   1  74.433333  74.433333
2018-05-08 16:01:14-07:00   0   0  0.000000   8  74.100000  74.200000
2018-05-08 16:04:14-07:00   0   0  1.333333   1  72.333333  72.333333
2018-05-08 16:05:14-07:00   0   0  0.000000  12  72.166667  72.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 16:00:14-07:00  74.433333  74.433333  74.433333  84.999189
2018-05-08 16:01:14-07:00  74.152083  74.100000  74.200000  65.124493
2018-05-08 16:04:14-07:00  72.333333  72.333333  72.333333  84.999189
2018-05-08 16:05:14-07:00  72.074444  71.900000  72.400000  36.416599

                              t_std
time
2018-05-08 16:00:14-07:00  0.000000
2018-05-08 16:01:14-07:00  0.048188
2018-05-08 16:04:14-07:00  0.000000
2018-05-08 16:05:14-07:00  0.140233
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 16:18:14-07:00   0   0  0.800000   1  74.180000  74.180000
2018-05-08 16:19:14-07:00   0   0  0.000000  12  74.000000  74.166667
2018-05-08 16:20:14-07:00   0   0  1.333333   1  74.466667  74.466667
2018-05-08 16:21:14-07:00   0   0  0.000000   7  74.200000  74.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 16:18:14-07:00  74.180000  74.180000  74.180000  32.000000
2018-05-08 16:19:14-07:00  73.966667  73.900000  74.166667  77.833990
2018-05-08 16:20:14-07:00  74.466667  74.466667  74.466667  32.000000
2018-05-08 16:21:14-07:00  74.233333  74.200000  74.300000  87.000789

                              t_std
time
2018-05-08 16:18:14-07:00  0.000000
2018-05-08 16:19:14-07:00  0.075768
2018-05-08 16:20:14-07:00  0.000000
2018-05-08 16:21:14-07:00  0.043644
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 17:36:14-07:00   0   0  0.000000  15  75.700000  75.700000
2018-05-08 17:36:14-07:00   0   0  0.000000  15  74.900000  74.900000
2018-05-08 17:37:14-07:00   0   0  0.333333   1  72.233333  72.233333
2018-05-08 17:38:14-07:00   0   0  0.000000  11  72.040000  72.400000

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-08 17:36:14-07:00  75.443333  75.300000  75.400000  87.66985  0.137679
2018-05-08 17:36:14-07:00  74.514667  74.300000  74.400000  87.66985  0.201688
2018-05-08 17:37:14-07:00  72.233333  72.233333  72.233333  87.66985  0.000000
2018-05-08 17:38:14-07:00  72.110909  71.900000  72.400000  87.66985  0.161440
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 18:51:14-07:00   0   1  2.000000  15  74.600000  74.900000
2018-05-08 18:51:14-07:00   0   0  0.000000  15  75.300000  75.900000
2018-05-08 18:55:14-07:00   0   0  0.333333   1  72.433333  72.433333
2018-05-08 18:55:14-07:00   0   0  0.000000  15  76.900000  77.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 18:51:14-07:00  74.665556  74.400000  74.400000  87.000789
2018-05-08 18:51:14-07:00  75.714667  75.300000  75.900000  87.000789
2018-05-08 18:55:14-07:00  72.433333  72.433333  72.433333  87.000789
2018-05-08 18:55:14-07:00  76.894444  76.800000  76.800000  86.867349

                              t_std
time
2018-05-08 18:51:14-07:00  0.165828
2018-05-08 18:51:14-07:00  0.228207
2018-05-08 18:55:14-07:00  0.000000
2018-05-08 18:55:14-07:00  0.067951
========
Action is by itself with action 0.800000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-08 19:06:14-07:00   0   1     2.0  15  74.40  74.40  74.400000  74.40
2018-05-08 19:06:14-07:00   0   0     0.0  15  75.90  75.90  75.771111  75.70
2018-05-08 19:06:14-07:00   0   0     0.8   1  72.22  72.22  72.220000  72.22
2018-05-08 19:06:14-07:00   0   0     0.0  15  74.90  74.90  74.257778  73.90

                           t_next      t_out         t_std
time
2018-05-08 19:06:14-07:00   74.40  86.500389  1.322959e-14
2018-05-08 19:06:14-07:00   75.70  86.500389  7.514595e-02
2018-05-08 19:06:14-07:00   72.22  86.500389  0.000000e+00
2018-05-08 19:06:14-07:00   73.90  86.500389  3.738621e-01
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 19:20:14-07:00   0   1  2.000000   9  72.600000  72.700000
2018-05-08 19:21:14-07:00   0   0  0.000000  15  75.700000  75.700000
2018-05-08 19:21:14-07:00   0   0  0.333333   1  74.233333  74.233333
2018-05-08 19:21:14-07:00   0   0  0.000000  15  73.800000  73.800000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 19:20:14-07:00  72.603704  72.400000  72.400000  86.055589
2018-05-08 19:21:14-07:00  75.517778  75.300000  75.300000  85.999989
2018-05-08 19:21:14-07:00  74.233333  74.233333  74.233333  85.999989
2018-05-08 19:21:14-07:00  73.654444  73.500000  73.500000  85.999989

                              t_std
time
2018-05-08 19:20:14-07:00  0.115944
2018-05-08 19:21:14-07:00  0.158636
2018-05-08 19:21:14-07:00  0.000000
2018-05-08 19:21:14-07:00  0.074154
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-08 19:36:14-07:00   0   0  0.000000  15  73.50  74.00  73.515556
2018-05-08 19:36:14-07:00   0   0  0.000000  15  75.25  75.25  75.105556
2018-05-08 19:40:14-07:00   0   0  1.333333   1  74.20  74.20  74.200000
2018-05-08 19:40:14-07:00   0   0  0.000000  15  76.40  76.80  76.433333

                           t_min  t_next      t_out     t_std
time
2018-05-08 19:36:14-07:00   73.4    74.0  84.333326  0.165828
2018-05-08 19:36:14-07:00   75.0    75.1  84.333326  0.084254
2018-05-08 19:40:14-07:00   74.2    74.2  84.333326  0.000000
2018-05-08 19:40:14-07:00   76.3    76.8  84.777769  0.160900

========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-08 20:07:14-07:00   0   1  2.000000   9  72.5   72.6  72.531481
2018-05-08 20:08:14-07:00   0   0  0.000000  15  74.0   74.1  73.804444
2018-05-08 20:08:14-07:00   0   0  1.333333   1  74.2   74.2  74.200000
2018-05-08 20:09:14-07:00   0   0  0.000000   6  74.2   74.3  74.236111

                           t_min  t_next      t_out     t_std
time
2018-05-08 20:07:14-07:00   72.3    72.3  83.499803  0.091099
2018-05-08 20:08:14-07:00   73.6    74.1  83.166445  0.207941
2018-05-08 20:08:14-07:00   74.2    74.2  83.499803  0.000000
2018-05-08 20:09:14-07:00   74.2    74.3  83.499803  0.045559
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 20:36:14-07:00   0   0  0.000000  15  75.300000  75.500000
2018-05-08 20:40:14-07:00   0   0  0.000000  15  76.300000  76.600000
2018-05-08 20:40:14-07:00   0   0  0.666667   1  72.266667  72.266667
2018-05-08 20:41:14-07:00   0   0  0.000000  15  72.000000  72.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 20:36:14-07:00  75.331111  75.200000  75.400000  80.333078
2018-05-08 20:40:14-07:00  76.431111  76.300000  76.300000  80.510822
2018-05-08 20:40:14-07:00  72.266667  72.266667  72.266667  80.333078
2018-05-08 20:41:14-07:00  72.064444  71.900000  72.300000  80.555257

                              t_std
time
2018-05-08 20:36:14-07:00  0.114482
2018-05-08 20:40:14-07:00  0.113996
2018-05-08 20:40:14-07:00  0.000000
2018-05-08 20:41:14-07:00  0.150292
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 21:21:14-07:00   1   0  1.000000   1  72.466667  72.466667
2018-05-08 21:21:14-07:00   0   0  0.000000  15  75.000000  75.300000
2018-05-08 21:21:14-07:00   0   0  0.666667   1  74.466667  74.466667
2018-05-08 21:21:14-07:00   0   0  0.000000  15  74.400000  75.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 21:21:14-07:00  72.466667  72.466667  72.466667  78.999775
2018-05-08 21:21:14-07:00  75.081111  74.900000  74.900000  78.999775
2018-05-08 21:21:14-07:00  74.466667  74.466667  74.466667  78.999775
2018-05-08 21:21:14-07:00  74.725556  74.400000  74.500000  78.999775

                              t_std
time
2018-05-08 21:21:14-07:00  0.000000
2018-05-08 21:21:14-07:00  0.155976
2018-05-08 21:21:14-07:00  0.000000
2018-05-08 21:21:14-07:00  0.205017
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 21:55:14-07:00   0   0  0.000000  15  72.050000  72.300000
2018-05-08 21:55:14-07:00   0   0  0.000000  15  75.800000  76.000000
2018-05-08 21:58:14-07:00   0   0  0.333333   1  74.150000  74.150000
2018-05-08 21:59:14-07:00   0   0  0.000000  15  73.933333  73.933333

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-08 21:55:14-07:00  71.971111  71.80  72.300000  72.599940  0.158051
2018-05-08 21:55:14-07:00  75.873333  75.70  76.000000  72.599940  0.133998
2018-05-08 21:58:14-07:00  74.150000  74.15  74.150000  78.999775  0.000000
2018-05-08 21:59:14-07:00  73.621111  73.50  73.733333  66.200105  0.149129
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 22:21:14-07:00   0   0  0.000000  15  75.000000  75.200000
2018-05-08 22:21:14-07:00   0   0  0.000000  15  74.600000  74.800000
2018-05-08 22:22:14-07:00   0   0  0.333333   1  72.166667  72.166667
2018-05-08 22:23:14-07:00   0   0  0.000000  15  71.940000  72.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 22:21:14-07:00  74.932667  74.600000  74.600000  78.000789
2018-05-08 22:21:14-07:00  74.572222  74.300000  74.300000  78.000789
2018-05-08 22:22:14-07:00  72.166667  72.166667  72.166667  78.000789
2018-05-08 22:23:14-07:00  71.972667  71.800000  72.300000  77.911420

                              t_std
time
2018-05-08 22:21:14-07:00  0.205928
2018-05-08 22:21:14-07:00  0.191260
2018-05-08 22:22:14-07:00  0.000000
2018-05-08 22:23:14-07:00  0.155493
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 22:28:14-07:00   0   1  2.000000   4  74.600000  74.600000
2018-05-08 22:28:14-07:00   0   0  0.000000  11  74.100000  74.300000
2018-05-08 22:32:14-07:00   0   0  0.666667   1  74.200000  74.200000
2018-05-08 22:33:14-07:00   0   0  0.000000  15  73.983333  73.983333

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-08 22:28:14-07:00  74.533333   74.4    74.4  78.000789  0.081650
2018-05-08 22:28:14-07:00  74.095455   74.0    74.3  77.817990  0.105431
2018-05-08 22:32:14-07:00  74.200000   74.2    74.2  78.000789  0.000000
2018-05-08 22:33:14-07:00  73.686667   73.5    73.6  77.464578  0.175984
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-08 22:48:14-07:00   0   0  0.000000  15  73.750000   74.3  74.087556
2018-05-08 22:51:14-07:00   0   0  0.000000  15  74.500000   75.0  74.720444
2018-05-08 22:51:14-07:00   0   0  0.666667   1  72.300000   72.3  72.300000
2018-05-08 22:51:14-07:00   0   0  0.000000  15  74.366667   74.6  74.388444

                           t_min  t_next      t_out     t_std
time
2018-05-08 22:48:14-07:00  73.75    74.3  77.866736  0.155103
2018-05-08 22:51:14-07:00  74.50    74.9  78.000789  0.208237
2018-05-08 22:51:14-07:00  72.30    72.3  78.000789  0.000000
2018-05-08 22:51:14-07:00  74.30    74.6  78.000789  0.129282
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 23:10:14-07:00   0   1  2.000000   3  74.500000  74.500000
2018-05-08 23:10:14-07:00   0   0  0.000000  15  75.300000  75.700000
2018-05-08 23:13:14-07:00   0   0  1.333333   1  74.266667  74.266667
2018-05-08 23:14:14-07:00   0   0  0.000000  15  74.133333  74.133333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 23:10:14-07:00  74.488889  74.466667  74.466667  76.999989
2018-05-08 23:10:14-07:00  75.417778  75.300000  75.700000  76.733109
2018-05-08 23:13:14-07:00  74.266667  74.266667  74.266667  76.999989
2018-05-08 23:14:14-07:00  73.655556  73.500000  73.600000  76.466229

                              t_std
time
2018-05-08 23:10:14-07:00  0.015713
2018-05-08 23:10:14-07:00  0.149377
2018-05-08 23:13:14-07:00  0.000000
2018-05-08 23:14:14-07:00  0.166741
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-08 23:54:14-07:00   0   1  2.000000   5  72.500000  72.600000
2018-05-08 23:55:14-07:00   0   0  0.000000  15  75.100000  75.400000
2018-05-08 23:59:14-07:00   0   0  0.666667   1  72.333333  72.333333
2018-05-08 23:59:14-07:00   0   0  0.000000   1  74.500000  74.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-08 23:54:14-07:00  72.570000  72.500000  72.600000  75.999189
2018-05-08 23:55:14-07:00  75.247778  75.100000  75.200000  75.599353
2018-05-08 23:59:14-07:00  72.333333  72.333333  72.333333  75.999189
2018-05-08 23:59:14-07:00  74.500000  74.500000  74.500000  75.999189

                              t_std
time
2018-05-08 23:54:14-07:00  0.040000
2018-05-08 23:55:14-07:00  0.108332
2018-05-08 23:59:14-07:00  0.000000
2018-05-08 23:59:14-07:00  0.000000
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 00:15:14-07:00   0   0  0.000000  15  72.100000  72.400000
2018-05-09 00:20:14-07:00   0   0  0.000000  15  73.600000  74.100000
2018-05-09 00:20:14-07:00   0   0  1.333333   1  74.433333  74.433333
2018-05-09 00:21:14-07:00   0   0  0.000000  15  74.800000  75.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 00:15:14-07:00  72.246667  72.100000  72.400000  73.600171
2018-05-09 00:20:14-07:00  73.808889  73.600000  74.100000  73.100375
2018-05-09 00:20:14-07:00  74.433333  74.433333  74.433333  74.499803
2018-05-09 00:21:14-07:00  74.690000  74.400000  74.400000  73.000416

                              t_std
time
2018-05-09 00:15:14-07:00  0.093333
2018-05-09 00:20:14-07:00  0.188254
2018-05-09 00:20:14-07:00  0.000000
2018-05-09 00:21:14-07:00  0.245839
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-09 00:43:14-07:00   0   1  2.000000   5  74.50  74.50  74.470000
2018-05-09 00:44:14-07:00   0   0  0.000000  15  71.98  71.98  71.806444
2018-05-09 00:48:14-07:00   0   0  1.333333   1  74.30  74.30  74.300000
2018-05-09 00:49:14-07:00   0   0  0.000000  15  74.10  74.25  74.081111

                           t_min  t_next      t_out     t_std
time
2018-05-09 00:43:14-07:00   74.4   74.40  72.666944  0.040000
2018-05-09 00:44:14-07:00   71.7   71.90  72.844796  0.084261
2018-05-09 00:48:14-07:00   74.3   74.30  72.666944  0.000000
2018-05-09 00:49:14-07:00   73.9   74.25  72.955953  0.104857

========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-09 01:04:14-07:00   0   0  0.000000   1  74.5   74.5  74.500000
2018-05-09 01:05:14-07:00   0   0  0.000000  15  74.3   74.4  74.367778
2018-05-09 01:05:14-07:00   0   0  1.333333   1  74.5   74.5  74.500000
2018-05-09 01:06:14-07:00   0   0  0.000000  15  74.4   74.4  74.198889

                           t_min  t_next      t_out     t_std
time
2018-05-09 01:04:14-07:00   74.5    74.5  73.000416  0.000000
2018-05-09 01:05:14-07:00   74.3    74.4  72.533376  0.045731
2018-05-09 01:05:14-07:00   74.5    74.5  73.000416  0.000000
2018-05-09 01:06:14-07:00   73.9    74.0  72.500016  0.202619
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt   t_in      t_max     t_mean  \
time
2018-05-09 01:06:14-07:00   0   1  2.000000   5  74.50  74.500000  74.456667
2018-05-09 01:10:14-07:00   0   0  0.000000  15  75.30  75.300000  75.007778
2018-05-09 01:11:14-07:00   0   0  0.333333   1  74.15  74.150000  74.150000
2018-05-09 01:12:14-07:00   0   0  0.000000  15  74.10  74.266667  74.067111

                           t_min     t_next      t_out     t_std
time
2018-05-09 01:06:14-07:00  74.40  74.400000  72.500016  0.046667
2018-05-09 01:10:14-07:00  74.80  74.800000  72.366577  0.195871
2018-05-09 01:11:14-07:00  74.15  74.150000  72.500016  0.000000
2018-05-09 01:12:14-07:00  73.90  74.266667  72.299857  0.116249
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-09 01:31:14-07:00   0   1  2.000000   5  74.5   74.5  74.472000
2018-05-09 01:35:14-07:00   0   0  0.000000  15  74.4   74.4  74.344000
2018-05-09 01:36:14-07:00   0   0  0.666667   1  74.2   74.2  74.200000
2018-05-09 01:36:14-07:00   0   0  0.000000  15  74.2   74.2  74.003111

                           t_min  t_next      t_out     t_std
time
2018-05-09 01:31:14-07:00   74.4    74.4  71.999617  0.039192
2018-05-09 01:35:14-07:00   74.3    74.3  71.069514  0.044392
2018-05-09 01:36:14-07:00   74.2    74.2  71.003078  0.000000
2018-05-09 01:36:14-07:00   73.9    74.0  71.003078  0.111763
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-09 02:02:14-07:00   0   0  0.000000  15  71.90  72.12  71.996889
2018-05-09 02:05:14-07:00   0   0  0.000000  15  74.30  74.30  74.261333
2018-05-09 02:05:14-07:00   0   0  1.666667   1  74.35  74.35  74.350000
2018-05-09 02:06:14-07:00   0   0  0.000000  15  74.10  74.10  73.988889

                           t_min  t_next      t_out     t_std
time
2018-05-09 02:02:14-07:00  71.90   72.12  56.233520  0.099565
2018-05-09 02:05:14-07:00  74.20   74.30  51.933676  0.045879
2018-05-09 02:05:14-07:00  74.35   74.35  71.999617  0.000000
2018-05-09 02:06:14-07:00  73.90   74.10  50.500394  0.076659
========
Action is by itself with action 1.600000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-09 02:36:14-07:00   0   0     0.0  15  74.90  74.90  74.495556  74.30
2018-05-09 02:36:14-07:00   0   0     0.0  15  74.40  74.40  74.056667  73.90
2018-05-09 02:37:14-07:00   0   0     1.6   1  74.34  74.34  74.340000  74.34
2018-05-09 02:38:14-07:00   0   0     0.0  15  74.10  74.10  73.973333  73.90

                           t_next      t_out     t_std
time
2018-05-09 02:36:14-07:00   74.40  68.330526  0.262993
2018-05-09 02:36:14-07:00   73.90  68.330526  0.200721
2018-05-09 02:37:14-07:00   74.34  68.330526  0.000000
2018-05-09 02:38:14-07:00   74.10  68.419894  0.070396
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 03:08:14-07:00   0   1  2.000000   4  74.600000  74.600000
2018-05-09 03:10:14-07:00   0   0  0.000000  15  75.000000  75.000000
2018-05-09 03:12:14-07:00   0   0  0.666667   1  74.166667  74.166667
2018-05-09 03:13:14-07:00   0   0  0.000000  15  74.100000  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 03:08:14-07:00  74.575000  74.500000  74.500000  67.999989
2018-05-09 03:10:14-07:00  74.765556  74.500000  74.500000  67.733109
2018-05-09 03:12:14-07:00  74.166667  74.166667  74.166667  67.999989
2018-05-09 03:13:14-07:00  73.987111  73.900000  74.100000  67.532949

                              t_std
time
2018-05-09 03:08:14-07:00  0.043301
2018-05-09 03:10:14-07:00  0.219972
2018-05-09 03:12:14-07:00  0.000000
2018-05-09 03:13:14-07:00  0.074534
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 04:51:14-07:00   0   0  0.000000  15  75.000000  75.000000
2018-05-09 04:51:14-07:00   0   0  0.000000  15  74.500000  74.500000
2018-05-09 04:54:14-07:00   0   0  1.333333   1  74.333333  74.333333
2018-05-09 04:55:14-07:00   0   0  0.000000  15  74.200000  74.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 04:51:14-07:00  74.502222  74.100000  74.100000  64.000416
2018-05-09 04:51:14-07:00  74.060000  73.700000  73.700000  64.000416
2018-05-09 04:54:14-07:00  74.333333  74.333333  74.333333  64.000416
2018-05-09 04:55:14-07:00  73.857778  73.700000  73.900000  59.467049

                              t_std
time
2018-05-09 04:51:14-07:00  0.371078
2018-05-09 04:51:14-07:00  0.328735
2018-05-09 04:54:14-07:00  0.000000
2018-05-09 04:55:14-07:00  0.133037
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 08:36:14-07:00   0   0  0.000000  15  74.800000  74.900000
2018-05-09 08:40:14-07:00   0   0  0.000000  15  74.500000  74.600000
2018-05-09 08:40:14-07:00   0   0  0.666667   1  72.533333  72.533333
2018-05-09 08:40:14-07:00   0   0  0.000000   8  74.400000  74.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 08:36:14-07:00  74.811111  74.800000  74.900000  65.999602
2018-05-09 08:40:14-07:00  74.564444  74.500000  74.600000  65.732882
2018-05-09 08:40:14-07:00  72.533333  72.533333  72.533333  65.999602
2018-05-09 08:40:14-07:00  74.481250  74.400000  74.500000  65.999602

                              t_std
time
2018-05-09 08:36:14-07:00  0.028974
2018-05-09 08:40:14-07:00  0.046295
2018-05-09 08:40:14-07:00  0.000000
2018-05-09 08:40:14-07:00  0.034799
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt  t_in      t_max     t_mean  \
time
2018-05-09 10:10:14-07:00   0   1  2.000000   6  71.5  71.500000  71.282222
2018-05-09 10:10:14-07:00   0   0  0.000000  15  72.1  72.366667  72.206667
2018-05-09 10:16:14-07:00   0   0  0.333333   1  70.3  70.300000  70.300000
2018-05-09 10:17:14-07:00   0   0  0.000000   5  70.3  70.900000  70.460000

                           t_min     t_next      t_out     t_std
time
2018-05-09 10:10:14-07:00  70.86  70.860000  50.999888  0.259106
2018-05-09 10:10:14-07:00  72.10  72.366667  56.066524  0.087305
2018-05-09 10:16:14-07:00  70.30  70.300000  50.999888  0.000000
2018-05-09 10:17:14-07:00  70.30  70.900000  54.799865  0.233238
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-09 10:21:14-07:00   0   0  0.000000  15  73.7  73.90  73.724444
2018-05-09 10:21:14-07:00   0   0  0.000000  15  74.1  74.40  74.248889
2018-05-09 10:22:14-07:00   0   0  1.333333   1  71.3  71.30  71.300000
2018-05-09 10:22:14-07:00   0   0  0.000000  15  73.9  74.05  73.993333

                           t_min  t_next      t_out     t_std
time
2018-05-09 10:21:14-07:00   73.6   73.60  69.999775  0.117515
2018-05-09 10:21:14-07:00   74.1   74.20  69.999775  0.106713
2018-05-09 10:22:14-07:00   71.3   71.30  69.999775  0.000000
2018-05-09 10:22:14-07:00   73.9   74.05  70.066447  0.030912
========
Action is by itself with action 0.400000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-09 10:28:14-07:00   1   0     1.0   1  70.30  70.30  70.300000  70.30
2018-05-09 10:29:14-07:00   0   0     0.0   6  70.10  71.00  70.405556  70.10
2018-05-09 10:32:14-07:00   0   0     0.4   1  72.26  72.26  72.260000  72.26
2018-05-09 10:33:14-07:00   0   0     0.0  15  72.00  72.10  71.851111  71.70

                           t_next      t_out     t_std
time
2018-05-09 10:28:14-07:00   70.30  69.999775  0.000000
2018-05-09 10:29:14-07:00   71.00  69.999775  0.363836
2018-05-09 10:32:14-07:00   72.26  69.999775  0.000000
2018-05-09 10:33:14-07:00   72.10  70.799835  0.147506
========
Action is by itself with action 0.666667 for data:

                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-09 10:50:14-07:00   0   0  0.000000  15  71.700000   72.3  72.035556
2018-05-09 10:51:14-07:00   0   0  0.000000  15  74.166667   74.2  74.133333
2018-05-09 10:51:14-07:00   0   0  0.666667   1  71.300000   71.3  71.300000
2018-05-09 10:51:14-07:00   0   0  0.000000  15  74.200000   74.3  74.251111

                           t_min  t_next      t_out     t_std
time
2018-05-09 10:50:14-07:00   71.7   72.30  70.066447  0.218909
2018-05-09 10:51:14-07:00   73.9   73.92  69.999775  0.100340
2018-05-09 10:51:14-07:00   71.3   71.30  69.999775  0.000000
2018-05-09 10:51:14-07:00   74.2   74.30  69.999775  0.047323
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt  t_in      t_max     t_mean  \
time
2018-05-09 11:21:14-07:00   0   0  0.000000  15  74.5  74.600000  74.528889
2018-05-09 11:22:14-07:00   0   0  0.000000  15  74.2  74.300000  74.235556
2018-05-09 11:23:14-07:00   0   0  1.666667   1  70.6  70.600000  70.600000
2018-05-09 11:24:14-07:00   0   0  0.000000   5  70.1  70.733333  70.322667

                           t_min     t_next      t_out     t_std
time
2018-05-09 11:21:14-07:00   74.5  74.600000  73.000416  0.043660
2018-05-09 11:22:14-07:00   74.2  74.300000  73.066851  0.046295
2018-05-09 11:23:14-07:00   70.6  70.600000  73.000416  0.000000
2018-05-09 11:24:14-07:00   70.1  70.733333  73.000416  0.252828
========
Action is by itself with action 1.200000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-09 11:36:14-07:00   0   0     0.0  15  74.60  74.80  74.641111  74.50
2018-05-09 11:37:14-07:00   0   0     0.0  15  74.30  74.40  74.310000  74.20
2018-05-09 11:37:14-07:00   0   0     1.2   1  72.38  72.38  72.380000  72.38
2018-05-09 11:37:14-07:00   0   0     0.0   5  70.10  70.70  70.280000  70.10

                           t_next      t_out     t_std
time
2018-05-09 11:36:14-07:00   74.80  73.996944  0.120626
2018-05-09 11:37:14-07:00   74.40  73.930509  0.082057
2018-05-09 11:37:14-07:00   72.38  73.996944  0.000000
2018-05-09 11:37:14-07:00   70.70  73.996944  0.240000
========
Action is by itself with action 0.400000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-09 12:51:14-07:00   0   0     0.0  15  75.000000  75.016667
2018-05-09 12:51:14-07:00   0   0     0.0  15  75.133333  75.400000
2018-05-09 12:54:14-07:00   0   0     0.4   1  70.140000  70.140000
2018-05-09 12:55:14-07:00   0   0     0.0   6  70.100000  70.800000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 12:51:14-07:00  74.945556  74.900000  75.016667  75.999189
2018-05-09 12:51:14-07:00  75.324444  75.133333  75.400000  75.999189
2018-05-09 12:54:14-07:00  70.140000  70.140000  70.140000  75.999189
2018-05-09 12:55:14-07:00  70.383333  70.100000  70.800000  75.999189

                              t_std
time
2018-05-09 12:51:14-07:00  0.048483
2018-05-09 12:51:14-07:00  0.099975
2018-05-09 12:54:14-07:00  0.000000
2018-05-09 12:55:14-07:00  0.296742
========
Action is by itself with action 1.600000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-09 13:06:14-07:00   0   0     0.0  15  75.100000  75.100000
2018-05-09 13:07:14-07:00   0   0     0.0  15  72.020000  72.100000
2018-05-09 13:07:14-07:00   0   0     1.6   1  70.820000  70.820000
2018-05-09 13:08:14-07:00   0   0     0.0   7  70.066667  70.333333

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-09 13:06:14-07:00  74.822667  74.60  74.800000  53.999595  0.177535
2018-05-09 13:07:14-07:00  71.872444  71.70  72.100000  55.599674  0.134084
2018-05-09 13:07:14-07:00  70.820000  70.82  70.820000  53.999595  0.000000
2018-05-09 13:08:14-07:00  70.030952  69.90  70.333333  53.999595  0.134054
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 13:07:14-07:00   0   0  1.600000   1  70.820000  70.820000
2018-05-09 13:08:14-07:00   0   0  0.000000   7  70.066667  70.333333
2018-05-09 13:09:14-07:00   0   0  0.333333   1  74.266667  74.266667
2018-05-09 13:10:14-07:00   0   0  0.000000  15  74.133333  74.350000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 13:07:14-07:00  70.820000  70.820000  70.820000  53.999595
2018-05-09 13:08:14-07:00  70.030952  69.900000  70.333333  53.999595
2018-05-09 13:09:14-07:00  74.266667  74.266667  74.266667  53.999595
2018-05-09 13:10:14-07:00  74.105556  73.900000  74.350000  60.399913

                              t_std
time
2018-05-09 13:07:14-07:00  0.000000
2018-05-09 13:08:14-07:00  0.134054
2018-05-09 13:09:14-07:00  0.000000
2018-05-09 13:10:14-07:00  0.154640
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 13:33:14-07:00   0   1  2.000000   7  74.500000  74.600000
2018-05-09 13:34:14-07:00   0   0  0.000000  15  72.100000  72.100000
2018-05-09 13:35:14-07:00   0   0  1.333333   1  74.366667  74.366667
2018-05-09 13:36:14-07:00   0   0  0.000000  15  75.200000  75.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 13:33:14-07:00  74.562857  74.500000  74.600000  78.572067
2018-05-09 13:34:14-07:00  71.908889  71.700000  72.100000  78.867227
2018-05-09 13:35:14-07:00  74.366667  74.366667  74.366667  78.000789
2018-05-09 13:36:14-07:00  74.893333  74.600000  74.750000  79.000526

                              t_std
time
2018-05-09 13:33:14-07:00  0.044630
2018-05-09 13:34:14-07:00  0.155619
2018-05-09 13:35:14-07:00  0.000000
2018-05-09 13:36:14-07:00  0.231565
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 13:36:14-07:00   0   0  0.000000  15  75.500000  75.500000
2018-05-09 13:36:14-07:00   0   0  0.000000  15  74.066667  74.066667
2018-05-09 13:38:14-07:00   0   0  1.666667   1  70.783333  70.783333
2018-05-09 13:39:14-07:00   0   0  0.000000   7  70.300000  70.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 13:36:14-07:00  75.375333  75.200000  75.200000  79.000526
2018-05-09 13:36:14-07:00  73.654444  73.400000  73.500000  79.000526
2018-05-09 13:38:14-07:00  70.783333  70.783333  70.783333  79.000526
2018-05-09 13:39:14-07:00  70.371429  70.300000  70.500000  79.000526

                              t_std
time
2018-05-09 13:36:14-07:00  0.120492
2018-05-09 13:36:14-07:00  0.240945
2018-05-09 13:38:14-07:00  0.000000
2018-05-09 13:39:14-07:00  0.088063
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 13:38:14-07:00   0   0  1.666667   1  70.783333  70.783333
2018-05-09 13:39:14-07:00   0   0  0.000000   7  70.300000  70.500000
2018-05-09 13:40:14-07:00   0   0  0.666667   1  74.266667  74.266667
2018-05-09 13:41:14-07:00   0   0  0.000000  15  74.050000  74.366667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 13:38:14-07:00  70.783333  70.783333  70.783333  79.000526
2018-05-09 13:39:14-07:00  70.371429  70.300000  70.500000  79.000526
2018-05-09 13:40:14-07:00  74.266667  74.266667  74.266667  79.000526
2018-05-09 13:41:14-07:00  74.107778  73.900000  74.366667  78.667280

                              t_std
time
2018-05-09 13:38:14-07:00  0.000000
2018-05-09 13:39:14-07:00  0.088063
2018-05-09 13:40:14-07:00  0.000000
2018-05-09 13:41:14-07:00  0.158800
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in      t_max     t_mean  \
time
2018-05-09 13:54:14-07:00   0   1  2.000000   6  72.6  72.600000  72.575000
2018-05-09 13:56:14-07:00   0   0  0.000000   7  74.4  74.500000  74.416667
2018-05-09 13:57:14-07:00   0   0  0.666667   1  70.5  70.500000  70.500000
2018-05-09 13:58:14-07:00   0   0  0.000000   5  70.3  70.633333  70.366667

                           t_min     t_next      t_out     t_std
time
2018-05-09 13:54:14-07:00   72.5  72.500000  78.000789  0.038188
2018-05-09 13:56:14-07:00   74.4  74.500000  78.000789  0.034503
2018-05-09 13:57:14-07:00   70.5  70.500000  78.000789  0.000000
2018-05-09 13:58:14-07:00   70.3  70.633333  78.000789  0.133333
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in      t_max     t_mean  \
time
2018-05-09 13:57:14-07:00   0   0  0.666667   1  70.50  70.500000  70.500000
2018-05-09 13:58:14-07:00   0   0  0.000000   5  70.30  70.633333  70.366667
2018-05-09 14:00:14-07:00   0   0  1.666667   1  72.45  72.450000  72.450000
2018-05-09 14:01:14-07:00   0   0  0.000000  15  72.10  72.100000  71.902222

                           t_min     t_next      t_out     t_std
time
2018-05-09 13:57:14-07:00  70.50  70.500000  78.000789  0.000000
2018-05-09 13:58:14-07:00  70.30  70.633333  78.000789  0.133333
2018-05-09 14:00:14-07:00  72.45  72.450000  78.000789  0.000000
2018-05-09 14:01:14-07:00  71.70  72.100000  63.666802  0.158916
========
Action is by itself with action 0.800000 for data:
                           a1  a2  action  dt   t_in      t_max     t_mean  \
time
2018-05-09 14:11:14-07:00   0   0     0.0   6  70.30  70.666667  70.405556
2018-05-09 14:12:14-07:00   0   0     0.0  15  74.10  74.450000  74.176667
2018-05-09 14:15:14-07:00   0   0     0.8   1  74.24  74.240000  74.240000
2018-05-09 14:16:14-07:00   0   0     0.0   3  72.20  72.400000  72.333333

                           t_min     t_next      t_out     t_std
time
2018-05-09 14:11:14-07:00  70.30  70.666667  56.499808  0.136649
2018-05-09 14:12:14-07:00  74.00  74.450000  66.299732  0.170598
2018-05-09 14:15:14-07:00  74.24  74.240000  56.499808  0.000000

2018-05-09 14:16:14-07:00  72.20  72.400000  56.499808  0.094281
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 14:21:14-07:00   0   0  0.000000  15  74.600000  75.100000
2018-05-09 14:27:14-07:00   0   0  0.000000   8  74.500000  74.500000
2018-05-09 14:28:14-07:00   0   0  1.333333   1  70.633333  70.633333
2018-05-09 14:29:14-07:00   0   0  0.000000   5  70.300000  70.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 14:21:14-07:00  74.911111  74.600000  74.933333  80.999617
2018-05-09 14:27:14-07:00  74.458333  74.400000  74.400000  80.999617
2018-05-09 14:28:14-07:00  70.633333  70.633333  70.633333  80.999617
2018-05-09 14:29:14-07:00  70.430000  70.300000  70.700000  80.999617

                              t_std
time
2018-05-09 14:21:14-07:00  0.117168
2018-05-09 14:27:14-07:00  0.046398
2018-05-09 14:28:14-07:00  0.000000
2018-05-09 14:29:14-07:00  0.140000
========
Action is by itself with action 1.600000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 14:28:14-07:00   0   0  1.333333   1  70.633333  70.633333
2018-05-09 14:29:14-07:00   0   0  0.000000   5  70.300000  70.700000
2018-05-09 14:30:14-07:00   0   0  1.600000   1  72.180000  72.180000
2018-05-09 14:31:14-07:00   0   0  0.000000   9  73.800000  74.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 14:28:14-07:00  70.633333  70.633333  70.633333  80.999617
2018-05-09 14:29:14-07:00  70.430000  70.300000  70.700000  80.999617
2018-05-09 14:30:14-07:00  72.180000  72.180000  72.180000  80.999617
2018-05-09 14:31:14-07:00  74.091111  73.800000  74.300000  81.147822

                              t_std
time
2018-05-09 14:28:14-07:00  0.000000
2018-05-09 14:29:14-07:00  0.140000
2018-05-09 14:30:14-07:00  0.000000
2018-05-09 14:31:14-07:00  0.166563
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 14:49:14-07:00   0   1  2.000000  11  71.500000  71.500000
2018-05-09 14:51:14-07:00   0   0  0.000000  15  74.500000  74.900000
2018-05-09 14:51:14-07:00   0   0  1.666667   1  72.366667  72.366667
2018-05-09 14:51:14-07:00   0   0  0.000000  15  74.500000  74.800000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 14:49:14-07:00  71.164242  70.800000  70.800000  81.060246
2018-05-09 14:51:14-07:00  74.767778  74.500000  74.900000  80.999617
2018-05-09 14:51:14-07:00  72.366667  72.366667  72.366667  80.999617
2018-05-09 14:51:14-07:00  74.641111  74.500000  74.600000  80.999617

                              t_std
time
2018-05-09 14:49:14-07:00  0.284655
2018-05-09 14:51:14-07:00  0.153776
2018-05-09 14:51:14-07:00  0.000000
2018-05-09 14:51:14-07:00  0.116883
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 14:52:14-07:00   0   0  0.000000  14  72.150000  72.400000
2018-05-09 14:57:14-07:00   0   0  0.000000  13  74.300000  74.300000
2018-05-09 15:00:14-07:00   0   0  0.333333   1  70.133333  70.133333
2018-05-09 15:01:14-07:00   0   0  0.000000   5  70.100000  70.900000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 14:52:14-07:00  72.038810  71.800000  72.400000  80.999617
2018-05-09 14:57:14-07:00  74.260256  74.200000  74.300000  81.153586
2018-05-09 15:00:14-07:00  70.133333  70.133333  70.133333  80.999617
2018-05-09 15:01:14-07:00  70.286667  70.100000  70.900000  80.999617

                              t_std
time
2018-05-09 14:52:14-07:00  0.198768
2018-05-09 14:57:14-07:00  0.046011
2018-05-09 15:00:14-07:00  0.000000
2018-05-09 15:01:14-07:00  0.310984
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt   t_in      t_max     t_mean  \
time
2018-05-09 15:01:14-07:00   0   0  0.000000   5  70.10  70.900000  70.286667
2018-05-09 15:03:14-07:00   0   0  0.000000   4  74.06  74.333333  74.248333
2018-05-09 15:06:14-07:00   0   0  1.333333   1  71.30  71.300000  71.300000
2018-05-09 15:06:14-07:00   0   0  0.000000  15  74.60  74.900000  74.722222

                           t_min     t_next      t_out     t_std
time
2018-05-09 15:01:14-07:00  70.10  70.900000  80.999617  0.310984
2018-05-09 15:03:14-07:00  74.06  74.333333  81.124717  0.109583
2018-05-09 15:06:14-07:00  71.30  71.300000  81.500016  0.000000
2018-05-09 15:06:14-07:00  74.40  74.400000  81.500016  0.184357
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 15:51:14-07:00   0   0  0.000000  15  74.600000  74.800000
2018-05-09 15:51:14-07:00   0   0  0.000000  15  74.900000  75.000000
2018-05-09 15:53:14-07:00   0   0  1.333333   1  70.366667  70.366667
2018-05-09 15:54:14-07:00   0   0  0.000000   3  70.300000  70.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 15:51:14-07:00  74.693333  74.600000  74.600000  82.000416
2018-05-09 15:51:14-07:00  74.898667  74.800000  74.800000  82.000416
2018-05-09 15:53:14-07:00  70.366667  70.366667  70.366667  82.000416
2018-05-09 15:54:14-07:00  70.366667  70.300000  70.500000  82.000416

                              t_std
time
2018-05-09 15:51:14-07:00  0.093650
2018-05-09 15:51:14-07:00  0.062501
2018-05-09 15:53:14-07:00  0.000000
2018-05-09 15:54:14-07:00  0.094281
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 16:03:14-07:00   0   0  0.800000   1  70.380000  70.380000
2018-05-09 16:04:14-07:00   0   0  0.000000   3  70.100000  70.166667
2018-05-09 16:05:14-07:00   0   0  0.666667   1  74.200000  74.200000
2018-05-09 16:06:14-07:00   0   0  0.000000  13  74.033333  74.200000

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-09 16:03:14-07:00  70.380000  70.38  70.380000  82.000416  0.000000
2018-05-09 16:04:14-07:00  70.122222  70.10  70.166667  74.000311  0.031427
2018-05-09 16:05:14-07:00  74.200000  74.20  74.200000  82.000416  0.000000
2018-05-09 16:06:14-07:00  73.937436  73.70  74.200000  58.000101  0.117801
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt   t_in      t_max     t_mean  \
time
2018-05-09 16:06:14-07:00   0   0  0.000000  15  74.10  74.220000  74.073556
2018-05-09 16:06:14-07:00   0   0  0.000000  15  74.80  74.900000  74.602667
2018-05-09 16:07:14-07:00   0   0  0.666667   1  70.40  70.400000  70.400000
2018-05-09 16:07:14-07:00   0   0  0.000000  14  72.05  72.266667  71.994524

                           t_min     t_next      t_out     t_std
time
2018-05-09 16:06:14-07:00   74.0  74.220000  58.000101  0.058226
2018-05-09 16:06:14-07:00   74.5  74.900000  58.000101  0.120691
2018-05-09 16:07:14-07:00   70.4  70.400000  58.000101  0.000000
2018-05-09 16:07:14-07:00   71.8  72.266667  58.000101  0.178600
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 16:20:14-07:00   0   1  2.000000   9  74.600000  74.900000
2018-05-09 16:21:14-07:00   0   0  0.000000  15  74.950000  75.200000
2018-05-09 16:21:14-07:00   0   0  0.333333   1  72.433333  72.433333
2018-05-09 16:21:14-07:00   0   0  0.000000  15  74.500000  74.800000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 16:20:14-07:00  74.761111  74.600000  74.700000  81.111302
2018-05-09 16:21:14-07:00  75.113333  74.950000  75.100000  84.000203
2018-05-09 16:21:14-07:00  72.433333  72.433333  72.433333  84.000203
2018-05-09 16:21:14-07:00  74.656667  74.500000  74.700000  84.000203

                              t_std
time
2018-05-09 16:20:14-07:00  0.132870
2018-05-09 16:21:14-07:00  0.093927
2018-05-09 16:21:14-07:00  0.000000
2018-05-09 16:21:14-07:00  0.098093
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-09 16:30:14-07:00   0   0  0.000000  12  74.066667   74.2  73.897222
2018-05-09 16:31:14-07:00   0   0  0.000000  14  72.200000   72.4  72.089286
2018-05-09 16:32:14-07:00   0   0  1.666667   1  70.400000   70.4  70.400000
2018-05-09 16:33:14-07:00   0   0  0.000000   3  70.300000   70.3  70.300000

                           t_min  t_next      t_out    t_std
time
2018-05-09 16:30:14-07:00   73.7    74.2  83.831836  0.16444
2018-05-09 16:31:14-07:00   71.9    72.4  83.783731  0.16757
2018-05-09 16:32:14-07:00   70.4    70.4  84.000203  0.00000
2018-05-09 16:33:14-07:00   70.3    70.3  84.000203  0.00000
========
Action is by itself with action 0.400000 for data:

                           a1  a2  action  dt  t_in  t_max     t_mean  \
time
2018-05-09 16:33:14-07:00   0   0     0.0   3  70.3   70.3  70.300000
2018-05-09 16:36:14-07:00   0   0     0.0  15  74.6   74.8  74.656444
2018-05-09 16:36:14-07:00   0   0     0.4   1  70.4   70.4  70.400000
2018-05-09 16:36:14-07:00   0   0     0.0   4  74.4   74.5  74.441667

                               t_min     t_next      t_out     t_std
time
2018-05-09 16:33:14-07:00  70.300000  70.300000  84.000203  0.000000
2018-05-09 16:36:14-07:00  74.466667  74.466667  83.663468  0.098789
2018-05-09 16:36:14-07:00  70.400000  70.400000  83.663468  0.000000
2018-05-09 16:36:14-07:00  74.400000  74.500000  83.663468  0.043301
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 16:51:14-07:00   0   0  0.000000  15  75.000000  75.000000
2018-05-09 16:51:14-07:00   0   0  0.000000  15  74.400000  74.450000
2018-05-09 16:52:14-07:00   0   0  1.666667   1  74.266667  74.266667
2018-05-09 16:53:14-07:00   0   0  0.000000  13  74.083333  74.250000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 16:51:14-07:00  74.913333  74.800000  75.000000  84.000203
2018-05-09 16:51:14-07:00  74.403333  74.400000  74.450000  84.000203
2018-05-09 16:52:14-07:00  74.266667  74.266667  74.266667  84.000203
2018-05-09 16:53:14-07:00  73.979487  73.900000  74.250000  84.000203

                              t_std
time
2018-05-09 16:51:14-07:00  0.083267
2018-05-09 16:51:14-07:00  0.012472
2018-05-09 16:52:14-07:00  0.000000
2018-05-09 16:53:14-07:00  0.095665
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 16:53:14-07:00   0   0  0.000000  13  74.083333  74.250000
2018-05-09 16:55:14-07:00   0   0  0.000000  13  72.183333  72.300000
2018-05-09 17:01:14-07:00   0   0  1.333333   1  70.366667  70.366667
2018-05-09 17:01:14-07:00   0   0  0.000000  15  74.200000  74.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 16:53:14-07:00  73.979487  73.900000  74.250000  84.000203
2018-05-09 16:55:14-07:00  72.078205  71.900000  72.300000  83.923218
2018-05-09 17:01:14-07:00  70.366667  70.366667  70.366667  84.000203
2018-05-09 17:01:14-07:00  74.346667  74.200000  74.500000  83.666603

                              t_std
time
2018-05-09 16:53:14-07:00  0.095665
2018-05-09 16:55:14-07:00  0.137652
2018-05-09 17:01:14-07:00  0.000000
2018-05-09 17:01:14-07:00  0.122807
========
Action is by itself with action 1.600000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-09 17:16:14-07:00   0   0     0.0  10  74.500000  74.500000
2018-05-09 17:17:14-07:00   0   0     0.0  11  74.033333  74.266667
2018-05-09 17:18:14-07:00   0   0     1.6   1  72.440000  72.440000
2018-05-09 17:19:14-07:00   0   0     0.0  13  72.166667  72.400000

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-09 17:16:14-07:00  74.440333  74.40  74.500000  83.249603  0.045909
2018-05-09 17:17:14-07:00  73.991515  73.90  74.266667  83.181367  0.098230
2018-05-09 17:18:14-07:00  72.440000  72.44  72.440000  83.499803  0.000000
2018-05-09 17:19:14-07:00  72.103590  71.90  72.400000  83.076388  0.165640
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in  t_max    t_mean  \
time
2018-05-09 17:18:14-07:00   0   0  1.600000   1  72.440000  72.44  72.44000
2018-05-09 17:19:14-07:00   0   0  0.000000  13  72.166667  72.40  72.10359
2018-05-09 17:20:14-07:00   0   0  0.333333   1  70.300000  70.30  70.30000
2018-05-09 17:21:14-07:00   0   0  0.000000   3  70.300000  70.30  70.30000

                           t_min  t_next      t_out    t_std
time
2018-05-09 17:18:14-07:00  72.44   72.44  83.499803  0.00000
2018-05-09 17:19:14-07:00  71.90   72.40  83.076388  0.16564
2018-05-09 17:20:14-07:00  70.30   70.30  83.499803  0.00000
2018-05-09 17:21:14-07:00  70.30   70.30  82.999403  0.00000
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 17:36:14-07:00   0   0  0.000000  15  74.900000  74.900000
2018-05-09 17:36:14-07:00   0   0  0.000000  15  74.300000  74.500000
2018-05-09 17:38:14-07:00   0   0  1.666667   1  74.350000  74.350000
2018-05-09 17:39:14-07:00   0   0  0.000000  11  74.083333  74.333333

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-09 17:36:14-07:00  74.736667  74.60  74.800000  82.996269  0.110252
2018-05-09 17:36:14-07:00  74.380000  74.30  74.500000  82.996269  0.054160
2018-05-09 17:38:14-07:00  74.350000  74.35  74.350000  82.996269  0.000000
2018-05-09 17:39:14-07:00  74.001515  73.90  74.333333  82.996269  0.118162
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 17:57:14-07:00   0   0  0.333333   1  70.233333  70.233333
2018-05-09 17:58:14-07:00   0   0  0.000000   4  70.100000  70.300000
2018-05-09 17:58:14-07:00   0   0  1.333333   1  74.300000  74.300000
2018-05-09 17:59:14-07:00   0   0  0.000000  15  74.100000  74.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 17:57:14-07:00  70.233333  70.233333  70.233333  82.999403
2018-05-09 17:58:14-07:00  70.208333  70.100000  70.300000  82.999403
2018-05-09 17:58:14-07:00  74.300000  74.300000  74.300000  82.999403
2018-05-09 17:59:14-07:00  74.087778  73.900000  74.300000  82.999403

                              t_std
time
2018-05-09 17:57:14-07:00  0.000000
2018-05-09 17:58:14-07:00  0.092421
2018-05-09 17:58:14-07:00  0.000000
2018-05-09 17:59:14-07:00  0.121483
========
Action is by itself with action 0.800000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-09 18:21:14-07:00   0   0     0.0  15  74.50  74.50  74.500000  74.50
2018-05-09 18:21:14-07:00   0   0     0.0  15  74.80  74.80  74.570000  74.50
2018-05-09 18:24:14-07:00   0   0     0.8   1  74.24  74.24  74.240000  74.24
2018-05-09 18:25:14-07:00   0   0     0.0  12  74.10  74.40  74.008333  73.90

                           t_next      t_out     t_std
time
2018-05-09 18:21:14-07:00   74.50  82.999403  0.000000
2018-05-09 18:21:14-07:00   74.50  82.999403  0.091732
2018-05-09 18:24:14-07:00   74.24  82.999403  0.000000
2018-05-09 18:25:14-07:00   74.40  82.943864  0.131145
========
Action is by itself with action 0.800000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-09 18:45:14-07:00   1   0     1.0   1  74.30  74.30  74.300000  74.30
2018-05-09 18:46:14-07:00   0   0     0.0  14  74.20  74.30  74.061429  73.90
2018-05-09 18:47:14-07:00   0   0     0.8   1  74.24  74.24  74.240000  74.24
2018-05-09 18:48:14-07:00   0   0     0.0  11  74.10  74.10  73.963636  73.90

                           t_next      t_out     t_std
time
2018-05-09 18:45:14-07:00   74.30  82.332935  0.000000
2018-05-09 18:46:14-07:00   74.30  82.761379  0.124879
2018-05-09 18:47:14-07:00   74.24  82.332935  0.000000
2018-05-09 18:48:14-07:00   74.00  82.817639  0.062287
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 18:47:14-07:00   0   0  0.800000   1  74.240000  74.240000
2018-05-09 18:48:14-07:00   0   0  0.000000  11  74.100000  74.100000
2018-05-09 18:50:14-07:00   0   0  1.666667   1  70.766667  70.766667
2018-05-09 18:51:14-07:00   0   0  0.000000  15  75.000000  75.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 18:47:14-07:00  74.240000  74.240000  74.240000  82.332935
2018-05-09 18:48:14-07:00  73.963636  73.900000  74.000000  82.817639
2018-05-09 18:50:14-07:00  70.766667  70.766667  70.766667  82.332935
2018-05-09 18:51:14-07:00  75.090000  75.000000  75.400000  82.999403

                              t_std
time
2018-05-09 18:47:14-07:00  0.000000
2018-05-09 18:48:14-07:00  0.062287
2018-05-09 18:50:14-07:00  0.000000
2018-05-09 18:51:14-07:00  0.131909
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 18:51:14-07:00   0   0  0.000000   7  70.100000  70.100000
2018-05-09 18:51:14-07:00   0   0  0.000000  15  74.900000  75.400000
2018-05-09 18:52:14-07:00   0   0  0.666667   1  72.233333  72.233333
2018-05-09 18:53:14-07:00   0   0  0.000000  13  71.980000  72.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 18:51:14-07:00  70.037143  70.000000  70.000000  82.999403
2018-05-09 18:51:14-07:00  75.078222  74.900000  75.400000  82.999403
2018-05-09 18:52:14-07:00  72.233333  72.233333  72.233333  82.999403
2018-05-09 18:53:14-07:00  72.008718  71.800000  72.400000  82.999403

                              t_std
time
2018-05-09 18:51:14-07:00  0.044630
2018-05-09 18:51:14-07:00  0.148981
2018-05-09 18:52:14-07:00  0.000000
2018-05-09 18:53:14-07:00  0.191590
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-09 19:21:14-07:00   0   0  0.000000  15  75.3   75.5  75.418889
2018-05-09 19:21:14-07:00   0   0  0.000000  15  75.4   75.5  75.442222
2018-05-09 19:22:14-07:00   0   0  1.666667   1  70.8   70.8  70.800000
2018-05-09 19:23:14-07:00   0   0  0.000000   6  70.3   70.3  70.066667

                           t_min     t_next      t_out     t_std
time
2018-05-09 19:21:14-07:00   75.3  75.466667  80.999617  0.064655
2018-05-09 19:21:14-07:00   75.4  75.500000  80.999617  0.044666
2018-05-09 19:22:14-07:00   70.8  70.800000  80.999617  0.000000
2018-05-09 19:23:14-07:00   70.0  70.000000  80.999617  0.110554
========
Action is by itself with action 1.200000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-09 19:32:14-07:00   0   0     1.2   1  74.44  74.44  74.440000  74.44
2018-05-09 19:33:14-07:00   0   0     0.0  15  74.05  74.05  73.847778  73.70
2018-05-09 19:36:14-07:00   0   0     1.2   1  70.60  70.60  70.600000  70.60
2018-05-09 19:36:14-07:00   0   0     0.0  15  75.50  75.50  75.484000  75.40

                           t_next      t_out     t_std
time
2018-05-09 19:32:14-07:00   74.44  80.999617  0.000000
2018-05-09 19:33:14-07:00   74.00  79.933052  0.142448
2018-05-09 19:36:14-07:00   70.60  79.666411  0.000000
2018-05-09 19:36:14-07:00   75.40  79.666411  0.034409
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-09 19:46:14-07:00   0   0  0.000000  13  74.10   74.4  74.053846
2018-05-09 19:48:14-07:00   0   0  0.000000   2  74.08   74.4  74.240000
2018-05-09 19:48:14-07:00   0   0  0.666667   1  70.50   70.5  70.500000
2018-05-09 19:49:14-07:00   0   0  0.000000   6  70.30   70.3  70.058333

                           t_min  t_next      t_out     t_std
time
2018-05-09 19:46:14-07:00  73.90    74.4  80.486845  0.137461
2018-05-09 19:48:14-07:00  74.08    74.4  79.666411  0.160000
2018-05-09 19:48:14-07:00  70.50    70.5  79.666411  0.000000
2018-05-09 19:49:14-07:00  70.00    70.0  80.555215  0.109608

========
Action is by itself with action 1.600000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-09 20:04:14-07:00   1   0     1.0   1  72.30  72.30  72.300000  72.30
2018-05-09 20:05:14-07:00   0   0     0.0  15  72.15  72.30  72.058889  71.90
2018-05-09 20:05:14-07:00   0   0     1.6   1  74.52  74.52  74.520000  74.52
2018-05-09 20:06:14-07:00   0   0     0.0  15  75.50  75.50  75.358000  75.30

                           t_next      t_out     t_std
time
2018-05-09 20:04:14-07:00   72.30  80.999617  0.000000
2018-05-09 20:05:14-07:00   72.30  79.133124  0.147431
2018-05-09 20:05:14-07:00   74.52  80.999617  0.000000
2018-05-09 20:06:14-07:00   75.40  78.999803  0.071386
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-09 20:19:14-07:00   0   0  0.000000   7  70.1   70.3  70.214286
2018-05-09 20:20:14-07:00   0   0  0.000000   1  72.3   72.3  72.300000
2018-05-09 20:21:14-07:00   0   0  0.333333   1  72.4   72.4  72.400000
2018-05-09 20:21:14-07:00   0   0  0.000000  15  75.5   75.5  75.461333

                           t_min  t_next      t_out     t_std
time
2018-05-09 20:19:14-07:00   70.1   70.30  77.571364  0.098974
2018-05-09 20:20:14-07:00   72.3   72.30  78.999803  0.000000
2018-05-09 20:21:14-07:00   72.4   72.40  76.999989  0.000000
2018-05-09 20:21:14-07:00   75.4   75.42  76.999989  0.045604
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 20:29:14-07:00   1   0  1.000000   1  72.250000  72.250000
2018-05-09 20:30:14-07:00   0   0  0.000000  15  72.050000  72.300000
2018-05-09 20:31:14-07:00   0   0  1.666667   1  74.433333  74.433333
2018-05-09 20:32:14-07:00   0   0  0.000000  15  74.100000  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 20:29:14-07:00  72.250000  72.250000  72.250000  76.999989
2018-05-09 20:30:14-07:00  71.996667  71.800000  72.300000  76.397991
2018-05-09 20:31:14-07:00  74.433333  74.433333  74.433333  76.999989
2018-05-09 20:32:14-07:00  73.895111  73.700000  74.000000  76.264214

                              t_std
time
2018-05-09 20:29:14-07:00  0.000000
2018-05-09 20:30:14-07:00  0.173654
2018-05-09 20:31:14-07:00  0.000000
2018-05-09 20:32:14-07:00  0.139262
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 20:31:14-07:00   0   0  1.666667   1  74.433333  74.433333
2018-05-09 20:32:14-07:00   0   0  0.000000  15  74.100000  74.100000
2018-05-09 20:34:14-07:00   0   0  1.333333   1  70.366667  70.366667
2018-05-09 20:35:14-07:00   0   0  0.000000   9  70.100000  70.150000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 20:31:14-07:00  74.433333  74.433333  74.433333  76.999989
2018-05-09 20:32:14-07:00  73.895111  73.700000  74.000000  76.264214
2018-05-09 20:34:14-07:00  70.366667  70.366667  70.366667  76.999989
2018-05-09 20:35:14-07:00  69.964815  69.800000  70.150000  76.108140

                              t_std
time
2018-05-09 20:31:14-07:00  0.000000
2018-05-09 20:32:14-07:00  0.139262
2018-05-09 20:34:14-07:00  0.000000
2018-05-09 20:35:14-07:00  0.119785
========
Action is by itself with action 1.200000 for data:
                           a1  a2  action  dt   t_in      t_max     t_mean  \
time
2018-05-09 20:36:14-07:00   0   0     0.0  15  75.70  75.700000  75.273333
2018-05-09 20:40:14-07:00   0   0     0.0  10  74.00  74.366667  74.166667
2018-05-09 20:44:14-07:00   0   0     1.2   1  71.08  71.080000  71.080000
2018-05-09 20:45:14-07:00   0   0     0.0   3  72.30  72.300000  72.300000

                           t_min     t_next      t_out     t_std
time
2018-05-09 20:36:14-07:00  75.10  75.300000  75.996659  0.157386
2018-05-09 20:40:14-07:00  74.00  74.366667  75.996659  0.150555
2018-05-09 20:44:14-07:00  71.08  71.080000  75.996659  0.000000
2018-05-09 20:45:14-07:00  72.30  72.300000  75.996659  0.000000
========
Action is by itself with action 1.200000 for data:
                           a1  a2  action  dt       t_in  t_max     t_mean  \
time
2018-05-09 21:06:14-07:00   0   0     0.0  15  75.200000   75.4  75.253333
2018-05-09 21:06:14-07:00   0   0     0.0  15  75.200000   75.2  75.154444
2018-05-09 21:07:14-07:00   0   0     1.2   1  70.600000   70.6  70.600000
2018-05-09 21:08:14-07:00   0   0     0.0   8  70.233333   70.3  70.043750

                           t_min  t_next      t_out     t_std
time
2018-05-09 21:06:14-07:00   75.2    75.4  75.499696  0.061824
2018-05-09 21:06:14-07:00   75.1    75.2  75.499696  0.047323
2018-05-09 21:07:14-07:00   70.6    70.6  75.499696  0.000000
2018-05-09 21:08:14-07:00   69.9    70.3  75.499696  0.135128
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 21:24:14-07:00   0   0  0.000000   8  70.033333  70.100000
2018-05-09 21:27:14-07:00   0   0  0.000000   4  74.483333  74.483333
2018-05-09 21:28:14-07:00   0   0  0.666667   1  74.200000  74.200000
2018-05-09 21:29:14-07:00   0   0  0.000000  15  73.983333  73.983333

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-09 21:24:14-07:00  70.029167   69.9    70.1  73.999403  0.082390
2018-05-09 21:27:14-07:00  74.420833   74.4    74.4  73.999403  0.036084
2018-05-09 21:28:14-07:00  74.200000   74.2    74.2  73.999403  0.000000
2018-05-09 21:29:14-07:00  73.618889   73.4    73.5  73.467954  0.220090
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-09 21:36:14-07:00   0   0  0.000000  15  75.20  75.30  75.096667
2018-05-09 21:36:14-07:00   0   0  0.000000  15  75.30  75.30  75.020889
2018-05-09 21:37:14-07:00   0   0  0.333333   1  74.25  74.25  74.250000
2018-05-09 21:38:14-07:00   0   0  0.000000  15  74.15  74.15  73.797778

                           t_min  t_next      t_out     t_std
time
2018-05-09 21:36:14-07:00  74.90   74.90  73.002935  0.169771
2018-05-09 21:36:14-07:00  74.80   74.80  73.002935  0.198433
2018-05-09 21:37:14-07:00  74.25   74.25  73.002935  0.000000
2018-05-09 21:38:14-07:00  73.50   74.00  73.135798  0.213165
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-09 21:51:14-07:00   0   1  2.000000   5  71.00  71.00  70.960000
2018-05-09 21:53:14-07:00   0   0  0.000000  15  74.00  74.30  74.193333
2018-05-09 21:54:14-07:00   0   0  1.666667   1  72.45  72.45  72.450000
2018-05-09 21:55:14-07:00   0   0  0.000000  15  72.10  72.10  71.930000

                           t_min  t_next      t_out     t_std
time
2018-05-09 21:51:14-07:00  70.80   70.80  73.999403  0.080000
2018-05-09 21:53:14-07:00  74.00   74.30  71.199443  0.095994
2018-05-09 21:54:14-07:00  72.45   72.45  73.999403  0.000000
2018-05-09 21:55:14-07:00  71.80   72.10  68.399483  0.132805
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-09 21:54:14-07:00   0   0  1.666667   1  72.45  72.45  72.450000
2018-05-09 21:55:14-07:00   0   0  0.000000  15  72.10  72.10  71.930000
2018-05-09 21:56:14-07:00   0   0  1.333333   1  70.50  70.50  70.500000
2018-05-09 21:57:14-07:00   0   0  0.000000   9  70.00  70.00  69.961111

                           t_min  t_next      t_out     t_std
time
2018-05-09 21:54:14-07:00  72.45   72.45  73.999403  0.000000
2018-05-09 21:55:14-07:00  71.80   72.10  68.399483  0.132805
2018-05-09 21:56:14-07:00  70.50   70.50  73.999403  0.000000
2018-05-09 21:57:14-07:00  69.90   70.00  73.999403  0.045812
========
Action is by itself with action 0.333333 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 22:10:14-07:00   0   0  0.000000  12  72.120000  72.500000
2018-05-09 22:10:14-07:00   0   0  0.000000  15  74.080000  74.080000
2018-05-09 22:12:14-07:00   0   0  0.333333   1  70.233333  70.233333
2018-05-09 22:13:14-07:00   0   0  0.000000   8  69.900000  70.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 22:10:14-07:00  72.307778  72.120000  72.500000  54.499779
2018-05-09 22:10:14-07:00  73.573111  73.400000  73.600000  57.799949
2018-05-09 22:12:14-07:00  70.233333  70.233333  70.233333  52.999702
2018-05-09 22:13:14-07:00  69.925000  69.800000  70.000000  52.999702

                              t_std
time
2018-05-09 22:10:14-07:00  0.120087
2018-05-09 22:10:14-07:00  0.209735
2018-05-09 22:12:14-07:00  0.000000
2018-05-09 22:13:14-07:00  0.082916
========
Action is by itself with action 0.400000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 22:12:14-07:00   0   0  0.333333   1  70.233333  70.233333
2018-05-09 22:13:14-07:00   0   0  0.000000   8  69.900000  70.000000
2018-05-09 22:21:14-07:00   0   0  0.400000   1  70.800000  70.800000
2018-05-09 22:21:14-07:00   0   0  0.000000  15  75.100000  75.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 22:12:14-07:00  70.233333  70.233333  70.233333  52.999702
2018-05-09 22:13:14-07:00  69.925000  69.800000  70.000000  52.999702
2018-05-09 22:21:14-07:00  70.800000  70.800000  70.800000  71.000630
2018-05-09 22:21:14-07:00  75.165556  75.100000  75.100000  71.000630

                              t_std
time
2018-05-09 22:12:14-07:00  0.000000
2018-05-09 22:13:14-07:00  0.082916
2018-05-09 22:21:14-07:00  0.000000
2018-05-09 22:21:14-07:00  0.044082
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 22:38:14-07:00   0   0  0.000000  15  74.440000  74.500000
2018-05-09 22:40:14-07:00   0   0  0.000000  15  74.100000  74.466667
2018-05-09 22:42:14-07:00   0   0  1.333333   1  70.633333  70.633333
2018-05-09 22:43:14-07:00   0   0  0.000000   9  70.100000  70.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 22:38:14-07:00  74.402000  74.300000  74.300000  70.133781
2018-05-09 22:40:14-07:00  74.310667  74.100000  74.466667  70.267143
2018-05-09 22:42:14-07:00  70.633333  70.633333  70.633333  70.000420
2018-05-09 22:43:14-07:00  69.946296  69.800000  70.000000  70.111554

                              t_std
time
2018-05-09 22:38:14-07:00  0.075560
2018-05-09 22:40:14-07:00  0.114537
2018-05-09 22:42:14-07:00  0.000000
2018-05-09 22:43:14-07:00  0.098688
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-09 22:51:14-07:00   0   0  0.000000  15  74.60   74.8  74.680000
2018-05-09 22:51:14-07:00   0   0  0.000000  15  75.10   75.1  75.063333
2018-05-09 22:52:14-07:00   0   0  0.333333   1  70.80   70.8  70.800000
2018-05-09 22:53:14-07:00   0   0  0.000000  15  74.35   74.4  74.350000

                           t_min  t_next      t_out     t_std
time
2018-05-09 22:51:14-07:00   74.6   74.60  71.000630  0.094124
2018-05-09 22:51:14-07:00   75.0   75.00  71.000630  0.046428
2018-05-09 22:52:14-07:00   70.8   70.80  71.000630  0.000000
2018-05-09 22:53:14-07:00   74.3   74.35  68.200545  0.044721
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-09 22:53:14-07:00   0   1  2.000000   5  71.20  71.20  71.100000
2018-05-09 22:55:14-07:00   0   0  0.000000  10  74.50  74.50  74.500000
2018-05-09 22:58:14-07:00   0   0  0.333333   1  70.35  70.35  70.350000
2018-05-09 22:59:14-07:00   0   0  0.000000   9  69.90  70.90  70.066667

                           t_min  t_next      t_out     t_std
time
2018-05-09 22:53:14-07:00  70.70   70.70  71.000630  0.200000
2018-05-09 22:55:14-07:00  74.50   74.50  71.000630  0.000000
2018-05-09 22:58:14-07:00  70.35   70.35  71.000630  0.000000
2018-05-09 22:59:14-07:00  69.90   70.90  66.333822  0.298142
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-09 23:10:14-07:00   0   0  0.000000  15  72.100000  72.100000
2018-05-09 23:10:14-07:00   0   0  0.000000  15  73.933333  73.933333
2018-05-09 23:13:14-07:00   0   0  1.333333   1  70.633333  70.633333
2018-05-09 23:14:14-07:00   0   0  0.000000  10  70.100000  70.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-09 23:10:14-07:00  71.853333  71.700000  71.966667  54.799993
2018-05-09 23:10:14-07:00  73.445556  73.300000  73.400000  54.799993
2018-05-09 23:13:14-07:00  70.633333  70.633333  70.633333  49.999995
2018-05-09 23:14:14-07:00  69.930000  69.800000  70.000000  55.399993

                              t_std
time
2018-05-09 23:10:14-07:00  0.111422
2018-05-09 23:10:14-07:00  0.196494
2018-05-09 23:13:14-07:00  0.000000
2018-05-09 23:14:14-07:00  0.110000
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-09 23:21:14-07:00   0   0  0.000000  15  74.4   74.6  74.498889
2018-05-09 23:23:14-07:00   0   0  0.000000  15  74.3   74.4  74.315556
2018-05-09 23:24:14-07:00   0   0  1.333333   1  71.0   71.0  71.000000
2018-05-09 23:25:14-07:00   0   0  0.000000  15  72.1   72.3  72.192222

                           t_min     t_next      t_out     t_std
time
2018-05-09 23:21:14-07:00   74.4  74.533333  67.999989  0.077092
2018-05-09 23:23:14-07:00   74.2  74.200000  67.955101  0.066518
2018-05-09 23:24:14-07:00   71.0  71.000000  67.999989  0.000000
2018-05-09 23:25:14-07:00   72.1  72.300000  67.910212  0.071198
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 00:40:14-07:00   0   0  0.000000  15  74.000000  74.000000
2018-05-10 00:47:14-07:00   0   0  0.000000  15  71.800000  72.100000
2018-05-10 00:50:14-07:00   0   0  0.666667   1  70.933333  70.933333
2018-05-10 00:51:14-07:00   0   0  0.000000  15  74.100000  74.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 00:40:14-07:00  73.992222  73.900000  73.900000  66.996943
2018-05-10 00:47:14-07:00  71.924444  71.800000  72.100000  66.998373
2018-05-10 00:50:14-07:00  70.933333  70.933333  70.933333  66.996126
2018-05-10 00:51:14-07:00  74.122222  74.000000  74.000000  66.999189

                              t_std
time
2018-05-10 00:40:14-07:00  0.024994
2018-05-10 00:47:14-07:00  0.100714
2018-05-10 00:50:14-07:00  0.000000
2018-05-10 00:51:14-07:00  0.059213
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 01:10:14-07:00   0   1  2.000000   4  71.200000  71.200000
2018-05-10 01:10:14-07:00   0   0  0.000000  15  73.700000  73.700000
2018-05-10 01:14:14-07:00   0   0  1.666667   1  70.766667  70.766667
2018-05-10 01:15:14-07:00   0   0  0.000000  14  69.966667  70.800000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 01:10:14-07:00  71.150000  71.000000  71.000000  49.499595
2018-05-10 01:10:14-07:00  73.700000  73.700000  73.700000  54.166153
2018-05-10 01:14:14-07:00  70.766667  70.766667  70.766667  49.499595
2018-05-10 01:15:14-07:00  70.079048  69.800000  70.800000  59.499363

                                  t_std
time
2018-05-10 01:10:14-07:00  8.660254e-02
2018-05-10 01:10:14-07:00  1.421085e-14
2018-05-10 01:14:14-07:00  0.000000e+00
2018-05-10 01:15:14-07:00  2.898013e-01
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in      t_max     t_mean  \
time
2018-05-10 01:30:14-07:00   0   1  2.000000   4  71.2  71.200000  71.095833
2018-05-10 01:32:14-07:00   0   0  0.000000  15  72.2  72.200000  72.200000
2018-05-10 01:34:14-07:00   0   0  0.666667   1  70.3  70.300000  70.300000
2018-05-10 01:35:14-07:00   0   0  0.000000  14  69.9  70.833333  70.089286

                               t_min     t_next      t_out         t_std
time
2018-05-10 01:30:14-07:00  70.783333  70.783333  66.999189  1.804220e-01
2018-05-10 01:32:14-07:00  72.200000  72.200000  66.996943  1.421085e-14
2018-05-10 01:34:14-07:00  70.300000  70.300000  66.999189  0.000000e+00
2018-05-10 01:35:14-07:00  69.800000  70.833333  66.996345  3.158264e-01
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 01:51:14-07:00   0   0  0.000000  15  74.400000  74.500000
2018-05-10 01:53:14-07:00   0   0  0.000000  15  73.700000  73.700000
2018-05-10 01:53:14-07:00   0   0  0.666667   1  70.366667  70.366667
2018-05-10 01:54:14-07:00   0   0  0.000000  13  70.033333  70.750000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 01:51:14-07:00  74.434000  74.400000  74.400000  66.999189
2018-05-10 01:53:14-07:00  73.577778  73.500000  73.600000  64.665910
2018-05-10 01:53:14-07:00  70.366667  70.366667  70.366667  66.999189
2018-05-10 01:54:14-07:00  69.998718  69.700000  70.750000  65.653067

                              t_std
time
2018-05-10 01:51:14-07:00  0.043787
2018-05-10 01:53:14-07:00  0.056982
2018-05-10 01:53:14-07:00  0.000000
2018-05-10 01:54:14-07:00  0.340089

========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 02:31:14-07:00   0   1  2.000000   4  71.200000  71.200000
2018-05-10 02:32:14-07:00   0   0  0.000000  15  72.100000  72.100000
2018-05-10 02:35:14-07:00   0   0  0.333333   1  70.183333  70.183333
2018-05-10 02:36:14-07:00   0   0  0.000000  15  69.933333  70.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 02:31:14-07:00  71.150000  71.000000  71.000000  66.999189
2018-05-10 02:32:14-07:00  72.100000  72.100000  72.100000  65.290721
2018-05-10 02:35:14-07:00  70.183333  70.183333  70.183333  66.999189
2018-05-10 02:36:14-07:00  69.956444  69.600000  70.700000  64.669460

                                  t_std
time
2018-05-10 02:31:14-07:00  8.660254e-02
2018-05-10 02:32:14-07:00  1.322959e-14
2018-05-10 02:35:14-07:00  0.000000e+00
2018-05-10 02:36:14-07:00  3.505498e-01
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-10 02:51:14-07:00   0   0  0.000000   2  70.7   70.8  70.750000
2018-05-10 02:51:14-07:00   0   0  0.000000  15  73.5   73.6  73.525556
2018-05-10 02:53:14-07:00   0   0  1.333333   1  71.0   71.0  71.000000
2018-05-10 02:53:14-07:00   0   0  0.000000  15  73.4   73.4  73.317778

                           t_min  t_next      t_out     t_std
time
2018-05-10 02:51:14-07:00   70.7    70.8  66.999189  0.050000
2018-05-10 02:51:14-07:00   73.4    73.4  66.999189  0.067183
2018-05-10 02:53:14-07:00   71.0    71.0  66.999189  0.000000
2018-05-10 02:53:14-07:00   73.2    73.2  66.532629  0.077810
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 03:36:14-07:00   0   0  0.000000  15  73.300000  73.300000
2018-05-10 03:36:14-07:00   0   0  0.000000  15  74.000000  74.000000
2018-05-10 03:37:14-07:00   0   0  0.666667   1  70.333333  70.333333
2018-05-10 03:38:14-07:00   0   0  0.000000  15  73.200000  73.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 03:36:14-07:00  73.197778  73.100000  73.150000  59.330526
2018-05-10 03:36:14-07:00  73.945333  73.900000  73.900000  59.330526
2018-05-10 03:37:14-07:00  70.333333  70.333333  70.333333  59.330526
2018-05-10 03:38:14-07:00  73.067778  73.000000  73.100000  59.419894

                              t_std
time
2018-05-10 03:36:14-07:00  0.077188
2018-05-10 03:36:14-07:00  0.048699
2018-05-10 03:37:14-07:00  0.000000
2018-05-10 03:38:14-07:00  0.058521
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 03:54:14-07:00   0   1  2.000000   2  70.733333  70.800000
2018-05-10 03:55:14-07:00   0   0  0.000000  15  72.100000  72.100000
2018-05-10 03:56:14-07:00   0   0  1.666667   1  70.716667  70.716667
2018-05-10 03:57:14-07:00   0   0  0.000000  15  70.200000  70.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 03:54:14-07:00  70.766667  70.733333  70.800000  60.000789
2018-05-10 03:55:14-07:00  72.011111  71.900000  71.900000  59.733909
2018-05-10 03:56:14-07:00  70.716667  70.716667  70.716667  60.000789
2018-05-10 03:57:14-07:00  69.855556  69.600000  70.166667  59.600469

                              t_std
time
2018-05-10 03:54:14-07:00  0.033333
2018-05-10 03:55:14-07:00  0.096353
2018-05-10 03:56:14-07:00  0.000000
2018-05-10 03:57:14-07:00  0.189215
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 04:32:14-07:00   0   1  2.000000   3  70.600000  70.600000
2018-05-10 04:32:14-07:00   0   0  0.000000  15  71.500000  71.500000
2018-05-10 04:35:14-07:00   0   0  0.333333   1  70.166667  70.166667
2018-05-10 04:36:14-07:00   0   0  0.000000  13  69.900000  70.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 04:32:14-07:00  70.583333  70.550000  70.550000  57.999189
2018-05-10 04:32:14-07:00  71.418889  71.400000  71.400000  58.490721
2018-05-10 04:35:14-07:00  70.166667  70.166667  70.166667  57.999189
2018-05-10 04:36:14-07:00  69.839487  69.700000  70.000000  58.669460

                              t_std
time
2018-05-10 04:32:14-07:00  0.023570
2018-05-10 04:32:14-07:00  0.037941
2018-05-10 04:35:14-07:00  0.000000
2018-05-10 04:36:14-07:00  0.129469
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 05:09:14-07:00   0   1  2.000000   2  70.600000  70.600000
2018-05-10 05:10:14-07:00   0   0  0.000000  15  71.300000  71.300000
2018-05-10 05:11:14-07:00   0   0  1.333333   1  70.433333  70.433333
2018-05-10 05:12:14-07:00   0   0  0.000000  15  70.016667  70.016667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 05:09:14-07:00  70.600000  70.600000  70.600000  58.999989
2018-05-10 05:10:14-07:00  71.171111  71.000000  71.000000  59.266869
2018-05-10 05:11:14-07:00  70.433333  70.433333  70.433333  58.999989
2018-05-10 05:12:14-07:00  69.811111  69.600000  70.000000  59.400309

                              t_std
time
2018-05-10 05:09:14-07:00  0.000000
2018-05-10 05:10:14-07:00  0.097271
2018-05-10 05:11:14-07:00  0.000000
2018-05-10 05:12:14-07:00  0.181931
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 05:51:14-07:00   0   0  0.000000  15  72.700000  72.700000
2018-05-10 05:51:14-07:00   0   0  0.000000  15  72.433333  72.500000
2018-05-10 05:53:14-07:00   0   0  0.666667   1  70.333333  70.333333
2018-05-10 05:53:14-07:00   0   0  0.000000  15  72.400000  72.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 05:51:14-07:00  72.646667  72.600000  72.600000  60.000789
2018-05-10 05:51:14-07:00  72.402889  72.300000  72.300000  60.000789
2018-05-10 05:53:14-07:00  70.333333  70.333333  70.333333  60.000789
2018-05-10 05:53:14-07:00  72.261111  72.200000  72.200000  60.000789

                              t_std
time
2018-05-10 05:51:14-07:00  0.049889
2018-05-10 05:51:14-07:00  0.075315
2018-05-10 05:53:14-07:00  0.000000
2018-05-10 05:53:14-07:00  0.070361
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 06:37:14-07:00   0   1  2.000000   2  70.500000  70.500000
2018-05-10 06:38:14-07:00   0   0  0.000000  15  72.200000  72.200000
2018-05-10 06:39:14-07:00   0   0  1.333333   1  70.333333  70.333333
2018-05-10 06:40:14-07:00   0   0  0.000000  15  70.100000  70.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 06:37:14-07:00  70.500000  70.500000  70.500000  60.333859
2018-05-10 06:38:14-07:00  71.961111  71.800000  71.800000  60.289450
2018-05-10 06:39:14-07:00  70.333333  70.333333  70.333333  60.333859
2018-05-10 06:40:14-07:00  69.608444  69.400000  69.900000  60.245040

                              t_std
time
2018-05-10 06:37:14-07:00  0.000000
2018-05-10 06:38:14-07:00  0.142161
2018-05-10 06:39:14-07:00  0.000000
2018-05-10 06:40:14-07:00  0.216688
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 07:51:14-07:00   0   0  0.000000  15  71.950000  71.950000
2018-05-10 07:51:14-07:00   0   0  0.000000  15  72.100000  72.100000
2018-05-10 07:52:14-07:00   0   0  0.333333   1  70.166667  70.166667
2018-05-10 07:53:14-07:00   0   0  0.000000  15  69.860000  70.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 07:51:14-07:00  71.453333  70.900000  70.900000  60.999775
2018-05-10 07:51:14-07:00  71.653333  71.300000  71.300000  60.999775
2018-05-10 07:52:14-07:00  70.166667  70.166667  70.166667  60.999775
2018-05-10 07:53:14-07:00  69.789556  69.600000  70.000000  61.199818

                              t_std
time
2018-05-10 07:51:14-07:00  0.354714
2018-05-10 07:51:14-07:00  0.260427
2018-05-10 07:52:14-07:00  0.000000
2018-05-10 07:53:14-07:00  0.141426
========
Action is by itself with action 0.666667 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 08:21:14-07:00   0   0  0.000000  15  70.600000  70.600000
2018-05-10 08:21:14-07:00   0   0  0.000000  15  70.983333  70.983333
2018-05-10 08:22:14-07:00   0   0  0.666667   1  70.200000  70.200000
2018-05-10 08:23:14-07:00   0   0  0.000000  15  71.633333  71.633333

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-10 08:21:14-07:00  70.433333   70.4    70.4  64.000416  0.069921
2018-05-10 08:21:14-07:00  70.844444   70.8    70.8  64.000416  0.058267
2018-05-10 08:22:14-07:00  70.200000   70.2    70.2  64.000416  0.000000
2018-05-10 08:23:14-07:00  71.568889   71.5    71.6  64.089287  0.046295
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 09:06:14-07:00   0   0  0.000000  15  71.000000  71.600000
2018-05-10 09:06:14-07:00   0   0  0.000000  15  71.000000  71.500000
2018-05-10 09:07:14-07:00   0   0  1.666667   1  70.433333  70.433333
2018-05-10 09:08:14-07:00   0   0  0.000000  15  71.800000  71.900000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 09:06:14-07:00  71.453333  71.000000  71.600000  64.000416
2018-05-10 09:06:14-07:00  71.344444  71.000000  71.500000  64.000416
2018-05-10 09:07:14-07:00  70.433333  70.433333  70.433333  64.000416
2018-05-10 09:08:14-07:00  71.786667  71.700000  71.900000  64.000416

                              t_std
time
2018-05-10 09:06:14-07:00  0.146591
2018-05-10 09:06:14-07:00  0.136445
2018-05-10 09:07:14-07:00  0.000000
2018-05-10 09:08:14-07:00  0.071802
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-10 09:21:14-07:00   0   0  0.000000  15  71.6  71.80  71.753333
2018-05-10 09:21:14-07:00   0   0  0.000000  15  71.5  71.85  71.737111
2018-05-10 09:22:14-07:00   0   0  1.666667   1  70.5  70.50  70.500000
2018-05-10 09:23:14-07:00   0   0  0.000000  15  71.9  72.10  71.980000

                           t_min  t_next      t_out     t_std
time
2018-05-10 09:21:14-07:00   71.6   71.80  64.000416  0.061824
2018-05-10 09:21:14-07:00   71.5   71.85  64.000416  0.093530
2018-05-10 09:22:14-07:00   70.5   70.50  64.000416  0.000000
2018-05-10 09:23:14-07:00   71.9   72.10  64.355934  0.097980
========
Action is by itself with action 1.600000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-10 09:36:14-07:00   0   0     0.0  15  71.80  72.10  71.968889  71.80
2018-05-10 09:36:14-07:00   0   0     0.0  15  71.90  72.10  72.051111  71.90
2018-05-10 09:38:14-07:00   0   0     1.6   1  70.44  70.44  70.440000  70.44
2018-05-10 09:38:14-07:00   0   0     0.0  15  72.10  72.20  72.146667  72.10

                           t_next      t_out     t_std
time
2018-05-10 09:36:14-07:00   72.10  66.666802  0.112524
2018-05-10 09:36:14-07:00   72.10  66.666802  0.082432
2018-05-10 09:38:14-07:00   70.44  66.666802  0.000000
2018-05-10 09:38:14-07:00   72.20  66.577922  0.047997
========
Action is by itself with action 1.200000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-10 09:51:14-07:00   0   0     0.0  15  72.10  72.10  71.855111  71.50
2018-05-10 09:53:14-07:00   0   0     0.0  15  72.20  72.30  72.220000  72.10
2018-05-10 09:54:14-07:00   0   0     1.2   1  70.34  70.34  70.340000  70.34
2018-05-10 09:55:14-07:00   0   0     0.0  15  69.60  69.80  69.696889  69.60

                           t_next      t_out     t_std
time
2018-05-10 09:51:14-07:00   71.50  66.000203  0.180706
2018-05-10 09:53:14-07:00   72.10  66.133522  0.063886
2018-05-10 09:54:14-07:00   70.34  66.000203  0.000000
2018-05-10 09:55:14-07:00   69.80  66.266841  0.075144
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 10:51:14-07:00   0   1  2.000000   4  70.600000  70.800000
2018-05-10 10:53:14-07:00   0   0  0.000000  15  72.400000  72.400000
2018-05-10 10:55:14-07:00   0   0  1.333333   1  70.566667  70.566667
2018-05-10 10:55:14-07:00   0   0  0.000000  15  69.933333  70.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 10:51:14-07:00  70.750000  70.600000  70.800000  67.999989
2018-05-10 10:53:14-07:00  72.366667  72.300000  72.400000  65.599990
2018-05-10 10:55:14-07:00  70.566667  70.566667  70.566667  67.999989
2018-05-10 10:55:14-07:00  69.885556  69.800000  70.000000  63.199990

                              t_std
time
2018-05-10 10:51:14-07:00  0.086603
2018-05-10 10:53:14-07:00  0.043461
2018-05-10 10:55:14-07:00  0.000000
2018-05-10 10:55:14-07:00  0.066071
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 10:56:14-07:00   0   0  0.000000   9  70.100000  70.100000
2018-05-10 11:02:14-07:00   0   0  0.000000  15  71.416667  71.800000
2018-05-10 11:05:14-07:00   0   0  1.666667   1  70.683333  70.683333
2018-05-10 11:06:14-07:00   0   0  0.000000  15  72.400000  72.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 10:56:14-07:00  69.966667  69.800000  70.100000  67.999989
2018-05-10 11:02:14-07:00  71.644444  71.416667  71.800000  54.799993
2018-05-10 11:05:14-07:00  70.683333  70.683333  70.683333  67.999989
2018-05-10 11:06:14-07:00  72.590000  72.400000  72.700000  49.999995

                              t_std
time
2018-05-10 10:56:14-07:00  0.139443
2018-05-10 11:02:14-07:00  0.132171
2018-05-10 11:05:14-07:00  0.000000
2018-05-10 11:06:14-07:00  0.105374
========
Action is by itself with action 0.800000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-10 11:06:14-07:00   0   0     0.0  15  72.00  72.40  72.241111  72.00
2018-05-10 11:08:14-07:00   0   0     0.0  15  72.50  72.60  72.560000  72.50
2018-05-10 11:09:14-07:00   0   0     0.8   1  70.42  70.42  70.420000  70.42
2018-05-10 11:10:14-07:00   0   0     0.0   9  70.10  70.10  69.966667  69.80

                           t_next      t_out     t_std
time
2018-05-10 11:06:14-07:00   72.40  49.999995  0.128649
2018-05-10 11:08:14-07:00   72.60  47.599995  0.045461
2018-05-10 11:09:14-07:00   70.42  49.999995  0.000000
2018-05-10 11:10:14-07:00   70.10  49.999995  0.149071
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-10 11:21:14-07:00   0   0  0.000000  15  72.4   73.0  72.631333
2018-05-10 11:23:14-07:00   0   0  0.000000  15  72.7   72.8  72.761111
2018-05-10 11:23:14-07:00   0   0  1.333333   1  70.5   70.5  70.500000
2018-05-10 11:24:14-07:00   0   0  0.000000   6  70.1   70.3  70.200000

                           t_min  t_next      t_out     t_std
time
2018-05-10 11:21:14-07:00   72.4    73.0  32.000000  0.236668
2018-05-10 11:23:14-07:00   72.7    72.8  37.599593  0.045406
2018-05-10 11:23:14-07:00   70.5    70.5  32.000000  0.000000
2018-05-10 11:24:14-07:00   70.1    70.3  32.000000  0.100000
========
Action is by itself with action 1.666667 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 11:30:14-07:00   0   1  2.000000   3  70.916667  71.000000
2018-05-10 11:32:14-07:00   0   0  0.000000  15  72.220000  72.500000
2018-05-10 11:33:14-07:00   0   0  1.666667   1  70.516667  70.516667
2018-05-10 11:34:14-07:00   0   0  0.000000   6  70.100000  70.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 11:30:14-07:00  70.972222  70.916667  71.000000  32.000000
2018-05-10 11:32:14-07:00  72.371556  72.220000  72.500000  62.797759
2018-05-10 11:33:14-07:00  70.516667  70.516667  70.516667  32.000000
2018-05-10 11:34:14-07:00  70.244444  70.100000  70.500000  59.997963

                              t_std
time
2018-05-10 11:30:14-07:00  0.039284
2018-05-10 11:32:14-07:00  0.075325
2018-05-10 11:33:14-07:00  0.000000
2018-05-10 11:34:14-07:00  0.182236
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-10 11:45:14-07:00   0   0  0.000000   6  70.100000   70.4  70.216667
2018-05-10 11:47:14-07:00   0   0  0.000000   5  72.500000   72.5  72.500000
2018-05-10 11:51:14-07:00   0   0  0.333333   1  70.600000   70.6  70.600000
2018-05-10 11:51:14-07:00   0   0  0.000000  15  73.216667   73.5  73.376667

                               t_min  t_next      t_out     t_std
time
2018-05-10 11:45:14-07:00  70.100000    70.4  73.996944  0.134371
2018-05-10 11:47:14-07:00  72.500000    72.5  73.797639  0.000000
2018-05-10 11:51:14-07:00  70.600000    70.6  73.000416  0.000000
2018-05-10 11:51:14-07:00  73.216667    73.5  73.000416  0.082731
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 11:53:14-07:00   0   0  0.000000  15  73.100000  73.200000
2018-05-10 11:55:14-07:00   0   0  0.000000  15  71.600000  71.700000
2018-05-10 11:56:14-07:00   0   0  1.666667   1  70.766667  70.766667
2018-05-10 11:57:14-07:00   0   0  0.000000   6  70.100000  70.250000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 11:53:14-07:00  73.132000  73.100000  73.200000  70.267055
2018-05-10 11:55:14-07:00  71.631111  71.600000  71.700000  67.533694
2018-05-10 11:56:14-07:00  70.766667  70.766667  70.766667  73.000416
2018-05-10 11:57:14-07:00  70.125000  70.100000  70.250000  73.000416

                              t_std
time
2018-05-10 11:53:14-07:00  0.045490
2018-05-10 11:55:14-07:00  0.044666
2018-05-10 11:56:14-07:00  0.000000
2018-05-10 11:57:14-07:00  0.055902
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 12:27:14-07:00   0   1  2.000000   4  71.300000  71.300000
2018-05-10 12:28:14-07:00   0   0  0.000000  10  72.300000  72.500000
2018-05-10 12:31:14-07:00   0   0  1.333333   1  70.633333  70.633333
2018-05-10 12:32:14-07:00   0   0  0.000000   5  70.100000  70.800000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 12:27:14-07:00  71.140000  70.900000  70.900000  75.999189
2018-05-10 12:28:14-07:00  72.398333  72.300000  72.500000  76.133243
2018-05-10 12:31:14-07:00  70.633333  70.633333  70.633333  75.999189
2018-05-10 12:32:14-07:00  70.330000  70.100000  70.800000  76.133243

                              t_std
time
2018-05-10 12:27:14-07:00  0.169706
2018-05-10 12:28:14-07:00  0.068496
2018-05-10 12:31:14-07:00  0.000000
2018-05-10 12:32:14-07:00  0.260000
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-10 12:38:14-07:00   0   1  2.000000   6  72.50   72.6  72.558333
2018-05-10 12:40:14-07:00   0   0  0.000000  15  72.05   72.2  72.156667
2018-05-10 12:42:14-07:00   0   0  1.333333   1  70.70   70.7  70.700000
2018-05-10 12:43:14-07:00   0   0  0.000000   5  70.30   70.8  70.433333

                           t_min  t_next      t_out     t_std
time
2018-05-10 12:38:14-07:00  72.50    72.6  76.669460  0.044876
2018-05-10 12:40:14-07:00  72.05    72.2  76.490721  0.054365
2018-05-10 12:42:14-07:00  70.70    70.7  76.669460  0.000000
2018-05-10 12:43:14-07:00  70.30    70.8  76.669460  0.187380
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 12:42:14-07:00   0   0  1.333333   1  70.700000  70.700000
2018-05-10 12:43:14-07:00   0   0  0.000000   5  70.300000  70.800000
2018-05-10 12:44:14-07:00   0   0  0.333333   1  72.183333  72.183333
2018-05-10 12:45:14-07:00   0   0  0.000000  15  71.883333  72.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 12:42:14-07:00  70.700000  70.700000  70.700000  76.669460
2018-05-10 12:43:14-07:00  70.433333  70.300000  70.800000  76.669460
2018-05-10 12:44:14-07:00  72.183333  72.183333  72.183333  76.669460
2018-05-10 12:45:14-07:00  71.768889  71.600000  72.100000  76.267298

                              t_std
time
2018-05-10 12:42:14-07:00  0.000000
2018-05-10 12:43:14-07:00  0.187380
2018-05-10 12:44:14-07:00  0.000000
2018-05-10 12:45:14-07:00  0.137823
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-10 12:51:14-07:00   0   0  0.000000  15  74.05   74.2  74.138000
2018-05-10 12:51:14-07:00   0   0  0.000000  15  73.40   73.4  73.360000
2018-05-10 12:53:14-07:00   0   0  1.666667   1  70.80   70.8  70.800000
2018-05-10 12:53:14-07:00   0   0  0.000000  15  73.70   73.7  73.652222

                           t_min  t_next      t_out     t_std
time
2018-05-10 12:51:14-07:00  74.05    74.2  75.999189  0.052434
2018-05-10 12:51:14-07:00  73.30    73.4  75.999189  0.048990
2018-05-10 12:53:14-07:00  70.80    70.8  75.999189  0.000000
2018-05-10 12:53:14-07:00  73.60    73.6  75.999189  0.049015
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-10 13:00:14-07:00   0   1  2.000000   5  71.2   71.3  71.090000
2018-05-10 13:00:14-07:00   0   0  0.000000  15  72.1   72.4  72.228889
2018-05-10 13:05:14-07:00   0   0  0.666667   1  70.3   70.3  70.300000
2018-05-10 13:06:14-07:00   0   0  0.000000   5  70.1   70.8  70.373333

                           t_min  t_next      t_out     t_std
time
2018-05-10 13:00:14-07:00   70.7    70.7  75.999189  0.220000
2018-05-10 13:00:14-07:00   72.1    72.4  75.999189  0.091988
2018-05-10 13:05:14-07:00   70.3    70.3  75.999189  0.000000
2018-05-10 13:06:14-07:00   70.1    70.8  75.999189  0.263650
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 13:36:14-07:00   0   0  0.000000  15  73.500000  73.600000
2018-05-10 13:38:14-07:00   0   0  0.000000  15  74.000000  74.000000
2018-05-10 13:39:14-07:00   0   0  0.333333   1  70.233333  70.233333
2018-05-10 13:39:14-07:00   0   0  0.000000  14  71.900000  72.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 13:36:14-07:00  73.535556  73.500000  73.600000  78.003859
2018-05-10 13:38:14-07:00  74.000000  74.000000  74.000000  78.003450
2018-05-10 13:39:14-07:00  70.233333  70.233333  70.233333  78.003859
2018-05-10 13:39:14-07:00  72.204762  71.900000  72.400000  78.003420

                              t_std
time
2018-05-10 13:36:14-07:00  0.046295
2018-05-10 13:38:14-07:00  0.000000
2018-05-10 13:39:14-07:00  0.000000
2018-05-10 13:39:14-07:00  0.150585

========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-10 13:55:14-07:00   0   1  2.000000   6  71.30  71.30  71.166667
2018-05-10 13:55:14-07:00   0   0  0.000000  15  73.30  73.50  73.394444
2018-05-10 13:59:14-07:00   0   0  1.666667   1  72.35  72.35  72.350000
2018-05-10 14:00:14-07:00   0   0  0.000000  15  72.10  72.10  71.874444

                           t_min  t_next      t_out     t_std
time
2018-05-10 13:55:14-07:00  70.70   70.70  78.000789  0.221108
2018-05-10 13:55:14-07:00  73.30   73.50  78.000789  0.075930
2018-05-10 13:59:14-07:00  72.35   72.35  78.000789  0.000000
2018-05-10 14:00:14-07:00  71.70   72.10  78.000789  0.159265
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-10 13:59:14-07:00   0   0  1.666667   1  72.35  72.35  72.350000
2018-05-10 14:00:14-07:00   0   0  0.000000  15  72.10  72.10  71.874444
2018-05-10 14:01:14-07:00   0   0  1.666667   1  70.60  70.60  70.600000
2018-05-10 14:02:14-07:00   0   0  0.000000   4  70.10  70.70  70.275000

                           t_min  t_next      t_out     t_std
time
2018-05-10 13:59:14-07:00  72.35   72.35  78.000789  0.000000
2018-05-10 14:00:14-07:00  71.70   72.10  78.000789  0.159265
2018-05-10 14:01:14-07:00  70.60   70.60  78.000789  0.000000
2018-05-10 14:02:14-07:00  70.10   70.70  78.000789  0.248747
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 14:08:14-07:00   0   0  0.000000  15  74.200000  74.300000
2018-05-10 14:10:14-07:00   0   0  0.000000  15  73.516667  73.916667
2018-05-10 14:13:14-07:00   0   0  0.666667   1  70.366667  70.366667
2018-05-10 14:14:14-07:00   0   0  0.000000   4  70.100000  70.466667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 14:08:14-07:00  74.223333  74.200000  74.300000  78.000789
2018-05-10 14:10:14-07:00  73.699111  73.516667  73.916667  78.000789
2018-05-10 14:13:14-07:00  70.366667  70.366667  70.366667  78.000789
2018-05-10 14:14:14-07:00  70.191667  70.100000  70.466667  78.000789

                              t_std
time
2018-05-10 14:08:14-07:00  0.040277
2018-05-10 14:10:14-07:00  0.117772
2018-05-10 14:13:14-07:00  0.000000
2018-05-10 14:14:14-07:00  0.158771
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 14:21:14-07:00   0   0  0.000000  15  73.700000  73.700000
2018-05-10 14:23:14-07:00   0   0  0.000000  15  74.300000  74.300000
2018-05-10 14:24:14-07:00   0   0  1.666667   1  70.683333  70.683333
2018-05-10 14:25:14-07:00   0   0  0.000000   4  70.100000  70.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 14:21:14-07:00  73.548889  73.400000  73.500000  78.000789
2018-05-10 14:23:14-07:00  74.250444  74.200000  74.200000  78.090087
2018-05-10 14:24:14-07:00  70.683333  70.683333  70.683333  78.000789
2018-05-10 14:25:14-07:00  70.250000  70.100000  70.500000  78.000789

                              t_std
time
2018-05-10 14:21:14-07:00  0.114741
2018-05-10 14:23:14-07:00  0.045000
2018-05-10 14:24:14-07:00  0.000000
2018-05-10 14:25:14-07:00  0.165831
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 15:34:14-07:00   0   1  2.000000  10  72.600000  72.600000
2018-05-10 15:36:14-07:00   0   0  0.000000  15  73.900000  74.200000
2018-05-10 15:36:14-07:00   0   0  1.666667   1  74.433333  74.433333
2018-05-10 15:36:14-07:00   0   0  0.000000  15  74.400000  74.600000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 15:34:14-07:00  72.566667  72.500000  72.500000  80.267129
2018-05-10 15:36:14-07:00  74.045556  73.900000  74.200000  80.333753
2018-05-10 15:36:14-07:00  74.433333  74.433333  74.433333  80.333753
2018-05-10 15:36:14-07:00  74.497778  74.400000  74.500000  80.333753

                              t_std
time
2018-05-10 15:34:14-07:00  0.044721
2018-05-10 15:36:14-07:00  0.123598
2018-05-10 15:36:14-07:00  0.000000
2018-05-10 15:36:14-07:00  0.075490
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 15:58:14-07:00   0   1  2.000000   6  74.600000  74.800000
2018-05-10 15:59:14-07:00   0   0  0.000000   6  72.300000  72.500000
2018-05-10 16:04:14-07:00   0   0  1.333333   1  74.566667  74.566667
2018-05-10 16:05:14-07:00   0   0  0.000000  15  74.066667  74.066667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 15:58:14-07:00  74.744444  74.600000  74.800000  80.000630
2018-05-10 15:59:14-07:00  72.338889  72.300000  72.500000  80.000630
2018-05-10 16:04:14-07:00  74.566667  74.566667  74.566667  80.000630
2018-05-10 16:05:14-07:00  73.794222  73.600000  74.000000  57.600336

                              t_std
time
2018-05-10 15:58:14-07:00  0.080890
2018-05-10 15:59:14-07:00  0.073072
2018-05-10 16:04:14-07:00  0.000000
2018-05-10 16:05:14-07:00  0.169860
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 16:04:14-07:00   0   0  1.333333   1  74.566667  74.566667
2018-05-10 16:05:14-07:00   0   0  0.000000  15  74.066667  74.066667
2018-05-10 16:05:14-07:00   0   0  1.333333   1  72.500000  72.500000
2018-05-10 16:05:14-07:00   0   0  0.000000  15  74.200000  74.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 16:04:14-07:00  74.566667  74.566667  74.566667  80.000630
2018-05-10 16:05:14-07:00  73.794222  73.600000  74.000000  57.600336
2018-05-10 16:05:14-07:00  72.500000  72.500000  72.500000  80.000630
2018-05-10 16:05:14-07:00  74.230222  74.100000  74.400000  57.600336

                              t_std
time
2018-05-10 16:04:14-07:00  0.000000
2018-05-10 16:05:14-07:00  0.169860
2018-05-10 16:05:14-07:00  0.000000
2018-05-10 16:05:14-07:00  0.105854
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 16:51:14-07:00   0   0  0.000000  15  74.400000  74.400000
2018-05-10 16:51:14-07:00   0   0  0.000000  15  74.500000  74.500000
2018-05-10 16:54:14-07:00   0   0  0.666667   1  74.333333  74.333333
2018-05-10 16:54:14-07:00   0   0  0.000000  15  72.450000  73.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 16:51:14-07:00  74.281111  74.200000  74.200000  80.999617
2018-05-10 16:51:14-07:00  74.383333  74.300000  74.400000  80.999617
2018-05-10 16:54:14-07:00  74.333333  74.333333  74.333333  80.999617
2018-05-10 16:54:14-07:00  72.785556  72.450000  73.100000  76.099655

                              t_std
time
2018-05-10 16:51:14-07:00  0.075735
2018-05-10 16:51:14-07:00  0.064118
2018-05-10 16:54:14-07:00  0.000000

2018-05-10 16:54:14-07:00  0.204927
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 16:54:14-07:00   0   0  0.000000  15  72.450000  73.100000
2018-05-10 16:55:14-07:00   0   0  0.000000  15  74.033333  74.416667
2018-05-10 16:57:14-07:00   0   0  0.666667   1  70.333333  70.333333
2018-05-10 16:58:14-07:00   0   0  0.000000   4  70.300000  70.450000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 16:54:14-07:00  72.785556  72.450000  73.100000  76.099655
2018-05-10 16:55:14-07:00  73.915778  73.700000  74.416667  74.466334
2018-05-10 16:57:14-07:00  70.333333  70.333333  70.333333  80.999617
2018-05-10 16:58:14-07:00  70.337500  70.300000  70.450000  80.999617

                              t_std
time
2018-05-10 16:54:14-07:00  0.204927
2018-05-10 16:55:14-07:00  0.188689
2018-05-10 16:57:14-07:00  0.000000
2018-05-10 16:58:14-07:00  0.064952
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 17:15:14-07:00   1   0  1.000000   1  70.250000  70.250000
2018-05-10 17:16:14-07:00   0   0  0.000000   4  70.100000  70.400000
2018-05-10 17:18:14-07:00   0   0  1.333333   1  74.466667  74.466667
2018-05-10 17:19:14-07:00   0   0  0.000000  14  74.080000  74.080000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 17:15:14-07:00  70.250000  70.250000  70.250000  56.499808
2018-05-10 17:16:14-07:00  70.175000  70.100000  70.400000  56.499808
2018-05-10 17:18:14-07:00  74.466667  74.466667  74.466667  56.499808
2018-05-10 17:19:14-07:00  73.906905  73.700000  74.000000  78.357472

                              t_std
time
2018-05-10 17:15:14-07:00  0.000000
2018-05-10 17:16:14-07:00  0.129904
2018-05-10 17:18:14-07:00  0.000000
2018-05-10 17:19:14-07:00  0.109765
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 17:18:14-07:00   0   0  1.333333   1  74.466667  74.466667
2018-05-10 17:19:14-07:00   0   0  0.000000  14  74.080000  74.080000
2018-05-10 17:20:14-07:00   0   0  0.666667   1  71.166667  71.166667
2018-05-10 17:20:14-07:00   0   0  0.000000  15  74.300000  74.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 17:18:14-07:00  74.466667  74.466667  74.466667  56.499808
2018-05-10 17:19:14-07:00  73.906905  73.700000  74.000000  78.357472
2018-05-10 17:20:14-07:00  71.166667  71.166667  71.166667  56.499808
2018-05-10 17:20:14-07:00  74.415556  74.300000  74.400000  80.300376

                              t_std
time
2018-05-10 17:18:14-07:00  0.000000
2018-05-10 17:19:14-07:00  0.109765
2018-05-10 17:20:14-07:00  0.000000
2018-05-10 17:20:14-07:00  0.064540
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 17:36:14-07:00   0   0  0.000000  15  74.300000  74.800000
2018-05-10 17:36:14-07:00   0   0  0.000000  15  74.366667  74.500000
2018-05-10 17:39:14-07:00   0   0  0.666667   1  71.133333  71.133333
2018-05-10 17:39:14-07:00   0   0  0.000000  15  74.000000  74.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 17:36:14-07:00  74.552222  74.300000  74.800000  82.000278
2018-05-10 17:36:14-07:00  74.398444  74.300000  74.500000  82.000278
2018-05-10 17:39:14-07:00  71.133333  71.133333  71.133333  82.000278
2018-05-10 17:39:14-07:00  74.086667  74.000000  74.200000  82.000305

                              t_std
time
2018-05-10 17:36:14-07:00  0.168530
2018-05-10 17:36:14-07:00  0.076234
2018-05-10 17:39:14-07:00  0.000000
2018-05-10 17:39:14-07:00  0.074087
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 17:51:14-07:00   0   0  0.000000  15  74.800000  74.800000
2018-05-10 17:51:14-07:00   0   0  0.000000  15  74.450000  74.450000
2018-05-10 17:53:14-07:00   0   0  1.666667   1  70.383333  70.383333
2018-05-10 17:54:14-07:00   0   0  0.000000   4  70.300000  70.633333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 17:51:14-07:00  74.511111  74.300000  74.600000  82.000416
2018-05-10 17:51:14-07:00  74.368889  74.300000  74.400000  82.000416
2018-05-10 17:53:14-07:00  70.383333  70.383333  70.383333  82.000416
2018-05-10 17:54:14-07:00  70.383333  70.300000  70.633333  82.000416

                              t_std
time
2018-05-10 17:51:14-07:00  0.156189
2018-05-10 17:51:14-07:00  0.048253
2018-05-10 17:53:14-07:00  0.000000
2018-05-10 17:54:14-07:00  0.144338
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 18:24:14-07:00   0   0  0.000000  15  74.200000  74.400000
2018-05-10 18:26:14-07:00   0   0  0.000000   5  70.300000  70.800000
2018-05-10 18:28:14-07:00   0   0  1.333333   1  74.600000  74.600000
2018-05-10 18:29:14-07:00   0   0  0.000000  13  74.133333  74.133333

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-10 18:24:14-07:00  74.239111   74.1    74.4  81.867722  0.120711
2018-05-10 18:26:14-07:00  70.400000   70.3    70.8  82.000416  0.200000
2018-05-10 18:28:14-07:00  74.600000   74.6    74.6  82.000416  0.000000
2018-05-10 18:29:14-07:00  73.883333   73.7    74.1  81.694198  0.173944
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-10 18:49:14-07:00   0   1  2.000000   7  71.5   71.5  71.392857
2018-05-10 18:51:14-07:00   0   0  0.000000  15  74.8   74.9  74.488889
2018-05-10 18:51:14-07:00   0   0  1.333333   1  74.4   74.4  74.400000
2018-05-10 18:51:14-07:00   0   0  0.000000  15  74.4   74.4  74.300000

                           t_min  t_next      t_out     t_std
time
2018-05-10 18:49:14-07:00   71.0    71.0  81.810853  0.165677
2018-05-10 18:51:14-07:00   73.9    73.9  82.000416  0.404725
2018-05-10 18:51:14-07:00   74.4    74.4  82.000416  0.000000
2018-05-10 18:51:14-07:00   74.1    74.1  82.000416  0.110219
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 18:56:14-07:00   0   0  1.666667   1  70.683333  70.683333
2018-05-10 18:57:14-07:00   0   0  0.000000   6  70.100000  70.700000
2018-05-10 18:57:14-07:00   0   0  1.666667   1  74.366667  74.366667
2018-05-10 18:58:14-07:00   0   0  0.000000  11  74.200000  74.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 18:56:14-07:00  70.683333  70.683333  70.683333  82.000416
2018-05-10 18:57:14-07:00  70.233333  69.900000  70.700000  82.000416
2018-05-10 18:57:14-07:00  74.366667  74.366667  74.366667  82.000416
2018-05-10 18:58:14-07:00  74.142424  74.000000  74.300000  68.363939

                              t_std
time
2018-05-10 18:56:14-07:00  0.000000
2018-05-10 18:57:14-07:00  0.306111
2018-05-10 18:57:14-07:00  0.000000
2018-05-10 18:58:14-07:00  0.122343
========
Action is by itself with action 1.333333 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 18:57:14-07:00   0   0  1.666667   1  74.366667  74.366667
2018-05-10 18:58:14-07:00   0   0  0.000000  11  74.200000  74.300000
2018-05-10 19:01:14-07:00   0   0  1.333333   1  74.266667  74.266667
2018-05-10 19:02:14-07:00   0   0  0.000000  15  74.160000  74.160000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 18:57:14-07:00  74.366667  74.366667  74.366667  82.000416
2018-05-10 18:58:14-07:00  74.142424  74.000000  74.300000  68.363939
2018-05-10 19:01:14-07:00  74.266667  74.266667  74.266667  82.000416
2018-05-10 19:02:14-07:00  73.986222  73.900000  74.100000  45.333444

                              t_std
time
2018-05-10 18:57:14-07:00  0.000000
2018-05-10 18:58:14-07:00  0.122343
2018-05-10 19:01:14-07:00  0.000000
2018-05-10 19:02:14-07:00  0.080727
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 19:12:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-10 19:13:14-07:00   0   0  0.000000   6  70.100000  70.750000
2018-05-10 19:15:14-07:00   0   0  0.666667   1  74.233333  74.233333
2018-05-10 19:16:14-07:00   0   0  0.000000  15  74.066667  74.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 19:12:14-07:00  73.928444  73.700000  74.133333  51.200252
2018-05-10 19:13:14-07:00  70.286111  70.100000  70.750000  32.000000
2018-05-10 19:15:14-07:00  74.233333  74.233333  74.233333  32.000000
2018-05-10 19:16:14-07:00  74.215556  74.000000  74.500000  64.000420

                              t_std
time
2018-05-10 19:12:14-07:00  0.134252
2018-05-10 19:13:14-07:00  0.223279
2018-05-10 19:15:14-07:00  0.000000
2018-05-10 19:16:14-07:00  0.193550
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-10 19:40:14-07:00   0   0  0.000000  15  74.200000   74.4  74.114444
2018-05-10 19:40:14-07:00   0   0  0.000000   7  70.100000   70.9  70.228571
2018-05-10 19:41:14-07:00   0   0  0.333333   1  74.200000   74.2  74.200000
2018-05-10 19:42:14-07:00   0   0  0.000000  15  74.033333   74.1  73.966667

                           t_min  t_next      t_out     t_std
time
2018-05-10 19:40:14-07:00   73.9    74.4  79.020254  0.192726
2018-05-10 19:40:14-07:00   69.9    70.9  78.663753  0.305728
2018-05-10 19:41:14-07:00   74.2    74.2  78.663753  0.000000
2018-05-10 19:42:14-07:00   73.9    74.1  79.198504  0.063538
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 20:24:14-07:00   0   0  0.000000   7  70.300000  70.666667
2018-05-10 20:25:14-07:00   0   0  0.000000  15  74.100000  74.300000
2018-05-10 20:28:14-07:00   0   0  1.666667   1  74.533333  74.533333
2018-05-10 20:29:14-07:00   0   0  0.000000  15  74.100000  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 20:24:14-07:00  70.261905  69.900000  70.666667  75.999189
2018-05-10 20:25:14-07:00  74.114444  73.900000  74.300000  75.910373
2018-05-10 20:28:14-07:00  74.533333  74.533333  74.533333  75.999189
2018-05-10 20:29:14-07:00  73.666667  73.500000  73.850000  75.821556

                              t_std
time
2018-05-10 20:24:14-07:00  0.238666
2018-05-10 20:25:14-07:00  0.144128
2018-05-10 20:28:14-07:00  0.000000
2018-05-10 20:29:14-07:00  0.182270
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in      t_max     t_mean  \
time
2018-05-10 20:36:14-07:00   0   0  0.000000  15  73.0  73.966667  73.458889
2018-05-10 20:37:14-07:00   0   0  0.000000  15  74.1  74.400000  74.228889
2018-05-10 20:39:14-07:00   0   0  0.666667   1  70.4  70.400000  70.400000
2018-05-10 20:40:14-07:00   0   0  0.000000   9  74.3  74.400000  74.338889

                           t_min     t_next      t_out     t_std
time
2018-05-10 20:36:14-07:00   73.0  73.966667  75.666126  0.265335
2018-05-10 20:37:14-07:00   74.1  74.400000  75.688331  0.090772
2018-05-10 20:39:14-07:00   70.4  70.400000  75.666126  0.000000
2018-05-10 20:40:14-07:00   74.3  74.400000  75.666126  0.045812
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 20:51:14-07:00   0   0  0.000000  15  74.400000  74.400000
2018-05-10 20:51:14-07:00   0   0  0.000000  15  74.000000  74.000000
2018-05-10 20:52:14-07:00   0   0  1.333333   1  70.633333  70.633333
2018-05-10 20:52:14-07:00   0   0  0.000000   7  74.400000  74.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 20:51:14-07:00  74.054444  73.900000  74.000000  75.999189
2018-05-10 20:51:14-07:00  73.831556  73.600000  73.700000  75.999189
2018-05-10 20:52:14-07:00  70.633333  70.633333  70.633333  75.999189
2018-05-10 20:52:14-07:00  74.450000  74.400000  74.500000  75.999189

                              t_std
time
2018-05-10 20:51:14-07:00  0.184839
2018-05-10 20:51:14-07:00  0.157996
2018-05-10 20:52:14-07:00  0.000000
2018-05-10 20:52:14-07:00  0.046291
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 20:52:14-07:00   0   0  1.333333   1  70.633333  70.633333
2018-05-10 20:52:14-07:00   0   0  0.000000   7  74.400000  74.500000
2018-05-10 20:53:14-07:00   0   0  1.666667   1  74.266667  74.266667
2018-05-10 20:53:14-07:00   0   0  0.000000   9  69.966667  71.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 20:52:14-07:00  70.633333  70.633333  70.633333  75.999189
2018-05-10 20:52:14-07:00  74.450000  74.400000  74.500000  75.999189
2018-05-10 20:53:14-07:00  74.266667  74.266667  74.266667  75.999189
2018-05-10 20:53:14-07:00  70.125926  69.900000  71.200000  75.999189

                              t_std
time
2018-05-10 20:52:14-07:00  0.000000
2018-05-10 20:52:14-07:00  0.046291
2018-05-10 20:53:14-07:00  0.000000
2018-05-10 20:53:14-07:00  0.388660
========
Action is by itself with action 0.800000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 20:53:14-07:00   0   0  1.666667   1  74.266667  74.266667
2018-05-10 20:53:14-07:00   0   0  0.000000   9  69.966667  71.200000
2018-05-10 20:53:14-07:00   0   0  0.800000   1  74.460000  74.460000
2018-05-10 20:54:14-07:00   0   0  0.000000  15  74.100000  74.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 20:53:14-07:00  74.266667  74.266667  74.266667  75.999189
2018-05-10 20:53:14-07:00  70.125926  69.900000  71.200000  75.999189
2018-05-10 20:53:14-07:00  74.460000  74.460000  74.460000  75.999189
2018-05-10 20:54:14-07:00  74.030000  73.900000  74.200000  75.899291

                              t_std
time
2018-05-10 20:53:14-07:00  0.000000
2018-05-10 20:53:14-07:00  0.388660
2018-05-10 20:53:14-07:00  0.000000
2018-05-10 20:54:14-07:00  0.106145
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 21:06:14-07:00   0   0  0.000000  15  73.900000  74.100000
2018-05-10 21:06:14-07:00   0   0  0.000000  15  74.000000  74.200000
2018-05-10 21:08:14-07:00   0   0  1.333333   1  70.433333  70.433333
2018-05-10 21:09:14-07:00   0   0  0.000000   7  70.300000  71.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 21:06:14-07:00  74.018889  73.900000  74.100000  75.499696
2018-05-10 21:06:14-07:00  74.065333  74.000000  74.200000  75.499696
2018-05-10 21:08:14-07:00  70.433333  70.433333  70.433333  75.499696
2018-05-10 21:09:14-07:00  70.485714  70.300000  71.000000  75.499696

                              t_std
time
2018-05-10 21:06:14-07:00  0.058647
2018-05-10 21:06:14-07:00  0.067295
2018-05-10 21:08:14-07:00  0.000000
2018-05-10 21:09:14-07:00  0.246149

========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 21:21:14-07:00   0   0  0.000000  15  74.033333  74.300000
2018-05-10 21:21:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-10 21:22:14-07:00   0   0  1.333333   1  70.366667  70.366667
2018-05-10 21:23:14-07:00   0   0  0.000000   7  70.100000  70.760000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 21:21:14-07:00  74.186667  74.033333  74.300000  75.000203
2018-05-10 21:21:14-07:00  74.098889  74.000000  74.200000  75.000203
2018-05-10 21:22:14-07:00  70.366667  70.366667  70.366667  75.000203
2018-05-10 21:23:14-07:00  70.301429  70.100000  70.760000  75.000203

                              t_std
time
2018-05-10 21:21:14-07:00  0.085894
2018-05-10 21:21:14-07:00  0.076610
2018-05-10 21:22:14-07:00  0.000000
2018-05-10 21:23:14-07:00  0.224908
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 21:32:14-07:00   0   0  1.666667   1  74.450000  74.450000
2018-05-10 21:33:14-07:00   0   0  0.000000  15  74.166667  74.166667
2018-05-10 21:36:14-07:00   0   0  0.666667   1  70.300000  70.300000
2018-05-10 21:36:14-07:00   0   0  0.000000  15  74.350000  74.500000

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-10 21:32:14-07:00  74.450000  74.45   74.45  75.000203  0.000000
2018-05-10 21:33:14-07:00  73.717778  73.50   73.60  74.730815  0.207852
2018-05-10 21:36:14-07:00  70.300000  70.30   70.30  74.663468  0.000000
2018-05-10 21:36:14-07:00  74.452222  74.35   74.50  74.663468  0.053356
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 21:45:14-07:00   0   1  2.000000   5  71.400000  71.400000
2018-05-10 21:48:14-07:00   0   0  0.000000  15  73.600000  74.400000
2018-05-10 21:50:14-07:00   0   0  0.666667   1  70.466667  70.466667
2018-05-10 21:51:14-07:00   0   0  0.000000  15  74.366667  74.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 21:45:14-07:00  71.220000  70.800000  70.800000  74.663468
2018-05-10 21:48:14-07:00  74.053333  73.600000  74.400000  74.932856
2018-05-10 21:50:14-07:00  70.466667  70.466667  70.466667  74.663468
2018-05-10 21:51:14-07:00  74.333333  74.300000  74.300000  75.000203

                              t_std
time
2018-05-10 21:45:14-07:00  0.240000
2018-05-10 21:48:14-07:00  0.200204
2018-05-10 21:50:14-07:00  0.000000
2018-05-10 21:51:14-07:00  0.043885
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 21:50:14-07:00   0   0  0.666667   1  70.466667  70.466667
2018-05-10 21:51:14-07:00   0   0  0.000000  15  74.366667  74.400000
2018-05-10 21:51:14-07:00   0   0  1.333333   1  74.500000  74.500000
2018-05-10 21:51:14-07:00   0   0  0.000000  15  74.150000  74.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 21:50:14-07:00  70.466667  70.466667  70.466667  74.663468
2018-05-10 21:51:14-07:00  74.333333  74.300000  74.300000  75.000203
2018-05-10 21:51:14-07:00  74.500000  74.500000  74.500000  75.000203
2018-05-10 21:51:14-07:00  74.094444  74.000000  74.200000  75.000203

                              t_std
time
2018-05-10 21:50:14-07:00  0.000000
2018-05-10 21:51:14-07:00  0.043885
2018-05-10 21:51:14-07:00  0.000000
2018-05-10 21:51:14-07:00  0.077857
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 21:52:14-07:00   0   1  2.000000   4  74.500000  74.500000
2018-05-10 21:54:14-07:00   0   0  0.000000  15  74.300000  74.400000
2018-05-10 21:56:14-07:00   0   0  1.666667   1  74.350000  74.350000
2018-05-10 21:57:14-07:00   0   0  0.000000  15  74.083333  74.083333

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-10 21:52:14-07:00  74.487500  74.45   74.45  75.000203  0.021651
2018-05-10 21:54:14-07:00  74.280000  74.20   74.20  74.900123  0.083267
2018-05-10 21:56:14-07:00  74.350000  74.35   74.35  75.000203  0.000000
2018-05-10 21:57:14-07:00  73.872667  73.70   74.00  74.800043  0.122506
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 21:59:14-07:00   0   1  2.000000   5  71.500000  71.500000
2018-05-10 22:03:14-07:00   0   0  0.000000   6  74.400000  74.500000
2018-05-10 22:04:14-07:00   0   0  0.666667   1  70.366667  70.366667
2018-05-10 22:05:14-07:00   0   0  0.000000   7  70.100000  71.000000

                              t_mean      t_min     t_next      t_out    t_std
time
2018-05-10 21:59:14-07:00  71.240000  70.900000  70.900000  75.000203  0.28000
2018-05-10 22:03:14-07:00  74.438889  74.400000  74.500000  74.750003  0.04479
2018-05-10 22:04:14-07:00  70.366667  70.366667  70.366667  75.000203  0.00000
2018-05-10 22:05:14-07:00  70.340476  70.100000  71.000000  74.571289  0.29030
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 22:14:14-07:00   0   0  0.333333   1  74.150000  74.150000
2018-05-10 22:15:14-07:00   0   0  0.000000  15  73.983333  73.983333
2018-05-10 22:18:14-07:00   0   0  0.666667   1  70.233333  70.233333
2018-05-10 22:19:14-07:00   0   0  0.000000   7  70.100000  70.733333

                              t_mean      t_min     t_next      t_out    t_std
time
2018-05-10 22:14:14-07:00  74.150000  74.150000  74.150000  74.499803  0.00000
2018-05-10 22:15:14-07:00  73.617778  73.400000  73.500000  74.199563  0.22098
2018-05-10 22:18:14-07:00  70.233333  70.233333  70.233333  74.499803  0.00000
2018-05-10 22:19:14-07:00  70.323810  70.100000  70.733333  74.142374  0.23551
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 22:27:14-07:00   0   0  0.000000  15  74.300000  74.450000
2018-05-10 22:30:14-07:00   0   0  0.000000  15  73.600000  74.100000
2018-05-10 22:32:14-07:00   0   0  1.666667   1  70.766667  70.766667
2018-05-10 22:33:14-07:00   0   0  0.000000   8  70.100000  70.750000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 22:27:14-07:00  74.378889  74.300000  74.450000  73.998149
2018-05-10 22:30:14-07:00  73.887778  73.600000  74.100000  73.997522
2018-05-10 22:32:14-07:00  70.766667  70.766667  70.766667  73.999403
2018-05-10 22:33:14-07:00  70.268750  70.100000  70.750000  73.997444

                              t_std
time
2018-05-10 22:27:14-07:00  0.044914
2018-05-10 22:30:14-07:00  0.164932
2018-05-10 22:32:14-07:00  0.000000
2018-05-10 22:33:14-07:00  0.201460

========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-10 22:36:14-07:00   0   0  0.000000  15  73.9   74.0  73.927333
2018-05-10 22:39:14-07:00   0   0  0.000000  15  74.1   74.2  74.129556
2018-05-10 22:41:14-07:00   0   0  0.666667   1  71.3   71.3  71.300000
2018-05-10 22:42:14-07:00   0   0  0.000000  15  74.5   74.5  74.500000

                               t_min     t_next      t_out     t_std
time
2018-05-10 22:36:14-07:00  73.900000  73.900000  73.996269  0.040738
2018-05-10 22:39:14-07:00  74.033333  74.033333  73.996896  0.049961
2018-05-10 22:41:14-07:00  71.300000  71.300000  73.996269  0.000000
2018-05-10 22:42:14-07:00  74.500000  74.500000  73.997522  0.000000
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 22:42:14-07:00   0   1  2.000000   5  71.500000  71.500000
2018-05-10 22:45:14-07:00   0   0  0.000000  15  74.100000  74.400000
2018-05-10 22:47:14-07:00   0   0  1.333333   1  70.633333  70.633333
2018-05-10 22:48:14-07:00   0   0  0.000000   8  70.300000  70.750000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 22:42:14-07:00  71.290000  70.800000  70.800000  73.996269
2018-05-10 22:45:14-07:00  74.317778  74.100000  74.400000  73.998149
2018-05-10 22:47:14-07:00  70.633333  70.633333  70.633333  73.996269
2018-05-10 22:48:14-07:00  70.256250  69.900000  70.750000  73.998228

                              t_std
time
2018-05-10 22:42:14-07:00  0.280000
2018-05-10 22:45:14-07:00  0.103184
2018-05-10 22:47:14-07:00  0.000000
2018-05-10 22:48:14-07:00  0.233473
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-10 22:51:14-07:00   0   0  0.000000  15  73.90  73.90  73.813333
2018-05-10 22:54:14-07:00   0   0  0.000000  15  74.00  74.20  74.105556
2018-05-10 22:56:14-07:00   0   0  0.333333   1  71.25  71.25  71.250000
2018-05-10 22:57:14-07:00   0   0  0.000000  15  74.50  74.50  74.500000

                           t_min     t_next      t_out     t_std
time
2018-05-10 22:51:14-07:00  73.70  73.700000  73.999403  0.089277
2018-05-10 22:54:14-07:00  74.00  74.083333  69.799463  0.075441
2018-05-10 22:56:14-07:00  71.25  71.250000  73.999403  0.000000
2018-05-10 22:57:14-07:00  74.50  74.500000  65.599522  0.000000
========
Action is by itself with action 0.800000 for data:
                           a1  a2  action  dt  t_in  t_max     t_mean  t_min  \
time
2018-05-10 23:03:14-07:00   0   0     0.0   9  70.1   71.2  70.332222   70.1
2018-05-10 23:06:14-07:00   0   0     0.0  15  74.2   74.2  74.144444   74.1
2018-05-10 23:06:14-07:00   0   0     0.8   1  74.5   74.5  74.500000   74.5
2018-05-10 23:06:14-07:00   0   0     0.0  15  73.7   73.9  73.766667   73.7

                           t_next      t_out     t_std
time
2018-05-10 23:03:14-07:00    71.2  59.999602  0.328085
2018-05-10 23:06:14-07:00    74.1  52.999702  0.044997
2018-05-10 23:06:14-07:00    74.5  52.999702  0.000000
2018-05-10 23:06:14-07:00    73.7  52.999702  0.087771
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 23:07:14-07:00   0   1  2.000000   3  74.500000  74.500000
2018-05-10 23:09:14-07:00   0   0  0.000000  15  74.000000  74.100000
2018-05-10 23:10:14-07:00   0   0  1.666667   1  74.350000  74.350000
2018-05-10 23:11:14-07:00   0   0  0.000000  15  74.033333  74.033333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-10 23:07:14-07:00  74.488889  74.466667  74.466667  52.999702
2018-05-10 23:09:14-07:00  74.016667  73.900000  73.900000  57.199642
2018-05-10 23:10:14-07:00  74.350000  74.350000  74.350000  52.999702
2018-05-10 23:11:14-07:00  73.557778  73.300000  73.400000  59.999602

                              t_std
time
2018-05-10 23:07:14-07:00  0.015713
2018-05-10 23:09:14-07:00  0.064118
2018-05-10 23:10:14-07:00  0.000000
2018-05-10 23:11:14-07:00  0.272293
========
Action is by itself with action 1.600000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-10 23:10:14-07:00   0   0  1.666667   1  74.350000  74.350000
2018-05-10 23:11:14-07:00   0   0  0.000000  15  74.033333  74.033333
2018-05-10 23:12:14-07:00   0   0  1.600000   1  71.440000  71.440000
2018-05-10 23:12:14-07:00   0   0  0.000000   1  74.500000  74.500000

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-10 23:10:14-07:00  74.350000  74.35   74.35  52.999702  0.000000
2018-05-10 23:11:14-07:00  73.557778  73.30   73.40  59.999602  0.272293
2018-05-10 23:12:14-07:00  71.440000  71.44   71.44  52.999702  0.000000
2018-05-10 23:12:14-07:00  74.500000  74.50   74.50  52.999702  0.000000
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 00:56:14-07:00   0   0  0.000000  15  74.100000  74.100000
2018-05-11 01:04:14-07:00   0   0  0.000000  15  74.100000  74.100000
2018-05-11 01:05:14-07:00   0   0  1.666667   1  71.333333  71.333333
2018-05-11 01:06:14-07:00   0   0  0.000000  15  73.316667  73.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 00:56:14-07:00  74.044444  74.000000  74.000000  71.999617
2018-05-11 01:04:14-07:00  74.100000  74.100000  74.100000  71.999617
2018-05-11 01:05:14-07:00  71.333333  71.333333  71.333333  71.999617
2018-05-11 01:06:14-07:00  73.304444  73.200000  73.200000  71.999617

                                  t_std
time
2018-05-11 00:56:14-07:00  4.817663e-02
2018-05-11 01:04:14-07:00  1.322959e-14
2018-05-11 01:05:14-07:00  0.000000e+00
2018-05-11 01:06:14-07:00  7.514595e-02
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-11 01:23:14-07:00   0   1  2.000000   3  71.500000   71.5  71.411111
2018-05-11 01:24:14-07:00   0   0  0.000000  15  73.433333   73.5  73.402222
2018-05-11 01:26:14-07:00   0   0  1.333333   1  70.500000   70.5  70.500000
2018-05-11 01:26:14-07:00   0   0  0.000000  15  73.700000   73.7  73.650000

                               t_min     t_next      t_out     t_std
time
2018-05-11 01:23:14-07:00  71.233333  71.233333  71.999617  0.125708
2018-05-11 01:24:14-07:00  73.300000  73.300000  71.800309  0.075735
2018-05-11 01:26:14-07:00  70.500000  70.500000  71.999617  0.000000
2018-05-11 01:26:14-07:00  73.600000  73.600000  71.667437  0.048305
========
Action is by itself with action 1.666667 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 01:36:14-07:00   0   0  0.000000  15  73.400000  73.500000
2018-05-11 01:39:14-07:00   0   0  0.000000  15  73.350000  73.400000
2018-05-11 01:40:14-07:00   0   0  1.666667   1  71.366667  71.366667
2018-05-11 01:41:14-07:00   0   0  0.000000  15  73.600000  73.600000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 01:36:14-07:00  73.432222  73.400000  73.400000  71.003078
2018-05-11 01:39:14-07:00  73.316667  73.200000  73.200000  71.202386
2018-05-11 01:40:14-07:00  71.366667  71.366667  71.366667  71.003078
2018-05-11 01:41:14-07:00  73.506222  73.400000  73.400000  71.335257

                              t_std
time
2018-05-11 01:36:14-07:00  0.043234
2018-05-11 01:39:14-07:00  0.074536
2018-05-11 01:40:14-07:00  0.000000
2018-05-11 01:41:14-07:00  0.049976
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-11 02:21:14-07:00   0   0  0.000000  15  73.30  73.30  73.193333
2018-05-11 02:21:14-07:00   0   0  0.000000  15  73.10  73.10  72.897778
2018-05-11 02:21:14-07:00   0   0  1.666667   1  70.75  70.75  70.750000
2018-05-11 02:22:14-07:00   0   0  0.000000  15  70.10  71.00  70.303333

                           t_min  t_next      t_out     t_std
time
2018-05-11 02:21:14-07:00  73.10   73.10  69.000789  0.079303
2018-05-11 02:21:14-07:00  72.80   73.00  69.000789  0.118301
2018-05-11 02:21:14-07:00  70.75   70.75  69.000789  0.000000
2018-05-11 02:22:14-07:00  69.80   71.00  68.978549  0.467556
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 02:39:14-07:00   0   0  0.000000  15  73.100000  73.100000
2018-05-11 02:41:14-07:00   0   0  0.000000  15  72.800000  72.800000
2018-05-11 02:41:14-07:00   0   0  1.333333   1  70.533333  70.533333
2018-05-11 02:42:14-07:00   0   0  0.000000  15  70.100000  71.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 02:39:14-07:00  72.972222  72.800000  73.000000  68.733912
2018-05-11 02:41:14-07:00  72.750000  72.700000  72.700000  68.778391
2018-05-11 02:41:14-07:00  70.533333  70.533333  70.533333  68.667192
2018-05-11 02:42:14-07:00  70.282444  69.800000  71.000000  68.800631

                              t_std
time
2018-05-11 02:39:14-07:00  0.119825
2018-05-11 02:41:14-07:00  0.048305
2018-05-11 02:41:14-07:00  0.000000
2018-05-11 02:42:14-07:00  0.434362
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 03:22:14-07:00   0   1  2.000000   3  71.300000  71.300000
2018-05-11 03:24:14-07:00   0   0  0.000000  15  72.800000  72.800000
2018-05-11 03:25:14-07:00   0   0  0.666667   1  70.366667  70.366667
2018-05-11 03:26:14-07:00   0   0  0.000000  15  72.300000  72.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 03:22:14-07:00  71.100000  70.900000  70.900000  67.999989
2018-05-11 03:24:14-07:00  72.690000  72.600000  72.700000  67.932656
2018-05-11 03:25:14-07:00  70.366667  70.366667  70.366667  67.999989
2018-05-11 03:26:14-07:00  72.233333  72.100000  72.100000  67.887768

                              t_std
time
2018-05-11 03:22:14-07:00  0.163299
2018-05-11 03:24:14-07:00  0.071181
2018-05-11 03:25:14-07:00  0.000000
2018-05-11 03:26:14-07:00  0.062361
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 07:20:14-07:00   0   0  0.000000   4  70.500000  70.600000
2018-05-11 07:24:14-07:00   0   0  0.000000  15  71.400000  71.400000
2018-05-11 07:24:14-07:00   0   0  0.666667   1  70.633333  70.633333
2018-05-11 07:24:14-07:00   0   0  0.000000  15  71.300000  71.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 07:20:14-07:00  70.560000  70.500000  70.600000  60.874902
2018-05-11 07:24:14-07:00  71.367778  71.300000  71.400000  61.333124
2018-05-11 07:24:14-07:00  70.633333  70.633333  70.633333  60.999775
2018-05-11 07:24:14-07:00  71.300000  71.300000  71.300000  61.333124

                                  t_std
time
2018-05-11 07:20:14-07:00  4.242641e-02
2018-05-11 07:24:14-07:00  4.323350e-02
2018-05-11 07:24:14-07:00  0.000000e+00
2018-05-11 07:24:14-07:00  1.421085e-14
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 11:54:14-07:00   0   0  0.000000  15  73.500000  73.900000
2018-05-11 11:55:14-07:00   0   0  0.000000  15  73.000000  73.500000
2018-05-11 11:58:14-07:00   0   0  1.666667   1  70.716667  70.716667
2018-05-11 11:59:14-07:00   0   0  0.000000   7  70.300000  71.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 11:54:14-07:00  73.676667  73.500000  73.900000  72.099697
2018-05-11 11:55:14-07:00  73.350000  73.000000  73.500000  72.133057
2018-05-11 11:58:14-07:00  70.716667  70.716667  70.716667  71.999617
2018-05-11 11:59:14-07:00  70.490476  70.300000  71.000000  71.999617

                              t_std
time
2018-05-11 11:54:14-07:00  0.109848
2018-05-11 11:55:14-07:00  0.126637
2018-05-11 11:58:14-07:00  0.000000
2018-05-11 11:59:14-07:00  0.243463
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-11 12:24:14-07:00   0   0  0.000000  15  73.55   73.7  73.593333
2018-05-11 12:25:14-07:00   0   0  0.000000  15  73.50   73.6  73.501111
2018-05-11 12:25:14-07:00   0   0  0.666667   1  70.20   70.2  70.200000
2018-05-11 12:26:14-07:00   0   0  0.000000   7  70.10   71.0  70.416667

                           t_min  t_next      t_out     t_std
time
2018-05-11 12:24:14-07:00   73.5    73.7  73.199722  0.074981
2018-05-11 12:25:14-07:00   73.4    73.6  73.266157  0.078991
2018-05-11 12:25:14-07:00   70.2    70.2  73.000416  0.000000
2018-05-11 12:26:14-07:00   70.1    71.0  73.000416  0.329863
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 13:18:14-07:00   0   0  0.000000   6  70.300000  70.750000
2018-05-11 13:24:14-07:00   0   0  0.000000  15  73.900000  74.000000
2018-05-11 13:24:14-07:00   0   0  0.666667   1  71.133333  71.133333
2018-05-11 13:24:14-07:00   0   0  0.000000  15  74.000000  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 13:18:14-07:00  70.425000  70.300000  70.750000  64.999392
2018-05-11 13:24:14-07:00  73.943333  73.900000  74.000000  76.065910
2018-05-11 13:24:14-07:00  71.133333  71.133333  71.133333  75.999189
2018-05-11 13:24:14-07:00  74.055556  74.000000  74.100000  76.065910

                              t_std
time
2018-05-11 13:18:14-07:00  0.162660
2018-05-11 13:24:14-07:00  0.047842
2018-05-11 13:24:14-07:00  0.000000
2018-05-11 13:24:14-07:00  0.044583
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-11 13:39:14-07:00   0   0  0.000000  15  72.50   72.7  72.626667
2018-05-11 13:40:14-07:00   0   0  0.000000  15  74.18   74.4  74.356444
2018-05-11 13:43:14-07:00   0   0  0.333333   1  70.20   70.2  70.200000
2018-05-11 13:44:14-07:00   0   0  0.000000   5  70.10   70.8  70.348000

                           t_min  t_next      t_out     t_std
time
2018-05-11 13:39:14-07:00  72.50    72.7  76.266072  0.070396
2018-05-11 13:40:14-07:00  74.18    74.4  76.243832  0.063799
2018-05-11 13:43:14-07:00  70.20    70.2  76.332793  0.000000
2018-05-11 13:44:14-07:00  70.10    70.8  76.332793  0.256936
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-11 13:54:14-07:00   0   0  0.000000  15  74.1   74.2  74.158889
2018-05-11 13:55:14-07:00   0   0  0.000000  15  74.4   74.4  74.372222
2018-05-11 13:55:14-07:00   0   0  1.333333   1  70.7   70.7  70.700000
2018-05-11 13:56:14-07:00   0   0  0.000000   5  70.3   70.8  70.416667

                           t_min  t_next      t_out     t_std
time
2018-05-11 13:54:14-07:00   74.1    74.2  76.099269  0.045079
2018-05-11 13:55:14-07:00   74.3    74.3  76.132629  0.043744
2018-05-11 13:55:14-07:00   70.7    70.7  75.999189  0.000000
2018-05-11 13:56:14-07:00   70.3    70.8  75.999189  0.194365
========
Action is by itself with action 1.200000 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 14:18:14-07:00   0   0  1.333333   1  74.433333  74.433333
2018-05-11 14:19:14-07:00   0   0  0.000000  15  74.066667  74.066667
2018-05-11 14:21:14-07:00   0   0  1.200000   1  70.340000  70.340000
2018-05-11 14:22:14-07:00   0   0  0.000000   5  70.100000  70.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 14:18:14-07:00  74.433333  74.433333  74.433333  76.499589
2018-05-11 14:19:14-07:00  73.859333  73.700000  74.000000  76.933269
2018-05-11 14:21:14-07:00  70.340000  70.340000  70.340000  76.999989
2018-05-11 14:22:14-07:00  70.280000  70.100000  70.700000  76.999989

                              t_std
time
2018-05-11 14:18:14-07:00  0.000000
2018-05-11 14:19:14-07:00  0.112994
2018-05-11 14:21:14-07:00  0.000000
2018-05-11 14:22:14-07:00  0.240000
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 14:28:14-07:00   0   1  2.000000   7  71.500000  71.500000
2018-05-11 14:34:14-07:00   0   0  0.000000  15  74.000000  74.200000
2018-05-11 14:35:14-07:00   0   0  0.333333   1  70.383333  70.383333
2018-05-11 14:36:14-07:00   0   0  0.000000   5  70.300000  70.850000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 14:28:14-07:00  71.250000  70.800000  70.800000  76.999989
2018-05-11 14:34:14-07:00  74.106667  74.000000  74.200000  77.577770
2018-05-11 14:35:14-07:00  70.383333  70.383333  70.383333  76.999989
2018-05-11 14:36:14-07:00  70.476667  70.300000  70.850000  77.666659

                              t_std
time
2018-05-11 14:28:14-07:00  0.308221
2018-05-11 14:34:14-07:00  0.070396
2018-05-11 14:35:14-07:00  0.000000
2018-05-11 14:36:14-07:00  0.202100
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-11 14:54:14-07:00   0   0  0.000000  15  73.7   74.0  73.884444
2018-05-11 14:54:14-07:00   0   0  0.000000  15  74.0   74.1  74.047778
2018-05-11 14:55:14-07:00   0   0  1.333333   1  71.4   71.4  71.400000
2018-05-11 14:55:14-07:00   0   0  0.000000  15  74.0   74.1  74.041111

                           t_min  t_next      t_out     t_std
time
2018-05-11 14:54:14-07:00   73.7    73.9  72.699969  0.100271
2018-05-11 14:54:14-07:00   74.0    74.0  72.699969  0.046693
2018-05-11 14:55:14-07:00   71.4    71.4  76.999989  0.000000
2018-05-11 14:55:14-07:00   74.0    74.1  71.266629  0.046693
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-11 15:09:14-07:00   0   0  0.000000  15  73.933333   74.0  73.955556
2018-05-11 15:10:14-07:00   0   0  0.000000  15  74.300000   74.3  74.257778
2018-05-11 15:16:14-07:00   0   0  0.666667   1  70.400000   70.4  70.400000
2018-05-11 15:17:14-07:00   0   0  0.000000   5  70.300000   71.0  70.546667

                           t_min  t_next      t_out     t_std
time
2018-05-11 15:09:14-07:00   73.9    74.0  60.199865  0.044583
2018-05-11 15:10:14-07:00   74.2    74.2  61.766524  0.047868
2018-05-11 15:16:14-07:00   70.4    70.4  55.499888  0.000000
2018-05-11 15:17:14-07:00   70.3    71.0  60.199865  0.269650
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 15:25:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-11 15:25:14-07:00   0   0  0.000000  15  74.083333  74.083333
2018-05-11 15:30:14-07:00   0   0  0.666667   1  70.266667  70.266667
2018-05-11 15:30:14-07:00   0   0  0.000000  15  74.100000  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 15:25:14-07:00  74.106667  74.000000  74.000000  79.089573
2018-05-11 15:25:14-07:00  73.680222  73.500000  73.850000  79.089573
2018-05-11 15:30:14-07:00  70.266667  70.266667  70.266667  78.999775
2018-05-11 15:30:14-07:00  73.941111  73.900000  74.000000  79.201820

                              t_std
time
2018-05-11 15:25:14-07:00  0.079303
2018-05-11 15:25:14-07:00  0.155451
2018-05-11 15:30:14-07:00  0.000000
2018-05-11 15:30:14-07:00  0.058647
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-11 15:40:14-07:00   0   0  0.000000   9  74.00  74.30  74.150000
2018-05-11 15:40:14-07:00   0   0  0.000000  15  74.05  74.20  74.128889
2018-05-11 15:44:14-07:00   0   0  1.333333   1  70.50  70.50  70.500000
2018-05-11 15:45:14-07:00   0   0  0.000000   5  70.30  70.65  70.370000

                           t_min  t_next      t_out     t_std
time
2018-05-11 15:40:14-07:00  74.00   74.30  79.336517  0.141421
2018-05-11 15:40:14-07:00  74.05   74.10  79.246719  0.047323
2018-05-11 15:44:14-07:00  70.50   70.50  79.336517  0.000000
2018-05-11 15:45:14-07:00  70.30   70.65  79.336517  0.140000
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 15:54:14-07:00   0   0  0.000000  15  74.000000  74.100000
2018-05-11 15:55:14-07:00   0   0  0.000000  15  74.150000  74.300000
2018-05-11 15:56:14-07:00   0   0  1.666667   1  74.350000  74.350000
2018-05-11 15:57:14-07:00   0   0  0.000000  15  74.066667  74.066667

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-11 15:54:14-07:00  74.008000  73.90   74.00  78.999775  0.073483
2018-05-11 15:55:14-07:00  74.236667  74.15   74.20  78.999775  0.050259
2018-05-11 15:56:14-07:00  74.350000  74.35   74.35  78.999775  0.000000
2018-05-11 15:57:14-07:00  73.792222  73.60   74.00  78.999775  0.168090
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 15:56:14-07:00   0   0  1.666667   1  74.350000  74.350000
2018-05-11 15:57:14-07:00   0   0  0.000000  15  74.066667  74.066667
2018-05-11 15:59:14-07:00   0   0  1.666667   1  70.800000  70.800000
2018-05-11 16:00:14-07:00   0   0  0.000000   8  74.400000  74.500000

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-11 15:56:14-07:00  74.350000  74.35   74.35  78.999775  0.000000
2018-05-11 15:57:14-07:00  73.792222  73.60   74.00  78.999775  0.168090
2018-05-11 15:59:14-07:00  70.800000  70.80   70.80  78.999775  0.000000
2018-05-11 16:00:14-07:00  74.441667  74.40   74.50  78.999775  0.046398
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt  t_in      t_max     t_mean  \
time
2018-05-11 16:10:14-07:00   0   0  0.000000  15  74.2  74.200000  74.098889
2018-05-11 16:12:14-07:00   0   0  0.000000   5  74.0  74.300000  74.200000
2018-05-11 16:13:14-07:00   0   0  1.666667   1  70.6  70.600000  70.600000
2018-05-11 16:14:14-07:00   0   0  0.000000   5  70.1  70.733333  70.338667

                           t_min     t_next      t_out     t_std
time
2018-05-11 16:10:14-07:00   74.0  74.066667  79.266670  0.076610
2018-05-11 16:12:14-07:00   74.0  74.300000  78.999775  0.126491
2018-05-11 16:13:14-07:00   70.6  70.600000  78.999775  0.000000
2018-05-11 16:14:14-07:00   70.1  70.733333  78.999775  0.245724
========
Action is by itself with action 0.666667 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 16:13:14-07:00   0   0  1.666667   1  70.600000  70.600000
2018-05-11 16:14:14-07:00   0   0  0.000000   5  70.100000  70.733333
2018-05-11 16:15:14-07:00   0   0  0.666667   1  74.283333  74.283333
2018-05-11 16:16:14-07:00   0   0  0.000000  15  74.020000  74.066667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 16:13:14-07:00  70.600000  70.600000  70.600000  78.999775
2018-05-11 16:14:14-07:00  70.338667  70.100000  70.733333  78.999775
2018-05-11 16:15:14-07:00  74.283333  74.283333  74.283333  78.999775
2018-05-11 16:16:14-07:00  73.953556  73.900000  74.066667  79.667012

                              t_std
time
2018-05-11 16:13:14-07:00  0.000000
2018-05-11 16:14:14-07:00  0.245724
2018-05-11 16:15:14-07:00  0.000000
2018-05-11 16:16:14-07:00  0.055437
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 16:24:14-07:00   0   0  0.000000  15  74.100000  74.200000
2018-05-11 16:25:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-11 16:25:14-07:00   0   0  0.666667   1  74.366667  74.366667
2018-05-11 16:26:14-07:00   0   0  0.000000  15  74.033333  74.150000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 16:24:14-07:00  74.148889  74.100000  74.200000  80.001255
2018-05-11 16:25:14-07:00  74.132000  74.000000  74.200000  80.001463
2018-05-11 16:25:14-07:00  74.366667  74.366667  74.366667  80.000630
2018-05-11 16:26:14-07:00  73.832222  73.600000  74.150000  80.001671

                              t_std
time
2018-05-11 16:24:14-07:00  0.044914
2018-05-11 16:25:14-07:00  0.087575
2018-05-11 16:25:14-07:00  0.000000
2018-05-11 16:26:14-07:00  0.176327
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 16:25:14-07:00   0   0  0.666667   1  74.366667  74.366667
2018-05-11 16:26:14-07:00   0   0  0.000000  15  74.033333  74.150000
2018-05-11 16:28:14-07:00   0   0  0.333333   1  70.200000  70.200000
2018-05-11 16:29:14-07:00   0   0  0.000000   4  70.100000  70.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 16:25:14-07:00  74.366667  74.366667  74.366667  80.000630
2018-05-11 16:26:14-07:00  73.832222  73.600000  74.150000  80.001671
2018-05-11 16:28:14-07:00  70.200000  70.200000  70.200000  80.000630
2018-05-11 16:29:14-07:00  70.362500  70.100000  70.700000  80.000630

                              t_std
time
2018-05-11 16:25:14-07:00  0.000000
2018-05-11 16:26:14-07:00  0.176327
2018-05-11 16:28:14-07:00  0.000000
2018-05-11 16:29:14-07:00  0.221853
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in      t_max     t_mean  \
time
2018-05-11 16:39:14-07:00   0   0  0.000000  15  74.15  74.200000  74.163778
2018-05-11 16:40:14-07:00   0   0  0.000000  15  74.20  74.333333  74.176000
2018-05-11 16:41:14-07:00   0   0  1.666667   1  70.60  70.600000  70.600000
2018-05-11 16:41:14-07:00   0   0  0.000000   2  74.30  74.300000  74.300000

                           t_min     t_next      t_out     t_std
time
2018-05-11 16:39:14-07:00   74.1  74.200000  80.003129  0.042841
2018-05-11 16:40:14-07:00   74.1  74.333333  80.002920  0.059916
2018-05-11 16:41:14-07:00   70.6  70.600000  80.003753  0.000000
2018-05-11 16:41:14-07:00   74.3  74.300000  80.003753  0.000000
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 16:54:14-07:00   0   0  0.000000  15  74.200000  74.233333
2018-05-11 16:55:14-07:00   0   0  0.000000  15  74.400000  74.400000
2018-05-11 16:57:14-07:00   0   0  1.333333   1  70.633333  70.633333
2018-05-11 16:58:14-07:00   0   0  0.000000   5  70.100000  71.000000

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-11 16:54:14-07:00  74.158889  74.100000  74.233333  80.00063  0.049765
2018-05-11 16:55:14-07:00  74.296667  74.200000  74.266667  80.00063  0.078457
2018-05-11 16:57:14-07:00  70.633333  70.633333  70.633333  80.00063  0.000000
2018-05-11 16:58:14-07:00  70.430000  70.100000  71.000000  80.00063  0.321870
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 17:13:14-07:00   1   0  1.000000   1  70.500000  70.500000
2018-05-11 17:14:14-07:00   0   0  0.000000   4  70.100000  70.600000
2018-05-11 17:16:14-07:00   0   0  0.333333   1  74.216667  74.216667
2018-05-11 17:17:14-07:00   0   0  0.000000  15  73.983333  74.250000

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-11 17:13:14-07:00  70.500000  70.500000  70.500000  80.00063  0.000000
2018-05-11 17:14:14-07:00  70.315000  70.100000  70.600000  80.00063  0.199186
2018-05-11 17:16:14-07:00  74.216667  74.216667  74.216667  80.00063  0.000000
2018-05-11 17:17:14-07:00  73.902222  73.700000  74.250000  80.00063  0.143613
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 17:24:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-11 17:25:14-07:00   0   0  0.000000  15  74.000000  74.100000
2018-05-11 17:27:14-07:00   0   0  0.666667   1  74.133333  74.133333
2018-05-11 17:28:14-07:00   0   0  0.000000  15  74.033333  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 17:24:14-07:00  74.100000  74.000000  74.100000  80.001255
2018-05-11 17:25:14-07:00  73.998889  73.900000  74.000000  80.001463
2018-05-11 17:27:14-07:00  74.133333  74.133333  74.133333  80.000630
2018-05-11 17:28:14-07:00  73.965556  73.900000  74.100000  80.002087

                              t_std
time
2018-05-11 17:24:14-07:00  0.075277
2018-05-11 17:25:14-07:00  0.076852
2018-05-11 17:27:14-07:00  0.000000
2018-05-11 17:28:14-07:00  0.063674
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 17:39:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-11 17:39:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-11 17:40:14-07:00   0   0  0.666667   1  74.266667  74.266667
2018-05-11 17:40:14-07:00   0   0  0.000000  15  74.000000  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 17:39:14-07:00  74.120000  74.000000  74.000000  80.003129
2018-05-11 17:39:14-07:00  74.160444  74.100000  74.200000  80.003129
2018-05-11 17:40:14-07:00  74.266667  74.266667  74.266667  80.003753
2018-05-11 17:40:14-07:00  73.873778  73.700000  73.700000  80.002920

                              t_std
time
2018-05-11 17:39:14-07:00  0.077028
2018-05-11 17:39:14-07:00  0.045637
2018-05-11 17:40:14-07:00  0.000000
2018-05-11 17:40:14-07:00  0.120848
========
Action is by itself with action 1.333333 for data:

                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-11 17:41:14-07:00   0   0  0.000000  15  73.966667   74.0  73.787778
2018-05-11 17:43:14-07:00   0   0  0.000000  12  74.100000   74.4  74.270833
2018-05-11 17:46:14-07:00   0   0  1.333333   1  70.600000   70.6  70.600000
2018-05-11 17:47:14-07:00   0   0  0.000000   5  70.300000   70.9  70.420000

                           t_min  t_next      t_out     t_std
time
2018-05-11 17:41:14-07:00   73.6    74.0  80.002712  0.156639
2018-05-11 17:43:14-07:00   74.1    74.4  80.002712  0.112654
2018-05-11 17:46:14-07:00   70.6    70.6  80.003753  0.000000
2018-05-11 17:47:14-07:00   70.3    70.9  80.003129  0.240000
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 18:01:14-07:00   0   0  1.333333   1  70.633333  70.633333
2018-05-11 18:02:14-07:00   0   0  0.000000   5  70.300000  71.000000
2018-05-11 18:02:14-07:00   0   0  1.666667   1  74.450000  74.450000
2018-05-11 18:03:14-07:00   0   0  0.000000  15  74.166667  74.166667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 18:01:14-07:00  70.633333  70.633333  70.633333  80.000630
2018-05-11 18:02:14-07:00  70.526667  70.300000  71.000000  75.200567
2018-05-11 18:02:14-07:00  74.450000  74.450000  74.450000  80.000630
2018-05-11 18:03:14-07:00  73.961556  73.900000  74.050000  60.800378

                              t_std
time
2018-05-11 18:01:14-07:00  0.000000
2018-05-11 18:02:14-07:00  0.258543
2018-05-11 18:02:14-07:00  0.000000
2018-05-11 18:03:14-07:00  0.074305
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 18:02:14-07:00   0   0  1.666667   1  74.450000  74.450000
2018-05-11 18:03:14-07:00   0   0  0.000000  15  74.166667  74.166667
2018-05-11 18:04:14-07:00   0   0  1.333333   1  74.400000  74.400000
2018-05-11 18:05:14-07:00   0   0  0.000000  15  74.133333  74.133333

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-11 18:02:14-07:00  74.450000  74.45   74.45  80.000630  0.000000
2018-05-11 18:03:14-07:00  73.961556  73.90   74.05  60.800378  0.074305
2018-05-11 18:04:14-07:00  74.400000  74.40   74.40  80.000630  0.000000
2018-05-11 18:05:14-07:00  73.747778  73.50   74.00  57.600336  0.205017
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 18:09:14-07:00   0   0  0.000000  15  74.200000  74.300000
2018-05-11 18:10:14-07:00   0   0  0.000000  15  73.700000  74.000000
2018-05-11 18:15:14-07:00   0   0  1.666667   1  70.683333  70.683333
2018-05-11 18:16:14-07:00   0   0  0.000000   5  70.100000  70.750000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 18:09:14-07:00  74.243333  74.200000  74.300000  60.800378
2018-05-11 18:10:14-07:00  73.940000  73.700000  74.000000  62.400399
2018-05-11 18:15:14-07:00  70.683333  70.683333  70.683333  56.000315
2018-05-11 18:16:14-07:00  70.330000  70.100000  70.750000  56.000315

                              t_std
time
2018-05-11 18:09:14-07:00  0.044638
2018-05-11 18:10:14-07:00  0.089608
2018-05-11 18:15:14-07:00  0.000000
2018-05-11 18:16:14-07:00  0.222711
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in      t_max     t_mean  \
time
2018-05-11 18:24:14-07:00   0   0  0.000000  15  74.30  74.300000  74.266000
2018-05-11 18:25:14-07:00   0   0  0.000000  15  74.00  74.000000  73.953333
2018-05-11 18:29:14-07:00   0   0  1.666667   1  70.55  70.550000  70.550000
2018-05-11 18:30:14-07:00   0   0  0.000000   5  70.30  70.966667  70.493333

                           t_min     t_next      t_out     t_std
time
2018-05-11 18:24:14-07:00  74.20  74.300000  79.733255  0.043787
2018-05-11 18:25:14-07:00  73.90  74.000000  79.644129  0.046428
2018-05-11 18:29:14-07:00  70.55  70.550000  80.000630  0.000000
2018-05-11 18:30:14-07:00  70.30  70.966667  80.000630  0.248014
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 18:29:14-07:00   0   0  1.666667   1  70.550000  70.550000
2018-05-11 18:30:14-07:00   0   0  0.000000   5  70.300000  70.966667
2018-05-11 18:30:14-07:00   0   0  1.666667   1  74.450000  74.450000
2018-05-11 18:31:14-07:00   0   0  0.000000  15  74.166667  74.166667

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-11 18:29:14-07:00  70.550000  70.55  70.550000  80.000630  0.000000
2018-05-11 18:30:14-07:00  70.493333  70.30  70.966667  80.000630  0.248014
2018-05-11 18:30:14-07:00  74.450000  74.45  74.450000  80.000630  0.000000
2018-05-11 18:31:14-07:00  73.674444  73.40  74.000000  79.109379  0.225903
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 19:49:14-07:00   0   0  0.000000  14  74.400000  74.500000
2018-05-11 19:54:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-11 19:54:14-07:00   0   0  0.666667   1  70.366667  70.366667
2018-05-11 19:55:14-07:00   0   0  0.000000   5  70.100000  70.533333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 19:49:14-07:00  74.453571  74.400000  74.500000  75.856371
2018-05-11 19:54:14-07:00  74.155556  74.100000  74.100000  75.999189
2018-05-11 19:54:14-07:00  70.366667  70.366667  70.366667  75.999189
2018-05-11 19:55:14-07:00  70.286667  70.100000  70.533333  75.999189

                              t_std
time
2018-05-11 19:49:14-07:00  0.048049
2018-05-11 19:54:14-07:00  0.044997
2018-05-11 19:54:14-07:00  0.000000
2018-05-11 19:55:14-07:00  0.169444
========
Action is by itself with action 0.800000 for data:
                           a1  a2  action  dt  t_in  t_max     t_mean  t_min  \
time
2018-05-11 20:07:14-07:00   0   0     0.0   6  70.1   70.6  70.256667   70.1
2018-05-11 20:09:14-07:00   0   0     0.0  15  74.1   74.2  74.140000   74.1
2018-05-11 20:09:14-07:00   0   0     0.8   1  74.2   74.2  74.200000   74.2
2018-05-11 20:10:14-07:00   0   0     0.0  15  74.2   74.4  74.197778   74.0

                           t_next      t_out     t_std
time
2018-05-11 20:07:14-07:00    70.6  75.999189  0.175278
2018-05-11 20:09:14-07:00    74.1  75.399435  0.045866
2018-05-11 20:09:14-07:00    74.2  75.999189  0.000000
2018-05-11 20:10:14-07:00    74.4  75.199517  0.144256
========
Action is by itself with action 0.800000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-11 20:36:14-07:00   0   0     0.0  15  74.10  74.30  74.221111  74.10
2018-05-11 20:39:14-07:00   0   0     0.0  15  74.30  74.30  74.232222  74.10
2018-05-11 20:40:14-07:00   0   0     0.8   1  71.32  71.32  71.320000  71.32
2018-05-11 20:40:14-07:00   0   0     0.0  15  74.30  74.40  74.324222  74.18

                           t_next      t_out     t_std
time
2018-05-11 20:36:14-07:00   74.30  72.336944  0.077571
2018-05-11 20:39:14-07:00   74.10  72.469639  0.072128
2018-05-11 20:40:14-07:00   71.32  72.336944  0.000000
2018-05-11 20:40:14-07:00   74.18  72.513870  0.057277
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 20:47:14-07:00   0   0  0.000000   7  70.100000  71.000000
2018-05-11 20:51:14-07:00   0   0  0.000000  15  74.350000  74.500000
2018-05-11 20:54:14-07:00   0   0  1.666667   1  71.333333  71.333333
2018-05-11 20:54:14-07:00   0   0  0.000000  15  74.100000  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 20:47:14-07:00  70.395238  70.100000  71.000000  72.621289
2018-05-11 20:51:14-07:00  74.425556  74.350000  74.500000  73.000416
2018-05-11 20:54:14-07:00  71.333333  71.333333  71.333333  73.000416
2018-05-11 20:54:14-07:00  74.027111  73.900000  74.000000  68.900375

                              t_std
time
2018-05-11 20:47:14-07:00  0.323880
2018-05-11 20:51:14-07:00  0.047480
2018-05-11 20:54:14-07:00  0.000000
2018-05-11 20:54:14-07:00  0.072937
========
Action is by itself with action 1.200000 for data:
                           a1  a2  action  dt       t_in  t_max     t_mean  \
time
2018-05-11 20:55:14-07:00   0   1     2.0   4  71.400000  71.40  71.170833
2018-05-11 20:56:14-07:00   0   0     0.0  15  74.266667  74.30  74.203556
2018-05-11 20:59:14-07:00   0   0     1.2   1  70.660000  70.66  70.660000
2018-05-11 21:00:14-07:00   0   0     0.0   7  70.300000  71.00  70.479524

                           t_min  t_next      t_out     t_std
time
2018-05-11 20:55:14-07:00  70.90   70.90  73.000416  0.231053
2018-05-11 20:56:14-07:00  74.10   74.20  66.167014  0.079624
2018-05-11 20:59:14-07:00  70.66   70.66  73.000416  0.000000
2018-05-11 21:00:14-07:00  70.30   71.00  70.071815  0.239128
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 21:11:14-07:00   0   1  2.000000   4  74.500000  74.500000
2018-05-11 21:11:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-11 21:12:14-07:00   0   0  1.333333   1  70.633333  70.633333
2018-05-11 21:13:14-07:00   0   0  0.000000   7  70.300000  71.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 21:11:14-07:00  74.462500  74.400000  74.400000  52.500208
2018-05-11 21:11:14-07:00  74.133333  74.100000  74.200000  58.667015
2018-05-11 21:12:14-07:00  70.633333  70.633333  70.633333  52.500208
2018-05-11 21:13:14-07:00  70.492381  70.300000  71.000000  52.500208

                              t_std
time
2018-05-11 21:11:14-07:00  0.041458
2018-05-11 21:11:14-07:00  0.043885
2018-05-11 21:12:14-07:00  0.000000
2018-05-11 21:13:14-07:00  0.242538
========
Action is by itself with action 0.400000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-11 21:25:14-07:00   0   0     0.0  15  74.40  74.40  74.400000  74.40
2018-05-11 21:26:14-07:00   0   0     0.0  15  74.20  74.20  74.068889  74.00
2018-05-11 21:26:14-07:00   0   0     0.4   1  70.18  70.18  70.180000  70.18
2018-05-11 21:27:14-07:00   0   0     0.0   7  70.10  71.00  70.435714  70.10

                           t_next      t_out         t_std
time
2018-05-11 21:25:14-07:00   74.40  71.089463  1.322959e-14
2018-05-11 21:26:14-07:00   74.05  71.111671  6.908574e-02
2018-05-11 21:26:14-07:00   70.18  71.000630  0.000000e+00
2018-05-11 21:27:14-07:00   71.00  71.000630  3.430059e-01

========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 23:39:14-07:00   0   0  0.000000  15  73.200000  73.200000
2018-05-11 23:40:14-07:00   0   0  0.000000  15  73.150000  73.200000
2018-05-11 23:40:14-07:00   0   0  0.666667   1  70.366667  70.366667
2018-05-11 23:40:14-07:00   0   0  0.000000  15  74.000000  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 23:39:14-07:00  73.091111  73.000000  73.100000  71.735719
2018-05-11 23:40:14-07:00  72.938889  72.800000  72.800000  71.757710
2018-05-11 23:40:14-07:00  70.366667  70.366667  70.366667  71.669744
2018-05-11 23:40:14-07:00  73.968889  73.900000  73.900000  71.757710

                              t_std
time
2018-05-11 23:39:14-07:00  0.070676
2018-05-11 23:40:14-07:00  0.180910
2018-05-11 23:40:14-07:00  0.000000
2018-05-11 23:40:14-07:00  0.040764
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-11 23:55:14-07:00   0   0  0.000000  15  73.900000  73.900000
2018-05-11 23:56:14-07:00   0   0  0.000000  15  73.366667  73.400000
2018-05-11 23:58:14-07:00   0   0  0.333333   1  70.166667  70.166667
2018-05-11 23:59:14-07:00   0   0  0.000000  15  70.050000  71.133333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-11 23:55:14-07:00  73.895556  73.833333  73.833333  71.866418
2018-05-11 23:56:14-07:00  73.273333  73.200000  73.200000  71.833119
2018-05-11 23:58:14-07:00  70.166667  70.166667  70.166667  71.999617
2018-05-11 23:59:14-07:00  70.438889  69.800000  71.133333  71.733220

                              t_std
time
2018-05-11 23:55:14-07:00  0.016630
2018-05-11 23:56:14-07:00  0.091247
2018-05-11 23:58:14-07:00  0.000000
2018-05-11 23:59:14-07:00  0.492600
========
Action is by itself with action 0.400000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-12 00:15:14-07:00   0   1     2.0   3  71.50  71.50  71.150000  70.80
2018-05-12 00:15:14-07:00   0   0     0.0  15  73.20  73.20  73.114000  73.00
2018-05-12 00:18:14-07:00   0   0     0.4   1  70.24  70.24  70.240000  70.24
2018-05-12 00:19:14-07:00   0   0     0.0  13  70.00  71.00  70.238462  69.80

                           t_next      t_out     t_std
time
2018-05-12 00:15:14-07:00   70.80  71.500123  0.285774
2018-05-12 00:15:14-07:00   73.00  71.200427  0.064890
2018-05-12 00:18:14-07:00   70.24  71.500123  0.000000
2018-05-12 00:19:14-07:00   71.00  71.077475  0.409105
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 01:03:14-07:00   0   0  0.000000  15  72.500000  72.500000
2018-05-12 01:16:14-07:00   0   0  0.000000   1  71.000000  71.000000
2018-05-12 01:17:14-07:00   0   0  1.333333   1  71.266667  71.266667
2018-05-12 01:18:14-07:00   0   0  0.000000  15  72.400000  72.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 01:03:14-07:00  72.451111  72.400000  72.400000  70.199946
2018-05-12 01:16:14-07:00  71.000000  71.000000  71.000000  69.999775
2018-05-12 01:17:14-07:00  71.266667  71.266667  71.266667  69.999775
2018-05-12 01:18:14-07:00  72.320667  72.200000  72.200000  69.999775

                              t_std
time
2018-05-12 01:03:14-07:00  0.048483
2018-05-12 01:16:14-07:00  0.000000
2018-05-12 01:17:14-07:00  0.000000
2018-05-12 01:18:14-07:00  0.077328
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-12 01:18:14-07:00   0   0  0.000000  15  73.30  73.30  73.223333
2018-05-12 01:18:14-07:00   0   0  0.000000  15  73.00  73.00  72.873333
2018-05-12 01:20:14-07:00   0   0  1.666667   1  70.75  70.75  70.750000
2018-05-12 01:21:14-07:00   0   0  0.000000  15  70.10  71.00  70.254444

                           t_min  t_next      t_out     t_std
time
2018-05-12 01:18:14-07:00  73.20   73.20  69.999775  0.040277
2018-05-12 01:18:14-07:00  72.80   72.80  69.999775  0.092856
2018-05-12 01:20:14-07:00  70.75   70.75  69.999775  0.000000
2018-05-12 01:21:14-07:00  69.80   71.00  69.999775  0.404487
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 03:18:14-07:00   0   1  2.000000   2  70.800000  70.800000
2018-05-12 03:18:14-07:00   0   0  0.000000  15  71.800000  71.800000
2018-05-12 03:20:14-07:00   0   0  0.666667   1  70.333333  70.333333
2018-05-12 03:21:14-07:00   0   0  0.000000  15  70.000000  70.600000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 03:18:14-07:00  70.800000  70.800000  70.800000  67.999989
2018-05-12 03:18:14-07:00  71.767778  71.700000  71.750000  67.999989
2018-05-12 03:20:14-07:00  70.333333  70.333333  70.333333  67.999989
2018-05-12 03:21:14-07:00  70.135556  69.900000  70.600000  67.999989

                              t_std
time
2018-05-12 03:18:14-07:00  0.000000
2018-05-12 03:18:14-07:00  0.043234
2018-05-12 03:20:14-07:00  0.000000
2018-05-12 03:21:14-07:00  0.230769
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-12 04:03:14-07:00   0   0  0.000000  15  72.233333  72.30  72.171111
2018-05-12 04:03:14-07:00   0   0  0.000000  15  72.300000  72.30  72.185333
2018-05-12 04:03:14-07:00   0   0  0.333333   1  70.150000  70.15  70.150000
2018-05-12 04:03:14-07:00   0   0  0.000000  15  70.500000  70.50  70.431111

                           t_min  t_next      t_out     t_std
time
2018-05-12 04:03:14-07:00  72.10   72.10  67.199349  0.089332
2018-05-12 04:03:14-07:00  72.10   72.20  67.199349  0.066364
2018-05-12 04:03:14-07:00  70.15   70.15  67.999989  0.000000
2018-05-12 04:03:14-07:00  70.40   70.40  67.199349  0.044666
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-12 05:48:14-07:00   0   0  0.000000  15  71.7   71.7  71.700000
2018-05-12 05:58:14-07:00   0   0  0.000000   4  70.3   70.5  70.366667
2018-05-12 06:02:14-07:00   0   0  1.666667   2  70.5   70.5  70.466667
2018-05-12 06:03:14-07:00   0   0  0.000000  15  71.8   71.9  71.815556

                               t_min     t_next      t_out         t_std
time
2018-05-12 05:48:14-07:00  71.700000  71.700000  66.798271  1.421085e-14
2018-05-12 05:58:14-07:00  70.300000  70.500000  66.999189  8.164966e-02
2018-05-12 06:02:14-07:00  70.433333  70.433333  66.999189  3.333333e-02
2018-05-12 06:03:14-07:00  71.800000  71.900000  65.399360  3.413843e-02
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 06:33:14-07:00   0   0  0.000000  15  68.800000  68.800000
2018-05-12 06:46:14-07:00   0   0  0.000000   1  70.400000  70.400000
2018-05-12 06:47:14-07:00   0   0  0.333333   1  70.416667  70.416667
2018-05-12 06:48:14-07:00   0   0  0.000000  15  71.566667  71.600000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 06:33:14-07:00  68.796667  68.750000  68.750000  65.399642
2018-05-12 06:46:14-07:00  70.400000  70.400000  70.400000  65.499702
2018-05-12 06:47:14-07:00  70.416667  70.416667  70.416667  65.499702
2018-05-12 06:48:14-07:00  71.541111  71.500000  71.500000  65.099463

                              t_std
time
2018-05-12 06:33:14-07:00  0.012472
2018-05-12 06:46:14-07:00  0.000000
2018-05-12 06:47:14-07:00  0.000000
2018-05-12 06:48:14-07:00  0.045893
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 07:48:14-07:00   0   0  0.000000  15  71.500000  71.600000
2018-05-12 07:48:14-07:00   0   0  0.000000  15  71.200000  71.200000
2018-05-12 07:51:14-07:00   0   0  1.666667   2  70.566667  70.566667
2018-05-12 07:53:14-07:00   0   0  0.000000  15  70.100000  70.400000

                              t_mean  t_min  t_next      t_out         t_std
time
2018-05-12 07:48:14-07:00  71.536444  71.50   71.50  66.200182  4.540300e-02
2018-05-12 07:48:14-07:00  71.200000  71.20   71.20  66.200182  1.421085e-14
2018-05-12 07:51:14-07:00  70.558333  70.55   70.55  66.000203  8.333333e-03
2018-05-12 07:53:14-07:00  70.033333  69.80   70.40  61.466842  2.054805e-01
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 08:33:14-07:00   0   0  0.000000  15  68.200000  68.200000
2018-05-12 08:33:14-07:00   0   0  0.000000  15  71.500000  71.600000
2018-05-12 08:40:14-07:00   0   0  1.666667   2  70.483333  70.483333
2018-05-12 08:42:14-07:00   0   0  0.000000  11  70.033333  70.333333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 08:33:14-07:00  68.200000  68.200000  68.200000  68.799993
2018-05-12 08:33:14-07:00  71.540000  71.500000  71.500000  68.799993
2018-05-12 08:40:14-07:00  70.458333  70.433333  70.433333  68.999995
2018-05-12 08:42:14-07:00  69.981818  69.800000  70.333333  68.818175

                                  t_std
time
2018-05-12 08:33:14-07:00  1.421085e-14
2018-05-12 08:33:14-07:00  4.546061e-02
2018-05-12 08:40:14-07:00  2.500000e-02

2018-05-12 08:42:14-07:00  1.358576e-01
========
Action is by itself with action 1.600000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-12 14:03:14-07:00   0   0     0.0  15  74.10  74.20  74.176667  74.10
2018-05-12 14:03:14-07:00   0   0     0.0  15  73.00  73.10  73.000000  72.80
2018-05-12 14:07:14-07:00   0   0     1.6   1  70.66  70.66  70.660000  70.66
2018-05-12 14:08:14-07:00   0   0     0.0   7  70.10  71.00  70.373810  70.10

                           t_next      t_out     t_std
time
2018-05-12 14:03:14-07:00   74.20  77.800629  0.040277
2018-05-12 14:03:14-07:00   73.00  77.800629  0.076980
2018-05-12 14:07:14-07:00   70.66  78.000789  0.000000
2018-05-12 14:08:14-07:00   71.00  78.000789  0.309872
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-12 14:18:14-07:00   0   0  0.000000  15  72.40  72.60  72.452667
2018-05-12 14:18:14-07:00   0   0  0.000000  15  73.00  73.10  72.982667
2018-05-12 14:21:14-07:00   0   0  0.333333   1  70.15  70.15  70.150000
2018-05-12 14:22:14-07:00   0   0  0.000000   6  70.10  70.90  70.350000

                           t_min  t_next      t_out     t_std
time
2018-05-12 14:18:14-07:00  72.40   72.60  78.000789  0.063505
2018-05-12 14:18:14-07:00  72.80   73.10  78.000789  0.067978
2018-05-12 14:21:14-07:00  70.15   70.15  78.000789  0.000000
2018-05-12 14:22:14-07:00  70.10   70.90  78.000789  0.304138
========
Action is by itself with action 1.200000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-12 15:18:14-07:00   0   0     0.0  15  73.30  73.45  73.378889  73.30
2018-05-12 15:18:14-07:00   0   0     0.0  15  73.30  73.50  73.422222  73.30
2018-05-12 15:18:14-07:00   0   0     1.2   1  71.38  71.38  71.380000  71.38
2018-05-12 15:18:14-07:00   0   0     0.0  15  73.30  73.40  73.322222  73.20

                           t_next      t_out     t_std
time
2018-05-12 15:18:14-07:00   73.45  79.600662  0.044914
2018-05-12 15:18:14-07:00   73.40  79.600662  0.058899
2018-05-12 15:18:14-07:00   71.38  78.000789  0.000000
2018-05-12 15:18:14-07:00   73.20  79.600662  0.056982
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-12 15:33:14-07:00   0   0  0.000000  15  73.20  73.40  73.277778
2018-05-12 15:33:14-07:00   0   0  0.000000  15  73.40  73.50  73.457778
2018-05-12 15:37:14-07:00   0   0  0.333333   1  70.15  70.15  70.150000
2018-05-12 15:38:14-07:00   0   0  0.000000   5  70.10  70.70  70.280000

                           t_min  t_next      t_out     t_std
time
2018-05-12 15:33:14-07:00  73.20   73.30  78.800378  0.083148
2018-05-12 15:33:14-07:00  73.40   73.50  78.800378  0.044666
2018-05-12 15:37:14-07:00  70.15   70.15  78.500315  0.000000
2018-05-12 15:38:14-07:00  70.10   70.70  78.500315  0.240000
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 15:48:14-07:00   0   0  0.000000  15  73.533333  73.600000
2018-05-12 15:48:14-07:00   0   0  0.000000   9  74.350000  74.500000
2018-05-12 15:49:14-07:00   0   0  1.333333   1  70.633333  70.633333
2018-05-12 15:50:14-07:00   0   0  0.000000   6  70.100000  70.900000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 15:48:14-07:00  73.562222  73.500000  73.600000  79.700567
2018-05-12 15:48:14-07:00  74.433333  74.350000  74.500000  79.500525
2018-05-12 15:49:14-07:00  70.633333  70.633333  70.633333  78.500315
2018-05-12 15:50:14-07:00  70.322222  70.100000  70.900000  79.750577

                              t_std
time
2018-05-12 15:48:14-07:00  0.043660
2018-05-12 15:48:14-07:00  0.052705
2018-05-12 15:49:14-07:00  0.000000
2018-05-12 15:50:14-07:00  0.271257
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 16:03:14-07:00   0   0  0.000000  15  73.400000  73.400000
2018-05-12 16:03:14-07:00   0   0  0.000000  15  73.680000  73.700000
2018-05-12 16:03:14-07:00   0   0  1.666667   1  74.466667  74.466667
2018-05-12 16:03:14-07:00   0   0  0.000000  15  73.600000  73.600000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 16:03:14-07:00  73.354222  73.300000  73.400000  41.600126
2018-05-12 16:03:14-07:00  73.645333  73.600000  73.600000  41.600126
2018-05-12 16:03:14-07:00  74.466667  74.466667  74.466667  80.000630
2018-05-12 16:03:14-07:00  73.566667  73.500000  73.600000  41.600126

                              t_std
time
2018-05-12 16:03:14-07:00  0.047195
2018-05-12 16:03:14-07:00  0.045555
2018-05-12 16:03:14-07:00  0.000000
2018-05-12 16:03:14-07:00  0.043885
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-12 16:09:14-07:00   0   1  2.000000   6  71.4  71.40  71.206667
2018-05-12 16:11:14-07:00   0   0  0.000000  15  74.1  74.45  74.274889
2018-05-12 16:15:14-07:00   0   0  0.666667   1  70.2  70.20  70.200000
2018-05-12 16:16:14-07:00   0   0  0.000000   5  70.1  70.80  70.310000

                           t_min  t_next      t_out     t_std
time
2018-05-12 16:09:14-07:00   70.8   70.80  32.000000  0.231421
2018-05-12 16:11:14-07:00   74.1   74.45  46.999996  0.126426
2018-05-12 16:15:14-07:00   70.2   70.20  32.000000  0.000000
2018-05-12 16:16:14-07:00   70.1   70.80  32.000000  0.280000
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 16:34:14-07:00   0   1  2.000000   8  71.500000  71.500000
2018-05-12 16:35:14-07:00   0   0  0.000000  15  74.166667  74.166667
2018-05-12 16:42:14-07:00   0   0  0.333333   1  70.400000  70.400000
2018-05-12 16:43:14-07:00   0   0  0.000000   4  70.300000  70.400000

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-12 16:34:14-07:00  71.225000   70.9  70.900000  76.621243  0.281736
2018-05-12 16:35:14-07:00  73.635556   73.4  73.866667  76.528661  0.207888
2018-05-12 16:42:14-07:00  70.400000   70.4  70.400000  76.494995  0.000000
2018-05-12 16:43:14-07:00  70.365000   70.3  70.400000  76.494995  0.040927
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 16:42:14-07:00   0   0  0.333333   1  70.400000  70.400000
2018-05-12 16:43:14-07:00   0   0  0.000000   4  70.300000  70.400000
2018-05-12 16:47:14-07:00   0   0  0.333333   1  71.033333  71.033333
2018-05-12 16:48:14-07:00   0   0  0.000000  15  73.833333  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 16:42:14-07:00  70.400000  70.400000  70.400000  76.494995
2018-05-12 16:43:14-07:00  70.365000  70.300000  70.400000  76.494995
2018-05-12 16:47:14-07:00  71.033333  71.033333  71.033333  76.494995
2018-05-12 16:48:14-07:00  73.936222  73.833333  73.916667  76.898990

                              t_std
time
2018-05-12 16:42:14-07:00  0.000000
2018-05-12 16:43:14-07:00  0.040927
2018-05-12 16:47:14-07:00  0.000000
2018-05-12 16:48:14-07:00  0.051480
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-12 17:08:14-07:00   0   0  1.666667   1  70.600000   70.6  70.600000
2018-05-12 17:09:14-07:00   0   0  0.000000   6  70.100000   71.0  70.408333
2018-05-12 17:11:14-07:00   0   0  0.666667   1  74.200000   74.2  74.200000
2018-05-12 17:12:14-07:00   0   0  0.000000  15  74.033333   74.1  73.965333

                           t_min  t_next      t_out     t_std
time
2018-05-12 17:08:14-07:00   70.6    70.6  75.999189  0.000000
2018-05-12 17:09:14-07:00   70.1    71.0  75.999189  0.316776
2018-05-12 17:11:14-07:00   74.2    74.2  75.999189  0.000000
2018-05-12 17:12:14-07:00   73.9    74.1  75.999189  0.062738
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 17:33:14-07:00   0   0  0.000000  15  74.000000  74.100000
2018-05-12 17:33:14-07:00   0   0  0.000000  15  73.400000  73.500000
2018-05-12 17:37:14-07:00   0   0  0.666667   1  70.433333  70.433333
2018-05-12 17:38:14-07:00   0   0  0.000000   5  70.300000  71.066667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 17:33:14-07:00  73.993333  73.900000  74.000000  76.399514
2018-05-12 17:33:14-07:00  73.483333  73.400000  73.500000  76.399514
2018-05-12 17:37:14-07:00  70.433333  70.433333  70.433333  76.499595
2018-05-12 17:38:14-07:00  70.553333  70.300000  71.066667  76.499595

                              t_std
time
2018-05-12 17:33:14-07:00  0.070396
2018-05-12 17:33:14-07:00  0.034960
2018-05-12 17:37:14-07:00  0.000000
2018-05-12 17:38:14-07:00  0.281741
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 17:48:14-07:00   0   0  0.000000  15  74.000000  74.000000
2018-05-12 17:48:14-07:00   0   0  0.000000  15  73.700000  73.700000
2018-05-12 17:49:14-07:00   0   0  1.666667   1  74.516667  74.516667
2018-05-12 17:50:14-07:00   0   0  0.000000  15  74.050000  74.050000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 17:48:14-07:00  73.950000  73.900000  74.000000  76.099271
2018-05-12 17:48:14-07:00  73.650000  73.600000  73.700000  76.099271
2018-05-12 17:49:14-07:00  74.516667  74.516667  74.516667  76.499595
2018-05-12 17:50:14-07:00  73.955778  73.900000  74.020000  76.032550

                              t_std
time
2018-05-12 17:48:14-07:00  0.047532
2018-05-12 17:48:14-07:00  0.047532
2018-05-12 17:49:14-07:00  0.000000
2018-05-12 17:50:14-07:00  0.053548
========
Action is by itself with action 0.800000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-12 18:03:14-07:00   0   0     0.0  15  74.000000  74.100000
2018-05-12 18:03:14-07:00   0   0     0.0  15  73.466667  73.600000
2018-05-12 18:05:14-07:00   0   0     0.8   1  70.500000  70.500000
2018-05-12 18:05:14-07:00   0   0     0.0  15  74.100000  74.433333

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-12 18:03:14-07:00  73.982222   73.9  74.100000  76.799829  0.052868
2018-05-12 18:03:14-07:00  73.482222   73.4  73.500000  76.799829  0.082432
2018-05-12 18:05:14-07:00  70.500000   70.5  70.500000  75.999189  0.000000
2018-05-12 18:05:14-07:00  74.275556   74.1  74.433333  76.933269  0.123208
========
Action is by itself with action 0.666667 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 18:05:14-07:00   0   0  0.000000  15  74.100000  74.433333
2018-05-12 18:06:14-07:00   0   0  0.000000   5  70.300000  70.840000
2018-05-12 18:11:14-07:00   0   0  0.666667   1  71.266667  71.266667
2018-05-12 18:11:14-07:00   0   0  0.000000   2  74.066667  74.433333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 18:05:14-07:00  74.275556  74.100000  74.433333  76.933269
2018-05-12 18:06:14-07:00  70.488000  70.300000  70.840000  76.999989
2018-05-12 18:11:14-07:00  71.266667  71.266667  71.266667  76.999989
2018-05-12 18:11:14-07:00  74.250000  74.066667  74.433333  76.999989

                              t_std
time
2018-05-12 18:05:14-07:00  0.123208
2018-05-12 18:06:14-07:00  0.207307
2018-05-12 18:11:14-07:00  0.000000
2018-05-12 18:11:14-07:00  0.183333
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 18:47:14-07:00   0   0  0.000000  15  74.000000  74.066667
2018-05-12 18:48:14-07:00   0   0  0.000000  15  73.300000  73.300000
2018-05-12 18:48:14-07:00   0   0  0.666667   1  70.433333  70.433333
2018-05-12 18:48:14-07:00   0   0  0.000000  15  73.900000  73.900000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 18:47:14-07:00  73.814444  73.500000  74.066667  76.598657
2018-05-12 18:48:14-07:00  73.260000  73.200000  73.300000  76.698990
2018-05-12 18:48:14-07:00  70.433333  70.433333  70.433333  75.494995
2018-05-12 18:48:14-07:00  73.746667  73.700000  73.700000  76.698990

                              t_std
time
2018-05-12 18:47:14-07:00  0.211421
2018-05-12 18:48:14-07:00  0.045866
2018-05-12 18:48:14-07:00  0.000000
2018-05-12 18:48:14-07:00  0.080554
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 18:55:14-07:00   0   1  2.000000   6  71.500000  71.500000
2018-05-12 19:01:14-07:00   0   0  0.000000   1  74.500000  74.500000
2018-05-12 19:01:14-07:00   0   0  0.333333   1  70.133333  70.133333
2018-05-12 19:02:14-07:00   0   0  0.000000   1  74.400000  74.400000

                              t_mean      t_min     t_next      t_out    t_std
time
2018-05-12 18:55:14-07:00  71.238889  70.766667  70.766667  76.999989  0.28572
2018-05-12 19:01:14-07:00  74.500000  74.500000  74.500000  76.999989  0.00000
2018-05-12 19:01:14-07:00  70.133333  70.133333  70.133333  76.999989  0.00000
2018-05-12 19:02:14-07:00  74.400000  74.400000  74.400000  76.999989  0.00000
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 19:01:14-07:00   0   0  0.333333   1  70.133333  70.133333
2018-05-12 19:02:14-07:00   0   0  0.000000   1  74.400000  74.400000
2018-05-12 19:02:14-07:00   0   0  0.333333   1  74.516667  74.516667
2018-05-12 19:02:14-07:00   0   0  0.000000   6  70.100000  70.900000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 19:01:14-07:00  70.133333  70.133333  70.133333  76.999989
2018-05-12 19:02:14-07:00  74.400000  74.400000  74.400000  76.999989
2018-05-12 19:02:14-07:00  74.516667  74.516667  74.516667  76.999989
2018-05-12 19:02:14-07:00  70.366667  70.100000  70.900000  76.999989

                              t_std
time
2018-05-12 19:01:14-07:00  0.000000
2018-05-12 19:02:14-07:00  0.000000
2018-05-12 19:02:14-07:00  0.000000
2018-05-12 19:02:14-07:00  0.319722
========
Action is by itself with action 1.600000 for data:
                           a1  a2  action  dt       t_in  t_max     t_mean  \
time
2018-05-12 19:02:14-07:00   0   0     0.0   6  70.100000  70.90  70.366667
2018-05-12 19:03:14-07:00   0   0     0.0  15  73.300000  73.40  73.346667
2018-05-12 19:03:14-07:00   0   0     1.6   1  74.580000  74.58  74.580000
2018-05-12 19:03:14-07:00   0   0     0.0  15  73.683333  73.70  73.665556

                           t_min     t_next      t_out     t_std
time
2018-05-12 19:02:14-07:00  70.10  70.900000  76.999989  0.319722
2018-05-12 19:03:14-07:00  73.30  73.366667  76.999989  0.046825
2018-05-12 19:03:14-07:00  74.58  74.580000  76.999989  0.000000
2018-05-12 19:03:14-07:00  73.60  73.666667  76.999989  0.043234
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 19:10:14-07:00   0   0  0.000000  15  74.166667  74.166667
2018-05-12 19:10:14-07:00   0   0  0.000000  15  74.083333  74.083333
2018-05-12 19:14:14-07:00   0   0  0.666667   1  70.366667  70.366667
2018-05-12 19:15:14-07:00   0   0  0.000000   6  70.100000  70.940000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 19:10:14-07:00  73.844444  73.600000  74.000000  76.199833
2018-05-12 19:10:14-07:00  73.898444  73.700000  74.033333  76.199833
2018-05-12 19:14:14-07:00  70.366667  70.366667  70.366667  76.999989
2018-05-12 19:15:14-07:00  70.356667  70.100000  70.940000  76.999989

                              t_std
time
2018-05-12 19:10:14-07:00  0.174554
2018-05-12 19:10:14-07:00  0.121916
2018-05-12 19:14:14-07:00  0.000000
2018-05-12 19:15:14-07:00  0.288771
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 19:25:14-07:00   0   0  0.000000   6  74.000000  74.300000
2018-05-12 19:25:14-07:00   0   0  0.000000  15  74.100000  74.366667
2018-05-12 19:27:14-07:00   0   0  0.333333   1  70.233333  70.233333
2018-05-12 19:28:14-07:00   0   0  0.000000   6  70.100000  70.800000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 19:25:14-07:00  74.216667  74.000000  74.300000  73.999403
2018-05-12 19:25:14-07:00  74.210000  74.100000  74.366667  73.466149
2018-05-12 19:27:14-07:00  70.233333  70.233333  70.233333  73.999403
2018-05-12 19:28:14-07:00  70.341667  70.100000  70.800000  73.999403

                              t_std
time
2018-05-12 19:25:14-07:00  0.121335
2018-05-12 19:25:14-07:00  0.086880
2018-05-12 19:27:14-07:00  0.000000
2018-05-12 19:28:14-07:00  0.238776
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 19:48:14-07:00   0   1  2.000000   5  71.500000  71.500000
2018-05-12 19:48:14-07:00   0   0  0.000000  15  74.000000  74.100000
2018-05-12 19:51:14-07:00   0   0  1.333333   1  74.466667  74.466667
2018-05-12 19:52:14-07:00   0   0  0.000000  15  74.133333  74.133333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 19:48:14-07:00  71.248000  70.800000  70.800000  72.799582
2018-05-12 19:48:14-07:00  74.010000  73.900000  74.000000  73.599463
2018-05-12 19:51:14-07:00  74.466667  74.466667  74.466667  73.999403
2018-05-12 19:52:14-07:00  73.842222  73.700000  74.000000  73.732761

                              t_std
time
2018-05-12 19:48:14-07:00  0.311795
2018-05-12 19:48:14-07:00  0.068799
2018-05-12 19:51:14-07:00  0.000000
2018-05-12 19:52:14-07:00  0.142578
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 19:52:14-07:00   0   0  0.000000  15  74.133333  74.133333
2018-05-12 19:53:14-07:00   0   0  0.000000  15  73.740000  74.400000
2018-05-12 19:53:14-07:00   0   0  0.333333   1  70.383333  70.383333
2018-05-12 19:54:14-07:00   0   0  0.000000   7  70.300000  71.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 19:52:14-07:00  73.842222  73.700000  74.000000  73.732761
2018-05-12 19:53:14-07:00  74.097111  73.740000  74.400000  73.466119
2018-05-12 19:53:14-07:00  70.383333  70.383333  70.383333  73.999403
2018-05-12 19:54:14-07:00  70.542857  70.300000  71.200000  73.999403

                              t_std
time
2018-05-12 19:52:14-07:00  0.142578
2018-05-12 19:53:14-07:00  0.177801
2018-05-12 19:53:14-07:00  0.000000
2018-05-12 19:54:14-07:00  0.305357
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 20:18:14-07:00   0   0  0.000000  15  74.000000  74.000000
2018-05-12 20:18:14-07:00   0   0  0.000000  15  73.533333  73.600000
2018-05-12 20:19:14-07:00   0   0  1.666667   1  70.516667  70.516667
2018-05-12 20:20:14-07:00   0   0  0.000000   8  70.100000  71.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 20:18:14-07:00  73.854444  73.700000  73.950000  69.999775
2018-05-12 20:18:14-07:00  73.533333  73.500000  73.500000  69.999775
2018-05-12 20:19:14-07:00  70.516667  70.516667  70.516667  69.999775
2018-05-12 20:20:14-07:00  70.381250  70.100000  71.000000  69.999775

                              t_std
time
2018-05-12 20:18:14-07:00  0.108264
2018-05-12 20:18:14-07:00  0.043885
2018-05-12 20:19:14-07:00  0.000000
2018-05-12 20:20:14-07:00  0.304074
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 20:33:14-07:00   0   0  0.000000  15  74.000000  74.000000
2018-05-12 20:33:14-07:00   0   0  0.000000  15  73.600000  73.600000
2018-05-12 20:33:14-07:00   0   0  0.333333   1  70.233333  70.233333
2018-05-12 20:34:14-07:00   0   0  0.000000   8  69.966667  71.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 20:33:14-07:00  73.843333  73.700000  73.900000  69.603865
2018-05-12 20:33:14-07:00  73.529333  73.500000  73.500000  69.603865
2018-05-12 20:33:14-07:00  70.233333  70.233333  70.233333  69.999775
2018-05-12 20:34:14-07:00  70.237500  69.900000  71.000000  69.628610

                              t_std
time
2018-05-12 20:33:14-07:00  0.098093
2018-05-12 20:33:14-07:00  0.043737
2018-05-12 20:33:14-07:00  0.000000
2018-05-12 20:34:14-07:00  0.367589

========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-12 22:03:14-07:00   0   0  0.000000  15  73.5   73.5  73.378889
2018-05-12 22:03:14-07:00   0   0  0.000000  15  73.3   73.3  73.048889
2018-05-12 22:03:14-07:00   0   0  0.333333   1  70.2   70.2  70.200000
2018-05-12 22:03:14-07:00   0   0  0.000000  15  73.3   73.3  73.179111

                           t_min     t_next      t_out     t_std
time
2018-05-12 22:03:14-07:00   73.3  73.400000  67.399509  0.061000
2018-05-12 22:03:14-07:00   72.8  72.866667  67.399509  0.167273
2018-05-12 22:03:14-07:00   70.2  70.200000  69.000789  0.000000
2018-05-12 22:03:14-07:00   73.1  73.200000  67.399509  0.061686
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-12 22:18:14-07:00   0   0  0.000000  15  73.00  73.00  72.863333
2018-05-12 22:18:14-07:00   0   0  0.000000  15  73.40  73.50  73.376889
2018-05-12 22:20:14-07:00   0   0  1.666667   1  70.65  70.65  70.650000
2018-05-12 22:21:14-07:00   0   0  0.000000  14  70.10  71.00  70.372619

                           t_min  t_next      t_out     t_std
time
2018-05-12 22:18:14-07:00  72.70   72.70  66.999189  0.121747
2018-05-12 22:18:14-07:00  73.30   73.30  66.999189  0.086986
2018-05-12 22:20:14-07:00  70.65   70.65  66.999189  0.000000
2018-05-12 22:21:14-07:00  69.90   71.00  66.999189  0.453102
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-12 22:36:14-07:00   0   1  2.000000   3  71.40  71.40  71.177778
2018-05-12 22:37:14-07:00   0   0  0.000000  15  74.40  74.40  74.376667
2018-05-12 22:39:14-07:00   0   0  1.666667   1  70.55  70.55  70.550000
2018-05-12 22:40:14-07:00   0   0  0.000000  14  70.10  71.00  70.338810

                           t_min  t_next      t_out     t_std
time
2018-05-12 22:36:14-07:00  71.00   71.00  66.499595  0.166296
2018-05-12 22:37:14-07:00  74.30   74.30  66.532901  0.040277
2018-05-12 22:39:14-07:00  70.55   70.55  66.499595  0.000000
2018-05-12 22:40:14-07:00  69.90   71.00  66.606651  0.423919
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-12 23:22:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-12 23:32:14-07:00   0   0  0.000000  15  73.200000  73.200000
2018-05-12 23:32:14-07:00   0   0  0.666667   1  71.133333  71.133333
2018-05-12 23:33:14-07:00   0   0  0.000000  15  72.566667  72.766667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-12 23:22:14-07:00  74.171111  74.100000  74.100000  66.033196
2018-05-12 23:32:14-07:00  73.116667  73.100000  73.100000  66.363128
2018-05-12 23:32:14-07:00  71.133333  71.133333  71.133333  66.000203
2018-05-12 23:33:14-07:00  72.666667  72.566667  72.766667  66.396122

                              t_std
time
2018-05-12 23:22:14-07:00  0.043660
2018-05-12 23:32:14-07:00  0.034960
2018-05-12 23:32:14-07:00  0.000000
2018-05-12 23:33:14-07:00  0.055777
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 01:03:14-07:00   0   0  0.000000  15  72.700000  72.700000
2018-05-13 01:03:14-07:00   0   0  0.000000  15  72.700000  72.700000
2018-05-13 01:04:14-07:00   0   0  1.333333   1  70.433333  70.433333
2018-05-13 01:05:14-07:00   0   0  0.000000  15  70.000000  70.720000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 01:03:14-07:00  72.583333  72.500000  72.500000  66.200000
2018-05-13 01:03:14-07:00  72.625556  72.600000  72.600000  66.200000
2018-05-13 01:04:14-07:00  70.433333  70.433333  70.433333  66.999189
2018-05-13 01:05:14-07:00  70.179111  69.800000  70.720000  66.066802

                              t_std
time
2018-05-13 01:03:14-07:00  0.077698
2018-05-13 01:03:14-07:00  0.042543
2018-05-13 01:04:14-07:00  0.000000
2018-05-13 01:05:14-07:00  0.337142
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 02:37:14-07:00   0   1  2.000000   1  70.833333  70.833333
2018-05-13 02:37:14-07:00   0   0  0.000000  15  72.700000  72.700000
2018-05-13 02:38:14-07:00   0   0  1.666667   1  70.683333  70.683333
2018-05-13 02:39:14-07:00   0   0  0.000000  15  69.966667  70.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 02:37:14-07:00  70.833333  70.833333  70.833333  64.499702
2018-05-13 02:37:14-07:00  72.636667  72.600000  72.600000  64.533015
2018-05-13 02:38:14-07:00  70.683333  70.683333  70.683333  64.499702
2018-05-13 02:39:14-07:00  70.084444  69.900000  70.500000  64.599642

                              t_std
time
2018-05-13 02:37:14-07:00  0.000000
2018-05-13 02:37:14-07:00  0.046428
2018-05-13 02:38:14-07:00  0.000000
2018-05-13 02:39:14-07:00  0.231858
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-13 04:17:14-07:00   0   0  0.000000  15  69.6   69.6  69.520000
2018-05-13 04:18:14-07:00   0   0  0.000000  15  71.8   71.9  71.777778
2018-05-13 04:18:14-07:00   0   0  0.333333   1  70.6   70.6  70.600000
2018-05-13 04:18:14-07:00   0   0  0.000000  15  71.8   71.8  71.744000

                           t_min  t_next      t_out     t_std
time
2018-05-13 04:17:14-07:00   69.4    69.4  60.999775  0.067823
2018-05-13 04:18:14-07:00   71.7    71.7  60.999775  0.087489
2018-05-13 04:18:14-07:00   70.6    70.6  60.999775  0.000000
2018-05-13 04:18:14-07:00   71.7    71.7  60.999775  0.048000
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-13 07:52:14-07:00   0   0  0.000000  15  70.3   70.3  70.300000
2018-05-13 08:02:14-07:00   0   0  0.000000  15  66.8   66.8  66.700000
2018-05-13 08:03:14-07:00   0   0  0.666667   1  70.5   70.5  70.500000
2018-05-13 08:03:14-07:00   0   0  0.000000  15  71.2   71.2  71.075556

                           t_min  t_next      t_out         t_std
time
2018-05-13 07:52:14-07:00   70.3    70.3  59.066457  1.421085e-14
2018-05-13 08:02:14-07:00   66.5    66.5  39.733273  6.776867e-02
2018-05-13 08:03:14-07:00   70.5    70.5  60.999775  0.000000e+00
2018-05-13 08:03:14-07:00   71.0    71.0  37.799955  9.386094e-02
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 09:07:14-07:00   0   0  0.000000  15  70.600000  70.700000
2018-05-13 09:10:14-07:00   0   0  0.000000   2  70.300000  70.366667
2018-05-13 09:12:14-07:00   0   0  1.666667   2  70.583333  70.583333
2018-05-13 09:14:14-07:00   0   0  0.000000  14  70.100000  70.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 09:07:14-07:00  70.622222  70.600000  70.700000  67.999989
2018-05-13 09:10:14-07:00  70.333333  70.300000  70.366667  67.999989
2018-05-13 09:12:14-07:00  70.550000  70.516667  70.516667  67.999989
2018-05-13 09:14:14-07:00  70.053571  69.800000  70.400000  67.999989

                              t_std
time
2018-05-13 09:07:14-07:00  0.039752
2018-05-13 09:10:14-07:00  0.033333
2018-05-13 09:12:14-07:00  0.033333
2018-05-13 09:14:14-07:00  0.210835
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 09:18:14-07:00   0   0  0.000000  15  71.500000  71.600000
2018-05-13 09:22:14-07:00   0   0  0.000000  15  70.700000  70.800000
2018-05-13 09:28:14-07:00   0   0  1.666667   2  70.566667  70.566667
2018-05-13 09:30:14-07:00   0   0  0.000000  10  70.100000  70.333333

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-13 09:18:14-07:00  71.550000  71.50  71.600000  67.999989  0.048305
2018-05-13 09:22:14-07:00  70.722222  70.70  70.800000  67.999989  0.039752
2018-05-13 09:28:14-07:00  70.508333  70.45  70.450000  67.999989  0.058333
2018-05-13 09:30:14-07:00  69.983333  69.80  70.333333  67.999991  0.147761

========
Action is by itself with action 0.800000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-13 10:33:14-07:00   0   0     0.0  15  71.80  71.80  71.750000  71.70
2018-05-13 10:33:14-07:00   0   0     0.0  15  71.50  71.60  71.550667  71.50
2018-05-13 10:33:14-07:00   0   0     0.8   1  70.68  70.68  70.680000  70.68
2018-05-13 10:33:14-07:00   0   0     0.0  15  71.80  71.90  71.890000  71.80

                           t_next      t_out     t_std
time
2018-05-13 10:33:14-07:00   71.70  69.599993  0.048305
2018-05-13 10:33:14-07:00   71.60  69.599993  0.044791
2018-05-13 10:33:14-07:00   70.68  67.999989  0.000000
2018-05-13 10:33:14-07:00   71.90  69.599993  0.027080
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-13 10:50:14-07:00   0   1  2.000000   2  71.000000   71.0  70.875000
2018-05-13 10:52:14-07:00   0   0  0.000000  15  71.400000   71.5  71.441111
2018-05-13 10:52:14-07:00   0   0  0.666667   1  70.300000   70.3  70.300000
2018-05-13 10:53:14-07:00   0   0  0.000000  11  69.933333   70.8  70.130303

                           t_min  t_next      t_out     t_std
time
2018-05-13 10:50:14-07:00  70.75   70.75  68.999992  0.125000
2018-05-13 10:52:14-07:00  71.40   71.50  65.599990  0.048253
2018-05-13 10:52:14-07:00  70.30   70.30  67.999989  0.000000
2018-05-13 10:53:14-07:00  69.90   70.80  67.999989  0.304994
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-13 11:05:14-07:00   0   1  2.000000   2  71.2   71.2  71.100000
2018-05-13 11:07:14-07:00   0   0  0.000000  15  71.5   71.6  71.562222
2018-05-13 11:07:14-07:00   0   0  1.333333   1  70.5   70.5  70.500000
2018-05-13 11:08:14-07:00   0   0  0.000000  11  70.0   70.9  70.145455

                           t_min  t_next      t_out     t_std
time
2018-05-13 11:05:14-07:00   71.0    71.0  49.999995  0.100000
2018-05-13 11:07:14-07:00   71.5    71.6  34.666641  0.046930
2018-05-13 11:07:14-07:00   70.5    70.5  32.000000  0.000000
2018-05-13 11:08:14-07:00   69.8    70.9  32.000000  0.365224
========
Action is by itself with action 0.800000 for data:
                           a1  a2  action  dt   t_in  t_max  t_mean  t_min  \
time
2018-05-13 11:20:14-07:00   0   1     2.0   2  71.20  71.20  71.075  70.95
2018-05-13 11:22:14-07:00   0   0     0.0  15  71.60  71.70  71.676  71.60
2018-05-13 11:22:14-07:00   0   0     0.8   1  70.34  70.34  70.340  70.34
2018-05-13 11:23:14-07:00   0   0     0.0  10  69.95  70.90  70.095  69.80

                           t_next      t_out     t_std
time
2018-05-13 11:20:14-07:00   70.95  51.999808  0.125000
2018-05-13 11:22:14-07:00   71.70  72.065963  0.040792
2018-05-13 11:22:14-07:00   70.34  71.999617  0.000000
2018-05-13 11:23:14-07:00   70.90  71.999617  0.342381
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-13 11:37:14-07:00   0   0  0.000000  15  71.70  71.90  71.798889
2018-05-13 11:37:14-07:00   0   0  0.000000  10  70.00  70.90  70.176667
2018-05-13 11:47:14-07:00   0   0  1.333333   1  71.10  71.10  71.100000
2018-05-13 11:47:14-07:00   0   0  0.000000  15  67.96  68.14  68.050000

                           t_min  t_next      t_out     t_std
time
2018-05-13 11:37:14-07:00  71.70   71.90  72.928462  0.042368
2018-05-13 11:37:14-07:00  69.90   70.90  72.994808  0.309857
2018-05-13 11:47:14-07:00  71.10   71.10  72.994808  0.000000
2018-05-13 11:47:14-07:00  67.96   68.14  72.265001  0.055498
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-13 12:03:14-07:00   0   0  0.000000  15  72.4   72.6  72.517778
2018-05-13 12:03:14-07:00   0   0  0.000000  15  72.1   72.2  72.087556
2018-05-13 12:06:14-07:00   0   0  1.333333   1  70.5   70.5  70.500000
2018-05-13 12:07:14-07:00   0   0  0.000000  15  72.1   72.2  72.156000

                           t_min     t_next      t_out     t_std
time
2018-05-13 12:03:14-07:00   72.4  72.533333  73.599446  0.064253
2018-05-13 12:03:14-07:00   71.9  72.100000  73.599446  0.090623
2018-05-13 12:06:14-07:00   70.5  70.500000  73.999403  0.000000
2018-05-13 12:07:14-07:00   72.1  72.200000  73.999403  0.048000
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 12:18:14-07:00   0   0  0.000000  15  72.600000  72.700000
2018-05-13 12:18:14-07:00   0   0  0.000000  15  72.200000  72.400000
2018-05-13 12:18:14-07:00   0   0  0.333333   1  71.066667  71.066667
2018-05-13 12:18:14-07:00   0   0  0.000000  15  72.133333  72.250000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 12:18:14-07:00  72.633333  72.600000  72.600000  73.999403
2018-05-13 12:18:14-07:00  72.306667  72.200000  72.400000  73.999403
2018-05-13 12:18:14-07:00  71.066667  71.066667  71.066667  73.999403
2018-05-13 12:18:14-07:00  72.198889  72.133333  72.250000  73.999403

                              t_std
time
2018-05-13 12:18:14-07:00  0.043461
2018-05-13 12:18:14-07:00  0.079303
2018-05-13 12:18:14-07:00  0.000000
2018-05-13 12:18:14-07:00  0.021488
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 12:19:14-07:00   0   1  2.000000   3  71.400000  71.400000
2018-05-13 12:22:14-07:00   0   0  0.000000  15  72.200000  72.400000
2018-05-13 12:22:14-07:00   0   0  1.333333   1  70.683333  70.683333
2018-05-13 12:23:14-07:00   0   0  0.000000  10  70.100000  71.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 12:19:14-07:00  71.300000  71.200000  71.200000  73.999403
2018-05-13 12:22:14-07:00  72.306667  72.200000  72.400000  74.065756
2018-05-13 12:22:14-07:00  70.683333  70.683333  70.683333  73.999403
2018-05-13 12:23:14-07:00  70.292000  69.900000  71.000000  73.999403

                              t_std
time
2018-05-13 12:19:14-07:00  0.081650
2018-05-13 12:22:14-07:00  0.047842
2018-05-13 12:22:14-07:00  0.000000
2018-05-13 12:23:14-07:00  0.400919
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 12:33:14-07:00   0   0  0.000000  15  72.400000  72.500000
2018-05-13 12:33:14-07:00   0   0  0.000000  15  72.300000  72.300000
2018-05-13 12:33:14-07:00   0   0  1.666667   1  71.333333  71.333333
2018-05-13 12:33:14-07:00   0   0  0.000000  15  72.650000  72.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 12:33:14-07:00  72.436667  72.400000  72.466667  74.795642
2018-05-13 12:33:14-07:00  72.267778  72.200000  72.300000  74.795642
2018-05-13 12:33:14-07:00  71.333333  71.333333  71.333333  73.999403
2018-05-13 12:33:14-07:00  72.657778  72.600000  72.700000  74.795642

                              t_std
time
2018-05-13 12:33:14-07:00  0.043119
2018-05-13 12:33:14-07:00  0.043234
2018-05-13 12:33:14-07:00  0.000000
2018-05-13 12:33:14-07:00  0.044250
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 12:38:14-07:00   0   0  0.000000   9  70.100000  71.000000
2018-05-13 12:47:14-07:00   0   0  0.000000  15  69.060000  69.400000
2018-05-13 12:47:14-07:00   0   0  0.333333   1  71.083333  71.083333
2018-05-13 12:48:14-07:00   0   0  0.000000  15  72.700000  72.800000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 12:38:14-07:00  70.317037  69.900000  71.000000  74.994702
2018-05-13 12:47:14-07:00  69.166222  69.060000  69.400000  74.264816
2018-05-13 12:47:14-07:00  71.083333  71.083333  71.083333  74.994702
2018-05-13 12:48:14-07:00  72.734667  72.700000  72.720000  74.198463

                              t_std
time
2018-05-13 12:38:14-07:00  0.337092
2018-05-13 12:47:14-07:00  0.084869
2018-05-13 12:47:14-07:00  0.000000
2018-05-13 12:48:14-07:00  0.043150
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 12:48:14-07:00   0   0  0.000000  15  72.300000  72.500000
2018-05-13 12:52:14-07:00   0   0  0.000000  15  72.600000  72.700000
2018-05-13 12:52:14-07:00   0   0  1.333333   1  70.466667  70.466667
2018-05-13 12:53:14-07:00   0   0  0.000000   8  70.100000  71.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 12:48:14-07:00  72.420000  72.300000  72.433333  74.198463
2018-05-13 12:52:14-07:00  72.628889  72.600000  72.700000  71.199443
2018-05-13 12:52:14-07:00  70.466667  70.466667  70.466667  73.999403
2018-05-13 12:53:14-07:00  70.366667  70.100000  71.000000  73.999403

                              t_std
time
2018-05-13 12:48:14-07:00  0.061824
2018-05-13 12:52:14-07:00  0.043660
2018-05-13 12:52:14-07:00  0.000000
2018-05-13 12:53:14-07:00  0.308671
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 12:52:14-07:00   0   0  1.333333   1  70.466667  70.466667
2018-05-13 12:53:14-07:00   0   0  0.000000   8  70.100000  71.000000
2018-05-13 13:01:14-07:00   0   0  0.333333   1  71.083333  71.083333
2018-05-13 13:02:14-07:00   0   0  0.000000  15  69.400000  69.600000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 12:52:14-07:00  70.466667  70.466667  70.466667  73.999403
2018-05-13 12:53:14-07:00  70.366667  70.100000  71.000000  73.999403
2018-05-13 13:01:14-07:00  71.083333  71.083333  71.083333  73.999403
2018-05-13 13:02:14-07:00  69.518889  69.400000  69.600000  43.199841

                              t_std
time
2018-05-13 12:52:14-07:00  0.000000
2018-05-13 12:53:14-07:00  0.308671
2018-05-13 13:01:14-07:00  0.000000
2018-05-13 13:02:14-07:00  0.078142
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-13 13:03:14-07:00   0   0  0.000000  15  72.8   72.9  72.773333
2018-05-13 13:03:14-07:00   0   0  0.000000  15  72.5   72.5  72.466667
2018-05-13 13:06:14-07:00   0   0  0.666667   1  70.5   70.5  70.500000
2018-05-13 13:07:14-07:00   0   0  0.000000  15  72.7   72.8  72.762222

                           t_min  t_next      t_out     t_std
time
2018-05-13 13:03:14-07:00   72.7    72.9  40.399881  0.054705
2018-05-13 13:03:14-07:00   72.4    72.5  40.399881  0.043885
2018-05-13 13:06:14-07:00   70.5    70.5  32.000000  0.000000
2018-05-13 13:07:14-07:00   72.7    72.8  34.933279  0.046930
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 13:18:14-07:00   0   0  0.000000  15  72.550000  72.600000
2018-05-13 13:18:14-07:00   0   0  0.000000  15  73.000000  73.040000
2018-05-13 13:19:14-07:00   0   0  1.666667   1  70.683333  70.683333
2018-05-13 13:20:14-07:00   0   0  0.000000   8  70.100000  71.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 13:18:14-07:00  72.564444  72.500000  72.600000  67.199352
2018-05-13 13:18:14-07:00  72.938222  72.800000  73.040000  67.199352
2018-05-13 13:19:14-07:00  70.683333  70.683333  70.683333  32.000000
2018-05-13 13:20:14-07:00  70.335417  69.900000  71.000000  70.499291

                              t_std
time
2018-05-13 13:18:14-07:00  0.042543
2018-05-13 13:18:14-07:00  0.088993
2018-05-13 13:19:14-07:00  0.000000

2018-05-13 13:20:14-07:00  0.345249
========
Action is by itself with action 1.600000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-13 14:03:14-07:00   0   0     0.0  15  73.00  73.20  73.107778  73.00
2018-05-13 14:03:14-07:00   0   0     0.0  15  72.78  73.00  72.902000  72.70
2018-05-13 14:07:14-07:00   0   0     1.6   1  71.36  71.36  71.360000  71.36
2018-05-13 14:07:14-07:00   0   0     0.0  15  73.40  73.60  73.492222  73.40

                           t_next      t_out     t_std
time
2018-05-13 14:03:14-07:00   73.10  77.600469  0.071716
2018-05-13 14:03:14-07:00   73.00  77.600469  0.124471
2018-05-13 14:07:14-07:00   71.36  78.000789  0.000000
2018-05-13 14:07:14-07:00   73.60  78.000789  0.049015
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-13 14:20:14-07:00   0   1  2.000000   5  71.4   71.4  71.266667
2018-05-13 14:22:14-07:00   0   0  0.000000  15  73.6   73.7  73.636667
2018-05-13 14:25:14-07:00   0   0  1.333333   1  70.7   70.7  70.700000
2018-05-13 14:26:14-07:00   0   0  0.000000   6  70.3   70.8  70.458333

                           t_min  t_next      t_out     t_std
time
2018-05-13 14:20:14-07:00   70.9    70.9  78.000789  0.194365
2018-05-13 14:22:14-07:00   73.6    73.7  78.034096  0.046428
2018-05-13 14:25:14-07:00   70.7    70.7  78.000789  0.000000
2018-05-13 14:26:14-07:00   70.3    70.8  78.000789  0.188009
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-13 14:26:14-07:00   0   0  0.000000   6  70.3   70.8  70.458333
2018-05-13 14:32:14-07:00   0   0  0.000000  15  71.3   71.6  71.471111
2018-05-13 14:32:14-07:00   0   0  0.666667   1  71.3   71.3  71.300000
2018-05-13 14:33:14-07:00   0   0  0.000000  15  72.5   72.6  72.552222

                           t_min  t_next      t_out     t_std
time
2018-05-13 14:26:14-07:00   70.3    70.8  78.000789  0.188009
2018-05-13 14:32:14-07:00   71.3    71.6  78.367166  0.090772
2018-05-13 14:32:14-07:00   71.3    71.3  78.000789  0.000000
2018-05-13 14:33:14-07:00   72.5    72.6  78.400473  0.047480
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 14:33:14-07:00   0   1  2.000000   5  71.500000  71.500000
2018-05-13 14:37:14-07:00   0   0  0.000000  15  73.700000  73.920000
2018-05-13 14:38:14-07:00   0   0  1.333333   1  70.533333  70.533333
2018-05-13 14:39:14-07:00   0   0  0.000000   6  70.300000  70.900000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 14:33:14-07:00  71.350000  71.000000  71.000000  78.200631
2018-05-13 14:37:14-07:00  73.788000  73.700000  73.920000  78.467087
2018-05-13 14:38:14-07:00  70.533333  70.533333  70.533333  78.500394
2018-05-13 14:39:14-07:00  70.450000  70.300000  70.900000  78.500394

                              t_std
time
2018-05-13 14:33:14-07:00  0.200000
2018-05-13 14:37:14-07:00  0.097379
2018-05-13 14:38:14-07:00  0.000000
2018-05-13 14:39:14-07:00  0.229129
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 15:02:14-07:00   0   0  0.000000  15  72.100000  72.500000
2018-05-13 15:03:14-07:00   0   0  0.000000  15  73.400000  73.400000
2018-05-13 15:03:14-07:00   0   0  1.333333   1  70.633333  70.633333
2018-05-13 15:03:14-07:00   0   0  0.000000  15  72.700000  72.800000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 15:02:14-07:00  72.286889  72.100000  72.500000  44.266877
2018-05-13 15:03:14-07:00  73.366667  73.300000  73.400000  41.200158
2018-05-13 15:03:14-07:00  70.633333  70.633333  70.633333  78.000789
2018-05-13 15:03:14-07:00  72.742222  72.700000  72.800000  41.200158

                              t_std
time
2018-05-13 15:02:14-07:00  0.126810
2018-05-13 15:03:14-07:00  0.043885
2018-05-13 15:03:14-07:00  0.000000
2018-05-13 15:03:14-07:00  0.047868
========
Action is by itself with action 0.400000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-13 15:37:14-07:00   0   1     2.0   6  71.50  71.50  71.250000  70.90
2018-05-13 15:37:14-07:00   0   0     0.0  15  74.35  74.50  74.413333  74.35
2018-05-13 15:43:14-07:00   0   0     0.4   1  70.26  70.26  70.260000  70.26
2018-05-13 15:44:14-07:00   0   0     0.0   5  70.10  70.90  70.360000  70.10

                           t_next      t_out     t_std
time
2018-05-13 15:37:14-07:00   70.90  79.504888  0.269258
2018-05-13 15:37:14-07:00   74.50  79.471214  0.038586
2018-05-13 15:43:14-07:00   70.26  79.504888  0.000000
2018-05-13 15:44:14-07:00   70.90  79.504888  0.280000
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 16:03:14-07:00   0   1  2.000000   6  71.500000  71.500000
2018-05-13 16:05:14-07:00   0   0  0.000000  15  74.100000  74.100000
2018-05-13 16:09:14-07:00   0   0  1.333333   1  70.633333  70.633333
2018-05-13 16:10:14-07:00   0   0  0.000000   5  70.100000  70.600000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 16:03:14-07:00  71.280000  70.900000  70.900000  79.500203
2018-05-13 16:05:14-07:00  73.953556  73.900000  74.000000  79.933906
2018-05-13 16:09:14-07:00  70.633333  70.633333  70.633333  80.000630
2018-05-13 16:10:14-07:00  70.286667  70.100000  70.600000  80.000630

                              t_std
time
2018-05-13 16:03:14-07:00  0.272029
2018-05-13 16:05:14-07:00  0.060178
2018-05-13 16:09:14-07:00  0.000000
2018-05-13 16:10:14-07:00  0.177138
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 16:48:14-07:00   0   0  0.000000  15  73.500000  73.600000
2018-05-13 16:48:14-07:00   0   0  0.000000  15  73.900000  73.900000
2018-05-13 16:49:14-07:00   0   0  1.333333   1  70.433333  70.433333
2018-05-13 16:50:14-07:00   0   0  0.000000   5  70.300000  70.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 16:48:14-07:00  73.487778  73.400000  73.600000  80.001567
2018-05-13 16:48:14-07:00  73.804444  73.700000  73.866667  80.001567
2018-05-13 16:49:14-07:00  70.433333  70.433333  70.433333  80.005315
2018-05-13 16:50:14-07:00  70.433333  70.300000  70.700000  80.001567

                              t_std
time
2018-05-13 16:48:14-07:00  0.070044
2018-05-13 16:48:14-07:00  0.090976
2018-05-13 16:49:14-07:00  0.000000
2018-05-13 16:50:14-07:00  0.168655
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 17:24:14-07:00   0   0  1.666667   1  74.350000  74.350000
2018-05-13 17:25:14-07:00   0   0  0.000000  15  74.100000  74.100000
2018-05-13 17:29:14-07:00   0   0  0.666667   1  74.233333  74.233333
2018-05-13 17:30:14-07:00   0   0  0.000000  15  74.000000  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 17:24:14-07:00  74.350000  74.350000  74.350000  80.000630
2018-05-13 17:25:14-07:00  73.956667  73.900000  74.033333  79.600546
2018-05-13 17:29:14-07:00  74.233333  74.233333  74.233333  80.000630
2018-05-13 17:30:14-07:00  73.836667  73.600000  74.000000  79.100441

                              t_std
time
2018-05-13 17:24:14-07:00  0.000000
2018-05-13 17:25:14-07:00  0.061403
2018-05-13 17:29:14-07:00  0.000000
2018-05-13 17:30:14-07:00  0.159652
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 17:40:14-07:00   0   0  0.000000  15  74.100000  74.450000
2018-05-13 17:45:14-07:00   0   0  0.000000   2  74.200000  74.416667
2018-05-13 17:46:14-07:00   0   0  0.666667   1  70.466667  70.466667
2018-05-13 17:47:14-07:00   0   0  0.000000   5  70.300000  70.950000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 17:40:14-07:00  74.277778  74.100000  74.450000  78.900399
2018-05-13 17:45:14-07:00  74.308333  74.200000  74.416667  78.500315
2018-05-13 17:46:14-07:00  70.466667  70.466667  70.466667  78.500315
2018-05-13 17:47:14-07:00  70.526000  70.300000  70.950000  78.800378

                              t_std
time
2018-05-13 17:40:14-07:00  0.125265
2018-05-13 17:45:14-07:00  0.108333
2018-05-13 17:46:14-07:00  0.000000
2018-05-13 17:47:14-07:00  0.240632
========
Action is by itself with action 0.666667 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 17:55:14-07:00   0   0  0.666667   1  74.333333  74.333333
2018-05-13 17:56:14-07:00   0   0  0.000000  15  74.033333  74.033333
2018-05-13 18:01:14-07:00   0   0  0.666667   1  70.300000  70.300000
2018-05-13 18:02:14-07:00   0   0  0.000000   4  70.100000  70.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 17:55:14-07:00  74.333333  74.333333  74.333333  80.000630
2018-05-13 17:56:14-07:00  73.788889  73.600000  74.000000  79.000416
2018-05-13 18:01:14-07:00  70.300000  70.300000  70.300000  80.000630
2018-05-13 18:02:14-07:00  70.287500  70.100000  70.500000  80.000630

                              t_std
time
2018-05-13 17:55:14-07:00  0.000000
2018-05-13 17:56:14-07:00  0.164617
2018-05-13 18:01:14-07:00  0.000000
2018-05-13 18:02:14-07:00  0.167239
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-13 18:33:14-07:00   0   0  0.000000  15  73.9   74.0  73.973333
2018-05-13 18:33:14-07:00   0   0  0.000000  15  74.1   74.3  74.196667
2018-05-13 18:33:14-07:00   0   0  1.666667   1  74.5   74.5  74.500000
2018-05-13 18:33:14-07:00   0   0  0.000000  15  73.9   74.1  74.000222

                           t_min  t_next      t_out     t_std
time
2018-05-13 18:33:14-07:00   73.9    73.9  76.595993  0.040277
2018-05-13 18:33:14-07:00   74.1    74.1  76.595993  0.076546
2018-05-13 18:33:14-07:00   74.5    74.5  76.999989  0.000000
2018-05-13 18:33:14-07:00   73.9    73.9  76.595993  0.076308
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 18:40:14-07:00   0   0  0.333333   1  74.216667  74.216667
2018-05-13 18:41:14-07:00   0   0  0.000000  15  74.000000  74.100000
2018-05-13 18:43:14-07:00   0   0  1.333333   1  70.500000  70.500000
2018-05-13 18:44:14-07:00   0   0  0.000000   5  70.300000  70.750000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 18:40:14-07:00  74.216667  74.216667  74.216667  76.494995
2018-05-13 18:41:14-07:00  73.958889  73.900000  74.100000  76.663326
2018-05-13 18:43:14-07:00  70.500000  70.500000  70.500000  76.494995
2018-05-13 18:44:14-07:00  70.450000  70.300000  70.750000  76.494995

                              t_std
time
2018-05-13 18:40:14-07:00  0.000000
2018-05-13 18:41:14-07:00  0.064079
2018-05-13 18:43:14-07:00  0.000000
2018-05-13 18:44:14-07:00  0.167332
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-13 18:50:14-07:00   0   1  2.000000   7  71.4   71.4  71.114286
2018-05-13 18:56:14-07:00   0   0  0.000000  15  74.1   74.5  74.298000
2018-05-13 18:57:14-07:00   0   0  0.666667   1  70.4   70.4  70.400000
2018-05-13 18:58:14-07:00   0   0  0.000000   5  70.3   70.7  70.450000

                           t_min  t_next      t_out     t_std
time
2018-05-13 18:50:14-07:00   70.6    70.6  76.927847  0.299660
2018-05-13 18:56:14-07:00   74.1    74.5  76.666389  0.127121
2018-05-13 18:57:14-07:00   70.4    70.4  76.999989  0.000000
2018-05-13 18:58:14-07:00   70.3    70.7  76.999989  0.167332
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-13 19:18:14-07:00   0   0  0.000000  15  73.9   74.0  73.901111
2018-05-13 19:18:14-07:00   0   0  0.000000  15  74.2   74.3  74.217778
2018-05-13 19:18:14-07:00   0   0  0.666667   1  74.2   74.2  74.200000
2018-05-13 19:18:14-07:00   0   0  0.000000  15  73.7   73.9  73.754444

                           t_min  t_next      t_out     t_std
time
2018-05-13 19:18:14-07:00   73.7    73.7  75.999189  0.092789
2018-05-13 19:18:14-07:00   74.1    74.1  75.999189  0.065678
2018-05-13 19:18:14-07:00   74.2    74.2  75.999189  0.000000
2018-05-13 19:18:14-07:00   73.6    73.6  75.999189  0.097462
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 19:34:14-07:00   0   0  0.000000  15  74.033333  74.300000
2018-05-13 19:34:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-13 19:39:14-07:00   0   0  0.666667   1  70.333333  70.333333
2018-05-13 19:40:14-07:00   0   0  0.000000   6  70.100000  71.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 19:34:14-07:00  74.187111  74.033333  74.300000  74.266207
2018-05-13 19:34:14-07:00  73.777111  73.500000  74.000000  74.266207
2018-05-13 19:39:14-07:00  70.333333  70.333333  70.333333  73.999595
2018-05-13 19:40:14-07:00  70.435000  70.100000  71.000000  73.999595

                              t_std
time
2018-05-13 19:34:14-07:00  0.086151
2018-05-13 19:34:14-07:00  0.212292
2018-05-13 19:39:14-07:00  0.000000
2018-05-13 19:40:14-07:00  0.337824
========
Action is by itself with action 1.600000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-13 19:49:14-07:00   0   0     0.0   8  74.000000  74.300000
2018-05-13 19:49:14-07:00   0   0     0.0  10  74.333333  74.533333
2018-05-13 19:52:14-07:00   0   0     1.6   1  70.540000  70.540000
2018-05-13 19:53:14-07:00   0   0     0.0   7  70.300000  70.566667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 19:49:14-07:00  74.165000  74.000000  74.300000  75.499291
2018-05-13 19:49:14-07:00  74.441667  74.333333  74.533333  75.599271
2018-05-13 19:52:14-07:00  70.540000  70.540000  70.540000  75.999189
2018-05-13 19:53:14-07:00  70.376190  70.300000  70.566667  75.999189

                              t_std
time
2018-05-13 19:49:14-07:00  0.139911
2018-05-13 19:49:14-07:00  0.061124
2018-05-13 19:52:14-07:00  0.000000
2018-05-13 19:53:14-07:00  0.088577
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 20:48:14-07:00   0   0  0.000000  15  73.600000  73.700000
2018-05-13 20:48:14-07:00   0   0  0.000000  15  74.050000  74.100000
2018-05-13 20:49:14-07:00   0   0  1.666667   1  74.266667  74.266667
2018-05-13 20:50:14-07:00   0   0  0.000000  15  74.083333  74.083333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 20:48:14-07:00  73.635556  73.600000  73.600000  71.799655
2018-05-13 20:48:14-07:00  74.045556  74.000000  74.000000  71.799655
2018-05-13 20:49:14-07:00  74.266667  74.266667  74.266667  70.999808
2018-05-13 20:50:14-07:00  73.551111  73.300000  73.500000  71.932963

                              t_std
time
2018-05-13 20:48:14-07:00  0.045079
2018-05-13 20:48:14-07:00  0.045325
2018-05-13 20:49:14-07:00  0.000000
2018-05-13 20:50:14-07:00  0.226770
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 21:48:14-07:00   0   0  0.000000  15  73.700000  73.900000
2018-05-13 21:48:14-07:00   0   0  0.000000  15  73.400000  73.500000
2018-05-13 21:50:14-07:00   0   0  1.333333   1  71.266667  71.266667
2018-05-13 21:50:14-07:00   0   0  0.000000  15  74.400000  74.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 21:48:14-07:00  73.764444  73.700000  73.700000  69.799798
2018-05-13 21:48:14-07:00  73.445556  73.400000  73.400000  69.799798
2018-05-13 21:50:14-07:00  71.266667  71.266667  71.266667  68.999888
2018-05-13 21:50:14-07:00  74.400000  74.400000  74.400000  69.933116

                                  t_std
time
2018-05-13 21:48:14-07:00  8.646701e-02
2018-05-13 21:48:14-07:00  4.653420e-02
2018-05-13 21:50:14-07:00  0.000000e+00
2018-05-13 21:50:14-07:00  1.372899e-14
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-13 22:18:14-07:00   0   0  0.000000  15  73.200000  73.400000
2018-05-13 22:18:14-07:00   0   0  0.000000  15  73.600000  73.700000
2018-05-13 22:20:14-07:00   0   0  0.666667   1  71.266667  71.266667
2018-05-13 22:20:14-07:00   0   0  0.000000  15  74.400000  74.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-13 22:18:14-07:00  73.298667  73.200000  73.280000  67.999989
2018-05-13 22:18:14-07:00  73.634444  73.600000  73.600000  67.999989
2018-05-13 22:20:14-07:00  71.266667  71.266667  71.266667  67.999989
2018-05-13 22:20:14-07:00  74.400000  74.400000  74.400000  67.999989

                                  t_std
time
2018-05-13 22:18:14-07:00  7.714152e-02
2018-05-13 22:18:14-07:00  4.408185e-02
2018-05-13 22:20:14-07:00  0.000000e+00
2018-05-13 22:20:14-07:00  1.322959e-14
========
Action is by itself with action 0.800000 for data:
                           a1  a2  action  dt  t_in  t_max     t_mean  t_min  \
time
2018-05-14 00:48:14-07:00   0   0     0.0  15  73.2   73.2  73.086667   73.0
2018-05-14 00:48:14-07:00   0   0     0.0  15  73.0   73.0  72.785556   72.7
2018-05-14 00:49:14-07:00   0   0     0.8   1  70.3   70.3  70.300000   70.3
2018-05-14 00:50:14-07:00   0   0     0.0  15  73.0   73.0  72.886667   72.8

                           t_next      t_out     t_std
time
2018-05-14 00:48:14-07:00    73.1  66.500271  0.074087
2018-05-14 00:48:14-07:00    72.7  66.500271  0.105561
2018-05-14 00:49:14-07:00    70.3  64.504595  0.000000
2018-05-14 00:50:14-07:00    72.8  66.832883  0.095685

========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 03:18:14-07:00   0   1  2.000000   2  70.800000  70.800000
2018-05-14 03:18:14-07:00   0   0  0.000000  15  72.300000  72.300000
2018-05-14 03:20:14-07:00   0   0  0.666667   1  70.333333  70.333333
2018-05-14 03:20:14-07:00   0   0  0.000000  15  71.000000  71.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 03:18:14-07:00  70.800000  70.800000  70.800000  32.000000
2018-05-14 03:18:14-07:00  72.216667  72.100000  72.100000  54.400631
2018-05-14 03:20:14-07:00  70.333333  70.333333  70.333333  32.000000
2018-05-14 03:20:14-07:00  70.876667  70.800000  70.800000  58.134069

                              t_std
time
2018-05-14 03:18:14-07:00  0.000000
2018-05-14 03:18:14-07:00  0.073283
2018-05-14 03:20:14-07:00  0.000000
2018-05-14 03:20:14-07:00  0.072979
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 09:20:14-07:00   0   0  0.000000  15  67.700000  67.700000
2018-05-14 09:20:14-07:00   0   0  0.000000  15  71.300000  71.400000
2018-05-14 09:33:14-07:00   0   0  0.666667   1  70.466667  70.466667
2018-05-14 09:33:14-07:00   0   0  0.000000  15  70.600000  70.900000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 09:20:14-07:00  67.700000  67.700000  67.700000  64.000416
2018-05-14 09:20:14-07:00  71.355556  71.300000  71.400000  64.000416
2018-05-14 09:33:14-07:00  70.466667  70.466667  70.466667  64.000416
2018-05-14 09:33:14-07:00  70.787333  70.600000  70.900000  64.800250

                                  t_std
time
2018-05-14 09:20:14-07:00  1.421085e-14
2018-05-14 09:20:14-07:00  4.817663e-02
2018-05-14 09:33:14-07:00  0.000000e+00
2018-05-14 09:33:14-07:00  9.007158e-02
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 09:47:14-07:00   0   1  2.000000   1  70.500000  70.500000
2018-05-14 09:48:14-07:00   0   0  0.000000  15  70.900000  71.000000
2018-05-14 09:48:14-07:00   0   0  1.666667   1  70.433333  70.433333
2018-05-14 09:48:14-07:00   0   0  0.000000  15  71.250000  71.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 09:47:14-07:00  70.500000  70.500000  70.500000  65.000208
2018-05-14 09:48:14-07:00  70.762222  70.400000  70.400000  64.200375
2018-05-14 09:48:14-07:00  70.433333  70.433333  70.433333  65.000208
2018-05-14 09:48:14-07:00  71.263333  71.200000  71.300000  64.200375

                              t_std
time
2018-05-14 09:47:14-07:00  0.000000
2018-05-14 09:48:14-07:00  0.185339
2018-05-14 09:48:14-07:00  0.000000
2018-05-14 09:48:14-07:00  0.043119
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 11:33:14-07:00   0   0  0.000000  15  71.700000  72.300000
2018-05-14 11:33:14-07:00   0   0  0.000000  15  72.140000  72.500000
2018-05-14 11:35:14-07:00   0   0  0.666667   1  70.533333  70.533333
2018-05-14 11:35:14-07:00   0   0  0.000000  15  72.300000  72.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 11:33:14-07:00  72.113333  71.700000  72.300000  71.199865
2018-05-14 11:33:14-07:00  72.346000  72.140000  72.500000  71.199865
2018-05-14 11:35:14-07:00  70.533333  70.533333  70.533333  69.999775
2018-05-14 11:35:14-07:00  72.316667  72.300000  72.400000  71.399880

                              t_std
time
2018-05-14 11:33:14-07:00  0.217919
2018-05-14 11:33:14-07:00  0.122844
2018-05-14 11:35:14-07:00  0.000000
2018-05-14 11:35:14-07:00  0.034960
========
Action is by itself with action 0.400000 for data:
                           a1  a2  action  dt   t_in      t_max     t_mean  \
time
2018-05-14 11:48:14-07:00   0   0     0.0  15  72.30  72.500000  72.332889
2018-05-14 11:50:14-07:00   0   0     0.0  15  69.80  70.400000  70.144444
2018-05-14 11:50:14-07:00   0   0     0.4   1  70.26  70.260000  70.260000
2018-05-14 11:50:14-07:00   0   0     0.0  15  72.40  72.633333  72.505556

                           t_min     t_next      t_out     t_std
time
2018-05-14 11:48:14-07:00  72.20  72.500000  70.299798  0.104207
2018-05-14 11:50:14-07:00  69.80  70.400000  70.099783  0.178851
2018-05-14 11:50:14-07:00  70.26  70.260000  71.499888  0.000000
2018-05-14 11:50:14-07:00  72.40  72.633333  70.099783  0.082477
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 12:20:14-07:00   0   0  0.000000  15  70.433333  70.500000
2018-05-14 12:20:14-07:00   0   0  0.000000  15  73.000000  73.200000
2018-05-14 12:22:14-07:00   0   0  1.666667   1  70.683333  70.683333
2018-05-14 12:23:14-07:00   0   0  0.000000   6  70.100000  70.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 12:20:14-07:00  70.424444  70.300000  70.300000  72.800374
2018-05-14 12:20:14-07:00  73.057778  73.000000  73.200000  72.800374
2018-05-14 12:22:14-07:00  70.683333  70.683333  70.683333  73.000416
2018-05-14 12:23:14-07:00  70.216667  70.100000  70.400000  73.000416

                              t_std
time
2018-05-14 12:20:14-07:00  0.067183
2018-05-14 12:20:14-07:00  0.062618
2018-05-14 12:22:14-07:00  0.000000
2018-05-14 12:23:14-07:00  0.134371
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 14:33:14-07:00   0   0  0.000000  15  73.600000  73.700000
2018-05-14 14:33:14-07:00   0   0  0.000000  15  73.700000  73.700000
2018-05-14 14:35:14-07:00   0   0  0.333333   1  70.216667  70.216667
2018-05-14 14:35:14-07:00   0   0  0.000000  15  72.866667  73.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 14:33:14-07:00  73.653333  73.600000  73.600000  78.400473
2018-05-14 14:33:14-07:00  73.642667  73.600000  73.600000  78.400473
2018-05-14 14:35:14-07:00  70.216667  70.216667  70.216667  78.000789
2018-05-14 14:35:14-07:00  73.090000  72.866667  73.300000  78.467087

                              t_std
time
2018-05-14 14:33:14-07:00  0.046825
2018-05-14 14:33:14-07:00  0.044192
2018-05-14 14:35:14-07:00  0.000000
2018-05-14 14:35:14-07:00  0.107117
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 14:48:14-07:00   0   0  0.000000  15  73.600000  73.600000
2018-05-14 14:50:14-07:00   0   0  0.000000  15  73.300000  73.600000
2018-05-14 14:53:14-07:00   0   0  0.333333   1  70.400000  70.400000
2018-05-14 14:54:14-07:00   0   0  0.000000   3  70.166667  70.166667

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-14 14:48:14-07:00  73.563333   73.5    73.6  78.100710  0.045623
2018-05-14 14:50:14-07:00  73.425556   73.3    73.6  78.034096  0.090445
2018-05-14 14:53:14-07:00  70.400000   70.4    70.4  78.000789  0.000000
2018-05-14 14:54:14-07:00  70.122222   70.1    70.1  78.000789  0.031427
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 15:26:14-07:00   0   0  0.333333   1  70.383333  70.383333
2018-05-14 15:27:14-07:00   0   0  0.000000   3  70.200000  70.200000
2018-05-14 15:27:14-07:00   0   0  0.333333   1  74.116667  74.116667
2018-05-14 15:28:14-07:00   0   0  0.000000  15  74.000000  74.040000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 15:26:14-07:00  70.383333  70.383333  70.383333  78.999775
2018-05-14 15:27:14-07:00  70.133333  70.100000  70.100000  78.999775
2018-05-14 15:27:14-07:00  74.116667  74.116667  74.116667  78.999775
2018-05-14 15:28:14-07:00  73.948222  73.900000  74.040000  79.235494

                              t_std
time
2018-05-14 15:26:14-07:00  0.000000
2018-05-14 15:27:14-07:00  0.047140
2018-05-14 15:27:14-07:00  0.000000
2018-05-14 15:28:14-07:00  0.050551
========
Action is by itself with action 0.333333 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 15:33:14-07:00   0   0  0.000000  15  73.900000  73.900000
2018-05-14 15:35:14-07:00   0   0  0.000000   6  74.400000  74.500000
2018-05-14 15:37:14-07:00   0   0  0.333333   1  70.233333  70.233333
2018-05-14 15:38:14-07:00   0   0  0.000000   3  70.100000  70.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 15:33:14-07:00  73.822222  73.700000  73.900000  79.403865
2018-05-14 15:35:14-07:00  74.438889  74.400000  74.500000  79.420702
2018-05-14 15:37:14-07:00  70.233333  70.233333  70.233333  79.504888
2018-05-14 15:38:14-07:00  70.200000  70.100000  70.300000  79.504888

                              t_std
time
2018-05-14 15:33:14-07:00  0.090813
2018-05-14 15:35:14-07:00  0.044790
2018-05-14 15:37:14-07:00  0.000000
2018-05-14 15:38:14-07:00  0.081650
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 15:48:14-07:00   0   0  0.000000  15  73.700000  73.900000
2018-05-14 15:48:14-07:00   0   0  0.000000  15  73.900000  73.900000
2018-05-14 15:49:14-07:00   0   0  0.666667   1  74.166667  74.166667
2018-05-14 15:49:14-07:00   0   0  0.000000   4  70.100000  70.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 15:48:14-07:00  73.771111  73.700000  73.700000  79.100798
2018-05-14 15:48:14-07:00  73.788889  73.700000  73.700000  79.100798
2018-05-14 15:49:14-07:00  74.166667  74.166667  74.166667  79.504888
2018-05-14 15:49:14-07:00  70.225000  70.100000  70.400000  79.252332

                              t_std
time
2018-05-14 15:48:14-07:00  0.090158
2018-05-14 15:48:14-07:00  0.089993
2018-05-14 15:49:14-07:00  0.000000
2018-05-14 15:49:14-07:00  0.129904
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 16:07:14-07:00   0   0  1.666667   1  74.466667  74.466667
2018-05-14 16:08:14-07:00   0   0  0.000000  15  74.166667  74.166667
2018-05-14 16:12:14-07:00   0   0  0.333333   1  70.366667  70.366667
2018-05-14 16:13:14-07:00   0   0  0.000000   3  70.100000  70.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 16:07:14-07:00  74.466667  74.466667  74.466667  32.000000
2018-05-14 16:08:14-07:00  73.959111  73.900000  74.020000  38.400084
2018-05-14 16:12:14-07:00  70.366667  70.366667  70.366667  32.000000
2018-05-14 16:13:14-07:00  70.100000  70.100000  70.100000  32.000000

                              t_std
time
2018-05-14 16:07:14-07:00  0.000000
2018-05-14 16:08:14-07:00  0.072413
2018-05-14 16:12:14-07:00  0.000000
2018-05-14 16:13:14-07:00  0.000000
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 16:18:14-07:00   0   0  0.000000  15  73.600000  74.000000
2018-05-14 16:18:14-07:00   0   0  0.000000  15  73.700000  74.000000
2018-05-14 16:21:14-07:00   0   0  0.333333   1  74.183333  74.183333
2018-05-14 16:22:14-07:00   0   0  0.000000  15  73.983333  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 16:18:14-07:00  73.850000  73.600000  74.000000  70.400504
2018-05-14 16:18:14-07:00  73.914444  73.700000  74.000000  70.400504
2018-05-14 16:21:14-07:00  74.183333  74.183333  74.183333  80.000630
2018-05-14 16:22:14-07:00  73.760667  73.500000  74.000000  80.067276

                              t_std
time
2018-05-14 16:18:14-07:00  0.141421
2018-05-14 16:18:14-07:00  0.082746
2018-05-14 16:21:14-07:00  0.000000
2018-05-14 16:22:14-07:00  0.193020
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 16:22:14-07:00   0   0  0.000000  15  73.983333  74.000000
2018-05-14 16:23:14-07:00   0   0  0.000000  14  74.100000  74.400000
2018-05-14 16:23:14-07:00   0   0  0.333333   1  70.216667  70.216667
2018-05-14 16:24:14-07:00   0   0  0.000000   3  70.100000  70.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 16:22:14-07:00  73.760667  73.500000  74.000000  80.067276
2018-05-14 16:23:14-07:00  74.264286  74.100000  74.400000  80.072036
2018-05-14 16:23:14-07:00  70.216667  70.216667  70.216667  80.000630
2018-05-14 16:24:14-07:00  70.188889  70.100000  70.300000  80.000630

                              t_std
time
2018-05-14 16:22:14-07:00  0.193020
2018-05-14 16:23:14-07:00  0.119831
2018-05-14 16:23:14-07:00  0.000000
2018-05-14 16:24:14-07:00  0.083148
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-14 16:33:14-07:00   0   0  0.000000  15  74.0   74.0  73.962222
2018-05-14 16:33:14-07:00   0   0  0.000000  15  73.9   73.9  73.833333
2018-05-14 16:34:14-07:00   0   0  0.666667   1  70.5   70.5  70.500000
2018-05-14 16:35:14-07:00   0   0  0.000000   3  70.2   70.2  70.133333

                           t_min  t_next      t_out     t_std
time
2018-05-14 16:33:14-07:00   73.9    73.9  80.800378  0.046930
2018-05-14 16:33:14-07:00   73.7    73.9  80.800378  0.086923
2018-05-14 16:34:14-07:00   70.5    70.5  80.000630  0.000000
2018-05-14 16:35:14-07:00   70.1    70.1  80.667087  0.047140
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-14 16:34:14-07:00   0   0  0.666667   1  70.50  70.50  70.500000
2018-05-14 16:35:14-07:00   0   0  0.000000   3  70.20  70.20  70.133333
2018-05-14 16:37:14-07:00   0   0  0.666667   1  74.45  74.45  74.450000
2018-05-14 16:37:14-07:00   0   0  0.000000   8  74.00  74.40  74.212500

                           t_min  t_next      t_out     t_std
time
2018-05-14 16:34:14-07:00  70.50   70.50  80.000630  0.000000
2018-05-14 16:35:14-07:00  70.10   70.10  80.667087  0.047140
2018-05-14 16:37:14-07:00  74.45   74.45  81.000315  0.000000
2018-05-14 16:37:14-07:00  74.00   74.40  81.000315  0.145237
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 16:52:14-07:00   0   0  1.333333   1  74.366667  74.366667
2018-05-14 16:53:14-07:00   0   0  0.000000  15  74.066667  74.066667
2018-05-14 16:56:14-07:00   0   0  0.333333   1  70.233333  70.233333
2018-05-14 16:57:14-07:00   0   0  0.000000   3  70.100000  70.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 16:52:14-07:00  74.366667  74.366667  74.366667  80.000630
2018-05-14 16:53:14-07:00  73.692444  73.500000  74.000000  80.267268
2018-05-14 16:56:14-07:00  70.233333  70.233333  70.233333  80.000630
2018-05-14 16:57:14-07:00  70.220000  70.100000  70.300000  80.000630

                              t_std
time
2018-05-14 16:52:14-07:00  0.000000
2018-05-14 16:53:14-07:00  0.170661
2018-05-14 16:56:14-07:00  0.000000
2018-05-14 16:57:14-07:00  0.086410
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 17:03:14-07:00   0   0  0.000000  15  74.000000  74.100000
2018-05-14 17:03:14-07:00   0   0  0.000000  15  73.700000  74.100000
2018-05-14 17:07:14-07:00   0   0  0.333333   1  70.383333  70.383333
2018-05-14 17:08:14-07:00   0   0  0.000000   3  70.233333  70.233333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 17:03:14-07:00  74.047778  74.000000  74.100000  81.600459
2018-05-14 17:03:14-07:00  73.988889  73.700000  74.100000  81.600459
2018-05-14 17:07:14-07:00  70.383333  70.383333  70.383333  82.000416
2018-05-14 17:08:14-07:00  70.144444  70.100000  70.100000  82.000416

                              t_std
time
2018-05-14 17:03:14-07:00  0.045893
2018-05-14 17:03:14-07:00  0.117799
2018-05-14 17:07:14-07:00  0.000000
2018-05-14 17:08:14-07:00  0.062854
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 17:18:14-07:00   0   0  0.000000  15  74.100000  74.200000
2018-05-14 17:18:14-07:00   0   0  0.000000  15  74.000000  74.000000
2018-05-14 17:19:14-07:00   0   0  1.666667   1  74.450000  74.450000
2018-05-14 17:20:14-07:00   0   0  0.000000  15  74.133333  74.133333

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-14 17:18:14-07:00  74.123333  74.00  74.000000  82.000416  0.054365
2018-05-14 17:18:14-07:00  73.970000  73.90  73.950000  82.000416  0.040000
2018-05-14 17:19:14-07:00  74.450000  74.45  74.450000  82.000416  0.000000
2018-05-14 17:20:14-07:00  73.964444  73.90  74.033333  82.000416  0.066071
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 17:22:14-07:00   0   1  2.000000   6  70.933333  71.000000
2018-05-14 17:23:14-07:00   0   0  0.000000  15  74.000000  74.000000
2018-05-14 17:28:14-07:00   0   0  1.666667   1  70.800000  70.800000
2018-05-14 17:29:14-07:00   0   0  0.000000   4  70.233333  70.233333

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-14 17:22:14-07:00  70.930556   70.9    70.9  82.000416  0.036536
2018-05-14 17:23:14-07:00  73.745556   73.5    74.0  81.867722  0.185039
2018-05-14 17:28:14-07:00  70.800000   70.8    70.8  82.000416  0.000000
2018-05-14 17:29:14-07:00  70.133333   70.1    70.1  82.000416  0.057735
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 17:29:14-07:00   0   0  0.000000   4  70.233333  70.233333
2018-05-14 17:33:14-07:00   0   0  0.000000  15  73.900000  74.000000
2018-05-14 17:33:14-07:00   0   0  1.666667   1  70.766667  70.766667
2018-05-14 17:33:14-07:00   0   0  0.000000  15  74.100000  74.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 17:29:14-07:00  70.133333  70.100000  70.100000  82.000416
2018-05-14 17:33:14-07:00  73.976667  73.900000  74.000000  81.204250
2018-05-14 17:33:14-07:00  70.766667  70.766667  70.766667  82.000416
2018-05-14 17:33:14-07:00  74.136667  74.100000  74.150000  81.204250

                              t_std
time
2018-05-14 17:29:14-07:00  0.057735
2018-05-14 17:33:14-07:00  0.035901
2018-05-14 17:33:14-07:00  0.000000
2018-05-14 17:33:14-07:00  0.042687
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 17:35:14-07:00   0   0  0.000000  13  74.100000  74.500000
2018-05-14 17:38:14-07:00   0   0  0.000000   8  74.000000  74.300000
2018-05-14 17:39:14-07:00   0   0  1.333333   1  70.633333  70.633333
2018-05-14 17:40:14-07:00   0   0  0.000000   4  70.300000  70.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 17:35:14-07:00  74.282051  74.100000  74.500000  81.081763
2018-05-14 17:38:14-07:00  74.162500  74.000000  74.300000  81.005208
2018-05-14 17:39:14-07:00  70.633333  70.633333  70.633333  81.005208
2018-05-14 17:40:14-07:00  70.175000  70.100000  70.100000  81.005208

                              t_std
time
2018-05-14 17:35:14-07:00  0.152817
2018-05-14 17:38:14-07:00  0.140868
2018-05-14 17:39:14-07:00  0.000000
2018-05-14 17:40:14-07:00  0.082916
========
Action is by itself with action 0.666667 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 17:49:14-07:00   0   1  2.000000   6  74.600000  74.600000
2018-05-14 17:50:14-07:00   0   0  0.000000   4  70.100000  70.300000
2018-05-14 17:52:14-07:00   0   0  0.666667   1  74.300000  74.300000
2018-05-14 17:53:14-07:00   0   0  0.000000  15  74.066667  74.066667

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-14 17:49:14-07:00  74.561111   74.5    74.5  81.668680  0.044790
2018-05-14 17:50:14-07:00  70.183333   70.1    70.3  81.751614  0.086603
2018-05-14 17:52:14-07:00  74.300000   74.3    74.3  82.000416  0.000000
2018-05-14 17:53:14-07:00  73.751111   73.6    74.0  75.333694  0.149996
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-14 18:08:14-07:00   0   0  0.000000   8  74.0   74.3  74.162500
2018-05-14 18:11:14-07:00   0   0  0.000000  13  74.2   74.5  74.314103
2018-05-14 18:12:14-07:00   0   0  1.333333   1  70.7   70.7  70.700000
2018-05-14 18:13:14-07:00   0   0  0.000000   4  70.1   70.4  70.200000

                           t_min  t_next      t_out     t_std
time
2018-05-14 18:08:14-07:00   74.0    74.3  32.000000  0.140868
2018-05-14 18:11:14-07:00   74.2    74.5  43.077068  0.113951
2018-05-14 18:12:14-07:00   70.7    70.7  32.000000  0.000000
2018-05-14 18:13:14-07:00   70.1    70.4  32.000000  0.122474
========
Action is by itself with action 0.400000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-14 18:33:14-07:00   0   0     0.0  15  74.20  74.20  74.146667  74.10
2018-05-14 18:33:14-07:00   0   0     0.0  15  74.10  74.10  74.062222  74.00
2018-05-14 18:35:14-07:00   0   0     0.4   1  70.26  70.26  70.260000  70.26
2018-05-14 18:36:14-07:00   0   0     0.0   4  70.05  70.05  70.012500  70.00

                              t_next      t_out     t_std
time
2018-05-14 18:33:14-07:00  74.200000  79.600378  0.046428
2018-05-14 18:33:14-07:00  74.033333  79.600378  0.043234
2018-05-14 18:35:14-07:00  70.260000  80.000630  0.000000
2018-05-14 18:36:14-07:00  70.000000  79.500315  0.021651
========
Action is by itself with action 0.400000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 18:55:14-07:00   0   0  0.333333   1  74.233333  74.233333
2018-05-14 18:56:14-07:00   0   0  0.000000  15  73.966667  74.000000
2018-05-14 18:57:14-07:00   0   0  0.400000   1  70.420000  70.420000
2018-05-14 18:58:14-07:00   0   0  0.000000   3  70.166667  70.166667

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-14 18:55:14-07:00  74.233333  74.233333  74.233333  80.00063  0.000000
2018-05-14 18:56:14-07:00  73.734444  73.500000  74.000000  80.00063  0.182215
2018-05-14 18:57:14-07:00  70.420000  70.420000  70.420000  80.00063  0.000000
2018-05-14 18:58:14-07:00  70.122222  70.100000  70.100000  80.00063  0.031427
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 18:57:14-07:00   0   0  0.400000   1  70.420000  70.420000
2018-05-14 18:58:14-07:00   0   0  0.000000   3  70.166667  70.166667
2018-05-14 19:01:14-07:00   0   0  0.333333   1  70.233333  70.233333
2018-05-14 19:01:14-07:00   0   0  0.000000   1  74.416667  74.416667

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-14 18:57:14-07:00  70.420000  70.420000  70.420000  80.00063  0.000000
2018-05-14 18:58:14-07:00  70.122222  70.100000  70.100000  80.00063  0.031427
2018-05-14 19:01:14-07:00  70.233333  70.233333  70.233333  80.00063  0.000000
2018-05-14 19:01:14-07:00  74.416667  74.416667  74.416667  80.00063  0.000000
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 19:18:14-07:00   0   0  0.000000  15  74.300000  74.300000
2018-05-14 19:18:14-07:00   0   0  0.000000  15  74.300000  74.500000
2018-05-14 19:20:14-07:00   0   0  1.666667   1  70.716667  70.716667
2018-05-14 19:21:14-07:00   0   0  0.000000   4  70.300000  70.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 19:18:14-07:00  74.300000  74.300000  74.300000  79.199946
2018-05-14 19:18:14-07:00  74.412667  74.300000  74.500000  79.199946
2018-05-14 19:20:14-07:00  70.716667  70.716667  70.716667  80.000630
2018-05-14 19:21:14-07:00  70.337500  70.300000  70.400000  78.999775

                                  t_std
time
2018-05-14 19:18:14-07:00  1.421085e-14
2018-05-14 19:18:14-07:00  6.516304e-02
2018-05-14 19:20:14-07:00  0.000000e+00
2018-05-14 19:21:14-07:00  4.145781e-02
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-14 19:26:14-07:00   0   1  2.000000   6  71.0   71.0  70.944444
2018-05-14 19:27:14-07:00   0   0  0.000000  15  74.1   74.1  73.717778
2018-05-14 19:32:14-07:00   0   0  0.666667   1  70.5   70.5  70.500000
2018-05-14 19:33:14-07:00   0   0  0.000000   4  70.2   70.2  70.125000

                           t_min  t_next      t_out     t_std
time
2018-05-14 19:26:14-07:00   70.9    70.9  78.999775  0.045812
2018-05-14 19:27:14-07:00   73.5    73.6  78.199820  0.201427
2018-05-14 19:32:14-07:00   70.5    70.5  78.999775  0.000000
2018-05-14 19:33:14-07:00   70.1    70.1  78.499803  0.043301
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 20:03:14-07:00   0   0  0.000000  15  74.300000  74.400000
2018-05-14 20:03:14-07:00   0   0  0.000000  15  74.400000  74.500000
2018-05-14 20:03:14-07:00   0   0  1.333333   1  74.466667  74.466667
2018-05-14 20:03:14-07:00   0   0  0.000000  15  74.600000  74.800000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 20:03:14-07:00  74.333333  74.300000  74.300000  78.999775
2018-05-14 20:03:14-07:00  74.433333  74.400000  74.400000  78.999775
2018-05-14 20:03:14-07:00  74.466667  74.466667  74.466667  78.999775
2018-05-14 20:03:14-07:00  74.584444  74.400000  74.500000  78.999775

                              t_std
time
2018-05-14 20:03:14-07:00  0.043885
2018-05-14 20:03:14-07:00  0.045134
2018-05-14 20:03:14-07:00  0.000000
2018-05-14 20:03:14-07:00  0.157700
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 20:36:14-07:00   0   1  2.000000   4  70.950000  71.000000
2018-05-14 20:36:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-14 20:40:14-07:00   0   0  1.666667   1  70.633333  70.633333
2018-05-14 20:41:14-07:00   0   0  0.000000   5  70.300000  70.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 20:36:14-07:00  70.875000  70.700000  70.700000  74.495101
2018-05-14 20:36:14-07:00  73.864444  73.700000  74.000000  74.495101
2018-05-14 20:40:14-07:00  70.633333  70.633333  70.633333  74.495101
2018-05-14 20:41:14-07:00  70.193333  70.100000  70.100000  74.495101

                              t_std
time
2018-05-14 20:36:14-07:00  0.114564
2018-05-14 20:36:14-07:00  0.135246
2018-05-14 20:40:14-07:00  0.000000
2018-05-14 20:41:14-07:00  0.090431
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 20:49:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-14 20:51:14-07:00   0   0  0.000000  15  74.000000  74.300000
2018-05-14 20:51:14-07:00   0   0  1.333333   1  70.566667  70.566667
2018-05-14 20:52:14-07:00   0   0  0.000000   5  70.300000  70.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 20:49:14-07:00  73.661111  73.400000  73.500000  74.932856
2018-05-14 20:51:14-07:00  74.125778  74.000000  74.300000  75.000203
2018-05-14 20:51:14-07:00  70.566667  70.566667  70.566667  75.000203
2018-05-14 20:52:14-07:00  70.193333  70.100000  70.100000  75.000203

                              t_std
time
2018-05-14 20:49:14-07:00  0.259820
2018-05-14 20:51:14-07:00  0.088397
2018-05-14 20:51:14-07:00  0.000000
2018-05-14 20:52:14-07:00  0.090431
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 21:19:14-07:00   0   0  0.000000  15  74.100000  74.400000
2018-05-14 21:21:14-07:00   0   0  0.000000  15  74.400000  74.500000
2018-05-14 21:22:14-07:00   0   0  1.333333   1  70.566667  70.566667
2018-05-14 21:23:14-07:00   0   0  0.000000   5  70.100000  70.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 21:19:14-07:00  74.293333  74.100000  74.400000  73.999403
2018-05-14 21:21:14-07:00  74.488889  74.400000  74.500000  73.999403
2018-05-14 21:22:14-07:00  70.566667  70.566667  70.566667  73.999403
2018-05-14 21:23:14-07:00  70.190000  70.100000  70.400000  73.999403

                              t_std
time
2018-05-14 21:19:14-07:00  0.114956
2018-05-14 21:21:14-07:00  0.028974
2018-05-14 21:22:14-07:00  0.000000
2018-05-14 21:23:14-07:00  0.120000
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 21:33:14-07:00   0   0  0.000000  15  74.100000  74.100000
2018-05-14 21:33:14-07:00   0   0  0.000000  15  74.100000  74.100000
2018-05-14 21:33:14-07:00   0   0  0.666667   1  70.266667  70.266667
2018-05-14 21:34:14-07:00   0   0  0.000000  15  74.433333  74.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 21:33:14-07:00  73.978889  73.900000  73.900000  72.803642
2018-05-14 21:33:14-07:00  74.049333  74.000000  74.000000  72.803642
2018-05-14 21:33:14-07:00  70.266667  70.266667  70.266667  73.999403
2018-05-14 21:34:14-07:00  74.495556  74.433333  74.500000  72.703995

                              t_std
time
2018-05-14 21:33:14-07:00  0.065959
2018-05-14 21:33:14-07:00  0.044791
2018-05-14 21:33:14-07:00  0.000000
2018-05-14 21:34:14-07:00  0.016630

========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-14 21:42:14-07:00   0   1  2.000000   5  74.5   74.5  74.476000
2018-05-14 21:44:14-07:00   0   0  0.000000   7  70.1   70.4  70.207143
2018-05-14 21:47:14-07:00   0   0  0.333333   1  74.2   74.2  74.200000
2018-05-14 21:48:14-07:00   0   0  0.000000  15  74.0   74.0  73.949556

                           t_min  t_next      t_out     t_std
time
2018-05-14 21:42:14-07:00  74.38   74.38  72.504702  0.048000
2018-05-14 21:44:14-07:00  70.10   70.40  72.504702  0.132095
2018-05-14 21:47:14-07:00  74.20   74.20  72.504702  0.000000
2018-05-14 21:48:14-07:00  73.90   73.90  73.700463  0.045000
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-14 22:18:14-07:00   0   0  0.000000  15  73.70  73.70  73.592222
2018-05-14 22:18:14-07:00   0   0  0.000000  15  73.90  73.90  73.758889
2018-05-14 22:18:14-07:00   0   0  0.333333   1  70.35  70.35  70.350000
2018-05-14 22:18:14-07:00   0   0  0.000000  15  73.60  73.60  73.520000

                           t_min  t_next      t_out     t_std
time
2018-05-14 22:18:14-07:00  73.50   73.60  63.200504  0.078615
2018-05-14 22:18:14-07:00  73.65   73.65  63.200504  0.092470
2018-05-14 22:18:14-07:00  70.35   70.35  32.000000  0.000000
2018-05-14 22:18:14-07:00  73.40   73.40  63.200504  0.057155
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 22:40:14-07:00   0   0  1.333333   1  70.566667  70.566667
2018-05-14 22:41:14-07:00   0   0  0.000000   7  70.040000  70.500000
2018-05-14 22:48:14-07:00   0   0  1.333333   1  70.700000  70.700000
2018-05-14 22:48:14-07:00   0   0  0.000000  15  73.300000  73.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 22:40:14-07:00  70.566667  70.566667  70.566667  70.500315
2018-05-14 22:41:14-07:00  70.124762  70.000000  70.500000  70.500315
2018-05-14 22:48:14-07:00  70.700000  70.700000  70.700000  70.500315
2018-05-14 22:48:14-07:00  73.348444  73.300000  73.333333  70.900567

                              t_std
time
2018-05-14 22:40:14-07:00  0.000000
2018-05-14 22:41:14-07:00  0.190395
2018-05-14 22:48:14-07:00  0.000000
2018-05-14 22:48:14-07:00  0.045181
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 22:49:14-07:00   0   1  2.000000   2  70.800000  70.800000
2018-05-14 22:51:14-07:00   0   0  0.000000  15  73.900000  74.000000
2018-05-14 22:51:14-07:00   0   0  1.666667   1  70.516667  70.516667
2018-05-14 22:52:14-07:00   0   0  0.000000   7  70.300000  70.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 22:49:14-07:00  70.800000  70.800000  70.800000  70.500315
2018-05-14 22:51:14-07:00  73.926667  73.900000  73.900000  71.000630
2018-05-14 22:51:14-07:00  70.516667  70.516667  70.516667  71.000630
2018-05-14 22:52:14-07:00  70.032381  69.900000  70.000000  71.000630

                              t_std
time
2018-05-14 22:49:14-07:00  0.000000
2018-05-14 22:51:14-07:00  0.037908
2018-05-14 22:51:14-07:00  0.000000
2018-05-14 22:52:14-07:00  0.117942
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 23:00:14-07:00   0   1  2.000000   3  70.816667  70.900000
2018-05-14 23:03:14-07:00   0   0  0.000000  15  73.600000  73.600000
2018-05-14 23:03:14-07:00   0   0  0.333333   1  70.233333  70.233333
2018-05-14 23:03:14-07:00   0   0  0.000000  15  73.400000  73.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 23:00:14-07:00  70.872222  70.816667  70.900000  71.000630
2018-05-14 23:03:14-07:00  73.517556  73.480000  73.480000  70.199946
2018-05-14 23:03:14-07:00  70.233333  70.233333  70.233333  71.000630
2018-05-14 23:03:14-07:00  73.332222  73.300000  73.300000  70.199946

                              t_std
time
2018-05-14 23:00:14-07:00  0.039284
2018-05-14 23:03:14-07:00  0.038920
2018-05-14 23:03:14-07:00  0.000000
2018-05-14 23:03:14-07:00  0.045731
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 23:33:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-14 23:33:14-07:00   0   0  0.000000  15  73.400000  73.400000
2018-05-14 23:36:14-07:00   0   0  1.666667   1  70.733333  70.733333
2018-05-14 23:36:14-07:00   0   0  0.000000  15  73.900000  73.900000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 23:33:14-07:00  74.200000  74.200000  74.200000  69.199865
2018-05-14 23:33:14-07:00  73.363333  73.300000  73.300000  69.199865
2018-05-14 23:36:14-07:00  70.733333  70.733333  70.733333  68.999888
2018-05-14 23:36:14-07:00  73.900000  73.900000  73.900000  68.999888

                                  t_std
time
2018-05-14 23:33:14-07:00  1.421085e-14
2018-05-14 23:33:14-07:00  4.642796e-02
2018-05-14 23:36:14-07:00  0.000000e+00
2018-05-14 23:36:14-07:00  1.322959e-14
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 23:48:14-07:00   0   0  0.000000  15  73.200000  73.200000
2018-05-14 23:48:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-14 23:48:14-07:00   0   0  1.333333   1  70.616667  70.616667
2018-05-14 23:48:14-07:00   0   0  0.000000  15  73.200000  73.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 23:48:14-07:00  73.164667  73.100000  73.120000  69.799798
2018-05-14 23:48:14-07:00  74.200000  74.200000  74.200000  69.799798
2018-05-14 23:48:14-07:00  70.616667  70.616667  70.616667  68.999888
2018-05-14 23:48:14-07:00  73.155556  73.100000  73.100000  69.799798

                                  t_std
time
2018-05-14 23:48:14-07:00  4.485037e-02
2018-05-14 23:48:14-07:00  1.421085e-14
2018-05-14 23:48:14-07:00  0.000000e+00
2018-05-14 23:48:14-07:00  4.817663e-02
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-14 23:49:14-07:00   0   1  2.000000   2  70.900000  70.900000
2018-05-14 23:51:14-07:00   0   0  0.000000  15  73.800000  73.800000
2018-05-14 23:51:14-07:00   0   0  0.666667   1  70.366667  70.366667
2018-05-14 23:52:14-07:00   0   0  0.000000   8  70.100000  70.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-14 23:49:14-07:00  70.900000  70.900000  70.900000  68.999888
2018-05-14 23:51:14-07:00  73.706667  73.700000  73.700000  69.999775
2018-05-14 23:51:14-07:00  70.366667  70.366667  70.366667  69.999775
2018-05-14 23:52:14-07:00  70.050000  69.900000  70.100000  69.999775

                              t_std
time
2018-05-14 23:49:14-07:00  0.000000
2018-05-14 23:51:14-07:00  0.024944
2018-05-14 23:51:14-07:00  0.000000
2018-05-14 23:52:14-07:00  0.072648
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 00:03:14-07:00   0   0  0.000000  15  73.100000  73.100000
2018-05-15 00:03:14-07:00   0   0  0.000000  15  73.200000  73.200000
2018-05-15 00:03:14-07:00   0   0  1.333333   1  70.633333  70.633333
2018-05-15 00:04:14-07:00   0   0  0.000000   8  70.066667  70.266667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 00:03:14-07:00  73.067556  73.000000  73.100000  69.999775
2018-05-15 00:03:14-07:00  73.153333  73.100000  73.200000  69.999775
2018-05-15 00:03:14-07:00  70.633333  70.633333  70.633333  69.999775
2018-05-15 00:04:14-07:00  70.020833  69.900000  70.266667  69.999775

                              t_std
time
2018-05-15 00:03:14-07:00  0.044011
2018-05-15 00:03:14-07:00  0.047997
2018-05-15 00:03:14-07:00  0.000000
2018-05-15 00:04:14-07:00  0.104000
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-15 01:18:14-07:00   0   0  0.000000  15  72.7   72.8  72.758889
2018-05-15 01:19:14-07:00   0   0  0.000000   2  71.0   71.0  71.000000
2018-05-15 01:21:14-07:00   0   0  1.666667   1  71.3   71.3  71.300000
2018-05-15 01:21:14-07:00   0   0  0.000000  15  73.1   73.1  73.011111

                           t_min  t_next      t_out     t_std
time
2018-05-15 01:18:14-07:00   72.7    72.7  64.999403  0.045893
2018-05-15 01:19:14-07:00   71.0    71.0  64.999403  0.000000
2018-05-15 01:21:14-07:00   71.3    71.3  64.999403  0.000000
2018-05-15 01:21:14-07:00   72.8    72.8  64.999403  0.078567
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-15 02:03:14-07:00   0   0  0.000000  15  73.00  73.10  72.900000
2018-05-15 02:03:14-07:00   0   0  0.000000  15  73.00  73.10  73.000000
2018-05-15 02:03:14-07:00   0   0  0.333333   1  71.05  71.05  71.050000
2018-05-15 02:03:14-07:00   0   0  0.000000  15  72.80  73.00  72.790222

                           t_min  t_next      t_out     t_std
time
2018-05-15 02:03:14-07:00  72.70   72.70  63.399574  0.156466
2018-05-15 02:03:14-07:00  72.80   72.80  63.399574  0.095063
2018-05-15 02:03:14-07:00  71.05   71.05  64.999403  0.000000
2018-05-15 02:03:14-07:00  72.68   72.68  63.399574  0.090721
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 02:04:14-07:00   0   1  2.000000   3  71.300000  71.300000
2018-05-15 02:06:14-07:00   0   0  0.000000  15  72.500000  72.500000
2018-05-15 02:07:14-07:00   0   0  1.333333   1  70.766667  70.766667
2018-05-15 02:08:14-07:00   0   0  0.000000  15  70.166667  70.733333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 02:04:14-07:00  71.180000  71.000000  71.000000  64.332808
2018-05-15 02:06:14-07:00  72.485556  72.400000  72.400000  62.999617
2018-05-15 02:07:14-07:00  70.766667  70.766667  70.766667  62.999617
2018-05-15 02:08:14-07:00  70.211556  69.900000  70.733333  62.999617

                              t_std
time
2018-05-15 02:04:14-07:00  0.129615
2018-05-15 02:06:14-07:00  0.033811
2018-05-15 02:07:14-07:00  0.000000
2018-05-15 02:08:14-07:00  0.308357

========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 04:05:14-07:00   0   1  2.000000   2  70.900000  70.900000
2018-05-15 04:06:14-07:00   0   0  0.000000  15  71.000000  71.000000
2018-05-15 04:07:14-07:00   0   0  0.333333   1  70.166667  70.166667
2018-05-15 04:08:14-07:00   0   0  0.000000  15  69.900000  70.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 04:05:14-07:00  70.900000  70.900000  70.900000  59.999882
2018-05-15 04:06:14-07:00  70.890000  70.800000  70.800000  58.999989
2018-05-15 04:07:14-07:00  70.166667  70.166667  70.166667  58.999989
2018-05-15 04:08:14-07:00  70.077778  69.900000  70.400000  58.999989

                              t_std
time
2018-05-15 04:05:14-07:00  0.000000
2018-05-15 04:06:14-07:00  0.066611
2018-05-15 04:07:14-07:00  0.000000
2018-05-15 04:08:14-07:00  0.203549
========
Action is by itself with action 0.400000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-15 05:18:14-07:00   0   0     0.0  15  71.80  71.80  71.745333  71.70
2018-05-15 05:18:14-07:00   0   0     0.0  15  71.94  72.10  71.904889  71.80
2018-05-15 05:18:14-07:00   0   0     0.4   1  70.24  70.24  70.240000  70.24
2018-05-15 05:18:14-07:00   0   0     0.0  15  72.10  72.10  71.883333  71.80

                           t_next      t_out     t_std
time
2018-05-15 05:18:14-07:00   71.70  57.999189  0.048699
2018-05-15 05:18:14-07:00   71.90  57.999189  0.075089
2018-05-15 05:18:14-07:00   70.24  57.999189  0.000000
2018-05-15 05:18:14-07:00   71.85  57.999189  0.084547
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 06:03:14-07:00   0   0  0.000000  15  71.400000  71.400000
2018-05-15 06:03:14-07:00   0   0  0.000000  15  71.800000  71.800000
2018-05-15 06:03:14-07:00   0   0  1.333333   1  70.533333  70.533333
2018-05-15 06:03:14-07:00   0   0  0.000000  15  72.100000  72.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 06:03:14-07:00  71.344444  71.300000  71.300000  57.999189
2018-05-15 06:03:14-07:00  71.731111  71.700000  71.700000  57.999189
2018-05-15 06:03:14-07:00  70.533333  70.533333  70.533333  57.999189
2018-05-15 06:03:14-07:00  71.920000  71.800000  71.800000  57.999189

                              t_std
time
2018-05-15 06:03:14-07:00  0.048177
2018-05-15 06:03:14-07:00  0.044666
2018-05-15 06:03:14-07:00  0.000000
2018-05-15 06:03:14-07:00  0.101689
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-15 06:03:14-07:00   0   0  0.000000  15  72.1   72.1  71.920000
2018-05-15 06:03:14-07:00   0   0  0.000000  15  71.8   71.9  71.812222
2018-05-15 06:04:14-07:00   0   0  1.666667   1  70.5   70.5  70.500000
2018-05-15 06:05:14-07:00   0   0  0.000000  15  70.3   70.3  69.980000

                           t_min  t_next      t_out     t_std
time
2018-05-15 06:03:14-07:00   71.8    71.8  57.999189  0.101689
2018-05-15 06:03:14-07:00   71.7    71.7  57.999189  0.071613
2018-05-15 06:04:14-07:00   70.5    70.5  57.999189  0.000000
2018-05-15 06:05:14-07:00   69.8    70.3  57.999189  0.164114
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 06:48:14-07:00   0   0  0.000000  15  71.133333  71.200000
2018-05-15 06:48:14-07:00   0   0  0.000000  15  71.800000  71.900000
2018-05-15 06:51:14-07:00   0   0  0.666667   1  70.466667  70.466667
2018-05-15 06:51:14-07:00   0   0  0.000000  15  68.700000  68.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 06:48:14-07:00  71.075556  71.000000  71.000000  55.998463
2018-05-15 06:48:14-07:00  71.836222  71.800000  71.800000  55.998463
2018-05-15 06:51:14-07:00  70.466667  70.466667  70.466667  55.999403
2018-05-15 06:51:14-07:00  68.684444  68.600000  68.600000  55.999403

                              t_std
time
2018-05-15 06:48:14-07:00  0.086467
2018-05-15 06:48:14-07:00  0.045361
2018-05-15 06:51:14-07:00  0.000000
2018-05-15 06:51:14-07:00  0.034138
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-15 10:03:14-07:00   0   0  0.000000  15  71.4   71.5  71.431111
2018-05-15 10:03:14-07:00   0   0  0.000000  15  71.3   71.3  71.140000
2018-05-15 10:05:14-07:00   0   0  0.666667   1  70.2   70.2  70.200000
2018-05-15 10:06:14-07:00   0   0  0.000000  15  68.3   68.6  68.346667

                               t_min     t_next      t_out     t_std
time
2018-05-15 10:03:14-07:00  71.366667  71.366667  37.799955  0.046295
2018-05-15 10:03:14-07:00  70.833333  70.833333  37.799955  0.187063
2018-05-15 10:05:14-07:00  70.200000  70.200000  60.999775  0.000000
2018-05-15 10:06:14-07:00  68.300000  68.600000  32.000000  0.102415
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 10:23:14-07:00   1   0  1.000000   1  70.200000  70.200000
2018-05-15 10:24:14-07:00   0   0  0.000000   9  70.100000  70.200000
2018-05-15 10:33:14-07:00   0   0  0.333333   1  70.416667  70.416667
2018-05-15 10:33:14-07:00   0   0  0.000000  15  71.400000  71.600000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 10:23:14-07:00  70.200000  70.200000  70.200000  64.000416
2018-05-15 10:24:14-07:00  70.061111  70.000000  70.200000  64.000416
2018-05-15 10:33:14-07:00  70.416667  70.416667  70.416667  64.000416
2018-05-15 10:33:14-07:00  71.500000  71.400000  71.600000  65.600250

                              t_std
time
2018-05-15 10:23:14-07:00  0.000000
2018-05-15 10:24:14-07:00  0.065734
2018-05-15 10:33:14-07:00  0.000000
2018-05-15 10:33:14-07:00  0.054772
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 10:48:14-07:00   0   0  0.000000  15  71.600000  71.700000
2018-05-15 10:48:14-07:00   0   0  0.000000  15  70.700000  71.000000
2018-05-15 10:49:14-07:00   0   0  1.333333   1  70.433333  70.433333
2018-05-15 10:50:14-07:00   0   0  0.000000   9  70.300000  70.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 10:48:14-07:00  71.621111  71.600000  71.700000  64.400375
2018-05-15 10:48:14-07:00  70.793333  70.700000  71.000000  64.400375
2018-05-15 10:49:14-07:00  70.433333  70.433333  70.433333  66.000208
2018-05-15 10:50:14-07:00  70.066667  69.900000  70.400000  64.222615

                              t_std
time
2018-05-15 10:48:14-07:00  0.039659
2018-05-15 10:48:14-07:00  0.087305
2018-05-15 10:49:14-07:00  0.000000
2018-05-15 10:50:14-07:00  0.157135
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 12:18:14-07:00   0   0  0.000000  15  72.500000  72.750000
2018-05-15 12:21:14-07:00   0   0  0.000000  15  70.800000  70.900000
2018-05-15 12:21:14-07:00   0   0  0.333333   1  70.233333  70.233333
2018-05-15 12:22:14-07:00   0   0  0.000000   5  70.100000  70.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 12:18:14-07:00  72.614444  72.500000  72.750000  71.999617
2018-05-15 12:21:14-07:00  70.856000  70.800000  70.900000  71.999617
2018-05-15 12:21:14-07:00  70.233333  70.233333  70.233333  71.999617
2018-05-15 12:22:14-07:00  70.240000  70.100000  70.400000  71.999617

                              t_std
time
2018-05-15 12:18:14-07:00  0.079551
2018-05-15 12:21:14-07:00  0.048000
2018-05-15 12:21:14-07:00  0.000000
2018-05-15 12:22:14-07:00  0.135647
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 12:48:14-07:00   0   0  0.000000  15  73.200000  73.300000
2018-05-15 12:48:14-07:00   0   0  0.000000  15  73.233333  73.633333
2018-05-15 12:48:14-07:00   0   0  0.666667   1  70.400000  70.400000
2018-05-15 12:48:14-07:00   0   0  0.000000  15  73.166667  73.233333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 12:48:14-07:00  73.263333  73.200000  73.300000  72.398655
2018-05-15 12:48:14-07:00  73.491111  73.233333  73.633333  72.398655
2018-05-15 12:48:14-07:00  70.400000  70.400000  70.400000  73.994808
2018-05-15 12:48:14-07:00  73.200000  73.166667  73.233333  72.398655

                              t_std
time
2018-05-15 12:48:14-07:00  0.046428
2018-05-15 12:48:14-07:00  0.147807
2018-05-15 12:48:14-07:00  0.000000
2018-05-15 12:48:14-07:00  0.012172
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 12:49:14-07:00   0   1  2.000000   5  71.000000  71.200000
2018-05-15 12:51:14-07:00   0   0  0.000000  15  71.200000  71.300000
2018-05-15 12:54:14-07:00   0   0  0.333333   1  70.366667  70.366667
2018-05-15 12:55:14-07:00   0   0  0.000000   5  70.300000  70.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 12:49:14-07:00  70.980000  70.700000  70.700000  72.797693
2018-05-15 12:51:14-07:00  71.165333  71.000000  71.300000  71.999617
2018-05-15 12:54:14-07:00  70.366667  70.366667  70.366667  71.999617
2018-05-15 12:55:14-07:00  70.366667  70.300000  70.500000  71.999617

                              t_std
time
2018-05-15 12:49:14-07:00  0.180862
2018-05-15 12:51:14-07:00  0.120104
2018-05-15 12:54:14-07:00  0.000000
2018-05-15 12:55:14-07:00  0.084327
========
Action is by itself with action 0.666667 for data:

                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-15 13:03:14-07:00   0   0  0.000000  15  73.7   74.0  73.848889
2018-05-15 13:03:14-07:00   0   0  0.000000  15  73.5   73.5  73.500000
2018-05-15 13:05:14-07:00   0   0  0.666667   1  70.5   70.5  70.500000
2018-05-15 13:06:14-07:00   0   0  0.000000   5  70.3   70.3  70.173333

                           t_min     t_next      t_out     t_std
time
2018-05-15 13:03:14-07:00   73.7  73.966667  75.199275  0.104610
2018-05-15 13:03:14-07:00   73.5  73.500000  75.199275  0.000000
2018-05-15 13:05:14-07:00   70.5  70.500000  71.999617  0.000000
2018-05-15 13:06:14-07:00   70.1  70.100000  75.999189  0.090431
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 13:33:14-07:00   0   0  0.000000  15  73.900000  74.100000
2018-05-15 13:36:14-07:00   0   0  0.000000  15  71.800000  72.100000
2018-05-15 13:37:14-07:00   0   0  0.666667   1  70.366667  70.366667
2018-05-15 13:38:14-07:00   0   0  0.000000   4  70.100000  70.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 13:33:14-07:00  73.993333  73.900000  74.100000  76.399514
2018-05-15 13:36:14-07:00  71.885556  71.800000  72.100000  76.499595
2018-05-15 13:37:14-07:00  70.366667  70.366667  70.366667  76.499595
2018-05-15 13:38:14-07:00  70.212500  70.100000  70.400000  76.499595

                              t_std
time
2018-05-15 13:33:14-07:00  0.079303
2018-05-15 13:36:14-07:00  0.084518
2018-05-15 13:37:14-07:00  0.000000
2018-05-15 13:38:14-07:00  0.124373
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 13:43:14-07:00   0   1  2.000000   5  71.000000  71.000000
2018-05-15 13:48:14-07:00   0   0  0.000000  15  73.900000  74.000000
2018-05-15 13:48:14-07:00   0   0  0.333333   1  70.233333  70.233333
2018-05-15 13:48:14-07:00   0   0  0.000000  15  73.500000  73.600000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 13:43:14-07:00  70.946667  70.900000  70.900000  76.499595
2018-05-15 13:48:14-07:00  73.921111  73.900000  74.000000  76.099271
2018-05-15 13:48:14-07:00  70.233333  70.233333  70.233333  76.499595
2018-05-15 13:48:14-07:00  73.557778  73.500000  73.600000  76.099271

                              t_std
time
2018-05-15 13:43:14-07:00  0.045216
2018-05-15 13:48:14-07:00  0.039659
2018-05-15 13:48:14-07:00  0.000000
2018-05-15 13:48:14-07:00  0.047868
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 14:18:14-07:00   0   0  0.000000  15  74.000000  74.100000
2018-05-15 14:21:14-07:00   0   0  0.000000  15  72.600000  72.920000
2018-05-15 14:24:14-07:00   0   0  0.666667   1  70.366667  70.366667
2018-05-15 14:25:14-07:00   0   0  0.000000   4  70.100000  70.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 14:18:14-07:00  73.984889  73.900000  73.900000  76.999989
2018-05-15 14:21:14-07:00  72.728000  72.600000  72.920000  76.999989
2018-05-15 14:24:14-07:00  70.366667  70.366667  70.366667  76.999989
2018-05-15 14:25:14-07:00  70.220000  70.100000  70.300000  76.999989

                              t_std
time
2018-05-15 14:18:14-07:00  0.085356
2018-05-15 14:21:14-07:00  0.082316
2018-05-15 14:24:14-07:00  0.000000
2018-05-15 14:25:14-07:00  0.084853
========
Action is by itself with action 0.800000 for data:
                           a1  a2  action  dt   t_in  t_max  t_mean  t_min  \
time
2018-05-15 14:33:14-07:00   0   0     0.0  15  73.90  73.90  73.828  73.70
2018-05-15 14:33:14-07:00   0   0     0.0  15  74.40  74.40  74.400  74.40
2018-05-15 14:35:14-07:00   0   0     0.8   1  70.42  70.42  70.420  70.42
2018-05-15 14:36:14-07:00   0   0     0.0   4  70.10  70.50  70.250  70.10

                           t_next      t_out         t_std
time
2018-05-15 14:33:14-07:00   73.82  78.203993  8.510386e-02
2018-05-15 14:33:14-07:00   74.40  78.203993  1.372899e-14
2018-05-15 14:35:14-07:00   70.42  76.999989  0.000000e+00
2018-05-15 14:36:14-07:00   70.50  78.504995  1.658312e-01
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-15 15:03:14-07:00   0   0  0.000000  15  74.0   74.2  74.066667
2018-05-15 15:03:14-07:00   0   0  0.000000  15  73.6   73.7  73.648889
2018-05-15 15:05:14-07:00   0   0  0.666667   1  74.5   74.5  74.500000
2018-05-15 15:06:14-07:00   0   0  0.000000  15  73.6   74.0  73.787778

                           t_min  t_next      t_out     t_std
time
2018-05-15 15:03:14-07:00   74.0    74.0  76.999989  0.087771
2018-05-15 15:03:14-07:00   73.6    73.7  76.999989  0.045325
2018-05-15 15:05:14-07:00   74.5    74.5  76.999989  0.000000
2018-05-15 15:06:14-07:00   73.6    74.0  76.999989  0.159219
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 15:18:14-07:00   0   0  0.000000  15  73.700000  73.700000
2018-05-15 15:18:14-07:00   0   0  0.000000  15  73.700000  73.700000
2018-05-15 15:19:14-07:00   0   0  1.666667   1  70.766667  70.766667
2018-05-15 15:20:14-07:00   0   0  0.000000   4  70.100000  70.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 15:18:14-07:00  73.656667  73.600000  73.650000  76.999989
2018-05-15 15:18:14-07:00  73.667778  73.600000  73.700000  76.999989
2018-05-15 15:19:14-07:00  70.766667  70.766667  70.766667  76.999989
2018-05-15 15:20:14-07:00  70.212500  70.100000  70.400000  76.999989

                              t_std
time
2018-05-15 15:18:14-07:00  0.044222
2018-05-15 15:18:14-07:00  0.043234
2018-05-15 15:19:14-07:00  0.000000
2018-05-15 15:20:14-07:00  0.124373
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 15:25:14-07:00   0   1  2.000000   6  71.000000  71.000000
2018-05-15 15:28:14-07:00   0   0  0.000000  15  74.000000  74.400000
2018-05-15 15:31:14-07:00   0   0  0.333333   1  70.216667  70.216667
2018-05-15 15:32:14-07:00   0   0  0.000000   3  70.100000  70.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 15:25:14-07:00  70.916667  70.800000  70.800000  76.999989
2018-05-15 15:28:14-07:00  74.223778  74.000000  74.400000  77.933325
2018-05-15 15:31:14-07:00  70.216667  70.216667  70.216667  76.999989
2018-05-15 15:32:14-07:00  70.200000  70.100000  70.300000  76.999989

                              t_std
time
2018-05-15 15:25:14-07:00  0.089753
2018-05-15 15:28:14-07:00  0.136804
2018-05-15 15:31:14-07:00  0.000000
2018-05-15 15:32:14-07:00  0.081650
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 15:33:14-07:00   0   0  0.000000  15  73.600000  73.700000
2018-05-15 15:33:14-07:00   0   0  0.000000  15  74.100000  74.100000
2018-05-15 15:35:14-07:00   0   0  0.666667   1  70.533333  70.533333
2018-05-15 15:36:14-07:00   0   0  0.000000   4  74.350000  74.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 15:33:14-07:00  73.670000  73.600000  73.700000  78.599993
2018-05-15 15:33:14-07:00  73.987778  73.900000  74.066667  78.599993
2018-05-15 15:35:14-07:00  70.533333  70.533333  70.533333  76.999989
2018-05-15 15:36:14-07:00  74.387500  74.350000  74.400000  78.999995

                              t_std
time
2018-05-15 15:33:14-07:00  0.043970
2018-05-15 15:33:14-07:00  0.054930
2018-05-15 15:35:14-07:00  0.000000
2018-05-15 15:36:14-07:00  0.021651

========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-15 15:47:14-07:00   0   1  2.000000   7  71.0   71.0  70.947619
2018-05-15 15:48:14-07:00   0   0  0.000000  15  73.7   73.9  73.795556
2018-05-15 15:48:14-07:00   0   0  0.333333   1  74.5   74.5  74.500000
2018-05-15 15:48:14-07:00   0   0  0.000000  15  73.7   73.9  73.782222

                           t_min  t_next      t_out     t_std
time
2018-05-15 15:47:14-07:00   70.9    70.9  78.142849  0.046657
2018-05-15 15:48:14-07:00   73.7    73.9  77.399990  0.091786
2018-05-15 15:48:14-07:00   74.5    74.5  78.999995  0.000000
2018-05-15 15:48:14-07:00   73.7    73.9  77.399990  0.090158
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-15 16:43:14-07:00   1   0  1.000000   1  70.55  70.55  70.550000
2018-05-15 16:44:14-07:00   0   0  0.000000   4  70.30  70.40  70.341667
2018-05-15 16:48:14-07:00   0   0  1.666667   1  70.90  70.90  70.900000
2018-05-15 16:48:14-07:00   0   0  0.000000  15  73.96  74.10  74.029556

                           t_min  t_next      t_out     t_std
time
2018-05-15 16:43:14-07:00  70.55   70.55  80.999808  0.000000
2018-05-15 16:44:14-07:00  70.30   70.40  80.999808  0.043301
2018-05-15 16:48:14-07:00  70.90   70.90  80.999808  0.000000
2018-05-15 16:48:14-07:00  73.96   74.00  80.999655  0.047060
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-15 16:51:14-07:00   0   0  0.000000  15  73.966667  74.00  73.786889
2018-05-15 16:52:14-07:00   0   0  0.000000  11  74.100000  74.50  74.275758
2018-05-15 16:55:14-07:00   0   0  0.666667   1  70.500000  70.50  70.500000
2018-05-15 16:56:14-07:00   0   0  0.000000   4  70.166667  70.28  70.161667

                           t_min  t_next      t_out     t_std
time
2018-05-15 16:51:14-07:00   73.6   74.00  80.999617  0.163682
2018-05-15 16:52:14-07:00   74.1   74.50  80.999617  0.136397
2018-05-15 16:55:14-07:00   70.5   70.50  80.999617  0.000000
2018-05-15 16:56:14-07:00   70.1   70.28  80.999617  0.073541
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-15 17:00:14-07:00   0   1  2.000000   8  71.200000   71.2  71.033333
2018-05-15 17:03:14-07:00   0   0  0.000000  15  74.033333   74.1  74.061778
2018-05-15 17:03:14-07:00   0   0  0.333333   1  74.500000   74.5  74.500000
2018-05-15 17:03:14-07:00   0   0  0.000000  15  73.700000   73.9  73.820000

                           t_min     t_next      t_out     t_std
time
2018-05-15 17:00:14-07:00   70.8  70.800000  80.999617  0.185592
2018-05-15 17:03:14-07:00   74.0  74.100000  80.999617  0.043646
2018-05-15 17:03:14-07:00   74.5  74.500000  80.999617  0.000000
2018-05-15 17:03:14-07:00   73.7  73.766667  80.999617  0.091732
========
Action is by itself with action 0.800000 for data:
                           a1  a2  action  dt   t_in      t_max     t_mean  \
time
2018-05-15 17:18:14-07:00   0   0     0.0  15  74.10  74.100000  74.059333
2018-05-15 17:18:14-07:00   0   0     0.0  15  74.00  74.166667  73.877778
2018-05-15 17:22:14-07:00   0   0     0.8   1  70.46  70.460000  70.460000
2018-05-15 17:23:14-07:00   0   0     0.0   4  70.10  70.100000  70.100000

                           t_min     t_next      t_out     t_std
time
2018-05-15 17:18:14-07:00  74.00  74.100000  41.799923  0.045675
2018-05-15 17:18:14-07:00  73.60  74.166667  41.799923  0.164054
2018-05-15 17:22:14-07:00  70.46  70.460000  32.000000  0.000000
2018-05-15 17:23:14-07:00  70.10  70.100000  32.000000  0.000000
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-15 17:22:14-07:00   0   0  0.800000   1  70.46  70.46  70.460000
2018-05-15 17:23:14-07:00   0   0  0.000000   4  70.10  70.10  70.100000
2018-05-15 17:27:14-07:00   0   0  1.333333   1  70.90  70.90  70.900000
2018-05-15 17:27:14-07:00   0   0  0.000000  11  74.10  74.50  74.278788

                           t_min  t_next      t_out     t_std
time
2018-05-15 17:22:14-07:00  70.46   70.46  32.000000  0.000000
2018-05-15 17:23:14-07:00  70.10   70.10  32.000000  0.000000
2018-05-15 17:27:14-07:00  70.90   70.90  32.000000  0.000000
2018-05-15 17:27:14-07:00  74.10   74.50  40.909056  0.142327
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in      t_max     t_mean  \
time
2018-05-15 17:48:14-07:00   0   0  0.000000  15  74.0  74.000000  73.982222
2018-05-15 17:48:14-07:00   0   0  0.000000  15  74.1  74.200000  74.116667
2018-05-15 17:55:14-07:00   0   0  1.333333   1  70.5  70.500000  70.500000
2018-05-15 17:56:14-07:00   0   0  0.000000   5  70.3  70.633333  70.366667

                           t_min     t_next      t_out     t_std
time
2018-05-15 17:48:14-07:00   73.9  74.000000  80.999655  0.035729
2018-05-15 17:48:14-07:00   74.0  74.000000  80.999655  0.063538
2018-05-15 17:55:14-07:00   70.5  70.500000  80.999617  0.000000
2018-05-15 17:56:14-07:00   70.3  70.633333  80.999617  0.133333
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 18:03:14-07:00   0   0  0.000000  15  74.000000  74.100000
2018-05-15 18:03:14-07:00   0   0  0.000000  15  74.000000  74.300000
2018-05-15 18:07:14-07:00   0   0  0.333333   1  74.166667  74.166667
2018-05-15 18:08:14-07:00   0   0  0.000000  14  73.983333  74.166667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 18:03:14-07:00  74.018667  73.900000  73.900000  41.799923
2018-05-15 18:03:14-07:00  74.166667  74.000000  74.000000  41.799923
2018-05-15 18:07:14-07:00  74.166667  74.166667  74.166667  32.000000
2018-05-15 18:08:14-07:00  73.891667  73.600000  74.166667  35.499973

                              t_std
time
2018-05-15 18:03:14-07:00  0.065011
2018-05-15 18:03:14-07:00  0.116110
2018-05-15 18:07:14-07:00  0.000000
2018-05-15 18:08:14-07:00  0.154657
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 18:34:14-07:00   0   1  2.000000   7  70.700000  70.700000
2018-05-15 18:36:14-07:00   0   0  0.000000  15  74.100000  74.500000
2018-05-15 18:41:14-07:00   0   0  0.666667   1  68.233333  68.233333
2018-05-15 18:42:14-07:00   0   0  0.000000  15  67.900000  68.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 18:34:14-07:00  70.049048  68.860000  68.860000  79.931896
2018-05-15 18:36:14-07:00  74.306667  74.100000  74.500000  79.504808
2018-05-15 18:41:14-07:00  68.233333  68.233333  68.233333  79.504808
2018-05-15 18:42:14-07:00  68.091111  67.800000  68.500000  80.102732

                              t_std
time
2018-05-15 18:34:14-07:00  0.671498
2018-05-15 18:36:14-07:00  0.124989
2018-05-15 18:41:14-07:00  0.000000
2018-05-15 18:42:14-07:00  0.252826
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 19:15:14-07:00   0   1  2.000000  15  69.100000  69.100000
2018-05-15 19:16:14-07:00   0   0  0.000000   7  68.183333  68.183333
2018-05-15 19:21:14-07:00   0   0  0.333333   1  74.183333  74.183333
2018-05-15 19:22:14-07:00   0   0  0.000000  15  74.000000  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 19:15:14-07:00  68.834444  68.500000  68.500000  78.000789
2018-05-15 19:16:14-07:00  68.050000  68.000000  68.000000  78.000789
2018-05-15 19:21:14-07:00  74.183333  74.183333  74.183333  78.000789
2018-05-15 19:22:14-07:00  73.699111  73.500000  74.100000  77.834096

                              t_std
time
2018-05-15 19:15:14-07:00  0.173041
2018-05-15 19:16:14-07:00  0.066069
2018-05-15 19:21:14-07:00  0.000000
2018-05-15 19:22:14-07:00  0.205219
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 19:34:14-07:00   1   0  1.000000   1  68.250000  68.250000
2018-05-15 19:35:14-07:00   0   0  0.000000   7  68.150000  68.200000
2018-05-15 19:36:14-07:00   0   0  0.333333   1  68.116667  68.116667
2018-05-15 19:37:14-07:00   0   0  0.000000   6  68.033333  68.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 19:34:14-07:00  68.250000  68.250000  68.250000  78.000789
2018-05-15 19:35:14-07:00  68.157143  68.100000  68.200000  75.857593
2018-05-15 19:36:14-07:00  68.116667  68.116667  68.116667  75.500394
2018-05-15 19:37:14-07:00  68.048889  68.000000  68.100000  75.500394

                              t_std
time
2018-05-15 19:34:14-07:00  0.000000
2018-05-15 19:35:14-07:00  0.041650
2018-05-15 19:36:14-07:00  0.000000
2018-05-15 19:37:14-07:00  0.041574
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 19:37:14-07:00   0   0  0.000000   6  68.033333  68.100000
2018-05-15 19:37:14-07:00   0   0  0.000000   5  74.100000  74.400000
2018-05-15 19:42:14-07:00   0   0  0.666667   1  74.466667  74.466667
2018-05-15 19:42:14-07:00   0   0  0.000000   4  69.000000  69.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 19:37:14-07:00  68.048889  68.000000  68.100000  75.500394
2018-05-15 19:37:14-07:00  74.184000  74.100000  74.400000  75.500394
2018-05-15 19:42:14-07:00  74.466667  74.466667  74.466667  75.500394
2018-05-15 19:42:14-07:00  69.000000  69.000000  69.000000  75.500394

                              t_std
time
2018-05-15 19:37:14-07:00  0.041574
2018-05-15 19:37:14-07:00  0.117576
2018-05-15 19:42:14-07:00  0.000000
2018-05-15 19:42:14-07:00  0.000000
========
Action is by itself with action 0.333333 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 19:48:14-07:00   0   0  1.600000   1  74.420000  74.420000
2018-05-15 19:49:14-07:00   0   0  0.000000  15  74.083333  74.083333
2018-05-15 19:51:14-07:00   0   0  0.333333   1  68.233333  68.233333
2018-05-15 19:52:14-07:00   0   0  0.000000  15  67.766667  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 19:48:14-07:00  74.420000  74.420000  74.420000  75.500394
2018-05-15 19:49:14-07:00  73.607778  73.400000  73.600000  77.667403
2018-05-15 19:51:14-07:00  68.233333  68.233333  68.233333  78.000789
2018-05-15 19:52:14-07:00  67.725333  67.400000  68.200000  77.667430

                              t_std
time
2018-05-15 19:48:14-07:00  0.000000
2018-05-15 19:49:14-07:00  0.187169
2018-05-15 19:51:14-07:00  0.000000
2018-05-15 19:52:14-07:00  0.268452
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 19:53:14-07:00   1   0  1.000000   1  68.400000  68.400000
2018-05-15 19:54:14-07:00   0   0  0.000000   9  68.100000  68.100000
2018-05-15 19:54:14-07:00   0   0  0.666667   1  68.133333  68.133333
2018-05-15 19:55:14-07:00   0   0  0.000000  10  68.100000  68.166667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 19:53:14-07:00  68.400000  68.400000  68.400000  78.000789
2018-05-15 19:54:14-07:00  67.979630  67.900000  68.000000  78.000789
2018-05-15 19:54:14-07:00  68.133333  68.133333  68.133333  78.000789
2018-05-15 19:55:14-07:00  68.011667  67.900000  68.166667  78.000789

                              t_std
time
2018-05-15 19:53:14-07:00  0.000000
2018-05-15 19:54:14-07:00  0.058678
2018-05-15 19:54:14-07:00  0.000000
2018-05-15 19:55:14-07:00  0.082344
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 20:06:14-07:00   0   1  2.000000   5  68.600000  68.600000
2018-05-15 20:07:14-07:00   0   0  0.000000  15  68.600000  68.700000
2018-05-15 20:11:14-07:00   0   0  0.333333   1  68.133333  68.133333
2018-05-15 20:12:14-07:00   0   0  0.000000  11  68.000000  68.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 20:06:14-07:00  68.576000  68.480000  68.480000  73.000416
2018-05-15 20:07:14-07:00  68.636667  68.600000  68.666667  73.000416
2018-05-15 20:11:14-07:00  68.133333  68.133333  68.133333  73.000416
2018-05-15 20:12:14-07:00  67.964242  67.900000  68.000000  73.000416

                              t_std
time
2018-05-15 20:06:14-07:00  0.048000
2018-05-15 20:07:14-07:00  0.043119
2018-05-15 20:11:14-07:00  0.000000
2018-05-15 20:12:14-07:00  0.043324
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 20:11:14-07:00   0   0  0.333333   1  68.133333  68.133333
2018-05-15 20:12:14-07:00   0   0  0.000000  11  68.000000  68.000000
2018-05-15 20:12:14-07:00   0   0  0.666667   1  68.300000  68.300000
2018-05-15 20:13:14-07:00   0   0  0.000000  15  74.400000  74.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 20:11:14-07:00  68.133333  68.133333  68.133333  73.000416
2018-05-15 20:12:14-07:00  67.964242  67.900000  68.000000  73.000416
2018-05-15 20:12:14-07:00  68.300000  68.300000  68.300000  73.000416
2018-05-15 20:13:14-07:00  74.400000  74.400000  74.400000  73.000416

                                  t_std
time
2018-05-15 20:11:14-07:00  0.000000e+00
2018-05-15 20:12:14-07:00  4.332380e-02
2018-05-15 20:12:14-07:00  0.000000e+00
2018-05-15 20:13:14-07:00  1.372899e-14
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-15 21:27:14-07:00   0   1  2.000000   3  74.600000  74.600000
2018-05-15 21:28:14-07:00   0   0  0.000000  15  74.400000  74.500000
2018-05-15 21:30:14-07:00   0   0  0.666667   1  74.266667  74.266667
2018-05-15 21:30:14-07:00   0   0  0.000000  15  71.500000  71.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-15 21:27:14-07:00  74.600000  74.600000  74.600000  69.000789
2018-05-15 21:28:14-07:00  74.448889  74.400000  74.450000  68.531605
2018-05-15 21:30:14-07:00  74.266667  74.266667  74.266667  69.000789
2018-05-15 21:30:14-07:00  71.607778  71.500000  71.700000  68.397552

                                  t_std
time
2018-05-15 21:27:14-07:00  8.204641e-15
2018-05-15 21:28:14-07:00  4.491418e-02
2018-05-15 21:30:14-07:00  0.000000e+00
2018-05-15 21:30:14-07:00  8.001543e-02
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-16 05:30:14-07:00   0   1  2.000000  11  71.000000  71.000000
2018-05-16 05:31:14-07:00   0   0  0.000000  15  68.300000  68.300000
2018-05-16 05:33:14-07:00   0   0  1.666667   1  68.850000  68.850000
2018-05-16 05:34:14-07:00   0   0  0.000000  15  67.883333  67.883333

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-16 05:30:14-07:00  70.322424  68.70   68.70  54.773049  0.773303
2018-05-16 05:31:14-07:00  68.236667  68.20   68.20  54.666944  0.046428
2018-05-16 05:33:14-07:00  68.850000  68.85   68.85  55.000416  0.000000
2018-05-16 05:34:14-07:00  66.742222  66.30   66.30  54.566903  0.445341
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-16 05:33:14-07:00   0   0  1.666667   1  68.850000  68.850000
2018-05-16 05:34:14-07:00   0   0  0.000000  15  67.883333  67.883333
2018-05-16 05:39:14-07:00   0   0  0.666667   1  68.433333  68.433333
2018-05-16 05:40:14-07:00   0   0  0.000000  15  68.000000  68.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-16 05:33:14-07:00  68.850000  68.850000  68.850000  55.000416
2018-05-16 05:34:14-07:00  66.742222  66.300000  66.300000  54.566903
2018-05-16 05:39:14-07:00  68.433333  68.433333  68.433333  54.500208
2018-05-16 05:40:14-07:00  67.460000  67.300000  67.533333  54.633597

                              t_std
time
2018-05-16 05:33:14-07:00  0.000000
2018-05-16 05:34:14-07:00  0.445341
2018-05-16 05:39:14-07:00  0.000000
2018-05-16 05:40:14-07:00  0.207614
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-16 16:42:14-07:00   0   0  0.000000  15  73.900000  74.000000
2018-05-16 16:43:14-07:00   0   0  0.000000  15  73.900000  74.000000
2018-05-16 16:44:14-07:00   0   0  0.666667   1  74.266667  74.266667
2018-05-16 16:45:14-07:00   0   0  0.000000  15  73.866667  73.866667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-16 16:42:14-07:00  73.950000  73.900000  74.000000  71.702732
2018-05-16 16:43:14-07:00  73.959556  73.900000  73.900000  71.735719
2018-05-16 16:44:14-07:00  74.266667  74.266667  74.266667  71.504808
2018-05-16 16:45:14-07:00  73.586444  73.400000  73.680000  71.801693

                              t_std
time
2018-05-16 16:42:14-07:00  0.048305
2018-05-16 16:43:14-07:00  0.045832
2018-05-16 16:44:14-07:00  0.000000
2018-05-16 16:45:14-07:00  0.138385
========
Action is by itself with action 1.600000 for data:
                           a1  a2  action  dt       t_in  t_max     t_mean  \
time
2018-05-16 17:12:14-07:00   0   0     0.0  15  73.400000  73.40  73.397778
2018-05-16 17:13:14-07:00   0   0     0.0  15  74.016667  74.20  74.130000
2018-05-16 17:16:14-07:00   0   0     1.6   1  74.360000  74.36  74.360000
2018-05-16 17:17:14-07:00   0   0     0.0  15  74.100000  74.10  73.584444

                               t_min     t_next      t_out     t_std
time
2018-05-16 17:12:14-07:00  73.366667  73.366667  71.600022  0.008315
2018-05-16 17:13:14-07:00  74.016667  74.200000  71.533423  0.054501
2018-05-16 17:16:14-07:00  74.360000  74.360000  71.999617  0.000000
2018-05-16 17:17:14-07:00  73.400000  73.700000  71.267026  0.219382
========
Action is by itself with action 1.200000 for data:
                           a1  a2  action  dt  t_in  t_max     t_mean  t_min  \
time
2018-05-16 17:34:14-07:00   0   0     0.0  15  74.5   74.6  74.543333   74.5
2018-05-16 17:40:14-07:00   0   0     0.0  15  74.4   74.4  74.400000   74.4
2018-05-16 17:41:14-07:00   0   0     1.2   1  74.5   74.5  74.500000   74.5
2018-05-16 17:42:14-07:00   0   0     0.0  15  74.3   74.4  74.370000   74.3

                           t_next      t_out         t_std
time
2018-05-16 17:34:14-07:00    74.6  71.004690  4.784233e-02
2018-05-16 17:40:14-07:00    74.4  71.004066  1.322959e-14
2018-05-16 17:41:14-07:00    74.5  71.005315  0.000000e+00
2018-05-16 17:42:14-07:00    74.4  71.003441  4.396969e-02
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-16 17:42:14-07:00   0   0  0.000000  15  73.60  73.70  73.630000
2018-05-16 17:43:14-07:00   0   0  0.000000  15  74.30  74.30  74.300000
2018-05-16 17:48:14-07:00   0   0  1.666667   1  74.45  74.45  74.450000
2018-05-16 17:49:14-07:00   0   0  0.000000  15  73.70  74.00  73.663333

                           t_min  t_next      t_out         t_std
time
2018-05-16 17:42:14-07:00  73.60   73.70  71.003441  4.396969e-02
2018-05-16 17:43:14-07:00  74.30   74.30  71.003129  1.421085e-14
2018-05-16 17:48:14-07:00  74.45   74.45  71.005315  0.000000e+00
2018-05-16 17:49:14-07:00  73.40   74.00  71.001255  2.093376e-01
========
Action is by itself with action 0.666667 for data:

                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-16 19:00:14-07:00   0   1  2.000000  15  69.400000   69.4  69.021111
2018-05-16 19:01:14-07:00   0   0  0.000000  12  73.400000   74.4  73.998611
2018-05-16 19:02:14-07:00   0   0  0.666667   1  68.200000   68.2  68.200000
2018-05-16 19:03:14-07:00   0   0  0.000000   7  68.133333   68.2  68.138095

                           t_min  t_next      t_out     t_std
time
2018-05-16 19:00:14-07:00   68.8    68.8  69.800725  0.250516
2018-05-16 19:01:14-07:00   73.4    74.4  69.834056  0.306296
2018-05-16 19:02:14-07:00   68.2    68.2  71.000630  0.000000
2018-05-16 19:03:14-07:00   68.1    68.2  69.857863  0.041513
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-16 19:19:14-07:00   0   0  0.000000  15  74.033333  74.033333
2018-05-16 19:24:14-07:00   0   0  0.000000  15  73.600000  73.600000
2018-05-16 19:26:14-07:00   0   0  0.333333   1  68.166667  68.166667
2018-05-16 19:27:14-07:00   0   0  0.000000   7  68.100000  68.250000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-16 19:19:14-07:00  73.532000  73.200000  73.400000  69.000789
2018-05-16 19:24:14-07:00  73.600000  73.600000  73.600000  68.799710
2018-05-16 19:26:14-07:00  68.166667  68.166667  68.166667  69.000789
2018-05-16 19:27:14-07:00  68.059524  68.000000  68.250000  69.000789

                                  t_std
time
2018-05-16 19:19:14-07:00  3.038928e-01
2018-05-16 19:24:14-07:00  1.372899e-14
2018-05-16 19:26:14-07:00  0.000000e+00
2018-05-16 19:27:14-07:00  8.630747e-02
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-16 19:38:14-07:00   0   1  2.000000   3  69.400000   69.4  69.300000
2018-05-16 19:39:14-07:00   0   0  0.000000  15  73.600000   73.6  73.548889
2018-05-16 19:41:14-07:00   0   0  1.666667   1  68.700000   68.7  68.700000
2018-05-16 19:42:14-07:00   0   0  0.000000  15  67.983333   68.1  67.841111

                           t_min  t_next      t_out     t_std
time
2018-05-16 19:38:14-07:00   69.1    69.1  67.995394  0.141421
2018-05-16 19:39:14-07:00   73.4    73.4  68.196473  0.063089
2018-05-16 19:41:14-07:00   68.7    68.7  67.995394  0.000000
2018-05-16 19:42:14-07:00   67.6    68.1  68.397552  0.192533
========
Action is by itself with action 0.400000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-16 19:45:14-07:00   0   1     2.0   3  68.500000  68.500000
2018-05-16 19:45:14-07:00   0   0     0.0   9  68.083333  68.083333
2018-05-16 19:46:14-07:00   0   0     0.4   1  68.200000  68.200000
2018-05-16 19:47:14-07:00   0   0     0.0   9  68.133333  68.133333

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-16 19:45:14-07:00  68.500000   68.5    68.5  67.995394  0.000000
2018-05-16 19:45:14-07:00  67.987037   67.9    68.0  68.330526  0.047647
2018-05-16 19:46:14-07:00  68.200000   68.2    68.2  67.995394  0.000000
2018-05-16 19:47:14-07:00  67.975926   67.9    68.0  68.553947  0.070759
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-16 19:46:14-07:00   0   0  0.400000   1  68.200000  68.200000
2018-05-16 19:47:14-07:00   0   0  0.000000   9  68.133333  68.133333
2018-05-16 19:48:14-07:00   0   0  0.333333   1  68.166667  68.166667
2018-05-16 19:49:14-07:00   0   0  0.000000  15  74.300000  74.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-16 19:46:14-07:00  68.200000  68.200000  68.200000  67.995394
2018-05-16 19:47:14-07:00  67.975926  67.900000  68.000000  68.553947
2018-05-16 19:48:14-07:00  68.166667  68.166667  68.166667  67.995394
2018-05-16 19:49:14-07:00  74.407333  74.300000  74.500000  68.866736

                              t_std
time
2018-05-16 19:46:14-07:00  0.000000
2018-05-16 19:47:14-07:00  0.070759
2018-05-16 19:48:14-07:00  0.000000
2018-05-16 19:49:14-07:00  0.079705
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-16 20:04:14-07:00   0   0  0.000000  15  74.500000  74.500000
2018-05-16 20:05:14-07:00   0   0  0.000000  15  68.100000  68.300000
2018-05-16 20:05:14-07:00   0   0  1.333333   1  68.466667  68.466667
2018-05-16 20:06:14-07:00   0   0  0.000000  10  68.133333  68.166667

                              t_mean      t_min     t_next      t_out    t_std
time
2018-05-16 20:04:14-07:00  74.500000  74.500000  74.500000  67.266069  0.00000
2018-05-16 20:05:14-07:00  68.013333  67.900000  68.300000  67.132629  0.13027
2018-05-16 20:05:14-07:00  68.466667  68.466667  68.466667  69.000789  0.00000
2018-05-16 20:06:14-07:00  68.008333  67.900000  68.166667  66.999189  0.07932
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-16 20:05:14-07:00   0   0  1.333333   1  68.466667  68.466667
2018-05-16 20:06:14-07:00   0   0  0.000000  10  68.133333  68.166667
2018-05-16 20:07:14-07:00   0   0  1.333333   1  68.200000  68.200000
2018-05-16 20:08:14-07:00   0   0  0.000000   8  68.133333  68.133333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-16 20:05:14-07:00  68.466667  68.466667  68.466667  69.000789
2018-05-16 20:06:14-07:00  68.008333  67.900000  68.166667  66.999189
2018-05-16 20:07:14-07:00  68.200000  68.200000  68.200000  66.999189
2018-05-16 20:08:14-07:00  68.068750  68.000000  68.100000  66.999189

                              t_std
time
2018-05-16 20:05:14-07:00  0.000000
2018-05-16 20:06:14-07:00  0.079320
2018-05-16 20:07:14-07:00  0.000000
2018-05-16 20:08:14-07:00  0.050303
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-16 20:24:14-07:00   0   0  0.000000  15  73.500000  73.500000
2018-05-16 20:27:14-07:00   0   0  0.000000  15  68.900000  68.900000
2018-05-16 20:27:14-07:00   0   0  0.333333   1  68.183333  68.183333
2018-05-16 20:27:14-07:00   0   0  0.000000  14  68.100000  68.250000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-16 20:24:14-07:00  73.422222  73.300000  73.300000  66.699271
2018-05-16 20:27:14-07:00  68.666667  68.500000  68.750000  66.399352
2018-05-16 20:27:14-07:00  68.183333  68.183333  68.183333  66.999189
2018-05-16 20:27:14-07:00  67.982143  67.900000  68.250000  66.463620

                              t_std
time
2018-05-16 20:24:14-07:00  0.076659
2018-05-16 20:27:14-07:00  0.156702
2018-05-16 20:27:14-07:00  0.000000
2018-05-16 20:27:14-07:00  0.093746
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-16 20:43:14-07:00   0   0  0.000000  15  67.900000  68.000000
2018-05-16 20:49:14-07:00   0   0  0.000000  15  74.500000  74.500000
2018-05-16 20:49:14-07:00   0   0  1.666667   1  68.433333  68.433333
2018-05-16 20:50:14-07:00   0   0  0.000000  12  68.100000  68.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-16 20:43:14-07:00  67.846000  67.700000  67.700000  66.199406
2018-05-16 20:49:14-07:00  74.500000  74.500000  74.500000  66.799243
2018-05-16 20:49:14-07:00  68.433333  68.433333  68.433333  65.499595
2018-05-16 20:50:14-07:00  68.009722  67.900000  68.083333  66.874223

                              t_std
time
2018-05-16 20:43:14-07:00  0.112653
2018-05-16 20:49:14-07:00  0.000000
2018-05-16 20:49:14-07:00  0.000000
2018-05-16 20:50:14-07:00  0.061410

========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-16 20:49:14-07:00   0   0  1.666667   1  68.433333  68.433333
2018-05-16 20:50:14-07:00   0   0  0.000000  12  68.100000  68.100000
2018-05-16 20:51:14-07:00   0   0  0.666667   1  68.300000  68.300000
2018-05-16 20:52:14-07:00   0   0  0.000000  10  68.133333  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-16 20:49:14-07:00  68.433333  68.433333  68.433333  65.499595
2018-05-16 20:50:14-07:00  68.009722  67.900000  68.083333  66.874223
2018-05-16 20:51:14-07:00  68.300000  68.300000  68.300000  66.999189
2018-05-16 20:52:14-07:00  68.140000  68.100000  68.200000  66.999189

                              t_std
time
2018-05-16 20:49:14-07:00  0.000000
2018-05-16 20:50:14-07:00  0.061410
2018-05-16 20:51:14-07:00  0.000000
2018-05-16 20:52:14-07:00  0.044222
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-16 21:04:14-07:00   0   0  0.000000  15  74.500000  74.500000
2018-05-16 21:09:14-07:00   0   0  0.000000  15  73.216667  73.300000
2018-05-16 21:11:14-07:00   0   0  0.666667   1  68.233333  68.233333
2018-05-16 21:11:14-07:00   0   0  0.000000  10  68.200000  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-16 21:04:14-07:00  74.432222  74.400000  74.400000  64.400253
2018-05-16 21:09:14-07:00  73.205333  73.100000  73.100000  64.000416
2018-05-16 21:11:14-07:00  68.233333  68.233333  68.233333  64.000416
2018-05-16 21:11:14-07:00  68.083333  68.000000  68.200000  64.000416

                              t_std
time
2018-05-16 21:04:14-07:00  0.045731
2018-05-16 21:09:14-07:00  0.076243
2018-05-16 21:11:14-07:00  0.000000
2018-05-16 21:11:14-07:00  0.083333
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-17 07:30:14-07:00   0   1  2.000000   4  68.700000  68.700000
2018-05-17 07:34:14-07:00   0   0  0.000000  15  64.500000  64.500000
2018-05-17 07:34:14-07:00   0   0  1.333333   1  68.433333  68.433333
2018-05-17 07:35:14-07:00   0   0  0.000000  15  68.066667  68.066667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-17 07:30:14-07:00  68.637500  68.600000  68.600000  55.000416
2018-05-17 07:34:14-07:00  64.463333  64.400000  64.400000  57.171236
2018-05-17 07:34:14-07:00  68.433333  68.433333  68.433333  55.000416
2018-05-17 07:35:14-07:00  67.634667  67.400000  67.600000  57.338222

                              t_std
time
2018-05-17 07:30:14-07:00  0.041458
2018-05-17 07:34:14-07:00  0.046428
2018-05-17 07:34:14-07:00  0.000000
2018-05-17 07:35:14-07:00  0.210807
========
Action is by itself with action 0.400000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-17 17:27:14-07:00   0   0     0.0  15  74.800000  75.000000
2018-05-17 17:28:14-07:00   0   0     0.0  15  74.000000  74.260000
2018-05-17 17:31:14-07:00   0   0     0.4   1  74.260000  74.260000
2018-05-17 17:32:14-07:00   0   0     0.0  15  74.033333  74.033333

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-17 17:27:14-07:00  74.886667  74.80   75.00  76.999991  0.064464
2018-05-17 17:28:14-07:00  74.123333  74.00   74.26  76.999992  0.083080
2018-05-17 17:31:14-07:00  74.260000  74.26   74.26  76.999989  0.000000
2018-05-17 17:32:14-07:00  73.730222  73.40   74.00  76.999993  0.238720
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-17 17:57:14-07:00   0   0  0.000000  15  75.16   75.3  75.245333
2018-05-17 17:58:14-07:00   0   0  0.000000  15  74.50   74.6  74.522222
2018-05-17 18:00:14-07:00   0   0  0.666667   1  74.30   74.3  74.300000
2018-05-17 18:01:14-07:00   0   0  0.000000  15  74.00   74.0  73.742222

                           t_min  t_next      t_out     t_std
time
2018-05-17 17:57:14-07:00  75.16    75.3  76.999989  0.052392
2018-05-17 17:58:14-07:00  74.50    74.6  76.999989  0.039752
2018-05-17 18:00:14-07:00  74.30    74.3  76.999989  0.000000
2018-05-17 18:01:14-07:00  73.50    74.0  76.999989  0.212382
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-17 18:21:14-07:00   0   0  0.000000   8  75.2   75.3  75.241667
2018-05-17 18:24:14-07:00   0   0  0.000000  15  74.2   74.5  74.282222
2018-05-17 18:26:14-07:00   0   0  1.333333   1  74.4   74.4  74.400000
2018-05-17 18:27:14-07:00   0   0  0.000000  15  74.1   74.1  73.722222

                           t_min  t_next      t_out     t_std
time
2018-05-17 18:21:14-07:00   75.2    75.3  76.999989  0.046398
2018-05-17 18:24:14-07:00   74.2    74.5  76.799990  0.103184
2018-05-17 18:26:14-07:00   74.4    74.4  76.999989  0.000000
2018-05-17 18:27:14-07:00   73.5    74.0  76.599991  0.214534
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-17 18:48:14-07:00   0   0  0.333333   1  68.216667  68.216667
2018-05-17 18:49:14-07:00   0   0  0.000000  15  67.933333  68.300000
2018-05-17 18:52:14-07:00   0   0  1.333333   1  74.400000  74.400000
2018-05-17 18:53:14-07:00   0   0  0.000000  15  74.100000  74.233333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-17 18:48:14-07:00  68.216667  68.216667  68.216667  75.999995
2018-05-17 18:49:14-07:00  68.025111  67.800000  68.300000  76.866656
2018-05-17 18:52:14-07:00  74.400000  74.400000  74.400000  76.999989
2018-05-17 18:53:14-07:00  73.908889  73.700000  74.233333  76.733351

                              t_std
time
2018-05-17 18:48:14-07:00  0.000000
2018-05-17 18:49:14-07:00  0.183581
2018-05-17 18:52:14-07:00  0.000000
2018-05-17 18:53:14-07:00  0.191859
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-17 19:15:14-07:00   0   1  2.000000  15  68.800000  69.100000
2018-05-17 19:15:14-07:00   0   0  0.000000  15  68.000000  68.000000
2018-05-17 19:15:14-07:00   0   0  0.666667   1  74.266667  74.266667
2018-05-17 19:16:14-07:00   0   0  0.000000  15  74.000000  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-17 19:15:14-07:00  69.013333  68.800000  69.100000  75.000203
2018-05-17 19:15:14-07:00  67.843333  67.700000  67.700000  75.000203
2018-05-17 19:15:14-07:00  74.266667  74.266667  74.266667  75.000203
2018-05-17 19:16:14-07:00  73.693333  73.500000  74.000000  75.000203

                              t_std
time
2018-05-17 19:15:14-07:00  0.105269
2018-05-17 19:15:14-07:00  0.068259
2018-05-17 19:15:14-07:00  0.000000
2018-05-17 19:16:14-07:00  0.191756

========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 05:30:14-07:00   0   1  2.000000  12  71.300000  71.300000
2018-05-18 05:33:14-07:00   0   0  0.000000  15  69.200000  69.200000
2018-05-18 05:34:14-07:00   0   0  0.666667   1  68.633333  68.633333
2018-05-18 05:35:14-07:00   0   0  0.000000  15  67.633333  67.633333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 05:30:14-07:00  70.315278  68.700000  68.700000  57.996892
2018-05-18 05:33:14-07:00  69.112222  69.000000  69.000000  57.995514
2018-05-18 05:34:14-07:00  68.633333  68.633333  68.633333  57.999189
2018-05-18 05:35:14-07:00  67.065556  66.900000  66.900000  57.994901

                              t_std
time
2018-05-18 05:30:14-07:00  0.809019
2018-05-18 05:33:14-07:00  0.054592
2018-05-18 05:34:14-07:00  0.000000
2018-05-18 05:35:14-07:00  0.211211
========
Action is by itself with action 1.600000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-18 05:35:14-07:00   0   0     0.0  15  67.633333  67.633333
2018-05-18 05:39:14-07:00   0   0     0.0  15  70.740000  70.800000
2018-05-18 05:39:14-07:00   0   0     1.6   1  68.500000  68.500000
2018-05-18 05:40:14-07:00   0   0     0.0  15  68.066667  68.066667

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-18 05:35:14-07:00  67.065556   66.9    66.9  57.994901  0.211211
2018-05-18 05:39:14-07:00  70.723333   70.4    70.4  57.995514  0.109402
2018-05-18 05:39:14-07:00  68.500000   68.5    68.5  57.994595  0.000000
2018-05-18 05:40:14-07:00  67.626444   67.4    67.7  57.995820  0.198358
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-18 05:42:14-07:00   1   0  1.000000   1  68.45  68.45  68.450000
2018-05-18 05:43:14-07:00   0   0  0.000000  15  68.10  68.20  68.001111
2018-05-18 05:44:14-07:00   0   0  1.666667   1  68.70  68.70  68.700000
2018-05-18 05:45:14-07:00   0   0  0.000000   9  68.15  68.30  68.179630

                           t_min  t_next      t_out     t_std
time
2018-05-18 05:42:14-07:00  68.45   68.45  57.994595  0.000000
2018-05-18 05:43:14-07:00  67.90   68.20  57.996739  0.101190
2018-05-18 05:44:14-07:00  68.70   68.70  57.994595  0.000000
2018-05-18 05:45:14-07:00  68.10   68.30  57.996126  0.088114
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 05:50:14-07:00   0   0  0.000000  15  66.900000  68.000000
2018-05-18 05:54:14-07:00   0   0  0.000000  15  70.400000  70.500000
2018-05-18 05:54:14-07:00   0   0  0.333333   1  68.366667  68.366667
2018-05-18 05:55:14-07:00   0   0  0.000000  15  67.700000  68.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 05:50:14-07:00  67.600444  66.900000  68.000000  57.998883
2018-05-18 05:54:14-07:00  70.470000  70.400000  70.500000  57.999189
2018-05-18 05:54:14-07:00  68.366667  68.366667  68.366667  57.999189
2018-05-18 05:55:14-07:00  67.896667  67.700000  67.900000  57.999189

                              t_std
time
2018-05-18 05:50:14-07:00  0.382084
2018-05-18 05:54:14-07:00  0.043970
2018-05-18 05:54:14-07:00  0.000000
2018-05-18 05:55:14-07:00  0.110252
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 06:29:14-07:00   0   1  2.000000   4  68.600000  68.600000
2018-05-18 06:33:14-07:00   0   0  0.000000  15  68.600000  68.600000
2018-05-18 06:33:14-07:00   0   0  0.333333   1  68.183333  68.183333
2018-05-18 06:34:14-07:00   0   0  0.000000  15  68.016667  68.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 06:29:14-07:00  68.600000  68.600000  68.600000  57.999189
2018-05-18 06:33:14-07:00  68.516667  68.500000  68.500000  58.803514
2018-05-18 06:33:14-07:00  68.183333  68.183333  68.183333  57.999189
2018-05-18 06:34:14-07:00  67.977778  67.900000  68.100000  58.870541

                              t_std
time
2018-05-18 06:29:14-07:00  0.000000
2018-05-18 06:33:14-07:00  0.034960
2018-05-18 06:33:14-07:00  0.000000
2018-05-18 06:34:14-07:00  0.068493
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-18 06:55:14-07:00   0   0  0.000000  13  68.300000   68.5  68.384615
2018-05-18 06:58:14-07:00   0   0  0.000000  15  68.200000   68.2  68.050000
2018-05-18 06:59:14-07:00   0   0  0.666667   1  68.300000   68.3  68.300000
2018-05-18 07:00:14-07:00   0   0  0.000000  15  68.133333   68.2  68.091111

                           t_min  t_next      t_out     t_std
time
2018-05-18 06:55:14-07:00   68.3    68.3  58.307128  0.093017
2018-05-18 06:58:14-07:00   67.9    68.2  58.933269  0.112052
2018-05-18 06:59:14-07:00   68.3    68.3  57.999189  0.000000
2018-05-18 07:00:14-07:00   68.0    68.2  59.200149  0.071457
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 07:03:14-07:00   0   0  0.000000  15  68.300000  68.300000
2018-05-18 07:05:14-07:00   0   0  0.000000  15  68.100000  68.300000
2018-05-18 07:08:14-07:00   0   0  1.666667   1  68.533333  68.533333
2018-05-18 07:09:14-07:00   0   0  0.000000  15  69.800000  69.800000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 07:03:14-07:00  68.277778  68.200000  68.200000  59.600469
2018-05-18 07:05:14-07:00  68.220889  68.100000  68.200000  59.867349
2018-05-18 07:08:14-07:00  68.533333  68.533333  68.533333  60.000789
2018-05-18 07:09:14-07:00  69.758889  69.700000  69.800000  60.000789

                              t_std
time
2018-05-18 07:03:14-07:00  0.039752
2018-05-18 07:05:14-07:00  0.070506
2018-05-18 07:08:14-07:00  0.000000
2018-05-18 07:09:14-07:00  0.046693
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 07:09:14-07:00   0   1  2.000000   5  68.600000  68.600000
2018-05-18 07:13:14-07:00   0   0  0.000000  15  68.233333  68.300000
2018-05-18 07:14:14-07:00   0   0  1.333333   1  68.233333  68.233333
2018-05-18 07:15:14-07:00   0   0  0.000000  15  68.200000  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 07:09:14-07:00  68.576000  68.480000  68.480000  60.000789
2018-05-18 07:13:14-07:00  68.261111  68.200000  68.300000  60.000789
2018-05-18 07:14:14-07:00  68.233333  68.233333  68.233333  60.000789
2018-05-18 07:15:14-07:00  68.098889  68.000000  68.200000  60.000789

                              t_std
time
2018-05-18 07:09:14-07:00  0.048000
2018-05-18 07:13:14-07:00  0.043744
2018-05-18 07:14:14-07:00  0.000000
2018-05-18 07:15:14-07:00  0.076125
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 07:24:14-07:00   0   0  0.000000  15  69.800000  69.900000
2018-05-18 07:28:14-07:00   0   0  0.000000   1  68.300000  68.300000
2018-05-18 07:29:14-07:00   0   0  1.333333   1  68.466667  68.466667
2018-05-18 07:30:14-07:00   0   0  0.000000  15  68.100000  68.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 07:24:14-07:00  69.842222  69.800000  69.900000  60.400710
2018-05-18 07:28:14-07:00  68.300000  68.300000  68.300000  60.000789
2018-05-18 07:29:14-07:00  68.466667  68.466667  68.466667  60.000789
2018-05-18 07:30:14-07:00  68.200000  68.100000  68.100000  61.200552

                              t_std
time
2018-05-18 07:24:14-07:00  0.047868
2018-05-18 07:28:14-07:00  0.000000
2018-05-18 07:29:14-07:00  0.000000
2018-05-18 07:30:14-07:00  0.075277
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 07:49:14-07:00   0   0  0.000000   4  68.200000  68.300000
2018-05-18 07:50:14-07:00   0   0  0.000000  15  68.200000  68.500000
2018-05-18 07:53:14-07:00   0   0  0.666667   1  68.433333  68.433333
2018-05-18 07:54:14-07:00   0   0  0.000000  15  70.100000  70.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 07:49:14-07:00  68.266667  68.200000  68.300000  61.000591
2018-05-18 07:50:14-07:00  68.316889  68.033333  68.033333  60.134096
2018-05-18 07:53:14-07:00  68.433333  68.433333  68.433333  60.000789
2018-05-18 07:54:14-07:00  70.224444  70.100000  70.400000  60.800714

                              t_std
time
2018-05-18 07:49:14-07:00  0.040825
2018-05-18 07:50:14-07:00  0.152779
2018-05-18 07:53:14-07:00  0.000000
2018-05-18 07:54:14-07:00  0.116407
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 08:20:14-07:00   0   0  0.000000  15  67.900000  68.100000
2018-05-18 08:24:14-07:00   0   0  0.000000  15  70.700000  70.700000
2018-05-18 08:29:14-07:00   0   0  0.333333   1  68.366667  68.366667
2018-05-18 08:30:14-07:00   0   0  0.000000  15  68.100000  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 08:20:14-07:00  68.032222  67.900000  68.100000  64.000416
2018-05-18 08:24:14-07:00  70.700000  70.700000  70.700000  64.200375
2018-05-18 08:29:14-07:00  68.366667  68.366667  68.366667  64.000416
2018-05-18 08:30:14-07:00  68.133333  68.100000  68.100000  64.600291

                                  t_std
time
2018-05-18 08:20:14-07:00  7.365250e-02
2018-05-18 08:24:14-07:00  1.421085e-14
2018-05-18 08:29:14-07:00  0.000000e+00
2018-05-18 08:30:14-07:00  4.361447e-02
========
Action is by itself with action 1.666667 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 08:31:14-07:00   0   0  0.000000  15  67.200000  67.200000
2018-05-18 08:33:14-07:00   0   0  0.000000  15  68.200000  68.300000
2018-05-18 08:35:14-07:00   0   0  1.666667   1  68.283333  68.283333
2018-05-18 08:35:14-07:00   0   0  0.000000  15  68.100000  68.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 08:31:14-07:00  66.964667  66.700000  66.700000  64.666944
2018-05-18 08:33:14-07:00  68.237778  68.200000  68.300000  64.800250
2018-05-18 08:35:14-07:00  68.283333  68.283333  68.283333  64.000416
2018-05-18 08:35:14-07:00  68.100000  68.100000  68.100000  64.933555

                                  t_std
time
2018-05-18 08:31:14-07:00  1.815073e-01
2018-05-18 08:33:14-07:00  4.693047e-02
2018-05-18 08:35:14-07:00  0.000000e+00
2018-05-18 08:35:14-07:00  3.669227e-15
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in      t_max     t_mean  \
time
2018-05-18 08:50:14-07:00   0   0  0.000000  15  68.1  68.200000  68.164000
2018-05-18 08:51:14-07:00   0   0  0.000000   3  68.3  68.433333  68.344444
2018-05-18 08:54:14-07:00   0   0  1.333333   1  68.5  68.500000  68.500000
2018-05-18 08:54:14-07:00   0   0  0.000000  15  70.8  70.833333  70.802222

                           t_min     t_next      t_out     t_std
time
2018-05-18 08:50:14-07:00   68.1  68.180000  64.067069  0.045724
2018-05-18 08:51:14-07:00   68.3  68.433333  64.000416  0.062854
2018-05-18 08:54:14-07:00   68.5  68.500000  64.000416  0.000000
2018-05-18 08:54:14-07:00   70.8  70.833333  64.400374  0.008315
========
Action is by itself with action 0.181818 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 15:45:14-07:00   0   0  0.000000  15  74.100000  74.300000
2018-05-18 15:46:14-07:00   0   0  0.000000  15  73.600000  73.700000
2018-05-18 15:47:14-07:00   0   0  0.181818   1  74.181818  74.181818
2018-05-18 15:48:14-07:00   0   0  0.000000  15  74.016667  74.016667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 15:45:14-07:00  74.224444  74.100000  74.300000  80.999693
2018-05-18 15:46:14-07:00  73.670556  73.600000  73.700000  80.999681
2018-05-18 15:47:14-07:00  74.181818  74.181818  74.181818  80.999808
2018-05-18 15:48:14-07:00  73.793535  73.600000  74.000000  80.999655

                              t_std
time
2018-05-18 15:45:14-07:00  0.061423
2018-05-18 15:46:14-07:00  0.043766
2018-05-18 15:47:14-07:00  0.000000
2018-05-18 15:48:14-07:00  0.161274
========
Action is by itself with action 1.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 15:47:14-07:00   0   0  0.181818   1  74.181818  74.181818
2018-05-18 15:48:14-07:00   0   0  0.000000  15  74.016667  74.016667
2018-05-18 15:49:14-07:00   0   0  1.166667   1  74.391667  74.391667
2018-05-18 15:50:14-07:00   0   0  0.000000  15  74.008333  74.008333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 15:47:14-07:00  74.181818  74.181818  74.181818  80.999808
2018-05-18 15:48:14-07:00  73.793535  73.600000  74.000000  80.999655
2018-05-18 15:49:14-07:00  74.391667  74.391667  74.391667  80.999808
2018-05-18 15:50:14-07:00  73.818283  73.600000  74.000000  80.999629

                              t_std
time
2018-05-18 15:47:14-07:00  0.000000
2018-05-18 15:48:14-07:00  0.161274
2018-05-18 15:49:14-07:00  0.000000
2018-05-18 15:50:14-07:00  0.155249
========
Action is by itself with action 0.400000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-18 16:15:14-07:00   0   0     0.0  15  74.50  74.80  74.632444  74.50
2018-05-18 16:15:14-07:00   0   0     0.0  15  74.50  74.80  74.646444  74.50
2018-05-18 16:16:14-07:00   0   0     0.4   1  74.44  74.44  74.440000  74.44
2018-05-18 16:16:14-07:00   0   0     0.0  15  74.10  74.40  74.247980  74.10

                           t_next      t_out     t_std
time
2018-05-18 16:15:14-07:00   74.80  80.999617  0.091307
2018-05-18 16:15:14-07:00   74.80  80.999617  0.098991
2018-05-18 16:16:14-07:00   74.44  80.999617  0.000000
2018-05-18 16:16:14-07:00   74.40  80.999617  0.093455
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 16:17:14-07:00   0   1  2.000000   5  74.525000  74.600000
2018-05-18 16:20:14-07:00   0   0  0.000000  15  74.800000  75.000000
2018-05-18 16:22:14-07:00   0   0  1.666667   1  74.450000  74.450000
2018-05-18 16:23:14-07:00   0   0  0.000000  15  74.083333  74.083333

                              t_mean   t_min  t_next      t_out     t_std
time
2018-05-18 16:17:14-07:00  74.585000  74.525   74.60  80.999617  0.030000
2018-05-18 16:20:14-07:00  74.912778  74.800   75.00  80.999617  0.065040
2018-05-18 16:22:14-07:00  74.450000  74.450   74.45  80.999617  0.000000
2018-05-18 16:23:14-07:00  73.873717  73.700   74.00  80.999642  0.124461
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 16:35:14-07:00   0   0  0.000000  15  75.050000  75.300000
2018-05-18 16:38:14-07:00   0   0  0.000000  11  74.000000  74.420000
2018-05-18 16:41:14-07:00   0   0  0.363636   1  74.190909  74.190909
2018-05-18 16:42:14-07:00   0   0  0.000000  15  73.990909  74.218182

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 16:35:14-07:00  75.190909  75.050000  75.300000  80.999796
2018-05-18 16:38:14-07:00  74.251818  74.000000  74.420000  80.999808
2018-05-18 16:41:14-07:00  74.190909  74.190909  74.190909  80.999808
2018-05-18 16:42:14-07:00  73.877273  73.600000  74.218182  80.999732

                              t_std
time
2018-05-18 16:35:14-07:00  0.084778
2018-05-18 16:38:14-07:00  0.133797
2018-05-18 16:41:14-07:00  0.000000
2018-05-18 16:42:14-07:00  0.172096
========
Action is by itself with action 1.833333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 16:49:14-07:00   0   1  2.000000   5  74.533333  74.600000
2018-05-18 16:50:14-07:00   0   0  0.000000  15  75.300000  75.700000
2018-05-18 16:54:14-07:00   0   0  1.833333   1  74.425000  74.425000
2018-05-18 16:55:14-07:00   0   0  0.000000  15  74.091667  74.091667

                              t_mean      t_min  t_next      t_out     t_std
time
2018-05-18 16:49:14-07:00  74.586667  74.533333  74.600  80.999693  0.026667
2018-05-18 16:50:14-07:00  75.471111  75.300000  75.700  80.999629  0.108775
2018-05-18 16:54:14-07:00  74.425000  74.425000  74.425  80.999617  0.000000
2018-05-18 16:55:14-07:00  73.837525  73.600000  74.000  80.999617  0.168940
========
Action is by itself with action 1.818182 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 16:55:14-07:00   0   0  0.000000  15  74.091667  74.091667
2018-05-18 16:57:14-07:00   0   0  0.000000   2  74.400000  74.400000
2018-05-18 16:59:14-07:00   0   0  1.818182   1  74.500000  74.500000
2018-05-18 17:00:14-07:00   0   0  0.000000  15  75.300000  75.500000

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-18 16:55:14-07:00  73.837525   73.6    74.0  80.999617  0.168940
2018-05-18 16:57:14-07:00  74.400000   74.4    74.4  80.999617  0.000000
2018-05-18 16:59:14-07:00  74.500000   74.5    74.5  80.999617  0.000000
2018-05-18 17:00:14-07:00  75.396768   75.3    75.5  80.999617  0.076441
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 17:01:14-07:00   0   0  0.000000  15  75.000000  75.200000
2018-05-18 17:05:14-07:00   0   0  0.000000  15  75.700000  75.900000
2018-05-18 17:06:14-07:00   0   0  0.666667   1  74.333333  74.333333
2018-05-18 17:07:14-07:00   0   0  0.000000  15  73.933333  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 17:01:14-07:00  75.116263  75.000000  75.200000  80.999617
2018-05-18 17:05:14-07:00  75.776889  75.700000  75.900000  80.999617
2018-05-18 17:06:14-07:00  74.333333  74.333333  74.333333  80.999617
2018-05-18 17:07:14-07:00  73.737576  73.500000  74.000000  80.999617

                              t_std
time
2018-05-18 17:01:14-07:00  0.059845
2018-05-18 17:05:14-07:00  0.068068
2018-05-18 17:06:14-07:00  0.000000
2018-05-18 17:07:14-07:00  0.192475
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 17:30:14-07:00   0   0  0.000000  15  75.800000  75.900000
2018-05-18 17:31:14-07:00   0   0  0.000000  15  75.400000  75.700000
2018-05-18 17:31:14-07:00   0   0  0.363636   1  74.309091  74.309091
2018-05-18 17:32:14-07:00   0   0  0.000000  14  74.016667  74.016667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 17:30:14-07:00  75.855556  75.800000  75.900000  80.999732
2018-05-18 17:31:14-07:00  75.549697  75.400000  75.700000  80.999744
2018-05-18 17:31:14-07:00  74.309091  74.309091  74.309091  80.999617
2018-05-18 17:32:14-07:00  73.857684  73.600000  74.000000  80.999754

                              t_std
time
2018-05-18 17:30:14-07:00  0.048177
2018-05-18 17:31:14-07:00  0.117169
2018-05-18 17:31:14-07:00  0.000000
2018-05-18 17:32:14-07:00  0.151290
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 17:35:14-07:00   0   0  0.000000  15  76.100000  76.258333
2018-05-18 17:40:14-07:00   0   0  0.000000   5  74.100000  74.300000
2018-05-18 17:45:14-07:00   0   0  0.333333   1  74.366667  74.366667
2018-05-18 17:45:14-07:00   0   0  0.000000  15  76.000000  76.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 17:35:14-07:00  76.167222  76.100000  76.258333  80.999796
2018-05-18 17:40:14-07:00  74.260000  74.100000  74.300000  80.999808
2018-05-18 17:45:14-07:00  74.366667  74.366667  74.366667  80.999808
2018-05-18 17:45:14-07:00  76.050556  76.000000  76.100000  80.999693

                              t_std
time
2018-05-18 17:35:14-07:00  0.051502
2018-05-18 17:40:14-07:00  0.080000
2018-05-18 17:45:14-07:00  0.000000
2018-05-18 17:45:14-07:00  0.048349
========
Action is by itself with action 0.333333 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 17:47:14-07:00   0   1  2.000000   7  74.600000  74.600000
2018-05-18 17:50:14-07:00   0   0  0.000000  15  76.300000  76.600000
2018-05-18 17:52:14-07:00   0   0  0.333333   1  74.233333  74.233333
2018-05-18 17:53:14-07:00   0   0  0.000000  15  73.991667  74.060000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 17:47:14-07:00  74.578571  74.500000  74.500000  80.999726
2018-05-18 17:50:14-07:00  76.367778  76.300000  76.600000  80.999629
2018-05-18 17:52:14-07:00  74.233333  74.233333  74.233333  80.999617
2018-05-18 17:53:14-07:00  73.887384  73.700000  74.060000  80.999617

                              t_std
time
2018-05-18 17:47:14-07:00  0.036422
2018-05-18 17:50:14-07:00  0.080844
2018-05-18 17:52:14-07:00  0.000000
2018-05-18 17:53:14-07:00  0.121759
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 17:52:14-07:00   0   0  0.333333   1  74.233333  74.233333
2018-05-18 17:53:14-07:00   0   0  0.000000  15  73.991667  74.060000
2018-05-18 17:54:14-07:00   0   0  1.333333   1  74.366667  74.366667
2018-05-18 17:55:14-07:00   0   0  0.000000  15  74.060000  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 17:52:14-07:00  74.233333  74.233333  74.233333  80.999617
2018-05-18 17:53:14-07:00  73.887384  73.700000  74.060000  80.999617
2018-05-18 17:54:14-07:00  74.366667  74.366667  74.366667  80.999617
2018-05-18 17:55:14-07:00  73.818899  73.600000  74.100000  80.999617

                              t_std
time
2018-05-18 17:52:14-07:00  0.000000
2018-05-18 17:53:14-07:00  0.121759
2018-05-18 17:54:14-07:00  0.000000
2018-05-18 17:55:14-07:00  0.188292
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 18:16:14-07:00   0   0  0.000000  13  76.200000  76.400000
2018-05-18 18:18:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-18 18:18:14-07:00   0   0  0.727273   1  74.172727  74.172727
2018-05-18 18:19:14-07:00   0   0  0.000000  15  73.990909  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 18:16:14-07:00  76.274359  76.200000  76.400000  80.999617
2018-05-18 18:18:14-07:00  73.842222  73.600000  74.200000  80.999617
2018-05-18 18:18:14-07:00  74.172727  74.172727  74.172727  80.999617
2018-05-18 18:19:14-07:00  73.835404  73.600000  74.000000  80.999617

                              t_std
time
2018-05-18 18:16:14-07:00  0.060134
2018-05-18 18:18:14-07:00  0.209953
2018-05-18 18:18:14-07:00  0.000000
2018-05-18 18:19:14-07:00  0.163302
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 18:40:14-07:00   0   0  1.166667   1  74.333333  74.333333
2018-05-18 18:41:14-07:00   0   0  0.000000  15  74.009091  74.009091
2018-05-18 18:43:14-07:00   0   0  0.666667   1  74.300000  74.300000
2018-05-18 18:44:14-07:00   0   0  0.000000  15  74.033333  74.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 18:40:14-07:00  74.333333  74.333333  74.333333  79.999808
2018-05-18 18:41:14-07:00  73.806162  73.500000  74.000000  80.333078
2018-05-18 18:43:14-07:00  74.300000  74.300000  74.300000  79.999808
2018-05-18 18:44:14-07:00  74.014747  73.900000  74.200000  80.533039

                              t_std
time
2018-05-18 18:40:14-07:00  0.000000
2018-05-18 18:41:14-07:00  0.201675
2018-05-18 18:43:14-07:00  0.000000
2018-05-18 18:44:14-07:00  0.107814
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 19:25:14-07:00   0   0  0.000000   6  68.163636  68.166667
2018-05-18 19:25:14-07:00   0   0  0.000000   5  68.200000  68.300000
2018-05-18 19:26:14-07:00   0   0  1.333333   1  74.400000  74.400000
2018-05-18 19:27:14-07:00   0   0  0.000000  15  74.100000  74.100000

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-18 19:25:14-07:00  68.121717   68.1  68.166667  78.999775  0.030725
2018-05-18 19:25:14-07:00  68.226667   68.2  68.300000  78.999775  0.038873
2018-05-18 19:26:14-07:00  74.400000   74.4  74.400000  78.999775  0.000000
2018-05-18 19:27:14-07:00  73.723636   73.5  74.000000  78.599820  0.213981
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 20:19:14-07:00   0   0  0.000000  15  73.927273  74.000000
2018-05-18 20:24:14-07:00   0   0  0.000000  15  74.100000  74.100000
2018-05-18 20:27:14-07:00   0   0  0.333333   1  68.216667  68.216667
2018-05-18 20:28:14-07:00   0   0  0.000000   9  68.033333  68.033333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 20:19:14-07:00  73.643030  73.400000  74.000000  76.999989
2018-05-18 20:24:14-07:00  73.852525  73.700000  73.927273  76.698990
2018-05-18 20:27:14-07:00  68.216667  68.216667  68.216667  76.999989
2018-05-18 20:28:14-07:00  67.969360  67.900000  68.000000  76.832767

                              t_std
time
2018-05-18 20:19:14-07:00  0.184629
2018-05-18 20:24:14-07:00  0.114841
2018-05-18 20:27:14-07:00  0.000000
2018-05-18 20:28:14-07:00  0.045677
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-18 20:29:14-07:00   0   0  0.000000   6  68.700000  68.70  68.625000
2018-05-18 20:30:14-07:00   0   0  0.000000   4  68.133333  68.20  68.143750
2018-05-18 20:34:14-07:00   0   0  0.333333   1  68.350000  68.35  68.350000
2018-05-18 20:34:14-07:00   0   0  0.000000   7  74.000000  74.30  74.142857

                           t_min  t_next      t_out     t_std
time
2018-05-18 20:29:14-07:00  68.60   68.60  76.999989  0.038188
2018-05-18 20:30:14-07:00  68.10   68.20  76.999989  0.036024
2018-05-18 20:34:14-07:00  68.35   68.35  76.999989  0.000000
2018-05-18 20:34:14-07:00  74.00   74.30  75.924993  0.139971
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 20:37:14-07:00   0   1  2.000000  15  68.600000  68.800000
2018-05-18 20:39:14-07:00   0   0  0.000000  15  74.000000  74.200000
2018-05-18 20:39:14-07:00   0   0  0.727273   1  68.245455  68.245455
2018-05-18 20:40:14-07:00   0   0  0.000000  15  67.909091  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 20:37:14-07:00  68.661515  68.300000  68.300000  75.595327
2018-05-18 20:39:14-07:00  74.098535  74.000000  74.200000  75.795993
2018-05-18 20:39:14-07:00  68.245455  68.245455  68.245455  75.494995
2018-05-18 20:40:14-07:00  67.935606  67.800000  68.200000  75.896326

                              t_std
time
2018-05-18 20:37:14-07:00  0.164918
2018-05-18 20:39:14-07:00  0.075610
2018-05-18 20:39:14-07:00  0.000000
2018-05-18 20:40:14-07:00  0.116594
========
Action is by itself with action 1.833333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 20:47:14-07:00   0   0  0.727273   1  74.281818  74.281818
2018-05-18 20:48:14-07:00   0   0  0.000000  15  73.983333  73.983333
2018-05-18 20:48:14-07:00   0   0  1.833333   1  68.200000  68.200000
2018-05-18 20:49:14-07:00   0   0  0.000000   8  68.183333  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 20:47:14-07:00  74.281818  74.281818  74.281818  75.494995
2018-05-18 20:48:14-07:00  73.635556  73.600000  73.600000  76.698990
2018-05-18 20:48:14-07:00  68.200000  68.200000  68.200000  75.494995
2018-05-18 20:49:14-07:00  68.142708  68.100000  68.200000  76.623740

                              t_std
time
2018-05-18 20:47:14-07:00  0.000000
2018-05-18 20:48:14-07:00  0.100160
2018-05-18 20:48:14-07:00  0.000000
2018-05-18 20:49:14-07:00  0.044378
========
Action is by itself with action 1.454545 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 21:01:14-07:00   0   1  2.000000   2  68.900000  68.900000
2018-05-18 21:03:14-07:00   0   0  0.000000  11  73.709091  74.354545
2018-05-18 21:03:14-07:00   0   0  1.454545   1  68.681818  68.681818
2018-05-18 21:04:14-07:00   0   0  0.000000  15  68.045455  68.045455

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 21:01:14-07:00  68.900000  68.900000  68.900000  76.999989
2018-05-18 21:03:14-07:00  74.121694  73.709091  74.354545  74.817745
2018-05-18 21:03:14-07:00  68.681818  68.681818  68.681818  76.999989
2018-05-18 21:04:14-07:00  67.840152  67.700000  68.000000  74.399481

                              t_std
time
2018-05-18 21:01:14-07:00  0.000000
2018-05-18 21:03:14-07:00  0.193779
2018-05-18 21:03:14-07:00  0.000000
2018-05-18 21:04:14-07:00  0.122462
========
Action is by itself with action 1.636364 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 21:04:14-07:00   0   0  0.000000  15  68.045455  68.045455
2018-05-18 21:09:14-07:00   0   0  0.000000  15  74.300000  74.400000
2018-05-18 21:09:14-07:00   0   0  1.636364   1  68.527273  68.527273
2018-05-18 21:10:14-07:00   0   0  0.000000   8  68.175000  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 21:04:14-07:00  67.840152  67.700000  68.000000  74.399481
2018-05-18 21:09:14-07:00  74.381111  74.300000  74.400000  73.999403
2018-05-18 21:09:14-07:00  68.527273  68.527273  68.527273  73.999403
2018-05-18 21:10:14-07:00  68.138542  68.100000  68.200000  73.999403

                              t_std
time
2018-05-18 21:04:14-07:00  0.122462
2018-05-18 21:09:14-07:00  0.037941
2018-05-18 21:09:14-07:00  0.000000
2018-05-18 21:10:14-07:00  0.043088
========
Action is by itself with action 0.833333 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 21:09:14-07:00   0   0  1.636364   1  68.527273  68.527273
2018-05-18 21:10:14-07:00   0   0  0.000000   8  68.175000  68.200000
2018-05-18 21:11:14-07:00   0   0  0.833333   1  68.200000  68.200000
2018-05-18 21:12:14-07:00   0   0  0.000000   6  68.133333  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 21:09:14-07:00  68.527273  68.527273  68.527273  73.999403
2018-05-18 21:10:14-07:00  68.138542  68.100000  68.200000  73.999403
2018-05-18 21:11:14-07:00  68.200000  68.200000  68.200000  73.999403
2018-05-18 21:12:14-07:00  68.127778  68.100000  68.200000  73.999403

                              t_std
time
2018-05-18 21:09:14-07:00  0.000000
2018-05-18 21:10:14-07:00  0.043088
2018-05-18 21:11:14-07:00  0.000000
2018-05-18 21:12:14-07:00  0.035573
========
Action is by itself with action 1.833333 for data:
                           a1  a2    action  dt       t_in   t_max     t_mean  \
time
2018-05-18 21:24:14-07:00   0   0  0.000000  15  74.400000  74.400  74.400000
2018-05-18 21:25:14-07:00   0   0  0.000000  15  67.950000  68.000  67.770909
2018-05-18 21:27:14-07:00   0   0  1.833333   1  68.475000  68.475  68.475000
2018-05-18 21:28:14-07:00   0   0  0.000000  15  68.183333  68.600  68.184889

                            t_min  t_next      t_out         t_std
time
2018-05-18 21:24:14-07:00  74.400  74.400  73.899463  1.421085e-14
2018-05-18 21:25:14-07:00  67.600  68.000  73.866149  1.434406e-01
2018-05-18 21:27:14-07:00  68.475  68.475  73.999403  0.000000e+00
2018-05-18 21:28:14-07:00  68.000  68.600  73.766209  2.258248e-01
========
Action is by itself with action 0.909091 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-18 21:51:14-07:00   0   0  0.000000   5  74.400000  74.483333
2018-05-18 21:54:14-07:00   0   0  0.000000   1  74.500000  74.500000
2018-05-18 21:55:14-07:00   0   0  0.909091   1  74.500000  74.500000
2018-05-18 21:55:14-07:00   0   0  0.000000  15  70.033333  70.854545

                              t_mean      t_min     t_next      t_out  \
time
2018-05-18 21:51:14-07:00  74.416667  74.400000  74.483333  73.999403
2018-05-18 21:54:14-07:00  74.500000  74.500000  74.500000  73.999403
2018-05-18 21:55:14-07:00  74.500000  74.500000  74.500000  73.999403
2018-05-18 21:55:14-07:00  70.429495  70.033333  70.854545  73.733007

                              t_std
time
2018-05-18 21:51:14-07:00  0.033333
2018-05-18 21:54:14-07:00  0.000000
2018-05-18 21:55:14-07:00  0.000000
2018-05-18 21:55:14-07:00  0.291192
========
Action is by itself with action 0.500000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-19 12:00:14-07:00   0   0     0.0  15  74.600000  75.000000
2018-05-19 12:00:14-07:00   0   0     0.0  15  74.200000  74.800000
2018-05-19 12:04:14-07:00   0   0     0.5   1  74.150000  74.150000
2018-05-19 12:05:14-07:00   0   0     0.0  15  73.933333  73.933333

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-19 12:00:14-07:00  74.764040  74.60   75.00  75.999189  0.144322
2018-05-19 12:00:14-07:00  74.491717  74.20   74.80  75.999189  0.189635
2018-05-19 12:04:14-07:00  74.150000  74.15   74.15  75.999189  0.000000
2018-05-19 12:05:14-07:00  73.719646  73.60   73.80  75.999189  0.117850
========
Action is by itself with action 1.200000 for data:
                           a1  a2  action  dt  t_in      t_max     t_mean  \
time
2018-05-19 12:35:14-07:00   0   0     0.0   5  74.4  74.450000  74.410000
2018-05-19 12:38:14-07:00   0   0     0.0  15  73.2  73.454545  73.343636
2018-05-19 12:40:14-07:00   0   0     1.2   1  74.5  74.500000  74.500000
2018-05-19 12:40:14-07:00   0   0     0.0  15  74.6  75.000000  74.841818

                           t_min     t_next      t_out     t_std
time
2018-05-19 12:35:14-07:00   74.4  74.450000  78.203993  0.020000
2018-05-19 12:38:14-07:00   73.2  73.454545  78.304327  0.068470
2018-05-19 12:40:14-07:00   74.5  74.500000  78.504995  0.000000
2018-05-19 12:40:14-07:00   74.6  75.000000  78.103660  0.098182
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 12:45:14-07:00   0   0  0.000000  15  75.300000  75.700000
2018-05-19 12:45:14-07:00   0   0  0.000000  15  75.200000  75.427273
2018-05-19 12:45:14-07:00   0   0  1.333333   1  74.266667  74.266667
2018-05-19 12:46:14-07:00   0   0  0.000000  15  74.100000  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 12:45:14-07:00  75.472475  75.300000  75.700000  77.601991
2018-05-19 12:45:14-07:00  75.309697  75.200000  75.427273  77.601991
2018-05-19 12:45:14-07:00  74.266667  74.266667  74.266667  78.504995
2018-05-19 12:46:14-07:00  73.778636  73.600000  74.000000  77.501658

                              t_std
time
2018-05-19 12:45:14-07:00  0.114508
2018-05-19 12:45:14-07:00  0.082018
2018-05-19 12:45:14-07:00  0.000000
2018-05-19 12:46:14-07:00  0.163796
========
Action is by itself with action 1.636364 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 13:35:14-07:00   0   1  2.000000   4  74.600000  74.600000
2018-05-19 13:37:14-07:00   0   0  0.000000  12  74.000000  74.441667
2018-05-19 13:39:14-07:00   0   0  1.636364   1  74.345455  74.345455
2018-05-19 13:40:14-07:00   0   0  0.000000  15  75.900000  76.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 13:35:14-07:00  74.525000  74.400000  74.400000  80.375394
2018-05-19 13:37:14-07:00  74.234533  74.000000  74.441667  80.500315
2018-05-19 13:39:14-07:00  74.345455  74.345455  74.345455  80.500315
2018-05-19 13:40:14-07:00  75.974545  75.900000  76.100000  80.367066

                              t_std
time
2018-05-19 13:35:14-07:00  0.082916
2018-05-19 13:37:14-07:00  0.150081
2018-05-19 13:39:14-07:00  0.000000
2018-05-19 13:40:14-07:00  0.071366
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 14:10:14-07:00   0   0  0.000000   9  74.000000  74.500000
2018-05-19 14:10:14-07:00   0   0  0.000000  15  76.400000  76.741667
2018-05-19 14:11:14-07:00   0   0  0.333333   1  74.166667  74.166667
2018-05-19 14:12:14-07:00   0   0  0.000000  15  73.936364  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 14:10:14-07:00  74.236616  74.000000  74.500000  80.000630
2018-05-19 14:10:14-07:00  76.576667  76.400000  76.741667  80.267026
2018-05-19 14:11:14-07:00  74.166667  74.166667  74.166667  80.000630
2018-05-19 14:12:14-07:00  73.746313  73.600000  74.000000  80.400225

                              t_std
time
2018-05-19 14:10:14-07:00  0.161491
2018-05-19 14:10:14-07:00  0.124209
2018-05-19 14:11:14-07:00  0.000000
2018-05-19 14:12:14-07:00  0.159951
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 14:20:14-07:00   0   1  2.000000   5  74.500000  74.600000
2018-05-19 14:25:14-07:00   0   0  0.000000  15  76.800000  77.100000
2018-05-19 14:25:14-07:00   0   0  0.666667   1  74.333333  74.333333
2018-05-19 14:26:14-07:00   0   0  0.000000  15  74.016667  74.016667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 14:20:14-07:00  74.567273  74.500000  74.600000  80.799819
2018-05-19 14:25:14-07:00  76.943030  76.800000  77.100000  81.399668
2018-05-19 14:25:14-07:00  74.333333  74.333333  74.333333  80.999617
2018-05-19 14:26:14-07:00  73.834242  73.600000  74.000000  81.499681

                              t_std
time
2018-05-19 14:20:14-07:00  0.041699
2018-05-19 14:25:14-07:00  0.106521
2018-05-19 14:25:14-07:00  0.000000
2018-05-19 14:26:14-07:00  0.162301

========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 14:56:14-07:00   0   0  0.000000   3  74.100000  74.300000
2018-05-19 14:58:14-07:00   0   0  0.000000  15  76.800000  76.900000
2018-05-19 14:59:14-07:00   0   0  0.727273   1  74.436364  74.436364
2018-05-19 15:00:14-07:00   0   0  0.000000  15  77.100000  77.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 14:56:14-07:00  74.233333  74.100000  74.300000  80.999617
2018-05-19 14:58:14-07:00  76.821818  76.800000  76.900000  82.399890
2018-05-19 14:59:14-07:00  74.436364  74.436364  74.436364  80.999617
2018-05-19 15:00:14-07:00  77.066667  77.000000  77.100000  82.799968

                              t_std
time
2018-05-19 14:56:14-07:00  0.094281
2018-05-19 14:58:14-07:00  0.039668
2018-05-19 14:59:14-07:00  0.000000
2018-05-19 15:00:14-07:00  0.043885
========
Action is by itself with action 0.400000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-19 15:15:14-07:00   0   0     0.0  15  77.100000  77.100000
2018-05-19 15:15:14-07:00   0   0     0.0  15  77.100000  77.116667
2018-05-19 15:21:14-07:00   0   0     0.4   1  74.260000  74.260000
2018-05-19 15:22:14-07:00   0   0     0.0  15  74.033333  74.300000

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-19 15:15:14-07:00  77.014545  76.90  76.900000  84.000203  0.082842
2018-05-19 15:15:14-07:00  77.101111  77.10  77.116667  84.000203  0.004157
2018-05-19 15:21:14-07:00  74.260000  74.26  74.260000  84.000203  0.000000
2018-05-19 15:22:14-07:00  73.941717  73.70  74.300000  84.033196  0.146592
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 15:30:14-07:00   0   0  0.000000  15  76.900000  77.000000
2018-05-19 15:30:14-07:00   0   0  0.000000  15  77.200000  77.200000
2018-05-19 15:31:14-07:00   0   0  0.363636   1  74.227273  74.227273
2018-05-19 15:32:14-07:00   0   0  0.000000  14  73.991667  74.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 15:30:14-07:00  76.946667  76.900000  76.900000  84.297142
2018-05-19 15:30:14-07:00  77.200000  77.200000  77.200000  84.297142
2018-05-19 15:31:14-07:00  74.227273  74.227273  74.227273  84.000203
2018-05-19 15:32:14-07:00  73.964340  73.700000  74.400000  84.353702

                                  t_std
time
2018-05-19 15:30:14-07:00  4.642796e-02
2018-05-19 15:30:14-07:00  1.421085e-14
2018-05-19 15:31:14-07:00  0.000000e+00
2018-05-19 15:32:14-07:00  1.666289e-01
========
Action is by itself with action 0.500000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-19 15:32:14-07:00   0   0     0.0  14  73.991667  74.400000
2018-05-19 15:37:14-07:00   0   0     0.0   3  74.300000  74.300000
2018-05-19 15:40:14-07:00   0   0     0.5   1  74.383333  74.383333
2018-05-19 15:40:14-07:00   0   0     0.0  15  77.200000  77.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 15:32:14-07:00  73.964340  73.700000  74.400000  84.353702
2018-05-19 15:37:14-07:00  74.300000  74.300000  74.300000  84.495101
2018-05-19 15:40:14-07:00  74.383333  74.383333  74.383333  84.495101
2018-05-19 15:40:14-07:00  77.290000  77.200000  77.300000  84.363128

                              t_std
time
2018-05-19 15:32:14-07:00  0.166629
2018-05-19 15:37:14-07:00  0.000000
2018-05-19 15:40:14-07:00  0.000000
2018-05-19 15:40:14-07:00  0.027080
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 15:47:14-07:00   0   0  0.545455   1  74.254545  74.254545
2018-05-19 15:48:14-07:00   0   0  0.000000  15  74.016667  74.300000
2018-05-19 15:54:14-07:00   0   0  1.333333   1  74.466667  74.466667
2018-05-19 15:55:14-07:00   0   0  0.000000  15  77.427273  77.600000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 15:47:14-07:00  74.254545  74.254545  74.254545  84.495101
2018-05-19 15:48:14-07:00  73.937475  73.700000  74.300000  84.099182
2018-05-19 15:54:14-07:00  74.466667  74.466667  74.466667  84.000203
2018-05-19 15:55:14-07:00  77.523485  77.427273  77.600000  84.266599

                              t_std
time
2018-05-19 15:47:14-07:00  0.000000
2018-05-19 15:48:14-07:00  0.145356
2018-05-19 15:54:14-07:00  0.000000
2018-05-19 15:55:14-07:00  0.050094
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-19 16:09:14-07:00   0   1  2.000000   7  74.666667  74.80  74.726407
2018-05-19 16:10:14-07:00   0   0  0.000000  15  77.600000  77.70  77.628889
2018-05-19 16:12:14-07:00   0   0  1.666667   1  74.450000  74.45  74.450000
2018-05-19 16:13:14-07:00   0   0  0.000000  15  74.100000  74.10  73.855758

                           t_min  t_next      t_out     t_std
time
2018-05-19 16:09:14-07:00  74.50   74.50  84.999189  0.104581
2018-05-19 16:10:14-07:00  77.60   77.70  84.999189  0.043660
2018-05-19 16:12:14-07:00  74.45   74.45  84.999189  0.000000
2018-05-19 16:13:14-07:00  73.60   74.10  84.999189  0.183413
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 16:15:14-07:00   0   0  0.000000  15  77.500000  77.600000
2018-05-19 16:15:14-07:00   0   0  0.000000  15  77.300000  77.300000
2018-05-19 16:16:14-07:00   0   0  1.666667   1  74.450000  74.450000
2018-05-19 16:17:14-07:00   0   0  0.000000  12  74.163636  74.163636

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-19 16:15:14-07:00  77.522778  77.50  77.600000  84.999189  0.039961
2018-05-19 16:15:14-07:00  77.208333  77.10  77.100000  84.999189  0.070776
2018-05-19 16:16:14-07:00  74.450000  74.45  74.450000  84.999189  0.000000
2018-05-19 16:17:14-07:00  73.902841  73.70  74.145455  84.999189  0.167153
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-19 16:51:14-07:00   0   1  2.000000   8  74.6   75.0  74.793750
2018-05-19 16:54:14-07:00   0   0  0.000000   1  74.3   74.3  74.300000
2018-05-19 16:55:14-07:00   0   0  0.666667   1  74.4   74.4  74.400000
2018-05-19 16:55:14-07:00   0   0  0.000000  15  78.0   78.2  78.092222

                           t_min  t_next      t_out     t_std
time
2018-05-19 16:51:14-07:00   74.6    74.9  84.999189  0.158976
2018-05-19 16:54:14-07:00   74.3    74.3  84.999189  0.000000
2018-05-19 16:55:14-07:00   74.4    74.4  84.999189  0.000000
2018-05-19 16:55:14-07:00   78.0    78.2  84.999189  0.058012
========
Action is by itself with action 1.818182 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 16:56:14-07:00   0   1  2.000000   6  74.600000  74.600000
2018-05-19 16:58:14-07:00   0   0  0.000000  15  77.900000  78.100000
2018-05-19 16:59:14-07:00   0   0  1.818182   1  74.836364  74.836364
2018-05-19 17:00:14-07:00   0   0  0.000000  11  74.181818  74.181818

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 16:56:14-07:00  74.562121  74.500000  74.500000  84.999189
2018-05-19 16:58:14-07:00  78.016667  77.900000  78.100000  84.999189
2018-05-19 16:59:14-07:00  74.836364  74.836364  74.836364  84.999189
2018-05-19 17:00:14-07:00  73.971281  73.900000  74.000000  84.999189

                              t_std
time
2018-05-19 16:56:14-07:00  0.044972
2018-05-19 16:58:14-07:00  0.069322
2018-05-19 16:59:14-07:00  0.000000
2018-05-19 17:00:14-07:00  0.079715
========
Action is by itself with action 0.500000 for data:
                           a1  a2  action  dt       t_in  t_max     t_mean  \
time
2018-05-19 17:00:14-07:00   0   0     0.0  15  77.800000   78.0  77.911111
2018-05-19 17:00:14-07:00   0   0     0.0  15  77.527273   77.7  77.591111
2018-05-19 17:02:14-07:00   0   0     0.5   1  74.200000   74.2  74.200000
2018-05-19 17:03:14-07:00   0   0     0.0  15  73.950000   74.4  73.946970

                           t_min  t_next      t_out     t_std
time
2018-05-19 17:00:14-07:00   77.8    78.0  84.999189  0.065168
2018-05-19 17:00:14-07:00   77.5    77.7  84.999189  0.075701
2018-05-19 17:02:14-07:00   74.2    74.2  84.999189  0.000000
2018-05-19 17:03:14-07:00   73.7    74.4  84.999189  0.209675
========
Action is by itself with action 1.833333 for data:
                           a1  a2    action  dt       t_in   t_max     t_mean  \
time
2018-05-19 17:22:14-07:00   0   0  0.000000  11  74.033333  74.250  73.915675
2018-05-19 17:25:14-07:00   0   0  0.000000  15  78.500000  78.700  78.553030
2018-05-19 17:25:14-07:00   0   0  1.833333   1  74.475000  74.475  74.475000
2018-05-19 17:26:14-07:00   0   0  0.000000  15  74.183333  74.300  73.995909

                            t_min  t_next      t_out     t_std
time
2018-05-19 17:22:14-07:00  73.700  74.250  84.999189  0.166853
2018-05-19 17:25:14-07:00  78.500  78.700  84.865964  0.064489
2018-05-19 17:25:14-07:00  74.475  74.475  84.999189  0.000000
2018-05-19 17:26:14-07:00  73.900  74.300  84.832658  0.118486
========
Action is by itself with action 0.666667 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 17:50:14-07:00   1   0  1.000000   1  74.250000  74.250000
2018-05-19 17:51:14-07:00   0   0  0.000000  15  74.100000  74.300000
2018-05-19 17:54:14-07:00   0   0  0.666667   1  74.283333  74.283333
2018-05-19 17:55:14-07:00   0   0  0.000000  15  78.800000  79.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 17:50:14-07:00  74.250000  74.250000  74.250000  84.499595
2018-05-19 17:51:14-07:00  74.013939  73.900000  74.300000  84.999189
2018-05-19 17:54:14-07:00  74.283333  74.283333  74.283333  84.999189
2018-05-19 17:55:14-07:00  78.918333  78.800000  79.000000  84.999189

                              t_std
time
2018-05-19 17:50:14-07:00  0.000000
2018-05-19 17:51:14-07:00  0.129413
2018-05-19 17:54:14-07:00  0.000000
2018-05-19 17:55:14-07:00  0.055960
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 18:00:14-07:00   0   0  0.000000  15  78.500000  78.700000
2018-05-19 18:00:14-07:00   0   0  0.000000  15  78.200000  78.400000
2018-05-19 18:04:14-07:00   0   0  0.363636   1  74.218182  74.218182
2018-05-19 18:05:14-07:00   0   0  0.000000  11  74.000000  74.175000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 18:00:14-07:00  78.602778  78.500000  78.700000  84.999189
2018-05-19 18:00:14-07:00  78.231111  78.200000  78.400000  84.999189
2018-05-19 18:04:14-07:00  74.218182  74.218182  74.218182  84.999189
2018-05-19 18:05:14-07:00  73.978333  73.900000  74.175000  84.999189

                              t_std
time
2018-05-19 18:00:14-07:00  0.049969
2018-05-19 18:00:14-07:00  0.068277
2018-05-19 18:04:14-07:00  0.000000
2018-05-19 18:05:14-07:00  0.075662
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 18:10:14-07:00   0   0  0.000000  15  79.000000  79.300000
2018-05-19 18:13:14-07:00   0   0  0.000000  15  78.800000  79.000000
2018-05-19 18:14:14-07:00   0   0  0.363636   1  74.172727  74.172727
2018-05-19 18:15:14-07:00   0   0  0.000000  15  78.700000  78.800000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 18:10:14-07:00  79.079444  79.000000  79.300000  84.732793
2018-05-19 18:13:14-07:00  78.885253  78.800000  79.000000  84.532996
2018-05-19 18:14:14-07:00  74.172727  74.172727  74.172727  84.999189
2018-05-19 18:15:14-07:00  78.762222  78.700000  78.800000  84.399797

                              t_std
time
2018-05-19 18:10:14-07:00  0.079049
2018-05-19 18:13:14-07:00  0.064935
2018-05-19 18:14:14-07:00  0.000000
2018-05-19 18:15:14-07:00  0.046930
========
Action is by itself with action 0.181818 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 18:45:14-07:00   0   0  0.000000  15  78.900000  79.025000
2018-05-19 18:45:14-07:00   0   0  0.000000  15  78.600000  78.700000
2018-05-19 18:46:14-07:00   0   0  0.181818   1  74.127273  74.127273
2018-05-19 18:47:14-07:00   0   0  0.000000  11  73.916667  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 18:45:14-07:00  78.978333  78.900000  79.025000  83.400162
2018-05-19 18:45:14-07:00  78.632889  78.600000  78.600000  83.400162
2018-05-19 18:46:14-07:00  74.127273  74.127273  74.127273  82.500101
2018-05-19 18:47:14-07:00  73.908333  73.700000  74.000000  83.454711

                              t_std
time
2018-05-19 18:45:14-07:00  0.041700
2018-05-19 18:45:14-07:00  0.043578
2018-05-19 18:46:14-07:00  0.000000
2018-05-19 18:47:14-07:00  0.090523
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-19 18:55:14-07:00   0   0  0.000000  15  79.6   79.7  79.627778
2018-05-19 18:55:14-07:00   0   0  0.000000   2  74.3   74.3  74.300000
2018-05-19 18:57:14-07:00   0   0  0.666667   1  74.4   74.4  74.400000
2018-05-19 18:58:14-07:00   0   0  0.000000  15  79.3   79.4  79.348333

                           t_min  t_next      t_out     t_std
time
2018-05-19 18:55:14-07:00   79.6    79.7  84.000203  0.043744
2018-05-19 18:55:14-07:00   74.3    74.3  84.000203  0.000000
2018-05-19 18:57:14-07:00   74.4    74.4  84.000203  0.000000
2018-05-19 18:58:14-07:00   79.3    79.4  84.000203  0.048705
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 19:00:14-07:00   0   0  0.000000  15  78.600000  78.700000
2018-05-19 19:04:14-07:00   0   0  0.000000  15  74.100000  74.109091
2018-05-19 19:07:14-07:00   0   0  0.363636   1  74.327273  74.327273
2018-05-19 19:08:14-07:00   0   0  0.000000  12  73.945455  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 19:00:14-07:00  78.681667  78.600000  78.700000  84.000203
2018-05-19 19:04:14-07:00  73.881162  73.700000  74.109091  84.000203
2018-05-19 19:07:14-07:00  74.327273  74.327273  74.327273  84.000203
2018-05-19 19:08:14-07:00  73.898232  73.700000  74.100000  84.000203

                              t_std
time
2018-05-19 19:00:14-07:00  0.037044
2018-05-19 19:04:14-07:00  0.149968
2018-05-19 19:07:14-07:00  0.000000
2018-05-19 19:08:14-07:00  0.169374
========
Action is by itself with action 1.500000 for data:
                           a1  a2  action  dt    t_in   t_max     t_mean  \
time
2018-05-19 19:24:14-07:00   0   1     2.0   4  74.600  74.600  74.563636
2018-05-19 19:25:14-07:00   0   0     0.0  15  79.700  79.800  79.756869
2018-05-19 19:27:14-07:00   0   0     1.5   1  74.325  74.325  74.325000
2018-05-19 19:28:14-07:00   0   0     0.0  15  74.050  74.100  73.841111

                            t_min  t_next      t_out     t_std
time
2018-05-19 19:24:14-07:00  74.500  74.500  80.999617  0.041161
2018-05-19 19:25:14-07:00  79.700  79.800  80.601001  0.044539
2018-05-19 19:27:14-07:00  74.325  74.325  80.999617  0.000000
2018-05-19 19:28:14-07:00  73.500  74.100  80.302039  0.236398
========
Action is by itself with action 1.500000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-19 19:28:14-07:00   0   0     0.0  15  74.050000  74.100000
2018-05-19 19:28:14-07:00   0   0     0.0  15  79.500000  79.500000
2018-05-19 19:28:14-07:00   0   0     1.5   1  74.400000  74.400000
2018-05-19 19:29:14-07:00   0   0     0.0  15  74.081818  74.081818

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-19 19:28:14-07:00  73.841111   73.5    74.1  80.302039  0.236398
2018-05-19 19:28:14-07:00  79.500000   79.5    79.5  80.302039  0.000000
2018-05-19 19:28:14-07:00  74.400000   74.4    74.4  80.999617  0.000000
2018-05-19 19:29:14-07:00  73.854848   73.7    74.0  80.202386  0.140252
========
Action is by itself with action 1.833333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 19:30:14-07:00   0   0  0.000000  15  78.700000  78.900000
2018-05-19 19:40:14-07:00   0   0  0.000000  15  79.800000  79.900000
2018-05-19 19:43:14-07:00   0   0  1.833333   1  74.591667  74.591667
2018-05-19 19:43:14-07:00   0   0  0.000000  15  79.500000  79.600000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 19:30:14-07:00  78.806667  78.700000  78.900000  80.102732
2018-05-19 19:40:14-07:00  79.850000  79.800000  79.900000  79.903424
2018-05-19 19:43:14-07:00  74.591667  74.591667  74.591667  79.504808
2018-05-19 19:43:14-07:00  79.584444  79.500000  79.600000  80.202386

                              t_std
time
2018-05-19 19:30:14-07:00  0.060185
2018-05-19 19:40:14-07:00  0.048305
2018-05-19 19:43:14-07:00  0.000000
2018-05-19 19:43:14-07:00  0.034138
========
Action is by itself with action 1.818182 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 20:09:14-07:00   0   0  0.000000   5  74.300000  74.372727
2018-05-19 20:10:14-07:00   0   0  0.000000  15  80.000000  80.000000
2018-05-19 20:13:14-07:00   0   0  1.818182   1  74.472727  74.472727
2018-05-19 20:13:14-07:00   0   0  0.000000  15  79.700000  79.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 20:09:14-07:00  74.314545  74.300000  74.372727  78.000789
2018-05-19 20:10:14-07:00  80.000000  80.000000  80.000000  78.000789
2018-05-19 20:13:14-07:00  74.472727  74.472727  74.472727  78.000789
2018-05-19 20:13:14-07:00  79.700000  79.700000  79.700000  78.000789

                                  t_std
time
2018-05-19 20:09:14-07:00  2.909091e-02
2018-05-19 20:10:14-07:00  0.000000e+00
2018-05-19 20:13:14-07:00  0.000000e+00
2018-05-19 20:13:14-07:00  1.421085e-14
========
Action is by itself with action 1.454545 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 20:13:14-07:00   0   0  1.818182   1  74.472727  74.472727
2018-05-19 20:13:14-07:00   0   0  0.000000  15  79.700000  79.700000
2018-05-19 20:14:14-07:00   0   0  1.454545   1  74.500000  74.500000
2018-05-19 20:14:14-07:00   0   0  0.000000  15  74.183333  74.183333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 20:13:14-07:00  74.472727  74.472727  74.472727  78.000789
2018-05-19 20:13:14-07:00  79.700000  79.700000  79.700000  78.000789
2018-05-19 20:14:14-07:00  74.500000  74.500000  74.500000  78.000789
2018-05-19 20:14:14-07:00  73.780556  73.600000  74.000000  78.000789

                                  t_std
time
2018-05-19 20:13:14-07:00  0.000000e+00
2018-05-19 20:13:14-07:00  1.421085e-14
2018-05-19 20:14:14-07:00  0.000000e+00
2018-05-19 20:14:14-07:00  1.811912e-01
========
Action is by itself with action 1.600000 for data:
                           a1  a2  action  dt   t_in      t_max     t_mean  \
time
2018-05-19 20:35:14-07:00   0   0     0.0   6  74.10  74.336364  74.206061
2018-05-19 20:40:14-07:00   0   0     0.0  15  80.00  80.200000  80.138182
2018-05-19 20:40:14-07:00   0   0     1.6   1  74.42  74.420000  74.420000
2018-05-19 20:41:14-07:00   0   0     0.0  15  74.00  74.000000  73.664667

                           t_min     t_next      t_out     t_std
time
2018-05-19 20:35:14-07:00  74.10  74.336364  76.329627  0.068769
2018-05-19 20:40:14-07:00  80.00  80.200000  76.530166  0.089023
2018-05-19 20:40:14-07:00  74.42  74.420000  75.995394  0.000000
2018-05-19 20:41:14-07:00  73.40  73.800000  76.663859  0.210740
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 20:45:14-07:00   0   0  0.000000  15  79.400000  79.500000
2018-05-19 20:45:14-07:00   0   0  0.000000  15  79.600000  79.600000
2018-05-19 20:47:14-07:00   0   0  0.363636   1  74.136364  74.136364
2018-05-19 20:48:14-07:00   0   0  0.000000  15  73.950000  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-19 20:45:14-07:00  79.470556  79.400000  79.500000  77.198631
2018-05-19 20:45:14-07:00  79.600000  79.600000  79.600000  77.198631
2018-05-19 20:47:14-07:00  74.136364  74.136364  74.136364  75.995394
2018-05-19 20:48:14-07:00  73.748788  73.500000  74.000000  77.599710

                                  t_std
time
2018-05-19 20:45:14-07:00  4.376565e-02
2018-05-19 20:45:14-07:00  1.421085e-14
2018-05-19 20:47:14-07:00  0.000000e+00
2018-05-19 20:48:14-07:00  1.927220e-01
========
Action is by itself with action 1.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 21:15:14-07:00   0   0  0.000000  15  79.600000  79.600000
2018-05-19 21:15:14-07:00   0   0  0.000000  15  79.472727  79.500000
2018-05-19 21:19:14-07:00   0   0  1.166667   1  74.375000  74.375000
2018-05-19 21:20:14-07:00   0   0  0.000000  15  74.116667  74.116667

                              t_mean   t_min  t_next      t_out     t_std
time
2018-05-19 21:15:14-07:00  79.550707  79.500  79.500  73.999403  0.045508
2018-05-19 21:15:14-07:00  79.437374  79.400  79.400  73.999403  0.043531
2018-05-19 21:19:14-07:00  74.375000  74.375  74.375  73.999403  0.000000
2018-05-19 21:20:14-07:00  73.760404  73.600  74.000  73.999403  0.159021
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-19 21:58:14-07:00   0   0  0.000000  14  73.854545  74.40  74.156277
2018-05-19 21:58:14-07:00   0   0  0.000000  15  79.600000  79.60  79.600000
2018-05-19 22:00:14-07:00   0   0  1.666667   1  74.450000  74.45  74.450000
2018-05-19 22:00:14-07:00   0   0  0.000000  15  79.400000  79.50  79.433838

                               t_min  t_next      t_out         t_std
time
2018-05-19 21:58:14-07:00  73.854545   74.40  72.714215  1.679280e-01
2018-05-19 21:58:14-07:00  79.600000   79.60  72.599976  1.421085e-14
2018-05-19 22:00:14-07:00  74.450000   74.45  73.999403  0.000000e+00
2018-05-19 22:00:14-07:00  79.400000   79.40  72.200139  4.572869e-02
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-19 22:15:14-07:00   0   0  0.000000  15  79.400000  79.400000
2018-05-19 22:16:14-07:00   0   0  0.000000  15  73.800000  74.200000
2018-05-19 22:17:14-07:00   0   0  0.166667   1  74.141667  74.141667
2018-05-19 22:18:14-07:00   0   0  0.000000  15  73.800000  73.800000

                              t_mean      t_min     t_next     t_out  \
time
2018-05-19 22:15:14-07:00  79.400000  79.400000  79.400000  71.00063
2018-05-19 22:16:14-07:00  74.078889  73.800000  74.200000  71.00063
2018-05-19 22:17:14-07:00  74.141667  74.141667  74.141667  71.00063
2018-05-19 22:18:14-07:00  73.517929  73.400000  73.500000  71.00063

                                  t_std
time
2018-05-19 22:15:14-07:00  1.421085e-14
2018-05-19 22:16:14-07:00  1.059729e-01
2018-05-19 22:17:14-07:00  0.000000e+00
2018-05-19 22:18:14-07:00  1.062465e-01
========
Action is by itself with action 0.545455 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 13:45:14-07:00   0   0  0.000000  15  75.100000  75.100000
2018-05-20 13:45:14-07:00   0   0  0.000000  15  74.200000  74.300000
2018-05-20 13:52:14-07:00   0   0  0.545455   1  74.527273  74.527273
2018-05-20 13:53:14-07:00   0   0  0.000000  15  73.354545  73.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 13:45:14-07:00  75.065758  75.000000  75.100000  73.198333
2018-05-20 13:45:14-07:00  74.224848  74.200000  74.300000  73.198333
2018-05-20 13:52:14-07:00  74.527273  74.527273  74.527273  73.000416
2018-05-20 13:53:14-07:00  73.517525  73.354545  73.700000  73.133615

                              t_std
time
2018-05-20 13:45:14-07:00  0.043940
2018-05-20 13:45:14-07:00  0.041655
2018-05-20 13:52:14-07:00  0.000000
2018-05-20 13:53:14-07:00  0.121322
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 13:53:14-07:00   0   1  2.000000   4  74.600000  74.600000
2018-05-20 13:55:14-07:00   0   0  0.000000  15  75.266667  75.500000
2018-05-20 13:57:14-07:00   0   0  1.666667   1  74.433333  74.433333
2018-05-20 13:58:14-07:00   0   0  0.000000  15  75.100000  75.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 13:53:14-07:00  74.562500  74.500000  74.500000  73.000416
2018-05-20 13:55:14-07:00  75.387778  75.266667  75.500000  73.266813
2018-05-20 13:57:14-07:00  74.433333  74.433333  74.433333  73.000416
2018-05-20 13:58:14-07:00  75.174444  75.100000  75.200000  73.466610

                              t_std
time
2018-05-20 13:53:14-07:00  0.041458
2018-05-20 13:55:14-07:00  0.083103
2018-05-20 13:57:14-07:00  0.000000
2018-05-20 13:58:14-07:00  0.042543
========
Action is by itself with action 0.833333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 14:45:14-07:00   0   0  0.000000  15  75.300000  75.800000
2018-05-20 14:45:14-07:00   0   0  0.000000  15  75.800000  76.000000
2018-05-20 14:46:14-07:00   0   0  0.833333   1  74.183333  74.183333
2018-05-20 14:47:14-07:00   0   0  0.000000  15  74.018182  74.018182

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 14:45:14-07:00  75.482222  75.300000  75.800000  74.599522
2018-05-20 14:45:14-07:00  75.881778  75.800000  76.000000  74.599522
2018-05-20 14:46:14-07:00  74.183333  74.183333  74.183333  75.499702
2018-05-20 14:47:14-07:00  73.723838  73.500000  73.781818  74.399483

                              t_std
time
2018-05-20 14:45:14-07:00  0.151928
2018-05-20 14:45:14-07:00  0.077916
2018-05-20 14:46:14-07:00  0.000000
2018-05-20 14:47:14-07:00  0.172328
========
Action is by itself with action 0.909091 for data:
                           a1  a2    action  dt  t_in      t_max     t_mean  \
time
2018-05-20 15:00:14-07:00   0   0  0.000000  15  75.8  75.800000  75.758182
2018-05-20 15:00:14-07:00   0   0  0.000000  15  76.0  76.100000  76.081818
2018-05-20 15:02:14-07:00   0   0  0.909091   1  74.5  74.500000  74.500000
2018-05-20 15:02:14-07:00   0   0  0.000000  15  74.0  74.366667  74.176111

                           t_min     t_next      t_out     t_std
time
2018-05-20 15:00:14-07:00   75.7  75.700000  75.799755  0.047967
2018-05-20 15:00:14-07:00   76.0  76.100000  75.799755  0.036815
2018-05-20 15:02:14-07:00   74.5  74.500000  73.999403  0.000000
2018-05-20 15:02:14-07:00   74.0  74.366667  76.199833  0.127107
========
Action is by itself with action 0.333333 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 15:24:14-07:00   0   0  0.000000   5  74.000000  74.400000
2018-05-20 15:25:14-07:00   0   0  0.000000  15  76.400000  76.600000
2018-05-20 15:27:14-07:00   0   0  0.333333   1  74.166667  74.166667
2018-05-20 15:28:14-07:00   0   0  0.000000  15  76.300000  76.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 15:24:14-07:00  74.189091  74.000000  74.400000  76.999989
2018-05-20 15:25:14-07:00  76.486667  76.400000  76.600000  76.999990
2018-05-20 15:27:14-07:00  74.166667  74.166667  74.166667  76.999989
2018-05-20 15:28:14-07:00  76.389444  76.300000  76.400000  76.999992

                              t_std
time
2018-05-20 15:24:14-07:00  0.180211
2018-05-20 15:25:14-07:00  0.095685
2018-05-20 15:27:14-07:00  0.000000
2018-05-20 15:28:14-07:00  0.027966
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 15:30:14-07:00   0   0  0.000000  15  76.200000  76.300000
2018-05-20 15:30:14-07:00   0   0  0.000000  15  75.700000  75.700000
2018-05-20 15:36:14-07:00   0   0  0.333333   1  74.183333  74.183333
2018-05-20 15:37:14-07:00   0   0  0.000000  15  73.966667  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 15:30:14-07:00  76.237980  76.200000  76.300000  76.999992
2018-05-20 15:30:14-07:00  75.700000  75.700000  75.700000  76.999992
2018-05-20 15:36:14-07:00  74.183333  74.183333  74.183333  76.999995
2018-05-20 15:37:14-07:00  73.805051  73.500000  74.100000  76.999994

                                  t_std
time
2018-05-20 15:30:14-07:00  4.407838e-02
2018-05-20 15:30:14-07:00  1.421085e-14
2018-05-20 15:36:14-07:00  0.000000e+00
2018-05-20 15:37:14-07:00  2.114294e-01
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 15:57:14-07:00   0   1  2.000000   5  74.500000  74.600000
2018-05-20 15:58:14-07:00   0   0  0.000000  15  76.700000  76.800000
2018-05-20 15:59:14-07:00   0   0  0.727273   1  74.309091  74.309091
2018-05-20 16:00:14-07:00   0   0  0.000000  15  75.700000  76.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 15:57:14-07:00  74.545455  74.500000  74.600000  76.999989
2018-05-20 15:58:14-07:00  76.735556  76.700000  76.800000  76.999989
2018-05-20 15:59:14-07:00  74.309091  74.309091  74.309091  76.999989
2018-05-20 16:00:14-07:00  75.805909  75.700000  76.000000  76.999989

                              t_std
time
2018-05-20 15:57:14-07:00  0.045636
2018-05-20 15:58:14-07:00  0.046295
2018-05-20 15:59:14-07:00  0.000000
2018-05-20 16:00:14-07:00  0.104703
========
Action is by itself with action 1.400000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-20 16:00:14-07:00   0   0     0.0  15  74.058333  74.058333
2018-05-20 16:00:14-07:00   0   0     0.0  15  76.400000  76.700000
2018-05-20 16:02:14-07:00   0   0     1.4   1  74.480000  74.480000
2018-05-20 16:03:14-07:00   0   0     0.0  15  74.125000  74.125000

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-20 16:00:14-07:00  73.827222  73.60   74.00  76.999989  0.158336
2018-05-20 16:00:14-07:00  76.545556  76.40   76.70  76.999989  0.099716
2018-05-20 16:02:14-07:00  74.480000  74.48   74.48  76.999989  0.000000
2018-05-20 16:03:14-07:00  73.770354  73.60   74.00  76.999989  0.172099
========
Action is by itself with action 1.636364 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 16:24:14-07:00   0   1  2.000000   5  74.600000  74.600000
2018-05-20 16:25:14-07:00   0   0  0.000000  15  76.900000  77.000000
2018-05-20 16:28:14-07:00   0   0  1.636364   1  74.509091  74.509091
2018-05-20 16:28:14-07:00   0   0  0.000000  15  76.900000  77.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 16:24:14-07:00  74.546667  74.400000  74.400000  76.999989
2018-05-20 16:25:14-07:00  76.970000  76.900000  77.000000  76.865324
2018-05-20 16:28:14-07:00  74.509091  74.509091  74.509091  76.999989
2018-05-20 16:28:14-07:00  76.963333  76.900000  77.000000  76.764325

                              t_std
time
2018-05-20 16:24:14-07:00  0.077746
2018-05-20 16:25:14-07:00  0.043970
2018-05-20 16:28:14-07:00  0.000000
2018-05-20 16:28:14-07:00  0.042720
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 16:28:14-07:00   0   0  1.636364   1  74.509091  74.509091
2018-05-20 16:28:14-07:00   0   0  0.000000  15  76.900000  77.000000
2018-05-20 16:29:14-07:00   0   0  0.333333   1  74.233333  74.233333
2018-05-20 16:29:14-07:00   0   0  0.000000  15  74.066667  74.066667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 16:28:14-07:00  74.509091  74.509091  74.509091  76.999989
2018-05-20 16:28:14-07:00  76.963333  76.900000  77.000000  76.764325
2018-05-20 16:29:14-07:00  74.233333  74.233333  74.233333  76.999989
2018-05-20 16:29:14-07:00  73.825657  73.600000  74.000000  76.730659

                              t_std
time
2018-05-20 16:28:14-07:00  0.000000
2018-05-20 16:28:14-07:00  0.042720
2018-05-20 16:29:14-07:00  0.000000
2018-05-20 16:29:14-07:00  0.164609
========
Action is by itself with action 0.909091 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 16:48:14-07:00   0   1  2.000000   6  74.600000  74.600000
2018-05-20 16:54:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-20 16:54:14-07:00   0   0  0.909091   1  74.545455  74.545455
2018-05-20 16:55:14-07:00   0   0  0.000000  15  77.100000  77.218182

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 16:48:14-07:00  74.558333  74.500000  74.500000  76.747492
2018-05-20 16:54:14-07:00  73.780000  73.600000  74.000000  76.799829
2018-05-20 16:54:14-07:00  74.545455  74.545455  74.545455  76.999989
2018-05-20 16:55:14-07:00  77.156212  77.100000  77.218182  76.733109

                              t_std
time
2018-05-20 16:48:14-07:00  0.044876
2018-05-20 16:54:14-07:00  0.182392
2018-05-20 16:54:14-07:00  0.000000
2018-05-20 16:55:14-07:00  0.049796
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 16:58:14-07:00   0   0  0.000000  15  77.100000  77.200000
2018-05-20 17:00:14-07:00   0   0  0.000000  15  76.900000  77.000000
2018-05-20 17:00:14-07:00   0   0  0.666667   1  74.233333  74.233333
2018-05-20 17:00:14-07:00   0   0  0.000000  15  76.200000  76.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 16:58:14-07:00  77.148889  77.100000  77.200000  76.532949
2018-05-20 17:00:14-07:00  76.954667  76.900000  77.000000  76.399509
2018-05-20 17:00:14-07:00  74.233333  74.233333  74.233333  76.999989
2018-05-20 17:00:14-07:00  76.297222  76.200000  76.400000  76.399509

                              t_std
time
2018-05-20 16:58:14-07:00  0.048483
2018-05-20 17:00:14-07:00  0.048699
2018-05-20 17:00:14-07:00  0.000000
2018-05-20 17:00:14-07:00  0.066644
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 17:09:14-07:00   0   0  0.000000   4  74.000000  74.300000
2018-05-20 17:10:14-07:00   0   0  0.000000  15  77.300000  77.500000
2018-05-20 17:13:14-07:00   0   0  1.333333   1  74.433333  74.433333
2018-05-20 17:13:14-07:00   0   0  0.000000  15  77.200000  77.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 17:09:14-07:00  74.175000  74.000000  74.300000  75.999189
2018-05-20 17:10:14-07:00  77.371515  77.300000  77.500000  75.999189
2018-05-20 17:13:14-07:00  74.433333  74.433333  74.433333  75.999189
2018-05-20 17:13:14-07:00  77.233333  77.200000  77.200000  75.999189

                              t_std
time
2018-05-20 17:09:14-07:00  0.129904
2018-05-20 17:10:14-07:00  0.092583
2018-05-20 17:13:14-07:00  0.000000
2018-05-20 17:13:14-07:00  0.043746
========
Action is by itself with action 1.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 17:16:14-07:00   0   0  0.000000   9  74.066667  74.409091
2018-05-20 17:20:14-07:00   0   0  0.000000  15  74.050000  74.050000
2018-05-20 17:25:14-07:00   0   0  1.166667   1  74.558333  74.558333
2018-05-20 17:25:14-07:00   0   0  0.000000  15  77.500000  77.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 17:16:14-07:00  74.260269  74.066667  74.409091  75.999189
2018-05-20 17:20:14-07:00  73.735556  73.400000  74.000000  75.999189
2018-05-20 17:25:14-07:00  74.558333  74.558333  74.558333  75.999189
2018-05-20 17:25:14-07:00  77.500000  77.500000  77.500000  75.865964

                              t_std
time
2018-05-20 17:16:14-07:00  0.112175
2018-05-20 17:20:14-07:00  0.240437
2018-05-20 17:25:14-07:00  0.000000
2018-05-20 17:25:14-07:00  0.000000
========
Action is by itself with action 1.666667 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 17:30:14-07:00   0   0  0.000000  15  76.600000  76.700000
2018-05-20 17:30:14-07:00   0   0  0.000000  15  77.100000  77.200000
2018-05-20 17:30:14-07:00   0   0  1.666667   1  74.450000  74.450000
2018-05-20 17:31:14-07:00   0   0  0.000000  15  74.181818  74.181818

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-20 17:30:14-07:00  76.616667  76.60   76.70  75.699433  0.034960
2018-05-20 17:30:14-07:00  77.129697  77.10   77.20  75.699433  0.043846
2018-05-20 17:30:14-07:00  74.450000  74.45   74.45  75.999189  0.000000
2018-05-20 17:31:14-07:00  73.768232  73.60   74.00  75.666126  0.170597
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 17:31:14-07:00   0   0  0.000000  15  74.181818  74.181818
2018-05-20 17:35:14-07:00   0   0  0.000000   5  74.000000  74.400000
2018-05-20 17:40:14-07:00   0   0  1.333333   1  74.550000  74.550000
2018-05-20 17:40:14-07:00   0   0  0.000000  15  77.500000  77.600000

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-20 17:31:14-07:00  73.768232  73.60   74.00  75.666126  0.170597
2018-05-20 17:35:14-07:00  74.189091  74.00   74.40  75.599514  0.180211
2018-05-20 17:40:14-07:00  74.550000  74.55   74.55  75.499595  0.000000
2018-05-20 17:40:14-07:00  77.583333  77.50   77.60  75.632820  0.034960
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 17:45:14-07:00   0   0  0.000000  15  76.700000  76.700000
2018-05-20 17:46:14-07:00   0   0  0.000000  12  74.000000  74.400000
2018-05-20 17:46:14-07:00   0   0  1.666667   1  74.433333  74.433333
2018-05-20 17:47:14-07:00   0   0  0.000000  15  74.081818  74.081818

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 17:45:14-07:00  76.665808  76.600000  76.683333  75.799352
2018-05-20 17:46:14-07:00  74.197727  74.000000  74.400000  75.791025
2018-05-20 17:46:14-07:00  74.433333  74.433333  74.433333  75.499595
2018-05-20 17:47:14-07:00  73.672727  73.500000  73.950000  75.865964

                              t_std
time
2018-05-20 17:45:14-07:00  0.042781
2018-05-20 17:46:14-07:00  0.148923
2018-05-20 17:46:14-07:00  0.000000
2018-05-20 17:47:14-07:00  0.185679
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 18:00:14-07:00   0   0  0.000000  15  77.200000  77.300000
2018-05-20 18:02:14-07:00   0   0  0.000000   7  74.100000  74.400000
2018-05-20 18:04:14-07:00   0   0  0.666667   1  74.233333  74.233333
2018-05-20 18:05:14-07:00   0   0  0.000000  15  73.966667  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 18:00:14-07:00  77.254545  77.200000  77.300000  75.399797
2018-05-20 18:02:14-07:00  74.197403  74.100000  74.400000  75.571052
2018-05-20 18:04:14-07:00  74.233333  74.233333  74.233333  75.999189
2018-05-20 18:05:14-07:00  73.706212  73.600000  74.000000  75.066802

                              t_std
time
2018-05-20 18:00:14-07:00  0.048787
2018-05-20 18:02:14-07:00  0.131085
2018-05-20 18:04:14-07:00  0.000000
2018-05-20 18:05:14-07:00  0.127689
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 18:04:14-07:00   0   0  0.666667   1  74.233333  74.233333
2018-05-20 18:05:14-07:00   0   0  0.000000  15  73.966667  74.000000
2018-05-20 18:09:14-07:00   0   0  1.666667   1  74.500000  74.500000
2018-05-20 18:10:14-07:00   0   0  0.000000  15  77.600000  77.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 18:04:14-07:00  74.233333  74.233333  74.233333  75.999189
2018-05-20 18:05:14-07:00  73.706212  73.600000  74.000000  75.066802
2018-05-20 18:09:14-07:00  74.500000  74.500000  74.500000  75.000203
2018-05-20 18:10:14-07:00  77.655556  77.600000  77.700000  75.000203

                              t_std
time
2018-05-20 18:04:14-07:00  0.000000
2018-05-20 18:05:14-07:00  0.127689
2018-05-20 18:09:14-07:00  0.000000
2018-05-20 18:10:14-07:00  0.048177
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 18:15:14-07:00   0   0  0.000000  15  76.600000  76.800000
2018-05-20 18:15:14-07:00   0   0  0.000000  15  77.300000  77.366667
2018-05-20 18:15:14-07:00   0   0  0.166667   1  74.233333  74.233333
2018-05-20 18:16:14-07:00   0   0  0.000000  15  73.833333  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 18:15:14-07:00  76.717778  76.600000  76.800000  75.000203
2018-05-20 18:15:14-07:00  77.304444  77.300000  77.366667  75.000203
2018-05-20 18:15:14-07:00  74.233333  74.233333  74.233333  75.000203
2018-05-20 18:16:14-07:00  73.637222  73.400000  74.000000  75.000203

                              t_std
time
2018-05-20 18:15:14-07:00  0.068709
2018-05-20 18:15:14-07:00  0.016630
2018-05-20 18:15:14-07:00  0.000000
2018-05-20 18:16:14-07:00  0.177113
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 18:45:14-07:00   0   0  0.000000  15  77.500000  77.500000
2018-05-20 18:45:14-07:00   0   0  0.000000  15  76.900000  76.900000
2018-05-20 18:45:14-07:00   0   0  0.333333   1  74.133333  74.133333
2018-05-20 18:46:14-07:00   0   0  0.000000  15  73.933333  73.933333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 18:45:14-07:00  77.500000  77.500000  77.500000  74.600162
2018-05-20 18:45:14-07:00  76.900000  76.900000  76.900000  74.600162
2018-05-20 18:45:14-07:00  74.133333  74.133333  74.133333  74.000101
2018-05-20 18:46:14-07:00  73.626111  73.500000  73.600000  74.666836

                                  t_std
time
2018-05-20 18:45:14-07:00  0.000000e+00
2018-05-20 18:45:14-07:00  1.421085e-14
2018-05-20 18:45:14-07:00  0.000000e+00
2018-05-20 18:46:14-07:00  1.533233e-01
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 19:17:14-07:00   0   0  1.333333   1  74.266667  74.266667
2018-05-20 19:18:14-07:00   0   0  0.000000  15  74.133333  74.133333
2018-05-20 19:21:14-07:00   0   0  0.333333   1  74.150000  74.150000
2018-05-20 19:22:14-07:00   0   0  0.000000  15  73.933333  73.936364

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 19:17:14-07:00  74.266667  74.266667  74.266667  73.000416
2018-05-20 19:18:14-07:00  73.612525  73.400000  73.600000  73.000416
2018-05-20 19:21:14-07:00  74.150000  74.150000  74.150000  73.000416
2018-05-20 19:22:14-07:00  73.672929  73.500000  73.936364  72.934069

                              t_std
time
2018-05-20 19:17:14-07:00  0.000000
2018-05-20 19:18:14-07:00  0.214078
2018-05-20 19:21:14-07:00  0.000000
2018-05-20 19:22:14-07:00  0.166406
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-20 20:43:14-07:00   0   0  0.000000  15  77.845455  77.845455
2018-05-20 20:45:14-07:00   0   0  0.000000  15  77.200000  77.200000
2018-05-20 20:45:14-07:00   0   0  0.333333   1  74.266667  74.266667
2018-05-20 20:45:14-07:00   0   0  0.000000  15  77.650000  77.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-20 20:43:14-07:00  77.803030  77.800000  77.800000  70.469795
2018-05-20 20:45:14-07:00  77.200000  77.200000  77.200000  70.602504
2018-05-20 20:45:14-07:00  74.266667  74.266667  74.266667  70.005315
2018-05-20 20:45:14-07:00  77.635808  77.600000  77.600000  70.602504

                                  t_std
time
2018-05-20 20:43:14-07:00  1.133836e-02
2018-05-20 20:45:14-07:00  1.421085e-14
2018-05-20 20:45:14-07:00  0.000000e+00
2018-05-20 20:45:14-07:00  4.248054e-02

========
Action is by itself with action 0.181818 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-21 05:30:14-07:00   0   1  2.000000   7  72.918182  72.918182
2018-05-21 05:31:14-07:00   0   0  0.000000  15  68.700000  68.700000
2018-05-21 05:37:14-07:00   0   0  0.181818   1  68.136364  68.136364
2018-05-21 05:38:14-07:00   0   0  0.000000  15  67.433333  67.433333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-21 05:30:14-07:00  71.566234  69.045455  69.045455  53.786073
2018-05-21 05:31:14-07:00  68.653939  68.500000  68.500000  53.003078
2018-05-21 05:37:14-07:00  68.136364  68.136364  68.136364  52.504808
2018-05-21 05:38:14-07:00  66.891556  66.800000  66.800000  52.704116

                              t_std
time
2018-05-21 05:30:14-07:00  1.495485
2018-05-21 05:31:14-07:00  0.080183
2018-05-21 05:37:14-07:00  0.000000
2018-05-21 05:38:14-07:00  0.164717
========
Action is by itself with action 1.454545 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-21 05:46:14-07:00   0   0  0.000000  15  68.100000  68.100000
2018-05-21 05:46:14-07:00   0   0  0.000000  15  68.500000  68.500000
2018-05-21 05:47:14-07:00   0   0  1.454545   1  68.636364  68.636364
2018-05-21 05:48:14-07:00   0   0  0.000000  15  68.133333  68.133333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-21 05:46:14-07:00  67.765051  67.600000  68.000000  53.501347
2018-05-21 05:46:14-07:00  68.296667  68.200000  68.200000  53.501347
2018-05-21 05:47:14-07:00  68.636364  68.636364  68.636364  52.504808
2018-05-21 05:48:14-07:00  67.872222  67.700000  68.000000  53.700655

                              t_std
time
2018-05-21 05:46:14-07:00  0.161997
2018-05-21 05:46:14-07:00  0.074087
2018-05-21 05:47:14-07:00  0.000000
2018-05-21 05:48:14-07:00  0.130521
========
Action is by itself with action 0.833333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-21 05:47:14-07:00   0   0  1.454545   1  68.636364  68.636364
2018-05-21 05:48:14-07:00   0   0  0.000000  15  68.133333  68.133333
2018-05-21 05:49:14-07:00   0   0  0.833333   1  68.391667  68.391667
2018-05-21 05:50:14-07:00   0   0  0.000000  10  68.033333  68.033333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-21 05:47:14-07:00  68.636364  68.636364  68.636364  52.504808
2018-05-21 05:48:14-07:00  67.872222  67.700000  68.000000  53.700655
2018-05-21 05:49:14-07:00  68.391667  68.391667  68.391667  52.504808
2018-05-21 05:50:14-07:00  67.902424  67.800000  68.000000  53.850136

                              t_std
time
2018-05-21 05:47:14-07:00  0.000000
2018-05-21 05:48:14-07:00  0.130521
2018-05-21 05:49:14-07:00  0.000000
2018-05-21 05:50:14-07:00  0.093703
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-21 05:53:14-07:00   0   0  0.000000  15  66.8   67.3  66.826667
2018-05-21 05:54:14-07:00   0   0  0.000000  15  70.9   70.9  70.657222
2018-05-21 06:00:14-07:00   0   0  0.333333   1  68.2   68.2  68.200000
2018-05-21 06:01:14-07:00   0   0  0.000000  14  68.0   68.5  68.404762

                           t_min  t_next      t_out     t_std
time
2018-05-21 05:53:14-07:00   66.4  67.300  53.999617  0.345255
2018-05-21 05:54:14-07:00   70.5  70.625  53.999617  0.156195
2018-05-21 06:00:14-07:00   68.2  68.200  53.999617  0.000000
2018-05-21 06:01:14-07:00   68.0  68.500  53.999617  0.185958
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-21 06:16:14-07:00   0   0  0.000000  15  68.000000   68.0  67.950909
2018-05-21 06:18:14-07:00   0   0  0.000000  15  68.100000   68.1  67.562778
2018-05-21 06:21:14-07:00   0   0  0.666667   1  68.200000   68.2  68.200000
2018-05-21 06:22:14-07:00   0   0  0.000000  15  68.066667   68.2  68.004444

                           t_min  t_next      t_out     t_std
time
2018-05-21 06:16:14-07:00   67.9    67.9  52.000398  0.048424
2018-05-21 06:18:14-07:00   67.2    67.2  51.600554  0.340219
2018-05-21 06:21:14-07:00   68.2    68.2  51.000789  0.000000
2018-05-21 06:22:14-07:00   67.9    68.2  51.034096  0.096363
========
Action is by itself with action 1.636364 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-21 06:31:14-07:00   0   0  0.000000  15  67.9   67.9  67.761111
2018-05-21 06:33:14-07:00   0   0  0.000000  15  67.2   67.6  67.473333
2018-05-21 06:36:14-07:00   0   0  1.636364   1  68.5   68.5  68.500000
2018-05-21 06:37:14-07:00   0   0  0.000000  15  68.2   68.3  68.251111

                           t_min  t_next      t_out     t_std
time
2018-05-21 06:31:14-07:00   67.7    67.7  51.333859  0.065452
2018-05-21 06:33:14-07:00   67.2    67.4  51.400473  0.123648
2018-05-21 06:36:14-07:00   68.5    68.5  51.500394  0.000000
2018-05-21 06:37:14-07:00   68.2    68.3  51.467087  0.045189
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-21 06:38:14-07:00   0   0  0.000000  15  67.800000   67.8  67.704646
2018-05-21 06:39:14-07:00   0   0  0.000000  15  69.945455   70.3  70.065455
2018-05-21 06:41:14-07:00   0   0  1.666667   1  68.200000   68.2  68.200000
2018-05-21 06:42:14-07:00   0   0  0.000000  15  68.183333   68.2  68.084242

                           t_min  t_next      t_out     t_std
time
2018-05-21 06:38:14-07:00   67.6    67.6  51.433780  0.079514
2018-05-21 06:39:14-07:00   69.9    69.9  51.400473  0.156483
2018-05-21 06:41:14-07:00   68.2    68.2  51.500394  0.000000
2018-05-21 06:42:14-07:00   68.0    68.2  51.300552  0.064024
========
Action is by itself with action 1.272727 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-21 07:01:14-07:00   0   0  0.000000  15  67.400000  67.400000
2018-05-21 07:03:14-07:00   0   0  0.000000  13  68.000000  68.500000
2018-05-21 07:05:14-07:00   0   0  1.272727   1  68.354545  68.354545
2018-05-21 07:06:14-07:00   0   0  0.000000  12  68.066667  68.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-21 07:01:14-07:00  67.318333  67.300000  67.300000  51.666780
2018-05-21 07:03:14-07:00  68.296037  68.000000  68.500000  51.769240
2018-05-21 07:05:14-07:00  68.354545  68.354545  68.354545  51.000789
2018-05-21 07:06:14-07:00  68.050253  67.900000  68.300000  51.999775

                              t_std
time
2018-05-21 07:01:14-07:00  0.037044
2018-05-21 07:03:14-07:00  0.130633
2018-05-21 07:05:14-07:00  0.000000
2018-05-21 07:06:14-07:00  0.125263
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-21 07:42:14-07:00   0   0  0.000000  15  68.000000  68.300000
2018-05-21 07:46:14-07:00   0   0  0.000000  15  67.000000  67.000000
2018-05-21 07:47:14-07:00   0   0  0.333333   1  68.166667  68.166667
2018-05-21 07:48:14-07:00   0   0  0.000000  15  68.020000  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-21 07:42:14-07:00  68.073758  67.900000  68.000000  53.499843
2018-05-21 07:46:14-07:00  67.000000  67.000000  67.000000  52.833146
2018-05-21 07:47:14-07:00  68.166667  68.166667  68.166667  54.499888
2018-05-21 07:48:14-07:00  68.038556  67.900000  68.200000  52.499798

                              t_std
time
2018-05-21 07:42:14-07:00  0.155283
2018-05-21 07:46:14-07:00  0.000000
2018-05-21 07:47:14-07:00  0.000000
2018-05-21 07:48:14-07:00  0.114051

========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-21 16:42:14-07:00   0   0  0.000000  15  73.200000  73.400000
2018-05-21 16:46:14-07:00   0   0  0.000000   2  74.441667  74.500000
2018-05-21 16:48:14-07:00   0   0  0.363636   1  74.536364  74.536364
2018-05-21 16:48:14-07:00   0   0  0.000000  15  73.300000  73.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-21 16:42:14-07:00  73.307273  73.200000  73.400000  75.999189
2018-05-21 16:46:14-07:00  74.470833  74.441667  74.500000  75.999189
2018-05-21 16:48:14-07:00  74.536364  74.536364  74.536364  75.999189
2018-05-21 16:48:14-07:00  73.399242  73.300000  73.500000  75.999189

                              t_std
time
2018-05-21 16:42:14-07:00  0.070355
2018-05-21 16:46:14-07:00  0.029167
2018-05-21 16:48:14-07:00  0.000000
2018-05-21 16:48:14-07:00  0.064259
========
Action is by itself with action 0.400000 for data:
                           a1  a2  action  dt   t_in   t_max     t_mean  \
time
2018-05-21 16:53:14-07:00   0   0     0.0  15  73.60  73.925  73.776111
2018-05-21 16:54:14-07:00   0   0     0.0  15  74.10  74.300  74.225152
2018-05-21 16:56:14-07:00   0   0     0.4   1  74.26  74.260  74.260000
2018-05-21 16:57:14-07:00   0   0     0.0  15  73.40  73.600  73.510303

                           t_min  t_next      t_out     t_std
time
2018-05-21 16:53:14-07:00  73.60  73.925  75.999189  0.108733
2018-05-21 16:54:14-07:00  74.10  74.300  75.999189  0.059864
2018-05-21 16:56:14-07:00  74.26  74.260  75.999189  0.000000
2018-05-21 16:57:14-07:00  73.40  73.600  75.999189  0.075029
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-21 17:38:14-07:00   0   0  0.000000  15  74.300000  74.500000
2018-05-21 17:41:14-07:00   0   0  0.000000   3  74.000000  74.400000
2018-05-21 17:41:14-07:00   0   0  0.333333   1  74.116667  74.116667
2018-05-21 17:42:14-07:00   0   0  0.000000  15  73.975000  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-21 17:38:14-07:00  74.427879  74.300000  74.500000  76.999989
2018-05-21 17:41:14-07:00  74.193939  74.000000  74.400000  76.999989
2018-05-21 17:41:14-07:00  74.116667  74.116667  74.116667  76.999989
2018-05-21 17:42:14-07:00  73.772626  73.600000  74.000000  76.999989

                              t_std
time
2018-05-21 17:38:14-07:00  0.060254
2018-05-21 17:41:14-07:00  0.163524
2018-05-21 17:41:14-07:00  0.000000
2018-05-21 17:42:14-07:00  0.142796
========
Action is by itself with action 1.818182 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-21 17:45:14-07:00   0   1  2.000000   6  74.600000  74.800000
2018-05-21 17:48:14-07:00   0   0  0.000000  15  74.200000  74.300000
2018-05-21 17:51:14-07:00   0   0  1.818182   1  74.736364  74.736364
2018-05-21 17:52:14-07:00   0   0  0.000000  15  74.100000  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-21 17:45:14-07:00  74.715152  74.600000  74.800000  76.999989
2018-05-21 17:48:14-07:00  74.257576  74.200000  74.300000  76.999989
2018-05-21 17:51:14-07:00  74.736364  74.736364  74.736364  76.999989
2018-05-21 17:52:14-07:00  73.759848  73.600000  74.000000  76.933269

                              t_std
time
2018-05-21 17:45:14-07:00  0.090097
2018-05-21 17:48:14-07:00  0.047837
2018-05-21 17:51:14-07:00  0.000000
2018-05-21 17:52:14-07:00  0.168792
========
Action is by itself with action 1.272727 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-21 18:12:14-07:00   0   0  0.000000  15  74.400000  74.600000
2018-05-21 18:12:14-07:00   0   0  0.000000   9  74.400000  74.500000
2018-05-21 18:17:14-07:00   0   0  1.272727   1  74.545455  74.545455
2018-05-21 18:18:14-07:00   0   0  0.000000  15  74.066667  74.166667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-21 18:12:14-07:00  74.524242  74.400000  74.600000  75.999189
2018-05-21 18:12:14-07:00  74.457576  74.400000  74.500000  75.999189
2018-05-21 18:17:14-07:00  74.545455  74.545455  74.545455  75.999189
2018-05-21 18:18:14-07:00  73.903182  73.700000  74.166667  75.999189

                              t_std
time
2018-05-21 18:12:14-07:00  0.062073
2018-05-21 18:12:14-07:00  0.047721
2018-05-21 18:17:14-07:00  0.000000
2018-05-21 18:18:14-07:00  0.147574
========
Action is by itself with action 0.500000 for data:
                           a1  a2  action  dt       t_in   t_max     t_mean  \
time
2018-05-21 18:22:14-07:00   0   0     0.0   7  74.033333  74.200  74.109957
2018-05-21 18:23:14-07:00   0   0     0.0   6  75.000000  75.100  75.056061
2018-05-21 18:26:14-07:00   0   0     0.5   1  74.225000  74.225  74.225000
2018-05-21 18:27:14-07:00   0   0     0.0  15  73.990909  74.200  74.007727

                               t_min  t_next      t_out     t_std
time
2018-05-21 18:22:14-07:00  74.033333  74.200  75.999189  0.046403
2018-05-21 18:23:14-07:00  75.000000  75.100  75.999189  0.045581
2018-05-21 18:26:14-07:00  74.225000  74.225  75.999189  0.000000
2018-05-21 18:27:14-07:00  73.900000  74.200  75.999189  0.109403
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-21 19:27:14-07:00   0   0  0.000000  15  74.300000  74.300000
2018-05-21 19:27:14-07:00   0   0  0.000000   8  68.109091  68.200000
2018-05-21 19:29:14-07:00   0   0  0.666667   1  74.233333  74.233333
2018-05-21 19:30:14-07:00   0   0  0.000000  15  73.966667  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-21 19:27:14-07:00  74.300000  74.300000  74.300000  75.999189
2018-05-21 19:27:14-07:00  68.144318  68.100000  68.200000  75.999189
2018-05-21 19:29:14-07:00  74.233333  74.233333  74.233333  75.999189
2018-05-21 19:30:14-07:00  73.685556  73.500000  74.000000  75.999189

                                  t_std
time
2018-05-21 19:27:14-07:00  1.421085e-14
2018-05-21 19:27:14-07:00  4.532652e-02
2018-05-21 19:29:14-07:00  0.000000e+00
2018-05-21 19:30:14-07:00  1.923410e-01
========
Action is by itself with action 1.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-21 19:30:14-07:00   0   1  2.000000  15  68.600000  68.700000
2018-05-21 19:32:14-07:00   0   0  0.000000   3  68.200000  68.400000
2018-05-21 19:32:14-07:00   0   0  1.166667   1  68.433333  68.433333
2018-05-21 19:33:14-07:00   0   0  0.000000   6  68.158333  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-21 19:30:14-07:00  68.586111  68.500000  68.700000  75.999189
2018-05-21 19:32:14-07:00  68.266667  68.200000  68.400000  75.999189
2018-05-21 19:32:14-07:00  68.433333  68.433333  68.433333  75.999189
2018-05-21 19:33:14-07:00  68.151389  68.100000  68.200000  75.999189

                              t_std
time
2018-05-21 19:30:14-07:00  0.074391
2018-05-21 19:32:14-07:00  0.094281
2018-05-21 19:32:14-07:00  0.000000
2018-05-21 19:33:14-07:00  0.040943
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-21 19:45:14-07:00   0   1  2.000000  15  68.700000  68.700000
2018-05-21 19:46:14-07:00   0   0  0.000000  10  68.100000  68.100000
2018-05-21 19:49:14-07:00   0   0  0.727273   1  68.309091  68.309091
2018-05-21 19:50:14-07:00   0   0  0.000000   8  68.141667  68.333333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-21 19:45:14-07:00  68.354697  68.200000  68.500000  75.999189
2018-05-21 19:46:14-07:00  68.046667  68.000000  68.100000  75.999189
2018-05-21 19:49:14-07:00  68.309091  68.309091  68.309091  75.999189
2018-05-21 19:50:14-07:00  68.086932  68.000000  68.333333  75.999189

                              t_std
time
2018-05-21 19:45:14-07:00  0.146907
2018-05-21 19:46:14-07:00  0.047610
2018-05-21 19:49:14-07:00  0.000000
2018-05-21 19:50:14-07:00  0.113696

========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-21 20:32:14-07:00   0   1  2.000000  14  68.60  68.60  68.418994
2018-05-21 20:36:14-07:00   0   0  0.000000   2  67.90  67.90  67.900000
2018-05-21 20:37:14-07:00   0   0  0.166667   1  68.35  68.35  68.350000
2018-05-21 20:37:14-07:00   0   0  0.000000   1  68.10  68.10  68.100000

                           t_min  t_next      t_out     t_std
time
2018-05-21 20:32:14-07:00  68.30   68.30  73.999403  0.100234
2018-05-21 20:36:14-07:00  67.90   67.90  73.999403  0.000000
2018-05-21 20:37:14-07:00  68.35   68.35  73.999403  0.000000
2018-05-21 20:37:14-07:00  68.10   68.10  73.999403  0.000000
========
Action is by itself with action 1.200000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-21 21:01:14-07:00   0   0  1.666667   1  68.516667  68.516667
2018-05-21 21:02:14-07:00   0   0  0.000000  15  68.033333  68.033333
2018-05-21 21:03:14-07:00   0   0  1.200000   1  74.220000  74.220000
2018-05-21 21:04:14-07:00   0   0  0.000000  15  74.033333  74.033333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-21 21:01:14-07:00  68.516667  68.516667  68.516667  73.999403
2018-05-21 21:02:14-07:00  67.560859  67.400000  67.600000  71.800303
2018-05-21 21:03:14-07:00  74.220000  74.220000  74.220000  73.999403
2018-05-21 21:04:14-07:00  73.533889  73.400000  73.400000  71.400466

                              t_std
time
2018-05-21 21:01:14-07:00  0.000000
2018-05-21 21:02:14-07:00  0.174467
2018-05-21 21:03:14-07:00  0.000000
2018-05-21 21:04:14-07:00  0.226986
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-21 21:03:14-07:00   0   0  1.200000   1  74.220000  74.220000
2018-05-21 21:04:14-07:00   0   0  0.000000  15  74.033333  74.033333
2018-05-21 21:06:14-07:00   0   0  0.363636   1  68.118182  68.118182
2018-05-21 21:07:14-07:00   0   0  0.000000  14  67.983333  68.181818

                              t_mean      t_min     t_next      t_out  \
time
2018-05-21 21:03:14-07:00  74.220000  74.220000  74.220000  73.999403
2018-05-21 21:04:14-07:00  73.533889  73.400000  73.400000  71.400466
2018-05-21 21:06:14-07:00  68.118182  68.118182  68.118182  71.000630
2018-05-21 21:07:14-07:00  67.937771  67.800000  68.181818  71.000630

                              t_std
time
2018-05-21 21:03:14-07:00  0.000000
2018-05-21 21:04:14-07:00  0.226986
2018-05-21 21:06:14-07:00  0.000000
2018-05-21 21:07:14-07:00  0.095512
========
Action is by itself with action 0.909091 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-21 21:06:14-07:00   0   0  0.363636   1  68.118182  68.118182
2018-05-21 21:07:14-07:00   0   0  0.000000  14  67.983333  68.181818
2018-05-21 21:08:14-07:00   0   0  0.909091   1  68.372727  68.372727
2018-05-21 21:09:14-07:00   0   0  0.000000  15  68.045455  68.045455

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-21 21:06:14-07:00  68.118182  68.118182  68.118182  71.00063  0.000000
2018-05-21 21:07:14-07:00  67.937771  67.800000  68.181818  71.00063  0.095512
2018-05-21 21:08:14-07:00  68.372727  68.372727  68.372727  71.00063  0.000000
2018-05-21 21:09:14-07:00  67.898030  67.800000  68.000000  71.00063  0.093908
========
Action is by itself with action 0.500000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-21 21:08:14-07:00   0   0  0.909091   1  68.372727  68.372727
2018-05-21 21:09:14-07:00   0   0  0.000000  15  68.045455  68.045455
2018-05-21 21:09:14-07:00   0   0  0.500000   1  68.300000  68.300000
2018-05-21 21:10:14-07:00   0   0  0.000000  10  68.033333  68.166667

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-21 21:08:14-07:00  68.372727  68.372727  68.372727  71.00063  0.000000
2018-05-21 21:09:14-07:00  67.898030  67.800000  68.000000  71.00063  0.093908
2018-05-21 21:09:14-07:00  68.300000  68.300000  68.300000  71.00063  0.000000
2018-05-21 21:10:14-07:00  68.020000  68.000000  68.166667  71.00063  0.049889
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-21 21:40:14-07:00   0   0  0.000000  15  68.000000   69.5  68.698586
2018-05-21 21:42:14-07:00   0   0  0.000000  15  74.058333   74.1  74.066667
2018-05-21 21:44:14-07:00   0   0  0.727273   1  74.500000   74.5  74.500000
2018-05-21 21:45:14-07:00   0   0  0.000000  15  68.800000   69.8  69.301212

                           t_min  t_next     t_out     t_std
time
2018-05-21 21:40:14-07:00   68.0    69.5  71.00063  0.452357
2018-05-21 21:42:14-07:00   74.0    74.1  71.00063  0.043568
2018-05-21 21:44:14-07:00   74.5    74.5  71.00063  0.000000
2018-05-21 21:45:14-07:00   68.8    69.8  71.00063  0.333788
========
Action is by itself with action 1.833333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-21 21:45:14-07:00   0   1  2.000000   3  74.50  74.50  74.500000
2018-05-21 21:45:14-07:00   0   0  0.000000  15  68.70  69.70  69.145455
2018-05-21 21:48:14-07:00   0   0  1.833333   1  74.35  74.35  74.350000
2018-05-21 21:49:14-07:00   0   0  0.000000  15  74.20  74.20  73.519293

                           t_min  t_next     t_out     t_std
time
2018-05-21 21:45:14-07:00  74.50   74.50  71.00063  0.000000
2018-05-21 21:45:14-07:00  68.70   69.70  71.00063  0.320330
2018-05-21 21:48:14-07:00  74.35   74.35  71.00063  0.000000
2018-05-21 21:49:14-07:00  73.30   73.40  71.00063  0.291355
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 07:35:14-07:00   0   0  0.000000  15  68.100000  68.100000
2018-05-22 07:42:14-07:00   0   0  0.000000  15  71.800000  71.800000
2018-05-22 07:42:14-07:00   0   0  1.333333   1  68.566667  68.566667
2018-05-22 07:43:14-07:00   0   0  0.000000  15  68.033333  68.033333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 07:35:14-07:00  67.137475  66.800000  66.800000  64.000416
2018-05-22 07:42:14-07:00  71.584545  71.350000  71.350000  64.000416
2018-05-22 07:42:14-07:00  68.566667  68.566667  68.566667  64.000416
2018-05-22 07:43:14-07:00  67.687222  67.400000  68.033333  64.000416

                              t_std
time
2018-05-22 07:35:14-07:00  0.327007
2018-05-22 07:42:14-07:00  0.163112
2018-05-22 07:42:14-07:00  0.000000
2018-05-22 07:43:14-07:00  0.215786
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 07:42:14-07:00   0   0  1.333333   1  68.566667  68.566667
2018-05-22 07:43:14-07:00   0   0  0.000000  15  68.033333  68.033333
2018-05-22 07:43:14-07:00   0   0  1.666667   1  68.766667  68.766667
2018-05-22 07:44:14-07:00   0   0  0.000000  15  68.063636  68.063636

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 07:42:14-07:00  68.566667  68.566667  68.566667  64.000416
2018-05-22 07:43:14-07:00  67.687222  67.400000  68.033333  64.000416
2018-05-22 07:43:14-07:00  68.766667  68.766667  68.766667  64.000416
2018-05-22 07:44:14-07:00  67.829545  67.600000  68.000000  64.000416

                              t_std
time
2018-05-22 07:42:14-07:00  0.000000
2018-05-22 07:43:14-07:00  0.215786
2018-05-22 07:43:14-07:00  0.000000
2018-05-22 07:44:14-07:00  0.153782
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 07:43:14-07:00   0   0  1.666667   1  68.766667  68.766667
2018-05-22 07:44:14-07:00   0   0  0.000000  15  68.063636  68.063636
2018-05-22 07:44:14-07:00   0   0  0.727273   1  68.318182  68.318182
2018-05-22 07:45:14-07:00   0   0  0.000000  15  67.983333  68.016667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 07:43:14-07:00  68.766667  68.766667  68.766667  64.000416
2018-05-22 07:44:14-07:00  67.829545  67.600000  68.000000  64.000416
2018-05-22 07:44:14-07:00  68.318182  68.318182  68.318182  64.000416
2018-05-22 07:45:14-07:00  67.745000  67.400000  68.016667  64.000416

                              t_std
time
2018-05-22 07:43:14-07:00  0.000000
2018-05-22 07:44:14-07:00  0.153782
2018-05-22 07:44:14-07:00  0.000000
2018-05-22 07:45:14-07:00  0.236287
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 11:59:14-07:00   0   0  0.000000  15  73.027273  73.027273
2018-05-22 12:00:14-07:00   0   0  0.000000  15  72.700000  72.700000
2018-05-22 12:02:14-07:00   0   0  1.666667   1  73.433333  73.433333
2018-05-22 12:03:14-07:00   0   0  0.000000  15  73.083333  73.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 11:59:14-07:00  72.606263  72.500000  72.600000  76.600515
2018-05-22 12:00:14-07:00  72.102020  71.800000  72.000000  76.800554
2018-05-22 12:02:14-07:00  73.433333  73.433333  73.433333  75.000203
2018-05-22 12:03:14-07:00  72.959091  72.800000  73.200000  77.400671

                              t_std
time
2018-05-22 11:59:14-07:00  0.136022
2018-05-22 12:00:14-07:00  0.362134
2018-05-22 12:02:14-07:00  0.000000
2018-05-22 12:03:14-07:00  0.139250
========
Action is by itself with action 1.833333 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 12:03:14-07:00   0   0  0.000000  15  73.083333  73.200000
2018-05-22 12:04:14-07:00   0   0  0.000000  15  71.700000  71.800000
2018-05-22 12:09:14-07:00   0   0  1.833333   1  73.291667  73.291667
2018-05-22 12:10:14-07:00   0   0  0.000000  12  73.200000  73.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 12:03:14-07:00  72.959091  72.800000  73.200000  77.400671
2018-05-22 12:04:14-07:00  71.733333  71.700000  71.700000  77.600710
2018-05-22 12:09:14-07:00  73.291667  73.291667  73.291667  78.000789
2018-05-22 12:10:14-07:00  73.180051  73.100000  73.400000  78.000789

                              t_std
time
2018-05-22 12:03:14-07:00  0.139250
2018-05-22 12:04:14-07:00  0.043885
2018-05-22 12:09:14-07:00  0.000000
2018-05-22 12:10:14-07:00  0.082475
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 12:29:14-07:00   0   0  0.000000  11  73.090909  73.200000
2018-05-22 12:30:14-07:00   0   0  0.000000  15  72.800000  73.000000
2018-05-22 12:31:14-07:00   0   0  1.666667   1  73.266667  73.266667
2018-05-22 12:32:14-07:00   0   0  0.000000  11  73.100000  73.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 12:29:14-07:00  72.953719  72.800000  73.200000  78.000789
2018-05-22 12:30:14-07:00  72.602778  72.300000  73.000000  78.000789
2018-05-22 12:31:14-07:00  73.266667  73.266667  73.266667  78.000789
2018-05-22 12:32:14-07:00  73.100275  73.000000  73.300000  78.000789

                              t_std
time
2018-05-22 12:29:14-07:00  0.122364
2018-05-22 12:30:14-07:00  0.261931
2018-05-22 12:31:14-07:00  0.000000
2018-05-22 12:32:14-07:00  0.105500
========
Action is by itself with action 0.833333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 13:44:14-07:00   0   1  2.000000   5  74.500000  74.500000
2018-05-22 13:44:14-07:00   0   0  0.000000  15  72.781818  72.781818
2018-05-22 13:45:14-07:00   0   0  0.833333   1  73.308333  73.308333
2018-05-22 13:46:14-07:00   0   0  0.000000  15  72.920000  72.920000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 13:44:14-07:00  74.472727  74.400000  74.400000  82.000416
2018-05-22 13:44:14-07:00  72.357374  72.200000  72.400000  82.000416
2018-05-22 13:45:14-07:00  73.308333  73.308333  73.308333  82.000416
2018-05-22 13:46:14-07:00  72.586333  72.400000  72.500000  82.000416

                              t_std
time
2018-05-22 13:44:14-07:00  0.038996
2018-05-22 13:44:14-07:00  0.169280
2018-05-22 13:45:14-07:00  0.000000
2018-05-22 13:46:14-07:00  0.177993
========
Action is by itself with action 1.818182 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 13:45:14-07:00   0   0  0.833333   1  73.308333  73.308333
2018-05-22 13:46:14-07:00   0   0  0.000000  15  72.920000  72.920000
2018-05-22 13:47:14-07:00   0   0  1.818182   1  73.381818  73.381818
2018-05-22 13:48:14-07:00   0   0  0.000000  15  73.183333  73.183333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 13:45:14-07:00  73.308333  73.308333  73.308333  82.000416
2018-05-22 13:46:14-07:00  72.586333  72.400000  72.500000  82.000416
2018-05-22 13:47:14-07:00  73.381818  73.381818  73.381818  82.000416
2018-05-22 13:48:14-07:00  72.776990  72.600000  73.000000  82.000416

                              t_std
time
2018-05-22 13:45:14-07:00  0.000000
2018-05-22 13:46:14-07:00  0.177993
2018-05-22 13:47:14-07:00  0.000000
2018-05-22 13:48:14-07:00  0.161730
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 14:22:14-07:00   0   0  0.363636   1  73.200000  73.200000
2018-05-22 14:22:14-07:00   0   0  0.000000  15  73.018182  73.018182
2018-05-22 14:22:14-07:00   0   0  0.727273   1  74.272727  74.272727
2018-05-22 14:23:14-07:00   0   0  0.000000  15  73.000000  73.033333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 14:22:14-07:00  73.200000  73.200000  73.200000  82.000416
2018-05-22 14:22:14-07:00  72.856364  72.700000  73.000000  82.000416
2018-05-22 14:22:14-07:00  74.272727  74.272727  74.272727  82.000416
2018-05-22 14:23:14-07:00  72.886667  72.800000  73.033333  82.000416

                              t_std
time
2018-05-22 14:22:14-07:00  0.000000
2018-05-22 14:22:14-07:00  0.117981
2018-05-22 14:22:14-07:00  0.000000
2018-05-22 14:23:14-07:00  0.098733
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 14:23:14-07:00   0   0  0.000000  15  73.000000  73.033333
2018-05-22 14:23:14-07:00   0   0  0.000000  15  74.090909  74.090909
2018-05-22 14:25:14-07:00   0   0  0.363636   1  74.154545  74.154545
2018-05-22 14:26:14-07:00   0   0  0.000000  15  73.933333  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 14:23:14-07:00  72.886667  72.800000  73.033333  82.000416
2018-05-22 14:23:14-07:00  73.675505  73.500000  73.700000  82.000416
2018-05-22 14:25:14-07:00  74.154545  74.154545  74.154545  82.000416
2018-05-22 14:26:14-07:00  73.741313  73.600000  74.000000  82.000416

                              t_std
time
2018-05-22 14:23:14-07:00  0.098733
2018-05-22 14:23:14-07:00  0.157584
2018-05-22 14:25:14-07:00  0.000000
2018-05-22 14:26:14-07:00  0.151125
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 14:57:14-07:00   0   0  0.000000  15  73.100000  73.300000
2018-05-22 14:58:14-07:00   0   0  0.000000  15  74.036364  74.100000
2018-05-22 14:59:14-07:00   0   0  0.666667   1  74.233333  74.233333
2018-05-22 15:00:14-07:00   0   0  0.000000  15  74.000000  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 14:57:14-07:00  73.076111  73.000000  73.300000  82.000416
2018-05-22 14:58:14-07:00  73.840909  73.600000  74.100000  82.000416
2018-05-22 14:59:14-07:00  74.233333  74.233333  74.233333  82.000416
2018-05-22 15:00:14-07:00  73.675000  73.500000  73.900000  82.000416

                              t_std
time
2018-05-22 14:57:14-07:00  0.077869
2018-05-22 14:58:14-07:00  0.174985
2018-05-22 14:59:14-07:00  0.000000
2018-05-22 15:00:14-07:00  0.173712
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 15:19:14-07:00   0   0  0.000000  15  73.600000  74.200000
2018-05-22 15:20:14-07:00   0   0  0.000000  15  73.341667  74.100000
2018-05-22 15:24:14-07:00   0   0  1.666667   1  74.433333  74.433333
2018-05-22 15:25:14-07:00   0   0  0.000000  15  74.090909  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 15:19:14-07:00  73.909091  73.600000  74.200000  84.599353
2018-05-22 15:20:14-07:00  73.721414  73.341667  74.100000  84.799271
2018-05-22 15:24:14-07:00  74.433333  74.433333  74.433333  84.999189
2018-05-22 15:25:14-07:00  73.884848  73.700000  74.100000  84.999189

                              t_std
time
2018-05-22 15:19:14-07:00  0.223619
2018-05-22 15:20:14-07:00  0.279635
2018-05-22 15:24:14-07:00  0.000000
2018-05-22 15:25:14-07:00  0.174162
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 15:27:14-07:00   0   1  2.000000   6  74.600000  74.600000
2018-05-22 15:27:14-07:00   0   0  0.000000  15  73.933333  74.300000
2018-05-22 15:33:14-07:00   0   0  0.333333   1  74.166667  74.166667
2018-05-22 15:34:14-07:00   0   0  0.000000  15  73.975000  74.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 15:27:14-07:00  74.561111  74.500000  74.500000  84.999189
2018-05-22 15:27:14-07:00  74.128485  73.933333  74.300000  84.999189
2018-05-22 15:33:14-07:00  74.166667  74.166667  74.166667  84.999189
2018-05-22 15:34:14-07:00  73.977222  73.900000  74.300000  84.999189

                              t_std
time
2018-05-22 15:27:14-07:00  0.044790
2018-05-22 15:27:14-07:00  0.133001
2018-05-22 15:33:14-07:00  0.000000
2018-05-22 15:34:14-07:00  0.109480
========
Action is by itself with action 1.272727 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 15:40:14-07:00   0   0  0.000000   1  74.266667  74.266667
2018-05-22 15:40:14-07:00   0   0  0.000000  15  74.200000  74.600000
2018-05-22 15:41:14-07:00   0   0  1.272727   1  74.572727  74.572727
2018-05-22 15:42:14-07:00   0   0  0.000000  15  74.333333  74.600000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 15:40:14-07:00  74.266667  74.266667  74.266667  84.999189
2018-05-22 15:40:14-07:00  74.459394  74.200000  74.600000  84.999189
2018-05-22 15:41:14-07:00  74.572727  74.572727  74.572727  84.999189
2018-05-22 15:42:14-07:00  74.486869  74.333333  74.600000  84.999189

                              t_std
time
2018-05-22 15:40:14-07:00  0.000000
2018-05-22 15:40:14-07:00  0.110751
2018-05-22 15:41:14-07:00  0.000000
2018-05-22 15:42:14-07:00  0.086007
========
Action is by itself with action 1.636364 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 15:42:14-07:00   0   1  2.000000   7  74.600000  74.800000
2018-05-22 15:49:14-07:00   0   0  0.000000  15  74.600000  75.100000
2018-05-22 15:49:14-07:00   0   0  1.636364   1  74.672727  74.672727
2018-05-22 15:49:14-07:00   0   0  0.000000   3  74.300000  74.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 15:42:14-07:00  74.701299  74.600000  74.800000  84.999189
2018-05-22 15:49:14-07:00  74.891111  74.600000  75.100000  84.999189
2018-05-22 15:49:14-07:00  74.672727  74.672727  74.672727  84.999189
2018-05-22 15:49:14-07:00  74.300000  74.300000  74.300000  84.999189

                              t_std
time
2018-05-22 15:42:14-07:00  0.092637
2018-05-22 15:49:14-07:00  0.132059
2018-05-22 15:49:14-07:00  0.000000
2018-05-22 15:49:14-07:00  0.000000
========
Action is by itself with action 0.500000 for data:
                           a1  a2  action  dt       t_in  t_max     t_mean  \
time
2018-05-22 15:55:14-07:00   0   0     0.0  15  74.600000  75.00  74.871414
2018-05-22 15:57:14-07:00   0   0     0.0  15  74.672727  75.00  74.862626
2018-05-22 15:59:14-07:00   0   0     0.5   1  74.150000  74.15  74.150000
2018-05-22 16:00:14-07:00   0   0     0.0  15  74.009091  74.30  73.973384

                               t_min  t_next      t_out     t_std
time
2018-05-22 15:55:14-07:00  74.600000   75.00  84.999189  0.117583
2018-05-22 15:57:14-07:00  74.672727   75.00  84.999189  0.084165
2018-05-22 15:59:14-07:00  74.150000   74.15  84.999189  0.000000
2018-05-22 16:00:14-07:00  73.900000   74.30  84.999189  0.103931
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 16:10:14-07:00   0   0  0.000000  15  75.000000  75.300000
2018-05-22 16:12:14-07:00   0   0  0.000000  15  75.000000  75.200000
2018-05-22 16:14:14-07:00   0   0  0.333333   1  74.191667  74.191667
2018-05-22 16:15:14-07:00   0   0  0.000000  13  73.909091  74.208333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 16:10:14-07:00  75.146818  75.000000  75.300000  84.465913
2018-05-22 16:12:14-07:00  75.105000  75.000000  75.200000  84.199275
2018-05-22 16:14:14-07:00  74.191667  74.191667  74.191667  84.999189
2018-05-22 16:15:14-07:00  73.914977  73.700000  74.208333  83.922381

                              t_std
time
2018-05-22 16:10:14-07:00  0.078990
2018-05-22 16:12:14-07:00  0.079919
2018-05-22 16:14:14-07:00  0.000000
2018-05-22 16:15:14-07:00  0.130096
========
Action is by itself with action 1.272727 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 16:34:14-07:00   0   0  0.000000  15  75.700000  76.000000
2018-05-22 16:35:14-07:00   0   0  0.000000  15  74.800000  75.000000
2018-05-22 16:37:14-07:00   0   0  1.272727   1  74.545455  74.545455
2018-05-22 16:38:14-07:00   0   0  0.000000  13  74.066667  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 16:34:14-07:00  75.836364  75.700000  76.000000  82.999403
2018-05-22 16:35:14-07:00  74.893939  74.800000  74.963636  82.999403
2018-05-22 16:37:14-07:00  74.545455  74.545455  74.545455  82.999403
2018-05-22 16:38:14-07:00  73.908974  73.700000  74.100000  82.999403

                              t_std
time
2018-05-22 16:34:14-07:00  0.099378
2018-05-22 16:35:14-07:00  0.058060
2018-05-22 16:37:14-07:00  0.000000
2018-05-22 16:38:14-07:00  0.168530
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 17:19:14-07:00   0   0  0.000000  15  76.600000  76.800000
2018-05-22 17:20:14-07:00   0   0  0.000000  15  75.700000  76.100000
2018-05-22 17:22:14-07:00   0   0  0.333333   1  74.166667  74.166667
2018-05-22 17:23:14-07:00   0   0  0.000000  10  73.983333  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 17:19:14-07:00  76.725000  76.600000  76.800000  83.866763
2018-05-22 17:20:14-07:00  75.890202  75.700000  76.100000  83.933483
2018-05-22 17:22:14-07:00  74.166667  74.166667  74.166667  84.000203
2018-05-22 17:23:14-07:00  73.951970  73.900000  74.000000  84.000203

                              t_std
time
2018-05-22 17:19:14-07:00  0.071557
2018-05-22 17:20:14-07:00  0.144544
2018-05-22 17:22:14-07:00  0.000000
2018-05-22 17:23:14-07:00  0.046107
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt    t_in   t_max     t_mean  \
time
2018-05-22 17:25:14-07:00   0   0  0.000000  15  76.300  76.600  76.442778
2018-05-22 17:27:14-07:00   0   0  0.000000  15  76.200  76.400  76.339141
2018-05-22 17:33:14-07:00   0   0  0.333333   1  74.225  74.225  74.225000
2018-05-22 17:33:14-07:00   0   0  0.000000   2  74.300  74.300  74.300000

                            t_min  t_next      t_out     t_std
time
2018-05-22 17:25:14-07:00  76.300  76.600  84.000203  0.105184
2018-05-22 17:27:14-07:00  76.200  76.400  84.000203  0.064151
2018-05-22 17:33:14-07:00  74.225  74.225  84.000203  0.000000
2018-05-22 17:33:14-07:00  74.300  74.300  84.000203  0.000000
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 17:35:14-07:00   0   0  0.000000  15  76.100000  76.200000
2018-05-22 17:40:14-07:00   0   0  0.000000  15  76.600000  76.800000
2018-05-22 17:42:14-07:00   0   0  0.333333   1  74.116667  74.116667
2018-05-22 17:42:14-07:00   0   0  0.000000  15  76.400000  76.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 17:35:14-07:00  76.076970  76.000000  76.200000  84.000203
2018-05-22 17:40:14-07:00  76.700556  76.600000  76.800000  84.000203
2018-05-22 17:42:14-07:00  74.116667  74.116667  74.116667  84.000203
2018-05-22 17:42:14-07:00  76.623333  76.400000  76.700000  84.000203

                              t_std
time
2018-05-22 17:35:14-07:00  0.057746
2018-05-22 17:40:14-07:00  0.066281
2018-05-22 17:42:14-07:00  0.000000
2018-05-22 17:42:14-07:00  0.083400
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 17:42:14-07:00   0   0  0.000000  15  76.400000  76.700000
2018-05-22 17:43:14-07:00   0   0  0.000000  15  73.933333  74.300000
2018-05-22 17:43:14-07:00   0   0  0.666667   1  74.366667  74.366667
2018-05-22 17:44:14-07:00   0   0  0.000000  12  73.983333  74.272727

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 17:42:14-07:00  76.623333  76.400000  76.700000  84.000203
2018-05-22 17:43:14-07:00  73.916717  73.600000  74.300000  84.000203
2018-05-22 17:43:14-07:00  74.366667  74.366667  74.366667  84.000203
2018-05-22 17:44:14-07:00  73.975505  73.900000  74.272727  84.000203

                              t_std
time
2018-05-22 17:42:14-07:00  0.083400
2018-05-22 17:43:14-07:00  0.218180
2018-05-22 17:43:14-07:00  0.000000
2018-05-22 17:44:14-07:00  0.099982
========
Action is by itself with action 1.500000 for data:

                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-22 18:22:14-07:00   0   1     2.0   6  74.500000  74.600000
2018-05-22 18:25:14-07:00   0   0     0.0   4  77.241667  77.300000
2018-05-22 18:26:14-07:00   0   0     1.5   1  74.400000  74.400000
2018-05-22 18:27:14-07:00   0   0     0.0   2  77.100000  77.133333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 18:22:14-07:00  74.554167  74.500000  74.600000  82.999403
2018-05-22 18:25:14-07:00  77.285417  77.241667  77.300000  82.999403
2018-05-22 18:26:14-07:00  74.400000  74.400000  74.400000  82.999403
2018-05-22 18:27:14-07:00  77.116667  77.100000  77.133333  82.999403

                              t_std
time
2018-05-22 18:22:14-07:00  0.046585
2018-05-22 18:25:14-07:00  0.025259
2018-05-22 18:26:14-07:00  0.000000
2018-05-22 18:27:14-07:00  0.016667
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 18:46:14-07:00   0   0  1.166667   1  74.216667  74.216667
2018-05-22 18:47:14-07:00   0   0  0.000000  15  74.063636  74.200000
2018-05-22 18:48:14-07:00   0   0  1.666667   1  74.516667  74.516667
2018-05-22 18:49:14-07:00   0   0  0.000000  15  74.066667  74.090909

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 18:46:14-07:00  74.216667  74.216667  74.216667  82.999403
2018-05-22 18:47:14-07:00  74.036798  73.900000  74.200000  82.999403
2018-05-22 18:48:14-07:00  74.516667  74.516667  74.516667  82.999403
2018-05-22 18:49:14-07:00  73.826869  73.600000  74.090909  82.999403

                              t_std
time
2018-05-22 18:46:14-07:00  0.000000
2018-05-22 18:47:14-07:00  0.110951
2018-05-22 18:48:14-07:00  0.000000
2018-05-22 18:49:14-07:00  0.172973
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in   t_max     t_mean  \
time
2018-05-22 19:00:14-07:00   0   1  2.000000  15  72.300000  72.300  71.819394
2018-05-22 19:02:14-07:00   0   0  0.000000   4  74.233333  74.400  74.358333
2018-05-22 19:02:14-07:00   0   0  0.333333   1  68.200000  68.200  68.200000
2018-05-22 19:03:14-07:00   0   0  0.000000   4  68.033333  68.075  68.027083

                               t_min     t_next      t_out     t_std
time
2018-05-22 19:00:14-07:00  71.266667  71.266667  82.999403  0.408792
2018-05-22 19:02:14-07:00  74.233333  74.400000  82.999403  0.072169
2018-05-22 19:02:14-07:00  68.200000  68.200000  82.999403  0.000000
2018-05-22 19:03:14-07:00  68.000000  68.075000  82.999403  0.030831
========
Action is by itself with action 1.454545 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 19:13:14-07:00   0   0  0.727273   1  68.309091  68.309091
2018-05-22 19:13:14-07:00   0   0  0.000000  11  74.075000  74.100000
2018-05-22 19:13:14-07:00   0   0  1.454545   1  74.272727  74.272727
2018-05-22 19:14:14-07:00   0   0  0.000000  15  74.166667  74.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 19:13:14-07:00  68.309091  68.309091  68.309091  82.999403
2018-05-22 19:13:14-07:00  74.036570  74.000000  74.100000  82.726952
2018-05-22 19:13:14-07:00  74.272727  74.272727  74.272727  82.999403
2018-05-22 19:14:14-07:00  74.007576  73.900000  74.200000  82.466610

                              t_std
time
2018-05-22 19:13:14-07:00  0.000000
2018-05-22 19:13:14-07:00  0.044372
2018-05-22 19:13:14-07:00  0.000000
2018-05-22 19:14:14-07:00  0.107193
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 20:08:14-07:00   0   0  0.333333   1  74.200000  74.200000
2018-05-22 20:09:14-07:00   0   0  0.000000  15  73.983333  74.060000
2018-05-22 20:09:14-07:00   0   0  1.333333   1  68.233333  68.233333
2018-05-22 20:10:14-07:00   0   0  0.000000  15  68.066667  68.066667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 20:08:14-07:00  74.200000  74.200000  74.200000  78.999775
2018-05-22 20:09:14-07:00  73.803293  73.600000  74.060000  78.999775
2018-05-22 20:09:14-07:00  68.233333  68.233333  68.233333  78.999775
2018-05-22 20:10:14-07:00  67.893111  67.700000  68.000000  78.999775

                              t_std
time
2018-05-22 20:08:14-07:00  0.000000
2018-05-22 20:09:14-07:00  0.171599
2018-05-22 20:09:14-07:00  0.000000
2018-05-22 20:10:14-07:00  0.117180
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 20:09:14-07:00   0   0  1.333333   1  68.233333  68.233333
2018-05-22 20:10:14-07:00   0   0  0.000000  15  68.066667  68.066667
2018-05-22 20:13:14-07:00   0   0  1.333333   1  68.400000  68.400000
2018-05-22 20:14:14-07:00   0   0  0.000000   4  68.163636  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 20:09:14-07:00  68.233333  68.233333  68.233333  78.999775
2018-05-22 20:10:14-07:00  67.893111  67.700000  68.000000  78.999775
2018-05-22 20:13:14-07:00  68.400000  68.400000  68.400000  78.999775
2018-05-22 20:14:14-07:00  68.172727  68.127273  68.200000  78.999775

                              t_std
time
2018-05-22 20:09:14-07:00  0.000000
2018-05-22 20:10:14-07:00  0.117180
2018-05-22 20:13:14-07:00  0.000000
2018-05-22 20:14:14-07:00  0.030151
========
Action is by itself with action 0.909091 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 21:00:14-07:00   0   0  0.000000  15  71.472727  72.500000
2018-05-22 21:00:14-07:00   0   0  0.000000  15  71.500000  72.400000
2018-05-22 21:01:14-07:00   0   0  0.909091   1  74.327273  74.327273
2018-05-22 21:02:14-07:00   0   0  0.000000  15  73.950000  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 21:00:14-07:00  72.106364  71.472727  72.500000  77.199424
2018-05-22 21:00:14-07:00  71.855667  71.500000  72.400000  77.199424
2018-05-22 21:01:14-07:00  74.327273  74.327273  74.327273  78.999775
2018-05-22 21:02:14-07:00  73.676566  73.500000  74.000000  76.799346

                              t_std
time
2018-05-22 21:00:14-07:00  0.259454
2018-05-22 21:00:14-07:00  0.285627
2018-05-22 21:01:14-07:00  0.000000
2018-05-22 21:02:14-07:00  0.149347
========
Action is by itself with action 1.272727 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 21:09:14-07:00   0   1  2.000000   4  74.500000  74.500000
2018-05-22 21:10:14-07:00   0   0  0.000000  15  71.800000  72.354545
2018-05-22 21:13:14-07:00   0   0  1.272727   1  74.290909  74.290909
2018-05-22 21:14:14-07:00   0   0  0.000000  15  74.050000  74.050000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 21:09:14-07:00  74.470833  74.400000  74.400000  75.999189
2018-05-22 21:10:14-07:00  72.078081  71.800000  72.354545  75.999189
2018-05-22 21:13:14-07:00  74.290909  74.290909  74.290909  75.999189
2018-05-22 21:14:14-07:00  73.726313  73.500000  73.775000  75.999189

                              t_std
time
2018-05-22 21:09:14-07:00  0.041458
2018-05-22 21:10:14-07:00  0.207289
2018-05-22 21:13:14-07:00  0.000000
2018-05-22 21:14:14-07:00  0.179312
========
Action is by itself with action 1.454545 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 21:30:14-07:00   0   0  0.000000  15  73.100000  73.400000
2018-05-22 21:30:14-07:00   0   0  0.000000  15  73.000000  73.300000
2018-05-22 21:32:14-07:00   0   0  1.454545   1  74.345455  74.345455
2018-05-22 21:33:14-07:00   0   0  0.000000  15  74.133333  74.133333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-22 21:30:14-07:00  73.229444  73.100000  73.400000  75.999189
2018-05-22 21:30:14-07:00  73.130303  73.000000  73.300000  75.999189
2018-05-22 21:32:14-07:00  74.345455  74.345455  74.345455  75.999189
2018-05-22 21:33:14-07:00  73.651313  73.500000  73.600000  75.999189

                              t_std
time
2018-05-22 21:30:14-07:00  0.091432
2018-05-22 21:30:14-07:00  0.091327
2018-05-22 21:32:14-07:00  0.000000
2018-05-22 21:33:14-07:00  0.167132

========
Action is by itself with action 1.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 22:03:14-07:00   0   1  2.000000   4  74.500000  74.500000
2018-05-22 22:07:14-07:00   0   0  0.000000  15  74.100000  74.233333
2018-05-22 22:07:14-07:00   0   0  1.166667   1  74.275000  74.275000
2018-05-22 22:08:14-07:00   0   0  0.000000  15  74.009091  74.009091

                              t_mean   t_min     t_next      t_out     t_std
time
2018-05-22 22:03:14-07:00  74.470455  74.400  74.400000  75.499243  0.041349
2018-05-22 22:07:14-07:00  74.137980  74.100  74.233333  73.999403  0.049975
2018-05-22 22:07:14-07:00  74.275000  74.275  74.275000  73.999403  0.000000
2018-05-22 22:08:14-07:00  73.563424  73.400  73.600000  73.999403  0.188001
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-22 22:39:14-07:00   0   0  0.000000   8  74.500000   74.5  74.500000
2018-05-22 22:40:14-07:00   0   0  0.000000  15  74.145455   74.2  74.196364
2018-05-22 22:45:14-07:00   0   0  1.666667   1  74.500000   74.5  74.500000
2018-05-22 22:45:14-07:00   0   0  0.000000  15  74.300000   74.4  74.343333

                               t_min  t_next      t_out     t_std
time
2018-05-22 22:39:14-07:00  74.500000    74.5  73.999403  0.000000
2018-05-22 22:40:14-07:00  74.145455    74.2  73.999403  0.013606
2018-05-22 22:45:14-07:00  74.500000    74.5  73.999403  0.000000
2018-05-22 22:45:14-07:00  74.300000    74.4  73.999403  0.047842
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-22 22:50:14-07:00   0   0  0.000000  15  74.081818  74.081818
2018-05-22 22:52:14-07:00   0   0  0.000000  15  74.500000  74.600000
2018-05-22 22:52:14-07:00   0   0  0.666667   1  74.200000  74.200000
2018-05-22 22:53:14-07:00   0   0  0.000000  15  73.966667  73.966667

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-22 22:50:14-07:00  73.582121   73.4    73.6  73.999403  0.213761
2018-05-22 22:52:14-07:00  74.584242   74.5    74.6  73.866084  0.034252
2018-05-22 22:52:14-07:00  74.200000   74.2    74.2  73.999403  0.000000
2018-05-22 22:53:14-07:00  73.635000   73.5    73.7  73.732765  0.139649
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 05:30:14-07:00   0   1  2.000000  15  73.700000  73.700000
2018-05-23 05:35:14-07:00   0   0  0.000000  15  71.900000  71.900000
2018-05-23 05:38:14-07:00   0   0  0.666667   1  68.266667  68.266667
2018-05-23 05:38:14-07:00   0   0  0.000000  15  73.200000  73.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 05:30:14-07:00  72.342424  70.336364  70.336364  57.000203
2018-05-23 05:35:14-07:00  71.414798  65.363636  71.800000  57.000203
2018-05-23 05:38:14-07:00  68.266667  68.266667  68.266667  57.000203
2018-05-23 05:38:14-07:00  73.222889  73.100000  73.100000  57.000203

                              t_std
time
2018-05-23 05:30:14-07:00  1.143483
2018-05-23 05:35:14-07:00  1.617910
2018-05-23 05:38:14-07:00  0.000000
2018-05-23 05:38:14-07:00  0.056186
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 05:52:14-07:00   0   0  0.000000  15  68.008333  68.100000
2018-05-23 05:52:14-07:00   0   0  0.000000  12  68.072727  68.100000
2018-05-23 05:52:14-07:00   0   0  0.333333   1  68.216667  68.216667
2018-05-23 05:53:14-07:00   0   0  0.000000  15  73.100000  73.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 05:52:14-07:00  67.864333  67.700000  68.100000  57.000203
2018-05-23 05:52:14-07:00  67.982197  67.900000  68.100000  57.000203
2018-05-23 05:52:14-07:00  68.216667  68.216667  68.216667  57.000203
2018-05-23 05:53:14-07:00  72.787475  72.600000  72.616667  57.000203

                              t_std
time
2018-05-23 05:52:14-07:00  0.136267
2018-05-23 05:52:14-07:00  0.061447
2018-05-23 05:52:14-07:00  0.000000
2018-05-23 05:53:14-07:00  0.187391
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 06:08:14-07:00   0   0  0.000000  15  72.700000  72.800000
2018-05-23 06:09:14-07:00   0   0  0.000000  15  68.100000  68.100000
2018-05-23 06:12:14-07:00   0   0  0.363636   1  68.254545  68.254545
2018-05-23 06:13:14-07:00   0   0  0.000000  10  68.125000  68.125000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 06:08:14-07:00  72.675000  72.500000  72.500000  57.000203
2018-05-23 06:09:14-07:00  68.066667  68.000000  68.100000  57.000203
2018-05-23 06:12:14-07:00  68.254545  68.254545  68.254545  57.000203
2018-05-23 06:13:14-07:00  68.052500  68.000000  68.100000  57.000203

                              t_std
time
2018-05-23 06:08:14-07:00  0.112916
2018-05-23 06:09:14-07:00  0.043568
2018-05-23 06:12:14-07:00  0.000000
2018-05-23 06:13:14-07:00  0.048598
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 06:12:14-07:00   0   0  0.363636   1  68.254545  68.254545
2018-05-23 06:13:14-07:00   0   0  0.000000  10  68.125000  68.125000
2018-05-23 06:13:14-07:00   0   0  0.166667   1  68.133333  68.133333
2018-05-23 06:14:14-07:00   0   0  0.000000  10  67.972727  68.250000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 06:12:14-07:00  68.254545  68.254545  68.254545  57.000203
2018-05-23 06:13:14-07:00  68.052500  68.000000  68.100000  57.000203
2018-05-23 06:13:14-07:00  68.133333  68.133333  68.133333  57.000203
2018-05-23 06:14:14-07:00  67.985606  67.900000  68.250000  57.000203

                              t_std
time
2018-05-23 06:12:14-07:00  0.000000
2018-05-23 06:13:14-07:00  0.048598
2018-05-23 06:13:14-07:00  0.000000
2018-05-23 06:14:14-07:00  0.097784
========
Action is by itself with action 1.454545 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 06:47:14-07:00   0   1  2.000000   6  68.500000  68.600000
2018-05-23 06:50:14-07:00   0   0  0.000000  15  71.250000  71.250000
2018-05-23 06:52:14-07:00   0   0  1.454545   1  68.390909  68.390909
2018-05-23 06:52:14-07:00   0   0  0.000000  12  68.063636  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 06:47:14-07:00  68.544444  68.500000  68.600000  57.000203
2018-05-23 06:50:14-07:00  71.116667  71.000000  71.000000  57.000203
2018-05-23 06:52:14-07:00  68.390909  68.390909  68.390909  57.000203
2018-05-23 06:52:14-07:00  68.131692  68.063636  68.200000  57.000203

                              t_std
time
2018-05-23 06:47:14-07:00  0.045812
2018-05-23 06:50:14-07:00  0.099443
2018-05-23 06:52:14-07:00  0.000000
2018-05-23 06:52:14-07:00  0.049622
========
Action is by itself with action 1.090909 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 07:09:14-07:00   0   0  0.000000  15  68.600000  68.600000
2018-05-23 07:09:14-07:00   0   0  0.000000  15  68.500000  68.500000
2018-05-23 07:10:14-07:00   0   0  1.090909   1  68.209091  68.209091
2018-05-23 07:11:14-07:00   0   0  0.000000  15  68.058333  68.109091

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 07:09:14-07:00  68.145051  67.900000  68.072727  57.999189
2018-05-23 07:09:14-07:00  67.935525  67.700000  67.820000  57.999189
2018-05-23 07:10:14-07:00  68.209091  68.209091  68.209091  57.999189
2018-05-23 07:11:14-07:00  67.938232  67.800000  68.109091  57.999189

                              t_std
time
2018-05-23 07:09:14-07:00  0.228257
2018-05-23 07:09:14-07:00  0.280969
2018-05-23 07:10:14-07:00  0.000000
2018-05-23 07:11:14-07:00  0.087321
========
Action is by itself with action 0.181818 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 07:10:14-07:00   0   0  1.090909   1  68.209091  68.209091
2018-05-23 07:11:14-07:00   0   0  0.000000  15  68.058333  68.109091
2018-05-23 07:12:14-07:00   0   0  0.181818   1  68.227273  68.227273
2018-05-23 07:13:14-07:00   0   0  0.000000  14  68.008333  68.208333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 07:10:14-07:00  68.209091  68.209091  68.209091  57.999189
2018-05-23 07:11:14-07:00  67.938232  67.800000  68.109091  57.999189
2018-05-23 07:12:14-07:00  68.227273  68.227273  68.227273  57.999189
2018-05-23 07:13:14-07:00  67.939069  67.800000  68.208333  57.999189

                              t_std
time
2018-05-23 07:10:14-07:00  0.000000
2018-05-23 07:11:14-07:00  0.087321
2018-05-23 07:12:14-07:00  0.000000
2018-05-23 07:13:14-07:00  0.102772
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 07:32:14-07:00   0   0  1.818182   1  68.290909  68.290909
2018-05-23 07:33:14-07:00   0   0  0.000000  15  68.183333  68.183333
2018-05-23 07:34:14-07:00   0   0  0.363636   1  68.172727  68.172727
2018-05-23 07:35:14-07:00   0   0  0.000000  15  67.990909  68.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 07:32:14-07:00  68.290909  68.290909  68.290909  57.999189
2018-05-23 07:33:14-07:00  67.928081  67.800000  68.000000  57.999189
2018-05-23 07:34:14-07:00  68.172727  68.172727  68.172727  57.999189
2018-05-23 07:35:14-07:00  67.872121  67.700000  68.000000  57.999189

                              t_std
time
2018-05-23 07:32:14-07:00  0.000000
2018-05-23 07:33:14-07:00  0.098331
2018-05-23 07:34:14-07:00  0.000000
2018-05-23 07:35:14-07:00  0.117385
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 08:15:14-07:00   0   1  2.000000   4  68.600000  68.600000
2018-05-23 08:16:14-07:00   0   0  0.000000  15  68.300000  68.500000
2018-05-23 08:19:14-07:00   0   0  0.363636   1  68.254545  68.254545
2018-05-23 08:20:14-07:00   0   0  0.000000  15  70.700000  70.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 08:15:14-07:00  68.541667  68.500000  68.500000  60.000789
2018-05-23 08:16:14-07:00  68.037576  67.700000  67.800000  60.000789
2018-05-23 08:19:14-07:00  68.254545  68.254545  68.254545  60.000789
2018-05-23 08:20:14-07:00  70.666667  70.600000  70.700000  60.000789

                              t_std
time
2018-05-23 08:15:14-07:00  0.043301
2018-05-23 08:16:14-07:00  0.331905
2018-05-23 08:19:14-07:00  0.000000
2018-05-23 08:20:14-07:00  0.043746
========
Action is by itself with action 1.500000 for data:

                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-23 08:20:14-07:00   0   0     0.0  15  70.700000  70.700000
2018-05-23 08:20:14-07:00   0   0     0.0  15  68.036364  68.036364
2018-05-23 08:20:14-07:00   0   0     1.5   1  68.533333  68.533333
2018-05-23 08:21:14-07:00   0   0     0.0  15  68.163636  68.163636

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 08:20:14-07:00  70.666667  70.600000  70.700000  60.000789
2018-05-23 08:20:14-07:00  67.916869  67.800000  68.000000  60.000789
2018-05-23 08:20:14-07:00  68.533333  68.533333  68.533333  60.000789
2018-05-23 08:21:14-07:00  67.925657  67.800000  68.000000  60.000789

                              t_std
time
2018-05-23 08:20:14-07:00  0.043746
2018-05-23 08:20:14-07:00  0.078005
2018-05-23 08:20:14-07:00  0.000000
2018-05-23 08:21:14-07:00  0.095037
========
Action is by itself with action 1.636364 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 08:46:14-07:00   0   0  0.166667   1  68.200000  68.200000
2018-05-23 08:47:14-07:00   0   0  0.000000  15  68.018182  68.200000
2018-05-23 08:49:14-07:00   0   0  1.636364   1  68.263636  68.263636
2018-05-23 08:50:14-07:00   0   0  0.000000  15  68.083333  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 08:46:14-07:00  68.200000  68.200000  68.200000  60.000789
2018-05-23 08:47:14-07:00  67.993434  67.900000  68.200000  60.000789
2018-05-23 08:49:14-07:00  68.263636  68.263636  68.263636  60.000789
2018-05-23 08:50:14-07:00  68.030000  67.900000  68.200000  60.000789

                              t_std
time
2018-05-23 08:46:14-07:00  0.000000
2018-05-23 08:47:14-07:00  0.095826
2018-05-23 08:49:14-07:00  0.000000
2018-05-23 08:50:14-07:00  0.111919
========
Action is by itself with action 1.818182 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-23 11:53:14-07:00   0   0  0.000000  15  74.4   74.5  74.488889
2018-05-23 11:54:14-07:00   0   0  0.000000  15  72.5   72.8  72.686667
2018-05-23 12:01:14-07:00   0   0  1.818182   1  73.5   73.5  73.500000
2018-05-23 12:02:14-07:00   0   0  0.000000  15  72.6   72.7  72.640000

                           t_min     t_next     t_out     t_std
time
2018-05-23 11:53:14-07:00   74.4  74.500000  71.00063  0.028974
2018-05-23 11:54:14-07:00   72.5  72.766667  71.00063  0.094907
2018-05-23 12:01:14-07:00   73.5  73.500000  71.00063  0.000000
2018-05-23 12:02:14-07:00   72.6  72.600000  71.00063  0.045866
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 13:09:14-07:00   0   0  0.000000  15  73.200000  73.300000
2018-05-23 13:10:14-07:00   0   0  0.000000  13  74.000000  74.500000
2018-05-23 13:14:14-07:00   0   0  0.666667   1  73.233333  73.233333
2018-05-23 13:15:14-07:00   0   0  0.000000  15  72.981818  73.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 13:09:14-07:00  73.180707  73.000000  73.000000  73.800331
2018-05-23 13:10:14-07:00  74.278205  74.000000  74.500000  73.615735
2018-05-23 13:14:14-07:00  73.233333  73.233333  73.233333  73.000416
2018-05-23 13:15:14-07:00  72.744697  72.500000  73.000000  75.400160

                              t_std
time
2018-05-23 13:09:14-07:00  0.096184
2018-05-23 13:10:14-07:00  0.150694
2018-05-23 13:14:14-07:00  0.000000
2018-05-23 13:15:14-07:00  0.177951
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 13:14:14-07:00   0   0  0.666667   1  73.233333  73.233333
2018-05-23 13:15:14-07:00   0   0  0.000000  15  72.981818  73.000000
2018-05-23 13:15:14-07:00   0   0  1.333333   1  73.366667  73.366667
2018-05-23 13:16:14-07:00   0   0  0.000000  15  73.066667  73.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 13:14:14-07:00  73.233333  73.233333  73.233333  73.000416
2018-05-23 13:15:14-07:00  72.744697  72.500000  73.000000  75.400160
2018-05-23 13:15:14-07:00  73.366667  73.366667  73.366667  73.000416
2018-05-23 13:16:14-07:00  73.050000  73.000000  73.200000  75.666798

                              t_std
time
2018-05-23 13:14:14-07:00  0.000000
2018-05-23 13:15:14-07:00  0.177951
2018-05-23 13:15:14-07:00  0.000000
2018-05-23 13:16:14-07:00  0.079115
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 13:24:14-07:00   0   1  2.000000   5  74.600000  74.600000
2018-05-23 13:24:14-07:00   0   0  0.000000  15  73.000000  73.500000
2018-05-23 13:29:14-07:00   0   0  1.333333   1  74.400000  74.400000
2018-05-23 13:30:14-07:00   0   0  0.000000  15  74.133333  74.133333

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-23 13:24:14-07:00  74.554545   74.5    74.5  76.999989  0.045636
2018-05-23 13:24:14-07:00  73.216667   73.0    73.5  76.999989  0.182028
2018-05-23 13:29:14-07:00  74.400000   74.4    74.4  76.999989  0.000000
2018-05-23 13:30:14-07:00  73.850111   73.7    74.0  76.999989  0.142998
========
Action is by itself with action 1.818182 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 13:36:14-07:00   0   1  2.000000   5  73.600000  73.600000
2018-05-23 13:39:14-07:00   0   0  0.000000  15  73.500000  73.500000
2018-05-23 13:41:14-07:00   0   0  1.818182   1  73.472727  73.472727
2018-05-23 13:42:14-07:00   0   0  0.000000  15  73.166667  73.166667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 13:36:14-07:00  73.550000  73.500000  73.500000  76.999989
2018-05-23 13:39:14-07:00  73.333889  73.200000  73.200000  76.999989
2018-05-23 13:41:14-07:00  73.472727  73.472727  73.472727  76.999989
2018-05-23 13:42:14-07:00  72.913333  72.800000  73.133333  76.999989

                              t_std
time
2018-05-23 13:36:14-07:00  0.044721
2018-05-23 13:39:14-07:00  0.122189
2018-05-23 13:41:14-07:00  0.000000
2018-05-23 13:42:14-07:00  0.124647
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 13:41:14-07:00   0   0  1.818182   1  73.472727  73.472727
2018-05-23 13:42:14-07:00   0   0  0.000000  15  73.166667  73.166667
2018-05-23 13:44:14-07:00   0   0  1.666667   1  73.433333  73.433333
2018-05-23 13:45:14-07:00   0   0  0.000000  15  73.100000  73.409091

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 13:41:14-07:00  73.472727  73.472727  73.472727  76.999989
2018-05-23 13:42:14-07:00  72.913333  72.800000  73.133333  76.999989
2018-05-23 13:44:14-07:00  73.433333  73.433333  73.433333  76.999989
2018-05-23 13:45:14-07:00  73.140354  73.000000  73.409091  76.999989

                              t_std
time
2018-05-23 13:41:14-07:00  0.000000
2018-05-23 13:42:14-07:00  0.124647
2018-05-23 13:44:14-07:00  0.000000
2018-05-23 13:45:14-07:00  0.149795
========
Action is by itself with action 1.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 14:03:14-07:00   0   1  2.000000   5  74.516667  74.600000
2018-05-23 14:04:14-07:00   0   0  0.000000  15  73.100000  73.100000
2018-05-23 14:04:14-07:00   0   0  1.166667   1  74.200000  74.200000
2018-05-23 14:05:14-07:00   0   0  0.000000  15  74.163636  74.163636

                              t_mean      t_min  t_next      t_out     t_std
time
2018-05-23 14:03:14-07:00  74.583333  74.516667    74.6  76.999989  0.033333
2018-05-23 14:04:14-07:00  72.966788  72.800000    73.1  76.999989  0.100895
2018-05-23 14:04:14-07:00  74.200000  74.200000    74.2  76.999989  0.000000
2018-05-23 14:05:14-07:00  74.050354  74.000000    74.1  76.999989  0.054046
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 14:04:14-07:00   0   0  1.166667   1  74.200000  74.200000
2018-05-23 14:05:14-07:00   0   0  0.000000  15  74.163636  74.163636
2018-05-23 14:08:14-07:00   0   0  1.666667   1  74.450000  74.450000
2018-05-23 14:09:14-07:00   0   0  0.000000  15  74.090909  74.090909

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-23 14:04:14-07:00  74.200000  74.20   74.20  76.999989  0.000000
2018-05-23 14:05:14-07:00  74.050354  74.00   74.10  76.999989  0.054046
2018-05-23 14:08:14-07:00  74.450000  74.45   74.45  76.999989  0.000000
2018-05-23 14:09:14-07:00  73.673586  73.50   73.70  77.399946  0.158865

========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 14:09:14-07:00   0   0  0.000000  15  74.090909  74.090909
2018-05-23 14:09:14-07:00   0   0  0.000000  15  73.545455  73.545455
2018-05-23 14:09:14-07:00   0   0  0.727273   1  73.272727  73.272727
2018-05-23 14:10:14-07:00   0   0  0.000000  15  73.141667  73.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 14:09:14-07:00  73.673586  73.500000  73.700000  77.399946
2018-05-23 14:09:14-07:00  73.376566  73.300000  73.400000  77.399946
2018-05-23 14:09:14-07:00  73.272727  73.272727  73.272727  76.999989
2018-05-23 14:10:14-07:00  73.092020  73.000000  73.200000  77.533265

                              t_std
time
2018-05-23 14:09:14-07:00  0.158865
2018-05-23 14:09:14-07:00  0.062226
2018-05-23 14:09:14-07:00  0.000000
2018-05-23 14:10:14-07:00  0.071469
========
Action is by itself with action 1.500000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-23 14:36:14-07:00   0   1     2.0   6  74.600000  74.600000
2018-05-23 14:37:14-07:00   0   0     0.0  15  73.066667  73.133333
2018-05-23 14:38:14-07:00   0   0     1.5   1  73.350000  73.350000
2018-05-23 14:39:14-07:00   0   0     0.0  15  73.500000  73.500000

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-23 14:36:14-07:00  74.559091  74.50  74.500000  78.999775  0.044768
2018-05-23 14:37:14-07:00  72.907778  72.80  73.133333  78.999775  0.113017
2018-05-23 14:38:14-07:00  73.350000  73.35  73.350000  78.999775  0.000000
2018-05-23 14:39:14-07:00  73.291717  73.20  73.372727  78.999775  0.098892
========
Action is by itself with action 1.636364 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 14:39:14-07:00   0   0  0.000000  15  73.500000  73.500000
2018-05-23 14:39:14-07:00   0   0  0.000000  15  73.166667  73.200000
2018-05-23 14:39:14-07:00   0   0  1.636364   1  74.281818  74.281818
2018-05-23 14:40:14-07:00   0   0  0.000000  15  74.150000  74.150000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 14:39:14-07:00  73.291717  73.200000  73.372727  78.999775
2018-05-23 14:39:14-07:00  73.076000  73.000000  73.200000  78.999775
2018-05-23 14:39:14-07:00  74.281818  74.281818  74.281818  78.999775
2018-05-23 14:40:14-07:00  73.681313  73.500000  73.900000  78.999775

                              t_std
time
2018-05-23 14:39:14-07:00  0.098892
2018-05-23 14:39:14-07:00  0.065808
2018-05-23 14:39:14-07:00  0.000000
2018-05-23 14:40:14-07:00  0.191197
========
Action is by itself with action 0.500000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 14:39:14-07:00   0   0  1.636364   1  74.281818  74.281818
2018-05-23 14:40:14-07:00   0   0  0.000000  15  74.150000  74.150000
2018-05-23 14:42:14-07:00   0   0  0.500000   1  74.200000  74.200000
2018-05-23 14:43:14-07:00   0   0  0.000000  15  73.981818  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 14:39:14-07:00  74.281818  74.281818  74.281818  78.999775
2018-05-23 14:40:14-07:00  73.681313  73.500000  73.900000  78.999775
2018-05-23 14:42:14-07:00  74.200000  74.200000  74.200000  78.999775
2018-05-23 14:43:14-07:00  73.822273  73.600000  74.000000  78.999775

                              t_std
time
2018-05-23 14:39:14-07:00  0.000000
2018-05-23 14:40:14-07:00  0.191197
2018-05-23 14:42:14-07:00  0.000000
2018-05-23 14:43:14-07:00  0.145734
========
Action is by itself with action 0.545455 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 14:54:14-07:00   0   0  0.000000  15  73.400000  74.000000
2018-05-23 14:55:14-07:00   0   0  0.000000  13  73.933333  74.400000
2018-05-23 14:57:14-07:00   0   0  0.545455   1  73.509091  73.509091
2018-05-23 14:58:14-07:00   0   0  0.000000   5  74.000000  74.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 14:54:14-07:00  73.669596  73.400000  74.000000  78.999775
2018-05-23 14:55:14-07:00  74.179662  73.933333  74.400000  78.999775
2018-05-23 14:57:14-07:00  73.509091  73.509091  73.509091  78.999775
2018-05-23 14:58:14-07:00  74.266667  74.000000  74.400000  78.999775

                              t_std
time
2018-05-23 14:54:14-07:00  0.201156
2018-05-23 14:55:14-07:00  0.170420
2018-05-23 14:57:14-07:00  0.000000
2018-05-23 14:58:14-07:00  0.168655
========
Action is by itself with action 1.272727 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 15:10:14-07:00   0   0  0.333333   1  74.166667  74.166667
2018-05-23 15:11:14-07:00   0   0  0.000000  15  74.000000  74.300000
2018-05-23 15:14:14-07:00   0   0  1.272727   1  74.418182  74.418182
2018-05-23 15:15:14-07:00   0   0  0.000000  15  74.066667  74.150000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 15:10:14-07:00  74.166667  74.166667  74.166667  78.999775
2018-05-23 15:11:14-07:00  73.936889  73.700000  74.300000  79.999989
2018-05-23 15:14:14-07:00  74.418182  74.418182  74.418182  78.999775
2018-05-23 15:15:14-07:00  73.901717  73.700000  74.150000  80.800160

                              t_std
time
2018-05-23 15:10:14-07:00  0.000000
2018-05-23 15:11:14-07:00  0.146158
2018-05-23 15:14:14-07:00  0.000000
2018-05-23 15:15:14-07:00  0.145546
========
Action is by itself with action 1.818182 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 15:39:14-07:00   0   0  0.000000  15  74.400000  74.800000
2018-05-23 15:39:14-07:00   0   0  0.000000  15  74.600000  75.000000
2018-05-23 15:41:14-07:00   0   0  1.818182   1  74.472727  74.472727
2018-05-23 15:42:14-07:00   0   0  0.000000  15  74.200000  74.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 15:39:14-07:00  74.589293  74.400000  74.800000  82.000416
2018-05-23 15:39:14-07:00  74.802576  74.600000  75.000000  82.000416
2018-05-23 15:41:14-07:00  74.472727  74.472727  74.472727  82.000416
2018-05-23 15:42:14-07:00  73.960202  73.700000  74.200000  82.000416

                              t_std
time
2018-05-23 15:39:14-07:00  0.125377
2018-05-23 15:39:14-07:00  0.147654
2018-05-23 15:41:14-07:00  0.000000
2018-05-23 15:42:14-07:00  0.132698
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 16:13:14-07:00   0   1  2.000000   8  74.600000  74.800000
2018-05-23 16:15:14-07:00   0   0  0.000000  15  74.900000  75.100000
2018-05-23 16:21:14-07:00   0   0  1.333333   1  74.266667  74.266667
2018-05-23 16:22:14-07:00   0   0  0.000000  12  74.133333  74.208333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 16:13:14-07:00  74.708333  74.600000  74.600000  82.000416
2018-05-23 16:15:14-07:00  75.018889  74.900000  75.100000  82.000416
2018-05-23 16:21:14-07:00  74.266667  74.266667  74.266667  82.000416
2018-05-23 16:22:14-07:00  73.903472  73.700000  74.208333  82.000416

                              t_std
time
2018-05-23 16:13:14-07:00  0.093912
2018-05-23 16:15:14-07:00  0.077368
2018-05-23 16:21:14-07:00  0.000000
2018-05-23 16:22:14-07:00  0.172148
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 16:26:14-07:00   0   1  2.000000   6  74.600000  74.600000
2018-05-23 16:30:14-07:00   0   0  0.000000  15  75.100000  75.300000
2018-05-23 16:32:14-07:00   0   0  0.333333   1  74.166667  74.166667
2018-05-23 16:33:14-07:00   0   0  0.000000  15  73.966667  74.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 16:26:14-07:00  74.561111  74.500000  74.500000  82.000416
2018-05-23 16:30:14-07:00  75.180556  75.100000  75.300000  82.000416
2018-05-23 16:32:14-07:00  74.166667  74.166667  74.166667  82.000416
2018-05-23 16:33:14-07:00  74.006667  73.900000  74.200000  82.000416

                              t_std
time
2018-05-23 16:26:14-07:00  0.044790
2018-05-23 16:30:14-07:00  0.077559
2018-05-23 16:32:14-07:00  0.000000

2018-05-23 16:33:14-07:00  0.111022
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 16:39:14-07:00   0   0  0.000000  15  76.100000  76.363636
2018-05-23 16:39:14-07:00   0   0  0.000000  15  75.700000  75.966667
2018-05-23 16:43:14-07:00   0   0  1.666667   1  74.533333  74.533333
2018-05-23 16:44:14-07:00   0   0  0.000000  11  74.083333  74.233333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 16:39:14-07:00  76.211818  76.100000  76.363636  82.000416
2018-05-23 16:39:14-07:00  75.824747  75.700000  75.966667  82.000416
2018-05-23 16:43:14-07:00  74.533333  74.533333  74.533333  82.000416
2018-05-23 16:44:14-07:00  74.001515  73.900000  74.233333  82.000416

                              t_std
time
2018-05-23 16:39:14-07:00  0.086113
2018-05-23 16:39:14-07:00  0.074863
2018-05-23 16:43:14-07:00  0.000000
2018-05-23 16:44:14-07:00  0.088607
========
Action is by itself with action 1.818182 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 17:38:14-07:00   0   0  0.000000  15  76.766667  77.000000
2018-05-23 17:38:14-07:00   0   0  0.000000  15  76.666667  76.900000
2018-05-23 17:43:14-07:00   0   0  1.818182   1  74.736364  74.736364
2018-05-23 17:44:14-07:00   0   0  0.000000  13  74.054545  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 17:38:14-07:00  76.858747  76.766667  77.000000  82.999403
2018-05-23 17:38:14-07:00  76.772081  76.666667  76.900000  82.999403
2018-05-23 17:43:14-07:00  74.736364  74.736364  74.736364  82.999403
2018-05-23 17:44:14-07:00  73.900350  73.700000  74.100000  82.999403

                              t_std
time
2018-05-23 17:38:14-07:00  0.076558
2018-05-23 17:38:14-07:00  0.073825
2018-05-23 17:43:14-07:00  0.000000
2018-05-23 17:44:14-07:00  0.160859
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 17:43:14-07:00   0   0  1.818182   1  74.736364  74.736364
2018-05-23 17:44:14-07:00   0   0  0.000000  13  74.054545  74.100000
2018-05-23 17:48:14-07:00   0   0  0.333333   1  74.216667  74.216667
2018-05-23 17:49:14-07:00   0   0  0.000000   8  74.033333  74.033333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 17:43:14-07:00  74.736364  74.736364  74.736364  82.999403
2018-05-23 17:44:14-07:00  73.900350  73.700000  74.100000  82.999403
2018-05-23 17:48:14-07:00  74.216667  74.216667  74.216667  82.999403
2018-05-23 17:49:14-07:00  73.953485  73.900000  74.000000  82.999403

                              t_std
time
2018-05-23 17:43:14-07:00  0.000000
2018-05-23 17:44:14-07:00  0.160859
2018-05-23 17:48:14-07:00  0.000000
2018-05-23 17:49:14-07:00  0.049330
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 18:00:14-07:00   0   0  0.000000  15  77.600000  77.800000
2018-05-23 18:00:14-07:00   0   0  0.000000  15  77.000000  77.200000
2018-05-23 18:06:14-07:00   0   0  1.666667   1  74.433333  74.433333
2018-05-23 18:07:14-07:00   0   0  0.000000  15  74.066667  74.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 18:00:14-07:00  77.656818  77.600000  77.800000  82.999403
2018-05-23 18:00:14-07:00  77.123333  77.000000  77.200000  82.999403
2018-05-23 18:06:14-07:00  74.433333  74.433333  74.433333  82.999403
2018-05-23 18:07:14-07:00  73.890707  73.600000  74.200000  82.999403

                              t_std
time
2018-05-23 18:00:14-07:00  0.062153
2018-05-23 18:00:14-07:00  0.072979
2018-05-23 18:06:14-07:00  0.000000
2018-05-23 18:07:14-07:00  0.213552
========
Action is by itself with action 1.636364 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-23 18:15:14-07:00   0   0  0.000000  14  77.2   77.5  77.344026
2018-05-23 18:15:14-07:00   0   0  0.000000  14  77.8   77.9  77.845238
2018-05-23 18:21:14-07:00   0   0  1.636364   1  74.6   74.6  74.600000
2018-05-23 18:22:14-07:00   0   0  0.000000   1  74.4   74.4  74.400000

                           t_min  t_next      t_out     t_std
time
2018-05-23 18:15:14-07:00   77.2    77.5  82.999403  0.108006
2018-05-23 18:15:14-07:00   77.8    77.9  82.999403  0.048152
2018-05-23 18:21:14-07:00   74.6    74.6  82.999403  0.000000
2018-05-23 18:22:14-07:00   74.4    74.4  82.999403  0.000000
========
Action is by itself with action 1.272727 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 18:30:14-07:00   0   1  2.000000  15  77.141667  77.200000
2018-05-23 18:31:14-07:00   0   0  0.000000  11  74.050000  74.050000
2018-05-23 18:33:14-07:00   0   0  1.272727   1  74.390909  74.390909
2018-05-23 18:34:14-07:00   0   0  0.000000  10  74.163636  74.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 18:30:14-07:00  76.633687  75.800000  75.800000  82.999403
2018-05-23 18:31:14-07:00  73.958678  73.900000  74.000000  82.999403
2018-05-23 18:33:14-07:00  74.390909  74.390909  74.390909  82.999403
2018-05-23 18:34:14-07:00  74.150530  74.100000  74.200000  82.999403

                              t_std
time
2018-05-23 18:30:14-07:00  0.564907
2018-05-23 18:31:14-07:00  0.051516
2018-05-23 18:33:14-07:00  0.000000
2018-05-23 18:34:14-07:00  0.045003
========
Action is by itself with action 0.545455 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 19:05:14-07:00   0   1  2.000000   4  68.800000  68.800000
2018-05-23 19:08:14-07:00   0   0  0.000000   3  74.300000  74.500000
2018-05-23 19:09:14-07:00   0   0  0.545455   1  68.236364  68.236364
2018-05-23 19:10:14-07:00   0   0  0.000000   7  67.966667  68.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 19:05:14-07:00  68.737500  68.600000  68.600000  82.999403
2018-05-23 19:08:14-07:00  74.384848  74.300000  74.500000  82.999403
2018-05-23 19:09:14-07:00  68.236364  68.236364  68.236364  82.999403
2018-05-23 19:10:14-07:00  68.033333  67.900000  68.100000  82.999403

                              t_std
time
2018-05-23 19:05:14-07:00  0.081968
2018-05-23 19:08:14-07:00  0.084414
2018-05-23 19:09:14-07:00  0.000000
2018-05-23 19:10:14-07:00  0.079682
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt    t_in  t_max     t_mean  \
time
2018-05-23 19:18:14-07:00   1   0  1.000000   1  74.350  74.35  74.350000
2018-05-23 19:19:14-07:00   0   0  0.000000  15  74.050  74.20  74.035778
2018-05-23 19:21:14-07:00   0   0  1.333333   1  68.600  68.60  68.600000
2018-05-23 19:22:14-07:00   0   0  0.000000   8  68.075  68.30  68.026042

                           t_min  t_next      t_out     t_std
time
2018-05-23 19:18:14-07:00  74.35   74.35  82.999403  0.000000
2018-05-23 19:19:14-07:00  73.90   74.20  81.266255  0.111232
2018-05-23 19:21:14-07:00  68.60   68.60  80.999617  0.000000
2018-05-23 19:22:14-07:00  67.90   68.30  80.999617  0.114370
========
Action is by itself with action 0.545455 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 19:34:14-07:00   0   0  0.000000   6  74.283333  74.445455
2018-05-23 19:34:14-07:00   0   0  0.000000  13  74.058333  74.200000
2018-05-23 19:35:14-07:00   0   0  0.545455   1  68.227273  68.227273
2018-05-23 19:36:14-07:00   0   0  0.000000  10  68.066667  68.600000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 19:34:14-07:00  74.388131  74.283333  74.445455  80.999617
2018-05-23 19:34:14-07:00  73.903438  73.700000  74.200000  80.999617
2018-05-23 19:35:14-07:00  68.227273  68.227273  68.227273  80.999617
2018-05-23 19:36:14-07:00  68.127576  67.900000  68.600000  80.999617

                              t_std
time
2018-05-23 19:34:14-07:00  0.049719
2018-05-23 19:34:14-07:00  0.159679
2018-05-23 19:35:14-07:00  0.000000
2018-05-23 19:36:14-07:00  0.194106
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 20:23:14-07:00   0   0  1.333333   1  74.233333  74.233333
2018-05-23 20:24:14-07:00   0   0  0.000000  15  74.066667  74.066667
2018-05-23 20:25:14-07:00   0   0  1.333333   1  68.600000  68.600000
2018-05-23 20:26:14-07:00   0   0  0.000000  13  68.090909  68.350000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 20:23:14-07:00  74.233333  74.233333  74.233333  78.000789
2018-05-23 20:24:14-07:00  73.945354  73.900000  74.000000  78.000789
2018-05-23 20:25:14-07:00  68.600000  68.600000  68.600000  78.000789
2018-05-23 20:26:14-07:00  67.968473  67.800000  68.350000  78.000789

                              t_std
time
2018-05-23 20:23:14-07:00  0.000000
2018-05-23 20:24:14-07:00  0.053835
2018-05-23 20:25:14-07:00  0.000000
2018-05-23 20:26:14-07:00  0.132959
========
Action is by itself with action 1.272727 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 20:45:14-07:00   0   1  2.000000  15  69.841667  69.841667
2018-05-23 20:45:14-07:00   0   0  0.000000  12  67.833333  68.436364
2018-05-23 20:47:14-07:00   0   0  1.272727   1  68.390909  68.390909
2018-05-23 20:48:14-07:00   0   0  0.000000   7  68.166667  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 20:45:14-07:00  69.645505  69.500000  69.500000  78.000789
2018-05-23 20:45:14-07:00  67.909596  67.700000  68.436364  78.000789
2018-05-23 20:47:14-07:00  68.390909  68.390909  68.390909  78.000789
2018-05-23 20:48:14-07:00  68.146429  68.100000  68.200000  78.000789

                              t_std
time
2018-05-23 20:45:14-07:00  0.125991
2018-05-23 20:45:14-07:00  0.194703
2018-05-23 20:47:14-07:00  0.000000

2018-05-23 20:48:14-07:00  0.042691
========
Action is by itself with action 1.833333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 21:05:14-07:00   0   0  0.545455   1  68.227273  68.227273
2018-05-23 21:06:14-07:00   0   0  0.000000   6  68.133333  68.200000
2018-05-23 21:08:14-07:00   0   0  1.833333   1  74.558333  74.558333
2018-05-23 21:09:14-07:00   0   0  0.000000  15  74.070000  74.070000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 21:05:14-07:00  68.227273  68.227273  68.227273  78.000789
2018-05-23 21:06:14-07:00  68.142222  68.100000  68.200000  78.000789
2018-05-23 21:08:14-07:00  74.558333  74.558333  74.558333  78.000789
2018-05-23 21:09:14-07:00  73.760222  73.600000  74.000000  77.200511

                              t_std
time
2018-05-23 21:05:14-07:00  0.000000
2018-05-23 21:06:14-07:00  0.042455
2018-05-23 21:08:14-07:00  0.000000
2018-05-23 21:09:14-07:00  0.174987
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 21:08:14-07:00   0   0  1.833333   1  74.558333  74.558333
2018-05-23 21:09:14-07:00   0   0  0.000000  15  74.070000  74.070000
2018-05-23 21:10:14-07:00   0   0  1.666667   1  74.283333  74.283333
2018-05-23 21:11:14-07:00   0   0  0.000000  15  74.166667  74.166667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 21:08:14-07:00  74.558333  74.558333  74.558333  78.000789
2018-05-23 21:09:14-07:00  73.760222  73.600000  74.000000  77.200511
2018-05-23 21:10:14-07:00  74.283333  74.283333  74.283333  78.000789
2018-05-23 21:11:14-07:00  73.865808  73.700000  74.000000  76.666993

                              t_std
time
2018-05-23 21:08:14-07:00  0.000000
2018-05-23 21:09:14-07:00  0.174987
2018-05-23 21:10:14-07:00  0.000000
2018-05-23 21:11:14-07:00  0.129420
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 21:21:14-07:00   0   0  0.000000  15  67.983333  68.800000
2018-05-23 21:22:14-07:00   0   0  0.000000  15  68.163636  69.000000
2018-05-23 21:23:14-07:00   0   0  0.166667   1  68.133333  68.133333
2018-05-23 21:24:14-07:00   0   0  0.000000  15  68.058333  69.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 21:21:14-07:00  68.023889  67.800000  68.800000  73.999403
2018-05-23 21:22:14-07:00  68.404576  68.100000  69.000000  73.999403
2018-05-23 21:23:14-07:00  68.133333  68.133333  68.133333  73.999403
2018-05-23 21:24:14-07:00  68.465000  68.000000  69.000000  73.999403

                              t_std
time
2018-05-23 21:21:14-07:00  0.271976
2018-05-23 21:22:14-07:00  0.296488
2018-05-23 21:23:14-07:00  0.000000
2018-05-23 21:24:14-07:00  0.395837
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in      t_max     t_mean  \
time
2018-05-23 21:24:14-07:00   0   0  0.000000   7  74.0  74.300000  74.187013
2018-05-23 21:26:14-07:00   0   0  0.000000  15  74.0  74.145455  74.078586
2018-05-23 21:29:14-07:00   0   0  1.333333   1  69.2  69.200000  69.200000
2018-05-23 21:30:14-07:00   0   0  0.000000  15  69.4  70.500000  69.808788

                           t_min     t_next      t_out     t_std
time
2018-05-23 21:24:14-07:00   74.0  74.300000  73.999403  0.134740
2018-05-23 21:26:14-07:00   74.0  74.145455  73.999403  0.044446
2018-05-23 21:29:14-07:00   69.2  69.200000  73.999403  0.000000
2018-05-23 21:30:14-07:00   69.4  70.500000  73.999403  0.320448
========
Action is by itself with action 0.181818 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 21:36:14-07:00   0   0  0.000000  15  68.990909  70.500000
2018-05-23 21:37:14-07:00   0   0  0.000000  15  69.000000  70.000000
2018-05-23 21:37:14-07:00   0   0  0.181818   1  74.227273  74.227273
2018-05-23 21:38:14-07:00   0   0  0.000000  15  73.983333  73.983333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 21:36:14-07:00  69.658232  68.990909  70.500000  73.999403
2018-05-23 21:37:14-07:00  69.590960  69.000000  70.000000  73.999403
2018-05-23 21:37:14-07:00  74.227273  74.227273  74.227273  73.999403
2018-05-23 21:38:14-07:00  73.664444  73.400000  73.833333  73.999403

                              t_std
time
2018-05-23 21:36:14-07:00  0.475616
2018-05-23 21:37:14-07:00  0.374349
2018-05-23 21:37:14-07:00  0.000000
2018-05-23 21:38:14-07:00  0.211596
========
Action is by itself with action 1.833333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 22:04:14-07:00   0   1  2.000000   5  74.500000  74.500000
2018-05-23 22:06:14-07:00   0   0  0.000000  15  71.454545  72.200000
2018-05-23 22:07:14-07:00   0   0  1.833333   1  74.383333  74.383333
2018-05-23 22:07:14-07:00   0   0  0.000000  15  71.300000  71.900000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-23 22:04:14-07:00  74.473333  74.400000  74.400000  72.200139
2018-05-23 22:06:14-07:00  71.870303  71.454545  72.200000  71.000630
2018-05-23 22:07:14-07:00  74.383333  74.383333  74.383333  71.000630
2018-05-23 22:07:14-07:00  71.553333  71.300000  71.900000  71.000630

                              t_std
time
2018-05-23 22:04:14-07:00  0.038873
2018-05-23 22:06:14-07:00  0.246082
2018-05-23 22:07:14-07:00  0.000000
2018-05-23 22:07:14-07:00  0.180862
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 22:07:14-07:00   0   0  0.000000  15  71.300000  71.900000
2018-05-23 22:08:14-07:00   0   0  0.000000  15  74.200000  74.200000
2018-05-23 22:09:14-07:00   0   0  0.333333   1  74.233333  74.233333
2018-05-23 22:09:14-07:00   0   0  0.000000  15  71.600000  72.200000

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-23 22:07:14-07:00  71.553333  71.300000  71.900000  71.00063  0.180862
2018-05-23 22:08:14-07:00  73.680000  73.500000  73.700000  71.00063  0.176160
2018-05-23 22:09:14-07:00  74.233333  74.233333  74.233333  71.00063  0.000000
2018-05-23 22:09:14-07:00  71.886778  71.600000  72.200000  71.00063  0.211877
========
Action is by itself with action 1.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-23 23:38:14-07:00   0   1  2.000000   3  74.500000  74.500000
2018-05-23 23:39:14-07:00   0   0  0.000000  15  73.500000  73.600000
2018-05-23 23:41:14-07:00   0   0  1.166667   1  74.275000  74.275000
2018-05-23 23:42:14-07:00   0   0  0.000000  15  74.027273  74.027273

                              t_mean   t_min  t_next      t_out     t_std
time
2018-05-23 23:38:14-07:00  74.483333  74.450  74.450  69.000789  0.023570
2018-05-23 23:39:14-07:00  73.523636  73.500  73.600  69.000789  0.040493
2018-05-23 23:41:14-07:00  74.275000  74.275  74.275  69.000789  0.000000
2018-05-23 23:42:14-07:00  73.489848  73.300  73.400  69.000789  0.239426
========
Action is by itself with action 0.500000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 07:47:14-07:00   0   0  0.666667   1  68.433333  68.433333
2018-05-24 07:48:14-07:00   0   0  0.000000  15  68.009091  68.009091
2018-05-24 07:51:14-07:00   0   0  0.500000   1  68.291667  68.291667
2018-05-24 07:52:14-07:00   0   0  0.000000  14  68.100000  68.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-24 07:47:14-07:00  68.433333  68.433333  68.433333  55.999403
2018-05-24 07:48:14-07:00  67.838586  67.700000  68.000000  55.999403
2018-05-24 07:51:14-07:00  68.291667  68.291667  68.291667  55.999403
2018-05-24 07:52:14-07:00  68.007143  67.900000  68.300000  55.999403

                              t_std
time
2018-05-24 07:47:14-07:00  0.000000
2018-05-24 07:48:14-07:00  0.110924
2018-05-24 07:51:14-07:00  0.000000

2018-05-24 07:52:14-07:00  0.109057
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 07:52:14-07:00   0   0  0.000000  15  72.100000  72.100000
2018-05-24 07:52:14-07:00   0   0  0.000000  15  67.100000  68.000000
2018-05-24 07:53:14-07:00   0   0  0.166667   1  68.183333  68.183333
2018-05-24 07:54:14-07:00   0   0  0.000000  15  68.100000  68.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-24 07:52:14-07:00  71.834444  71.700000  71.700000  56.266162
2018-05-24 07:52:14-07:00  67.373889  67.100000  68.000000  56.266162
2018-05-24 07:53:14-07:00  68.183333  68.183333  68.183333  55.999403
2018-05-24 07:54:14-07:00  68.064444  67.900000  68.300000  56.799680

                              t_std
time
2018-05-24 07:52:14-07:00  0.143044
2018-05-24 07:52:14-07:00  0.279067
2018-05-24 07:53:14-07:00  0.000000
2018-05-24 07:54:14-07:00  0.152767
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 08:07:14-07:00   0   1  2.000000   7  68.600000  68.600000
2018-05-24 08:09:14-07:00   0   0  0.000000  15  68.233333  68.233333
2018-05-24 08:11:14-07:00   0   0  1.333333   1  68.400000  68.400000
2018-05-24 08:12:14-07:00   0   0  0.000000  15  69.800000  69.800000

                              t_mean  t_min  t_next      t_out         t_std
time
2018-05-24 08:07:14-07:00  68.566667   68.5    68.5  60.000789  4.364358e-02
2018-05-24 08:09:14-07:00  67.667475   67.3    67.4  60.000789  3.329023e-01
2018-05-24 08:11:14-07:00  68.400000   68.4    68.4  60.000789  0.000000e+00
2018-05-24 08:12:14-07:00  69.800000   69.8    69.8  60.000789  1.797547e-14
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-24 08:12:14-07:00   0   0  0.000000  15  69.800000   69.8  69.800000
2018-05-24 08:12:14-07:00   0   0  0.000000  13  68.133333   68.3  67.560431
2018-05-24 08:14:14-07:00   0   0  1.333333   1  68.400000   68.4  68.400000
2018-05-24 08:15:14-07:00   0   0  0.000000  13  68.166667   68.3  68.029254

                               t_min  t_next      t_out         t_std
time
2018-05-24 08:12:14-07:00  69.800000    69.8  60.000789  1.797547e-14
2018-05-24 08:12:14-07:00  61.727273    68.3  60.000789  1.688745e+00
2018-05-24 08:14:14-07:00  68.400000    68.4  60.000789  0.000000e+00
2018-05-24 08:15:14-07:00  67.900000    68.3  60.000789  1.099931e-01
========
Action is by itself with action 1.454545 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 08:29:14-07:00   0   1  2.000000   6  68.500000  68.500000
2018-05-24 08:34:14-07:00   0   0  0.000000  10  68.191667  68.191667
2018-05-24 08:35:14-07:00   0   0  1.454545   1  68.245455  68.245455
2018-05-24 08:36:14-07:00   0   0  0.000000  13  68.066667  68.318182

                              t_mean      t_min     t_next      t_out  \
time
2018-05-24 08:29:14-07:00  68.483333  68.400000  68.400000  60.000789
2018-05-24 08:34:14-07:00  68.060076  68.000000  68.100000  60.000789
2018-05-24 08:35:14-07:00  68.245455  68.245455  68.245455  60.000789
2018-05-24 08:36:14-07:00  67.984091  67.900000  68.318182  60.000789

                              t_std
time
2018-05-24 08:29:14-07:00  0.037268
2018-05-24 08:34:14-07:00  0.060494
2018-05-24 08:35:14-07:00  0.000000
2018-05-24 08:36:14-07:00  0.109765
========
Action is by itself with action 1.166667 for data:
                           a1  a2    action  dt       t_in   t_max     t_mean  \
time
2018-05-24 08:52:14-07:00   0   0  0.000000  15  71.900000  72.200  72.070000
2018-05-24 08:54:14-07:00   0   0  0.000000  15  68.100000  68.200  67.977222
2018-05-24 08:54:14-07:00   0   0  1.166667   1  68.375000  68.375  68.375000
2018-05-24 08:55:14-07:00   0   0  0.000000  15  68.141667  68.600  68.245051

                            t_min  t_next      t_out     t_std
time
2018-05-24 08:52:14-07:00  71.900  71.900  60.067388  0.115181
2018-05-24 08:54:14-07:00  67.900  68.200  60.200586  0.085876
2018-05-24 08:54:14-07:00  68.375  68.375  60.000789  0.000000
2018-05-24 08:55:14-07:00  68.100  68.600  60.267185  0.186277
========
Action is by itself with action 1.818182 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 12:25:14-07:00   0   0  0.000000  15  73.200000  73.200000
2018-05-24 12:27:14-07:00   0   0  0.000000  15  72.300000  72.500000
2018-05-24 12:31:14-07:00   0   0  1.818182   1  73.281818  73.281818
2018-05-24 12:32:14-07:00   0   0  0.000000  15  73.100000  73.300000

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-24 12:25:14-07:00  73.156970  73.100000  73.100000  71.00063  0.047814
2018-05-24 12:27:14-07:00  72.425455  72.300000  72.500000  71.00063  0.070512
2018-05-24 12:31:14-07:00  73.281818  73.281818  73.281818  71.00063  0.000000
2018-05-24 12:32:14-07:00  73.134444  73.100000  73.300000  71.00063  0.071094
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 12:55:14-07:00   0   0  0.000000  15  73.400000  73.500000
2018-05-24 12:57:14-07:00   0   0  0.000000  15  72.700000  73.000000
2018-05-24 13:05:14-07:00   0   0  0.363636   1  73.200000  73.200000
2018-05-24 13:06:14-07:00   0   0  0.000000  15  73.116667  73.116667

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-24 12:55:14-07:00  73.449444   73.4    73.4  72.067183  0.047186
2018-05-24 12:57:14-07:00  72.812929   72.7    73.0  72.600459  0.105586
2018-05-24 13:05:14-07:00  73.200000   73.2    73.2  71.000630  0.000000
2018-05-24 13:06:14-07:00  73.101111   73.1    73.1  75.000203  0.004157
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 13:06:14-07:00   0   0  0.000000  15  73.116667  73.116667
2018-05-24 13:07:14-07:00   0   0  0.000000  12  74.400000  74.500000
2018-05-24 13:07:14-07:00   0   0  1.666667   1  73.583333  73.583333
2018-05-24 13:07:14-07:00   0   0  0.000000  15  73.100000  73.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-24 13:06:14-07:00  73.101111  73.100000  73.100000  75.000203
2018-05-24 13:07:14-07:00  74.444167  74.400000  74.500000  75.000203
2018-05-24 13:07:14-07:00  73.583333  73.583333  73.583333  75.000203
2018-05-24 13:07:14-07:00  73.057778  73.000000  73.000000  75.000203

                              t_std
time
2018-05-24 13:06:14-07:00  0.004157
2018-05-24 13:07:14-07:00  0.047864
2018-05-24 13:07:14-07:00  0.000000
2018-05-24 13:07:14-07:00  0.047868
========
Action is by itself with action 1.600000 for data:
                           a1  a2  action  dt   t_in      t_max     t_mean  \
time
2018-05-24 13:10:14-07:00   0   0     0.0  15  73.40  73.400000  73.221313
2018-05-24 13:12:14-07:00   0   0     0.0  15  73.00  73.241667  73.127222
2018-05-24 13:13:14-07:00   0   0     1.6   1  73.44  73.440000  73.440000
2018-05-24 13:14:14-07:00   0   0     0.0  15  73.15  73.300000  73.060000

                           t_min     t_next      t_out     t_std
time
2018-05-24 13:10:14-07:00  73.10  73.200000  75.000203  0.098418
2018-05-24 13:12:14-07:00  73.00  73.241667  75.000203  0.075060
2018-05-24 13:13:14-07:00  73.44  73.440000  75.000203  0.000000
2018-05-24 13:14:14-07:00  73.00  73.300000  75.000203  0.106771
========
Action is by itself with action 1.272727 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 13:34:14-07:00   0   1  2.000000   6  73.600000  73.700000
2018-05-24 13:37:14-07:00   0   0  0.000000  15  73.400000  73.400000
2018-05-24 13:38:14-07:00   0   0  1.272727   1  73.290909  73.290909
2018-05-24 13:39:14-07:00   0   0  0.000000  15  73.000000  73.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-24 13:34:14-07:00  73.658333  73.600000  73.700000  75.000203
2018-05-24 13:37:14-07:00  73.035556  72.800000  72.916667  75.000203
2018-05-24 13:38:14-07:00  73.290909  73.290909  73.290909  75.000203
2018-05-24 13:39:14-07:00  72.643374  72.500000  72.900000  75.000203

                              t_std
time
2018-05-24 13:34:14-07:00  0.044876
2018-05-24 13:37:14-07:00  0.255811
2018-05-24 13:38:14-07:00  0.000000
2018-05-24 13:39:14-07:00  0.146758
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt   t_in      t_max     t_mean  \
time
2018-05-24 13:42:14-07:00   0   0  0.000000  15  73.50  73.816667  73.634444
2018-05-24 13:52:14-07:00   0   0  0.000000  15  73.00  73.600000  73.316970
2018-05-24 13:54:14-07:00   0   0  0.333333   1  74.45  74.450000  74.450000
2018-05-24 13:54:14-07:00   0   0  0.000000   8  73.00  73.300000  73.136364

                           t_min     t_next      t_out     t_std
time
2018-05-24 13:42:14-07:00  73.50  73.816667  75.000203  0.083326
2018-05-24 13:52:14-07:00  73.00  73.600000  75.200242  0.233617
2018-05-24 13:54:14-07:00  74.45  74.450000  75.000203  0.000000
2018-05-24 13:54:14-07:00  73.00  73.300000  75.000203  0.140395
========
Action is by itself with action 0.500000 for data:
                           a1  a2  action  dt       t_in  t_max     t_mean  \
time
2018-05-24 14:09:14-07:00   0   0     0.0  15  73.060000  73.06  72.813848
2018-05-24 14:11:14-07:00   0   0     0.0  15  72.800000  73.05  72.903333
2018-05-24 14:12:14-07:00   0   0     0.5   1  73.150000  73.15  73.150000
2018-05-24 14:12:14-07:00   0   0     0.0  15  74.033333  74.30  74.187222

                               t_min  t_next      t_out     t_std
time
2018-05-24 14:09:14-07:00  72.700000   73.00  78.000789  0.109030
2018-05-24 14:11:14-07:00  72.800000   73.05  78.000789  0.100775
2018-05-24 14:12:14-07:00  73.150000   73.15  78.000789  0.000000
2018-05-24 14:12:14-07:00  74.033333   74.30  78.000789  0.086220

========
Action is by itself with action 1.500000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-24 14:46:14-07:00   0   0     0.0  15  72.983333  72.983333
2018-05-24 14:46:14-07:00   0   0     0.0  15  73.025000  73.025000
2018-05-24 14:46:14-07:00   0   0     1.5   1  73.425000  73.425000
2018-05-24 14:47:14-07:00   0   0     0.0  15  73.118182  73.118182

                              t_mean   t_min  t_next      t_out     t_std
time
2018-05-24 14:46:14-07:00  72.534848  72.300  72.500  78.000789  0.229511
2018-05-24 14:46:14-07:00  72.610455  72.400  72.700  78.000789  0.167116
2018-05-24 14:46:14-07:00  73.425000  73.425  73.425  78.000789  0.000000
2018-05-24 14:47:14-07:00  72.720859  72.600  72.700  78.000789  0.147714
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 15:16:14-07:00   0   0  0.000000  15  73.033333  73.400000
2018-05-24 15:17:14-07:00   0   0  0.000000  15  73.466667  74.000000
2018-05-24 15:18:14-07:00   0   0  0.666667   1  74.200000  74.200000
2018-05-24 15:19:14-07:00   0   0  0.000000  15  74.000000  74.066667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-24 15:16:14-07:00  73.249697  73.033333  73.400000  76.666389
2018-05-24 15:17:14-07:00  73.729949  73.466667  74.000000  76.532949
2018-05-24 15:18:14-07:00  74.200000  74.200000  74.200000  78.000789
2018-05-24 15:19:14-07:00  73.893333  73.700000  74.066667  76.266069

                              t_std
time
2018-05-24 15:16:14-07:00  0.129871
2018-05-24 15:17:14-07:00  0.158147
2018-05-24 15:18:14-07:00  0.000000
2018-05-24 15:19:14-07:00  0.118759
========
Action is by itself with action 1.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 15:46:14-07:00   0   0  0.000000  15  74.350000  74.600000
2018-05-24 15:46:14-07:00   0   0  0.000000  15  74.050000  74.300000
2018-05-24 15:47:14-07:00   0   0  1.166667   1  74.333333  74.333333
2018-05-24 15:47:14-07:00   0   0  0.000000  15  74.327273  74.600000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-24 15:46:14-07:00  74.491667  74.350000  74.600000  75.999189
2018-05-24 15:46:14-07:00  74.191667  74.050000  74.300000  75.999189
2018-05-24 15:47:14-07:00  74.333333  74.333333  74.333333  75.999189
2018-05-24 15:47:14-07:00  74.486465  74.327273  74.600000  75.999189

                              t_std
time
2018-05-24 15:46:14-07:00  0.084711
2018-05-24 15:46:14-07:00  0.084711
2018-05-24 15:47:14-07:00  0.000000
2018-05-24 15:47:14-07:00  0.086738
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 16:02:14-07:00   0   0  0.000000  15  74.636364  74.933333
2018-05-24 16:03:14-07:00   0   0  0.000000   5  74.300000  74.366667
2018-05-24 16:06:14-07:00   0   0  0.333333   1  74.166667  74.166667
2018-05-24 16:07:14-07:00   0   0  0.000000  15  74.000000  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-24 16:02:14-07:00  74.839646  74.636364  74.933333  77.467029
2018-05-24 16:03:14-07:00  74.313333  74.300000  74.366667  76.799829
2018-05-24 16:06:14-07:00  74.166667  74.166667  74.166667  78.000789
2018-05-24 16:07:14-07:00  73.805000  73.500000  74.000000  78.000789

                              t_std
time
2018-05-24 16:02:14-07:00  0.073757
2018-05-24 16:03:14-07:00  0.026667
2018-05-24 16:06:14-07:00  0.000000
2018-05-24 16:07:14-07:00  0.201517
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 16:31:14-07:00   0   0  0.000000  15  75.133333  75.300000
2018-05-24 16:32:14-07:00   0   0  0.000000  15  75.200000  75.300000
2018-05-24 16:32:14-07:00   0   0  0.666667   1  74.333333  74.333333
2018-05-24 16:33:14-07:00   0   0  0.000000  15  73.983333  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-24 16:31:14-07:00  75.218889  75.133333  75.300000  78.000789
2018-05-24 16:32:14-07:00  75.243030  75.200000  75.300000  78.000789
2018-05-24 16:32:14-07:00  74.333333  74.333333  74.333333  78.000789
2018-05-24 16:33:14-07:00  73.836465  73.600000  74.000000  78.000789

                              t_std
time
2018-05-24 16:31:14-07:00  0.045893
2018-05-24 16:32:14-07:00  0.047814
2018-05-24 16:32:14-07:00  0.000000
2018-05-24 16:33:14-07:00  0.158111
========
Action is by itself with action 0.181818 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 16:50:14-07:00   0   1  2.000000   7  74.600000  74.600000
2018-05-24 16:52:14-07:00   0   0  0.000000  15  75.800000  75.925000
2018-05-24 16:57:14-07:00   0   0  0.181818   1  74.136364  74.136364
2018-05-24 16:58:14-07:00   0   0  0.000000  15  74.016667  74.209091

                              t_mean      t_min     t_next      t_out  \
time
2018-05-24 16:50:14-07:00  74.562338  74.500000  74.500000  78.000789
2018-05-24 16:52:14-07:00  75.849444  75.800000  75.925000  77.934069
2018-05-24 16:57:14-07:00  74.136364  74.136364  74.136364  78.000789
2018-05-24 16:58:14-07:00  73.910354  73.700000  74.209091  77.533749

                              t_std
time
2018-05-24 16:50:14-07:00  0.044913
2018-05-24 16:52:14-07:00  0.051141
2018-05-24 16:57:14-07:00  0.000000
2018-05-24 16:58:14-07:00  0.181409
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 17:07:14-07:00   0   1  2.000000   5  74.500000  74.500000
2018-05-24 17:07:14-07:00   0   0  0.000000  15  76.000000  76.100000
2018-05-24 17:12:14-07:00   0   0  0.333333   1  74.150000  74.150000
2018-05-24 17:13:14-07:00   0   0  0.000000  15  73.933333  74.081818

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-24 17:07:14-07:00  74.475000  74.40  74.400000  76.999989  0.038730
2018-05-24 17:07:14-07:00  76.055556  76.00  76.100000  76.999989  0.048177
2018-05-24 17:12:14-07:00  74.150000  74.15  74.150000  76.999989  0.000000
2018-05-24 17:13:14-07:00  73.805859  73.50  74.081818  76.999989  0.217137
========
Action is by itself with action 0.909091 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 17:16:14-07:00   0   0  0.000000  15  75.700000  75.900000
2018-05-24 17:17:14-07:00   0   0  0.000000  15  75.700000  75.900000
2018-05-24 17:20:14-07:00   0   0  0.909091   1  74.236364  74.236364
2018-05-24 17:21:14-07:00   0   0  0.000000  15  74.050000  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-24 17:16:14-07:00  75.799091  75.700000  75.900000  76.999989
2018-05-24 17:17:14-07:00  75.791263  75.700000  75.900000  76.999989
2018-05-24 17:20:14-07:00  74.236364  74.236364  74.236364  76.999989
2018-05-24 17:21:14-07:00  73.879444  73.700000  74.100000  76.999989

                              t_std
time
2018-05-24 17:16:14-07:00  0.066602
2018-05-24 17:17:14-07:00  0.061036
2018-05-24 17:20:14-07:00  0.000000
2018-05-24 17:21:14-07:00  0.172156
========
Action is by itself with action 1.454545 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 17:38:14-07:00   0   1  2.000000   6  74.600000  74.600000
2018-05-24 17:41:14-07:00   0   0  0.000000  15  74.100000  74.100000
2018-05-24 17:44:14-07:00   0   0  1.454545   1  74.390909  74.390909
2018-05-24 17:45:14-07:00   0   0  0.000000  15  74.081818  74.081818

                              t_mean      t_min     t_next      t_out  \
time
2018-05-24 17:38:14-07:00  74.575000  74.500000  74.500000  76.999989
2018-05-24 17:41:14-07:00  73.880354  73.700000  74.090909  76.999989
2018-05-24 17:44:14-07:00  74.390909  74.390909  74.390909  76.999989
2018-05-24 17:45:14-07:00  73.802121  73.600000  74.000000  76.999989

                              t_std
time
2018-05-24 17:38:14-07:00  0.038188
2018-05-24 17:41:14-07:00  0.148007
2018-05-24 17:44:14-07:00  0.000000
2018-05-24 17:45:14-07:00  0.169059
========
Action is by itself with action 1.818182 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 18:01:14-07:00   0   0  0.000000  15  75.700000  75.900000
2018-05-24 18:01:14-07:00   0   0  0.000000  15  76.100000  76.200000
2018-05-24 18:01:14-07:00   0   0  1.818182   1  74.590909  74.590909
2018-05-24 18:02:14-07:00   0   0  0.000000  15  76.100000  76.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-24 18:01:14-07:00  75.764646  75.700000  75.900000  73.666407
2018-05-24 18:01:14-07:00  76.141818  76.100000  76.200000  73.666407
2018-05-24 18:01:14-07:00  74.590909  74.590909  74.590909  76.999989
2018-05-24 18:02:14-07:00  76.121212  76.100000  76.200000  73.333049

                              t_std
time
2018-05-24 18:01:14-07:00  0.071656
2018-05-24 18:01:14-07:00  0.047967
2018-05-24 18:01:14-07:00  0.000000
2018-05-24 18:02:14-07:00  0.039650
========
Action is by itself with action 0.500000 for data:
                           a1  a2  action  dt  t_in      t_max     t_mean  \
time
2018-05-24 18:05:14-07:00   0   1     2.0   5  74.5  74.500000  74.475000
2018-05-24 18:07:14-07:00   0   0     0.0  15  76.4  76.600000  76.575556
2018-05-24 18:08:14-07:00   0   0     0.5   1  74.2  74.200000  74.200000
2018-05-24 18:09:14-07:00   0   0     0.0  15  74.0  74.133333  73.871111

                           t_min     t_next      t_out     t_std
time
2018-05-24 18:05:14-07:00   74.4  74.400000  72.999691  0.038730
2018-05-24 18:07:14-07:00   76.4  76.600000  71.999617  0.062618
2018-05-24 18:08:14-07:00   74.2  74.200000  71.999617  0.000000
2018-05-24 18:09:14-07:00   73.6  74.133333  71.999617  0.163239

========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 18:55:14-07:00   0   0  0.000000  15  74.100000  74.300000
2018-05-24 18:55:14-07:00   0   0  0.000000  12  68.118182  68.700000
2018-05-24 18:56:14-07:00   0   0  0.666667   1  74.200000  74.200000
2018-05-24 18:57:14-07:00   0   0  0.000000  15  74.033333  74.033333

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-24 18:55:14-07:00  74.202323   74.1    74.3  71.999617  0.080370
2018-05-24 18:55:14-07:00  68.206439   68.0    68.7  71.999617  0.208650
2018-05-24 18:56:14-07:00  74.200000   74.2    74.2  71.999617  0.000000
2018-05-24 18:57:14-07:00  73.841818   73.7    74.0  71.999617  0.135529
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 19:56:14-07:00   0   0  0.000000  15  68.080000  68.500000
2018-05-24 19:57:14-07:00   0   0  0.000000   8  68.033333  68.033333
2018-05-24 19:58:14-07:00   0   0  0.727273   1  68.309091  68.309091
2018-05-24 19:59:14-07:00   0   0  0.000000   5  68.150000  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-24 19:56:14-07:00  68.115889  67.900000  68.500000  67.666993
2018-05-24 19:57:14-07:00  67.962121  67.900000  68.000000  69.000789
2018-05-24 19:58:14-07:00  68.309091  68.309091  68.309091  69.000789
2018-05-24 19:59:14-07:00  68.155455  68.100000  68.200000  69.000789

                              t_std
time
2018-05-24 19:56:14-07:00  0.238050
2018-05-24 19:57:14-07:00  0.048697
2018-05-24 19:58:14-07:00  0.000000
2018-05-24 19:59:14-07:00  0.039668
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 20:09:14-07:00   0   1  2.000000   2  68.600000  68.600000
2018-05-24 20:10:14-07:00   0   0  0.000000  15  74.400000  74.400000
2018-05-24 20:11:14-07:00   0   0  0.166667   1  68.116667  68.116667
2018-05-24 20:11:14-07:00   0   0  0.000000  15  68.433333  68.433333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-24 20:09:14-07:00  68.559091  68.518182  68.518182  64.999403
2018-05-24 20:10:14-07:00  74.357778  74.300000  74.300000  64.999403
2018-05-24 20:11:14-07:00  68.116667  68.116667  68.116667  64.999403
2018-05-24 20:11:14-07:00  67.967374  67.700000  67.783333  64.999403

                              t_std
time
2018-05-24 20:09:14-07:00  0.040909
2018-05-24 20:10:14-07:00  0.047868
2018-05-24 20:11:14-07:00  0.000000
2018-05-24 20:11:14-07:00  0.251180
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 20:11:14-07:00   0   0  0.000000  15  68.433333  68.433333
2018-05-24 20:12:14-07:00   0   0  0.000000  14  67.733333  68.100000
2018-05-24 20:15:14-07:00   0   0  1.666667   1  68.516667  68.516667
2018-05-24 20:16:14-07:00   0   0  0.000000   8  68.072727  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-24 20:11:14-07:00  67.967374  67.700000  67.783333  64.999403
2018-05-24 20:12:14-07:00  67.721320  67.400000  68.100000  64.999403
2018-05-24 20:15:14-07:00  68.516667  68.516667  68.516667  64.999403
2018-05-24 20:16:14-07:00  68.067424  68.000000  68.200000  64.999403

                              t_std
time
2018-05-24 20:11:14-07:00  0.251180
2018-05-24 20:12:14-07:00  0.264439
2018-05-24 20:15:14-07:00  0.000000
2018-05-24 20:16:14-07:00  0.081674
========
Action is by itself with action 1.636364 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-24 20:20:14-07:00   0   1  2.000000   9  68.200000  68.300000
2018-05-24 20:23:14-07:00   0   0  0.000000  15  74.000000  74.100000
2018-05-24 20:24:14-07:00   0   0  1.636364   1  68.554545  68.554545
2018-05-24 20:25:14-07:00   0   0  0.000000  15  74.300000  74.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-24 20:20:14-07:00  68.248148  68.200000  68.300000  64.999403
2018-05-24 20:23:14-07:00  74.055758  74.000000  74.100000  64.999403
2018-05-24 20:24:14-07:00  68.554545  68.554545  68.554545  64.999403
2018-05-24 20:25:14-07:00  74.209444  74.100000  74.100000  64.999403

                              t_std
time
2018-05-24 20:20:14-07:00  0.047431
2018-05-24 20:23:14-07:00  0.048089
2018-05-24 20:24:14-07:00  0.000000
2018-05-24 20:25:14-07:00  0.079749
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-25 05:38:14-07:00   0   0  0.000000  15  68.900000  68.900000
2018-05-25 05:40:14-07:00   0   0  0.000000  15  71.200000  71.200000
2018-05-25 05:42:14-07:00   0   0  0.333333   1  68.316667  68.316667
2018-05-25 05:43:14-07:00   0   0  0.000000  15  67.954545  68.000000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-25 05:38:14-07:00  68.813030  68.700000  68.700000   59.0  0.074354
2018-05-25 05:40:14-07:00  71.047273  70.600000  70.600000   59.0  0.167009
2018-05-25 05:42:14-07:00  68.316667  68.316667  68.316667   59.0  0.000000
2018-05-25 05:43:14-07:00  67.670859  67.400000  68.000000   59.0  0.200861
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-25 05:42:14-07:00   0   0  0.333333   1  68.316667  68.316667
2018-05-25 05:43:14-07:00   0   0  0.000000  15  67.954545  68.000000
2018-05-25 05:44:14-07:00   0   0  1.666667   1  68.733333  68.733333
2018-05-25 05:45:14-07:00   0   0  0.000000  15  67.858333  68.125000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-25 05:42:14-07:00  68.316667  68.316667  68.316667   59.0  0.000000
2018-05-25 05:43:14-07:00  67.670859  67.400000  68.000000   59.0  0.200861
2018-05-25 05:44:14-07:00  68.733333  68.733333  68.733333   59.0  0.000000
2018-05-25 05:45:14-07:00  67.859798  67.700000  68.125000   59.0  0.128896
========
Action is by itself with action 0.500000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-25 05:44:14-07:00   0   0  1.666667   1  68.733333  68.733333
2018-05-25 05:45:14-07:00   0   0  0.000000  15  67.858333  68.125000
2018-05-25 05:45:14-07:00   0   0  0.500000   1  68.350000  68.350000
2018-05-25 05:46:14-07:00   0   0  0.000000  15  67.981818  68.000000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-25 05:44:14-07:00  68.733333  68.733333  68.733333   59.0  0.000000
2018-05-25 05:45:14-07:00  67.859798  67.700000  68.125000   59.0  0.128896
2018-05-25 05:45:14-07:00  68.350000  68.350000  68.350000   59.0  0.000000
2018-05-25 05:46:14-07:00  67.666515  67.400000  68.000000   59.0  0.196703
========
Action is by itself with action 1.333333 for data:

                           a1  a2    action  dt  t_in      t_max     t_mean  \
time
2018-05-25 05:58:14-07:00   0   0  0.000000   7  68.0  68.318182  68.145455
2018-05-25 06:00:14-07:00   0   0  0.000000   1  68.5  68.500000  68.500000
2018-05-25 06:01:14-07:00   0   0  1.333333   1  68.5  68.500000  68.500000
2018-05-25 06:01:14-07:00   0   0  0.000000  15  68.0  68.200000  68.062424

                           t_min     t_next      t_out     t_std
time
2018-05-25 05:58:14-07:00   68.0  68.318182  59.000000  0.142999
2018-05-25 06:00:14-07:00   68.5  68.500000  59.000000  0.000000
2018-05-25 06:01:14-07:00   68.5  68.500000  59.000000  0.000000
2018-05-25 06:01:14-07:00   67.9  67.900000  57.666802  0.110079
========
Action is by itself with action 0.833333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-25 06:09:14-07:00   0   0  0.000000  15  68.200000  68.200000
2018-05-25 06:10:14-07:00   0   0  0.000000  15  70.800000  70.800000
2018-05-25 06:10:14-07:00   0   0  0.833333   1  68.241667  68.241667
2018-05-25 06:11:14-07:00   0   0  0.000000  15  68.090909  68.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-25 06:09:14-07:00  67.880121  67.700000  68.000000  57.000203
2018-05-25 06:10:14-07:00  70.556162  70.300000  70.300000  57.000203
2018-05-25 06:10:14-07:00  68.241667  68.241667  68.241667  57.000203
2018-05-25 06:11:14-07:00  68.014949  67.900000  68.300000  57.000203

                              t_std
time
2018-05-25 06:09:14-07:00  0.140006
2018-05-25 06:10:14-07:00  0.166892
2018-05-25 06:10:14-07:00  0.000000
2018-05-25 06:11:14-07:00  0.130397
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-25 06:50:14-07:00   0   0  0.000000  15  68.100000  68.300000
2018-05-25 06:53:14-07:00   0   0  0.000000  15  68.100000  68.100000
2018-05-25 06:54:14-07:00   0   0  1.666667   1  68.583333  68.583333
2018-05-25 06:55:14-07:00   0   0  0.000000  15  69.800000  70.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-25 06:50:14-07:00  68.230707  68.100000  68.133333  57.000203
2018-05-25 06:53:14-07:00  68.013333  67.966667  67.966667  57.000203
2018-05-25 06:54:14-07:00  68.583333  68.583333  68.583333  57.000203
2018-05-25 06:55:14-07:00  70.050909  69.800000  69.900000  57.000203

                              t_std
time
2018-05-25 06:50:14-07:00  0.072600
2018-05-25 06:53:14-07:00  0.036107
2018-05-25 06:54:14-07:00  0.000000
2018-05-25 06:55:14-07:00  0.177457
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-25 07:22:14-07:00   0   1  2.000000   3  68.500000  68.500000
2018-05-25 07:23:14-07:00   0   0  0.000000  15  67.800000  67.800000
2018-05-25 07:25:14-07:00   0   0  1.333333   1  68.266667  68.266667
2018-05-25 07:25:14-07:00   0   0  0.000000  15  69.700000  69.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-25 07:22:14-07:00  68.475758  68.427273  68.427273  57.000203
2018-05-25 07:23:14-07:00  67.770556  67.700000  67.700000  57.000203
2018-05-25 07:25:14-07:00  68.266667  68.266667  68.266667  57.000203
2018-05-25 07:25:14-07:00  69.615152  69.500000  69.500000  57.000203

                              t_std
time
2018-05-25 07:22:14-07:00  0.034284
2018-05-25 07:23:14-07:00  0.043766
2018-05-25 07:25:14-07:00  0.000000
2018-05-25 07:25:14-07:00  0.052870
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-25 08:23:14-07:00   0   0  0.000000  15  67.300000  67.300000
2018-05-25 08:25:14-07:00   0   0  0.000000  15  69.500000  69.500000
2018-05-25 08:26:14-07:00   0   0  0.166667   1  68.141667  68.141667
2018-05-25 08:27:14-07:00   0   0  0.000000  15  68.000000  68.054545

                              t_mean      t_min     t_next      t_out  \
time
2018-05-25 08:23:14-07:00  67.300000  67.300000  67.300000  57.999189
2018-05-25 08:25:14-07:00  69.433131  69.400000  69.433333  57.999189
2018-05-25 08:26:14-07:00  68.141667  68.141667  68.141667  57.999189
2018-05-25 08:27:14-07:00  67.950303  67.800000  68.054545  57.999189

                                  t_std
time
2018-05-25 08:23:14-07:00  1.421085e-14
2018-05-25 08:25:14-07:00  4.373819e-02
2018-05-25 08:26:14-07:00  0.000000e+00
2018-05-25 08:27:14-07:00  8.403506e-02
========
Action is by itself with action 1.833333 for data:
                           a1  a2    action  dt    t_in   t_max     t_mean  \
time
2018-05-25 19:07:14-07:00   0   0  0.000000  15  68.500  68.500  68.135556
2018-05-25 19:08:14-07:00   0   0  0.000000  15  71.300  71.300  71.264444
2018-05-25 19:09:14-07:00   0   0  1.833333   1  68.475  68.475  68.475000
2018-05-25 19:10:14-07:00   0   0  0.000000  15  72.100  72.100  71.857778

                            t_min  t_next      t_out     t_std
time
2018-05-25 19:07:14-07:00  67.900  68.000  66.000200  0.246897
2018-05-25 19:08:14-07:00  71.200  71.200  66.000200  0.046295
2018-05-25 19:09:14-07:00  68.475  68.475  66.000200  0.000000
2018-05-25 19:10:14-07:00  71.600  71.600  66.000201  0.167870
========
Action is by itself with action 1.454545 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-25 19:28:14-07:00   0   0  0.333333   1  68.183333  68.183333
2018-05-25 19:29:14-07:00   0   0  0.000000  15  67.818182  68.000000
2018-05-25 19:32:14-07:00   0   0  1.454545   1  68.418182  68.418182
2018-05-25 19:33:14-07:00   0   0  0.000000  12  68.175000  68.175000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-25 19:28:14-07:00  68.183333  68.183333  68.183333  66.000203
2018-05-25 19:29:14-07:00  67.728434  67.600000  68.000000  66.000203
2018-05-25 19:32:14-07:00  68.418182  68.418182  68.418182  66.000203
2018-05-25 19:33:14-07:00  68.064962  68.000000  68.100000  66.000203

                              t_std
time
2018-05-25 19:28:14-07:00  0.000000
2018-05-25 19:29:14-07:00  0.114088
2018-05-25 19:32:14-07:00  0.000000
2018-05-25 19:33:14-07:00  0.054359
========
Action is by itself with action 1.090909 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-25 19:32:14-07:00   0   0  1.454545   1  68.418182  68.418182
2018-05-25 19:33:14-07:00   0   0  0.000000  12  68.175000  68.175000
2018-05-25 19:34:14-07:00   0   0  1.090909   1  68.472727  68.472727
2018-05-25 19:35:14-07:00   0   0  0.000000  12  68.127273  68.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-25 19:32:14-07:00  68.418182  68.418182  68.418182  66.000203
2018-05-25 19:33:14-07:00  68.064962  68.000000  68.100000  66.000203
2018-05-25 19:34:14-07:00  68.472727  68.472727  68.472727  66.000203
2018-05-25 19:35:14-07:00  68.048422  67.900000  68.300000  66.000203

                              t_std
time
2018-05-25 19:32:14-07:00  0.000000
2018-05-25 19:33:14-07:00  0.054359
2018-05-25 19:34:14-07:00  0.000000
2018-05-25 19:35:14-07:00  0.133938
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-25 20:46:14-07:00   0   1  2.000000   4  68.500000  68.500000
2018-05-25 20:46:14-07:00   0   0  0.000000  15  68.100000  68.100000
2018-05-25 20:47:14-07:00   0   0  0.333333   1  68.216667  68.216667
2018-05-25 20:48:14-07:00   0   0  0.000000  13  68.200000  68.200000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-25 20:46:14-07:00  68.500000  68.500000  68.500000  64.0004  0.000000
2018-05-25 20:46:14-07:00  67.868182  67.700000  68.000000  64.0004  0.133351
2018-05-25 20:47:14-07:00  68.216667  68.216667  68.216667  64.0004  0.000000
2018-05-25 20:48:14-07:00  67.985897  67.900000  68.000000  64.0004  0.104154

========
Action is by itself with action 1.500000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-25 20:47:14-07:00   0   0  0.333333   1  68.216667  68.216667
2018-05-25 20:48:14-07:00   0   0  0.000000  13  68.200000  68.200000
2018-05-25 20:50:14-07:00   0   0  1.500000   1  68.325000  68.325000
2018-05-25 20:51:14-07:00   0   0  0.000000  15  68.200000  68.200000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-25 20:47:14-07:00  68.216667  68.216667  68.216667  64.0004  0.000000
2018-05-25 20:48:14-07:00  67.985897  67.900000  68.000000  64.0004  0.104154
2018-05-25 20:50:14-07:00  68.325000  68.325000  68.325000  64.0004  0.000000
2018-05-25 20:51:14-07:00  67.811111  67.700000  67.700000  64.0004  0.165403
========
Action is by itself with action 0.500000 for data:
                           a1  a2  action  dt    t_in   t_max     t_mean  \
time
2018-05-25 20:55:14-07:00   0   0     0.0  15  71.500  71.500  71.414848
2018-05-25 21:00:14-07:00   0   0     0.0   2  68.000  68.125  68.062500
2018-05-25 21:01:14-07:00   0   0     0.5   1  68.125  68.125  68.125000
2018-05-25 21:01:14-07:00   0   0     0.0  15  68.000  68.500  68.282071

                            t_min  t_next     t_out     t_std
time
2018-05-25 20:55:14-07:00  71.300  71.300  63.73352  0.051599
2018-05-25 21:00:14-07:00  68.000  68.125  64.00040  0.062500
2018-05-25 21:01:14-07:00  68.125  68.125  64.00040  0.000000
2018-05-25 21:01:14-07:00  68.000  68.200  63.33320  0.179689
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-25 21:08:14-07:00   0   0  0.000000  15  70.600000  70.60  70.511111
2018-05-25 21:10:14-07:00   0   0  0.000000  15  71.300000  71.30  71.284848
2018-05-25 21:11:14-07:00   0   0  0.333333   1  68.250000  68.25  68.250000
2018-05-25 21:12:14-07:00   0   0  0.000000  10  68.172727  68.20  68.150606

                           t_min  t_next    t_out     t_std
time
2018-05-25 21:08:14-07:00  70.50   70.50  62.9996  0.028974
2018-05-25 21:10:14-07:00  71.20   71.20  62.9996  0.033961
2018-05-25 21:11:14-07:00  68.25   68.25  62.9996  0.000000
2018-05-25 21:12:14-07:00  68.10   68.20  62.9996  0.045597
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-25 21:20:14-07:00   0   1  2.000000   9  68.600000  68.700000
2018-05-25 21:20:14-07:00   0   0  0.000000  15  68.000000  68.300000
2018-05-25 21:22:14-07:00   0   0  0.727273   1  68.309091  68.309091
2018-05-25 21:23:14-07:00   0   0  0.000000  15  70.458333  70.458333

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-25 21:20:14-07:00  68.655556  68.600000  68.600000  62.9996  0.043921
2018-05-25 21:20:14-07:00  68.184848  68.000000  68.000000  62.9996  0.110927
2018-05-25 21:22:14-07:00  68.309091  68.309091  68.309091  62.9996  0.000000
2018-05-25 21:23:14-07:00  70.403889  70.400000  70.400000  62.9996  0.014551
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-25 21:23:14-07:00   0   1  2.000000   4  68.500000  68.500000
2018-05-25 21:25:14-07:00   0   0  0.000000  15  71.200000  71.200000
2018-05-25 21:26:14-07:00   0   0  0.666667   1  68.133333  68.133333
2018-05-25 21:27:14-07:00   0   0  0.000000  15  68.100000  68.100000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-25 21:23:14-07:00  68.500000  68.500000  68.500000  62.9996  0.000000
2018-05-25 21:25:14-07:00  71.086263  70.900000  70.900000  62.9996  0.133089
2018-05-25 21:26:14-07:00  68.133333  68.133333  68.133333  62.9996  0.000000
2018-05-25 21:27:14-07:00  67.840909  67.700000  67.700000  62.9996  0.110782
========
Action is by itself with action 0.500000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-25 21:26:14-07:00   0   0  0.666667   1  68.133333  68.133333
2018-05-25 21:27:14-07:00   0   0  0.000000  15  68.100000  68.100000
2018-05-25 21:27:14-07:00   0   0  0.500000   1  68.200000  68.200000
2018-05-25 21:28:14-07:00   0   0  0.000000  15  68.009091  68.150000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-25 21:26:14-07:00  68.133333  68.133333  68.133333  62.9996  0.000000
2018-05-25 21:27:14-07:00  67.840909  67.700000  67.700000  62.9996  0.110782
2018-05-25 21:27:14-07:00  68.200000  68.200000  68.200000  62.9996  0.000000
2018-05-25 21:28:14-07:00  67.873889  67.700000  68.150000  62.9996  0.136898
========
Action is by itself with action 1.166667 for data:
                           a1  a2    action  dt       t_in   t_max     t_mean  \
time
2018-05-25 21:27:14-07:00   0   0  0.500000   1  68.200000  68.200  68.200000
2018-05-25 21:28:14-07:00   0   0  0.000000  15  68.009091  68.150  67.873889
2018-05-25 21:29:14-07:00   0   0  1.166667   1  68.475000  68.475  68.475000
2018-05-25 21:30:14-07:00   0   0  0.000000  15  68.300000  68.700  68.326667

                            t_min  t_next    t_out     t_std
time
2018-05-25 21:27:14-07:00  68.200  68.200  62.9996  0.000000
2018-05-25 21:28:14-07:00  67.700  68.150  62.9996  0.136898
2018-05-25 21:29:14-07:00  68.475  68.475  62.9996  0.000000
2018-05-25 21:30:14-07:00  68.200  68.700  62.9996  0.164190
========
Action is by itself with action 0.500000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-26 18:13:14-07:00   0   0     0.0  15  73.200000  73.300000
2018-05-26 18:15:14-07:00   0   0     0.0  15  73.100000  73.200000
2018-05-26 18:16:14-07:00   0   0     0.5   1  74.150000  74.150000
2018-05-26 18:17:14-07:00   0   0     0.0  15  73.983333  73.983333

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-26 18:13:14-07:00  73.236364  73.20   73.30  73.999403  0.046355
2018-05-26 18:15:14-07:00  73.168889  73.10   73.20  73.999403  0.044666
2018-05-26 18:16:14-07:00  74.150000  74.15   74.15  73.999403  0.000000
2018-05-26 18:17:14-07:00  73.718990  73.50   73.80  73.999403  0.167095
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-26 18:52:14-07:00   0   1  2.000000   4  74.500000  74.600000
2018-05-26 18:55:14-07:00   0   0  0.000000  15  73.900000  73.900000
2018-05-26 18:56:14-07:00   0   0  1.333333   1  74.433333  74.433333
2018-05-26 18:57:14-07:00   0   0  0.000000  15  74.054545  74.054545

                              t_mean      t_min     t_next      t_out  \
time
2018-05-26 18:52:14-07:00  74.570000  74.500000  74.600000  73.999403
2018-05-26 18:55:14-07:00  73.900000  73.900000  73.900000  73.733007
2018-05-26 18:56:14-07:00  74.433333  74.433333  74.433333  73.999403
2018-05-26 18:57:14-07:00  73.792121  73.500000  74.000000  73.599808

                                  t_std
time
2018-05-26 18:52:14-07:00  4.123106e-02
2018-05-26 18:55:14-07:00  1.421085e-14
2018-05-26 18:56:14-07:00  0.000000e+00
2018-05-26 18:57:14-07:00  2.016698e-01
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-26 19:27:14-07:00   0   0  0.000000  15  73.400000  73.400000
2018-05-26 19:28:14-07:00   0   0  0.000000  15  73.700000  73.900000
2018-05-26 19:30:14-07:00   0   0  0.166667   1  74.108333  74.108333
2018-05-26 19:30:14-07:00   0   0  0.000000  15  73.600000  73.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-26 19:27:14-07:00  73.400000  73.400000  73.400000  73.000416
2018-05-26 19:28:14-07:00  73.840000  73.700000  73.900000  73.000416
2018-05-26 19:30:14-07:00  74.108333  74.108333  74.108333  73.000416
2018-05-26 19:30:14-07:00  73.683333  73.600000  73.700000  73.000416

                                  t_std
time
2018-05-26 19:27:14-07:00  1.421085e-14
2018-05-26 19:28:14-07:00  8.793937e-02
2018-05-26 19:30:14-07:00  0.000000e+00
2018-05-26 19:30:14-07:00  3.496029e-02

========
Action is by itself with action 1.833333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-27 15:20:14-07:00   0   0  0.000000  15  73.9   74.1  73.966364
2018-05-27 15:25:14-07:00   0   0  0.000000   2  74.5   74.5  74.500000
2018-05-27 15:27:14-07:00   0   0  1.833333   1  74.5   74.5  74.500000
2018-05-27 15:27:14-07:00   0   0  0.000000  15  73.3   73.6  73.429758

                           t_min  t_next    t_out     t_std
time
2018-05-27 15:20:14-07:00   73.9    74.1  78.9998  0.062452
2018-05-27 15:25:14-07:00   74.5    74.5  78.9998  0.000000
2018-05-27 15:27:14-07:00   74.5    74.5  78.9998  0.000000
2018-05-27 15:27:14-07:00   73.3    73.6  78.9998  0.092688
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 16:01:14-07:00   0   0  0.000000  13  74.133333  74.500000
2018-05-27 16:03:14-07:00   0   0  0.000000   2  74.400000  74.400000
2018-05-27 16:05:14-07:00   0   0  0.666667   1  74.483333  74.483333
2018-05-27 16:05:14-07:00   0   0  0.000000  15  74.600000  74.900000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-27 16:01:14-07:00  74.286713  74.133333  74.500000  78.9998  0.109269
2018-05-27 16:03:14-07:00  74.400000  74.400000  74.400000  78.9998  0.000000
2018-05-27 16:05:14-07:00  74.483333  74.483333  74.483333  78.9998  0.000000
2018-05-27 16:05:14-07:00  74.726667  74.600000  74.900000  78.9998  0.114956
========
Action is by itself with action 1.454545 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-27 16:35:14-07:00   0   0  0.000000  15  75.10   75.2  75.143333
2018-05-27 16:37:14-07:00   0   0  0.000000   6  74.00   74.3  74.225000
2018-05-27 16:42:14-07:00   0   0  1.454545   1  74.50   74.5  74.500000
2018-05-27 16:42:14-07:00   0   0  0.000000  15  74.15   74.3  74.198081

                           t_min  t_next    t_out     t_std
time
2018-05-27 16:35:14-07:00   75.1    75.2  80.9996  0.047842
2018-05-27 16:37:14-07:00   74.0    74.3  80.9996  0.114564
2018-05-27 16:42:14-07:00   74.5    74.5  80.9996  0.000000
2018-05-27 16:42:14-07:00   74.1    74.3  80.9996  0.075952
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 16:44:14-07:00   0   1  2.000000   7  74.500000  74.500000
2018-05-27 16:45:14-07:00   0   0  0.000000  15  74.800000  74.900000
2018-05-27 16:48:14-07:00   0   0  0.333333   1  74.266667  74.266667
2018-05-27 16:49:14-07:00   0   0  0.000000  15  73.990909  74.000000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-27 16:44:14-07:00  74.476623  74.400000  74.400000  80.9996  0.038218
2018-05-27 16:45:14-07:00  74.836667  74.800000  74.900000  80.9996  0.046428
2018-05-27 16:48:14-07:00  74.266667  74.266667  74.266667  80.9996  0.000000
2018-05-27 16:49:14-07:00  73.827172  73.600000  74.000000  80.9996  0.164448
========
Action is by itself with action 0.500000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-27 16:49:14-07:00   0   0     0.0  15  73.990909  74.000000
2018-05-27 16:50:14-07:00   0   0     0.0  15  75.200000  75.400000
2018-05-27 16:51:14-07:00   0   0     0.5   1  74.250000  74.250000
2018-05-27 16:52:14-07:00   0   0     0.0  15  74.000000  74.133333

                              t_mean  t_min     t_next    t_out     t_std
time
2018-05-27 16:49:14-07:00  73.827172  73.60  74.000000  80.9996  0.164448
2018-05-27 16:50:14-07:00  75.306465  75.20  75.400000  80.9996  0.069189
2018-05-27 16:51:14-07:00  74.250000  74.25  74.250000  80.9996  0.000000
2018-05-27 16:52:14-07:00  73.863434  73.60  74.133333  80.9996  0.168776
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 17:12:14-07:00   0   0  0.000000  15  74.600000  74.850000
2018-05-27 17:13:14-07:00   0   0  0.000000  15  75.100000  75.300000
2018-05-27 17:14:14-07:00   0   0  1.666667   1  74.533333  74.533333
2018-05-27 17:15:14-07:00   0   0  0.000000  15  75.100000  75.300000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-27 17:12:14-07:00  74.781111  74.600000  74.850000  80.9996  0.060512
2018-05-27 17:13:14-07:00  75.212222  75.100000  75.300000  80.9996  0.065678
2018-05-27 17:14:14-07:00  74.533333  74.533333  74.533333  80.9996  0.000000
2018-05-27 17:15:14-07:00  75.184596  75.100000  75.300000  80.9996  0.065047
========
Action is by itself with action 0.181818 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 17:17:14-07:00   0   0  0.400000   1  74.140000  74.140000
2018-05-27 17:18:14-07:00   0   0  0.000000  15  74.000000  74.400000
2018-05-27 17:20:14-07:00   0   0  0.181818   1  74.109091  74.109091
2018-05-27 17:20:14-07:00   0   0  0.000000  15  75.700000  75.900000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-27 17:17:14-07:00  74.140000  74.140000  74.140000  80.9996  0.000000
2018-05-27 17:18:14-07:00  73.947222  73.700000  74.400000  80.9996  0.169358
2018-05-27 17:20:14-07:00  74.109091  74.109091  74.109091  80.9996  0.000000
2018-05-27 17:20:14-07:00  75.811667  75.700000  75.900000  80.9996  0.054246
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 17:35:14-07:00   0   0  0.000000  15  75.900000  76.100000
2018-05-27 17:36:14-07:00   0   0  0.000000   9  74.072727  74.400000
2018-05-27 17:41:14-07:00   0   0  0.333333   1  74.216667  74.216667
2018-05-27 17:42:14-07:00   0   0  0.000000  14  73.933333  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-27 17:35:14-07:00  76.013333  75.900000  76.100000  80.999616
2018-05-27 17:36:14-07:00  74.262626  74.072727  74.400000  80.999617
2018-05-27 17:41:14-07:00  74.216667  74.216667  74.216667  80.999617
2018-05-27 17:42:14-07:00  73.882251  73.700000  74.100000  80.999617

                              t_std
time
2018-05-27 17:35:14-07:00  0.074087
2018-05-27 17:36:14-07:00  0.110133
2018-05-27 17:41:14-07:00  0.000000
2018-05-27 17:42:14-07:00  0.165450
========
Action is by itself with action 1.636364 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 17:42:14-07:00   0   0  0.000000  15  74.945455  75.200000
2018-05-27 17:43:14-07:00   0   0  0.000000  15  75.500000  75.800000
2018-05-27 17:45:14-07:00   0   0  1.636364   1  74.572727  74.572727
2018-05-27 17:45:14-07:00   0   0  0.000000  15  75.400000  75.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-27 17:42:14-07:00  75.055051  74.900000  75.200000  80.999617
2018-05-27 17:43:14-07:00  75.613333  75.500000  75.800000  80.999617
2018-05-27 17:45:14-07:00  74.572727  74.572727  74.572727  80.999617
2018-05-27 17:45:14-07:00  75.556667  75.400000  75.700000  80.999617

                              t_std
time
2018-05-27 17:42:14-07:00  0.088834
2018-05-27 17:43:14-07:00  0.111422
2018-05-27 17:45:14-07:00  0.000000
2018-05-27 17:45:14-07:00  0.110855
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt    t_in   t_max     t_mean  \
time
2018-05-27 17:46:14-07:00   0   1  2.000000   5  74.600  74.600  74.550000
2018-05-27 17:50:14-07:00   0   0  0.000000  15  76.100  76.300  76.235556
2018-05-27 17:51:14-07:00   0   0  0.166667   1  74.225  74.225  74.225000
2018-05-27 17:52:14-07:00   0   0  0.000000  15  73.950  74.000  73.829798

                            t_min  t_next      t_out     t_std
time
2018-05-27 17:46:14-07:00  74.500  74.500  80.999617  0.044721
2018-05-27 17:50:14-07:00  76.100  76.300  80.999617  0.061423
2018-05-27 17:51:14-07:00  74.225  74.225  80.999617  0.000000
2018-05-27 17:52:14-07:00  73.600  74.000  80.999616  0.158103
========
Action is by itself with action 0.333333 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 17:58:14-07:00   0   0  0.000000  15  75.800000  75.933333
2018-05-27 18:00:14-07:00   0   0  0.000000  15  75.700000  75.900000
2018-05-27 18:04:14-07:00   0   0  0.333333   1  74.200000  74.200000
2018-05-27 18:05:14-07:00   0   0  0.000000  13  73.990909  74.181818

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-27 17:58:14-07:00  75.864040   75.8  75.933333  80.999609  0.049668
2018-05-27 18:00:14-07:00  75.822778   75.7  75.900000  80.999607  0.063133
2018-05-27 18:04:14-07:00  74.200000   74.2  74.200000  80.999617  0.000000
2018-05-27 18:05:14-07:00  73.932517   73.7  74.181818  80.999601  0.113151
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 18:22:14-07:00   0   0  0.000000  15  74.009091  74.009091
2018-05-27 18:27:14-07:00   0   0  0.000000  15  75.800000  75.850000
2018-05-27 18:27:14-07:00   0   0  0.666667   1  74.350000  74.350000
2018-05-27 18:28:14-07:00   0   0  0.000000  15  76.150000  76.300000

                              t_mean  t_min  t_next    t_out     t_std
time
2018-05-27 18:22:14-07:00  73.789495  73.60   74.00  80.9996  0.160291
2018-05-27 18:27:14-07:00  75.770000  75.70   75.85  80.9996  0.047610
2018-05-27 18:27:14-07:00  74.350000  74.35   74.35  80.9996  0.000000
2018-05-27 18:28:14-07:00  76.246667  76.15   76.30  80.9996  0.053125
========
Action is by itself with action 1.454545 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 19:05:14-07:00   0   0  0.000000  15  77.200000  77.500000
2018-05-27 19:06:14-07:00   0   0  0.000000   8  74.200000  74.420000
2018-05-27 19:11:14-07:00   0   0  1.454545   1  74.318182  74.318182
2018-05-27 19:12:14-07:00   0   0  0.000000  15  76.300000  76.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-27 19:05:14-07:00  77.331212  77.200000  77.500000  79.133097
2018-05-27 19:06:14-07:00  74.281667  74.200000  74.420000  78.999775
2018-05-27 19:11:14-07:00  74.318182  74.318182  74.318182  78.999775
2018-05-27 19:12:14-07:00  76.231111  76.200000  76.200000  78.999775

                              t_std
time
2018-05-27 19:05:14-07:00  0.091134
2018-05-27 19:06:14-07:00  0.097568
2018-05-27 19:11:14-07:00  0.000000
2018-05-27 19:12:14-07:00  0.044666
========
Action is by itself with action 1.500000 for data:
                           a1  a2  action  dt    t_in   t_max     t_mean  \
time
2018-05-27 19:14:14-07:00   0   1     2.0   5  74.500  74.600  74.565000
2018-05-27 19:15:14-07:00   0   0     0.0  15  76.700  76.800  76.722222
2018-05-27 19:19:14-07:00   0   0     1.5   1  74.475  74.475  74.475000
2018-05-27 19:20:14-07:00   0   0     0.0  15  77.500  77.600  77.529444

                            t_min  t_next      t_out     t_std
time
2018-05-27 19:14:14-07:00  74.500  74.600  78.999775  0.043589
2018-05-27 19:15:14-07:00  76.700  76.800  78.999775  0.039752
2018-05-27 19:19:14-07:00  74.475  74.475  78.999775  0.000000
2018-05-27 19:20:14-07:00  77.500  77.600  78.999775  0.043766
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 19:28:14-07:00   0   0  0.000000  15  76.900000  77.000000
2018-05-27 19:30:14-07:00   0   0  0.000000  15  76.800000  76.900000
2018-05-27 19:34:14-07:00   0   0  0.666667   1  74.233333  74.233333
2018-05-27 19:35:14-07:00   0   0  0.000000  15  73.980000  74.181818

                              t_mean      t_min     t_next      t_out  \
time
2018-05-27 19:28:14-07:00  76.956667  76.900000  77.000000  78.999775
2018-05-27 19:30:14-07:00  76.843333  76.800000  76.900000  78.999775
2018-05-27 19:34:14-07:00  74.233333  74.233333  74.233333  78.999775
2018-05-27 19:35:14-07:00  73.875030  73.600000  74.181818  78.999775

                              t_std
time
2018-05-27 19:28:14-07:00  0.047842
2018-05-27 19:30:14-07:00  0.047842
2018-05-27 19:34:14-07:00  0.000000
2018-05-27 19:35:14-07:00  0.166346
========
Action is by itself with action 1.090909 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 19:35:14-07:00   0   0  0.000000  15  77.600000  77.700000
2018-05-27 19:42:14-07:00   0   0  0.000000  15  76.300000  76.400000
2018-05-27 19:43:14-07:00   0   0  1.090909   1  74.554545  74.554545
2018-05-27 19:43:14-07:00   0   0  0.000000  15  77.000000  77.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-27 19:35:14-07:00  77.650000  77.600000  77.700000  78.999775
2018-05-27 19:42:14-07:00  76.343889  76.300000  76.400000  78.999775
2018-05-27 19:43:14-07:00  74.554545  74.554545  74.554545  78.999775
2018-05-27 19:43:14-07:00  77.077778  77.000000  77.100000  78.999775

                              t_std
time
2018-05-27 19:35:14-07:00  0.048305
2018-05-27 19:42:14-07:00  0.047965
2018-05-27 19:43:14-07:00  0.000000
2018-05-27 19:43:14-07:00  0.039752
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 19:44:14-07:00   0   1  2.000000   5  74.600000  74.600000
2018-05-27 19:45:14-07:00   0   0  0.000000  15  76.900000  77.000000
2018-05-27 19:49:14-07:00   0   0  0.363636   1  74.172727  74.172727
2018-05-27 19:50:14-07:00   0   0  0.000000  15  77.700000  77.800000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-27 19:44:14-07:00  74.550000  74.500000  74.500000  78.999775
2018-05-27 19:45:14-07:00  76.956364  76.900000  77.000000  78.999775
2018-05-27 19:49:14-07:00  74.172727  74.172727  74.172727  78.999775
2018-05-27 19:50:14-07:00  77.764444  77.700000  77.800000  78.999775

                              t_std
time
2018-05-27 19:44:14-07:00  0.044721
2018-05-27 19:45:14-07:00  0.044282
2018-05-27 19:49:14-07:00  0.000000
2018-05-27 19:50:14-07:00  0.046295
========
Action is by itself with action 1.090909 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 19:51:14-07:00   0   1  2.000000   6  74.600000  74.600000
2018-05-27 19:57:14-07:00   0   0  0.000000  15  76.527273  76.600000
2018-05-27 19:57:14-07:00   0   0  1.090909   1  74.363636  74.363636
2018-05-27 19:58:14-07:00   0   0  0.000000  15  74.075000  74.075000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-27 19:51:14-07:00  74.575000  74.500000  74.500000  78.999775
2018-05-27 19:57:14-07:00  76.595152  76.527273  76.600000  78.199865
2018-05-27 19:57:14-07:00  74.363636  74.363636  74.363636  78.999775
2018-05-27 19:58:14-07:00  73.772222  73.600000  74.000000  78.066547

                              t_std
time
2018-05-27 19:51:14-07:00  0.038188
2018-05-27 19:57:14-07:00  0.018141
2018-05-27 19:57:14-07:00  0.000000
2018-05-27 19:58:14-07:00  0.171747
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in   t_max     t_mean  \
time
2018-05-27 20:12:14-07:00   0   0  0.000000  15  76.633333  76.800  76.718333
2018-05-27 20:13:14-07:00   0   0  0.000000  15  77.300000  77.300  77.300000
2018-05-27 20:13:14-07:00   0   0  0.666667   1  74.475000  74.475  74.475000
2018-05-27 20:13:14-07:00   0   0  0.000000   4  74.000000  74.400  74.220000

                               t_min  t_next  t_out         t_std
time
2018-05-27 20:12:14-07:00  76.633333  76.800   77.0  4.556233e-02
2018-05-27 20:13:14-07:00  77.300000  77.300   77.0  1.421085e-14
2018-05-27 20:13:14-07:00  74.475000  74.475   77.0  0.000000e+00
2018-05-27 20:13:14-07:00  74.000000  74.400   77.0  1.822087e-01
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 20:20:14-07:00   0   0  0.000000  15  77.900000  78.000000
2018-05-27 20:20:14-07:00   0   0  0.000000  15  73.933333  74.000000
2018-05-27 20:23:14-07:00   0   0  0.166667   1  74.133333  74.133333
2018-05-27 20:24:14-07:00   0   0  0.000000  15  73.916667  74.100000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-27 20:20:14-07:00  77.912778  77.900000  77.900000   77.0  0.028361
2018-05-27 20:20:14-07:00  73.704444  73.600000  74.000000   77.0  0.123448
2018-05-27 20:23:14-07:00  74.133333  74.133333  74.133333   77.0  0.000000
2018-05-27 20:24:14-07:00  73.689192  73.500000  74.100000   77.0  0.190292
========
Action is by itself with action 1.166667 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 20:50:14-07:00   0   0  0.000000  15  78.000000  78.000000
2018-05-27 20:51:14-07:00   0   0  0.000000  15  74.150000  74.150000
2018-05-27 20:53:14-07:00   0   0  1.166667   1  74.258333  74.258333
2018-05-27 20:54:14-07:00   0   0  0.000000  15  74.127273  74.127273

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-27 20:50:14-07:00  78.000000  78.000000  78.000000   77.0  0.000000
2018-05-27 20:51:14-07:00  73.674545  73.500000  73.925000   77.0  0.193927
2018-05-27 20:53:14-07:00  74.258333  74.258333  74.258333   77.0  0.000000
2018-05-27 20:54:14-07:00  73.723131  73.500000  74.000000   77.0  0.192452
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 21:17:14-07:00   0   1  2.000000   4  74.500000  74.500000
2018-05-27 21:20:14-07:00   0   0  0.000000  15  78.000000  78.000000
2018-05-27 21:21:14-07:00   0   0  0.333333   1  74.133333  74.133333
2018-05-27 21:22:14-07:00   0   0  0.000000  15  73.916667  73.916667

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-27 21:17:14-07:00  74.481818  74.427273  74.427273   77.0  0.031492
2018-05-27 21:20:14-07:00  78.000000  78.000000  78.000000   77.0  0.000000
2018-05-27 21:21:14-07:00  74.133333  74.133333  74.133333   77.0  0.000000
2018-05-27 21:22:14-07:00  73.586061  73.400000  73.600000   77.0  0.144004
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 21:24:14-07:00   0   0  0.000000   4  74.400000  74.427273
2018-05-27 21:27:14-07:00   0   0  0.000000  15  77.100000  77.200000
2018-05-27 21:28:14-07:00   0   0  0.666667   1  74.583333  74.583333
2018-05-27 21:28:14-07:00   0   0  0.000000  15  77.600000  77.700000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-27 21:24:14-07:00  74.406818  74.400000  74.427273   77.0  0.011809
2018-05-27 21:27:14-07:00  77.176111  77.100000  77.200000   77.0  0.040696
2018-05-27 21:28:14-07:00  74.583333  74.583333  74.583333   77.0  0.000000
2018-05-27 21:28:14-07:00  77.610303  77.600000  77.700000   77.0  0.027547
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 21:29:14-07:00   0   1  2.000000   4  74.600000  74.600000
2018-05-27 21:30:14-07:00   0   0  0.000000  15  77.500000  77.500000
2018-05-27 21:33:14-07:00   0   0  0.666667   1  74.233333  74.233333
2018-05-27 21:34:14-07:00   0   0  0.000000  15  74.016667  74.016667

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-27 21:29:14-07:00  74.575000  74.500000  74.500000   77.0  0.043301
2018-05-27 21:30:14-07:00  77.500000  77.500000  77.500000   77.0  0.000000
2018-05-27 21:33:14-07:00  74.233333  74.233333  74.233333   77.0  0.000000
2018-05-27 21:34:14-07:00  73.716970  73.500000  73.700000   77.0  0.169813
========
Action is by itself with action 1.272727 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 21:45:14-07:00   0   0  0.000000  15  77.500000  77.500000
2018-05-27 21:49:14-07:00   0   0  0.000000  15  73.836364  74.200000
2018-05-27 21:50:14-07:00   0   0  1.272727   1  74.545455  74.545455
2018-05-27 21:50:14-07:00   0   0  0.000000  15  78.000000  78.000000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-27 21:45:14-07:00  77.500000  77.500000  77.500000   77.0  0.000000
2018-05-27 21:49:14-07:00  74.079394  73.836364  74.200000   77.0  0.099168
2018-05-27 21:50:14-07:00  74.545455  74.545455  74.545455   77.0  0.000000
2018-05-27 21:50:14-07:00  77.972778  77.900000  77.900000   77.0  0.043935
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 22:34:14-07:00   0   0  0.000000   4  74.500000  74.508333
2018-05-27 22:35:14-07:00   0   0  0.000000  15  77.800000  77.900000
2018-05-27 22:37:14-07:00   0   0  0.666667   1  74.233333  74.233333
2018-05-27 22:38:14-07:00   0   0  0.000000  15  73.972727  73.972727

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-27 22:34:14-07:00  74.502083  74.500000  74.508333   77.0  0.003608
2018-05-27 22:35:14-07:00  77.832424  77.800000  77.800000   77.0  0.043245
2018-05-27 22:37:14-07:00  74.233333  74.233333  74.233333   77.0  0.000000
2018-05-27 22:38:14-07:00  73.421515  73.200000  73.400000   77.0  0.203891
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-27 22:39:14-07:00   0   1  2.000000   4  74.500000  74.500000
2018-05-27 22:42:14-07:00   0   0  0.000000  15  77.100000  77.100000
2018-05-27 22:43:14-07:00   0   0  0.333333   1  74.233333  74.233333
2018-05-27 22:43:14-07:00   0   0  0.000000  15  77.600000  77.600000

                              t_mean      t_min     t_next  t_out  \
time
2018-05-27 22:39:14-07:00  74.466667  74.400000  74.400000   77.0
2018-05-27 22:42:14-07:00  77.100000  77.100000  77.100000   77.0
2018-05-27 22:43:14-07:00  74.233333  74.233333  74.233333   77.0
2018-05-27 22:43:14-07:00  77.588889  77.500000  77.500000   77.0

                                  t_std
time
2018-05-27 22:39:14-07:00  4.082483e-02
2018-05-27 22:42:14-07:00  1.421085e-14
2018-05-27 22:43:14-07:00  0.000000e+00
2018-05-27 22:43:14-07:00  2.897423e-02
========
Action is by itself with action 1.636364 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 05:39:14-07:00   0   0  0.000000  15  68.000000  68.900000
2018-05-28 05:41:14-07:00   0   0  0.000000  15  71.700000  71.700000
2018-05-28 05:43:14-07:00   0   0  1.636364   1  71.718182  71.718182
2018-05-28 05:44:14-07:00   0   0  0.000000  15  70.950000  70.950000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-28 05:39:14-07:00  67.970000  67.700000  68.900000   77.0  0.329879
2018-05-28 05:41:14-07:00  71.631111  71.600000  71.600000   77.0  0.044666
2018-05-28 05:43:14-07:00  71.718182  71.718182  71.718182   77.0  0.000000
2018-05-28 05:44:14-07:00  70.295152  70.000000  70.190909   77.0  0.346030
========
Action is by itself with action 1.454545 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 06:24:14-07:00   0   0  0.000000  15  71.800000  71.800000
2018-05-28 06:26:14-07:00   0   0  0.000000  15  71.300000  71.300000
2018-05-28 06:26:14-07:00   0   0  1.454545   1  72.390909  72.390909
2018-05-28 06:27:14-07:00   0   0  0.000000  15  72.050000  72.100000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-28 06:24:14-07:00  71.633636  71.500000  71.600000   77.0  0.106274
2018-05-28 06:26:14-07:00  71.296667  71.250000  71.250000   77.0  0.012472
2018-05-28 06:26:14-07:00  72.390909  72.390909  72.390909   77.0  0.000000
2018-05-28 06:27:14-07:00  71.924242  71.800000  72.100000   77.0  0.112591

========
Action is by itself with action 0.181818 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 06:51:14-07:00   0   1  2.000000   5  72.600000  72.600000
2018-05-28 06:54:14-07:00   0   0  0.000000  15  72.100000  72.100000
2018-05-28 06:56:14-07:00   0   0  0.181818   1  72.218182  72.218182
2018-05-28 06:56:14-07:00   0   0  0.000000  15  71.200000  71.200000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-28 06:51:14-07:00  72.496667  72.400000  72.400000   77.0  0.089691
2018-05-28 06:54:14-07:00  71.774848  71.600000  71.700000   77.0  0.157395
2018-05-28 06:56:14-07:00  72.218182  72.218182  72.218182   77.0  0.000000
2018-05-28 06:56:14-07:00  71.106667  71.000000  71.050000   77.0  0.094634
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 07:24:14-07:00   0   0  0.000000  15  72.200000  72.200000
2018-05-28 07:26:14-07:00   0   0  0.000000  15  71.000000  71.000000
2018-05-28 07:28:14-07:00   0   0  0.666667   1  72.166667  72.166667
2018-05-28 07:29:14-07:00   0   0  0.000000  15  71.900000  71.900000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-28 07:24:14-07:00  71.936667  71.700000  71.700000   77.0  0.189056
2018-05-28 07:26:14-07:00  71.000000  71.000000  71.000000   77.0  0.000000
2018-05-28 07:28:14-07:00  72.166667  72.166667  72.166667   77.0  0.000000
2018-05-28 07:29:14-07:00  71.736364  71.600000  71.800000   77.0  0.116373
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-28 10:00:14-07:00   0   1  2.000000   6  74.500000  74.50  74.478788
2018-05-28 10:06:14-07:00   0   0  0.000000  15  73.100000  73.10  73.100000
2018-05-28 10:06:14-07:00   0   0  0.333333   1  74.150000  74.15  74.150000
2018-05-28 10:07:14-07:00   0   0  0.000000  15  73.981818  74.00  73.822424

                           t_min  t_next  t_out     t_std
time
2018-05-28 10:00:14-07:00  74.40   74.40   77.0  0.036615
2018-05-28 10:06:14-07:00  73.10   73.10   77.0  0.000000
2018-05-28 10:06:14-07:00  74.15   74.15   77.0  0.000000
2018-05-28 10:07:14-07:00  73.60   74.00   77.0  0.151535
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 10:34:14-07:00   0   1  2.000000   5  74.500000  74.600000
2018-05-28 10:36:14-07:00   0   0  0.000000  15  73.300000  73.400000
2018-05-28 10:39:14-07:00   0   0  0.666667   1  74.333333  74.333333
2018-05-28 10:39:14-07:00   0   0  0.000000  15  73.100000  73.200000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-28 10:34:14-07:00  74.568333  74.500000  74.600000   77.0  0.040961
2018-05-28 10:36:14-07:00  73.317576  73.300000  73.400000   77.0  0.035978
2018-05-28 10:39:14-07:00  74.333333  74.333333  74.333333   77.0  0.000000
2018-05-28 10:39:14-07:00  73.170556  73.100000  73.200000   77.0  0.043766
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 11:09:14-07:00   0   0  0.000000  15  73.200000  73.200000
2018-05-28 11:11:14-07:00   0   0  0.000000  15  73.000000  73.200000
2018-05-28 11:11:14-07:00   0   0  1.333333   1  73.233333  73.233333
2018-05-28 11:12:14-07:00   0   0  0.000000  15  73.100000  73.133333

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-28 11:09:14-07:00  73.098384  73.000000  73.036364   77.0  0.077636
2018-05-28 11:11:14-07:00  73.077778  73.000000  73.200000   77.0  0.067403
2018-05-28 11:11:14-07:00  73.233333  73.233333  73.233333   77.0  0.000000
2018-05-28 11:12:14-07:00  73.055758  73.000000  73.133333   77.0  0.049606
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 11:11:14-07:00   0   0  1.333333   1  73.233333  73.233333
2018-05-28 11:12:14-07:00   0   0  0.000000  15  73.100000  73.133333
2018-05-28 11:12:14-07:00   0   0  1.666667   1  74.283333  74.283333
2018-05-28 11:13:14-07:00   0   0  0.000000  15  74.181818  74.181818

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-28 11:11:14-07:00  73.233333  73.233333  73.233333   77.0  0.000000
2018-05-28 11:12:14-07:00  73.055758  73.000000  73.133333   77.0  0.049606
2018-05-28 11:12:14-07:00  74.283333  74.283333  74.283333   77.0  0.000000
2018-05-28 11:13:14-07:00  73.624343  73.400000  73.600000   77.0  0.205464
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 11:50:14-07:00   0   0  0.000000  15  73.181818  73.181818
2018-05-28 11:51:14-07:00   0   0  0.000000  15  73.166667  73.166667
2018-05-28 11:52:14-07:00   0   0  1.666667   1  74.366667  74.366667
2018-05-28 11:53:14-07:00   0   0  0.000000  15  74.145455  74.145455

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-28 11:50:14-07:00  72.870000  72.700000  73.000000  77.00000  0.131749
2018-05-28 11:51:14-07:00  72.908081  72.800000  73.000000  77.00000  0.123328
2018-05-28 11:52:14-07:00  74.366667  74.366667  74.366667  77.00000  0.000000
2018-05-28 11:53:14-07:00  73.591364  73.400000  73.700000  77.93336  0.219397
========
Action is by itself with action 0.500000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-28 12:20:14-07:00   0   1     2.0   5  73.500000  73.500000
2018-05-28 12:21:14-07:00   0   0     0.0  15  73.008333  73.008333
2018-05-28 12:25:14-07:00   0   0     0.5   1  73.250000  73.250000
2018-05-28 12:26:14-07:00   0   0     0.0  14  74.300000  74.500000

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-28 12:20:14-07:00  73.472727  73.40   73.40  84.000203  0.038996
2018-05-28 12:21:14-07:00  72.626919  72.50   72.50  84.000203  0.126844
2018-05-28 12:25:14-07:00  73.250000  73.25   73.25  84.000203  0.000000
2018-05-28 12:26:14-07:00  74.412500  74.30   74.50  84.000203  0.077456
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 12:25:14-07:00   0   0  0.500000   1  73.250000  73.250000
2018-05-28 12:26:14-07:00   0   0  0.000000  14  74.300000  74.500000
2018-05-28 12:26:14-07:00   0   0  1.333333   1  73.400000  73.400000
2018-05-28 12:26:14-07:00   0   0  0.000000  15  73.033333  73.033333

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-28 12:25:14-07:00  73.250000  73.25   73.25  84.000203  0.000000
2018-05-28 12:26:14-07:00  74.412500  74.30   74.50  84.000203  0.077456
2018-05-28 12:26:14-07:00  73.400000  73.40   73.40  84.000203  0.000000
2018-05-28 12:26:14-07:00  72.856889  72.70   73.00  84.000203  0.119805
========
Action is by itself with action 1.333333 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 12:26:14-07:00   0   0  0.000000  15  73.033333  73.033333
2018-05-28 12:27:14-07:00   0   0  0.000000  15  73.133333  73.133333
2018-05-28 12:28:14-07:00   0   0  1.333333   1  74.566667  74.566667
2018-05-28 12:29:14-07:00   0   0  0.000000  15  73.966667  73.966667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 12:26:14-07:00  72.856889  72.700000  73.000000  84.000203
2018-05-28 12:27:14-07:00  72.920404  72.800000  73.066667  84.000203
2018-05-28 12:28:14-07:00  74.566667  74.566667  74.566667  84.000203
2018-05-28 12:29:14-07:00  73.588838  73.400000  73.600000  84.000203

                              t_std
time
2018-05-28 12:26:14-07:00  0.119805
2018-05-28 12:27:14-07:00  0.111902
2018-05-28 12:28:14-07:00  0.000000
2018-05-28 12:29:14-07:00  0.151680
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 12:47:14-07:00   0   0  0.000000  15  74.058333  74.058333
2018-05-28 12:51:14-07:00   0   0  0.000000  15  73.400000  73.500000
2018-05-28 12:53:14-07:00   0   0  1.333333   1  73.266667  73.266667
2018-05-28 12:54:14-07:00   0   0  0.000000  15  73.116667  73.116667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 12:47:14-07:00  73.671313  73.500000  73.775000  84.000203
2018-05-28 12:51:14-07:00  73.407879  73.400000  73.500000  84.000203
2018-05-28 12:53:14-07:00  73.266667  73.266667  73.266667  84.000203
2018-05-28 12:54:14-07:00  72.874596  72.700000  73.000000  84.400160

                              t_std
time
2018-05-28 12:47:14-07:00  0.146123
2018-05-28 12:51:14-07:00  0.025033
2018-05-28 12:53:14-07:00  0.000000
2018-05-28 12:54:14-07:00  0.127747
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 12:58:14-07:00   0   1  2.000000   6  74.600000  74.600000
2018-05-28 13:02:14-07:00   0   0  0.000000  11  74.000000  74.500000
2018-05-28 13:04:14-07:00   0   0  0.166667   1  74.133333  74.133333
2018-05-28 13:05:14-07:00   0   0  0.000000  11  73.990909  74.166667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 12:58:14-07:00  74.562121  74.500000  74.500000  84.000203
2018-05-28 13:02:14-07:00  74.194697  74.000000  74.500000  85.272794
2018-05-28 13:04:14-07:00  74.133333  74.133333  74.133333  84.000203
2018-05-28 13:05:14-07:00  73.971901  73.900000  74.166667  85.818190

                              t_std
time
2018-05-28 12:58:14-07:00  0.044972
2018-05-28 13:02:14-07:00  0.174015
2018-05-28 13:04:14-07:00  0.000000
2018-05-28 13:05:14-07:00  0.076050
========
Action is by itself with action 1.636364 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 13:17:14-07:00   0   1  2.000000   6  74.600000  74.800000
2018-05-28 13:17:14-07:00   0   0  0.000000  15  73.100000  73.200000
2018-05-28 13:18:14-07:00   0   0  1.636364   1  73.281818  73.281818
2018-05-28 13:19:14-07:00   0   0  0.000000  15  73.166667  73.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 13:17:14-07:00  74.675758  74.600000  74.800000  85.999989
2018-05-28 13:17:14-07:00  72.946768  72.800000  73.200000  85.999989
2018-05-28 13:18:14-07:00  73.281818  73.281818  73.281818  85.999989
2018-05-28 13:19:14-07:00  73.090303  73.000000  73.300000  85.999989

                              t_std
time
2018-05-28 13:17:14-07:00  0.089944
2018-05-28 13:17:14-07:00  0.125076
2018-05-28 13:18:14-07:00  0.000000
2018-05-28 13:19:14-07:00  0.100151
========
Action is by itself with action 0.545455 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 13:18:14-07:00   0   0  1.636364   1  73.281818  73.281818
2018-05-28 13:19:14-07:00   0   0  0.000000  15  73.166667  73.300000
2018-05-28 13:20:14-07:00   0   0  0.545455   1  74.209091  74.209091
2018-05-28 13:21:14-07:00   0   0  0.000000  15  74.000000  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 13:18:14-07:00  73.281818  73.281818  73.281818  85.999989
2018-05-28 13:19:14-07:00  73.090303  73.000000  73.300000  85.999989
2018-05-28 13:20:14-07:00  74.209091  74.209091  74.209091  85.999989
2018-05-28 13:21:14-07:00  73.822778  73.600000  74.000000  85.999989

                              t_std
time
2018-05-28 13:18:14-07:00  0.000000
2018-05-28 13:19:14-07:00  0.100151
2018-05-28 13:20:14-07:00  0.000000
2018-05-28 13:21:14-07:00  0.152891
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 13:20:14-07:00   0   0  0.545455   1  74.209091  74.209091
2018-05-28 13:21:14-07:00   0   0  0.000000  15  74.000000  74.000000
2018-05-28 13:23:14-07:00   0   0  1.333333   1  74.566667  74.566667
2018-05-28 13:24:14-07:00   0   0  0.000000  15  74.058333  74.058333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 13:20:14-07:00  74.209091  74.209091  74.209091  85.999989
2018-05-28 13:21:14-07:00  73.822778  73.600000  74.000000  85.999989
2018-05-28 13:23:14-07:00  74.566667  74.566667  74.566667  85.999989
2018-05-28 13:24:14-07:00  73.850758  73.700000  74.000000  85.999989

                              t_std
time
2018-05-28 13:20:14-07:00  0.000000
2018-05-28 13:21:14-07:00  0.152891
2018-05-28 13:23:14-07:00  0.000000
2018-05-28 13:24:14-07:00  0.138515
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 13:32:14-07:00   0   0  0.000000   6  73.200000  73.400000
2018-05-28 13:34:14-07:00   0   0  0.000000   2  73.300000  73.300000
2018-05-28 13:36:14-07:00   0   0  0.727273   1  73.445455  73.445455
2018-05-28 13:36:14-07:00   0   0  0.000000   6  74.000000  74.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 13:32:14-07:00  73.283333  73.200000  73.400000  85.999989
2018-05-28 13:34:14-07:00  73.300000  73.300000  73.300000  85.999989
2018-05-28 13:36:14-07:00  73.445455  73.445455  73.445455  85.999989
2018-05-28 13:36:14-07:00  74.224242  74.000000  74.400000  85.999989

                              t_std
time
2018-05-28 13:32:14-07:00  0.089753
2018-05-28 13:34:14-07:00  0.000000
2018-05-28 13:36:14-07:00  0.000000
2018-05-28 13:36:14-07:00  0.182323
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 13:45:14-07:00   0   0  0.545455   1  73.281818  73.281818
2018-05-28 13:46:14-07:00   0   0  0.000000  15  73.066667  73.066667
2018-05-28 13:47:14-07:00   0   0  0.666667   1  73.166667  73.166667
2018-05-28 13:48:14-07:00   0   0  0.000000  15  73.036364  73.036364

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 13:45:14-07:00  73.281818  73.281818  73.281818  85.999989
2018-05-28 13:46:14-07:00  72.641111  72.400000  72.600000  85.999989
2018-05-28 13:47:14-07:00  73.166667  73.166667  73.166667  85.999989
2018-05-28 13:48:14-07:00  72.765960  72.600000  73.000000  85.999989

                              t_std
time
2018-05-28 13:45:14-07:00  0.000000
2018-05-28 13:46:14-07:00  0.200265
2018-05-28 13:47:14-07:00  0.000000
2018-05-28 13:48:14-07:00  0.139520
========
Action is by itself with action 0.400000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 13:47:14-07:00   0   0  0.666667   1  73.166667  73.166667
2018-05-28 13:48:14-07:00   0   0  0.000000  15  73.036364  73.036364
2018-05-28 13:48:14-07:00   0   0  0.400000   1  73.260000  73.260000
2018-05-28 13:49:14-07:00   0   0  0.000000  15  73.050000  73.050000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 13:47:14-07:00  73.166667  73.166667  73.166667  85.999989
2018-05-28 13:48:14-07:00  72.765960  72.600000  73.000000  85.999989
2018-05-28 13:48:14-07:00  73.260000  73.260000  73.260000  85.999989
2018-05-28 13:49:14-07:00  72.732424  72.600000  73.000000  85.999989

                              t_std
time
2018-05-28 13:47:14-07:00  0.000000
2018-05-28 13:48:14-07:00  0.139520
2018-05-28 13:48:14-07:00  0.000000
2018-05-28 13:49:14-07:00  0.139521
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 14:15:14-07:00   0   0  0.181818   1  73.118182  73.118182
2018-05-28 14:16:14-07:00   0   0  0.000000  15  72.766667  72.800000
2018-05-28 14:16:14-07:00   0   0  0.166667   1  74.108333  74.108333
2018-05-28 14:17:14-07:00   0   0  0.000000  15  73.900000  74.145455

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 14:15:14-07:00  73.118182  73.118182  73.118182  87.000789
2018-05-28 14:16:14-07:00  72.681465  72.600000  72.800000  87.000789
2018-05-28 14:16:14-07:00  74.108333  74.108333  74.108333  87.000789
2018-05-28 14:17:14-07:00  73.858030  73.700000  74.145455  87.000789

                              t_std
time
2018-05-28 14:15:14-07:00  0.000000
2018-05-28 14:16:14-07:00  0.061382
2018-05-28 14:16:14-07:00  0.000000
2018-05-28 14:17:14-07:00  0.148138
========
Action is by itself with action 0.666667 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 14:17:14-07:00   0   0  0.000000  15  73.900000  74.145455
2018-05-28 14:19:14-07:00   0   0  0.000000  15  73.263636  73.263636
2018-05-28 14:20:14-07:00   0   0  0.666667   1  73.233333  73.233333
2018-05-28 14:21:14-07:00   0   0  0.000000  15  73.027273  73.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 14:17:14-07:00  73.858030  73.700000  74.145455  87.000789
2018-05-28 14:19:14-07:00  73.008889  72.800000  73.000000  87.000789
2018-05-28 14:20:14-07:00  73.233333  73.233333  73.233333  87.000789
2018-05-28 14:21:14-07:00  72.996263  72.800000  73.200000  87.000789

                              t_std
time
2018-05-28 14:17:14-07:00  0.148138
2018-05-28 14:19:14-07:00  0.170421
2018-05-28 14:20:14-07:00  0.000000
2018-05-28 14:21:14-07:00  0.133813
========
Action is by itself with action 0.909091 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 14:20:14-07:00   0   0  0.666667   1  73.233333  73.233333
2018-05-28 14:21:14-07:00   0   0  0.000000  15  73.027273  73.200000
2018-05-28 14:22:14-07:00   0   0  0.909091   1  73.381818  73.381818
2018-05-28 14:23:14-07:00   0   0  0.000000  15  73.083333  73.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 14:20:14-07:00  73.233333  73.233333  73.233333  87.000789
2018-05-28 14:21:14-07:00  72.996263  72.800000  73.200000  87.000789
2018-05-28 14:22:14-07:00  73.381818  73.381818  73.381818  87.000789
2018-05-28 14:23:14-07:00  73.092828  73.000000  73.300000  87.000789

                              t_std
time
2018-05-28 14:20:14-07:00  0.000000
2018-05-28 14:21:14-07:00  0.133813
2018-05-28 14:22:14-07:00  0.000000
2018-05-28 14:23:14-07:00  0.128993
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 14:22:14-07:00   0   0  0.909091   1  73.381818  73.381818
2018-05-28 14:23:14-07:00   0   0  0.000000  15  73.083333  73.300000
2018-05-28 14:23:14-07:00   0   0  0.666667   1  74.133333  74.133333
2018-05-28 14:24:14-07:00   0   0  0.000000  15  74.000000  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 14:22:14-07:00  73.381818  73.381818  73.381818  87.000789
2018-05-28 14:23:14-07:00  73.092828  73.000000  73.300000  87.000789
2018-05-28 14:23:14-07:00  74.133333  74.133333  74.133333  87.000789
2018-05-28 14:24:14-07:00  73.837576  73.600000  74.100000  87.000789

                              t_std
time
2018-05-28 14:22:14-07:00  0.000000
2018-05-28 14:23:14-07:00  0.128993
2018-05-28 14:23:14-07:00  0.000000
2018-05-28 14:24:14-07:00  0.172962
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 14:31:14-07:00   0   0  0.000000   8  72.909091  73.416667
2018-05-28 14:32:14-07:00   0   0  0.000000   1  74.400000  74.400000
2018-05-28 14:33:14-07:00   0   0  1.333333   1  74.491667  74.491667
2018-05-28 14:34:14-07:00   0   0  0.000000  15  73.000000  73.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 14:31:14-07:00  73.170265  72.909091  73.416667  87.000789
2018-05-28 14:32:14-07:00  74.400000  74.400000  74.400000  87.000789
2018-05-28 14:33:14-07:00  74.491667  74.491667  74.491667  87.000789
2018-05-28 14:34:14-07:00  73.262121  73.000000  73.200000  87.000789

                              t_std
time
2018-05-28 14:31:14-07:00  0.160399
2018-05-28 14:32:14-07:00  0.000000
2018-05-28 14:33:14-07:00  0.000000
2018-05-28 14:34:14-07:00  0.133534
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 14:42:14-07:00   0   1  2.000000   9  74.600000  74.900000
2018-05-28 14:42:14-07:00   0   0  0.000000  14  73.966667  74.218182
2018-05-28 14:46:14-07:00   0   0  0.666667   1  73.300000  73.300000
2018-05-28 14:47:14-07:00   0   0  0.000000  15  73.066667  73.400000

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-28 14:42:14-07:00  74.717003   74.4  74.400000  87.000789  0.167442
2018-05-28 14:42:14-07:00  73.915801   73.7  74.218182  87.000789  0.129901
2018-05-28 14:46:14-07:00  73.300000   73.3  73.300000  87.000789  0.000000
2018-05-28 14:47:14-07:00  73.056505   72.8  73.400000  87.000789  0.180882
========
Action is by itself with action 1.272727 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 14:46:14-07:00   0   0  0.666667   1  73.300000  73.300000
2018-05-28 14:47:14-07:00   0   0  0.000000  15  73.066667  73.400000
2018-05-28 14:49:14-07:00   0   0  1.272727   1  73.418182  73.418182
2018-05-28 14:49:14-07:00   0   0  0.000000  15  73.200000  73.336364

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 14:46:14-07:00  73.300000  73.300000  73.300000  87.000789
2018-05-28 14:47:14-07:00  73.056505  72.800000  73.400000  87.000789
2018-05-28 14:49:14-07:00  73.418182  73.418182  73.418182  87.000789
2018-05-28 14:49:14-07:00  73.184667  73.100000  73.336364  87.000789

                              t_std
time
2018-05-28 14:46:14-07:00  0.000000
2018-05-28 14:47:14-07:00  0.180882
2018-05-28 14:49:14-07:00  0.000000
2018-05-28 14:49:14-07:00  0.085358
========
Action is by itself with action 1.090909 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 14:49:14-07:00   0   0  0.000000  15  73.200000  73.336364
2018-05-28 14:50:14-07:00   0   0  0.000000  15  73.058333  73.400000
2018-05-28 14:51:14-07:00   0   0  1.090909   1  74.263636  74.263636
2018-05-28 14:52:14-07:00   0   0  0.000000  15  74.000000  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 14:49:14-07:00  73.184667  73.100000  73.336364  87.000789
2018-05-28 14:50:14-07:00  73.160808  73.000000  73.400000  87.000789
2018-05-28 14:51:14-07:00  74.263636  74.263636  74.263636  87.000789
2018-05-28 14:52:14-07:00  73.653778  73.400000  74.000000  87.067388

                              t_std
time
2018-05-28 14:49:14-07:00  0.085358
2018-05-28 14:50:14-07:00  0.161792
2018-05-28 14:51:14-07:00  0.000000
2018-05-28 14:52:14-07:00  0.223275
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 14:51:14-07:00   0   0  1.090909   1  74.263636  74.263636
2018-05-28 14:52:14-07:00   0   0  0.000000  15  74.000000  74.000000
2018-05-28 14:56:14-07:00   0   0  0.333333   1  74.450000  74.450000
2018-05-28 14:57:14-07:00   0   0  0.000000  15  73.000000  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 14:51:14-07:00  74.263636  74.263636  74.263636  87.000789
2018-05-28 14:52:14-07:00  73.653778  73.400000  74.000000  87.067388
2018-05-28 14:56:14-07:00  74.450000  74.450000  74.450000  87.000789
2018-05-28 14:57:14-07:00  73.470343  73.000000  74.000000  87.400383

                              t_std
time
2018-05-28 14:51:14-07:00  0.000000
2018-05-28 14:52:14-07:00  0.223275
2018-05-28 14:56:14-07:00  0.000000
2018-05-28 14:57:14-07:00  0.344466
========
Action is by itself with action 0.833333 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-28 15:14:14-07:00   0   1  2.000000   6  74.536364  74.60  74.572727
2018-05-28 15:17:14-07:00   0   0  0.000000  15  74.300000  75.00  74.647071
2018-05-28 15:19:14-07:00   0   0  0.833333   1  74.550000  74.55  74.550000
2018-05-28 15:19:14-07:00   0   0  0.000000  15  74.300000  74.90  74.583232

                           t_min  t_next      t_out     t_std
time
2018-05-28 15:14:14-07:00  74.50   74.50  87.999775  0.039972
2018-05-28 15:17:14-07:00  74.30   75.00  87.999775  0.229578
2018-05-28 15:19:14-07:00  74.55   74.55  87.999775  0.000000
2018-05-28 15:19:14-07:00  74.30   74.90  87.999775  0.245889
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 15:19:14-07:00   0   0  0.833333   1  74.550000  74.550000
2018-05-28 15:19:14-07:00   0   0  0.000000  15  74.300000  74.900000
2018-05-28 15:20:14-07:00   0   0  0.666667   1  74.166667  74.166667
2018-05-28 15:20:14-07:00   0   0  0.000000  15  74.500000  75.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 15:19:14-07:00  74.550000  74.550000  74.550000  87.999775
2018-05-28 15:19:14-07:00  74.583232  74.300000  74.900000  87.999775
2018-05-28 15:20:14-07:00  74.166667  74.166667  74.166667  87.999775
2018-05-28 15:20:14-07:00  74.874444  74.500000  75.200000  87.999775

                              t_std
time
2018-05-28 15:19:14-07:00  0.000000
2018-05-28 15:19:14-07:00  0.245889
2018-05-28 15:20:14-07:00  0.000000
2018-05-28 15:20:14-07:00  0.214551
========
Action is by itself with action 0.181818 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 15:21:14-07:00   0   0  0.000000  14  73.990909  74.400000
2018-05-28 15:27:14-07:00   0   0  0.000000  15  75.000000  75.700000
2018-05-28 15:29:14-07:00   0   0  0.181818   1  74.109091  74.109091
2018-05-28 15:30:14-07:00   0   0  0.000000  11  73.983333  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 15:21:14-07:00  74.028517  73.900000  74.400000  87.999775
2018-05-28 15:27:14-07:00  75.363788  75.000000  75.700000  87.999775
2018-05-28 15:29:14-07:00  74.109091  74.109091  74.109091  87.999775
2018-05-28 15:30:14-07:00  73.933196  73.700000  74.100000  87.999775

                              t_std
time
2018-05-28 15:21:14-07:00  0.166878
2018-05-28 15:27:14-07:00  0.217316
2018-05-28 15:29:14-07:00  0.000000
2018-05-28 15:30:14-07:00  0.122531
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 15:49:14-07:00   0   0  0.000000  15  75.300000  75.800000
2018-05-28 15:50:14-07:00   0   0  0.000000  15  75.600000  76.025000
2018-05-28 15:51:14-07:00   0   0  0.666667   1  74.266667  74.266667
2018-05-28 15:52:14-07:00   0   0  0.000000  10  74.040000  74.125000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 15:49:14-07:00  75.510909  75.300000  75.800000  87.999775
2018-05-28 15:50:14-07:00  75.885909  75.600000  76.025000  87.999775
2018-05-28 15:51:14-07:00  74.266667  74.266667  74.266667  87.999775
2018-05-28 15:52:14-07:00  73.985667  73.900000  74.125000  87.999775

                              t_std
time
2018-05-28 15:49:14-07:00  0.158016
2018-05-28 15:50:14-07:00  0.111786
2018-05-28 15:51:14-07:00  0.000000
2018-05-28 15:52:14-07:00  0.065376
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 16:05:14-07:00   0   0  0.000000  12  74.016667  74.400000
2018-05-28 16:12:14-07:00   0   0  0.000000  15  76.600000  77.000000
2018-05-28 16:13:14-07:00   0   0  0.333333   1  74.116667  74.116667
2018-05-28 16:14:14-07:00   0   0  0.000000   9  73.983333  74.166667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 16:05:14-07:00  74.012500  73.900000  74.400000  89.832948
2018-05-28 16:12:14-07:00  76.809899  76.600000  77.000000  89.999600
2018-05-28 16:13:14-07:00  74.116667  74.116667  74.116667  89.999600
2018-05-28 16:14:14-07:00  73.987037  73.900000  74.166667  89.999600

                              t_std
time
2018-05-28 16:05:14-07:00  0.132833
2018-05-28 16:12:14-07:00  0.133862
2018-05-28 16:13:14-07:00  0.000000
2018-05-28 16:14:14-07:00  0.075268
========
Action is by itself with action 1.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 16:13:14-07:00   0   0  0.333333   1  74.116667  74.116667
2018-05-28 16:14:14-07:00   0   0  0.000000   9  73.983333  74.166667
2018-05-28 16:17:14-07:00   0   0  1.166667   1  74.525000  74.525000
2018-05-28 16:17:14-07:00   0   0  0.000000  15  76.300000  76.700000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-28 16:13:14-07:00  74.116667  74.116667  74.116667  89.9996  0.000000
2018-05-28 16:14:14-07:00  73.987037  73.900000  74.166667  89.9996  0.075268
2018-05-28 16:17:14-07:00  74.525000  74.525000  74.525000  89.9996  0.000000
2018-05-28 16:17:14-07:00  76.497626  76.300000  76.700000  89.9996  0.137411
========
Action is by itself with action 1.400000 for data:
                           a1  a2  action  dt   t_in      t_max     t_mean  \
time
2018-05-28 16:27:14-07:00   0   0     0.0  15  77.00  77.300000  77.148586
2018-05-28 16:32:14-07:00   0   0     0.0  15  76.70  77.000000  76.856667
2018-05-28 16:34:14-07:00   0   0     1.4   1  74.24  74.240000  74.240000
2018-05-28 16:34:14-07:00   0   0     0.0  15  76.60  76.758333  76.673586

                           t_min     t_next    t_out     t_std
time
2018-05-28 16:27:14-07:00  77.00  77.300000  89.9996  0.094376
2018-05-28 16:32:14-07:00  76.70  77.000000  89.9996  0.100397
2018-05-28 16:34:14-07:00  74.24  74.240000  89.9996  0.000000
2018-05-28 16:34:14-07:00  76.60  76.758333  89.9996  0.048930
========
Action is by itself with action 0.909091 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 16:49:14-07:00   0   0  0.000000  15  76.800000  77.100000
2018-05-28 16:50:14-07:00   0   0  0.000000  15  77.100000  77.300000
2018-05-28 16:55:14-07:00   0   0  0.909091   1  74.236364  74.236364
2018-05-28 16:56:14-07:00   0   0  0.000000   9  74.058333  74.166667

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-28 16:49:14-07:00  76.949747  76.800000  77.100000  89.9996  0.111060
2018-05-28 16:50:14-07:00  77.204747  77.100000  77.300000  89.9996  0.078318
2018-05-28 16:55:14-07:00  74.236364  74.236364  74.236364  89.9996  0.000000
2018-05-28 16:56:14-07:00  73.998569  73.900000  74.166667  89.9996  0.075338
========
Action is by itself with action 1.272727 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 17:02:14-07:00   0   0  0.000000   5  74.550000  75.000000
2018-05-28 17:04:14-07:00   0   0  0.000000  15  77.100000  77.600000
2018-05-28 17:05:14-07:00   0   0  1.272727   1  74.563636  74.563636
2018-05-28 17:05:14-07:00   0   0  0.000000  15  77.354545  77.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 17:02:14-07:00  74.910000  74.550000  75.000000  89.799807
2018-05-28 17:04:14-07:00  77.244646  77.100000  77.600000  89.133831
2018-05-28 17:05:14-07:00  74.563636  74.563636  74.563636  89.999600
2018-05-28 17:05:14-07:00  77.574747  77.354545  77.700000  89.067234

                              t_std
time
2018-05-28 17:02:14-07:00  0.180000
2018-05-28 17:04:14-07:00  0.128843
2018-05-28 17:05:14-07:00  0.000000
2018-05-28 17:05:14-07:00  0.091738
========
Action is by itself with action 0.083333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 17:08:14-07:00   0   0  0.583333   1  75.333333  75.333333
2018-05-28 17:09:14-07:00   0   0  0.000000   1  75.400000  75.400000
2018-05-28 17:10:14-07:00   0   0  0.083333   1  75.408333  75.408333
2018-05-28 17:11:14-07:00   0   0  0.000000   3  75.490909  75.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 17:08:14-07:00  75.333333  75.333333  75.333333  89.000636
2018-05-28 17:09:14-07:00  75.400000  75.400000  75.400000  89.000636
2018-05-28 17:10:14-07:00  75.408333  75.408333  75.408333  89.000636
2018-05-28 17:11:14-07:00  75.496970  75.490909  75.500000  89.000636

                              t_std
time
2018-05-28 17:08:14-07:00  0.000000
2018-05-28 17:09:14-07:00  0.000000
2018-05-28 17:10:14-07:00  0.000000
2018-05-28 17:11:14-07:00  0.004285
========
Action is by itself with action 0.083333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 17:11:14-07:00   0   0  0.000000   3  75.490909  75.500000
2018-05-28 17:12:14-07:00   0   0  0.000000  15  78.100000  78.500000
2018-05-28 17:14:14-07:00   0   0  0.083333   1  75.533333  75.533333
2018-05-28 17:15:14-07:00   0   0  0.000000   1  75.545455  75.545455

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 17:11:14-07:00  75.496970  75.490909  75.500000  89.000636
2018-05-28 17:12:14-07:00  78.289091  78.100000  78.500000  89.000636
2018-05-28 17:14:14-07:00  75.533333  75.533333  75.533333  89.000636
2018-05-28 17:15:14-07:00  75.545455  75.545455  75.545455  89.000636

                              t_std
time
2018-05-28 17:11:14-07:00  0.004285
2018-05-28 17:12:14-07:00  0.130563
2018-05-28 17:14:14-07:00  0.000000
2018-05-28 17:15:14-07:00  0.000000
========
Action is by itself with action 0.083333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 17:14:14-07:00   0   0  0.083333   1  75.533333  75.533333
2018-05-28 17:15:14-07:00   0   0  0.000000   1  75.545455  75.545455
2018-05-28 17:16:14-07:00   0   0  0.083333   1  75.550000  75.550000
2018-05-28 17:17:14-07:00   0   0  0.000000   1  75.500000  75.500000

                              t_mean      t_min     t_next      t_out  t_std
time
2018-05-28 17:14:14-07:00  75.533333  75.533333  75.533333  89.000636    0.0
2018-05-28 17:15:14-07:00  75.545455  75.545455  75.545455  89.000636    0.0
2018-05-28 17:16:14-07:00  75.550000  75.550000  75.550000  89.000636    0.0
2018-05-28 17:17:14-07:00  75.500000  75.500000  75.500000  89.000636    0.0
========
Action is by itself with action 0.090909 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 17:17:14-07:00   0   0  0.000000   9  74.200000  74.200000
2018-05-28 17:17:14-07:00   0   0  0.000000  15  77.700000  77.900000
2018-05-28 17:18:14-07:00   0   0  0.090909   1  75.572727  75.572727
2018-05-28 17:19:14-07:00   0   0  0.000000   1  75.650000  75.650000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 17:17:14-07:00  74.019444  73.900000  74.000000  89.000636
2018-05-28 17:17:14-07:00  77.811313  77.700000  77.900000  89.000636
2018-05-28 17:18:14-07:00  75.572727  75.572727  75.572727  89.000636
2018-05-28 17:19:14-07:00  75.650000  75.650000  75.650000  89.000636

                              t_std
time
2018-05-28 17:17:14-07:00  0.084254
2018-05-28 17:17:14-07:00  0.074765
2018-05-28 17:18:14-07:00  0.000000
2018-05-28 17:19:14-07:00  0.000000
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 17:38:14-07:00   0   0  0.833333   1  74.183333  74.183333
2018-05-28 17:39:14-07:00   0   0  0.000000   8  74.041667  74.100000
2018-05-28 17:39:14-07:00   0   0  0.727273   1  77.800000  77.800000
2018-05-28 17:40:14-07:00   0   0  0.000000   1  77.836364  77.836364

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 17:38:14-07:00  74.183333  74.183333  74.183333  89.000636
2018-05-28 17:39:14-07:00  74.047254  74.000000  74.100000  89.000636
2018-05-28 17:39:14-07:00  77.800000  77.800000  77.800000  89.000636
2018-05-28 17:40:14-07:00  77.836364  77.836364  77.836364  89.000636

                              t_std
time
2018-05-28 17:38:14-07:00  0.000000
2018-05-28 17:39:14-07:00  0.043582
2018-05-28 17:39:14-07:00  0.000000
2018-05-28 17:40:14-07:00  0.000000
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 17:39:14-07:00   0   0  0.727273   1  77.800000  77.800000
2018-05-28 17:40:14-07:00   0   0  0.000000   1  77.836364  77.836364
2018-05-28 17:41:14-07:00   0   0  0.166667   1  77.900000  77.900000
2018-05-28 17:42:14-07:00   0   0  0.000000   7  77.933333  78.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 17:39:14-07:00  77.800000  77.800000  77.800000  89.000636
2018-05-28 17:40:14-07:00  77.836364  77.836364  77.836364  89.000636
2018-05-28 17:41:14-07:00  77.900000  77.900000  77.900000  89.000636
2018-05-28 17:42:14-07:00  77.969048  77.900000  78.000000  89.000636

                              t_std
time
2018-05-28 17:39:14-07:00  0.000000
2018-05-28 17:40:14-07:00  0.000000
2018-05-28 17:41:14-07:00  0.000000
2018-05-28 17:42:14-07:00  0.038244
========
Action is by itself with action 0.083333 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-28 17:48:14-07:00   0   1  2.000000  11  74.700000  75.00  74.805785
2018-05-28 17:49:14-07:00   0   0  0.000000  15  77.941667  78.02  77.961333
2018-05-28 17:49:14-07:00   0   0  0.083333   1  78.100000  78.10  78.100000
2018-05-28 17:50:14-07:00   0   0  0.000000  15  78.200000  78.50  78.335778

                           t_min  t_next      t_out     t_std
time
2018-05-28 17:48:14-07:00   74.3   74.30  89.000636  0.194333
2018-05-28 17:49:14-07:00   77.9   78.02  89.000636  0.046984
2018-05-28 17:49:14-07:00   78.1   78.10  89.000636  0.000000
2018-05-28 17:50:14-07:00   78.2   78.50  89.000636  0.101809
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 17:50:14-07:00   0   0  0.000000  15  78.200000  78.500000
2018-05-28 17:50:14-07:00   0   0  0.000000   4  78.236364  78.236364
2018-05-28 17:54:14-07:00   0   0  0.166667   1  78.350000  78.350000
2018-05-28 17:55:14-07:00   0   0  0.000000   2  78.500000  78.500000

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-28 17:50:14-07:00  78.335778  78.20   78.50  89.000636  0.101809
2018-05-28 17:50:14-07:00  78.209091  78.20   78.20  89.000636  0.015746
2018-05-28 17:54:14-07:00  78.350000  78.35   78.35  89.000636  0.000000
2018-05-28 17:55:14-07:00  78.500000  78.50   78.50  89.000636  0.000000
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 17:54:14-07:00   0   0  0.166667   1  78.350000  78.350000
2018-05-28 17:55:14-07:00   0   0  0.000000   2  78.500000  78.500000
2018-05-28 17:57:14-07:00   0   0  0.333333   1  78.533333  78.533333
2018-05-28 17:57:14-07:00   0   0  0.000000  15  78.900000  79.300000

                              t_mean      t_min     t_next      t_out    t_std
time
2018-05-28 17:54:14-07:00  78.350000  78.350000  78.350000  89.000636  0.00000
2018-05-28 17:55:14-07:00  78.500000  78.500000  78.500000  89.000636  0.00000
2018-05-28 17:57:14-07:00  78.533333  78.533333  78.533333  89.000636  0.00000
2018-05-28 17:57:14-07:00  79.076889  78.900000  79.300000  89.000634  0.10973
========
Action is by itself with action 0.833333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 17:57:14-07:00   0   0  0.333333   1  78.533333  78.533333
2018-05-28 17:57:14-07:00   0   0  0.000000  15  78.900000  79.300000
2018-05-28 17:58:14-07:00   0   0  0.833333   1  78.600000  78.600000
2018-05-28 17:59:14-07:00   0   0  0.000000   8  74.200000  74.200000

                              t_mean      t_min     t_next      t_out    t_std
time
2018-05-28 17:57:14-07:00  78.533333  78.533333  78.533333  89.000636  0.00000
2018-05-28 17:57:14-07:00  79.076889  78.900000  79.300000  89.000634  0.10973
2018-05-28 17:58:14-07:00  78.600000  78.600000  78.600000  89.000636  0.00000
2018-05-28 17:59:14-07:00  74.002083  73.900000  74.000000  89.000635  0.08268
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 17:58:14-07:00   0   0  0.833333   1  78.600000  78.600000
2018-05-28 17:59:14-07:00   0   0  0.000000   8  74.200000  74.200000
2018-05-28 17:59:14-07:00   0   0  0.727273   1  78.627273  78.627273
2018-05-28 18:00:14-07:00   0   0  0.000000  10  78.700000  78.908333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 17:58:14-07:00  78.600000  78.600000  78.600000  89.000636
2018-05-28 17:59:14-07:00  74.002083  73.900000  74.000000  89.000635
2018-05-28 17:59:14-07:00  78.627273  78.627273  78.627273  89.000636
2018-05-28 18:00:14-07:00  78.834394  78.700000  78.900000  89.000634

                              t_std
time
2018-05-28 17:58:14-07:00  0.000000
2018-05-28 17:59:14-07:00  0.082680
2018-05-28 17:59:14-07:00  0.000000
2018-05-28 18:00:14-07:00  0.088912
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-28 18:12:14-07:00   1   0  1.000000   2  79.1   79.1  79.100000
2018-05-28 18:12:14-07:00   0   0  0.000000  15  79.3   79.5  79.403889
2018-05-28 18:14:14-07:00   0   0  0.727273   1  79.1   79.1  79.100000
2018-05-28 18:15:14-07:00   0   0  0.000000   4  79.1   79.3  79.218182

                           t_min  t_next     t_out     t_std
time
2018-05-28 18:12:14-07:00   79.1    79.1  89.00063  0.000000
2018-05-28 18:12:14-07:00   79.3    79.5  89.00063  0.071419
2018-05-28 18:14:14-07:00   79.1    79.1  89.00063  0.000000
2018-05-28 18:15:14-07:00   79.1    79.3  89.00063  0.085763
========
Action is by itself with action 0.083333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 18:20:14-07:00   0   0  0.000000   9  78.700000  78.800000
2018-05-28 18:20:14-07:00   0   0  0.000000   8  74.083333  74.100000
2018-05-28 18:24:14-07:00   0   0  0.083333   1  79.500000  79.500000
2018-05-28 18:25:14-07:00   0   0  0.000000   4  79.500000  79.616667

                              t_mean  t_min     t_next     t_out     t_std
time
2018-05-28 18:20:14-07:00  78.759259   78.7  78.800000  89.00063  0.046555
2018-05-28 18:20:14-07:00  74.053125   74.0  74.100000  89.00063  0.044864
2018-05-28 18:24:14-07:00  79.500000   79.5  79.500000  89.00063  0.000000
2018-05-28 18:25:14-07:00  79.537500   79.5  79.616667  89.00063  0.047690
========
Action is by itself with action 0.333333 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 18:32:14-07:00   0   0  0.166667   1  79.783333  79.783333
2018-05-28 18:33:14-07:00   0   0  0.000000  15  79.800000  79.900000
2018-05-28 18:41:14-07:00   0   0  0.333333   1  74.116667  74.116667
2018-05-28 18:42:14-07:00   0   0  0.000000   8  74.018182  74.100000

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-28 18:32:14-07:00  79.783333  79.783333  79.783333  89.00063  0.000000
2018-05-28 18:33:14-07:00  79.889444  79.800000  79.900000  89.00063  0.027966
2018-05-28 18:41:14-07:00  74.116667  74.116667  74.116667  89.00063  0.000000
2018-05-28 18:42:14-07:00  74.045455  74.000000  74.100000  89.00063  0.044536
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 18:47:14-07:00   0   1  2.000000  13  71.500000  71.500000
2018-05-28 18:48:14-07:00   0   0  0.000000   1  79.875000  79.875000
2018-05-28 18:49:14-07:00   0   0  0.166667   1  79.891667  79.891667
2018-05-28 18:50:14-07:00   0   0  0.000000   4  79.881818  79.891667

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-28 18:47:14-07:00  70.113287  68.800000  68.800000  89.00063  0.872353
2018-05-28 18:48:14-07:00  79.875000  79.875000  79.875000  89.00063  0.000000
2018-05-28 18:49:14-07:00  79.891667  79.891667  79.891667  89.00063  0.000000
2018-05-28 18:50:14-07:00  79.880114  79.863636  79.883333  89.00063  0.010226
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 19:01:14-07:00   0   0  0.000000   2  79.500000  79.500000
2018-05-28 19:01:14-07:00   0   0  0.000000   3  68.154545  68.200000
2018-05-28 19:02:14-07:00   0   0  0.666667   1  74.133333  74.133333
2018-05-28 19:03:14-07:00   0   0  0.000000   8  74.040000  74.166667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 19:01:14-07:00  79.500000  79.500000  79.500000  89.000630
2018-05-28 19:01:14-07:00  68.159848  68.125000  68.200000  89.000630
2018-05-28 19:02:14-07:00  74.133333  74.133333  74.133333  89.000630
2018-05-28 19:03:14-07:00  74.067500  74.000000  74.166667  88.375096

                              t_std
time
2018-05-28 19:01:14-07:00  0.000000
2018-05-28 19:01:14-07:00  0.030847
2018-05-28 19:02:14-07:00  0.000000
2018-05-28 19:03:14-07:00  0.054817
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 19:17:14-07:00   0   0  1.454545   1  68.490909  68.490909
2018-05-28 19:18:14-07:00   0   0  0.000000   5  68.150000  68.150000
2018-05-28 19:21:14-07:00   0   0  1.666667   1  74.533333  74.533333
2018-05-28 19:22:14-07:00   0   0  0.000000   9  74.166667  74.166667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 19:17:14-07:00  68.490909  68.490909  68.490909  87.999775
2018-05-28 19:18:14-07:00  68.050000  68.000000  68.100000  87.999775
2018-05-28 19:21:14-07:00  74.533333  74.533333  74.533333  87.999775
2018-05-28 19:22:14-07:00  73.973670  73.900000  74.000000  87.999775

                              t_std
time
2018-05-28 19:17:14-07:00  0.000000
2018-05-28 19:18:14-07:00  0.063246
2018-05-28 19:21:14-07:00  0.000000
2018-05-28 19:22:14-07:00  0.079713
========
Action is by itself with action 0.181818 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 19:37:14-07:00   0   0  1.166667   1  68.333333  68.333333
2018-05-28 19:38:14-07:00   0   0  0.000000   8  68.000000  68.000000
2018-05-28 19:42:14-07:00   0   0  0.181818   1  74.145455  74.145455
2018-05-28 19:43:14-07:00   0   0  0.000000   9  73.966667  74.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 19:37:14-07:00  68.333333  68.333333  68.333333  87.999775
2018-05-28 19:38:14-07:00  67.968750  67.900000  68.000000  87.999775
2018-05-28 19:42:14-07:00  74.145455  74.145455  74.145455  87.999775
2018-05-28 19:43:14-07:00  73.985185  73.900000  74.100000  87.999775

                              t_std
time
2018-05-28 19:37:14-07:00  0.000000
2018-05-28 19:38:14-07:00  0.042848
2018-05-28 19:42:14-07:00  0.000000
2018-05-28 19:43:14-07:00  0.087646
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 20:18:14-07:00   0   1  2.000000   5  77.700000  77.700000
2018-05-28 20:20:14-07:00   0   0  0.000000   5  68.200000  68.508333
2018-05-28 20:20:14-07:00   0   0  0.666667   1  68.233333  68.233333
2018-05-28 20:21:14-07:00   0   0  0.000000   5  68.200000  68.300000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-28 20:18:14-07:00  77.693333  77.666667  77.666667  84.9992  0.013333
2018-05-28 20:20:14-07:00  68.403485  68.200000  68.508333  84.9992  0.126444
2018-05-28 20:20:14-07:00  68.233333  68.233333  68.233333  84.9992  0.000000
2018-05-28 20:21:14-07:00  68.246667  68.200000  68.300000  84.9992  0.045216
========
Action is by itself with action 0.545455 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 21:26:14-07:00   0   0  0.545455   1  78.945455  78.945455
2018-05-28 21:27:14-07:00   0   0  0.000000  15  74.066667  74.166667
2018-05-28 21:27:14-07:00   0   0  0.545455   1  68.390909  68.390909
2018-05-28 21:27:14-07:00   0   0  0.000000   5  79.000000  79.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-28 21:26:14-07:00  78.945455  78.945455  78.945455  82.999403
2018-05-28 21:27:14-07:00  73.839192  73.600000  74.166667  82.999402
2018-05-28 21:27:14-07:00  68.390909  68.390909  68.390909  82.999403
2018-05-28 21:27:14-07:00  79.000000  79.000000  79.000000  82.999403

                              t_std
time
2018-05-28 21:26:14-07:00  0.000000
2018-05-28 21:27:14-07:00  0.181415
2018-05-28 21:27:14-07:00  0.000000
2018-05-28 21:27:14-07:00  0.000000
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 21:47:14-07:00   0   0  0.363636   1  79.500000  79.500000
2018-05-28 21:48:14-07:00   0   0  0.000000   3  79.500000  79.500000
2018-05-28 21:50:14-07:00   0   0  0.333333   1  74.166667  74.166667
2018-05-28 21:51:14-07:00   0   0  0.000000  15  73.977778  74.000000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-28 21:47:14-07:00  79.500000  79.500000  79.500000  82.9994  0.000000
2018-05-28 21:48:14-07:00  79.500000  79.500000  79.500000  82.9994  0.000000
2018-05-28 21:50:14-07:00  74.166667  74.166667  74.166667  82.9994  0.000000
2018-05-28 21:51:14-07:00  73.794276  73.500000  74.000000  82.9994  0.204596
========
Action is by itself with action 0.600000 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 21:50:14-07:00   0   0  0.333333   1  74.166667  74.166667
2018-05-28 21:51:14-07:00   0   0  0.000000  15  73.977778  74.000000
2018-05-28 21:51:14-07:00   0   0  0.600000   1  79.540000  79.540000
2018-05-28 21:52:14-07:00   0   0  0.000000   3  79.600000  79.600000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-28 21:50:14-07:00  74.166667  74.166667  74.166667  82.9994  0.000000
2018-05-28 21:51:14-07:00  73.794276  73.500000  74.000000  82.9994  0.204596
2018-05-28 21:51:14-07:00  79.540000  79.540000  79.540000  82.9994  0.000000
2018-05-28 21:52:14-07:00  79.577778  79.533333  79.533333  82.9994  0.031427
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-28 21:51:14-07:00   0   0  0.600000   1  79.54  79.54  79.540000
2018-05-28 21:52:14-07:00   0   0  0.000000   3  79.60  79.60  79.577778
2018-05-28 21:55:14-07:00   0   0  0.333333   1  79.30  79.30  79.300000
2018-05-28 21:56:14-07:00   0   0  0.000000   4  79.30  79.30  79.191288

                               t_min     t_next    t_out     t_std
time
2018-05-28 21:51:14-07:00  79.540000  79.540000  82.9994  0.000000
2018-05-28 21:52:14-07:00  79.533333  79.533333  82.9994  0.031427
2018-05-28 21:55:14-07:00  79.300000  79.300000  82.9994  0.000000
2018-05-28 21:56:14-07:00  79.083333  79.083333  82.9994  0.100002
========
Action is by itself with action 0.181818 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 22:00:14-07:00   0   0  0.000000  15  71.000000  71.875000
2018-05-28 22:00:14-07:00   0   0  0.000000  15  71.100000  72.400000
2018-05-28 22:00:14-07:00   0   0  0.181818   1  79.072727  79.072727
2018-05-28 22:00:14-07:00   0   0  0.000000  15  71.000000  72.100000

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-28 22:00:14-07:00  71.450303  71.000000  71.875000  81.79952  0.327330
2018-05-28 22:00:14-07:00  71.892081  71.100000  72.400000  81.79952  0.345577
2018-05-28 22:00:14-07:00  79.072727  79.072727  79.072727  82.99940  0.000000
2018-05-28 22:00:14-07:00  71.659394  71.000000  72.100000  81.79952  0.357538
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt   t_in      t_max     t_mean  \
time
2018-05-28 22:15:14-07:00   0   0  0.000000  15  72.40  73.090909  72.740283
2018-05-28 22:15:14-07:00   0   0  0.000000  15  72.15  72.836364  72.481717
2018-05-28 22:18:14-07:00   0   0  0.727273   1  78.00  78.000000  78.000000
2018-05-28 22:19:14-07:00   0   0  0.000000   3  77.90  77.900000  77.766667

                               t_min     t_next    t_out     t_std
time
2018-05-28 22:15:14-07:00  72.400000  73.090909  80.9996  0.231098
2018-05-28 22:15:14-07:00  72.150000  72.836364  80.9996  0.188625
2018-05-28 22:18:14-07:00  78.000000  78.000000  80.9996  0.000000
2018-05-28 22:19:14-07:00  77.633333  77.633333  80.9996  0.108866
========
Action is by itself with action 0.400000 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-28 22:18:14-07:00   0   0  0.727273   1  78.0   78.0  78.000000
2018-05-28 22:19:14-07:00   0   0  0.000000   3  77.9   77.9  77.766667
2018-05-28 22:22:14-07:00   0   0  0.400000   1  77.6   77.6  77.600000
2018-05-28 22:23:14-07:00   0   0  0.000000   2  77.6   77.6  77.600000

                               t_min     t_next    t_out     t_std
time
2018-05-28 22:18:14-07:00  78.000000  78.000000  80.9996  0.000000
2018-05-28 22:19:14-07:00  77.633333  77.633333  80.9996  0.108866
2018-05-28 22:22:14-07:00  77.600000  77.600000  80.9996  0.000000
2018-05-28 22:23:14-07:00  77.600000  77.600000  80.9996  0.000000
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-28 22:34:14-07:00   0   0  0.727273   1  76.936364  76.936364
2018-05-28 22:35:14-07:00   0   0  0.000000   6  76.900000  76.945455
2018-05-28 22:39:14-07:00   0   0  0.666667   1  74.200000  74.200000
2018-05-28 22:40:14-07:00   0   0  0.000000  15  73.972727  74.000000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-28 22:34:14-07:00  76.936364  76.936364  76.936364  80.9996  0.000000
2018-05-28 22:35:14-07:00  76.907576  76.900000  76.945455  80.9996  0.016940
2018-05-28 22:39:14-07:00  74.200000  74.200000  74.200000  80.9996  0.000000
2018-05-28 22:40:14-07:00  73.689138  73.500000  74.000000  80.9996  0.188015
========
Action is by itself with action 1.818182 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-28 22:55:14-07:00   0   0  1.666667   1  77.2   77.2  77.200000
2018-05-28 22:55:14-07:00   0   0  0.000000   5  74.0   74.4  74.206667
2018-05-28 22:56:14-07:00   0   0  1.818182   1  77.2   77.2  77.200000
2018-05-28 22:57:14-07:00   0   0  0.000000   7  77.2   77.2  77.200000

                           t_min  t_next    t_out         t_std
time
2018-05-28 22:55:14-07:00   77.2    77.2  80.9996  0.000000e+00
2018-05-28 22:55:14-07:00   74.0    74.4  80.9996  1.793817e-01
2018-05-28 22:56:14-07:00   77.2    77.2  80.9996  0.000000e+00
2018-05-28 22:57:14-07:00   77.2    77.2  80.9996  1.421085e-14
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-28 23:05:14-07:00   0   0  0.000000   5  77.2   77.3  77.280000
2018-05-28 23:06:14-07:00   0   0  0.000000  15  74.2   74.2  73.735354
2018-05-28 23:10:14-07:00   0   0  0.166667   1  77.3   77.3  77.300000
2018-05-28 23:11:14-07:00   0   0  0.000000  15  77.3   77.3  77.168737

                           t_min  t_next    t_out     t_std
time
2018-05-28 23:05:14-07:00   77.2    77.3  80.9996  0.040000
2018-05-28 23:06:14-07:00   73.5    74.0  80.9996  0.203546
2018-05-28 23:10:14-07:00   77.3    77.3  80.9996  0.000000
2018-05-28 23:11:14-07:00   77.1    77.1  80.9996  0.064480
========
Action is by itself with action 0.083333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 00:08:14-07:00   0   0  0.000000   6  78.781818  78.900000
2018-05-29 00:08:14-07:00   0   0  0.000000  15  74.009091  74.009091
2018-05-29 00:14:14-07:00   0   0  0.083333   1  78.900000  78.900000
2018-05-29 00:15:14-07:00   0   0  0.000000  15  74.800000  74.900000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 00:08:14-07:00  78.878914  78.781818  78.900000  80.000636
2018-05-29 00:08:14-07:00  73.574545  73.400000  73.566667  80.000636
2018-05-29 00:14:14-07:00  78.900000  78.900000  78.900000  80.000636
2018-05-29 00:15:14-07:00  74.889444  74.800000  74.900000  80.000636

                              t_std
time
2018-05-29 00:08:14-07:00  0.043529
2018-05-29 00:08:14-07:00  0.208206
2018-05-29 00:14:14-07:00  0.000000
2018-05-29 00:15:14-07:00  0.027966
========
Action is by itself with action 0.090909 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-29 00:14:14-07:00   0   0  0.083333   1  78.9   78.9  78.900000
2018-05-29 00:15:14-07:00   0   0  0.000000  15  74.8   74.9  74.889444
2018-05-29 00:15:14-07:00   0   0  0.090909   1  78.9   78.9  78.900000
2018-05-29 00:15:14-07:00   0   0  0.000000  15  74.8   74.9  74.882778

                           t_min  t_next      t_out     t_std
time
2018-05-29 00:14:14-07:00   78.9    78.9  80.000636  0.000000
2018-05-29 00:15:14-07:00   74.8    74.9  80.000636  0.027966
2018-05-29 00:15:14-07:00   78.9    78.9  80.000636  0.000000
2018-05-29 00:15:14-07:00   74.8    74.9  80.000636  0.035547
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-29 00:15:14-07:00   0   0  0.000000  15  74.6   74.8  74.711111
2018-05-29 00:16:14-07:00   0   0  0.000000   1  78.9   78.9  78.900000
2018-05-29 00:17:14-07:00   0   0  0.166667   1  78.9   78.9  78.900000
2018-05-29 00:18:14-07:00   0   0  0.000000   4  78.9   78.9  78.900000

                           t_min  t_next      t_out     t_std
time
2018-05-29 00:15:14-07:00   74.6    74.8  80.000636  0.096353
2018-05-29 00:16:14-07:00   78.9    78.9  80.000636  0.000000
2018-05-29 00:17:14-07:00   78.9    78.9  80.000636  0.000000
2018-05-29 00:18:14-07:00   78.9    78.9  80.000636  0.000000
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt  t_in  t_max  t_mean  t_min  \
time
2018-05-29 00:17:14-07:00   0   0  0.166667   1  78.9   78.9    78.9   78.9
2018-05-29 00:18:14-07:00   0   0  0.000000   4  78.9   78.9    78.9   78.9
2018-05-29 00:22:14-07:00   0   0  0.166667   1  78.9   78.9    78.9   78.9
2018-05-29 00:23:14-07:00   0   0  0.000000   1  78.9   78.9    78.9   78.9

                           t_next      t_out  t_std
time
2018-05-29 00:17:14-07:00    78.9  80.000636    0.0
2018-05-29 00:18:14-07:00    78.9  80.000636    0.0
2018-05-29 00:22:14-07:00    78.9  80.000636    0.0
2018-05-29 00:23:14-07:00    78.9  80.000636    0.0
========
Action is by itself with action 0.500000 for data:
                           a1  a2  action  dt  t_in      t_max     t_mean  \
time
2018-05-29 00:31:14-07:00   0   0     0.5   1  78.7  78.700000  78.700000
2018-05-29 00:32:14-07:00   0   0     0.0   2  78.7  78.736364  78.718182
2018-05-29 00:34:14-07:00   0   0     0.5   2  78.8  78.800000  78.800000
2018-05-29 00:36:14-07:00   0   0     0.0   2  78.8  78.800000  78.800000

                           t_min     t_next      t_out     t_std
time
2018-05-29 00:31:14-07:00   78.7  78.700000  80.000636  0.000000
2018-05-29 00:32:14-07:00   78.7  78.736364  80.000636  0.018182
2018-05-29 00:34:14-07:00   78.8  78.800000  80.000636  0.000000
2018-05-29 00:36:14-07:00   78.8  78.800000  80.000636  0.000000
========
Action is by itself with action 0.166667 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 00:34:14-07:00   0   0  0.500000   2  78.800000  78.800000
2018-05-29 00:36:14-07:00   0   0  0.000000   2  78.800000  78.800000
2018-05-29 00:38:14-07:00   0   0  0.166667   1  78.816667  78.816667
2018-05-29 00:38:14-07:00   0   0  0.000000   2  74.400000  74.441667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 00:34:14-07:00  78.800000  78.800000  78.800000  80.000636
2018-05-29 00:36:14-07:00  78.800000  78.800000  78.800000  80.000636
2018-05-29 00:38:14-07:00  78.816667  78.816667  78.816667  80.000636
2018-05-29 00:38:14-07:00  74.420833  74.400000  74.441667  80.000636

                              t_std
time
2018-05-29 00:34:14-07:00  0.000000
2018-05-29 00:36:14-07:00  0.000000
2018-05-29 00:38:14-07:00  0.000000
2018-05-29 00:38:14-07:00  0.020833
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 00:45:14-07:00   0   0  0.000000  15  75.000000  75.100000
2018-05-29 00:45:14-07:00   0   0  0.000000  15  75.200000  75.300000
2018-05-29 00:45:14-07:00   0   0  0.666667   1  74.233333  74.233333
2018-05-29 00:45:14-07:00   0   0  0.000000  15  75.000000  75.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 00:45:14-07:00  75.051111  75.000000  75.100000  80.000636
2018-05-29 00:45:14-07:00  75.283889  75.200000  75.300000  80.000636
2018-05-29 00:45:14-07:00  74.233333  74.233333  74.233333  80.000636
2018-05-29 00:45:14-07:00  75.070000  75.000000  75.100000  80.000636

                              t_std
time
2018-05-29 00:45:14-07:00  0.048483
2018-05-29 00:45:14-07:00  0.034489
2018-05-29 00:45:14-07:00  0.000000
2018-05-29 00:45:14-07:00  0.043970
========
Action is by itself with action 0.090909 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 00:45:14-07:00   0   0  0.000000  15  74.900000  75.000000
2018-05-29 00:46:14-07:00   0   0  0.000000  15  73.975000  73.975000
2018-05-29 00:46:14-07:00   0   0  0.090909   1  78.909091  78.909091
2018-05-29 00:47:14-07:00   0   0  0.000000   3  78.991667  79.009091

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 00:45:14-07:00  74.951111  74.900000  75.000000  80.000636
2018-05-29 00:46:14-07:00  73.551667  73.400000  73.500000  80.000636
2018-05-29 00:46:14-07:00  78.909091  78.909091  78.909091  80.000636
2018-05-29 00:47:14-07:00  79.000253  78.991667  79.000000  80.000636

                              t_std
time
2018-05-29 00:45:14-07:00  0.045017
2018-05-29 00:46:14-07:00  0.198424
2018-05-29 00:46:14-07:00  0.000000
2018-05-29 00:47:14-07:00  0.007116
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 00:46:14-07:00   0   0  0.090909   1  78.909091  78.909091
2018-05-29 00:47:14-07:00   0   0  0.000000   3  78.991667  79.009091
2018-05-29 00:50:14-07:00   0   0  0.166667   1  79.016667  79.016667
2018-05-29 00:51:14-07:00   0   0  0.000000   1  79.018182  79.018182

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 00:46:14-07:00  78.909091  78.909091  78.909091  80.000636
2018-05-29 00:47:14-07:00  79.000253  78.991667  79.000000  80.000636
2018-05-29 00:50:14-07:00  79.016667  79.016667  79.016667  80.000636
2018-05-29 00:51:14-07:00  79.018182  79.018182  79.018182  80.000636

                              t_std
time
2018-05-29 00:46:14-07:00  0.000000
2018-05-29 00:47:14-07:00  0.007116
2018-05-29 00:50:14-07:00  0.000000
2018-05-29 00:51:14-07:00  0.000000
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-29 00:57:14-07:00   0   0  0.000000   3  79.3   79.4  79.351515
2018-05-29 01:00:14-07:00   0   0  0.000000  15  75.0   75.1  75.021818
2018-05-29 01:00:14-07:00   0   0  1.666667   1  79.4   79.4  79.400000
2018-05-29 01:00:14-07:00   0   0  0.000000  15  75.1   75.2  75.135152

                           t_min  t_next      t_out     t_std
time
2018-05-29 00:57:14-07:00   79.3    79.4  80.000636  0.040881
2018-05-29 01:00:14-07:00   75.0    75.1  80.000632  0.039668
2018-05-29 01:00:14-07:00   79.4    79.4  80.000636  0.000000
2018-05-29 01:00:14-07:00   75.1    75.2  80.000632  0.046339
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt   t_in      t_max     t_mean  \
time
2018-05-29 01:00:14-07:00   0   0  0.000000  15  75.10  75.200000  75.135404
2018-05-29 01:00:14-07:00   0   0  0.000000  15  75.30  75.400000  75.362222
2018-05-29 01:01:14-07:00   0   0  0.333333   1  79.40  79.400000  79.400000
2018-05-29 01:01:14-07:00   0   0  0.000000  15  73.55  74.227273  73.967273

                           t_min     t_next      t_out     t_std
time
2018-05-29 01:00:14-07:00  75.10  75.133333  80.000632  0.043377
2018-05-29 01:00:14-07:00  75.30  75.400000  80.000632  0.046930
2018-05-29 01:01:14-07:00  79.40  79.400000  80.000636  0.000000
2018-05-29 01:01:14-07:00  73.55  74.227273  80.000632  0.218813
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-29 01:16:14-07:00   0   0  0.000000  15  74.3   74.5  74.383889
2018-05-29 01:22:14-07:00   0   0  0.000000   6  78.9   78.9  78.900000
2018-05-29 01:28:14-07:00   0   0  0.166667   1  78.9   78.9  78.900000
2018-05-29 01:29:14-07:00   0   0  0.000000   7  78.9   78.9  78.758117

                           t_min  t_next     t_out     t_std
time
2018-05-29 01:16:14-07:00   74.3    74.5  80.00063  0.064726
2018-05-29 01:22:14-07:00   78.9    78.9  80.00063  0.000000
2018-05-29 01:28:14-07:00   78.9    78.9  80.00063  0.000000
2018-05-29 01:29:14-07:00   78.7    78.7  80.00063  0.072439
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 01:38:14-07:00   0   0  0.333333   1  78.516667  78.516667
2018-05-29 01:39:14-07:00   0   0  0.000000   5  78.483333  78.500000
2018-05-29 01:41:14-07:00   0   0  0.666667   1  74.233333  74.233333
2018-05-29 01:42:14-07:00   0   0  0.000000  15  73.883333  73.883333

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-29 01:38:14-07:00  78.516667  78.516667  78.516667  80.00063  0.000000
2018-05-29 01:39:14-07:00  78.496667  78.483333  78.500000  80.00063  0.006667
2018-05-29 01:41:14-07:00  74.233333  74.233333  74.233333  80.00063  0.000000
2018-05-29 01:42:14-07:00  73.427071  73.200000  73.300000  80.00063  0.232438
========
Action is by itself with action 0.400000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 01:41:14-07:00   0   0  0.666667   1  74.233333  74.233333
2018-05-29 01:42:14-07:00   0   0  0.000000  15  73.883333  73.883333
2018-05-29 01:44:14-07:00   0   0  0.400000   1  78.440000  78.440000
2018-05-29 01:45:14-07:00   0   0  0.000000  15  75.350000  75.350000

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-29 01:41:14-07:00  74.233333  74.233333  74.233333  80.00063  0.000000
2018-05-29 01:42:14-07:00  73.427071  73.200000  73.300000  80.00063  0.232438
2018-05-29 01:44:14-07:00  78.440000  78.440000  78.440000  80.00063  0.000000
2018-05-29 01:45:14-07:00  75.304545  75.300000  75.318182  80.00063  0.012963
========
Action is by itself with action 1.500000 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 01:50:14-07:00   0   0  1.666667   1  78.000000  78.000000
2018-05-29 01:51:14-07:00   0   0  0.000000   5  77.954545  77.954545
2018-05-29 01:56:14-07:00   0   0  1.500000   1  77.816667  77.816667
2018-05-29 01:57:14-07:00   0   0  0.000000  15  73.400000  74.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 01:50:14-07:00  78.000000  78.000000  78.000000  80.000630
2018-05-29 01:51:14-07:00  77.910909  77.900000  77.900000  80.000630
2018-05-29 01:56:14-07:00  77.816667  77.816667  77.816667  80.000630
2018-05-29 01:57:14-07:00  73.699091  73.400000  74.000000  60.800378

                              t_std
time
2018-05-29 01:50:14-07:00  0.000000
2018-05-29 01:51:14-07:00  0.021818
2018-05-29 01:56:14-07:00  0.000000
2018-05-29 01:57:14-07:00  0.206440
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 02:04:14-07:00   0   0  0.500000   1  77.350000  77.350000
2018-05-29 02:05:14-07:00   0   0  0.000000   1  77.266667  77.266667
2018-05-29 02:06:14-07:00   0   0  0.363636   1  77.200000  77.200000
2018-05-29 02:07:14-07:00   0   0  0.000000  11  77.200000  77.200000

                              t_mean      t_min     t_next     t_out     t_std
time
2018-05-29 02:04:14-07:00  77.350000  77.350000  77.350000  80.00063  0.000000
2018-05-29 02:05:14-07:00  77.266667  77.266667  77.266667  80.00063  0.000000
2018-05-29 02:06:14-07:00  77.200000  77.200000  77.200000  32.00000  0.000000
2018-05-29 02:07:14-07:00  77.137121  77.100000  77.200000  32.00000  0.047589
========
Action is by itself with action 0.500000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-29 02:30:14-07:00   0   0     0.0  15  75.200000  75.300000
2018-05-29 02:30:14-07:00   0   0     0.0  15  75.200000  75.200000
2018-05-29 02:30:14-07:00   0   0     0.5   1  77.116667  77.116667
2018-05-29 02:31:14-07:00   0   0     0.0  15  77.100000  77.200000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-29 02:30:14-07:00  75.259697  75.200000  75.200000   32.0  0.045541
2018-05-29 02:30:14-07:00  75.126970  75.100000  75.150000   32.0  0.040468
2018-05-29 02:30:14-07:00  77.116667  77.116667  77.116667   32.0  0.000000
2018-05-29 02:31:14-07:00  77.151111  77.100000  77.200000   32.0  0.044914
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 05:00:14-07:00   0   0  0.000000  15  75.000000  75.000000
2018-05-29 05:00:14-07:00   0   0  0.000000  15  74.900000  74.900000
2018-05-29 05:04:14-07:00   0   0  1.333333   1  75.566667  75.566667
2018-05-29 05:05:14-07:00   0   0  0.000000  15  75.045455  75.045455

                              t_mean      t_min     t_next  t_out  \
time
2018-05-29 05:00:14-07:00  74.997778  74.966667  74.966667   32.0
2018-05-29 05:00:14-07:00  74.900000  74.900000  74.900000   32.0
2018-05-29 05:04:14-07:00  75.566667  75.566667  75.566667   32.0
2018-05-29 05:05:14-07:00  74.714545  74.400000  74.800000   32.0

                                  t_std
time
2018-05-29 05:00:14-07:00  8.314794e-03
2018-05-29 05:00:14-07:00  1.421085e-14
2018-05-29 05:04:14-07:00  0.000000e+00
2018-05-29 05:05:14-07:00  2.185804e-01
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 07:52:14-07:00   0   0  0.000000   4  75.036364  75.036364
2018-05-29 07:55:14-07:00   0   0  0.000000  15  68.200000  68.200000
2018-05-29 07:56:14-07:00   0   0  0.727273   1  74.863636  74.863636
2018-05-29 07:57:14-07:00   0   0  0.000000  15  73.100000  73.100000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-29 07:52:14-07:00  74.946591  74.900000  74.900000   32.0  0.055705
2018-05-29 07:55:14-07:00  68.160556  68.100000  68.200000   32.0  0.046594
2018-05-29 07:56:14-07:00  74.863636  74.863636  74.863636   32.0  0.000000
2018-05-29 07:57:14-07:00  73.066333  73.000000  73.100000   32.0  0.044739
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 07:56:14-07:00   0   0  0.727273   1  74.863636  74.863636
2018-05-29 07:57:14-07:00   0   0  0.000000  15  73.100000  73.100000
2018-05-29 07:57:14-07:00   0   0  1.333333   1  74.833333  74.833333
2018-05-29 07:58:14-07:00   0   0  0.000000  13  74.900000  74.900000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-29 07:56:14-07:00  74.863636  74.863636  74.863636   32.0  0.000000
2018-05-29 07:57:14-07:00  73.066333  73.000000  73.100000   32.0  0.044739
2018-05-29 07:57:14-07:00  74.833333  74.833333  74.833333   32.0  0.000000
2018-05-29 07:58:14-07:00  74.787179  74.600000  74.600000   32.0  0.112119
========
Action is by itself with action 0.909091 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 08:15:14-07:00   0   0  0.000000  15  69.850000  71.166667
2018-05-29 08:25:14-07:00   0   0  0.000000  15  70.700000  71.800000
2018-05-29 08:26:14-07:00   0   0  0.909091   1  72.536364  72.536364
2018-05-29 08:27:14-07:00   0   0  0.000000  15  73.200000  73.200000

                              t_mean      t_min     t_next  t_out  \
time
2018-05-29 08:15:14-07:00  70.546081  69.850000  71.166667   32.0
2018-05-29 08:25:14-07:00  71.248485  70.700000  71.800000   32.0
2018-05-29 08:26:14-07:00  72.536364  72.536364  72.536364   32.0
2018-05-29 08:27:14-07:00  73.200000  73.200000  73.200000   32.0

                                  t_std
time
2018-05-29 08:15:14-07:00  4.559050e-01
2018-05-29 08:25:14-07:00  3.679205e-01
2018-05-29 08:26:14-07:00  0.000000e+00
2018-05-29 08:27:14-07:00  1.421085e-14
========
Action is by itself with action 0.833333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-29 09:45:14-07:00   0   0  0.000000  15  73.20  73.30  73.218889
2018-05-29 09:55:14-07:00   0   0  0.000000  15  72.80  73.40  73.095556
2018-05-29 09:56:14-07:00   0   0  0.833333   1  75.05  75.05  75.050000
2018-05-29 09:56:14-07:00   0   0  0.000000  15  73.00  73.50  73.204444

                           t_min  t_next      t_out     t_std
time
2018-05-29 09:45:14-07:00  73.10   73.30  85.999989  0.084955
2018-05-29 09:55:14-07:00  72.80   73.40  86.533265  0.181092
2018-05-29 09:56:14-07:00  75.05   75.05  85.999989  0.000000
2018-05-29 09:56:14-07:00  73.00   73.50  86.666584  0.144333
========
Action is by itself with action 1.272727 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-29 09:56:14-07:00   0   0  0.000000  15  73.0   73.5  73.204444
2018-05-29 09:57:14-07:00   0   0  0.000000  15  74.0   74.2  74.119192
2018-05-29 09:57:14-07:00   0   0  1.272727   1  75.1   75.1  75.100000
2018-05-29 09:57:14-07:00   0   0  0.000000  11  73.0   73.4  73.251928

                           t_min  t_next      t_out     t_std
time
2018-05-29 09:56:14-07:00   73.0    73.5  86.666584  0.144333
2018-05-29 09:57:14-07:00   74.0    74.2  86.799904  0.056363
2018-05-29 09:57:14-07:00   75.1    75.1  85.999989  0.000000
2018-05-29 09:57:14-07:00   73.0    73.4  86.363587  0.128012
========
Action is by itself with action 1.500000 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 10:17:14-07:00   0   0  1.272727   1  73.454545  73.454545
2018-05-29 10:18:14-07:00   0   0  0.000000  15  73.083333  73.083333
2018-05-29 10:18:14-07:00   0   0  1.500000   1  73.425000  73.425000
2018-05-29 10:19:14-07:00   0   0  0.000000  15  73.150000  73.150000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 10:17:14-07:00  73.454545  73.454545  73.454545  87.999775
2018-05-29 10:18:14-07:00  72.667677  72.400000  73.000000  87.999775
2018-05-29 10:18:14-07:00  73.425000  73.425000  73.425000  87.999775
2018-05-29 10:19:14-07:00  72.807172  72.600000  73.000000  87.999775

                              t_std
time
2018-05-29 10:17:14-07:00  0.000000
2018-05-29 10:18:14-07:00  0.215410
2018-05-29 10:18:14-07:00  0.000000
2018-05-29 10:19:14-07:00  0.176592
========
Action is by itself with action 0.909091 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 10:47:14-07:00   0   0  0.166667   1  73.975000  73.975000
2018-05-29 10:48:14-07:00   0   0  0.000000  10  74.090909  75.000000
2018-05-29 10:48:14-07:00   0   0  0.909091   1  73.281818  73.281818
2018-05-29 10:49:14-07:00   0   0  0.000000  11  73.300000  73.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 10:47:14-07:00  73.975000  73.975000  73.975000  87.999775
2018-05-29 10:48:14-07:00  74.444545  74.090909  75.000000  87.999775
2018-05-29 10:48:14-07:00  73.281818  73.281818  73.281818  87.999775
2018-05-29 10:49:14-07:00  73.171212  73.100000  73.100000  87.999775

                              t_std
time
2018-05-29 10:47:14-07:00  0.000000
2018-05-29 10:48:14-07:00  0.351883
2018-05-29 10:48:14-07:00  0.000000
2018-05-29 10:49:14-07:00  0.065940
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 11:28:14-07:00   0   0  0.000000  15  74.145455  74.200000
2018-05-29 11:28:14-07:00   0   0  0.000000  13  76.200000  76.600000
2018-05-29 11:30:14-07:00   0   0  0.363636   1  73.172727  73.172727
2018-05-29 11:31:14-07:00   0   0  0.000000  15  73.058333  73.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 11:28:14-07:00  73.987172  73.900000  74.200000  89.000636
2018-05-29 11:28:14-07:00  76.375641  76.200000  76.600000  89.000636
2018-05-29 11:30:14-07:00  73.172727  73.172727  73.172727  89.000636
2018-05-29 11:31:14-07:00  73.105808  73.000000  73.300000  89.000636

                              t_std
time
2018-05-29 11:28:14-07:00  0.088243
2018-05-29 11:28:14-07:00  0.162330
2018-05-29 11:30:14-07:00  0.000000
2018-05-29 11:31:14-07:00  0.109894
========
Action is by itself with action 0.909091 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 11:36:14-07:00   0   1  2.000000  15  73.500000  73.500000
2018-05-29 11:40:14-07:00   0   0  0.000000  15  73.200000  73.500000
2018-05-29 11:41:14-07:00   0   0  0.909091   1  76.609091  76.609091
2018-05-29 11:41:14-07:00   0   0  0.000000  15  72.600000  73.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 11:36:14-07:00  73.437333  73.400000  73.400000  89.000636
2018-05-29 11:40:14-07:00  73.378081  73.200000  73.500000  89.000636
2018-05-29 11:41:14-07:00  76.609091  76.609091  76.609091  89.000636
2018-05-29 11:41:14-07:00  72.801212  72.600000  73.000000  89.000636

                              t_std
time
2018-05-29 11:36:14-07:00  0.046686
2018-05-29 11:40:14-07:00  0.119083
2018-05-29 11:41:14-07:00  0.000000
2018-05-29 11:41:14-07:00  0.174200
========
Action is by itself with action 0.181818 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 11:55:14-07:00   0   0  0.000000  15  74.050000  74.100000
2018-05-29 11:56:14-07:00   0   0  0.000000  12  73.063636  73.400000
2018-05-29 11:57:14-07:00   0   0  0.181818   1  73.227273  73.227273
2018-05-29 11:58:14-07:00   0   0  0.000000  14  73.100000  73.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 11:55:14-07:00  73.912727  73.700000  74.100000  89.533911
2018-05-29 11:56:14-07:00  73.205303  73.063636  73.400000  89.333933
2018-05-29 11:57:14-07:00  73.227273  73.227273  73.227273  89.000636
2018-05-29 11:58:14-07:00  73.148431  73.000000  73.400000  89.857685

                              t_std
time
2018-05-29 11:55:14-07:00  0.116919
2018-05-29 11:56:14-07:00  0.092262
2018-05-29 11:57:14-07:00  0.000000
2018-05-29 11:58:14-07:00  0.136176
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 12:26:14-07:00   0   0  0.727273   1  74.845455  74.845455
2018-05-29 12:27:14-07:00   0   0  0.000000  15  74.066667  74.290909
2018-05-29 12:27:14-07:00   0   0  1.333333   1  74.933333  74.933333
2018-05-29 12:28:14-07:00   0   0  0.000000  13  75.000000  75.733333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 12:26:14-07:00  74.845455  74.845455  74.845455  91.000416
2018-05-29 12:27:14-07:00  74.062727  73.900000  74.290909  91.000416
2018-05-29 12:27:14-07:00  74.933333  74.933333  74.933333  91.000416
2018-05-29 12:28:14-07:00  75.300699  75.000000  75.733333  91.000416

                              t_std
time
2018-05-29 12:26:14-07:00  0.000000
2018-05-29 12:27:14-07:00  0.121756
2018-05-29 12:27:14-07:00  0.000000
2018-05-29 12:28:14-07:00  0.267754
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 12:35:14-07:00   0   1  2.000000  12  73.654545  74.000000
2018-05-29 12:35:14-07:00   0   0  0.000000  15  72.881818  73.000000
2018-05-29 12:40:14-07:00   0   0  0.363636   1  73.172727  73.172727
2018-05-29 12:41:14-07:00   0   0  0.000000  15  73.027273  73.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 12:35:14-07:00  73.798611  73.433333  73.433333  91.000416
2018-05-29 12:35:14-07:00  72.824495  72.700000  73.000000  91.000416
2018-05-29 12:40:14-07:00  73.172727  73.172727  73.172727  91.000416
2018-05-29 12:41:14-07:00  72.821465  72.700000  73.100000  91.000416

                              t_std
time
2018-05-29 12:35:14-07:00  0.155251
2018-05-29 12:35:14-07:00  0.108206
2018-05-29 12:40:14-07:00  0.000000
2018-05-29 12:41:14-07:00  0.123970
========
Action is by itself with action 0.400000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 12:46:14-07:00   0   0  0.333333   1  73.316667  73.316667
2018-05-29 12:47:14-07:00   0   0  0.000000   9  73.120000  73.200000
2018-05-29 12:47:14-07:00   0   0  0.400000   1  73.200000  73.200000
2018-05-29 12:48:14-07:00   0   0  0.000000  13  73.133333  73.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 12:46:14-07:00  73.316667  73.316667  73.316667  91.000416
2018-05-29 12:47:14-07:00  73.152222  73.100000  73.200000  91.000416
2018-05-29 12:47:14-07:00  73.200000  73.200000  73.200000  91.000416
2018-05-29 12:48:14-07:00  73.056469  72.800000  73.400000  91.000416

                              t_std
time
2018-05-29 12:46:14-07:00  0.000000
2018-05-29 12:47:14-07:00  0.045161
2018-05-29 12:47:14-07:00  0.000000
2018-05-29 12:48:14-07:00  0.190410
========
Action is by itself with action 1.833333 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 12:48:14-07:00   0   0  0.000000  13  73.133333  73.400000
2018-05-29 12:50:14-07:00   0   0  0.000000   8  73.000000  73.300000
2018-05-29 12:52:14-07:00   0   0  1.833333   1  74.291667  74.291667
2018-05-29 12:53:14-07:00   0   0  0.000000  13  74.190909  74.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 12:48:14-07:00  73.056469  72.800000  73.400000  91.000416
2018-05-29 12:50:14-07:00  73.125000  73.000000  73.300000  91.000416
2018-05-29 12:52:14-07:00  74.291667  74.291667  74.291667  91.000416
2018-05-29 12:53:14-07:00  74.131352  74.000000  74.300000  91.000416

                              t_std
time
2018-05-29 12:48:14-07:00  0.190410
2018-05-29 12:50:14-07:00  0.089365
2018-05-29 12:52:14-07:00  0.000000
2018-05-29 12:53:14-07:00  0.123884
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 12:52:14-07:00   0   0  1.833333   1  74.291667  74.291667
2018-05-29 12:53:14-07:00   0   0  0.000000  13  74.190909  74.300000
2018-05-29 12:56:14-07:00   0   0  0.666667   1  73.425000  73.425000
2018-05-29 12:56:14-07:00   0   0  0.000000   3  73.100000  73.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 12:52:14-07:00  74.291667  74.291667  74.291667  91.000416
2018-05-29 12:53:14-07:00  74.131352  74.000000  74.300000  91.000416
2018-05-29 12:56:14-07:00  73.425000  73.425000  73.425000  91.000416
2018-05-29 12:56:14-07:00  73.100000  73.100000  73.100000  91.000416

                              t_std
time
2018-05-29 12:52:14-07:00  0.000000
2018-05-29 12:53:14-07:00  0.123884
2018-05-29 12:56:14-07:00  0.000000
2018-05-29 12:56:14-07:00  0.000000
========
Action is by itself with action 1.090909 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 13:12:14-07:00   0   0  0.000000   9  73.100000  73.200000
2018-05-29 13:13:14-07:00   0   0  0.000000  10  73.050000  73.145455
2018-05-29 13:14:14-07:00   0   0  1.090909   1  74.318182  74.318182
2018-05-29 13:15:14-07:00   0   0  0.000000  15  74.063636  74.400000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-29 13:12:14-07:00  72.511396  67.569231  73.200000  91.9994  1.747774
2018-05-29 13:13:14-07:00  72.350606  66.916667  73.145455  91.9994  1.814292
2018-05-29 13:14:14-07:00  74.318182  74.318182  74.318182  91.9994  0.000000
2018-05-29 13:15:14-07:00  73.993131  73.900000  74.400000  91.9994  0.128238
========
Action is by itself with action 0.909091 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 18:13:14-07:00   0   0  0.000000  15  80.300000  80.800000
2018-05-29 18:18:14-07:00   0   0  0.000000  15  74.681818  75.400000
2018-05-29 18:18:14-07:00   0   0  0.909091   1  80.381818  80.381818
2018-05-29 18:18:14-07:00   0   0  0.000000  15  75.900000  76.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 18:13:14-07:00  80.574545  80.300000  80.800000  94.999989
2018-05-29 18:18:14-07:00  75.162525  74.681818  75.400000  94.999989
2018-05-29 18:18:14-07:00  80.381818  80.381818  80.381818  94.999989
2018-05-29 18:18:14-07:00  75.965758  75.900000  75.945455  94.999989

                              t_std
time
2018-05-29 18:13:14-07:00  0.166943
2018-05-29 18:18:14-07:00  0.197711
2018-05-29 18:18:14-07:00  0.000000
2018-05-29 18:18:14-07:00  0.040002
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 18:48:14-07:00   0   0  0.000000  15  75.500000  75.900000
2018-05-29 18:48:14-07:00   0   0  0.000000  15  75.800000  75.800000
2018-05-29 18:49:14-07:00   0   0  0.363636   1  80.145455  80.145455
2018-05-29 18:50:14-07:00   0   0  0.000000   8  79.875000  80.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 18:48:14-07:00  75.604242  75.500000  75.900000  94.999989
2018-05-29 18:48:14-07:00  75.764091  75.700000  75.800000  94.999989
2018-05-29 18:49:14-07:00  80.145455  80.145455  80.145455  94.999989
2018-05-29 18:50:14-07:00  79.871875  79.800000  80.000000  94.999989

                              t_std
time
2018-05-29 18:48:14-07:00  0.123577
2018-05-29 18:48:14-07:00  0.044969
2018-05-29 18:49:14-07:00  0.000000
2018-05-29 18:50:14-07:00  0.082384
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 19:03:14-07:00   0   0  0.000000  15  75.800000  76.200000
2018-05-29 19:03:14-07:00   0   0  0.000000  15  75.925000  76.400000
2018-05-29 19:08:14-07:00   0   0  0.666667   1  80.333333  80.333333
2018-05-29 19:09:14-07:00   0   0  0.000000   9  80.000000  80.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 19:03:14-07:00  76.015354  75.800000  76.200000  94.199349
2018-05-29 19:03:14-07:00  76.176111  75.925000  76.400000  94.199349
2018-05-29 19:08:14-07:00  80.333333  80.333333  80.333333  93.999189
2018-05-29 19:09:14-07:00  79.903030  79.800000  80.000000  93.999189

                              t_std
time
2018-05-29 19:03:14-07:00  0.108756
2018-05-29 19:03:14-07:00  0.166134
2018-05-29 19:08:14-07:00  0.000000
2018-05-29 19:09:14-07:00  0.089893
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 19:12:14-07:00   0   0  0.000000   9  80.800000  80.933333
2018-05-29 19:18:14-07:00   0   0  0.000000  15  76.200000  76.400000
2018-05-29 19:18:14-07:00   0   0  0.727273   1  80.227273  80.227273
2018-05-29 19:18:14-07:00   0   0  0.000000  15  76.363636  76.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 19:12:14-07:00  80.840741  80.800000  80.933333  93.999189
2018-05-29 19:18:14-07:00  76.310303  76.200000  76.300000  93.999189
2018-05-29 19:18:14-07:00  80.227273  80.227273  80.227273  93.999189
2018-05-29 19:18:14-07:00  76.353687  76.300000  76.400000  93.999189

                              t_std
time
2018-05-29 19:12:14-07:00  0.051587
2018-05-29 19:18:14-07:00  0.068985
2018-05-29 19:18:14-07:00  0.000000
2018-05-29 19:18:14-07:00  0.046584
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 19:27:14-07:00   0   0  1.333333   1  80.466667  80.466667
2018-05-29 19:28:14-07:00   0   0  0.000000  10  80.075000  80.075000
2018-05-29 19:31:14-07:00   0   0  0.166667   1  80.208333  80.208333
2018-05-29 19:32:14-07:00   0   0  0.000000  15  79.900000  80.136364

                              t_mean      t_min     t_next      t_out  \
time
2018-05-29 19:27:14-07:00  80.466667  80.466667  80.466667  93.999189
2018-05-29 19:28:14-07:00  79.901333  79.800000  80.000000  93.999189
2018-05-29 19:31:14-07:00  80.208333  80.208333  80.208333  93.999189
2018-05-29 19:32:14-07:00  79.878051  79.700000  80.136364  93.999189

                              t_std
time
2018-05-29 19:27:14-07:00  0.000000
2018-05-29 19:28:14-07:00  0.101362
2018-05-29 19:31:14-07:00  0.000000
2018-05-29 19:32:14-07:00  0.134901
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-29 20:48:14-07:00   0   0  0.000000  15  76.000000  76.000000
2018-05-29 20:48:14-07:00   0   0  0.000000  15  75.500000  75.500000
2018-05-29 20:48:14-07:00   0   0  1.666667   1  80.416667  80.416667
2018-05-29 20:49:14-07:00   0   0  0.000000  15  80.000000  80.000000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-29 20:48:14-07:00  75.770657  75.400000  75.400000  91.0004  0.184713
2018-05-29 20:48:14-07:00  75.316162  75.133333  75.133333  91.0004  0.124686
2018-05-29 20:48:14-07:00  80.416667  80.416667  80.416667  91.0004  0.000000
2018-05-29 20:49:14-07:00  79.781970  79.500000  80.000000  91.0004  0.195572

========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-29 23:18:14-07:00   0   0  0.000000  15  72.3   72.3  72.095051
2018-05-29 23:18:14-07:00   0   0  0.000000  15  71.7   71.7  71.570556
2018-05-29 23:25:14-07:00   0   0  1.333333   1  80.5   80.5  80.500000
2018-05-29 23:26:14-07:00   0   0  0.000000  15  80.2   80.2  80.133737

                           t_min     t_next  t_out     t_std
time
2018-05-29 23:18:14-07:00   71.9  71.900000   86.0  0.136180
2018-05-29 23:18:14-07:00   71.4  71.400000   86.0  0.091432
2018-05-29 23:25:14-07:00   80.5  80.500000   86.0  0.000000
2018-05-29 23:26:14-07:00   80.0  80.072727   86.0  0.087476
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 05:31:14-07:00   0   0  0.545455   1  73.427273  73.427273
2018-05-30 05:31:14-07:00   0   0  0.000000  15  79.000000  79.000000
2018-05-30 05:31:14-07:00   0   0  0.363636   1  71.390909  71.390909
2018-05-30 05:32:14-07:00   0   0  0.000000  15  73.958333  73.958333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 05:31:14-07:00  73.427273  73.427273  73.427273  75.000203
2018-05-30 05:31:14-07:00  78.960606  78.854545  78.854545  75.000203
2018-05-30 05:31:14-07:00  71.390909  71.390909  71.390909  75.000203
2018-05-30 05:32:14-07:00  73.617828  73.400000  73.700000  75.000203

                              t_std
time
2018-05-30 05:31:14-07:00  0.000000
2018-05-30 05:31:14-07:00  0.051604
2018-05-30 05:31:14-07:00  0.000000
2018-05-30 05:32:14-07:00  0.157459
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 11:01:14-07:00   0   0  0.000000  15  77.100000  77.600000
2018-05-30 11:01:14-07:00   0   0  0.000000  15  78.800000  78.900000
2018-05-30 11:02:14-07:00   0   0  0.666667   1  76.641667  76.641667
2018-05-30 11:02:14-07:00   0   0  0.000000  15  77.600000  78.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 11:01:14-07:00  77.422626  77.100000  77.500000  83.000002
2018-05-30 11:01:14-07:00  78.815556  78.800000  78.900000  83.000002
2018-05-30 11:02:14-07:00  76.641667  76.641667  76.641667  80.999600
2018-05-30 11:02:14-07:00  77.831717  77.300000  77.300000  83.200042

                              t_std
time
2018-05-30 11:01:14-07:00  0.161993
2018-05-30 11:01:14-07:00  0.034138
2018-05-30 11:02:14-07:00  0.000000
2018-05-30 11:02:14-07:00  0.200489
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 11:03:14-07:00   0   0  0.000000  15  77.100000  77.100000
2018-05-30 11:11:14-07:00   0   0  0.000000  15  80.600000  80.700000
2018-05-30 11:14:14-07:00   0   0  0.333333   1  76.116667  76.116667
2018-05-30 11:15:14-07:00   0   0  0.000000  15  76.008333  76.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 11:03:14-07:00  77.008081  76.790909  76.790909  83.400082
2018-05-30 11:11:14-07:00  80.621667  80.600000  80.700000  84.000203
2018-05-30 11:14:14-07:00  76.116667  76.116667  76.116667  84.000203
2018-05-30 11:15:14-07:00  76.065081  75.900000  76.300000  84.000203

                              t_std
time
2018-05-30 11:03:14-07:00  0.102796
2018-05-30 11:11:14-07:00  0.039651
2018-05-30 11:14:14-07:00  0.000000
2018-05-30 11:15:14-07:00  0.116721
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 11:42:14-07:00   0   1  2.000000   4  76.950000  77.000000
2018-05-30 11:46:14-07:00   0   0  0.000000  15  79.500000  79.800000
2018-05-30 11:46:14-07:00   0   0  0.666667   1  76.833333  76.833333
2018-05-30 11:46:14-07:00   0   0  0.000000  15  77.600000  77.625000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 11:42:14-07:00  76.973864  76.945455  76.945455  84.000203
2018-05-30 11:46:14-07:00  79.628333  79.500000  79.800000  84.000203
2018-05-30 11:46:14-07:00  76.833333  76.833333  76.833333  84.000203
2018-05-30 11:46:14-07:00  77.568333  77.500000  77.625000  84.000203

                              t_std
time
2018-05-30 11:42:14-07:00  0.026186
2018-05-30 11:46:14-07:00  0.088913
2018-05-30 11:46:14-07:00  0.000000
2018-05-30 11:46:14-07:00  0.046068
========
Action is by itself with action 1.636364 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 12:29:14-07:00   0   1  2.000000  15  78.700000  78.700000
2018-05-30 12:31:14-07:00   0   0  0.000000  15  80.400000  80.400000
2018-05-30 12:38:14-07:00   0   0  1.636364   1  73.754545  73.754545
2018-05-30 12:39:14-07:00   0   0  0.000000  15  72.933333  73.400000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-30 12:29:14-07:00  77.811162  75.900000  75.900000  84.9992  0.943846
2018-05-30 12:31:14-07:00  80.140859  79.900000  79.900000  84.9992  0.198805
2018-05-30 12:38:14-07:00  73.754545  73.754545  73.754545  84.9992  0.000000
2018-05-30 12:39:14-07:00  73.028687  72.700000  73.400000  84.9992  0.266476
========
Action is by itself with action 1.454545 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 12:44:14-07:00   0   1  2.000000  15  75.700000  75.700000
2018-05-30 12:46:14-07:00   0   0  0.000000  15  79.850000  79.850000
2018-05-30 12:53:14-07:00   0   0  1.454545   1  73.454545  73.454545
2018-05-30 12:54:14-07:00   0   0  0.000000  15  73.150000  73.433333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 12:44:14-07:00  74.968283  74.245455  74.245455  84.999200
2018-05-30 12:46:14-07:00  79.710000  79.600000  79.600000  84.999200
2018-05-30 12:53:14-07:00  73.454545  73.454545  73.454545  84.999200
2018-05-30 12:54:14-07:00  73.186414  73.000000  73.433333  84.999198

                              t_std
time
2018-05-30 12:44:14-07:00  0.498959
2018-05-30 12:46:14-07:00  0.084063
2018-05-30 12:53:14-07:00  0.000000
2018-05-30 12:54:14-07:00  0.162545
========
Action is by itself with action 1.272727 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 13:00:14-07:00   0   1  2.000000   2  73.600000  73.600000
2018-05-30 13:01:14-07:00   0   0  0.000000  15  79.600000  79.600000
2018-05-30 13:02:14-07:00   0   0  1.272727   1  73.418182  73.418182
2018-05-30 13:03:14-07:00   0   0  0.000000  15  72.983333  73.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 13:00:14-07:00  73.600000  73.600000  73.600000  84.999200
2018-05-30 13:01:14-07:00  79.600000  79.600000  79.600000  84.999193
2018-05-30 13:02:14-07:00  73.418182  73.418182  73.418182  84.999200
2018-05-30 13:03:14-07:00  73.079899  72.700000  73.400000  84.999192

                                  t_std
time
2018-05-30 13:00:14-07:00  0.000000e+00
2018-05-30 13:01:14-07:00  1.421085e-14
2018-05-30 13:02:14-07:00  0.000000e+00
2018-05-30 13:03:14-07:00  2.270440e-01
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 13:15:14-07:00   0   0  0.181818   1  73.200000  73.200000
2018-05-30 13:16:14-07:00   0   0  0.000000   6  73.150000  73.336364
2018-05-30 13:16:14-07:00   0   0  1.333333   1  73.333333  73.333333
2018-05-30 13:16:14-07:00   0   0  0.000000  15  79.600000  79.700000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 13:15:14-07:00  73.200000  73.200000  73.200000  84.999189
2018-05-30 13:16:14-07:00  73.214394  73.150000  73.336364  84.999189
2018-05-30 13:16:14-07:00  73.333333  73.333333  73.333333  84.999189
2018-05-30 13:16:14-07:00  79.662222  79.600000  79.700000  84.999189

                              t_std
time
2018-05-30 13:15:14-07:00  0.000000
2018-05-30 13:16:14-07:00  0.057521
2018-05-30 13:16:14-07:00  0.000000
2018-05-30 13:16:14-07:00  0.046930
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 13:31:14-07:00   0   0  0.000000  15  79.700000  79.700000
2018-05-30 13:32:14-07:00   0   0  0.000000  12  73.036364  73.327273
2018-05-30 13:34:14-07:00   0   0  1.666667   1  73.533333  73.533333
2018-05-30 13:35:14-07:00   0   0  0.000000  10  73.100000  73.318182

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 13:31:14-07:00  79.640606  79.600000  79.700000  84.999189
2018-05-30 13:32:14-07:00  72.949116  72.800000  73.327273  84.999189
2018-05-30 13:34:14-07:00  73.533333  73.533333  73.533333  84.999189
2018-05-30 13:35:14-07:00  73.063182  72.800000  73.318182  84.999189

                              t_std
time
2018-05-30 13:31:14-07:00  0.045741
2018-05-30 13:32:14-07:00  0.145077
2018-05-30 13:34:14-07:00  0.000000
2018-05-30 13:35:14-07:00  0.128508
========
Action is by itself with action 0.500000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 13:34:14-07:00   0   0  1.666667   1  73.533333  73.533333
2018-05-30 13:35:14-07:00   0   0  0.000000  10  73.100000  73.318182
2018-05-30 13:36:14-07:00   0   0  0.500000   1  73.225000  73.225000
2018-05-30 13:37:14-07:00   0   0  0.000000   5  73.118182  73.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 13:34:14-07:00  73.533333  73.533333  73.533333  84.999189
2018-05-30 13:35:14-07:00  73.063182  72.800000  73.318182  84.999189
2018-05-30 13:36:14-07:00  73.225000  73.225000  73.225000  84.999189
2018-05-30 13:37:14-07:00  73.153636  73.100000  73.200000  84.999189

                              t_std
time
2018-05-30 13:34:14-07:00  0.000000
2018-05-30 13:35:14-07:00  0.128508
2018-05-30 13:36:14-07:00  0.000000
2018-05-30 13:37:14-07:00  0.041101
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 13:49:14-07:00   0   1  2.000000  13  73.700000  74.000000
2018-05-30 13:52:14-07:00   0   0  0.000000  13  73.200000  73.416667
2018-05-30 13:54:14-07:00   0   0  0.333333   1  73.216667  73.216667
2018-05-30 13:55:14-07:00   0   0  0.000000  14  73.100000  73.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 13:49:14-07:00  73.907692  73.700000  73.736364  84.999189
2018-05-30 13:52:14-07:00  72.991958  72.800000  73.416667  84.999189
2018-05-30 13:54:14-07:00  73.216667  73.216667  73.216667  84.999189
2018-05-30 13:55:14-07:00  72.981006  72.800000  73.300000  85.213647

                              t_std
time
2018-05-30 13:49:14-07:00  0.098936
2018-05-30 13:52:14-07:00  0.165940
2018-05-30 13:54:14-07:00  0.000000
2018-05-30 13:55:14-07:00  0.165041

========
Action is by itself with action 1.818182 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 14:01:14-07:00   0   0  0.000000  15  79.900000  80.266667
2018-05-30 14:01:14-07:00   0   0  0.000000   3  73.300000  73.300000
2018-05-30 14:02:14-07:00   0   0  1.818182   1  73.290909  73.290909
2018-05-30 14:03:14-07:00   0   0  0.000000   6  73.191667  73.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 14:01:14-07:00  80.042525  79.900000  80.266667  85.666389
2018-05-30 14:01:14-07:00  73.300000  73.300000  73.300000  84.999189
2018-05-30 14:02:14-07:00  73.290909  73.290909  73.290909  84.999189
2018-05-30 14:03:14-07:00  73.151389  73.100000  73.200000  85.499589

                              t_std
time
2018-05-30 14:01:14-07:00  0.130104
2018-05-30 14:01:14-07:00  0.000000
2018-05-30 14:02:14-07:00  0.000000
2018-05-30 14:03:14-07:00  0.046252
========
Action is by itself with action 0.181818 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 14:26:14-07:00   0   0  0.333333   1  73.250000  73.250000
2018-05-30 14:27:14-07:00   0   0  0.000000   5  73.016667  73.200000
2018-05-30 14:28:14-07:00   0   0  0.181818   1  73.518182  73.518182
2018-05-30 14:29:14-07:00   0   0  0.000000   1  73.300000  73.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 14:26:14-07:00  73.250000  73.250000  73.250000  85.999989
2018-05-30 14:27:14-07:00  72.975455  72.800000  73.200000  85.999989
2018-05-30 14:28:14-07:00  73.518182  73.518182  73.518182  85.999989
2018-05-30 14:29:14-07:00  73.300000  73.300000  73.300000  85.999989

                              t_std
time
2018-05-30 14:26:14-07:00  0.000000
2018-05-30 14:27:14-07:00  0.131908
2018-05-30 14:28:14-07:00  0.000000
2018-05-30 14:29:14-07:00  0.000000
========
Action is by itself with action 0.909091 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 14:31:14-07:00   0   0  1.833333   1  73.558333  73.558333
2018-05-30 14:31:14-07:00   0   0  0.000000  15  80.900000  81.400000
2018-05-30 14:32:14-07:00   0   0  0.909091   1  73.418182  73.418182
2018-05-30 14:32:14-07:00   0   0  0.000000  15  72.963636  73.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 14:31:14-07:00  73.558333  73.558333  73.558333  85.999989
2018-05-30 14:31:14-07:00  81.181010  80.900000  81.400000  85.999989
2018-05-30 14:32:14-07:00  73.418182  73.418182  73.418182  85.999989
2018-05-30 14:32:14-07:00  72.871515  72.800000  73.000000  85.999989

                              t_std
time
2018-05-30 14:31:14-07:00  0.000000
2018-05-30 14:31:14-07:00  0.141661
2018-05-30 14:32:14-07:00  0.000000
2018-05-30 14:32:14-07:00  0.090171
========
Action is by itself with action 1.636364 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 14:38:14-07:00   0   0  0.166667   1  73.208333  73.208333
2018-05-30 14:39:14-07:00   0   0  0.000000  11  73.100000  73.300000
2018-05-30 14:44:14-07:00   0   0  1.636364   1  73.281818  73.281818
2018-05-30 14:45:14-07:00   0   0  0.000000   7  73.200000  73.327273

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 14:38:14-07:00  73.208333  73.208333  73.208333  85.999989
2018-05-30 14:39:14-07:00  73.121901  73.000000  73.300000  85.999989
2018-05-30 14:44:14-07:00  73.281818  73.281818  73.281818  85.999989
2018-05-30 14:45:14-07:00  73.253896  73.200000  73.327273  85.999989

                              t_std
time
2018-05-30 14:38:14-07:00  0.000000
2018-05-30 14:39:14-07:00  0.122656
2018-05-30 14:44:14-07:00  0.000000
2018-05-30 14:45:14-07:00  0.051221
========
Action is by itself with action 0.500000 for data:
                           a1  a2  action  dt   t_in  t_max     t_mean  t_min  \
time
2018-05-30 14:58:14-07:00   1   0     1.0   1  73.20   73.2  73.200000   73.2
2018-05-30 14:59:14-07:00   0   0     0.0  15  73.05   73.4  72.947172   72.8
2018-05-30 15:01:14-07:00   0   0     0.5   1  73.30   73.3  73.300000   73.3
2018-05-30 15:01:14-07:00   0   0     0.0  15  82.00   82.2  82.103889   82.0

                           t_next      t_out     t_std
time
2018-05-30 14:58:14-07:00    73.2  85.999989  0.000000
2018-05-30 14:59:14-07:00    73.4  87.600334  0.163819
2018-05-30 15:01:14-07:00    73.3  85.999989  0.000000
2018-05-30 15:01:14-07:00    82.2  88.000420  0.080212
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 15:01:14-07:00   0   0  0.000000  15  82.000000  82.200000
2018-05-30 15:02:14-07:00   0   0  0.000000  15  73.054545  73.145455
2018-05-30 15:03:14-07:00   0   0  0.333333   1  73.241667  73.241667
2018-05-30 15:04:14-07:00   0   0  0.000000  10  73.009091  73.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 15:01:14-07:00  82.103889  82.000000  82.200000  88.000420
2018-05-30 15:02:14-07:00  72.867222  72.700000  73.145455  88.200463
2018-05-30 15:03:14-07:00  73.241667  73.241667  73.241667  85.999989
2018-05-30 15:04:14-07:00  73.063636  73.000000  73.200000  88.400507

                              t_std
time
2018-05-30 15:01:14-07:00  0.080212
2018-05-30 15:02:14-07:00  0.153485
2018-05-30 15:03:14-07:00  0.000000
2018-05-30 15:04:14-07:00  0.063506
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 15:08:14-07:00   0   0  0.000000   9  73.100000  73.100000
2018-05-30 15:11:14-07:00   0   0  0.000000   4  73.000000  73.166667
2018-05-30 15:14:14-07:00   0   0  1.333333   1  73.566667  73.566667
2018-05-30 15:14:14-07:00   0   0  0.000000   1  73.400000  73.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 15:08:14-07:00  72.923148  72.800000  73.000000  89.000636
2018-05-30 15:11:14-07:00  73.041667  73.000000  73.166667  89.000636
2018-05-30 15:14:14-07:00  73.566667  73.566667  73.566667  89.000636
2018-05-30 15:14:14-07:00  73.400000  73.400000  73.400000  89.000636

                              t_std
time
2018-05-30 15:08:14-07:00  0.104363
2018-05-30 15:11:14-07:00  0.072169
2018-05-30 15:14:14-07:00  0.000000
2018-05-30 15:14:14-07:00  0.000000
========
Action is by itself with action 1.454545 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 15:18:14-07:00   0   1  2.000000  15  73.709091  74.200000
2018-05-30 15:19:14-07:00   0   0  0.000000  15  72.933333  73.116667
2018-05-30 15:23:14-07:00   0   0  1.454545   1  73.245455  73.245455
2018-05-30 15:24:14-07:00   0   0  0.000000  12  73.100000  73.363636

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 15:18:14-07:00  73.985505  73.672727  73.672727  89.000636
2018-05-30 15:19:14-07:00  72.832424  72.700000  73.116667  89.000636
2018-05-30 15:23:14-07:00  73.245455  73.245455  73.245455  89.000636
2018-05-30 15:24:14-07:00  73.159470  73.100000  73.363636  89.000636

                              t_std
time
2018-05-30 15:18:14-07:00  0.166969
2018-05-30 15:19:14-07:00  0.151351
2018-05-30 15:23:14-07:00  0.000000
2018-05-30 15:24:14-07:00  0.076138
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 15:43:14-07:00   0   0  0.000000  15  72.833333  73.000000
2018-05-30 15:43:14-07:00   0   0  0.000000  15  73.133333  73.133333
2018-05-30 15:44:14-07:00   0   0  0.666667   1  73.300000  73.300000
2018-05-30 15:45:14-07:00   0   0  0.000000  15  73.072727  73.400000

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-30 15:43:14-07:00  72.728889   72.6    73.0  89.000636  0.161414
2018-05-30 15:43:14-07:00  72.888586   72.7    73.0  89.000636  0.134418
2018-05-30 15:44:14-07:00  73.300000   73.3    73.3  89.000636  0.000000
2018-05-30 15:45:14-07:00  72.958384   72.8    73.4  89.000636  0.176125
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 15:48:14-07:00   0   0  0.333333   1  73.233333  73.233333
2018-05-30 15:49:14-07:00   0   0  0.000000  14  73.000000  73.400000
2018-05-30 15:53:14-07:00   0   0  0.166667   1  73.133333  73.133333
2018-05-30 15:54:14-07:00   0   0  0.000000   8  72.900000  73.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 15:48:14-07:00  73.233333  73.233333  73.233333  89.000636
2018-05-30 15:49:14-07:00  72.957684  72.700000  73.400000  89.000636
2018-05-30 15:53:14-07:00  73.133333  73.133333  73.133333  89.000636
2018-05-30 15:54:14-07:00  72.900000  72.800000  73.000000  89.000636

                              t_std
time
2018-05-30 15:48:14-07:00  0.000000
2018-05-30 15:49:14-07:00  0.222611
2018-05-30 15:53:14-07:00  0.000000
2018-05-30 15:54:14-07:00  0.086603

========
Action is by itself with action 1.200000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 16:04:14-07:00   0   0  0.181818   1  73.163636  73.163636
2018-05-30 16:05:14-07:00   0   0  0.000000  15  72.716667  73.000000
2018-05-30 16:08:14-07:00   0   0  1.200000   1  73.460000  73.460000
2018-05-30 16:09:14-07:00   0   0  0.000000  15  73.066667  73.418182

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 16:04:14-07:00  73.163636  73.163636  73.163636  89.000636
2018-05-30 16:05:14-07:00  72.709293  72.600000  73.000000  89.000636
2018-05-30 16:08:14-07:00  73.460000  73.460000  73.460000  89.000636
2018-05-30 16:09:14-07:00  72.951212  72.800000  73.418182  89.000636

                              t_std
time
2018-05-30 16:04:14-07:00  0.000000
2018-05-30 16:05:14-07:00  0.107842
2018-05-30 16:08:14-07:00  0.000000
2018-05-30 16:09:14-07:00  0.169204
========
Action is by itself with action 0.181818 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 16:08:14-07:00   0   0  1.200000   1  73.460000  73.460000
2018-05-30 16:09:14-07:00   0   0  0.000000  15  73.066667  73.418182
2018-05-30 16:10:14-07:00   0   0  0.181818   1  73.154545  73.154545
2018-05-30 16:11:14-07:00   0   0  0.000000  15  72.983333  73.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 16:08:14-07:00  73.460000  73.460000  73.460000  89.000636
2018-05-30 16:09:14-07:00  72.951212  72.800000  73.418182  89.000636
2018-05-30 16:10:14-07:00  73.154545  73.154545  73.154545  89.000636
2018-05-30 16:11:14-07:00  72.808586  72.700000  73.300000  89.000636

                              t_std
time
2018-05-30 16:08:14-07:00  0.000000
2018-05-30 16:09:14-07:00  0.169204
2018-05-30 16:10:14-07:00  0.000000
2018-05-30 16:11:14-07:00  0.159809
========
Action is by itself with action 0.500000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 16:10:14-07:00   0   0  0.181818   1  73.154545  73.154545
2018-05-30 16:11:14-07:00   0   0  0.000000  15  72.983333  73.300000
2018-05-30 16:13:14-07:00   0   0  0.500000   1  73.275000  73.275000
2018-05-30 16:14:14-07:00   0   0  0.000000   9  73.118182  73.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 16:10:14-07:00  73.154545  73.154545  73.154545  89.000636
2018-05-30 16:11:14-07:00  72.808586  72.700000  73.300000  89.000636
2018-05-30 16:13:14-07:00  73.275000  73.275000  73.275000  89.000636
2018-05-30 16:14:14-07:00  73.172391  73.100000  73.300000  89.000636

                              t_std
time
2018-05-30 16:10:14-07:00  0.000000
2018-05-30 16:11:14-07:00  0.159809
2018-05-30 16:13:14-07:00  0.000000
2018-05-30 16:14:14-07:00  0.061715
========
Action is by itself with action 1.272727 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 16:13:14-07:00   0   0  0.500000   1  73.275000  73.275000
2018-05-30 16:14:14-07:00   0   0  0.000000   9  73.118182  73.300000
2018-05-30 16:16:14-07:00   0   0  1.272727   1  73.518182  73.518182
2018-05-30 16:16:14-07:00   0   0  0.000000  15  83.800000  84.141667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 16:13:14-07:00  73.275000  73.275000  73.275000  89.000636
2018-05-30 16:14:14-07:00  73.172391  73.100000  73.300000  89.000636
2018-05-30 16:16:14-07:00  73.518182  73.518182  73.518182  89.000636
2018-05-30 16:16:14-07:00  83.976717  83.800000  84.141667  89.000636

                              t_std
time
2018-05-30 16:13:14-07:00  0.000000
2018-05-30 16:14:14-07:00  0.061715
2018-05-30 16:16:14-07:00  0.000000
2018-05-30 16:16:14-07:00  0.123682
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 16:27:14-07:00   0   1  2.000000  15  73.600000  74.100000
2018-05-30 16:31:14-07:00   0   0  0.000000  15  84.200000  84.450000
2018-05-30 16:32:14-07:00   0   0  0.666667   1  73.316667  73.316667
2018-05-30 16:33:14-07:00   0   0  0.000000  11  73.136364  73.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 16:27:14-07:00  73.823838  73.300000  73.300000  89.000636
2018-05-30 16:31:14-07:00  84.309141  84.200000  84.450000  89.000636
2018-05-30 16:32:14-07:00  73.316667  73.316667  73.316667  89.000636
2018-05-30 16:33:14-07:00  73.171488  73.100000  73.400000  89.000636

                              t_std
time
2018-05-30 16:27:14-07:00  0.250531
2018-05-30 16:31:14-07:00  0.084047
2018-05-30 16:32:14-07:00  0.000000
2018-05-30 16:33:14-07:00  0.083995
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 16:39:14-07:00   0   1  2.000000  12  73.200000  73.300000
2018-05-30 16:41:14-07:00   0   0  0.000000   7  73.300000  73.500000
2018-05-30 16:42:14-07:00   0   0  0.666667   1  73.233333  73.233333
2018-05-30 16:42:14-07:00   0   0  0.000000   4  73.300000  73.327273

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 16:39:14-07:00  73.240972  73.200000  73.241667  89.000636
2018-05-30 16:41:14-07:00  73.401299  73.300000  73.500000  89.000636
2018-05-30 16:42:14-07:00  73.233333  73.233333  73.233333  89.000636
2018-05-30 16:42:14-07:00  73.306818  73.300000  73.327273  89.000636

                              t_std
time
2018-05-30 16:39:14-07:00  0.044806
2018-05-30 16:41:14-07:00  0.092637
2018-05-30 16:42:14-07:00  0.000000
2018-05-30 16:42:14-07:00  0.011809
========
Action is by itself with action 0.833333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 16:52:14-07:00   0   0  0.000000  15  73.100000  73.350000
2018-05-30 16:52:14-07:00   0   0  0.000000  14  73.136364  73.400000
2018-05-30 16:55:14-07:00   0   0  0.833333   1  73.408333  73.408333
2018-05-30 16:56:14-07:00   0   0  0.000000  14  73.145455  73.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 16:52:14-07:00  72.971414  72.800000  73.350000  88.933914
2018-05-30 16:52:14-07:00  73.031223  72.800000  73.400000  89.000636
2018-05-30 16:55:14-07:00  73.408333  73.408333  73.408333  89.000636
2018-05-30 16:56:14-07:00  73.019913  72.800000  73.400000  88.714683

                              t_std
time
2018-05-30 16:52:14-07:00  0.174962
2018-05-30 16:52:14-07:00  0.138866
2018-05-30 16:55:14-07:00  0.000000
2018-05-30 16:56:14-07:00  0.191495
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 16:55:14-07:00   0   0  0.833333   1  73.408333  73.408333
2018-05-30 16:56:14-07:00   0   0  0.000000  14  73.145455  73.400000
2018-05-30 16:57:14-07:00   0   0  1.666667   1  73.600000  73.600000
2018-05-30 16:58:14-07:00   0   0  0.000000  10  73.083333  73.083333

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 16:55:14-07:00  73.408333  73.408333  73.408333  89.000636
2018-05-30 16:56:14-07:00  73.019913  72.800000  73.400000  88.714683
2018-05-30 16:57:14-07:00  73.600000  73.600000  73.600000  89.000636
2018-05-30 16:58:14-07:00  72.860379  72.700000  73.000000  88.800469

                              t_std
time
2018-05-30 16:55:14-07:00  0.000000
2018-05-30 16:56:14-07:00  0.191495
2018-05-30 16:57:14-07:00  0.000000
2018-05-30 16:58:14-07:00  0.150201
========
Action is by itself with action 0.909091 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 17:18:14-07:00   0   0  0.000000  15  73.100000  73.300000
2018-05-30 17:19:14-07:00   0   0  0.000000  10  73.150000  73.200000
2018-05-30 17:21:14-07:00   0   0  0.909091   1  73.245455  73.245455
2018-05-30 17:22:14-07:00   0   0  0.000000  10  73.000000  73.000000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-30 17:18:14-07:00  72.913535  72.700000  73.300000  87.9998  0.199745
2018-05-30 17:19:14-07:00  73.138636  73.100000  73.200000  87.9998  0.043468
2018-05-30 17:21:14-07:00  73.245455  73.245455  73.245455  87.9998  0.000000
2018-05-30 17:22:14-07:00  72.790909  72.600000  73.000000  87.9998  0.156459
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 17:37:14-07:00   0   0  1.272727   1  73.390909  73.390909
2018-05-30 17:38:14-07:00   0   0  0.000000  14  73.066667  73.266667
2018-05-30 17:40:14-07:00   0   0  0.363636   1  73.254545  73.254545
2018-05-30 17:41:14-07:00   0   0  0.000000  15  73.127273  73.300000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-30 17:37:14-07:00  73.390909  73.390909  73.390909  87.9998  0.000000
2018-05-30 17:38:14-07:00  72.924567  72.800000  73.266667  87.9998  0.134906
2018-05-30 17:40:14-07:00  73.254545  73.254545  73.254545  87.9998  0.000000
2018-05-30 17:41:14-07:00  73.018485  72.800000  73.300000  87.9998  0.181397
========
Action is by itself with action 0.909091 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 17:40:14-07:00   0   0  0.363636   1  73.254545  73.254545
2018-05-30 17:41:14-07:00   0   0  0.000000  15  73.127273  73.300000
2018-05-30 17:41:14-07:00   0   0  0.909091   1  73.372727  73.372727
2018-05-30 17:42:14-07:00   0   0  0.000000  10  73.100000  73.200000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-30 17:40:14-07:00  73.254545  73.254545  73.254545  87.9998  0.000000
2018-05-30 17:41:14-07:00  73.018485  72.800000  73.300000  87.9998  0.181397
2018-05-30 17:41:14-07:00  73.372727  73.372727  73.372727  87.9998  0.000000
2018-05-30 17:42:14-07:00  73.136667  73.100000  73.200000  87.9998  0.045826
========
Action is by itself with action 0.500000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 17:41:14-07:00   0   0  0.909091   1  73.372727  73.372727
2018-05-30 17:42:14-07:00   0   0  0.000000  10  73.100000  73.200000
2018-05-30 17:44:14-07:00   0   0  0.500000   1  73.225000  73.225000
2018-05-30 17:45:14-07:00   0   0  0.000000  10  72.909091  73.000000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-30 17:41:14-07:00  73.372727  73.372727  73.372727  87.9998  0.000000
2018-05-30 17:42:14-07:00  73.136667  73.100000  73.200000  87.9998  0.045826
2018-05-30 17:44:14-07:00  73.225000  73.225000  73.225000  87.9998  0.000000
2018-05-30 17:45:14-07:00  72.820909  72.600000  73.000000  87.9998  0.147489
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 18:02:14-07:00   1   0  1.000000   1  73.350000  73.350000
2018-05-30 18:03:14-07:00   0   0  0.000000  15  73.083333  73.300000
2018-05-30 18:05:14-07:00   0   0  0.333333   1  73.216667  73.216667
2018-05-30 18:06:14-07:00   0   0  0.000000   8  73.128571  73.200000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-30 18:02:14-07:00  73.350000  73.350000  73.350000  87.9998  0.000000
2018-05-30 18:03:14-07:00  72.951222  72.700000  73.300000  87.9998  0.197396
2018-05-30 18:05:14-07:00  73.216667  73.216667  73.216667  87.9998  0.000000
2018-05-30 18:06:14-07:00  73.144821  73.100000  73.200000  87.9998  0.044222
========
Action is by itself with action 1.500000 for data:
                           a1  a2  action  dt       t_in   t_max     t_mean  \
time
2018-05-30 18:06:14-07:00   0   0     0.0   8  73.128571  73.200  73.144821
2018-05-30 18:06:14-07:00   0   0     0.0  15  86.100000  86.100  85.617778
2018-05-30 18:07:14-07:00   0   0     1.5   1  73.325000  73.325  73.325000
2018-05-30 18:08:14-07:00   0   0     0.0  11  72.990909  73.100  72.826446

                            t_min  t_next    t_out     t_std
time
2018-05-30 18:06:14-07:00  73.100  73.200  87.9998  0.044222
2018-05-30 18:06:14-07:00  85.300  85.600  87.9998  0.247316
2018-05-30 18:07:14-07:00  73.325  73.325  87.9998  0.000000
2018-05-30 18:08:14-07:00  72.600  73.100  87.9998  0.163570
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-30 18:20:14-07:00   0   1  2.000000  10  73.600000  74.00  73.871667
2018-05-30 18:21:14-07:00   0   0  0.000000  15  85.600000  86.30  86.038636
2018-05-30 18:23:14-07:00   0   0  1.666667   1  73.450000  73.45  73.450000
2018-05-30 18:24:14-07:00   0   0  0.000000  11  73.183333  73.20  73.148898

                           t_min  t_next      t_out     t_std
time
2018-05-30 18:20:14-07:00  73.60   73.90  86.199970  0.112620
2018-05-30 18:21:14-07:00  85.60   86.30  85.999989  0.191978
2018-05-30 18:23:14-07:00  73.45   73.45  85.999989  0.000000
2018-05-30 18:24:14-07:00  73.10   73.20  85.999989  0.046337
========
Action is by itself with action 1.090909 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 18:23:14-07:00   0   0  1.666667   1  73.450000  73.450000
2018-05-30 18:24:14-07:00   0   0  0.000000  11  73.183333  73.200000
2018-05-30 18:27:14-07:00   0   0  1.090909   1  73.209091  73.209091
2018-05-30 18:28:14-07:00   0   0  0.000000   7  73.141667  73.318182

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 18:23:14-07:00  73.450000  73.450000  73.450000  85.999989
2018-05-30 18:24:14-07:00  73.148898  73.100000  73.200000  85.999989
2018-05-30 18:27:14-07:00  73.209091  73.209091  73.209091  85.999989
2018-05-30 18:28:14-07:00  73.244264  73.141667  73.318182  85.999989

                              t_std
time
2018-05-30 18:23:14-07:00  0.000000
2018-05-30 18:24:14-07:00  0.046337
2018-05-30 18:27:14-07:00  0.000000
2018-05-30 18:28:14-07:00  0.061126
========
Action is by itself with action 0.545455 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 18:27:14-07:00   0   0  1.090909   1  73.209091  73.209091
2018-05-30 18:28:14-07:00   0   0  0.000000   7  73.141667  73.318182
2018-05-30 18:30:14-07:00   0   0  0.545455   1  73.354545  73.354545
2018-05-30 18:31:14-07:00   0   0  0.000000  10  72.900000  73.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 18:27:14-07:00  73.209091  73.209091  73.209091  85.999989
2018-05-30 18:28:14-07:00  73.244264  73.141667  73.318182  85.999989
2018-05-30 18:30:14-07:00  73.354545  73.354545  73.354545  85.999989
2018-05-30 18:31:14-07:00  72.895000  72.700000  73.100000  85.999989

                              t_std
time
2018-05-30 18:27:14-07:00  0.000000
2018-05-30 18:28:14-07:00  0.061126
2018-05-30 18:30:14-07:00  0.000000
2018-05-30 18:31:14-07:00  0.145688
========
Action is by itself with action 1.636364 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 18:42:14-07:00   0   1  2.000000   7  73.650000  73.700000
2018-05-30 18:43:14-07:00   0   0  0.000000  15  86.091667  86.091667
2018-05-30 18:43:14-07:00   0   0  1.636364   1  73.445455  73.445455
2018-05-30 18:44:14-07:00   0   0  0.000000  14  73.166667  73.409091

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 18:42:14-07:00  73.678571  73.600000  73.600000  85.999989
2018-05-30 18:43:14-07:00  85.614293  85.300000  85.600000  85.999989
2018-05-30 18:43:14-07:00  73.445455  73.445455  73.445455  85.999989
2018-05-30 18:44:14-07:00  72.973810  72.800000  73.409091  85.999989

                              t_std
time
2018-05-30 18:42:14-07:00  0.036422
2018-05-30 18:43:14-07:00  0.241097
2018-05-30 18:43:14-07:00  0.000000
2018-05-30 18:44:14-07:00  0.184883
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 18:43:14-07:00   0   0  1.636364   1  73.445455  73.445455
2018-05-30 18:44:14-07:00   0   0  0.000000  14  73.166667  73.409091
2018-05-30 18:45:14-07:00   0   0  1.666667   1  73.516667  73.516667
2018-05-30 18:46:14-07:00   0   0  0.000000   9  73.090909  73.350000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 18:43:14-07:00  73.445455  73.445455  73.445455  85.999989
2018-05-30 18:44:14-07:00  72.973810  72.800000  73.409091  85.999989
2018-05-30 18:45:14-07:00  73.516667  73.516667  73.516667  85.999989
2018-05-30 18:46:14-07:00  73.100505  73.000000  73.350000  85.999989

                              t_std
time
2018-05-30 18:43:14-07:00  0.000000
2018-05-30 18:44:14-07:00  0.184883
2018-05-30 18:45:14-07:00  0.000000
2018-05-30 18:46:14-07:00  0.096553
========
Action is by itself with action 1.500000 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 18:45:14-07:00   0   0  1.666667   1  73.516667  73.516667
2018-05-30 18:46:14-07:00   0   0  0.000000   9  73.090909  73.350000
2018-05-30 18:49:14-07:00   0   0  1.500000   1  73.400000  73.400000
2018-05-30 18:50:14-07:00   0   0  0.000000  11  73.025000  73.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 18:45:14-07:00  73.516667  73.516667  73.516667  85.999989
2018-05-30 18:46:14-07:00  73.100505  73.000000  73.350000  85.999989
2018-05-30 18:49:14-07:00  73.400000  73.400000  73.400000  85.999989
2018-05-30 18:50:14-07:00  72.808058  72.500000  73.100000  85.999989

                              t_std
time
2018-05-30 18:45:14-07:00  0.000000
2018-05-30 18:46:14-07:00  0.096553
2018-05-30 18:49:14-07:00  0.000000
2018-05-30 18:50:14-07:00  0.235199
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 19:04:14-07:00   0   0  1.833333   1  73.483333  73.483333
2018-05-30 19:05:14-07:00   0   0  0.000000  12  73.100000  73.100000
2018-05-30 19:06:14-07:00   0   0  1.333333   1  73.633333  73.633333
2018-05-30 19:07:14-07:00   0   0  0.000000  11  73.072727  73.166667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 19:04:14-07:00  73.483333  73.483333  73.483333  85.999989
2018-05-30 19:05:14-07:00  72.924495  72.800000  73.000000  83.249452
2018-05-30 19:06:14-07:00  73.633333  73.633333  73.633333  82.999403
2018-05-30 19:07:14-07:00  72.947521  72.800000  73.166667  82.999403

                              t_std
time
2018-05-30 19:04:14-07:00  0.000000
2018-05-30 19:05:14-07:00  0.101921
2018-05-30 19:06:14-07:00  0.000000
2018-05-30 19:07:14-07:00  0.117956

========
Action is by itself with action 1.833333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 19:06:14-07:00   0   0  1.333333   1  73.633333  73.633333
2018-05-30 19:07:14-07:00   0   0  0.000000  11  73.072727  73.166667
2018-05-30 19:08:14-07:00   0   0  1.833333   1  73.658333  73.658333
2018-05-30 19:09:14-07:00   0   0  0.000000   7  73.100000  73.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 19:06:14-07:00  73.633333  73.633333  73.633333  82.999403
2018-05-30 19:07:14-07:00  72.947521  72.800000  73.166667  82.999403
2018-05-30 19:08:14-07:00  73.658333  73.658333  73.658333  82.999403
2018-05-30 19:09:14-07:00  73.133333  73.100000  73.200000  82.999403

                              t_std
time
2018-05-30 19:06:14-07:00  0.000000
2018-05-30 19:07:14-07:00  0.117956
2018-05-30 19:08:14-07:00  0.000000
2018-05-30 19:09:14-07:00  0.043644
========
Action is by itself with action 0.181818 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 19:08:14-07:00   0   0  1.833333   1  73.658333  73.658333
2018-05-30 19:09:14-07:00   0   0  0.000000   7  73.100000  73.200000
2018-05-30 19:11:14-07:00   0   0  0.181818   1  73.236364  73.236364
2018-05-30 19:12:14-07:00   0   0  0.000000  11  72.833333  73.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 19:08:14-07:00  73.658333  73.658333  73.658333  82.999403
2018-05-30 19:09:14-07:00  73.133333  73.100000  73.200000  82.999403
2018-05-30 19:11:14-07:00  73.236364  73.236364  73.236364  82.999403
2018-05-30 19:12:14-07:00  72.832576  72.700000  73.000000  82.999403

                              t_std
time
2018-05-30 19:08:14-07:00  0.000000
2018-05-30 19:09:14-07:00  0.043644
2018-05-30 19:11:14-07:00  0.000000
2018-05-30 19:12:14-07:00  0.134861
========
Action is by itself with action 0.545455 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-30 19:12:14-07:00   0   0  0.000000  11  72.833333   73.0  72.832576
2018-05-30 19:13:14-07:00   0   0  0.000000   2  86.500000   86.5  86.500000
2018-05-30 19:15:14-07:00   0   0  0.545455   1  86.500000   86.5  86.500000
2018-05-30 19:15:14-07:00   0   0  0.000000   2  73.000000   73.0  73.000000

                           t_min  t_next      t_out     t_std
time
2018-05-30 19:12:14-07:00   72.7    73.0  82.999403  0.134861
2018-05-30 19:13:14-07:00   86.5    86.5  82.999403  0.000000
2018-05-30 19:15:14-07:00   86.5    86.5  82.999403  0.000000
2018-05-30 19:15:14-07:00   73.0    73.0  82.999403  0.000000
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 19:47:14-07:00   0   0  1.333333   1  73.266667  73.266667
2018-05-30 19:48:14-07:00   0   0  0.000000  11  73.050000  73.300000
2018-05-30 19:48:14-07:00   0   0  0.333333   1  73.183333  73.183333
2018-05-30 19:48:14-07:00   0   0  0.000000  10  73.172727  73.200000

                              t_mean      t_min     t_next      t_out    t_std
time
2018-05-30 19:47:14-07:00  73.266667  73.266667  73.266667  82.999403  0.00000
2018-05-30 19:48:14-07:00  72.978375  72.800000  73.300000  82.999403  0.13077
2018-05-30 19:48:14-07:00  73.183333  73.183333  73.183333  82.999403  0.00000
2018-05-30 19:48:14-07:00  73.083333  73.000000  73.200000  82.999403  0.08228
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 19:49:14-07:00   0   0  0.000000  13  73.016667  73.016667
2018-05-30 19:50:14-07:00   0   0  0.000000  15  85.900000  85.900000
2018-05-30 19:51:14-07:00   0   0  0.666667   1  73.300000  73.300000
2018-05-30 19:52:14-07:00   0   0  0.000000  13  72.909091  73.100000

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-30 19:49:14-07:00  72.855536   72.7    73.0  82.999403  0.130799
2018-05-30 19:50:14-07:00  85.884848   85.8    85.8  82.999403  0.033961
2018-05-30 19:51:14-07:00  73.300000   73.3    73.3  82.999403  0.000000
2018-05-30 19:52:14-07:00  72.787879   72.6    73.1  82.999403  0.201488
========
Action is by itself with action 0.833333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 20:08:14-07:00   0   0  0.000000  15  73.072727  73.072727
2018-05-30 20:09:14-07:00   0   0  0.000000  15  73.083333  73.083333
2018-05-30 20:11:14-07:00   0   0  0.833333   1  73.241667  73.241667
2018-05-30 20:12:14-07:00   0   0  0.000000  11  73.066667  73.300000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-30 20:08:14-07:00  72.835152  72.600000  73.000000   77.0  0.154344
2018-05-30 20:09:14-07:00  72.800707  72.600000  73.000000   77.0  0.172412
2018-05-30 20:11:14-07:00  73.241667  73.241667  73.241667   77.0  0.000000
2018-05-30 20:12:14-07:00  73.033609  72.800000  73.300000   77.0  0.149845
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 20:11:14-07:00   0   0  0.833333   1  73.241667  73.241667
2018-05-30 20:12:14-07:00   0   0  0.000000  11  73.066667  73.300000
2018-05-30 20:13:14-07:00   0   0  1.666667   1  73.350000  73.350000
2018-05-30 20:14:14-07:00   0   0  0.000000  15  73.100000  73.100000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-05-30 20:11:14-07:00  73.241667  73.241667  73.241667   77.0  0.000000
2018-05-30 20:12:14-07:00  73.033609  72.800000  73.300000   77.0  0.149845
2018-05-30 20:13:14-07:00  73.350000  73.350000  73.350000   77.0  0.000000
2018-05-30 20:14:14-07:00  72.692323  72.400000  73.000000   77.0  0.242754
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-30 20:17:14-07:00   0   0  0.000000   6  72.70  73.00  72.925000
2018-05-30 20:20:14-07:00   0   0  0.000000  15  85.70  85.70  85.577576
2018-05-30 20:23:14-07:00   0   0  0.166667   1  73.25  73.25  73.250000
2018-05-30 20:23:14-07:00   0   0  0.000000   2  73.20  73.40  73.300000

                           t_min  t_next  t_out     t_std
time
2018-05-30 20:17:14-07:00  72.70   73.00   77.0  0.114564
2018-05-30 20:20:14-07:00  85.40   85.40   77.0  0.120141
2018-05-30 20:23:14-07:00  73.25   73.25   77.0  0.000000
2018-05-30 20:23:14-07:00  73.20   73.40   77.0  0.100000
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 20:50:14-07:00   0   0  0.000000  15  85.200000  85.200000
2018-05-30 20:54:14-07:00   0   0  0.000000   3  73.300000  73.300000
2018-05-30 20:55:14-07:00   0   0  1.666667   1  71.516667  71.516667
2018-05-30 20:56:14-07:00   0   0  0.000000  13  70.066667  70.066667

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 20:50:14-07:00  85.057566  84.900000  84.900000  77.000000
2018-05-30 20:54:14-07:00  73.300000  73.300000  73.300000  77.000000
2018-05-30 20:55:14-07:00  71.516667  71.516667  71.516667  77.000000
2018-05-30 20:56:14-07:00  69.841026  69.700000  70.000000  75.846065

                              t_std
time
2018-05-30 20:50:14-07:00  0.104017
2018-05-30 20:54:14-07:00  0.000000
2018-05-30 20:55:14-07:00  0.000000
2018-05-30 20:56:14-07:00  0.132790
========
Action is by itself with action 0.909091 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 20:55:14-07:00   0   0  1.666667   1  71.516667  71.516667
2018-05-30 20:56:14-07:00   0   0  0.000000  13  70.066667  70.066667
2018-05-30 20:57:14-07:00   0   0  0.909091   1  73.472727  73.472727
2018-05-30 20:57:14-07:00   0   0  0.000000  15  72.100000  72.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 20:55:14-07:00  71.516667  71.516667  71.516667  77.000000
2018-05-30 20:56:14-07:00  69.841026  69.700000  70.000000  75.846065
2018-05-30 20:57:14-07:00  73.472727  73.472727  73.472727  77.000000
2018-05-30 20:57:14-07:00  71.778545  71.700000  71.700000  74.999847

                              t_std
time
2018-05-30 20:55:14-07:00  0.000000
2018-05-30 20:56:14-07:00  0.132790
2018-05-30 20:57:14-07:00  0.000000
2018-05-30 20:57:14-07:00  0.121288
========
Action is by itself with action 1.333333 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 21:16:14-07:00   0   0  0.000000   6  69.000000  69.000000
2018-05-30 21:17:14-07:00   0   0  0.000000  15  72.683333  73.300000
2018-05-30 21:17:14-07:00   0   0  1.333333   1  70.500000  70.500000
2018-05-30 21:18:14-07:00   0   0  0.000000  10  70.033333  70.033333

                              t_mean      t_min  t_next      t_out     t_std
time
2018-05-30 21:16:14-07:00  68.958333  68.900000    69.0  71.999617  0.044876
2018-05-30 21:17:14-07:00  73.040556  72.683333    73.3  71.999617  0.161442
2018-05-30 21:17:14-07:00  70.500000  70.500000    70.5  71.999617  0.000000
2018-05-30 21:18:14-07:00  69.927000  69.800000    70.0  71.999617  0.085146
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt   t_in      t_max     t_mean  \
time
2018-05-30 21:38:14-07:00   0   0  0.666667   1  69.30  69.300000  69.300000
2018-05-30 21:39:14-07:00   0   0  0.000000   6  69.06  69.166667  69.032222
2018-05-30 21:41:14-07:00   0   0  0.666667   1  73.20  73.200000  73.200000
2018-05-30 21:42:14-07:00   0   0  0.000000  15  72.90  72.916667  72.647778

                           t_min     t_next      t_out     t_std
time
2018-05-30 21:38:14-07:00   69.3  69.300000  71.999617  0.000000
2018-05-30 21:39:14-07:00   68.9  69.166667  71.999617  0.091927
2018-05-30 21:41:14-07:00   73.2  73.200000  71.999617  0.000000
2018-05-30 21:42:14-07:00   72.5  72.916667  71.999617  0.139293
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 21:48:14-07:00   0   0  0.000000  12  68.890000  69.181818
2018-05-30 21:50:14-07:00   0   0  0.000000  15  84.000000  84.000000
2018-05-30 21:52:14-07:00   0   0  0.666667   1  70.200000  70.200000
2018-05-30 21:53:14-07:00   0   0  0.000000  14  70.033333  70.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 21:48:14-07:00  68.935800  68.800000  69.181818  71.999617
2018-05-30 21:50:14-07:00  83.891010  83.733333  83.733333  71.999617
2018-05-30 21:52:14-07:00  70.200000  70.200000  70.200000  71.999617
2018-05-30 21:53:14-07:00  70.048918  69.900000  70.500000  71.856771

                              t_std
time
2018-05-30 21:48:14-07:00  0.108411
2018-05-30 21:50:14-07:00  0.085399
2018-05-30 21:52:14-07:00  0.000000
2018-05-30 21:53:14-07:00  0.198055
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 21:52:14-07:00   0   0  0.666667   1  70.200000  70.200000
2018-05-30 21:53:14-07:00   0   0  0.000000  14  70.033333  70.500000
2018-05-30 21:53:14-07:00   0   0  1.333333   1  70.366667  70.366667
2018-05-30 21:54:14-07:00   0   0  0.000000   9  70.100000  70.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 21:52:14-07:00  70.200000  70.200000  70.200000  71.999617
2018-05-30 21:53:14-07:00  70.048918  69.900000  70.500000  71.856771
2018-05-30 21:53:14-07:00  70.366667  70.366667  70.366667  71.999617
2018-05-30 21:54:14-07:00  69.987879  69.900000  70.000000  71.999617

                              t_std
time
2018-05-30 21:52:14-07:00  0.000000
2018-05-30 21:53:14-07:00  0.198055
2018-05-30 21:53:14-07:00  0.000000
2018-05-30 21:54:14-07:00  0.071582
========
Action is by itself with action 1.090909 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 22:17:14-07:00   0   1  2.000000   4  73.500000  73.500000
2018-05-30 22:20:14-07:00   0   0  0.000000  15  83.400000  83.400000
2018-05-30 22:21:14-07:00   0   0  1.090909   1  73.263636  73.263636
2018-05-30 22:22:14-07:00   0   0  0.000000  15  72.950000  72.950000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 22:17:14-07:00  73.463636  73.400000  73.400000  69.999775
2018-05-30 22:20:14-07:00  83.252131  83.100000  83.100000  69.999775
2018-05-30 22:21:14-07:00  73.263636  73.263636  73.263636  69.999775
2018-05-30 22:22:14-07:00  72.601667  72.500000  72.650000  69.999775

                              t_std
time
2018-05-30 22:17:14-07:00  0.041161
2018-05-30 22:20:14-07:00  0.093457
2018-05-30 22:21:14-07:00  0.000000
2018-05-30 22:22:14-07:00  0.124655
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 22:27:14-07:00   0   1  2.000000   6  70.600000  70.800000
2018-05-30 22:28:14-07:00   0   0  0.000000  15  69.100000  69.363636
2018-05-30 22:32:14-07:00   0   0  0.333333   1  70.166667  70.166667
2018-05-30 22:33:14-07:00   0   0  0.000000  15  70.016667  70.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 22:27:14-07:00  70.716667  70.600000  70.800000  69.999775
2018-05-30 22:28:14-07:00  68.936465  68.800000  69.363636  69.999775
2018-05-30 22:32:14-07:00  70.166667  70.166667  70.166667  69.999775
2018-05-30 22:33:14-07:00  69.965758  69.800000  70.400000  69.999775

                              t_std
time
2018-05-30 22:27:14-07:00  0.089753
2018-05-30 22:28:14-07:00  0.149012
2018-05-30 22:32:14-07:00  0.000000
2018-05-30 22:33:14-07:00  0.169035
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 22:32:14-07:00   0   0  0.333333   1  70.166667  70.166667
2018-05-30 22:33:14-07:00   0   0  0.000000  15  70.016667  70.400000
2018-05-30 22:33:14-07:00   0   0  0.666667   1  70.466667  70.466667
2018-05-30 22:34:14-07:00   0   0  0.000000  15  70.081818  70.250000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 22:32:14-07:00  70.166667  70.166667  70.166667  69.999775
2018-05-30 22:33:14-07:00  69.965758  69.800000  70.400000  69.999775
2018-05-30 22:33:14-07:00  70.466667  70.466667  70.466667  69.999775
2018-05-30 22:34:14-07:00  69.931010  69.800000  70.250000  69.999775

                              t_std
time
2018-05-30 22:32:14-07:00  0.000000
2018-05-30 22:33:14-07:00  0.169035
2018-05-30 22:33:14-07:00  0.000000
2018-05-30 22:34:14-07:00  0.125763
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt   t_in   t_max     t_mean  \
time
2018-05-30 22:49:14-07:00   0   1  2.000000   5  70.60  70.600  70.565455
2018-05-30 22:49:14-07:00   0   0  0.000000   1  70.50  70.500  70.500000
2018-05-30 22:49:14-07:00   0   0  0.166667   1  69.15  69.150  69.150000
2018-05-30 22:50:14-07:00   0   0  0.000000  15  68.90  69.325  69.052677

                           t_min  t_next      t_out     t_std
time
2018-05-30 22:49:14-07:00  70.50  70.500  69.999775  0.043179
2018-05-30 22:49:14-07:00  70.50  70.500  69.999775  0.000000
2018-05-30 22:49:14-07:00  69.15  69.150  69.999775  0.000000
2018-05-30 22:50:14-07:00  68.90  69.325  69.999775  0.134481
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 22:51:14-07:00   0   1  2.000000   5  70.600000  70.600000
2018-05-30 22:52:14-07:00   0   0  0.000000  15  73.150000  73.300000
2018-05-30 22:54:14-07:00   0   0  0.333333   1  70.166667  70.166667
2018-05-30 22:55:14-07:00   0   0  0.000000  15  70.009091  70.145455

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 22:51:14-07:00  70.568333  70.500000  70.500000  69.999775
2018-05-30 22:52:14-07:00  73.225152  73.150000  73.300000  69.933176
2018-05-30 22:54:14-07:00  70.166667  70.166667  70.166667  69.999775
2018-05-30 22:55:14-07:00  69.932525  69.800000  70.145455  69.733379

                              t_std
time
2018-05-30 22:51:14-07:00  0.040961
2018-05-30 22:52:14-07:00  0.047438
2018-05-30 22:54:14-07:00  0.000000
2018-05-30 22:55:14-07:00  0.089506

========
Action is by itself with action 0.181818 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 22:54:14-07:00   0   0  0.333333   1  70.166667  70.166667
2018-05-30 22:55:14-07:00   0   0  0.000000  15  70.009091  70.145455
2018-05-30 22:56:14-07:00   0   0  0.181818   1  70.136364  70.136364
2018-05-30 22:57:14-07:00   0   0  0.000000  14  70.008333  70.090909

                              t_mean      t_min     t_next      t_out  \
time
2018-05-30 22:54:14-07:00  70.166667  70.166667  70.166667  69.999775
2018-05-30 22:55:14-07:00  69.932525  69.800000  70.145455  69.733379
2018-05-30 22:56:14-07:00  70.136364  70.136364  70.136364  69.999775
2018-05-30 22:57:14-07:00  69.915963  69.800000  70.090909  69.642994

                              t_std
time
2018-05-30 22:54:14-07:00  0.000000
2018-05-30 22:55:14-07:00  0.089506
2018-05-30 22:56:14-07:00  0.000000
2018-05-30 22:57:14-07:00  0.097071
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt    t_in   t_max     t_mean  \
time
2018-05-30 23:05:14-07:00   0   0  0.000000   2  69.500  69.500  69.500000
2018-05-30 23:05:14-07:00   0   0  0.000000  15  82.200  82.200  81.997778
2018-05-30 23:07:14-07:00   0   0  1.333333   1  69.725  69.725  69.725000
2018-05-30 23:07:14-07:00   0   0  0.000000  15  73.300  73.350  73.303333

                            t_min  t_next      t_out     t_std
time
2018-05-30 23:05:14-07:00  69.500  69.500  69.500282  0.000000
2018-05-30 23:05:14-07:00  81.800  81.800  69.067388  0.135792
2018-05-30 23:07:14-07:00  69.725  69.725  69.000789  0.000000
2018-05-30 23:07:14-07:00  73.300  73.350  69.000789  0.012472
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-30 23:30:14-07:00   0   1  2.000000   2  69.736364  69.736364
2018-05-30 23:32:14-07:00   0   0  0.000000   5  70.400000  70.466667
2018-05-30 23:32:14-07:00   0   0  0.666667   1  69.300000  69.300000
2018-05-30 23:33:14-07:00   0   0  0.000000  15  70.400000  70.500000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-30 23:30:14-07:00  69.718182  69.700000  69.700000  69.0008  0.018182
2018-05-30 23:32:14-07:00  70.413333  70.400000  70.466667  69.0008  0.026667
2018-05-30 23:32:14-07:00  69.300000  69.300000  69.300000  69.0008  0.000000
2018-05-30 23:33:14-07:00  70.413889  70.108333  70.108333  69.0008  0.092093
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-30 23:38:14-07:00   0   1  2.000000   5  70.500000  70.50  70.466667
2018-05-30 23:42:14-07:00   0   0  0.000000  15  70.900000  70.90  70.521212
2018-05-30 23:43:14-07:00   0   0  1.666667   1  70.350000  70.35  70.350000
2018-05-30 23:44:14-07:00   0   0  0.000000  15  70.083333  70.30  70.089040

                           t_min     t_next    t_out     t_std
time
2018-05-30 23:38:14-07:00  70.40  70.400000  69.0008  0.042164
2018-05-30 23:42:14-07:00  70.30  70.533333  69.0008  0.238393
2018-05-30 23:43:14-07:00  70.35  70.350000  69.0008  0.000000
2018-05-30 23:44:14-07:00  69.90  70.300000  69.0008  0.147020
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 00:05:14-07:00   0   0  0.000000  15  68.854545  69.000000
2018-05-31 00:05:14-07:00   0   0  0.000000  15  80.400000  80.400000
2018-05-31 00:07:14-07:00   0   0  1.666667   1  70.433333  70.433333
2018-05-31 00:07:14-07:00   0   0  0.000000  15  73.400000  73.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-31 00:05:14-07:00  68.769192  68.600000  69.000000  68.066710
2018-05-31 00:05:14-07:00  80.291515  80.133333  80.133333  68.066710
2018-05-31 00:07:14-07:00  70.433333  70.433333  70.433333  67.999989
2018-05-31 00:07:14-07:00  73.416364  73.400000  73.500000  67.999989

                              t_std
time
2018-05-31 00:05:14-07:00  0.129853
2018-05-31 00:05:14-07:00  0.086833
2018-05-31 00:07:14-07:00  0.000000
2018-05-31 00:07:14-07:00  0.034689
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 00:07:14-07:00   0   0  1.666667   1  70.433333  70.433333
2018-05-31 00:07:14-07:00   0   0  0.000000  15  73.400000  73.500000
2018-05-31 00:07:14-07:00   0   0  0.333333   1  70.166667  70.166667
2018-05-31 00:08:14-07:00   0   0  0.000000  15  69.963636  70.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-31 00:07:14-07:00  70.433333  70.433333  70.433333  67.999989
2018-05-31 00:07:14-07:00  73.416364  73.400000  73.500000  67.999989
2018-05-31 00:07:14-07:00  70.166667  70.166667  70.166667  67.999989
2018-05-31 00:08:14-07:00  69.854747  69.700000  70.000000  67.999989

                              t_std
time
2018-05-31 00:07:14-07:00  0.000000
2018-05-31 00:07:14-07:00  0.034689
2018-05-31 00:07:14-07:00  0.000000
2018-05-31 00:08:14-07:00  0.107913
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 00:20:14-07:00   0   0  0.000000   3  69.000000  69.250000
2018-05-31 00:22:14-07:00   0   0  0.000000  15  73.500000  73.500000
2018-05-31 00:23:14-07:00   0   0  1.333333   1  69.566667  69.566667
2018-05-31 00:23:14-07:00   0   0  0.000000  15  70.000000  70.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-31 00:20:14-07:00  69.083333  69.000000  69.250000  67.999989
2018-05-31 00:22:14-07:00  73.416667  73.400000  73.400000  67.999989
2018-05-31 00:23:14-07:00  69.566667  69.566667  69.566667  67.999989
2018-05-31 00:23:14-07:00  70.367273  70.000000  70.400000  67.999989

                              t_std
time
2018-05-31 00:20:14-07:00  0.117851
2018-05-31 00:22:14-07:00  0.034960
2018-05-31 00:23:14-07:00  0.000000
2018-05-31 00:23:14-07:00  0.161255
========
Action is by itself with action 1.636364 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 00:37:14-07:00   0   0  0.000000  15  68.966667  69.000000
2018-05-31 00:37:14-07:00   0   0  0.000000  15  73.400000  73.400000
2018-05-31 00:38:14-07:00   0   0  1.636364   1  70.590909  70.590909
2018-05-31 00:38:14-07:00   0   0  0.000000  15  70.400000  70.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-31 00:37:14-07:00  68.767111  68.600000  69.000000  67.999989
2018-05-31 00:37:14-07:00  73.329091  73.300000  73.300000  67.999989
2018-05-31 00:38:14-07:00  70.590909  70.590909  70.590909  67.999989
2018-05-31 00:38:14-07:00  70.081364  69.900000  70.100000  67.999989

                              t_std
time
2018-05-31 00:37:14-07:00  0.154641
2018-05-31 00:37:14-07:00  0.043687
2018-05-31 00:38:14-07:00  0.000000
2018-05-31 00:38:14-07:00  0.171536
========
Action is by itself with action 1.500000 for data:
                           a1  a2  action  dt    t_in      t_max     t_mean  \
time
2018-05-31 01:12:14-07:00   0   0     0.0  15  70.100  70.550000  70.316061
2018-05-31 01:13:14-07:00   0   0     0.0   5  69.200  69.336364  69.227273
2018-05-31 01:18:14-07:00   0   0     1.5   2  69.575  69.575000  69.537500
2018-05-31 01:20:14-07:00   0   0     0.0  15  78.600  78.600000  78.454798

                           t_min     t_next      t_out     t_std
time
2018-05-31 01:12:14-07:00   70.1  70.550000  62.999617  0.162664
2018-05-31 01:13:14-07:00   69.2  69.336364  62.999617  0.054545
2018-05-31 01:18:14-07:00   69.5  69.500000  62.999617  0.037500
2018-05-31 01:20:14-07:00   78.4  78.400000  62.999617  0.065898
========
Action is by itself with action 1.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 01:24:14-07:00   0   1  2.000000   4  70.500000  70.600000
2018-05-31 01:27:14-07:00   0   0  0.000000  15  70.600000  70.600000
2018-05-31 01:28:14-07:00   0   0  1.333333   1  70.500000  70.500000
2018-05-31 01:29:14-07:00   0   0  0.000000  15  70.266667  70.266667

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-31 01:24:14-07:00  70.559091   70.5  70.600  62.999617  0.042882
2018-05-31 01:27:14-07:00  70.530000   70.3  70.300  62.999617  0.120830
2018-05-31 01:28:14-07:00  70.500000   70.5  70.500  62.999617  0.000000
2018-05-31 01:29:14-07:00  70.029444   70.0  70.175  62.999617  0.076912

========
Action is by itself with action 0.909091 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 01:56:14-07:00   0   0  0.000000  15  68.975000  69.200000
2018-05-31 01:57:14-07:00   0   0  0.000000  15  70.700000  70.700000
2018-05-31 01:59:14-07:00   0   0  0.909091   1  70.236364  70.236364
2018-05-31 02:00:14-07:00   0   0  0.000000  15  70.050000  70.050000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-31 01:56:14-07:00  68.936667  68.800000  69.200000  61.666407
2018-05-31 01:57:14-07:00  70.294556  70.000000  70.100000  61.399766
2018-05-31 01:59:14-07:00  70.236364  70.236364  70.236364  62.999617
2018-05-31 02:00:14-07:00  69.916667  69.800000  70.000000  60.599840

                              t_std
time
2018-05-31 01:56:14-07:00  0.115462
2018-05-31 01:57:14-07:00  0.280463
2018-05-31 01:59:14-07:00  0.000000
2018-05-31 02:00:14-07:00  0.079582
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-05-31 02:15:14-07:00   0   1  2.000000   1  69.500000  69.50  69.500000
2018-05-31 02:15:14-07:00   0   0  0.000000  15  70.120000  70.50  70.366222
2018-05-31 02:16:14-07:00   0   0  0.333333   1  69.200000  69.20  69.200000
2018-05-31 02:17:14-07:00   0   0  0.000000  11  69.016667  69.42  69.079848

                           t_min  t_next      t_out     t_std
time
2018-05-31 02:15:14-07:00  69.50   69.50  58.999989  0.000000
2018-05-31 02:15:14-07:00  70.12   70.50  58.999989  0.092134
2018-05-31 02:16:14-07:00  69.20   69.20  58.999989  0.000000
2018-05-31 02:17:14-07:00  68.90   69.42  58.999989  0.174571
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 02:30:14-07:00   0   0  0.000000  15  68.945455  69.000000
2018-05-31 02:30:14-07:00   0   0  0.000000  15  70.500000  70.500000
2018-05-31 02:32:14-07:00   0   0  1.666667   1  70.550000  70.550000
2018-05-31 02:33:14-07:00   0   0  0.000000  15  70.245455  70.245455

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-31 02:30:14-07:00  68.780606  68.60   69.00  58.999989  0.142481
2018-05-31 02:30:14-07:00  70.234242  70.00   70.10  58.999989  0.197232
2018-05-31 02:32:14-07:00  70.550000  70.55   70.55  58.999989  0.000000
2018-05-31 02:33:14-07:00  69.963586  69.90   70.00  58.999989  0.087722
========
Action is by itself with action 1.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 03:03:14-07:00   0   1  2.000000   4  70.500000  70.600000
2018-05-31 03:03:14-07:00   0   0  0.000000  15  70.400000  70.400000
2018-05-31 03:05:14-07:00   0   0  1.166667   1  69.533333  69.533333
2018-05-31 03:05:14-07:00   0   0  0.000000  15  76.400000  76.400000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-31 03:03:14-07:00  70.558333  70.500000  70.600000  58.500042
2018-05-31 03:03:14-07:00  70.247222  70.000000  70.000000  57.400158
2018-05-31 03:05:14-07:00  69.533333  69.533333  69.533333  58.999989
2018-05-31 03:05:14-07:00  76.232778  76.100000  76.100000  57.133519

                              t_std
time
2018-05-31 03:03:14-07:00  0.043301
2018-05-31 03:03:14-07:00  0.162095
2018-05-31 03:05:14-07:00  0.000000
2018-05-31 03:05:14-07:00  0.092319
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 03:48:14-07:00   0   1  2.000000   1  69.500000  69.500000
2018-05-31 03:48:14-07:00   0   0  0.000000  15  70.400000  70.400000
2018-05-31 03:49:14-07:00   0   0  0.666667   1  69.183333  69.183333
2018-05-31 03:50:14-07:00   0   0  0.000000  15  68.918182  69.200000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-31 03:48:14-07:00  69.500000  69.500000  69.500000  57.0002  0.000000
2018-05-31 03:48:14-07:00  70.367222  70.300000  70.400000  57.0002  0.043935
2018-05-31 03:49:14-07:00  69.183333  69.183333  69.183333  57.0002  0.000000
2018-05-31 03:50:14-07:00  69.000808  68.900000  69.200000  57.0002  0.111480
========
Action is by itself with action 0.833333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-31 04:27:14-07:00   0   0  0.000000   5  69.2   69.5  69.352727
2018-05-31 04:27:14-07:00   0   0  0.000000  15  70.5   70.5  70.481818
2018-05-31 04:32:14-07:00   0   0  0.833333   1  69.5   69.5  69.500000
2018-05-31 04:33:14-07:00   0   0  0.000000  15  70.5   70.5  70.397222

                           t_min     t_next    t_out     t_std
time
2018-05-31 04:27:14-07:00   69.2  69.500000  53.9996  0.134275
2018-05-31 04:27:14-07:00   70.4  70.400000  53.9996  0.036815
2018-05-31 04:32:14-07:00   69.5  69.500000  53.9996  0.000000
2018-05-31 04:33:14-07:00   70.3  70.366667  53.9996  0.075380
========
Action is by itself with action 1.818182 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 04:32:14-07:00   0   0  0.833333   1  69.500000  69.500000
2018-05-31 04:33:14-07:00   0   0  0.000000  15  70.500000  70.500000
2018-05-31 04:33:14-07:00   0   0  1.818182   1  69.463636  69.463636
2018-05-31 04:34:14-07:00   0   0  0.000000  15  69.045455  69.200000

                              t_mean      t_min     t_next    t_out     t_std
time
2018-05-31 04:32:14-07:00  69.500000  69.500000  69.500000  53.9996  0.000000
2018-05-31 04:33:14-07:00  70.397222  70.300000  70.366667  53.9996  0.075380
2018-05-31 04:33:14-07:00  69.463636  69.463636  69.463636  53.9996  0.000000
2018-05-31 04:34:14-07:00  68.956061  68.800000  69.200000  53.9996  0.110064
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-05-31 05:20:14-07:00   0   0  0.000000  15  73.3   73.3  73.065707
2018-05-31 05:22:14-07:00   0   0  0.000000  15  71.0   71.0  70.887525
2018-05-31 05:22:14-07:00   0   0  0.166667   1  69.5   69.5  69.500000
2018-05-31 05:23:14-07:00   0   0  0.000000  15  70.1   70.1  70.036667

                           t_min  t_next      t_out     t_std
time
2018-05-31 05:20:14-07:00   72.8    72.8  53.999617  0.154526
2018-05-31 05:22:14-07:00   70.8    70.8  53.999617  0.064486
2018-05-31 05:22:14-07:00   69.5    69.5  53.999617  0.000000
2018-05-31 05:23:14-07:00   70.0    70.0  53.999617  0.046428
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-05-31 05:22:14-07:00   0   0  0.166667   1  69.50  69.50  69.500000
2018-05-31 05:23:14-07:00   0   0  0.000000  15  70.10  70.10  70.036667
2018-05-31 05:23:14-07:00   0   0  1.666667   1  69.40  69.40  69.400000
2018-05-31 05:24:14-07:00   0   0  0.000000  15  69.05  69.05  68.844747

                           t_min  t_next      t_out     t_std
time
2018-05-31 05:22:14-07:00   69.5    69.5  53.999617  0.000000
2018-05-31 05:23:14-07:00   70.0    70.0  53.999617  0.046428
2018-05-31 05:23:14-07:00   69.4    69.4  53.999617  0.000000
2018-05-31 05:24:14-07:00   68.7    69.0  53.999617  0.123593
========
Action is by itself with action 1.333333 for data:

                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 11:57:14-07:00   0   1  2.000000   1  69.500000  69.500000
2018-05-31 11:57:14-07:00   0   0  0.000000  15  70.000000  70.500000
2018-05-31 11:58:14-07:00   0   0  1.333333   1  69.366667  69.366667
2018-05-31 11:59:14-07:00   0   0  0.000000  15  69.027273  69.550000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-31 11:57:14-07:00  69.500000  69.500000  69.500000  64.999400
2018-05-31 11:57:14-07:00  70.215758  70.000000  70.500000  66.599955
2018-05-31 11:58:14-07:00  69.366667  69.366667  69.366667  64.999400
2018-05-31 11:59:14-07:00  69.132929  68.900000  69.550000  67.133474

                              t_std
time
2018-05-31 11:57:14-07:00  0.000000
2018-05-31 11:57:14-07:00  0.163921
2018-05-31 11:58:14-07:00  0.000000
2018-05-31 11:59:14-07:00  0.221881
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 19:01:14-07:00   0   0  0.000000   3  68.333333  68.500000
2018-05-31 19:01:14-07:00   0   0  0.000000   7  68.100000  68.272727
2018-05-31 19:03:14-07:00   0   0  0.333333   1  68.316667  68.316667
2018-05-31 19:04:14-07:00   0   0  0.000000  15  67.954545  67.954545

                              t_mean      t_min     t_next      t_out  \
time
2018-05-31 19:01:14-07:00  68.444444  68.333333  68.500000  75.999189
2018-05-31 19:01:14-07:00  68.142857  68.100000  68.272727  75.999189
2018-05-31 19:03:14-07:00  68.316667  68.316667  68.316667  75.999189
2018-05-31 19:04:14-07:00  67.773333  67.600000  67.900000  75.999189

                              t_std
time
2018-05-31 19:01:14-07:00  0.078567
2018-05-31 19:01:14-07:00  0.062930
2018-05-31 19:03:14-07:00  0.000000
2018-05-31 19:04:14-07:00  0.122249
========
Action is by itself with action 0.909091 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 19:03:14-07:00   0   0  0.333333   1  68.316667  68.316667
2018-05-31 19:04:14-07:00   0   0  0.000000  15  67.954545  67.954545
2018-05-31 19:04:14-07:00   0   0  0.909091   1  68.545455  68.545455
2018-05-31 19:05:14-07:00   0   0  0.000000  15  78.900000  79.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-31 19:03:14-07:00  68.316667  68.316667  68.316667  75.999189
2018-05-31 19:04:14-07:00  67.773333  67.600000  67.900000  75.999189
2018-05-31 19:04:14-07:00  68.545455  68.545455  68.545455  75.999189
2018-05-31 19:05:14-07:00  78.981818  78.900000  79.000000  75.999189

                              t_std
time
2018-05-31 19:03:14-07:00  0.000000
2018-05-31 19:04:14-07:00  0.122249
2018-05-31 19:04:14-07:00  0.000000
2018-05-31 19:05:14-07:00  0.036815
========
Action is by itself with action 1.454545 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 19:05:14-07:00   0   1  2.000000   2  68.600000  68.600000
2018-05-31 19:07:14-07:00   0   0  0.000000  15  75.200000  75.200000
2018-05-31 19:07:14-07:00   0   0  1.454545   1  68.418182  68.418182
2018-05-31 19:08:14-07:00   0   0  0.000000   5  68.133333  68.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-31 19:05:14-07:00  68.591667  68.583333  68.583333  75.999189
2018-05-31 19:07:14-07:00  75.138333  75.100000  75.100000  75.799271
2018-05-31 19:07:14-07:00  68.418182  68.418182  68.418182  75.999189
2018-05-31 19:08:14-07:00  68.097576  68.000000  68.300000  75.999189

                              t_std
time
2018-05-31 19:05:14-07:00  0.008333
2018-05-31 19:07:14-07:00  0.047317
2018-05-31 19:07:14-07:00  0.000000
2018-05-31 19:08:14-07:00  0.112381
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 19:35:14-07:00   0   0  0.000000  15  79.000000  79.100000
2018-05-31 19:37:14-07:00   0   0  0.000000  15  75.066667  75.066667
2018-05-31 19:42:14-07:00   0   0  0.727273   1  68.236364  68.236364
2018-05-31 19:43:14-07:00   0   0  0.000000   5  68.133333  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-31 19:35:14-07:00  79.082424  79.000000  79.100000  73.000416
2018-05-31 19:37:14-07:00  75.004444  75.000000  75.000000  73.000416
2018-05-31 19:42:14-07:00  68.236364  68.236364  68.236364  73.000416
2018-05-31 19:43:14-07:00  68.158333  68.100000  68.200000  73.000416

                              t_std
time
2018-05-31 19:35:14-07:00  0.035978
2018-05-31 19:37:14-07:00  0.016630
2018-05-31 19:42:14-07:00  0.000000
2018-05-31 19:43:14-07:00  0.038730
========
Action is by itself with action 0.400000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-05-31 19:50:14-07:00   0   0     0.0  15  79.100000  79.100000
2018-05-31 19:52:14-07:00   0   0     0.0  15  75.000000  75.000000
2018-05-31 19:54:14-07:00   0   0     0.4   1  68.180000  68.180000
2018-05-31 19:55:14-07:00   0   0     0.0   9  68.033333  68.033333

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-31 19:50:14-07:00  79.051667  79.00   79.00  73.000416  0.045154
2018-05-31 19:52:14-07:00  74.952222  74.90   74.90  72.800374  0.049015
2018-05-31 19:54:14-07:00  68.180000  68.18   68.18  73.000416  0.000000
2018-05-31 19:55:14-07:00  67.965741  67.90   68.00  73.000416  0.047862
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 19:55:14-07:00   0   0  0.000000   9  68.033333  68.033333
2018-05-31 19:56:14-07:00   0   0  0.000000   9  68.100000  68.100000
2018-05-31 19:57:14-07:00   0   0  0.333333   1  68.200000  68.200000
2018-05-31 19:58:14-07:00   0   0  0.000000   5  68.118182  68.300000

                              t_mean  t_min  t_next      t_out     t_std
time
2018-05-31 19:55:14-07:00  67.965741   67.9    68.0  73.000416  0.047862
2018-05-31 19:56:14-07:00  67.974495   67.9    68.0  73.000416  0.060319
2018-05-31 19:57:14-07:00  68.200000   68.2    68.2  73.000416  0.000000
2018-05-31 19:58:14-07:00  68.150303   68.1    68.3  73.000416  0.075881
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 20:07:14-07:00   0   0  0.000000  15  74.900000  75.000000
2018-05-31 20:07:14-07:00   0   0  0.000000  15  67.945455  68.075000
2018-05-31 20:12:14-07:00   0   0  0.333333   1  68.200000  68.200000
2018-05-31 20:13:14-07:00   0   0  0.000000  12  68.000000  68.208333

                              t_mean  t_min     t_next      t_out     t_std
time
2018-05-31 20:07:14-07:00  74.953081   74.9  74.900000  69.999775  0.045183
2018-05-31 20:07:14-07:00  67.925253   67.8  68.075000  69.999775  0.077400
2018-05-31 20:12:14-07:00  68.200000   68.2  68.200000  69.999775  0.000000
2018-05-31 20:13:14-07:00  67.970833   67.9  68.208333  69.999775  0.084950
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-05-31 20:12:14-07:00   0   0  0.333333   1  68.200000  68.200000
2018-05-31 20:13:14-07:00   0   0  0.000000  12  68.000000  68.208333
2018-05-31 20:15:14-07:00   0   0  0.363636   1  68.190909  68.190909
2018-05-31 20:16:14-07:00   0   0  0.000000  15  67.850000  67.850000

                              t_mean      t_min     t_next      t_out  \
time
2018-05-31 20:12:14-07:00  68.200000  68.200000  68.200000  69.999775
2018-05-31 20:13:14-07:00  67.970833  67.900000  68.208333  69.999775
2018-05-31 20:15:14-07:00  68.190909  68.190909  68.190909  69.999775
2018-05-31 20:16:14-07:00  67.551616  67.400000  67.800000  69.999775

                              t_std
time
2018-05-31 20:12:14-07:00  0.000000
2018-05-31 20:13:14-07:00  0.084950
2018-05-31 20:15:14-07:00  0.000000

2018-05-31 20:16:14-07:00  0.150083
========
Action is by itself with action 0.750000 for data:
                           a1  a2  action  dt  t_in   t_max     t_mean  t_min  \
time
2018-06-01 06:03:14-07:00   0   0    0.00  15  67.2  67.525  67.311768   67.2
2018-06-01 06:05:14-07:00   0   0    0.00   2  68.0  68.000  68.000000   68.0
2018-06-01 06:07:14-07:00   0   0    0.75   1  68.0  68.000  68.000000   68.0
2018-06-01 06:07:14-07:00   0   0    0.00  15  69.0  69.000  68.915354   68.8

                           t_next      t_out     t_std
time
2018-06-01 06:03:14-07:00  67.525  54.600448  0.095343
2018-06-01 06:05:14-07:00  68.000  54.000496  0.000000
2018-06-01 06:07:14-07:00  68.000  55.000416  0.000000
2018-06-01 06:07:14-07:00  68.800  55.000416  0.074041
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-01 06:09:14-07:00   0   0  0.000000  15  67.100000  68.041667
2018-06-01 06:09:14-07:00   0   0  0.000000  15  67.900000  68.100000
2018-06-01 06:15:14-07:00   0   0  0.166667   1  68.416667  68.416667
2018-06-01 06:16:14-07:00   0   0  0.000000  15  68.572727  69.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-06-01 06:09:14-07:00  67.607424  67.100000  68.041667  55.000416
2018-06-01 06:09:14-07:00  67.978222  67.900000  68.100000  55.000416
2018-06-01 06:15:14-07:00  68.416667  68.416667  68.416667  55.000416
2018-06-01 06:16:14-07:00  68.877293  68.572727  68.900000  55.000416

                              t_std
time
2018-06-01 06:09:14-07:00  0.341270
2018-06-01 06:09:14-07:00  0.076998
2018-06-01 06:15:14-07:00  0.000000
2018-06-01 06:16:14-07:00  0.139097
========
Action is by itself with action 0.833333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-01 07:07:14-07:00   0   0  0.000000  15  68.900000  68.900000
2018-06-01 07:09:14-07:00   0   0  0.000000  15  68.166667  68.166667
2018-06-01 07:09:14-07:00   0   0  0.833333   1  68.241667  68.241667
2018-06-01 07:09:14-07:00   0   0  0.000000  15  68.300000  68.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-06-01 07:07:14-07:00  68.860000  68.800000  68.900000  55.000416
2018-06-01 07:09:14-07:00  68.022222  67.900000  68.000000  55.000416
2018-06-01 07:09:14-07:00  68.241667  68.241667  68.241667  55.000416
2018-06-01 07:09:14-07:00  67.855778  67.700000  67.800000  55.000416

                              t_std
time
2018-06-01 07:07:14-07:00  0.045866
2018-06-01 07:09:14-07:00  0.075686
2018-06-01 07:09:14-07:00  0.000000
2018-06-01 07:09:14-07:00  0.167467
========
Action is by itself with action 0.833333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-01 07:13:14-07:00   1   0  1.000000   6  68.000000  68.000000
2018-06-01 07:18:14-07:00   0   0  0.000000  15  67.700000  68.000000
2018-06-01 07:19:14-07:00   0   0  0.833333   1  68.083333  68.083333
2018-06-01 07:20:14-07:00   0   0  0.000000  15  68.500000  69.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-06-01 07:13:14-07:00  67.966667  67.900000  68.000000  55.000416
2018-06-01 07:18:14-07:00  67.842121  67.700000  68.000000  55.000416
2018-06-01 07:19:14-07:00  68.083333  68.083333  68.083333  55.000416
2018-06-01 07:20:14-07:00  68.882273  68.500000  68.958333  55.000416

                              t_std
time
2018-06-01 07:13:14-07:00  0.038490
2018-06-01 07:18:14-07:00  0.105945
2018-06-01 07:19:14-07:00  0.000000
2018-06-01 07:20:14-07:00  0.172832
========
Action is by itself with action 1.090909 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-01 18:45:14-07:00   0   1  2.000000  15  73.300000  73.300000
2018-06-01 18:49:14-07:00   0   0  0.000000  15  78.700000  79.000000
2018-06-01 18:49:14-07:00   0   0  1.090909   1  68.481818  68.481818
2018-06-01 18:50:14-07:00   0   0  0.000000   7  67.966667  68.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-06-01 18:45:14-07:00  71.985333  70.900000  70.900000  78.999775
2018-06-01 18:49:14-07:00  78.874545  78.700000  79.000000  78.999775
2018-06-01 18:49:14-07:00  68.481818  68.481818  68.481818  78.999775
2018-06-01 18:50:14-07:00  68.014286  67.900000  68.100000  78.999775

                              t_std
time
2018-06-01 18:45:14-07:00  0.759701
2018-06-01 18:49:14-07:00  0.095083
2018-06-01 18:49:14-07:00  0.000000
2018-06-01 18:50:14-07:00  0.085184
========
Action is by itself with action 0.500000 for data:
                           a1  a2  action  dt  t_in  t_max     t_mean  t_min  \
time
2018-06-01 19:33:14-07:00   0   1     2.0   3  68.6   68.6  68.583333  68.55
2018-06-01 19:34:14-07:00   0   0     0.0  15  79.6   79.7  79.662222  79.60
2018-06-01 19:36:14-07:00   0   0     0.5   1  68.2   68.2  68.200000  68.20
2018-06-01 19:37:14-07:00   0   0     0.0  15  75.4   75.4  75.400000  75.40

                           t_next      t_out         t_std
time
2018-06-01 19:33:14-07:00   68.55  78.999775  2.357023e-02
2018-06-01 19:34:14-07:00   79.70  78.999775  4.693047e-02
2018-06-01 19:36:14-07:00   68.20  78.999775  0.000000e+00
2018-06-01 19:37:14-07:00   75.40  78.999775  1.421085e-14
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-01 19:37:14-07:00   0   0  0.000000  15  75.400000  75.400000
2018-06-01 19:37:14-07:00   0   0  0.000000  11  67.954545  68.000000
2018-06-01 19:38:14-07:00   0   0  0.363636   1  68.218182  68.218182
2018-06-01 19:39:14-07:00   0   0  0.000000   8  68.116667  68.250000

                              t_mean      t_min     t_next      t_out  \
time
2018-06-01 19:37:14-07:00  75.400000  75.400000  75.400000  78.999775
2018-06-01 19:37:14-07:00  67.945455  67.900000  68.000000  78.999775
2018-06-01 19:38:14-07:00  68.218182  68.218182  68.218182  78.999775
2018-06-01 19:39:14-07:00  68.064583  68.000000  68.250000  78.999775

                                  t_std
time
2018-06-01 19:37:14-07:00  1.421085e-14
2018-06-01 19:37:14-07:00  4.503943e-02
2018-06-01 19:38:14-07:00  0.000000e+00
2018-06-01 19:39:14-07:00  8.309863e-02
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-01 19:52:14-07:00   0   0  0.000000  15  75.400000  75.400000
2018-06-01 19:52:14-07:00   0   0  0.000000  12  68.083333  68.083333
2018-06-01 19:54:14-07:00   0   0  0.363636   1  68.254545  68.254545
2018-06-01 19:55:14-07:00   0   0  0.000000   8  68.054545  68.100000

                              t_mean      t_min     t_next      t_out  \
time
2018-06-01 19:52:14-07:00  75.400000  75.400000  75.400000  78.866457
2018-06-01 19:52:14-07:00  67.904419  67.800000  68.000000  78.999775
2018-06-01 19:54:14-07:00  68.254545  68.254545  68.254545  78.999775
2018-06-01 19:55:14-07:00  68.046402  68.000000  68.100000  78.999775

                                  t_std
time
2018-06-01 19:52:14-07:00  1.421085e-14
2018-06-01 19:52:14-07:00  1.007765e-01
2018-06-01 19:54:14-07:00  0.000000e+00
2018-06-01 19:55:14-07:00  4.476072e-02
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-01 19:54:14-07:00   0   0  0.363636   1  68.254545  68.254545
2018-06-01 19:55:14-07:00   0   0  0.000000   8  68.054545  68.100000
2018-06-01 19:57:14-07:00   0   0  0.333333   1  68.216667  68.216667
2018-06-01 19:58:14-07:00   0   0  0.000000   6  68.116667  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-06-01 19:54:14-07:00  68.254545  68.254545  68.254545  78.999775
2018-06-01 19:55:14-07:00  68.046402  68.000000  68.100000  78.999775
2018-06-01 19:57:14-07:00  68.216667  68.216667  68.216667  78.999775
2018-06-01 19:58:14-07:00  68.139444  68.100000  68.200000  78.999775

                              t_std
time
2018-06-01 19:54:14-07:00  0.000000
2018-06-01 19:55:14-07:00  0.044761
2018-06-01 19:57:14-07:00  0.000000
2018-06-01 19:58:14-07:00  0.043479

========
Action is by itself with action 1.272727 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-01 20:05:14-07:00   0   1  2.000000   9  68.600000  68.800000
2018-06-01 20:07:14-07:00   0   0  0.000000  15  75.400000  75.400000
2018-06-01 20:08:14-07:00   0   0  1.272727   1  68.227273  68.227273
2018-06-01 20:09:14-07:00   0   0  0.000000  14  68.033333  68.033333

                              t_mean      t_min     t_next      t_out  \
time
2018-06-01 20:05:14-07:00  68.711111  68.600000  68.600000  77.222197
2018-06-01 20:07:14-07:00  75.351111  75.300000  75.300000  77.000000
2018-06-01 20:08:14-07:00  68.227273  68.227273  68.227273  77.000000
2018-06-01 20:09:14-07:00  67.459968  62.058333  68.000000  77.000000

                              t_std
time
2018-06-01 20:05:14-07:00  0.088889
2018-06-01 20:07:14-07:00  0.045832
2018-06-01 20:08:14-07:00  0.000000
2018-06-01 20:09:14-07:00  1.502520
========
Action is by itself with action 1.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-01 20:12:14-07:00   0   0  0.000000  10  68.100000  68.100000
2018-06-01 20:14:14-07:00   0   0  0.000000   9  68.100000  68.100000
2018-06-01 20:15:14-07:00   0   0  1.166667   1  68.416667  68.416667
2018-06-01 20:16:14-07:00   0   0  0.000000   4  68.166667  68.166667

                              t_mean      t_min     t_next  t_out     t_std
time
2018-06-01 20:12:14-07:00  67.981061  67.900000  68.000000   77.0  0.057525
2018-06-01 20:14:14-07:00  68.014815  67.900000  68.100000   77.0  0.081817
2018-06-01 20:15:14-07:00  68.416667  68.416667  68.416667   77.0  0.000000
2018-06-01 20:16:14-07:00  68.116667  68.100000  68.100000   77.0  0.028868
========
Action is by itself with action 0.166667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-01 20:24:14-07:00   0   1  2.000000   9  68.700000  68.800000
2018-06-01 20:26:14-07:00   0   0  0.000000  15  68.100000  68.100000
2018-06-01 20:31:14-07:00   0   0  0.166667   1  68.241667  68.241667
2018-06-01 20:32:14-07:00   0   0  0.000000   9  68.100000  68.100000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-06-01 20:24:14-07:00  68.714141  68.600000  68.600000   77.0  0.087524
2018-06-01 20:26:14-07:00  67.833636  67.700000  68.000000   77.0  0.128477
2018-06-01 20:31:14-07:00  68.241667  68.241667  68.241667   77.0  0.000000
2018-06-01 20:32:14-07:00  67.994949  67.900000  68.000000   77.0  0.055523
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-01 20:31:14-07:00   0   0  0.166667   1  68.241667  68.241667
2018-06-01 20:32:14-07:00   0   0  0.000000   9  68.100000  68.100000
2018-06-01 20:33:14-07:00   0   0  0.727273   1  68.281818  68.281818
2018-06-01 20:34:14-07:00   0   0  0.000000   8  68.033333  68.033333

                              t_mean      t_min     t_next  t_out     t_std
time
2018-06-01 20:31:14-07:00  68.241667  68.241667  68.241667   77.0  0.000000
2018-06-01 20:32:14-07:00  67.994949  67.900000  68.000000   77.0  0.055523
2018-06-01 20:33:14-07:00  68.281818  68.281818  68.281818   77.0  0.000000
2018-06-01 20:34:14-07:00  67.979735  67.900000  68.000000   77.0  0.039357
========
Action is by itself with action 1.400000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-06-01 20:52:14-07:00   0   0     0.0   9  68.100000  68.100000
2018-06-01 20:52:14-07:00   0   0     0.0  15  75.200000  75.200000
2018-06-01 20:54:14-07:00   0   0     1.4   1  68.450000  68.450000
2018-06-01 20:55:14-07:00   0   0     0.0   4  68.166667  68.166667

                              t_mean  t_min  t_next      t_out     t_std
time
2018-06-01 20:52:14-07:00  68.005836  67.90   68.00  77.000000  0.058821
2018-06-01 20:52:14-07:00  75.164747  75.10   75.20  76.733361  0.044996
2018-06-01 20:54:14-07:00  68.450000  68.45   68.45  77.000000  0.000000
2018-06-01 20:55:14-07:00  68.116667  68.10   68.10  77.000000  0.028868
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-01 21:04:14-07:00   0   0  0.000000  15  79.600000  79.600000
2018-06-01 21:07:14-07:00   0   0  0.000000  15  75.200000  75.200000
2018-06-01 21:08:14-07:00   0   0  1.666667   1  68.516667  68.516667
2018-06-01 21:09:14-07:00   0   0  0.000000  10  68.090909  68.166667

                              t_mean      t_min     t_next      t_out  \
time
2018-06-01 21:04:14-07:00  79.584444  79.500000  79.500000  73.533694
2018-06-01 21:07:14-07:00  75.143990  75.100000  75.100000  73.000416
2018-06-01 21:08:14-07:00  68.516667  68.516667  68.516667  73.000416
2018-06-01 21:09:14-07:00  68.005152  67.900000  68.166667  73.000416

                              t_std
time
2018-06-01 21:04:14-07:00  0.034138
2018-06-01 21:07:14-07:00  0.045734
2018-06-01 21:08:14-07:00  0.000000
2018-06-01 21:09:14-07:00  0.072234
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-01 21:08:14-07:00   0   0  1.666667   1  68.516667  68.516667
2018-06-01 21:09:14-07:00   0   0  0.000000  10  68.090909  68.166667
2018-06-01 21:11:14-07:00   0   0  1.666667   1  68.600000  68.600000
2018-06-01 21:12:14-07:00   0   0  0.000000   9  68.100000  68.200000

                              t_mean      t_min     t_next      t_out  \
time
2018-06-01 21:08:14-07:00  68.516667  68.516667  68.516667  73.000416
2018-06-01 21:09:14-07:00  68.005152  67.900000  68.166667  73.000416
2018-06-01 21:11:14-07:00  68.600000  68.600000  68.600000  73.000416
2018-06-01 21:12:14-07:00  68.071044  68.000000  68.200000  73.000416

                              t_std
time
2018-06-01 21:08:14-07:00  0.000000
2018-06-01 21:09:14-07:00  0.072234
2018-06-01 21:11:14-07:00  0.000000
2018-06-01 21:12:14-07:00  0.077681
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-01 21:15:14-07:00   1   0  1.000000   1  68.400000  68.400000
2018-06-01 21:16:14-07:00   0   0  0.000000   4  68.200000  68.300000
2018-06-01 21:19:14-07:00   0   0  1.666667   1  68.583333  68.583333
2018-06-01 21:19:14-07:00   0   0  0.000000  15  79.500000  79.600000

                              t_mean      t_min     t_next      t_out  \
time
2018-06-01 21:15:14-07:00  68.400000  68.400000  68.400000  73.000416
2018-06-01 21:16:14-07:00  68.231250  68.200000  68.300000  73.000416
2018-06-01 21:19:14-07:00  68.583333  68.583333  68.583333  73.000416
2018-06-01 21:19:14-07:00  79.541111  79.500000  79.600000  73.000416

                              t_std
time
2018-06-01 21:15:14-07:00  0.000000
2018-06-01 21:16:14-07:00  0.040984
2018-06-01 21:19:14-07:00  0.000000
2018-06-01 21:19:14-07:00  0.045079
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-06-01 21:22:14-07:00   0   1  2.000000   7  68.600000  68.80  68.716667
2018-06-01 21:23:14-07:00   0   0  0.000000  15  67.950000  68.00  67.796667
2018-06-01 21:26:14-07:00   0   0  1.666667   1  68.450000  68.45  68.450000
2018-06-01 21:27:14-07:00   0   0  0.000000  15  68.166667  68.35  68.018081

                           t_min  t_next      t_out     t_std
time
2018-06-01 21:22:14-07:00  68.55   68.55  73.000416  0.101183
2018-06-01 21:23:14-07:00  67.70   68.00  73.000416  0.088443
2018-06-01 21:26:14-07:00  68.45   68.45  73.000416  0.000000
2018-06-01 21:27:14-07:00  67.90   68.35  73.000416  0.128437

========
Action is by itself with action 0.454545 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-02 16:14:14-07:00   0   0  0.909091   1  80.209091  80.209091
2018-06-02 16:15:14-07:00   0   0  0.000000  15  80.300000  81.400000
2018-06-02 16:20:14-07:00   0   0  0.454545   1  80.163636  80.163636
2018-06-02 16:21:14-07:00   0   0  0.000000  15  80.300000  81.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-06-02 16:14:14-07:00  80.209091  80.209091  80.209091  87.999800
2018-06-02 16:15:14-07:00  80.965303  80.300000  81.400000  88.600298
2018-06-02 16:20:14-07:00  80.163636  80.163636  80.163636  87.999800
2018-06-02 16:21:14-07:00  81.029091  80.300000  81.500000  89.000630

                              t_std
time
2018-06-02 16:14:14-07:00  0.000000
2018-06-02 16:15:14-07:00  0.403702
2018-06-02 16:20:14-07:00  0.000000
2018-06-02 16:21:14-07:00  0.428901
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-02 16:23:14-07:00   1   0  1.000000  14  78.850000  80.000000
2018-06-02 16:24:14-07:00   0   0  0.000000  15  80.500000  81.400000
2018-06-02 16:28:14-07:00   0   0  0.727273   1  80.081818  80.081818
2018-06-02 16:29:14-07:00   0   0  0.000000  15  80.300000  81.145455

                              t_mean      t_min     t_next     t_out     t_std
time
2018-06-02 16:23:14-07:00  79.349675  78.850000  80.000000  89.00063  0.356755
2018-06-02 16:24:14-07:00  81.039091  80.500000  81.400000  89.00063  0.287938
2018-06-02 16:28:14-07:00  80.081818  80.081818  80.081818  89.00063  0.000000
2018-06-02 16:29:14-07:00  80.806667  80.300000  81.145455  89.00063  0.279363
========
Action is by itself with action 0.454545 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-02 16:31:14-07:00   0   0  0.000000  15  80.300000  80.800000
2018-06-02 16:36:14-07:00   0   0  0.000000  15  81.572727  82.050000
2018-06-02 16:37:14-07:00   0   0  0.454545   1  80.163636  80.163636
2018-06-02 16:38:14-07:00   0   0  0.000000  15  80.300000  80.700000

                              t_mean      t_min     t_next     t_out     t_std
time
2018-06-02 16:31:14-07:00  80.548485  80.300000  80.800000  89.00063  0.167650
2018-06-02 16:36:14-07:00  81.830960  81.572727  82.050000  89.00063  0.144494
2018-06-02 16:37:14-07:00  80.163636  80.163636  80.163636  89.00063  0.000000
2018-06-02 16:38:14-07:00  80.601465  80.300000  80.700000  89.00063  0.134652
========
Action is by itself with action 0.583333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-02 19:12:14-07:00   0   0  0.666667   1  80.266667  80.266667
2018-06-02 19:13:14-07:00   0   0  0.000000  15  80.400000  82.100000
2018-06-02 19:16:14-07:00   0   0  0.583333   1  80.241667  80.241667
2018-06-02 19:16:14-07:00   0   0  0.000000  15  82.400000  82.783333

                              t_mean      t_min     t_next      t_out  \
time
2018-06-02 19:12:14-07:00  80.266667  80.266667  80.266667  89.999617
2018-06-02 19:13:14-07:00  81.371061  80.400000  82.100000  89.999617
2018-06-02 19:16:14-07:00  80.241667  80.241667  80.241667  89.999617
2018-06-02 19:16:14-07:00  82.545152  82.400000  82.783333  89.999617

                              t_std
time
2018-06-02 19:12:14-07:00  0.000000
2018-06-02 19:13:14-07:00  0.593763
2018-06-02 19:16:14-07:00  0.000000
2018-06-02 19:16:14-07:00  0.131512
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-02 23:14:14-07:00   0   0  0.000000  15  80.300000  80.300000
2018-06-02 23:27:14-07:00   0   0  0.000000  15  82.200000  82.200000
2018-06-02 23:28:14-07:00   0   0  0.666667   2  69.833333  69.833333
2018-06-02 23:29:14-07:00   0   0  0.000000  15  80.800000  80.800000

                              t_mean      t_min     t_next    t_out  \
time
2018-06-02 23:14:14-07:00  80.300000  80.300000  80.300000  82.9994
2018-06-02 23:27:14-07:00  82.200000  82.200000  82.200000  82.9994
2018-06-02 23:28:14-07:00  69.783333  69.733333  69.733333  82.9994
2018-06-02 23:29:14-07:00  80.712222  80.700000  80.700000  82.9994

                                  t_std
time
2018-06-02 23:14:14-07:00  1.421085e-14
2018-06-02 23:27:14-07:00  1.421085e-14
2018-06-02 23:28:14-07:00  5.000000e-02
2018-06-02 23:29:14-07:00  3.130890e-02
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-06-03 04:20:14-07:00   0   0  0.000000  15  80.3   80.3  79.945455
2018-06-03 04:22:14-07:00   0   0  0.000000  15  78.4   78.8  78.468889
2018-06-03 04:28:14-07:00   0   0  0.333333   1  79.4   79.4  79.400000
2018-06-03 04:29:14-07:00   0   0  0.000000  15  79.3   79.3  79.113333

                               t_min     t_next  t_out     t_std
time
2018-06-03 04:20:14-07:00  79.733333  79.733333   32.0  0.177725
2018-06-03 04:22:14-07:00  78.400000  78.800000   32.0  0.106435
2018-06-03 04:28:14-07:00  79.400000  79.400000   32.0  0.000000
2018-06-03 04:29:14-07:00  78.900000  78.900000   32.0  0.158605
========
Action is by itself with action 1.666667 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-06-03 05:50:14-07:00   0   0  0.000000  15  78.000000   78.0  77.887879
2018-06-03 05:52:14-07:00   0   0  0.000000  15  77.600000   77.6  77.481414
2018-06-03 05:58:14-07:00   0   0  1.666667   1  74.500000   74.5  74.500000
2018-06-03 05:59:14-07:00   0   0  0.000000  15  76.272727   76.7  76.282626

                           t_min  t_next  t_out     t_std
time
2018-06-03 05:50:14-07:00   77.8    77.8   32.0  0.073306
2018-06-03 05:52:14-07:00   77.3    77.3   32.0  0.099634
2018-06-03 05:58:14-07:00   74.5    74.5   32.0  0.000000
2018-06-03 05:59:14-07:00   76.2    76.7   32.0  0.128696
========
Action is by itself with action 0.090909 for data:
                           a1  a2    action  dt       t_in  t_max     t_mean  \
time
2018-06-03 05:58:14-07:00   0   0  1.666667   1  74.500000   74.5  74.500000
2018-06-03 05:59:14-07:00   0   0  0.000000  15  76.272727   76.7  76.282626
2018-06-03 05:59:14-07:00   0   0  0.090909   1  74.400000   74.4  74.400000
2018-06-03 05:59:14-07:00   0   0  0.000000  15  76.100000   76.3  76.098111

                           t_min  t_next  t_out     t_std
time
2018-06-03 05:58:14-07:00   74.5    74.5   32.0  0.000000
2018-06-03 05:59:14-07:00   76.2    76.7   32.0  0.128696
2018-06-03 05:59:14-07:00   74.4    74.4   32.0  0.000000
2018-06-03 05:59:14-07:00   76.0    76.3   32.0  0.093244
========
Action is by itself with action 0.833333 for data:
                           a1  a2    action  dt   t_in  t_max     t_mean  \
time
2018-06-03 06:59:14-07:00   0   0  0.000000  15  79.10  79.50  79.357525
2018-06-03 06:59:14-07:00   0   0  0.000000  15  79.00  79.30  79.158889
2018-06-03 06:59:14-07:00   0   0  0.833333   1  80.05  80.05  80.050000
2018-06-03 06:59:14-07:00   0   0  0.000000  15  79.10  79.40  79.323333

                           t_min  t_next  t_out     t_std
time
2018-06-03 06:59:14-07:00  79.10   79.40   32.0  0.152736
2018-06-03 06:59:14-07:00  79.00   79.30   32.0  0.123658
2018-06-03 06:59:14-07:00  80.05   80.05   32.0  0.000000
2018-06-03 06:59:14-07:00  79.10   79.40   32.0  0.127628
========
Action is by itself with action 0.333333 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-03 07:15:14-07:00   0   0  0.000000   6  80.366667  80.366667
2018-06-03 07:20:14-07:00   0   0  0.000000  15  77.100000  77.100000
2018-06-03 07:21:14-07:00   0   0  0.333333   1  80.000000  80.000000
2018-06-03 07:22:14-07:00   0   0  0.000000  15  77.000000  77.600000

                              t_mean      t_min     t_next  t_out     t_std
time
2018-06-03 07:15:14-07:00  80.216667  80.133333  80.133333   32.0  0.071362
2018-06-03 07:20:14-07:00  77.066465  77.000000  77.100000   32.0  0.043892
2018-06-03 07:21:14-07:00  80.000000  80.000000  80.000000   32.0  0.000000
2018-06-03 07:22:14-07:00  77.344697  77.000000  77.500000   32.0  0.224095
========
Action is by itself with action 0.333333 for data:

                           a1  a2    action  dt    t_in  t_max     t_mean  \
time
2018-06-03 09:07:14-07:00   0   0  0.000000  15  78.425   78.7  78.571818
2018-06-03 09:14:14-07:00   0   0  0.000000  15  74.300   75.0  74.408636
2018-06-03 09:14:14-07:00   0   0  0.333333   1  68.800   68.8  68.800000
2018-06-03 09:14:14-07:00   0   0  0.000000  15  74.900   75.5  74.951667

                            t_min  t_next      t_out     t_std
time
2018-06-03 09:07:14-07:00  78.425    78.7  87.000789  0.083698
2018-06-03 09:14:14-07:00  74.200    75.0  87.000789  0.255038
2018-06-03 09:14:14-07:00  68.800    68.8  87.000789  0.000000
2018-06-03 09:14:14-07:00  74.800    75.5  87.000789  0.178165
========
Action is by itself with action 1.272727 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-03 10:50:14-07:00   0   0  0.000000  15  78.100000  78.400000
2018-06-03 10:52:14-07:00   0   0  0.000000  15  80.300000  80.500000
2018-06-03 10:59:14-07:00   0   0  1.272727   1  79.636364  79.636364
2018-06-03 10:59:14-07:00   0   0  0.000000  15  80.500000  80.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-06-03 10:50:14-07:00  78.231919  78.100000  78.400000  89.999617
2018-06-03 10:52:14-07:00  80.416869  80.300000  80.500000  90.066337
2018-06-03 10:59:14-07:00  79.636364  79.636364  79.636364  89.999617
2018-06-03 10:59:14-07:00  80.226111  79.741667  79.741667  90.533376

                              t_std
time
2018-06-03 10:50:14-07:00  0.109180
2018-06-03 10:52:14-07:00  0.077485
2018-06-03 10:59:14-07:00  0.000000
2018-06-03 10:59:14-07:00  0.313299
========
Action is by itself with action 0.666667 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-03 12:20:14-07:00   0   0  0.000000  15  79.800000  80.000000
2018-06-03 12:22:14-07:00   0   0  0.000000  15  81.500000  81.700000
2018-06-03 12:29:14-07:00   0   0  0.666667   1  74.433333  74.433333
2018-06-03 12:29:14-07:00   0   0  0.000000  15  76.200000  77.000000

                              t_mean      t_min     t_next      t_out  \
time
2018-06-03 12:20:14-07:00  79.873333  79.800000  80.000000  94.999989
2018-06-03 12:22:14-07:00  81.604444  81.500000  81.700000  94.999989
2018-06-03 12:29:14-07:00  74.433333  74.433333  74.433333  94.999989
2018-06-03 12:29:14-07:00  76.544444  76.200000  77.000000  94.999989

                              t_std
time
2018-06-03 12:20:14-07:00  0.060185
2018-06-03 12:22:14-07:00  0.070833
2018-06-03 12:29:14-07:00  0.000000
2018-06-03 12:29:14-07:00  0.336357
========
Action is by itself with action 0.636364 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-06-03 12:29:14-07:00   0   0  0.000000  15  76.2   77.0  76.544444
2018-06-03 12:29:14-07:00   0   0  0.000000  15  75.9   76.6  76.099091
2018-06-03 12:30:14-07:00   0   0  0.636364   1  74.4   74.4  74.400000
2018-06-03 12:31:14-07:00   0   0  0.000000  15  76.6   77.1  76.783030

                           t_min  t_next      t_out     t_std
time
2018-06-03 12:29:14-07:00   76.2    77.0  94.999989  0.336357
2018-06-03 12:29:14-07:00   75.9    76.6  94.999989  0.205558
2018-06-03 12:30:14-07:00   74.4    74.4  94.999989  0.000000
2018-06-03 12:31:14-07:00   76.6    77.1  94.999989  0.204868
========
Action is by itself with action 0.636364 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-03 13:16:14-07:00   1   0  1.000000   3  80.000000  80.000000
2018-06-03 13:16:14-07:00   0   0  0.000000  15  80.000000  80.740000
2018-06-03 13:19:14-07:00   0   0  0.636364   1  80.145455  80.145455
2018-06-03 13:20:14-07:00   0   0  0.000000  15  80.900000  81.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-06-03 13:16:14-07:00  80.000000  80.000000  80.000000  96.999775
2018-06-03 13:16:14-07:00  80.382667  80.000000  80.740000  96.999775
2018-06-03 13:19:14-07:00  80.145455  80.145455  80.145455  96.999775
2018-06-03 13:20:14-07:00  81.155758  80.900000  81.300000  96.999775

                              t_std
time
2018-06-03 13:16:14-07:00  0.000000
2018-06-03 13:16:14-07:00  0.284147
2018-06-03 13:19:14-07:00  0.000000
2018-06-03 13:20:14-07:00  0.112619
========
Action is by itself with action 0.727273 for data:
                           a1  a2    action  dt  t_in  t_max     t_mean  \
time
2018-06-03 14:05:14-07:00   0   0  0.000000  15  82.0   82.3  82.165859
2018-06-03 14:07:14-07:00   0   0  0.000000  15  83.2   83.4  83.256667
2018-06-03 14:14:14-07:00   0   0  0.727273   1  81.3   81.3  81.300000
2018-06-03 14:14:14-07:00   0   0  0.000000  15  81.7   81.7  81.445253

                           t_min  t_next      t_out     t_std
time
2018-06-03 14:05:14-07:00   82.0    82.3  98.866294  0.092646
2018-06-03 14:07:14-07:00   83.2    83.4  98.999617  0.062227
2018-06-03 14:14:14-07:00   81.3    81.3  98.999617  0.000000
2018-06-03 14:14:14-07:00   80.7    80.7  98.999617  0.355175
========
Action is by itself with action 0.363636 for data:
                           a1  a2    action  dt       t_in      t_max  \
time
2018-06-03 16:01:14-07:00   1   0  1.000000   3  79.300000  80.000000
2018-06-03 16:01:14-07:00   0   0  0.000000  15  80.200000  81.600000
2018-06-03 16:04:14-07:00   0   0  0.363636   1  80.190909  80.190909
2018-06-03 16:05:14-07:00   0   0  0.000000  15  80.600000  81.500000

                              t_mean      t_min     t_next      t_out  \
time
2018-06-03 16:01:14-07:00  79.591667  79.300000  80.000000  98.999617
2018-06-03 16:01:14-07:00  80.976333  80.200000  81.600000  98.999617
2018-06-03 16:04:14-07:00  80.190909  80.190909  80.190909  98.999617
2018-06-03 16:05:14-07:00  81.111313  80.600000  81.500000  98.999617

                              t_std
time
2018-06-03 16:01:14-07:00  0.297443
2018-06-03 16:01:14-07:00  0.513460
2018-06-03 16:04:14-07:00  0.000000
2018-06-03 16:05:14-07:00  0.318478
========
Action is by itself with action 0.500000 for data:
                           a1  a2  action  dt       t_in      t_max  \
time
2018-06-03 21:27:14-07:00   0   0     0.0  11  76.650000  77.000000
2018-06-03 21:30:14-07:00   0   0     0.0   8  82.100000  82.400000
2018-06-03 21:30:14-07:00   0   0     0.5   1  79.333333  79.333333
2018-06-03 21:30:14-07:00   0   0     0.0   8  77.050000  77.300000

                              t_mean      t_min     t_next      t_out  \
time
2018-06-03 21:27:14-07:00  76.847727  76.650000  77.000000  89.999617
2018-06-03 21:30:14-07:00  82.217614  82.100000  82.400000  89.999617
2018-06-03 21:30:14-07:00  79.333333  79.333333  79.333333  89.999617
2018-06-03 21:30:14-07:00  77.156250  77.050000  77.300000  89.999617

                              t_std
time
2018-06-03 21:27:14-07:00  0.148651
2018-06-03 21:30:14-07:00  0.085354
2018-06-03 21:30:14-07:00  0.000000
2018-06-03 21:30:14-07:00  0.091643

KeyboardInterrupt:

In [71]:
# data = concat_zone_data(zone_thermal_data)
# print(data[(data["t_max"] == data["t_min"]) & (data["action"] != 0)])
# print(data.groupby("action").count().iloc[:])


zone = "HVAC_Zone_AC-3"
# print(building_thermal_data.groupby("action").count())
data = zone_thermal_data[zone]
f_data = data[(data["action"]>0.331)&(data["action"]<0.334)]
idx = f_data.index[20]
print("============")
print(zone)
print(idx)
print()
# print(data.loc[idx - datetime.timedelta(hours=1):idx + datetime.timedelta(hours=1)])

for i in range(1,len(data.index)-1):
    curr = data["action"][i]
    prev = data["action"][i-1]
    next_a = data["action"][i+1]
    if curr not in [0,1,2] and prev == 0 and next_a == 0:
        print("========")
        print(i)
        print(curr)
print(data.iloc[5659:5663])

# print(building_thermal_data[(building_thermal_data["action"]>1.636)&(building_thermal_data["action"]<1.637)])
# print(data[(0 < data["action"]) & (data['action'] <= 1)])


# inside_data = get_data(building=bldg)

============
HVAC_Zone_AC-3
2018-05-09 13:15:14-07:00
()
========
1317
1.6666666666666667
========
1340
1.6666666666666667
========
1349
1.6666666666666667
========
1673
1.6666666666666667
========
1675
1.6666666666666667
========
4380
1.5
========
5661
0.2222222222222222
                             action  dt       t_in      t_max     t_mean  \
time
2018-06-08 19:17:14-07:00  1.176471   1  68.023529  68.023529  68.023529
2018-06-08 19:18:14-07:00  0.000000  14  68.164706  69.400000  68.700359
2018-06-08 19:32:14-07:00  0.222222   1  69.400000  69.400000  69.400000
2018-06-08 19:33:14-07:00  0.000000   2  69.400000  69.400000  69.400000

                               t_min     t_next      t_out     t_std  \
time
2018-06-08 19:17:14-07:00  68.023529  68.023529  80.000636  0.000000
2018-06-08 19:18:14-07:00  68.100000  69.400000  80.000636  0.388499
2018-06-08 19:32:14-07:00  69.400000  69.400000  80.000636  0.000000
2018-06-08 19:33:14-07:00  69.400000  69.400000  80.000636  0.000000

                           zone_temperature_HVAC_Zone_AC-1  \
time
2018-06-08 19:17:14-07:00                        69.500000
2018-06-08 19:18:14-07:00                        69.344911
2018-06-08 19:32:14-07:00                        69.100000
2018-06-08 19:33:14-07:00                        69.100000

                           zone_temperature_HVAC_Zone_AC-2  \
time
2018-06-08 19:17:14-07:00                        70.433333
2018-06-08 19:18:14-07:00                        70.029762
2018-06-08 19:32:14-07:00                        69.900000
2018-06-08 19:33:14-07:00                        69.900000

                           zone_temperature_HVAC_Zone_AC-4  \
time
2018-06-08 19:17:14-07:00                        70.833333
2018-06-08 19:18:14-07:00                        70.664286
2018-06-08 19:32:14-07:00                        70.700000
2018-06-08 19:33:14-07:00                        70.677778

                           zone_temperature_HVAC_Zone_AC-5  \
time
2018-06-08 19:17:14-07:00                        82.533333
2018-06-08 19:18:14-07:00                        82.700794
2018-06-08 19:32:14-07:00                        82.900000
2018-06-08 19:33:14-07:00                        82.900000

                           zone_temperature_HVAC_Zone_AC-6  a1  a2
time
2018-06-08 19:17:14-07:00                        78.400000   0   0
2018-06-08 19:18:14-07:00                        78.416667   0   0
2018-06-08 19:32:14-07:00                        78.500000   0   0
2018-06-08 19:33:14-07:00                        78.500000   0   0

In [39]:
c_inside_data = concat_zone_data(inside_data)
c_inside_data.groupby("a").count()

            t_in
a
0.000000  355767
0.055556       1
0.083333      11
0.090909       4
0.111111      41
0.117647      35
0.125000      10
0.166667     103
0.181818      85
0.200000       3
0.222222      46
0.235294      55
0.250000       4
0.266667       1
0.272727       1
0.277778       3
0.294118       1
0.333333     690
0.352941      56
0.363636      93
0.375000      16
0.400000      54
0.411765       1
0.416667       2
0.444444      28
0.454545       3
0.470588      37
0.500000     128
0.529412       1
0.538462       1
...          ...
1.272727      81
1.294118      41
1.333333     641
1.375000       3
1.400000       2
1.411765      38
1.444444      40
1.454545      68
1.500000      90
1.529412      31
1.555556      44
1.600000      57
1.625000      13
1.636364      89
1.647059      40
1.666667     631
1.750000       5
1.764706      37
1.777778      45
1.800000       3
1.818182      87
1.833333      79
1.846154       2
1.857143       1
1.866667       2
1.875000       9
1.882353      40
1.888889      47
1.894737       2
2.000000   52025

[98 rows x 1 columns]

In [99]:

building = "avenal-animal-shelter"
# zone = "HVAC_Zone_AC-2"
thermal_data = get_data(building=building)
zone = thermal_data.keys()[0]

zone_data = thermal_data[zone]

filtered_zone_data = zone_data[zone_data["dt"] == 15]

heating_thermal_data = {}
# for zone, zone_data in thermal_data.items():
#     # change following to action we want
#     heating_thermal_data[zone] = zone_data
# #     heating_thermal_data[zone] = zone_data[(zone_data["a1"]==0) & (zone_data["a2"]==0)]
# #     heating_thermal_data[zone] = zone_data[zone_data["a1"] == 1]
    
print("--- not filtered ---")
evaluate_zone_data(zone_data)
print("--- filtered ---")
evaluate_zone_data(filtered_zone_data)

f_n = filtered_zone_data[(filtered_zone_data["a1"]==0) & (filtered_zone_data["a2"]==0)]
n = zone_data[(zone_data["a1"]==0) & (zone_data["a2"]==0)]
print("+++++++++++++++")
print("not filtered: ", np.sqrt(np.mean(np.square(n["t_next"] - n["t_in"]))))
print("filtered: ", np.sqrt(np.mean(np.square(f_n["t_next"] - f_n["t_in"]))))
print("+++++++++++++++")






print("++++++++ Standard Model ++++++++")
get_building_scores(ThermalModel, thermal_data={zone: zone_data}, test_on_training=True)
print("---- Filtered Data ----")
get_building_scores(ThermalModel, thermal_data={zone: filtered_zone_data}, test_on_training=True)
# check_consistency_for_cfg(thermal_data=heating_thermal_data)

print("++++++++ Average Model ++++++++")
get_building_scores(AverageThermalModel, thermal_data={zone: zone_data}, test_on_training=True)
print("---- Filtered Data ----")
get_building_scores(AverageThermalModel, thermal_data={zone: filtered_zone_data}, test_on_training=True)
# check_consistency_for_cfg(thermal_data=heating_thermal_data)



print("---- zone action %s ------" % zone)
zone_evaluate_action(thermal_data[zone])

# [0.4345687  0.25142704 0.26405015]

----- Get data for Building: avenal-animal-shelter -----
--- not filtered ---
------------------
We have 5320.000000 total data points.
We have 4657.000000 no action data points, which is 87.537594 percent of total.
We have 195.000000 heating data points, which is 3.665414 percent of total.
We have 468.000000 cooling data points, which is 8.796992 percent of total.
------------------
No Action No Change data:
    percent_no_change   total  total_no_change
dt
1          100.000000   912.0            912.0
2           10.256410    39.0              4.0
3           21.052632    19.0              4.0
4           40.000000    10.0              4.0
5           25.000000     4.0              1.0
6           11.111111     9.0              1.0
7            6.666667    15.0              1.0
8            9.523810    21.0              2.0
9           11.764706    17.0              2.0
10          15.384615    13.0              2.0
11           0.000000    18.0              0.0
12           0.000000    20.0              0.0
13           8.333333    12.0              1.0
14           7.692308    13.0              1.0
15          30.297030  3535.0           1071.0

Heating No Change data:
    percent_no_change  total  total_no_change
dt
1          100.000000   49.0             49.0
2            0.000000    3.0              0.0
3            0.000000    1.0              0.0
4            0.000000    2.0              0.0
5            0.000000    2.0              0.0
7            0.000000    3.0              0.0
8            0.000000    5.0              0.0
10           0.000000    1.0              0.0
12          33.333333    3.0              1.0
13           0.000000    2.0              0.0
15          14.516129  124.0             18.0

Cooling No Change data:
    percent_no_change  total  total_no_change
dt
1          100.000000  188.0            188.0
2            8.695652   23.0              2.0
3            0.000000   13.0              0.0
4            0.000000    7.0              0.0
5           20.000000    5.0              1.0
6            0.000000    4.0              0.0
7            0.000000   11.0              0.0
8            0.000000    5.0              0.0
9            0.000000   16.0              0.0
10           0.000000   12.0              0.0
11           0.000000   14.0              0.0
12           6.250000   16.0              1.0
13           0.000000    9.0              0.0
14           0.000000   13.0              0.0
15           4.545455  132.0              6.0

--- filtered ---
------------------
We have 3791.000000 total data points.
We have 3535.000000 no action data points, which is 93.247164 percent of total.
We have 124.000000 heating data points, which is 3.270905 percent of total.
We have 132.000000 cooling data points, which is 3.481931 percent of total.
------------------
No Action No Change data:
    percent_no_change   total  total_no_change
dt
15           30.29703  3535.0           1071.0

Heating No Change data:
    percent_no_change  total  total_no_change
dt
15          14.516129  124.0             18.0

Cooling No Change data:
    percent_no_change  total  total_no_change
dt
15           4.545455  132.0              6.0

+++++++++++++++
('not filtered: ', 0.20692822387575543)
('filtered: ', 0.23205165854484616)
+++++++++++++++
++++++++ Standard Model ++++++++
--------- Scoring Zone: HVAC_Zone_Shelter_Corridor ---------
'ScoreType List: '
[-1, 0, 1, 2]

'Better than baseline: '
[True, True, True, True]

Model and Baseline Error:
                 mean      rmse       std
Model    -1 -0.000606  0.324505  0.324504
          0  0.000606  0.206545  0.206544
          1 -0.009717  0.274422  0.274250
          2 -0.008869  0.860900  0.860855
Baseline -1 -0.003335  0.329361  0.329344
          0 -0.000188  0.206928  0.206928
          1 -0.221386  0.373637  0.300986
          2  0.056205  0.865376  0.863549

---- Filtered Data ----
--------- Scoring Zone: HVAC_Zone_Shelter_Corridor ---------
'ScoreType List: '
[-1, 0, 1, 2]

'Better than baseline: '
[True, True, True, True]

Model and Baseline Error:
                     mean      rmse       std
Model    -1  1.152068e-07  0.373900  0.373900
          0  1.524627e-03  0.231612  0.231607
          1 -5.806852e-03  0.329225  0.329174
          2 -3.537174e-02  1.573732  1.573334
Baseline -1 -6.294878e-03  0.378442  0.378390
          0  2.378085e-03  0.232052  0.232039
          1 -2.973876e-01  0.446934  0.333632
          2  3.489129e-02  1.575908  1.575521

++++++++ Average Model ++++++++
--------- Scoring Zone: HVAC_Zone_Shelter_Corridor ---------
'ScoreType List: '
[-1, 0, 1, 2]

'Better than baseline: '
[True, True, True, True]

Model and Baseline Error:
                     mean      rmse       std
Model    -1 -4.945751e-15  0.326197  0.326197
          0 -5.202815e-15  0.206928  0.206928
          1  2.040533e-15  0.300986  0.300986
          2 -5.298705e-15  0.863549  0.863549
Baseline -1 -3.334973e-03  0.329361  0.329344
          0 -1.880603e-04  0.206928  0.206928
          1 -2.213859e-01  0.373637  0.300986
          2  5.620513e-02  0.865376  0.863549

---- Filtered Data ----
--------- Scoring Zone: HVAC_Zone_Shelter_Corridor ---------
'ScoreType List: '
[-1, 0, 1, 2]

'Better than baseline: '
[True, True, True, True]

Model and Baseline Error:
                     mean      rmse       std
Model    -1 -5.838408e-15  0.374537  0.374537
          0 -6.265238e-15  0.232039  0.232039
          1 -1.260640e-15  0.333632  0.333632
          2  1.291896e-15  1.575521  1.575521
Baseline -1 -6.294878e-03  0.378442  0.378390
          0  2.378085e-03  0.232052  0.232039
          1 -2.973876e-01  0.446934  0.333632
          2  3.489129e-02  1.575908  1.575521

---- zone action HVAC_Zone_Shelter_Corridor ------
For cooling there was an average -0.004876254397860238 degree change.
For heating there was an average 0.01893940316215296 degree change.
For no action there was an average 6.702505248045286e-05 degree change.
For all actions there was an average 0.00032391583229750086 degree change.

In [53]:
# Going through all config files

import os
# Go to folder where all config files are located
config_folder_location = "../Buildings/"
all_dir = os.walk(config_folder_location).next()
for d in all_dir[1]:
    print("============================================================================")
    print("============================================================================")
    end_dir = config_folder_location + d + "/"

    files = os.walk(end_dir).next()[2]
    print("in dir: ", end_dir)
    for f in files:
        if ".yml" not in f:
            print("%s is not a yaml file. Continue to next file." % f)
            continue
        print("Getting file %s" % f)
        # Loads the configs
        with open("./" + end_dir + "/" + f, 'r') as o:
            config = yaml.load(o)
        
        # Do whatever check on config
        building = config["Building"]
        
        zone_thermal_data = get_data(building=building)
        
        
        
        
        filtered_thermal_data = {}
        for zone, data in zone_thermal_data.items():
            filtered_thermal_data[zone] = data[data["dt"] != 1]
            
        buidling_thermal_data = concat_zone_data(filtered_thermal_data)


        
#         print("================== Scores for Building: %s ==================" % building)      
#         get_scores_for_days(thermal_data=thermal_data)

#         print("================== Evaluate data for Buidling: %s ==================" % building)
#         for zone, zone_data in thermal_data.items():
#             print("---------- Evaluating data for zone %s ----------" % zone)
#             evaluate_zone_data(zone_data)
            
        th = AverageThermalModel().fit(buidling_thermal_data, buidling_thermal_data["t_next"])
        
        print("================== Consistency check for Building: %s ==================" % building)   
        check_consistency_building(thermal_data=filtered_thermal_data, thermal_model=th)


        
#         print("================== Get averages for Building: %s ==================" % building)        
#         evaluate_action_impact(thermal_data=thermal_data)

============================================================================
============================================================================
('in dir: ', '../Buildings/ciee/')
.DS_Store is not a yaml file. Continue to next file.
Getting file ciee.yml
----- Get data for Building: ciee -----
================== Consistency check for Building: ciee ==================
--------- Consistency check for zone HVAC_Zone_Eastzone ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_Southzone ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_Centralzone ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_Northzone ---------
The thermal model is consistent.
============================================================================
============================================================================
('in dir: ', '../Buildings/avenal-recreation-center/')
Getting file avenal-recreation-center.yml
----- Get data for Building: avenal-recreation-center -----
================== Consistency check for Building: avenal-recreation-center ==================
--------- Consistency check for zone HVAC_Zone_Large_Room ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_Tech_Center ---------
The thermal model is consistent.
============================================================================
============================================================================
('in dir: ', '../Buildings/north-berkeley-senior-center/')
Getting file north-berkeley-senior-center.yml
----- Get data for Building: north-berkeley-senior-center -----
================== Consistency check for Building: north-berkeley-senior-center ==================
--------- Consistency check for zone HVAC_Zone_AC-5 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_AC-3 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_AC-1 ---------
The thermal model is consistent.
============================================================================
============================================================================
('in dir: ', '../Buildings/avenal-public-works-yard/')
Getting file avenal-public-works-yard.yml
----- Get data for Building: avenal-public-works-yard -----
================== Consistency check for Building: avenal-public-works-yard ==================
--------- Consistency check for zone HVAC_Zone_Public_Works ---------
The thermal model is consistent.
============================================================================
============================================================================
('in dir: ', '../Buildings/orinda-community-center/')
Getting file orinda-community-center.yml
----- Get data for Building: orinda-community-center -----
================== Consistency check for Building: orinda-community-center ==================
--------- Consistency check for zone HVAC_Zone_RM2 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_RM1 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_RM6 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_RM7 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_AC-8 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_AC-7 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_AC-6 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_AC-5 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_AC-4 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_AC-3 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_AC-2 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_AC-1 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_Kinder_GYM ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_FRONT_OFFICE ---------
The thermal model is consistent.
============================================================================
============================================================================
('in dir: ', '../Buildings/avenal-animal-shelter/')
Getting file avenal-animal-shelter.yml
----- Get data for Building: avenal-animal-shelter -----
================== Consistency check for Building: avenal-animal-shelter ==================
--------- Consistency check for zone HVAC_Zone_Shelter_Corridor ---------
The thermal model is consistent.
============================================================================
============================================================================
('in dir: ', '../Buildings/.ipynb_checkpoints/')
Changing config comfortband-checkpoint.ipynb is not a yaml file. Continue to next file.
============================================================================
============================================================================
('in dir: ', '../Buildings/avenal-movie-theatre/')
Getting file avenal-movie-theatre.yml
----- Get data for Building: avenal-movie-theatre -----
================== Consistency check for Building: avenal-movie-theatre ==================
--------- Consistency check for zone HVAC_Zone_Room_A ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_Main_Hallway ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_Theater_1 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_Pegasus_Hall ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_Room_D ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_Lobby ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_Back_Hallway ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_Theater_2 ---------
The thermal model is consistent.
============================================================================
============================================================================
('in dir: ', '../Buildings/avenal-veterans-hall/')
.DS_Store is not a yaml file. Continue to next file.
Getting file avenal-veterans-hall.yml
----- Get data for Building: avenal-veterans-hall -----
================== Consistency check for Building: avenal-veterans-hall ==================
--------- Consistency check for zone HVAC_Zone_AC-6 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_AC-5 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_AC-4 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_AC-3 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_AC-2 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_AC-1 ---------
The thermal model is consistent.
============================================================================
============================================================================
('in dir: ', '../Buildings/south-berkeley-senior-center/')
Getting file south-berkeley-senior-center.yml
----- Get data for Building: south-berkeley-senior-center -----
================== Consistency check for Building: south-berkeley-senior-center ==================
--------- Consistency check for zone HVAC_Zone_AC-3 ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_Front_Office ---------
The thermal model is consistent.
--------- Consistency check for zone HVAC_Zone_AC-2 ---------
The thermal model is consistent.

In [13]:
a = np.array([(1.0,), (1.0,), (1.0,), (1.0000000149011612,), (-2.911192977506083e-05,), (-2.9111929341259272e-05,), (-2.9234661707105666e-05,), (-2.911192977506083e-05,), (-2.911192977506083e-05,), (-2.911192977506083e-05,), (-2.911192977506083e-05,)])
import matplotlib.pyplot as plt
plt.plot(a)
plt.show()

In [ ]:
thermal_model_zones = {zone: ThermalModel().fit(X=data, y=data["t_next"]) for zone, data in thermal_data.items()}

In [ ]:
def getBestHorizon(data):
    """Finds the best stretch of data, i.e. with most actions which are either heating or cooling. Gives
    preference to cooling.
    returns: best data slice"""
    horizon = datetime.timedelta(hours=3)
    start = datetime.datetime(year=2018, month=3, day=9, hour=8, minute=15)

    good_dates = []
    delta_minutes = datetime.timedelta(minutes=15)
    for row in data.itertuples():
        start = row[0]
        if sum(data.loc[start:start+horizon]["action"]) > 0:
            good_dates.append((start, sum(data.loc[start:start+horizon]["action"])))
    good_dates.sort(key=lambda x: x[1])
    new_start = good_dates[-1][0]
    return data.loc[new_start:new_start+horizon]

In [ ]:
trivial_predictions = {zone: np.ones(data.shape[0]) * data["t_in"][0] for zone, data in thermal_data.items()} # we predict the first temperature for the whole horizon

In [ ]:
def constantZonePredictions(data, thermal_model):
    zone_temp_filter = data.columns[["zone_temperature_" in col for col in data.columns]]
    constant_zone_temperatures = data[zone_temp_filter].iloc[0] # get the first row for constant zone temperatures. 

    constant_zone_predictions = [data.iloc[0]["t_in"]]
    for row in data.iterrows():
        # constant zone temperature predictions
        row_data = row[1] # work with the row data
        row_data["t_in"] = constant_zone_predictions[-1] # assign last prediction
        row_data[constant_zone_temperatures.index] = constant_zone_temperatures.values
        constant_zone_predictions.append(thermal_model.predict(row_data))
    return constant_zone_predictions

def perfectZonePredictions(data, thermal_model):
    perfect_zone_predictions = [data.iloc[0]["t_in"]]
    for row in data.iterrows():
        row_data = row[1] # work with the row data
        # assume we know the zone temperatures perfectly
        row_data["t_in"] = perfect_zone_predictions[-1] # assign last prediction
        perfect_zone_predictions.append(thermal_model.predict(row_data))
    return perfect_zone_predictions

In [ ]:
southzone_best_data = getBestHorizon(thermal_data["HVAC_Zone_Southzone"]) # use some interval
start = southzone_best_data.index[0]
end = southzone_best_data.index[-1]
bestData = {zone: data[start:end] for zone, data in thermal_data.items()}
rename_col = {zone: "zone_temperature_" + zone for zone in thermal_data.keys()}
for zone in thermal_data.keys():
    for zone1 in thermal_data.keys():
        ti = "zone_temperature_" + zone1
        if ti not in southzone_best_data.columns and zone != zone1:
            bestData[zone] = southzone_best_data.rename({"t_in" : ti, "zone_temperature_"+ zone: "t_in"}, axis='columns')

In [ ]:
print(bestData)

In [ ]:
# bestData = {zone: southzone_best_data for zone, data in thermal_data.items()}

# iteration evaluation
# start by assuming that we only know current zone temperatures. Find predictions for each zone that way
last_prediction_data = {zone: constantZonePredictions(data, thermal_model_zones[zone]) for zone, data in bestData.items()}
print(last_prediction_data)
for _ in range(1):
    temp_prediction_data = {}
    for zone, data in bestData.items():
        for prediction_zone, prediction in last_prediction_data.items():
            if prediction_zone != zone:
                data.loc[:,"zone_temperature_" + prediction_zone] = prediction[:-1] # TODO NOTE we predict one more than the data we have. 
        print(data)
        temp_prediction_data[zone] = perfectZonePredictions(data, thermal_model_zones[zone])
    last_prediction_data = temp_prediction_data
        
print(last_prediction_data)

In [ ]:
d = getBestHorizon(thermal_data["HVAC_Zone_Southzone"])
print(constantZonePredictions(d, thermal_model_zones["HVAC_Zone_Southzone"]))

print(trivial_prediction)
print(constant_zone_predictions)
print(perfect_zone_predictions)

In [ ]:
trivial_error = []
constant_error = []
perfect_error = []

dt = data["dt"]
t_in = data["t_in"]
for i in range(1,len(t_in)):
    trivial_error.append(thermal_model._normalizedRMSE_STD(trivial_prediction[:i], t_in[:i], dt[:i]))
    constant_error.append(thermal_model._normalizedRMSE_STD(constant_zone_predictions[:i], t_in[:i], dt[:i]))
    perfect_error.append(thermal_model._normalizedRMSE_STD(perfect_zone_predictions[:i], t_in[:i], dt[:i]))

In [ ]:
diff = constant_zone_predictions[:-1] - t_in[:]
print(np.square(diff))

plt.plot(trivial_error)
plt.show()

print(constant_error)
plt.plot(constant_error)
plt.show()

plt.plot(perfect_error)
plt.show()

In [ ]:
np.array(constant_error)[:, 1]

$$T_{in} + dt * ( a_1*c_1 + a_2*c_2 + (T_{out} - T_{in})*c_3 + c_4 + \sum_{i = 0}^N (T_{zone_i} - T_{in}) * c_{5+i})$$

In [130]:
a = np.array([[1,2,3], [5432,31, 2]])

In [133]:
np.mean(a, axis=0)

array([2.7165e+03, 1.6500e+01, 2.5000e+00])